<div class="left-sidebar">
	<!-- 用户信息 -->
	<div class="tpl-sidebar-user-panel">
		<div class="tpl-user-panel-slide-toggleable">
			<div class="tpl-user-panel-profile-picture">
				<%= image_tag 'shared/portrait.png', rel: '头像' %>
			</div>
			<span class="user-panel-logged-in-text">
        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
        <%= @login_user.name %>
      </span>
		</div>
	</div>

	<!-- 菜单 -->
	<ul class="sidebar-nav">
		<li class="sidebar-nav-heading"> <span class="sidebar-nav-heading-info"> 用户功能列表</span></li>

		<li class="sidebar-nav-link">
			<%= link_to administration_v1_dashboard_path('~'), class: options[:list_item]=='dashboard' ? 'active' : '' do  %>
        <i class="am-icon-home sidebar-nav-link-logo"></i> 控制面板
			<% end %>
		</li>

    <% if ['sys_admin', 'user_admin'].include?(@login_user.role_code) %>
		<li class="sidebar-nav-link">
			<a href="javascript:;" class="sidebar-nav-sub-title">
				<i class="am-icon-newspaper-o sidebar-nav-link-logo"></i> 新闻中心
				<span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
			</a>
			<ul class="sidebar-nav sidebar-nav-sub" <% if ['new_new', 'new_index'].include? options[:list_item] %>style="display: block;"<% end %>>
				<li class="sidebar-nav-link">
					<%= link_to administration_v1_new_index_path, class: options[:list_item]=='new_index' ? 'active' : '' do %>
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 列表
					<% end %>
				</li>
			</ul>
		</li>

    <li class="sidebar-nav-link">
      <a href="javascript:;" class="sidebar-nav-sub-title">
        <i class="am-icon-graduation-cap sidebar-nav-link-logo"></i> 继续教育
        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
      </a>
      <ul class="sidebar-nav sidebar-nav-sub" <% if ['con_education_article_index'].include? options[:list_item] %>style="display: block;"<% end %>>
        <li class="sidebar-nav-link">
          <%= link_to administration_v1_con_educations_path, class: options[:list_item]=='con_education_article_index' ? 'active' : '' do %>
            <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 列表
          <% end %>
        </li>
      </ul>
    </li>

    <li class="sidebar-nav-link">
      <%= link_to administration_v1_comments_path, class: ['comment_index', 'comment_edit', 'comment_show'].include?(options[:list_item]) ? 'active' : '' do  %>
        <i class="am-icon-pencil-square-o sidebar-nav-link-logo"></i> 评论审核
      <% end %>
    </li>
    <% end %>

    <% if ['sys_admin', 'user_admin'].include? @login_user.role_code %>
		<li class="sidebar-nav-link">
			<a href="javascript:;" class="sidebar-nav-sub-title">
				<i class="am-icon-users sidebar-nav-link-logo"></i> 用户管理
				<span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
			</a>
			<ul class="sidebar-nav sidebar-nav-sub" <% if ['user_new', 'user_index', 'user_scheduling', 'user_leave', 'password_update'].include? options[:list_item] %>style="display: block;"<% end %>>

				<li class="sidebar-nav-link">
					<%= link_to administration_v1_users_path, class: options[:list_item]=='user_index' ? 'active' : '' do %>
							<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增用户
					<% end %>
				</li>

        <li class="sidebar-nav-link">
          <%= link_to new_administration_v1_scheduling_path(function: 'all_user', day: 'monday'), class: options[:list_item]=='user_scheduling' ? 'active' : '' do %>
              <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 专家排班
          <% end %>
        </li>

        <li class="sidebar-nav-link">
          <%= link_to new_administration_v1_leaving_path(function: 'all_user'), class: options[:list_item]=='user_leave' ? 'active' : '' do %>
              <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 专家停诊
          <% end %>
        </li>

				<% unless ShareEnum.roles.first.first=='sys_admin' %>
					<li class="sidebar-nav-link">
						<%= link_to edit_administration_v1_password_path(@login_user.id), class: options[:list_item]=='password_update' ? 'active' : '' do %>
								<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 修改密码
						<% end %>
					</li>
				<% end %>

			</ul>
		</li>
    <% end %>


    <% if ['sys_admin', 'user_admin'].include? @login_user.role_code %>
		<li class="sidebar-nav-link">
			<a href="javascript:;" class="sidebar-nav-sub-title">
				<i class="sidebar-nav-link-logo am-icon-hospital-o"></i>科室管理
				<span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
			</a>
			<ul class="sidebar-nav sidebar-nav-sub" <% if ['new_office', 'index_office'].include? options[:list_item] %>style="display: block;"<% end %>>
				<li class="sidebar-nav-link">
					<%= link_to new_administration_v1_office_path, class: options[:list_item]=='new_office' ? 'active' : '' do %>
							<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 新增
					<% end %>
				</li>

				<li class="sidebar-nav-link">
					<%= link_to administration_v1_offices_path, class: options[:list_item]=='index_office' ? 'active' : ''  do %>
							<span class="am-icon-angle-right sidebar-nav-link-logo"></span> 列表
					<% end %>
				</li>
			</ul>
		</li>
    <% end %>

    <% if ['common_user'].include? @login_user.role_code %>
		<!--<li class="sidebar-nav-link">
			<a href="javascript:;" class="sidebar-nav-sub-title">
				<i class="am-icon-users sidebar-nav-link-logo"></i> 个人排班
				<span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
			</a>
			<ul class="sidebar-nav sidebar-nav-sub" <% if ['one_user'].include? options[:list_item] %>style="display: block;"<% end %>>


        <li class="sidebar-nav-link">
          <%= link_to new_administration_v1_leaving_path(function: 'one_user'), class: options[:list_item]=='one_user' ? 'active' : '' do %>
              <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 编辑排班
          <% end %>
        </li>

			</ul>
		</li>-->
    <% end %>

	</ul>
</div>
