<!DOCTYPE html>

<html lang='zh-CN'>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="icon" type="image/png" href="<%= asset_path('ineye/logo.jpg') %>">
	<link rel="apple-touch-icon-precomposed" href="<%= asset_path('ineye/logo.jpg') %>">
  <link rel="icon" type="image/png" href="<%= asset_path('ineye/logo.jpg') %>">
  <link rel="icon" sizes="192x192" href="<%= asset_path('ineye/logo.jpg') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path('ineye/logo.jpg') %>">
  <meta name="msapplication-TitleImage" content="<%= asset_path('ineye/logo.jpg') %>">
  <meta name="msapplication-TitleColor" content="#0101DF">
  <link rel="shortcut icon" href="<%= asset_path('ineye/logo.jpg') %>">
  <link rel="icon" sizes="16x16" href="<%= asset_path('ineye/logo.jpg') %>">
  <link rel="icon" sizes="32x32" href="<%= asset_path('ineye/logo.jpg') %>">
  <link rel="image_src" href="<%= asset_path('ineye/logo.jpg') %>">

	<%= yield :meta %>

	<title>成都中医大银海眼科医院_近视手术_近视防控_白内障_青光眼等治疗</title>
  <meta name="keywords" content="眼科、银海眼科、医院、眼科医院">
  <meta name="description" content="成都中医大银海眼科医院为成都中医药大学附属眼科医院，与成都中医药大学眼科学院实行院院合一统一管理，是集医、教、研三位于一体的研究型大型专科医院。齐聚众多国内外中西医专家、学者担任医院各专业领域学术技术带头人，以一流技术、一流设备、一流疗效、一流环境、一流服务面向广大眼病患者。">

	<%= csrf_meta_tags %>

	<%= render partial: 'administration/v1/shared/style' %>
	<%= yield :style %>
	<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?<%= Rails.configuration.baidu_statistics[:code] %>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<body <%= (yield :body_attr).html_safe %> >

	<%= yield %>

	<%= render partial: 'administration/v1/shared/script' %>
	<%= yield :script %>

</body>
</html>
