<div class="regheader">
    <p class="regpageheader">
      <a href="/"><%= image_tag("reglogo.png") %></a> <span class="operationtle">用户登录</span>
    </p>
</div>
<input type="hidden" class="js-callback" value="<%= params[:callback] %>" />
<%= form_tag sessions_path, method: :post do |f| %>
<div class="loginarea mart150">
    <div>
       <p>手机号：</p>
       <input type="text" placeholder="请输入注册手机号" class="js-phone-number" maxlength="11">
    </div>
    <div>
        <p>登录密码：</p>
        <input type="password" class="js-password" placeholder="请输入密码">
    </div>
    <p class="flow">
        <span class="wrong fl warnword hide">
            用户名或密码不正确
        </span>
        <span class="fr">
        <%= link_to registers_path do %>注册账号<% end %><span> | </span><%= link_to edit_find_password_path('~', function: 'check_phone_number') do %>忘记密码<% end %>
        </span>
    </p>
</div>
<div class="logsubmit">
  <button type="button" class="subbtn js-submit">立即登录</button><span style="color: red; margin-left: 20px;" class="js-error-vector"></span>
</div>
<% end %>


<% content_for :script do %>
  <%= javascript_include_tag 'logins/index' %>
<% end %>
