<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon">
        <div class="whiteBg">
            <ul class="flow flParent educationList">
                <li class="on">正文</li>
                <li>照片</li>
                <li>文档</li>
                <li>视频</li>
            </ul>
        </div>
        <!--第一块 正文内容-->
        <div class="edModule show">
            <div class="whiteBg">
                <div class="caseContent">
                    <h3>标题</h3>
                    <p>诊断</p>
                    <p>处理</p>
                </div>
            </div>
            <div class="marT10 whiteBg">
                <ul class="flow flParent educationList">
                    <li class="on">评论</li>
                </ul>
                <div class="commentCon">
                    <textarea class="commentInner" autofocus></textarea>
                    <div class="flow">
                        <p class="erroContent"></p><div class="commentSubBtn fr">评论</div>
                    </div>
                </div>
                <div class="comContainer">
                    <p class="allComment">全部评论<span class="num">a</span> </p>

                    <div class="flow oneComment">
                        <div class="fl">
                            <%= image_tag("edu_user.png") %>
                        </div>
                        <div class="fl comContent">
                            <p class="identity">2017/10/30<span>11:59:25</span><span>游客</span></p>
                            <div class="flow">
                                <p class="fl">喜欢这种颜色搭配与排版···</p>
                                <div class="showSubBtn fr userComment"><%= image_tag("comment_before.png") %></div>
                            </div>
                        </div>
                    </div>
                    <div class="flow oneComment">
                        <div class="fl">
                            <%= image_tag("edu_user.png") %>
                        </div>
                        <div class="fl comContent">
                            <p class="identity">2017/10/30<span>11:59:25</span><span>游客</span></p>
                            <p>喜欢这种颜色搭配与排版···</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--第一块 正文内容-->
        <!--第二块 照片内容-->
        <div class="pad40 whiteBg edModule">
            <ul class="tz-gallery flParent flow">

                <li class="thumbnail">
                    <a class="lightbox" href="/assets/park.jpg">
                        <%= image_tag("edu_smallimgs.jpg") %>
                    </a>
                    <div class="caption">
                        <p>sssss</p>
                    </div>
                </li>
                <li class="thumbnail">
                    <a class="lightbox" href="/assets/park.jpg">
                        <%= image_tag("edu_smallimgs.jpg") %>
                    </a>
                    <div class="caption">
                        <p>sssss</p>
                    </div>
                </li>

            </ul>

        </div>
        <!--第二块 照片内容-->
        <!--第三块 文档资料-->
        <div class="whiteBg edModule downModule">
            <p>
                <a href="/assets/窦广志病历摘要修改版.doc" download>窦广志病历摘要修改版</a>
            </p>
        </div>
        <!--第三块 文档资料-->
        <!--第四块 视频-->
        <div class="whiteBg edModule downModule">
            <video id="my-video" class="video-js" controls preload="auto" width="1020" height="400" poster="m.png" data-setup="{}">
                <source src="http://jq22com.qiniudn.com/jq22-sp.mp4" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <script type="text/javascript">

            </script>
        </div>
        <!--第四块 视频-->
    </div>

</div>
<% content_for :style do %>
<%= stylesheet_link_tag 'video-js' %>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'baguetteBox.min' %>
<%= javascript_include_tag 'video.min' %>


<script type="text/javascript">
    //    正文、照片、文档、视频切换
    $(".educationList li").click(function () {
        $(this).addClass("on").siblings().removeClass("on");
        $(".eduContentCon .edModule").removeClass("show").eq($(this).index()).addClass("show");
    })

    //    展示图片
    baguetteBox.run('.tz-gallery');

    //    播放视频
    var myPlayer = videojs('my-video');
    videojs("my-video").ready(function(){
        var myPlayer = this;
        myPlayer.play();
    });
    window.onload = function(){
        getContent()

    }
    function getContent(elm){
        $.ajax({
            url: '/all-api/comments/~',
            type: "GET",
            contentType: 'application/json',
            dataType: "json",
            data: {
                post_link: "/con_education/专题讲座",
                state:"A"
            }
        })
            .done(function( data ) {
                console.log(data);
                var data = data.collection;
                var childComment = [];
                var innerStr = "<p class='allComment'>全部评论<span class='num'>"+data.length+"</span></p>";
                for(var i = data.length-1;i >= 0; i--){
                    childComment[i] ="";
                    innerStr+="<div class='flow oneComment' parent_id = "+ data[i].id +"  >"
                        +"<div class='fl'>"
                        +"<img src= '../../assets/edu_user.png' />"
                        +"</div>"
                        +"<div class='fl comContent' parent_id = "+ data[i].id +" >"
                        +"<p class='identity'>"+ data[i].created_at
                        +"<span>游客"+data[i].id+"</span></p>"
                        +"<div class='flow'>"
                        +"<p class='fl'>"+ data[i].content +"</p>"
                        +"<div class='commentSubBtn fr userComment' >"
                        +"<img src= '../../assets/comment_before.png'  onclick=\"addChiComment("+ data[i].id +")\" /></div></div></div>"
                    childComment[i]+= "<div class= 'childComments' >"
                    for(var s =0;s<data[i].sons.length;s++){

                        if(data[i].sons.length>0){
                            childComment[i]+="<div class='comContent' parent_id = "+ data[i].sons[s].id +" >"
                                +"<p class='identity'>"+ data[i].sons[s].created_at
                                +"<span>游客"+data[i].sons[s].id+"回复</span></p>"
                                +"<div class='flow'>"
                                +"<p class='fl'>"+ data[i].sons[s].content +"</p>"
                                +"<div class='commentSubBtn fr userComment' >"
                                +"<img src= '../../assets/comment_before.png'  onclick=\"addChiComment("+ data[i].sons[s].id +","+data[i].sons[s].id+")\" />"
                                +"</div>"
                                +"</div>"
                                +"</div>"
                        }else{
                            childComment[i]='';
                        }


                    }
                    childComment[i]+="</div>"
                    innerStr+=childComment[i]
                        +"</div>"
                        +"</div>"
                        +"</div>"

                }
                elm = elm?elm:$(".comContainer");
                elm.html(innerStr);
            })
            .fail(function( xhr, status, errorThrown ) {
                console.log('失败');
            })
            .always(function( xhr, status ) {
            });
    }

    function postComment(parId,num){ //parId父级的id num为了确定是顶级评论框还是子级评论框，不传值的情况下是最高级别的评论，传值是子级的。
        var index = num?1:0;
        console.log(index);
        if(/^[ ]+$/.test($(".commentInner").eq(index).val())||$(".commentInner").eq(index).val()==""){
            $(".erroContent").eq(index).html("评论的内容不能为空");
        }else{
            $(".erroContent").eq(index).html("系统正在审核，审核成功我们将展示您的评论内容");
            $.ajax({
                url: '/all-api/comments',
                type: "POST",
                contentType: 'application/json',
                dataType: "json",
                data: JSON.stringify({
                    parent_id: parId?parId:null,
                    content: num?$(".commentInner").eq(1).val():$(".commentInner").eq(0).val(),
                    post_link: "/con_education/专题讲座",
                })
            })
                .done(function( data ) {
                    var data = data.collection;
                    console.log(data.length);
                })
                .fail(function( xhr, status, errorThrown ) {
                    console.log('失败');
                })
                .always(function( xhr, status ) {
                });
            getContent();
        }
    }

    $(".commentSubBtn").click(function(){
        postComment();

    })
    function addChiComment(elem,num){//一个值是二级评论，两个值是三级评论
        var pos = parseInt(elem);
        for(var j = 0; j<$(".comContent").length;j++){
            $(".comContent").eq(j).find(".commentInnerCon").remove();
        }
        var num = num?num:elem;
        console.log(pos+"测试以及评论");
        var str  =  "<div class=\"commentCon commentInnerCon\">"
            +"<textarea class=\"commentInner\" ></textarea>"
            +"<div class=\"flow\">"
            +"<p class=\"erroContent\"></p>"
            +"<div class=\"commentSubBtn fr\" onclick=\" postComment("+ num +",1)\" >评论</div>"
            +"</div></div>"
        for(var j = 0; j<$(".comContent").length;j++){
            if($(".comContent").eq(j).attr("parent_id")== pos){
                console.log(j+"测试评论的位置");
                $(str).appendTo($(".comContent")[j]);

            }
        }
    }


</script>

<% end %>
