<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="whiteBg downModule minh400">
          <ul class="videocontainer">
              <li>
                <iframe src="http://v.qq.com/iframe/player.html?vid=y0565q3isic" width="100%" height="400px"></iframe>
                <!-- <video id="my-video" class="video-js" controls preload="auto" poster="m.png" data-setup="{}">
                    <source src="http://v.qq.com/iframe/player.html?vid=y0565q3isic">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </video> -->
                <p>Terson 综合征27G免缝合玻璃体切除术</p>
              </li>
              <p></p>
            </ul>
        </div>
    </div>
    <div>

    </div>
</div>
<% content_for :style do %>
<%= stylesheet_link_tag 'video-js' %>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'video.min' %>
<%= javascript_include_tag 'videoon' %>
<% end %>





