<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="whiteBg downModule minh400">
          <ul class="edumsglist">
            <li><%= link_to :'Terson综合征27G免缝合玻璃体切除术',con_education_path(:Terson综合征27G免缝合玻璃体切除术) %></li>
            <li><%= link_to :'分支静脉阻塞新生血管27G免缝合玻璃体切除术',con_education_path(:分支静脉阻塞新生血管27G免缝合玻璃体切除术) %></li>
            <li><%= link_to :'右眼裂孔性视网膜脱离硅压术',con_education_path(:右眼裂孔性视网膜脱离硅压术) %></li>
            <li><%= link_to :'经结膜面缝合27G玻璃体手术',con_education_path(:经结膜面缝合27G玻璃体手术) %></li>
          </ul>
        </div>
    </div>
    <div>

    </div>
</div>








