<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="whiteBg downModule minh400">
          <ul class="edumsglist">
            <li>
                <%= link_to con_education_path(:Terson综合征27G免缝合玻璃体切除术)  do %>
                    <p>Terson综合征27G免缝合玻璃体切除术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to con_education_path(:分支静脉阻塞新生血管27G免缝合玻璃体切除术)  do %>
                    <p>分支静脉阻塞新生血管27G免缝合玻璃体切除术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to con_education_path(:右眼裂孔性视网膜脱离硅压术)  do %>
                    <p>右眼裂孔性视网膜脱离硅压术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to con_education_path(:经结膜面缝合27G玻璃体手术)  do %>
                    <p>经结膜面缝合27G玻璃体手术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to con_education_path(:裂孔性视网膜脱离外路显微手术硅压术)  do %>
                    <p>裂孔性视网膜脱离外路显微手术硅压术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to con_education_path(:裂孔性视网膜脱离全玻璃体切除术)  do %>
                    <p>裂孔性视网膜脱离全玻璃体切除术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to con_education_path(:裂孔性视网膜脱离环扎和硅胶加压术)  do %>
                    <p>裂孔性视网膜脱离环扎和硅胶加压术 <span class="fr">2018-3-7</span></p>
                <% end %>
            </li>
          </ul>
        </div>
    </div>
    <div>

    </div>
</div>








