<div class="flow conEducation">
    <%= render 'con_education/edu_left' %>
    <div class="fr width1020 eduContentCon">
        <div class="whiteBg">
            <ul class="flow flParent educationList">
                <li class="on">正文</li>
                <li>照片</li>
                <!-- <li>文档</li> -->
                <li>视频</li>
            </ul>
        </div>
        <!--第一块 正文内容-->
        <div class="edModule show">
            <div class="whiteBg">
                <div class="caseContent">
                    <h3>标题</h3>
                    <p>诊断</p>
                    <p>处理</p>
                </div>
            </div>

            <%= render 'con_education/comment' %>
        </div>
        <!--第一块 正文内容-->
        <!--第二块 照片内容-->
        <div class="edModule">
            <div class="whiteBg pad40">
                <ul class="tz-gallery flParent flow">
                    <li class="thumbnail">
                        <a class="lightbox" href="/assets/park.jpg">
                            <%= image_tag("edu_smallimgs.jpg") %>
                        </a>
                        <div class="caption">
                            <p></p>
                        </div>
                    </li>
                    <li class="thumbnail">
                        <a class="lightbox" href="/assets/park.jpg">
                            <%= image_tag("edu_smallimgs.jpg") %>
                        </a>
                        <div class="caption">
                            <p></p>
                        </div>
                    </li>

                </ul>
            </div>

            <%= render 'con_education/comment' %>
        </div>
        <!--第二块 照片内容-->
        <!--第三块 文档资料-->
        <!-- <div class="whiteBg edModule downModule">
            <p>
                <a href="file:/assets/窦广志病历摘要修改版.doc"  onclick="openmydoc('file:/assets/窦广志病历摘要修改版.doc');" type="activxobject(word.application)">窦广志病历摘要修改版 网友版在线预览</a>

                <a href="/assets/窦广志病历摘要修改版.doc" download>窦广志病历摘要修改版</a>
            </p>
        </div> -->
        <!--第三块 文档资料-->
        <!--第四块 视频-->
        <div class="edModule">
            <div class="whiteBg downModule">
                <video id="my-video" class="video-js" controls preload="auto" poster="m.png" data-setup="{}">
                    <source src="http://ugcws.video.gtimg.com/y0565q3isic.mp4?sdtfrom=v1010&guid=121ad212d6f264b585599729c3222582&vkey=5CB875CE5CF70D46EB50E082EA95172738F185058BD1467DFD2FD25198FEA2C39CEE38A77313B090FDF3EE779E34A569F5AFF4040DF7F7C079AB76972BD04FFCB3EAC780B764439B3C6FB53B0A7D2D8EC3F003C9B280B986798921FEBF546E8CB517D595690FFE17748592301A18227334D1BAB3504686B4">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <div>
                <%= render 'con_education/comment' %>
            </div>
        </div>
        <!--第四块 视频-->
    </div>

</div>
<% content_for :style do %>
<%= stylesheet_link_tag 'video-js' %>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'baguetteBox.min' %>
<%= javascript_include_tag 'video.min' %>
<%= javascript_include_tag 'edu_example' %>
<script type="text/javascript">

</script>


<% end %>
