<form class="am-form tpl-form-line-form">
	<%= hidden_field_tag :id, @new.id, class: 'js-id' %>
	<div class="am-form-group">
		<label for="user-name" class="am-u-sm-3 am-form-label"><span class="required-hint">*</span><%= New.human_attribute_name :title %> <span class="tpl-form-line-small-title"><%= :title.to_s.titleize %></span></label>
		<div class="am-u-sm-9">
			<%= text_field_tag :title, @new.title, class: 'tpl-form-input' %>
		</div>
	</div>

  <% if @new.user_id==1 %>
  <div class="am-form-group">
    <label for="user-name" class="am-u-sm-3 am-form-label">路径 <span class="tpl-form-line-small-title"><%= :scan_rails_path.to_s.titleize %></span></label>
    <div class="am-u-sm-9">
      <%= text_field_tag :scan_rails_path, @new.scan_rails_path, class: 'tpl-form-input' %>
    </div>
  </div>
  <% end %>

  <div class="am-form-group">
    <label for="user-name" class="am-u-sm-3 am-form-label"><span class="required-hint">*</span>状态 <span class="tpl-form-line-small-title"><%= :defunct.to_s.titleize %></span></label>
    <div class="am-u-sm-9">
      <%#= select_tag :defunct, options_for_select(ShareEnum.form_options('states'), @new.defunct), class: 'tpl-form-input' %>
      <select class="tpl-form-input">
        <option <% if @new.new_record? || @new.defunct==false %>selected<% end %>>生效</option>
        <option <% if @new.defunct==true %>selected<% end %>>不生效</option>
      </select>
    </div>
  </div>

	<div class="am-form-group">
		<label for="user-name" class="am-u-sm-3 am-form-label"><%= New.human_attribute_name :vice_title %> <span class="tpl-form-line-small-title"><%= :vice_title.to_s.titleize %></span></label>
		<div class="am-u-sm-9">
			<%= text_field_tag :vice_title, @new.vice_title, class: 'tpl-form-input' %>
		</div>
	</div>

	<div class="am-form-group">
		<label for="user-email" class="am-u-sm-3 am-form-label"><span class="required-hint">*</span><%= New.human_attribute_name :occurred_at %> <span class="tpl-form-line-small-title"><%= :occurred_at.to_s.titleize %></span></label>
		<div class="am-u-sm-9">
			<%= text_field_tag :occurred_at, (l @new.occurred_at, format: :human_date), class: 'am-form-field tpl-form-no-bg', :"data-am-datepicker" => "", readonly: "" %>
		</div>
	</div>

	<div class="am-form-group">
		<label for="user-phone" class="am-u-sm-3 am-form-label"><%= New.human_attribute_name :classify %> <span class="tpl-form-line-small-title"><%= :classify.to_s.titleize %></span></label>
		<div class="am-u-sm-9">
			<%= select_tag :classify, options_for_select(ShareEnum.form_options('new_classifies'), @new.classify), include_blank: false, class: '', "data-am-selected"=> "{searchBox: 1}", style: "display: none;" %>
		</div>
	</div>

  <div class="am-form-group">
    <label for="user-phone" class="am-u-sm-3 am-form-label"><%= New.human_attribute_name :aim_at_platform %> <span class="tpl-form-line-small-title"><%= :aim_at_platform.to_s.titleize %></span></label>
    <div class="am-u-sm-9">
      <%= select_tag :aim_at_platform, options_for_select(ShareEnum.form_options('aim_at_platforms'), @new.aim_at_platform), include_blank: false, class: '', "data-am-selected"=> "{searchBox: 1}", style: "display: none;" %>
    </div>
  </div>

	<div class="am-form-group">
		<label class="am-u-sm-3 am-form-label"><%= New.human_attribute_name :key_words %> <span class="tpl-form-line-small-title"><%= :key_words.to_s.titleize %></span></label>
		<div class="am-u-sm-9">
			<%= text_field_tag :key_words, @new.key_words, class: 'tpl-form-input' %>
		</div>
	</div>

  <div class="am-form-group">
    <label class="am-u-sm-3 am-form-label"><%= New.human_attribute_name :tag %> <span class="tpl-form-line-small-title"><%= :tag.to_s.titleize %></span></label>
    <div class="am-u-sm-9">
      <%= text_field_tag :tag, TagRelation.get_tags_by(object: @new), class: 'tpl-form-input' %>
    </div>
  </div>

	<div class="am-form-group">
		<label for="user-intro" class="am-u-sm-3 am-form-label"><span class="required-hint">*</span><%= New.human_attribute_name :content %> <span class="tpl-form-line-small-title"><%= :content.to_s.titleize %></span></label>
		<div class="am-u-sm-9">
      <span class="am-text-warning">温馨提示：请尽量上传压缩过的图像，以确保用户在手机端访问更快速和节省流量。<br/>（静态图片压缩网站：<a target="_blank" href="https://tinypng.com">TinyPng</a>）（动态图片压缩网站：<a target="_blank" href="https://ezgif.com/optimize">EzGif</a>）</span>
      <textarea id="editor" name="content" class="editor" style="width: 1198px; height: 600px;"><% if !@new.new_record? %><%= @new.content %><% end %></textarea>
		</div>
	</div>

	<div class="am-form-group">
		<div class="am-u-sm-9 am-u-sm-push-3">
			<button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success js-create-new">提交</button>
			<% if !@new.new_record? %><%= link_to :back, class: '' do %><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success button-include-link">取消</button><% end %><% end %>
		</div>
	</div>

</form>


