<div class="am-g tpl-g">
	<!-- 头部 -->
	<%= render partial: 'administration/v1/shared/navigation_bar' %>
	<!-- 风格切换 -->
	<%= render partial: 'administration/v1/shared/change_theme' %>
	<!-- 侧边导航栏 -->
	<%= render partial: 'administration/v1/shared/sidebar', locals: { options: {list_item: 'new_new'}} %>

	<!-- 内容区域 -->
	<div class="tpl-content-wrapper">

		<div class="row-content am-cf">

			<div class="row">

				<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
					<div class="widget am-cf">
						<div class="widget-head am-cf">
							<div class="widget-title am-fl">新闻详情</div>
							<div class="widget-function am-fr">
								<a href="javascript:;" class="am-icon-paperclip"></a>
							</div>
						</div>
						<div class="widget-body am-fr">

							<div class="tpl-form-line-form">
								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :title %> <span class="tpl-form-line-small-title"><%= :title.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><%= @new.title %></label>
								</div>

								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :vice_title %> <span class="tpl-form-line-small-title"><%= :vice_title.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><%= @new.vice_title %></label>
								</div>

								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :occurred_at %> <span class="tpl-form-line-small-title"><%= :occurred_at.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><%= l @new.occurred_at, format: :human_date %></label>
								</div>

								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :classify %> <span class="tpl-form-line-small-title"><%= :classify.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><% classify = NewClassify.lookup(@new.classify.to_s) %><%= classify.blank? ? '未知类别' : classify.localized_name %></label>
								</div>

								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :key_words %> <span class="tpl-form-line-small-title"><%= :key_words.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><%= @new.key_words %></label>
								</div>

								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :content %> <span class="tpl-form-line-small-title"><%= :content.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><%= @new.content.html_safe %></label>
								</div>

								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">
										<%= New.human_attribute_name :user_id %> <span class="tpl-form-line-small-title"><%= :user.to_s.titleize %></span>：
									</label>
									<label class="am-u-sm-9 field-value"><%= @new.user.try(:name).blank? ? '（暂无名称）' : @new.user.name %></label>
								</div>

								<div class="am-form-group">
									<div class="am-u-sm-9 am-u-sm-push-3">
										<% if @new.user_id == session[:user]['id'] %><%= link_to edit_administration_v1_new_path, class: '' do %><button type="button" class="am-btn am-btn-danger tpl-btn-bg-color-success js-create-new button-include-link">编辑</button><% end %><% end %>
										<%= link_to administration_v1_new_index_path, class: '' do %><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success button-include-link js-create-new">返回</button><% end %>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<% content_for :title do %>
		管理平台-新闻详情
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :body_attr do %>data-type="widgets"<% end %>

<% content_for :style do %>
		<%= stylesheet_link_tag 'administration/v1/new/show' %>
<% end %>

<% content_for :script do %>
		<%= javascript_include_tag 'administration/v1/new/show' %>
<% end %>
