<!--左边链接公共-->
<ul class="cataractList fl">
    <li><%= link_to :"白内障屈光治疗部介绍",center_path(:白内障屈光治疗部介绍) %></li>
    <li><%= link_to :"专家团队简介",center_path(:白内障屈光专家团队) %></li>
    <li><%= link_to :"手术方式",center_path(:白内障屈光手术方式) %></li>
    <li><%= link_to :"设备宣传",center_path(:白内障屈光设备宣传) %></li>
    <li><%= link_to :"晶状体宣传",center_path(:白内障屈光晶状体宣传) %></li>
    <li class="listLast"><%= link_to :"白内障科普解惑",center_path(:白内障屈光科普) %></li>
</ul>
<!--左边链接公共-->