<!--六大中心-->
<div class="middle">
  <div class="column centerContainer">
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <div>
          <%= link_to image_tag("center_1.png"), center_path(:视光中心) %>
        </div>
        <p>眼视光中心</p>
      </li>
      <li>
        <div>
        <%= link_to image_tag("center_2.png"), center_path(:白内障屈光治疗部介绍) %>
        </div>
        <p>白内障屈光中心</p>
      </li>
      <li>
        <div>
        <%= link_to image_tag("center_3.png"), center_path(:中医简介) %>
        </div>
        <p>中医眼科中心</p>
      </li>
      <li class="mar-L-z">
        <div>
        <%= link_to image_tag("center_4.png"), center_path(:眼底病中心) %>
        </div>
        <p>眼底病中心</p>
      </li>
      <li>
        <div>
        <%= link_to image_tag("center_5.png"), center_path(:糖尿病病变防治中心) %>
        </div>
        <p>糖尿病视网膜病变防治中心</p>
      </li>
      <li>
        <div>
          <%= link_to image_tag("center_6.png"), center_path(:读片中心) %>
        </div>
        <p>眼影像分析与诊断中心</p>
      </li>
    </ul>
  </div>
</div>
  <!--六大中心-->
