<!--六大中心-->
<div class="middle">
  <div class="column centerContainer">
    <ul class="center flParent">
      <li>
        <a href="javascript:;">
          <div class="icon">
            <%= image_tag("zxtb_1.png") %>
          </div>
          <p>角膜移植与眼表病</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="icon">
            <%= image_tag("zxtb_2.png") %>
          </div>
          <p>干眼病</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="icon">
            <%= image_tag("zxtb_3.png") %>
          </div>
          <p>青光眼</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="icon">
            <%= image_tag("zxtb_4.png") %>
          </div>
          <p>小儿眼病</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div class="icon">
            <%= image_tag("zxtb_5.png") %>
          </div>
          <p>泪道病及眼眶病</p>
        </a>
      </li>
      <li class="lastCenter">
        <a href="javascript:;">
          <div class="icon">
            <%= image_tag("zxtb_6.png") %>
          </div>
          <p>眼外伤与眼整形美容</p>
        </a>
      </li>
    </ul>
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= image_tag("center_1.png") %>
          </div>
          <p>眼视光中心</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("center_2.png") %>
          </div>
          <p>白内障屈光中心</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("center_3.png") %>
          </div>
          <p>中医眼科中心</p>
        </a>
      </li>
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= image_tag("center_4.png") %>
          </div>
          <p>眼底病中心</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("center_5.png") %>
          </div>
          <p>糖尿病病变防治中心</p>
        </a>
      </li>
      <li>
        <%= link_to image_tag("center_6.png"), center_path(:reader_center) %>
        <p>读片中心</p>
      </li>
    </ul>
  </div>
</div>
  <!--六大中心-->