<!--六大中心-->
<div class="middle">
  <div class="column centerContainer">
    <ul class="center flParent">
      <li>
        <%= link_to image_tag("zxtb_1.png"), center_path(:角膜移植与眼表病) %>
        <p>角膜移植与眼表病</p>
      </li>
      <li>
        <%= link_to image_tag("zxtb_2.png"), center_path(:干眼病) %>
        <p>干眼病</p>
      </li>
      <li>
        <%= link_to image_tag("zxtb_3.png"), center_path(:青光眼) %>
        <p>青光眼</p>
      </li>
      <li>
        <%= link_to image_tag("zxtb_4.png"),center_path(:小儿眼病) %>
        <p>小儿眼病</p>
      </li>
      <li>
        <a href="javascript:;">
          <%= link_to image_tag("zxtb_5.png"), center_path(:泪道病及眼眶病) %>
          <p>泪道病及眼眶病</p>
        </a>
      </li>
      <li class="lastCenter">
        <%= link_to image_tag("zxtb_6.png")%>
        <p>眼外伤与眼整形美容</p>
      </li>
    </ul>
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <div>
          <%= link_to image_tag("center_1.png"), center_path(:视光中心) %>
        </div>
        <p>眼视光中心</p>
      </li>
      <li>
        <div>
        <%= link_to image_tag("center_2.png"), center_path(:白内障屈光中心) %>
        </div>
        <p>白内障屈光中心</p>
      </li>
      <li>
        <div>
        <%= link_to image_tag("center_3.png"), center_path(:中医眼科中心) %>
        </div>
        <p>中医眼科中心</p>
      </li>
      <li class="mar-L-z">
        <div>
        <%= link_to image_tag("center_4.png"), center_path(:眼底病中心) %>
        </div>
        <p>眼底病中心</p>
      </li>
      <li>
        <div>
        <%= link_to image_tag("center_5.png"), center_path(:糖尿病病变防治中心) %>
        </div>
        <p>糖尿病视网膜病变防治中心</p>
      </li>
      <li>
        <div>
          <%= link_to image_tag("center_6.png"), center_path(:读片中心) %>
        </div>
        <p>读片中心</p>
      </li>
    </ul>
  </div>
</div>
  <!--六大中心-->
