<div class="middle flow">
    <%= render "centers/zyLeft" %>
    <div class="medicineRight">
        <!--时令小贴士-->
        <div class="ChineseMed fr column">
            <div class="ChineseMedTit padB">
                <h5>宝宝眼睛痒，麻麻怎么办</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce centerImg">
                <p>又是一年春来到，柳絮儿满天飘。春色满园，风光大好，沐浴在这春风之中，是多么的惬意啊！</p>
                <p>可是，有一些小朋友不惬意了！</p>
                <p>为什么呢？因为他们眼！睛！痒！</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("sl_1.jpg") %>
                </div>
                <p>这是过敏性结膜炎在捣乱。</p>
                <p>过敏性结膜炎又称变态反应性结膜炎，是因为接触过敏原引发的变应性免疫反应。成人和儿童均可发病，以儿童居多。这里主要为麻麻们介绍儿童过敏性结膜炎。</p>
                <p>麻麻们要怎么判断宝宝可能患了过敏性结膜炎呢？当宝宝开始频繁揉眼睛的时候，就要注意了。过敏性结膜炎会导致宝宝眼痒、流泪、畏光、异物感、反复眼红、晨起粘稠样分泌物等症状，以眼痒和异物感为主要症状，婴幼儿以揉眼和流泪为主要症状。同时需要注意的是，部分宝宝还会伴随鼻痒、喷嚏、流清涕等过敏性鼻痒的症状，以及并发过敏性哮喘、湿疹等过敏性疾病。过敏性结膜炎可能常年发病，也可能春季发病，甚至没有特定的时间，接触了过敏原即发病。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("sl_2.jpg") %>
                </div>
                <p>这种情况怎么办？</p>
                <p>麻麻们首先要做的，是远离过敏原。</p>
                <p>医生们常常被麻麻们问这个问题：过敏性结膜炎能不能根治？</p>
                <p>医生们要说的是：不能根治，但如果麻麻靠谱，宝宝发病的可能性会大大降低。</p>
                <p>为什么呢</p>
                <p>因为过敏性结膜炎是因为接触过敏原引发的变应性免疫反应，过敏原是罪魁祸首，只要麻麻们在生活中注意观察，总结出宝宝的过敏原，避免接触，发病率会低很多。</p>
                <p>麻麻们注意了（此处敲黑板），下面是重点。</p>
                <p>怎样避免接触过敏原？</p>
                <p>首先，我们来给过敏原分个类，以便麻麻们归类总结。</p>
                <p>吸入性过敏原：花粉、粉尘等。</p>
                <p>摄入性过敏原：2岁以前的宝宝更敏感，如牛奶，蛋，鱼虾等。</p>
                <p>接触性过敏原：尘螨、药物等。</p>
                <p>接种性过敏原：主要是疫苗接种。</p>
                <p>此外，季节、气候的变化，也会导致宝宝过敏。</p>
                <p>第二，麻麻们要做到两点：仔细观察，认真总结。凡宝宝接触后出现过敏症状的物品、食物，都要牢牢记住，在生活中避免接触。例如，宝宝吃了虾肉，长了湿疹，那就要避免再次食用。宝宝玩了毛绒玩具，不停打喷嚏，揉眼睛，就可以判断他对尘螨和粉尘过敏，要避免接触此类玩具，并且保持床上用品的洁净，勤洗勤换。诸如此类。若麻麻们能将宝宝过敏原牢牢记住，并告知家人，那么，宝宝患过敏性疾病的几率将大大降低。即使宝宝已经开始揉眼睛了，也可能因为麻麻处理及时，远离过敏原而使症状缓解甚至消失。</p>
                <p>所以，麻麻们，你们是多么的重要！</p>
                <p>有些麻麻会问了：我需要带宝宝去做过敏原检测吗？</p>
                <p>麻麻们问的过敏原检测，一般是指皮肤斑贴实验。眼科医生告诉麻麻：没有太多必要性。因为皮肤斑贴实验的结果，往往与泪液中的Ig E检测不平行，就治疗过敏性结膜炎来说，指导意义不大。</p>
                <p>但仍然有一部分宝宝，会因为持续的炎症发展，症状得不到缓解，甚至会出现流泪、畏光、分泌物增多、结膜滤泡增生等进行性症状。这个时候，麻麻们，就抱起宝宝，来看医生吧。医生会根据宝宝的病情，为宝宝选择合适的滴眼液，消炎止痒。</p>
                <p>在治疗过程中，麻麻们要注意几点：</p>
                <p>一、重要的事情说三遍——远离过敏原！远离过敏原！远离过敏原！</p>
                <p>二、看住宝宝，不要让乖乖们揉眼睛。因为揉眼会导致肥大细胞颗粒脱落，刺激眼表，加重眼睛瘙痒，也就是俗称的“越揉越痒”。</p>
                <p>三、在家为宝宝做冷敷。冷敷会减轻眼痒的症状，让宝宝感到舒适。宝宝一般只肯让麻麻做冷敷，所以，再次重申，麻麻们，你们是多么重要。</p>
                <p>四、若麻麻已经掌握了宝宝发病的规律，可以在宝宝发病之前去看医生，医生会用成分为肥大细胞稳定剂的滴眼液为宝宝做预防性用药，乖乖们就能少受罪了！</p>
                <p>说了这么多，对于过敏性结膜炎，麻麻们应该心里有数了。归根到底，就是远离过敏原。掌握好这一点，过敏性结膜炎一定会远离你的宝宝。</p>
            </div>
            <div class="ChineseMedTit padB">
                <h5>也说“红眼病”</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce">
                <p>成都中医药大学附属眼科医院（成都中医大银海眼科医院）中医眼科中心</p>
                <p>“红眼病”相信大家都不陌生，本病全年均可发病，一般在夏秋季流行，每年的7月到9月即是红眼病的高发期。因出现眼睑水肿、结膜充血的症状，使眼睛看起来又红又肿，<%= image_tag("sl_3.jpg",class: "fl marR-30") %>故而得名，是一种急性传染性眼炎。根据不同的致病原因，可分为细菌性结膜炎和病毒性结膜炎两类，临床症状相似，但流行程度和危害性以病毒性结膜炎为重，中医又称为“暴风客热”、“天行赤眼”、“天行赤眼暴翳”。其中医命名形象地表现出本病潜伏期短、发病急骤、症状明显、刺激性重、传染性强、传播迅速、容易造成大流行的特点。</p>
                <p><b>那如何预防和治疗“红眼病”呢？谈“红”不色变，防控是关键，口诀需记牢：红眼病，要治疗，早就医，重清洁，讲卫生，少传播，勤洗手，勿揉眼，可冷敷，忌包扎，“一人一巾一盆”须谨记，饮食宜忌需知道，中医调护不能少！</b></p>
                <p><b>1.就医早，清洁好</b></p>
                <%= image_tag("sl_4.jpg",class: "fr marL-30") %>
                <p>红眼病患者可出现眼睑红肿、结膜充血水肿、异物感、瘙痒、疼痛、流泪、怕光等症状，病情严重者可伴有头痛、发热、耳前淋巴结肿大等全身症状。在产生类似症状时，应及时就诊，明确诊断，对症治疗。注重疾病过程中的清洁工作，可用人工泪液或生理食盐水先清洗眼睛，再点眼药水。常用抗病毒眼液与抗生素滴眼液交替滴眼，预防混合感染。如全身症状较重，可配合口服抗病毒及抗菌药。</p>
                <p><b>2. 讲卫生，少传播 </b></p>
                <p>红眼病可通过眼—手—眼的途径传播，传染性极强，其中家庭、工作单位、公共浴池、游泳池、饭店、KTV、游乐场等都是红眼病传播的重要场所。因此患者应自觉避免公共场所活动，适当隔离，以免传染，防止流行。提倡一人一巾一盆；在日常娱乐活动时，应挑选卫生条件良好的场所，尽量不要在公共场所使用公用毛巾和脸盆；提倡在游泳池活动时正确佩戴护目镜，避免用手擦揉眼睛；接触公共设施，如地铁扶梯、公交把手等之后，一定要洗手后再用手触碰眼睛。</p>
                <%= image_tag("sl_5.jpg",class: "fr marL-30") %>
                <p><b>3.可冷敷，忌包扎</b></p>
                <p>“红眼病”会出现红肿热痛感，可采用冷敷方法减轻症状。出门时尽量配戴太阳镜，避免阳光及风沙刺激。当患者出现眼睛红肿畏光不适时，表明疾病已侵及角膜，不要自行用纱布将眼睛包扎起来，这样会助长病菌在眼内的滋长，应在医生指导下对症处理。</p>
                <p><b>4.饮食宜忌，中医调护</b></p>
                <p>中医治疗：讲究“未病先防，已病防变”，强调辨证论治，个体化治疗，配合西医常规对症治疗，可获得良好的疗效。內治以祛风清热，泻火解毒，利湿退赤等为主，辨证施治；外治以清热解毒类洗眼液冲洗患眼，既可达到清洁效果，又可对症治疗，耳尖放血、刺络放血、针灸按摩、穴位贴敷均被证实可获得良好的临床疗效，加快康复进程。</p>
                <p>中医预防调护：适劳逸，慎起居，节饮食，调情志。饮食宜清淡，多食用清热解毒有关的食物，如西瓜、苦瓜、绿豆、茶叶等；忌食葱、蒜、韭菜、辣椒、羊肉、狗肉等辛辣刺激性及热性食物。忌虾、蟹、黄鱼、鳗鱼、带鱼等海腥发物，戒烟酒，避生姜，以免助邪生热，贻误病情。在流行季节，可用野菊花、蒲公英、金银花、桑叶等煎水代茶饮以期达到预防效果。</p>
                <div class="bottomWord">
                    <p>成都中医药大学附属眼科医院（成都中医大银海眼科医院）中医眼科中心</p>
                </div>
            </div>
        </div>
        <!--时令小贴士-->
    </div>
</div>