<div class="middle flow">
    <%= render "centers/zyLeft" %>
    <div class="medicineRight">
        <!--中医药养生保健小讲堂-->
        <div class="ChineseMed fr column">
            <div class="ChineseMedTit padB">
                <h5>“决明子”知多少</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce">
                <p>《神农本草经》记载“能治诸眼疾，久服能益精光, 轻身”，被列为120种“为君主养命以应天”的上药之一决明子, 是国家卫生部公布的69种药食同源的物质之一。市场上有许多关于决明子的保健饮品，日常很多人用其泡水代茶饮，更有爱美的女孩子慕其“减肥”之功效而长期饮用，可是决明子是不是人人都适合，真的可以作为保健品、减肥饮品长期饮用么，你对它又了解多少呢？</p>
                <%= image_tag("zyxbjkt_1.jpg",class: "fl marR-30") %>
                <p>《神农本草经》记载“能治诸眼疾，久服能益精光, 轻身”，被列为120种“为君主养命以应天”的上药之一决明子, 是国家卫生部公布的69种药食同源的物质之一。市场上有许多关于决明子的保健饮品，日常很多人用其泡水代茶饮，更有爱美的女孩子慕其“减肥”之功效而长期饮用，可是决明子是不是人人都适合，真的可以作为保健品、减肥饮品长期饮用么，你对它又了解多少呢？</p>
                <%= image_tag("zyxbjkt_2.jpg",class: "fr marL-30") %>
                <p>1.不宜长期单味药饮用，现代已有实验研究证明，决明子长期服用可引起肾、结肠、直肠、肠系膜、淋巴结、睾丸等靶器官病理改变。</p>
                <p>2.外感风寒、内伤生冷、脾胃虚寒等证不宜单味药大量服用，临床临症必须运用时应炒用去其苦寒之性，配伍方药，辨证施治；</p>
                <p>3.腹痛、大便稀软或不成形等慢性肠炎、慢性腹泻者不宜长期饮用，以免其泻下之效加重症状；</p>
                <%= image_tag("zyxbjkt_3.jpg",class: "fl marR-30") %>
                <p>4.平素乏力、气短等虚性便秘患者不宜单味药大量长期服用，易折损正气，引起难治性便秘；</p>
                <p>5.低血压患者不宜单味药大量长期服用，以免因其降压作用，发生昏蒙、晕厥等情况；</p>
                <p>6.因其兴奋子宫平滑肌收缩的作用，孕妇、先兆流产者忌用；</p>
                <p>7.平素怕冷、喜按喜热的月经不调、痛经患者不宜使用；</p>
                <p>8.因其可促进胃液分泌，胃溃疡患者不宜使用；</p>
                <p>9.饮用清凉饮品、食用瓜果生鲜前后避免使用，易引起腹痛；</p>
                <p>10.如出现皮肤瘙痒、恶心呕吐、腹痛喘憋等对决明子过敏的反应，应禁用；</p>
            </div>
            <div class="ChineseMedTit padB">
                <h5>“老黄”可致盲，中医有妙方</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce">
                <%= image_tag("zyxbjkt_4.jpg",class: "fr marL-30") %>
                <p>当人开始衰老，各个器官的机能都会出现退化，眼睛也是如此，随着年龄的增长，老年朋友们有时会出现视物模糊，渐渐眼前有黑影遮挡，有固定暗影，看东西变形等情况，这很有可能是患了“老黄”，即视力最敏感的区域—“黄斑”病了，临床上又称“年龄相关性黄斑变性”，随年龄增加而发病率上升，发病年龄一般在50岁以上，无性别差异，很多老年朋友发病过程缓慢，往往在视力开始下降时并不重视，然而这却是一种致盲眼病，应及早就医诊治。</p>
                <p>目前西医尚无确切疗法，针对湿性患者临床多采用激光或玻璃体腔注药治疗，患者满意度不佳，病情易反复，西医临床医生遇到“老黄”有时也只能“望病兴叹”，束手无策。而中医注重整体观，以辨证治疗为主，在促进出血及渗出吸收，减少并发症等方面，具有显著优势。</p>
                <%= image_tag("zyxbjkt_5.jpg",class: "fl marR-30") %>
                <p>中医认为本病归属于“视瞻昏渺”、“暴盲”等范畴，辨证多为肝肾亏虚、络伤出血、湿热蕴结、气血亏虚等。多由老年人肝肾不足，精血亏虚，眼睛得不到滋养，加之不良的饮食生活习惯，过度用眼等所导致。古书早有相关的疾病描述和治疗，近现代也有各个名医大家如韦文贵、陆南山、姚和清等在此病治疗上有独到见解及临床验方，而成都中医大银海眼科医院秉承陈达夫教授之六经辨证思想，针对“黄斑属脾”的论证，在黄斑水肿、出血、渗出等方面，独有自己的治疗体系，可明显改善患者看东西变形、眼前黑影遮挡等情况，有效保护视力。临床观察及实验研究也已经证实中医辨证治疗，结合西医治疗手段，可以达到“四减”：减短治疗周期，减少并发症，减低复发率，减缓疾病发展进程！</p>
                <%= image_tag("zyxbjkt_6.jpg",class: "fr marL-30") %>
                <p>同时，老年朋友们还应注重平常的预防调护：</p>
                <p>1.日光下佩戴滤光镜以减少太阳辐射；减少手机、电脑、电视等视频设备的使用，避免可见光线造成的黄斑损伤。</p>
                <p>2.有屈光问题应及时矫正，避免过度用眼，不宜在光线昏暗的情况下读书写字。</p>
                <%= image_tag("zyxbjkt_7.jpg",class: "fl marR-30") %>
                <p>3.饮食以清淡为宜，忌食辛辣油腻之品，但需注重营养均衡。在疾病的瘢痕期，饮食可酌加海带、海藻等软坚散结之品，但甲状腺功能亢进者忌服。</p>
                <p>4.戒烟限酒。</p>
                <p>5.当一眼已患黄斑变性，应注意监测健眼。</p>
                <p>总之，“老黄”可致盲，中医有妙方，辨证再治疗，“四减”可达到，预防做得好，疾病得不了，调护做到位，事半却功倍！</p>
            </div>
            <div class="ChineseMedTit padB">
                <h5>养血四物汤，明目更健康</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce">
                <p>四物汤，由熟地黄、当归、白芍、川芎组成，最早记载于唐朝蔺道人著的《仙授理伤续断秘方》，是补血调经的良方。方中熟地黄滋阴补血，当归补血活血，白芍养血柔肝，川芎行气活血。诸药合用，动静结合，补而不滞，为养血活血之第一要方和基本方。</p>
                <%= image_tag("zyxbjkt_8.jpg",class: "fl marR-30") %>
                <p>小伙伴们要问了：这四物汤是女子养血调经的方子，和眼睛有什么关系啊?这就是祖国传统医学的精妙所在了。</p>
                <p>眼睛，不仅仅是一个独立的人体器官，更是与人体各脏腑功能紧密相连的一部分，这就是中医的整体观念，不会头痛医头脚痛医脚，而是把人看成一个整体来治疗。人是一个整体，不是一台器官们各自为政的机器。</p>
                <p>中医的经典著作《黄帝内经》对眼与血的关系做了详尽的阐述。</p>
                <p>素问，五脏生成篇》说：“诸血者，皆属于心”，“心之合脉也”，“诸脉者，皆属于目”。心主血脉，诸脉属目。心主全身血脉，脉中血液受心气推动，循环全身，上输于目，目受血养，才能维持视觉。</p>
                <p>素问·金匮真言论》说：“东方青色，人通于肝，开窍于目，藏精于肝。”指出了目为肝与外界联系的窍道，肝开窍于目。因此，肝所受藏的精微物质，也能源源不断地输送至眼，使眼受到滋养，从而维持其视觉功能。</p>
                <p>肝主藏血，具有贮藏血液、调节血量的功能。虽然五脏六腑之精气皆上注于目，但目为肝之窍，尤以肝血的濡养为重要。所以，《素问·五脏生成篇》说：“肝受血而能视”。《审视瑶函·目为至宝论》则阐述说：“肝中升运于目，轻清之血，乃滋目经络之血也”。这就进一步指出，血与眼内神水（房水），神膏（玻璃体）等关系密切，血养水，水养膏，膏护瞳神，才能维持眼的视觉。</p>
                <%= image_tag("zyxbjkt_9.jpg",class: "fr marL-30") %>
                <p>说了这么多中医理论，小伙伴们可能有点晕。只要知道一点就好，眼与血的关系密切，血虚会导致目失所养，进而诱发一系列的眼病，例如青盲（视神经萎缩）、胞轮振跳（眼睑痉挛）、时复目痒（过敏性结膜炎）、云雾移睛（玻璃体混浊）、视瞻有色（中心性浆液性脉络膜视网膜病变）、视瞻昏渺（老年性黄斑变性）、风牵斜视（麻痹性斜视）、肝劳（视疲劳）等等。</p>
                <p>这个时候，就需要我们的小四隆重登场啦！</p>
                <p>养血活血基本法一上，整个基调就正确了！再根据患者的各种随症进行加味，方方面面都照顾得妥妥帖帖，简直就是方剂界的贴心小棉袄！</p>
                <p>帅哥们可能要问了，这是女娃娃专门用的方子么？我们男娃娃可以用不喃？</p>
                <p>医生很严肃地告诉你，可以！无论是小鲜肉还是老腊肉，只要医生辩证为血虚型眼病，都可予四物汤加减治疗，把你养得红头花色，血气方刚。</p>
                <p>小学语文老师说了，写作文，最后一定要点题！</p>
                <p>养血四物汤，明目更健康！</p>
            </div>

        </div>
        <!--中医药养生保健小讲堂-->
    </div>
</div>