<%= render 'centers/center_tkd' %>
<!--科室简介-->
<div class="marB20">
    <%= image_tag("chiMedicine-banner.jpg") %>
</div>
<div class="centerModule flow cataractCenterWord" id="module1">
    <div class="fl">
        <%= image_tag("chiMedicine-member.jpg") %>
    </div>
    <div class="fr centerWords chinCenterWord ">
        <h5 class="h5Title chinCenterH5Title">中医眼科中心</h5>
        <p>传承陈氏中医眼科百余年积淀之学术精华，师国内众家学术流派之长，集六十年临床经验于一体，我院中医眼科具有得天独厚的基础条件。科室运用中医理论治疗，在黄斑水肿、出血性眼病、葡萄膜病、视神经疾病等方面，具有显著的诊疗特色和临床优势。其“中医特色治疗室”将中医丰富的治疗手段运用于临床，多方法、多途径的综合治疗，显著地提高了眼科临床疗效。</p>
        <div class="chinCenterImg">
            <%= image_tag("chiMedicineImg.jpg") %>
        </div>
    </div>
</div>
<!--科室简介-->
<!--科室专家-->


<div class="centerModule padB20 chinMedModule" id="module2">
    <div class="chinCenterDoctor flow">
        <% user = User.alive.role_code_is('common_user').name_is('廖品正').first %>
        <div class="flow">
            <div class="CenterLeader fl">
                 <%= link_to image_tag('doctors/廖品正.jpg'), user.present? ? doctor_path(user.try(:id)) : expert_path(:廖品正教授) %>
                <div class="CenterLeaderIntroduce">
                    <h4><%= user.try(:name) %></h4>
                    <p><%= user.try(:honour_brief_introduction) %></p>
                    <p class="CenterLeaderTle">擅长领域：</p>
                    <p><%= user.try(:good_at_field).try(:html_safe) %></p>
                    <p class="CenterLeaderTle">专家简介：</p>
                    <p><%= user.try(:detailed_introduction).try(:html_safe) %></p>
                </div>
            </div>
            <!-- <div class="chinMedAdvantageCon fr"> -->
                <%= image_tag("chiMedicine-advantage.jpg",:class=>"fr") %>
            <!-- </div> -->
            <%#= image_tag("chiMedicine-gyds.jpg",:class=>"fr") %>
        </div>
        <div class="centerMemberCon chinMedMemberCon">
            <div class="centerMemberList fl">
                 <% users = [
                    {name: '邓亚平', fake_name: '邓亚平教授'},
                    {name: '周华祥', fake_name: '周华祥教授'},
                    {name: '路雪婧', fake_name: '路雪婧主任医师'},
                    {name: '黄霄', fake_name: '黄霄主任医师'},
                    {name: '张富文', fake_name: '张富文主治医师'}
                ]%>
                <ul class="flParent">
                    <% users.each do |u|%>
                      <li>
                          <% user = User.alive.role_code_is('common_user').name_is(u[:name]).first %>
                          <%= link_to image_tag('doctors/'+u[:name]+'.jpg'), user.present? ? doctor_path(user.try(:id)) : expert_path(u[:fake_name].to_sym) %>
                          <div class="maskName"><%= user.try(:name) %></div>
                      </li>
                    <% end %>

                </ul>
            </div>

        </div>
    </div>
</div>
<!--科室专家-->
<!--诊疗项目-->
<div class="centerModule padB20 chinMedModule"  id="module3">
    <p class="blueBTitle">
        <span>特色治疗项目</span>
    </p>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>中药熏药治疗</span></p>
            <p>在继承发扬中医传统熏洗眼法的基础上结合超声雾化原理，使中药药液表面张力和惯性被破坏，使之成为微烟的雾滴，通过导管输送到眼睛，达到局部治疗目的。</p>
            <p>适用于：干眼症、结膜炎等眼表疾病。</p>
        </li>
        <li>
            <p><span>中药热熏蒸</span></p>
            <p>用中药配方热熏患者双眼，通过中药及热效应共同作用，激发眼部气血，促进药物中有效成份渗透入局部病灶，发挥功效，达到治疗眼部疾病的目的。</p>
            <p>适应症：睑板腺堵塞、干眼、视疲劳、麦粒肿、眶上神经痛等眼病。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>针刺</span></p>
            <p>经络是运行气血、联系脏腑的体表以及全身的通道，是人体的调控系统，通过针刺穴位，可以疏通经络经气，平衡人体阴阳，调和气血。“十二经络，三百六十五络，其血气皆上于面而走空窍，其精气上走于目而为睛”，眼睛和经络关系密切，在眼周施针可以促进眼部周围经气的运行通畅，改善眼部微循环，改变视觉电生理，提高新陈代谢，激活神经细胞。同时配合体针，整体调理人体的气血阴阳。</p>
            <p>适用于：各种眼部疾病及内科疾病。</p>
        </li>
        <li>
            <p><span>眼针</span></p>
            <p>是已故著名针灸临床家彭静山教授首创的一种新的微针疗法，以脏腑辨证为基础，通过观察白晴络脉形色的变化，用八卦划区对眼区进行划分，并针刺，来治疗临床眼病以及各种内科疾病。</p>
            <p>适用于：葡萄膜炎、巩膜炎、甲状腺相关眼病等免疫及内分泌相关眼病，各种痛症，以及中风、痹证、头痛、腹泻、月经不调等内科疾病。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>艾灸</span></p>
            <p>是用艾叶制成的艾灸材料产生的艾热刺激体表穴位或特定部位，通过激发经气的活动来调整人体紊乱的生理生化功能，.具有温阳补气、温经通络、消瘀散结、补中益气的作用。作用于头面部则可以加速眼周血液循环、改善眼部不适，作用于躯体其他部位则可以调整机体亚健康状态及各脏腑的功能。</p>
            <p>适用于：视疲劳、干眼、小儿弱视、青少年近视、麻痹性斜视、动眼神经麻痹、重症肌无力眼型、上睑下垂、糖尿病视网膜病变、视神经萎缩等眼病。</p>
        </li>
        <li>
            <p><span>雷火灸</span></p>
            <p>是中医的一种传统疗法。雷火灸由多种中药制作而成，药物燃烧时产生辐射能量（红外线和近红外线），在施灸部位形成高浓药区，在热力的作用下，渗透到组织深部来调节人体各项机能。起到疏经活络、 活血利窍、改善周围组织血液循环的作用。</p>
            <p>适用于：干眼症、眼轮匝肌痉挛、视网膜色素变性、前部缺血性视神经病变、视神经炎、视神经萎缩、外伤性视神经损伤、儿童屈光不正、弱视等眼病。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>壮医药线点灸</span></p>
            <p>通过局部刺激和经络传导，达到调整气血、消炎止痛、活血化瘀、消肿散结的作用。</p>
            <p>适用于：眼睑黄色瘤、带状疱疹、儿童麦粒肿、眶上神经痛、病毒性睑皮炎等眼病。</p>
        </li>
        <li>
            <p><span>放血疗法</span></p>
            <p>用“三棱针”刺破人体特定部位的浅表血管，放出适量的血液，通过活血理气，达到治疗的目的。具有消肿止痛，祛风止痒、开窍泄热、镇吐止泻、通经活络之功效。</p>
            <p>适用于：干眼症、麦粒肿、急性结膜炎、过敏性结膜炎、葡萄膜炎、巩膜炎等疾病。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>刮痧</span></p>
            <p>疏通腠理、透邪外出，使脏腑秽浊之气通达于外，促进周身气血流畅，达到治疗疾病的目的。</p>
            <p>适用于：视疲劳、眶上神经痛、干眼症等。</p>
        </li>
        <li>
            <p><span>手指点穴</span></p>
            <p>即头面按摩。运用推、按、点、揉等手法，促进头面部的微循环，舒筋活络，消散瘀滞，醒神开窍。</p>
            <p>适用于：小儿弱视、青少年近视、眼轮匝肌痉挛、麻痹性斜视、视神经萎缩等眼病。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>穴位注射</span></p>
            <p>是针灸学理论、中药学和现代物理学相结合的产物，通过在穴位内进行药物注射，以产生生物物理作用变化和化学变化，将其刺激信息和中药药物，通过经络传导，而达到治病的目的。</p>
            <p>适用于：视疲劳，各种免疫性眼病。</p>
        </li>
        <li>
            <p><span>穴位贴敷</span></p>
            <p>以中医经络学说为理论依据，把药物研成细末，按不同疾病用水、醋、酒等调成糊状，再直接贴敷穴位，几小时后取下。用具有增强抵抗力、防病治病的作用。</p>
            <p>适用于：过敏性结膜炎、角膜炎、巩膜炎、葡萄膜炎及视神经炎等。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>穴位埋线</span></p>
            <p>是用针具将羊肠线埋入穴位治疗疾病的方法。将针刺疗法中的进针、留针、行针、起针合为一体的针刺方法，可以获得长效针感。</p>
            <p>适用于：视疲劳、各种免疫性眼病（葡萄膜炎、过敏性结膜炎等）。</p>
        </li>
        <li>
            <p><span>揿针</span></p>
            <p>是一种形似图钉状的特制的小型针具，用于固定于穴位所在部位的皮内或皮下，进行较长时间埋藏的一种方法。能给机体弱而长时间的刺激，调整经络脏腑功能，达到防治疾病的目的。</p>
            <p>适用于：视疲劳、眼轮匝肌痉挛等。</p>
        </li>
    </ul>

    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>耳穴</span></p>
            <p>耳穴即耳廓上的反应点、刺激点。当人体有疾病时，往往会在耳廓的一定部位出现局部反应，如：压痛、结节、变色等，通过刺激这些反应点（耳穴）来防治疾病。</p>
            <p>适用于：小儿斜视、少儿近视、远视、上睑下垂、视神经萎缩、角膜炎、虹膜睫状体炎、眼底出血等眼病。</p>
        </li>
        <li>
            <p><span>拔罐</span></p>
            <p>除寒祛湿、疏通经络、祛除瘀滞、消肿止痛、拔毒泻热、具有调整人体的阴阳平衡、缓解疲劳、增强体质的功能，从而达到扶正祛邪治疗疾病的目的。</p>
            <p>适用于：各种神经性眼病如眼轮匝肌痉挛、视神经病变等疾病。</p>
        </li>
    </ul>
    <ul class="flow flParent chiWedSpecialItem">
        <li>
            <p><span>足浴</span></p>
            <p>辨证选用不同中药液，通过水的温热作用，借助药物蒸气和药液熏洗，刺激足部各穴位，具有理气活血、引火归元等作用，使人体疏通腠理、透达筋骨，达到改善机体新陈代谢，改善视网膜、视神经功能的作用。适用于各种气滞血瘀、气虚血淤及阳虚寒凝所致的各种眼部。</p>
            <p>适用于：糖尿病视网膜病变、视网膜色素变性、视神经萎缩、前部缺血性视神经病变、视网膜静脉阻塞等眼底疾病及干眼症、视疲劳等眼病。</p>
        </li>
    </ul>

</div>
<!--诊疗项目-->
<!--科室新闻-->
<!--<div class="centerModule chinMedModule" id="module4">-->
    <!--<p class="blueBTitle">-->
        <!--<span>科室新闻</span><%= link_to :'更多>>',news_path(:新闻列表),:class => "fr" %></a>-->
    <!--</p>-->
    <!--<div class="SectionNewsList">-->
        <!--<div>-->
            <!--<a rel="nofollow" href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000243&idx=3&sn=8981f33b6a248f5c4c632dd6916f8c7f&chksm=7d4c41a74a3bc8b1988a0f1b2326cf9f1841fac3c87a4c2142ccbe293a32333669cf638505fb#rd" target="_blank">-->
            <!--<%= image_tag("chiMedicine-newsImg1.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<h4>【银海名医—周华祥】出血性眼病和干眼症，正在危害你的健康！</h4>-->
                <!--<p>近年来，随着人民生活水平的普遍提高，电子化办公和电子产品越来越普及，电子产品的应用呈现出人口众多（2016年我国手机用户已经超过13亿）、低龄化趋势两个特点。由此而带来的眼部问题越来越多。</p>-->
                <!--<p>成人中干眼症、视疲劳、白内障、黄斑变性等疾病的发病率逐年增高。如何避免电子产品对眼睛的损害，保护好我们心灵的窗户，是现代社会的人需要关注的重要健康问题。</p>-->
            <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a rel="nofollow" href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000374&idx=1&sn=9c7255486c311a43889dc674cccc9c1a&chksm=7d4c42224a3bcb3481a03c55d7f285474ff69699d9358de877aa9b9bfc4001160b3873cdf0a2#rd" target="_blank">-->
            <!--<%= image_tag("chiMedicine-newsImg2.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<h4>来自名医的护眼秘籍</h4>-->
                <!--<p>人类所获得的信息，大部分是通过眼的视觉功能完成。同时眼睛也可以传递许多信息，塔克曼曾云：眼睛说话的雄辩和真实，胜过于言语；眼眸可以表达情愫，比如微笑：瞬美目以流眄，含言笑而不分。眼神可透知人的性情：曹雪芹形容林黛玉有“一双似喜非喜含情目”。-->
                    <!--　　可见，眼睛对大家的重要性不言而喻。但自古以来，由于人们饮食不节，不正确用眼等不良习惯导致眼部发生诸多疾患。早在唐代，孙思邈所著《备急千金要方》卷六·目病第一 中首次明确地提出了容易引起眼病的19种因素：</p>-->
            <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--科室新闻-->
<!--科室科普-->
<!--<div class="centerModule chinMedModule">-->
    <!--<p class="blueBTitle">-->
        <!--<span>科室科普</span>-->
        <!--<%= link_to :'更多>>',news_path(:新闻列表),:class => "fr" %>-->
    <!--</p>-->
    <!--<div class="SectionNewsList">-->
        <!--<div>-->
            <!--<%= image_tag("chiMedicine-kepuImg1.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<%= link_to center_path(:揭秘中医疗法,:anchor => "news1") do %>-->
                <!--<h4>仙气渺渺”中药雾化</h4>-->
                <!--<p>成都中医药大学附属眼科医院（成都中医大银海眼科医院）中医眼科中心-->
                    <!--薄薄的水雾，如同渺渺的仙气，发挥着神奇的治疗作用。中药液超声雾化已在临床各领域广泛应用，而在眼科的相关作用，你又知道多少呢？-->
                    <!--什么是中药超声雾化？</p>-->
                <!--<p>中药超声雾化是传统中药熏蒸与现代超声雾化结合的产物，通过辨证选方，将中药经蒸馏、提取、浓缩、灭菌制成无颗粒的药液，或直接使···</p>-->
                <!--<% end %>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<%= image_tag("chiMedicine-kepuImg2.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<%= link_to center_path(:揭秘中医疗法,:anchor => "news2") do %>-->
                    <!--<h4>小小离子治眼病</h4>-->
                    <!--<p>离子，与分子、原子一样，是构成物质的基本粒子。在化学变化中，原子或原子团得失电子后形成的带电微粒称作离子。带正电的称为阳离子，带负电的称为阴离子。所以，离子是形成物质的一种小小的带电微粒，存在于自然界的一切物质之中，我们看不见它们，它们却真实存在。-->
                        <!--　　药物离子导入法应用于临床治疗疾病，发源于十八世纪末期十九世纪初，至今已有两百多年的历史。该治疗的原理是：因为离子是带电微粒，根据同性电荷相斥，异性电荷相吸的原理，在直流电作用下，可将带不同电荷的药物离子导入人体内。</p>-->
                <!--</a>-->
                <!--<% end %>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<%= image_tag("chiMedicine-kepuImg3.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<%= link_to center_path(:揭秘中医疗法,:anchor => "news2") do %>-->
                <!--<h4>眼睛也要“艾”</h4>-->
                <!--<p>艾灸，大家都很熟悉，用艾叶制成的艾灸材料，比如艾条，艾柱，它们燃烧产生的热量刺激体表穴位或特定部位，能够疏通经络，行气活血，从而防病治病。在艾灸治疗中，其原材料“艾”是非常重要的。清代吴仪洛在《本草从新》中说：“艾叶苦辛，生温熟热，纯阳之性，能回垂绝之亡阳，通十二经，走三阴，理气血，逐寒湿，暖子宫，止诸血，温中开郁，调经安胎，......以之艾火，能透诸经而除百病。”小伙伴们都知道，腰酸背痛腿抽筋了，就需要“艾”一下。袅袅升腾的烟雾中，舒舒服服地躺在床上，刺激穴位，经络打开，全身都舒坦了。</p>-->
                <!--</a>-->
                <!--<% end %>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<<<<<<< HEAD
<!--</div>-->
<!--科室科普-->
=======
</div>
<!--科室科普-->
>>>>>>> ba939a7b096b383e05503a735ce18be82646ac7b
