
    <div class="middle flow">
        <!--中医公共部分-->
        <ul class="medicineLeft fl">
            <li class="chineseFi active">中医眼科中心简介</li>
            <li>团队介绍</li>
            <li>揭秘中医疗法</li>
            <li>中医药养生保健小讲堂</li>
            <li>时令小贴士</li>
            <li>反馈信箱</li>
        </ul>
        <!--中医公共部分-->
        <!--中医右边部分-->
        <!--帮你看懂中医眼科病历-->
        <div class="medicineRight">
            <div class="ChineseMed fr column show">
                <div class="ChineseMedTit">
                    <h5>中医眼科中心简介</h5>
                </div>
                <div class="diseaseOne indent">
                    <p>成都中医大银海眼科医院中医眼科中心，源自我国著名中医眼科学家陈达夫教授。1956年，陈达夫先生奉国家调遣，从西昌来到成都，参加成都中医学院的组建，并创立中医眼科教研室及附属医院临床眼科。自此以来的六十余年时间里，经几代人的不懈努力，当年由达夫先生手创的成都中医学院眼科，已从单一临床教学科室发展成了享誉全国，知名世界的国家级重点学科，临床重点学科，并在此基础上，汇聚国内著名专家学者，建立了具备高层次医疗、教学、科研功能的大型专科机构：成都中医药大银海眼科医院。</p>
                    <p>成都中医药大银海眼科医院中医眼科，承袭了陈氏中医眼科学派几代人百余年沉淀的学术思想和临床技术。陈达夫教授创立的中医眼科六经辨证、八廓辨证、内眼脏腑相属理论，均在银海眼科医院中医眼科得到了全面继承和发展，使其在以干眼症为代表的眼表疾病，以视网膜、玻璃体出血为代表的出血性眼病，以葡萄膜炎、视神经炎为代表的内眼疾病方面具有高层次的学术水平和显著的临床疗效。针刺灸疗、湿敷雾化、刮痧拔罐等简便效廉特色中医治疗方法的广泛运用，对全面提高眼科常见病、多发病临床疗效，改善保存疑难重症患者视功能发挥了重要作用，使成都中医药大学附属银海眼科医院中医眼科中心成为中医特色突出、治疗方法丰富，临床疗效显著的特色中医眼科。</p>
                </div>
            </div>
            <!--帮你看懂中医眼科病历-->
            <!--负责人简介-->
            <div class="ChineseMed fr column">
                <p class="disease"></p>
                <div class="diseaseOne ChineseCen-introduce">
                    <div class="teamMember flow">
                        <%= image_tag("teamMember_1.png",class: "fl proImgLeft") %>
                        <div class="teamMemberName">
                            <h5>周华祥</h5>
                            <p>主任医师教授</p>
                            <p>硕士生导师、中医眼科中心主任</p>
                        </div>
                        <p>周华祥教授，主任医师。成都中医药大学研究生导师，四川省学术技术带头人，四川省拔尖中医师。四川省中医药学会眼科专业委员会常务副主任委员，中华中医药学会眼科分会委员，四川省康复医学会眼科分会委员，成都市视力保护协会副理事长，国家中医药管理局中医师资格认证中心命审题专家。《中医眼耳鼻喉杂志》副主编、《中华医学百科全书》中医眼科学卷编委 。从事中医眼科学的临床、科研、教学工作30余年。</p>
                        <p>周华祥教授临床经验丰富，在眼科常见病、多发病方面有较好疗效，形成了自己独特的诊疗特色，尤长于运用传统理论于临床，探讨眼科难症、重症的新治疗途径并获得较好效果，如将金元时代医家刘完素提出的“玄府”理论运用于视神经疾病，提出“开玄府、利清窍、活血脉、补肝肾”四步递进治法治疗视神经萎缩；将《金匮要略》、《血证论》“死血”、“干血”理论结合与眼科临床，运用软坚散结、祛痰散结、活血散结方药治疗视网膜玻璃体出血；将“黄斑属脾”、“瘀血化水”、“肾虚血瘀”理论运用于糖尿病性视网膜病变及其黄斑水肿的临床治疗均取得良好效果。此外，以“脾肾双补”法治疗高度近视及其眼底并发症，以“凉肝滋肾、解毒排脓”法治疗葡萄膜炎，以“健脾生津，祛风通络”法治疗干眼症、视疲劳等都展示了鲜明的特色和疗效。其临床诊治较突出中医药简、便、效、廉的优势，体现“大医精诚”的医德医风，受到患者称许。</p>
                        <p>周华祥教授具有较敏锐的科研思维，熟悉本专业领域学术技术发展前沿动态，善将中医古典理论与现代最新研究成果结合于眼科科研课题中，迄今主持、主研课题16项，内容涵盖基础理论、新药开发、病症机理、预防保健等领域，课题层次包括国家自然科学基金、国家新药基金、“十五”国家科技攻关计划、国家重点科技项目（攻关）计划及省、厅局级研究项目。先后获得四川省科技进步特等奖1项、二等奖1项、三等奖2项，获国家中医药管理局科技进步三等奖2项。编写、参编并出版专著9部，发表论文31篇。</p>
                    </div>
                    <p class="disease divider"></p>
                    <div class="teamMember">
                        <%= image_tag("teamMember_2.png",class: "fl proImgLeft") %>
                        <div class="teamMemberName">
                            <h5>黄霄</h5>
                            <p>主任医师</p>
                        </div>
                        <p>黄霄，教授，主任医师，医学博士，硕士研究生导师。中国医师协会中西医结合眼科专业委员会委员、四川中西医结合学会及四川省中医药学会会员。</p>
                        <p>从事眼科医教研工作30余年。曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习，曾参加国际ORBIS飞行眼科医生培训班。擅长疑难眼底病和眼免疫性疾病的中西医临床诊断和治疗。此外，在泪道疾病的诊疗方面有着丰富的临床经验。</p>
                        <p>黄霄教授长期指导研究生、住院医师，进修医师的临床教学工作。作为主研人员，先后承担国家自然科学基金、国家中医药管理局、四川省教育厅等各级研究课题10余项，公开发表学术论文30余篇。热心公益事业，心系基层群众，长期关注老少边贫地区患者的视觉健康问题，先后10余次参加四川省卫生厅医疗下乡活动并成为优秀团体成员，相关事迹曾经中央电视台和四川电视台报道。</p>
                    </div>
                    <p class="disease divider"></p>
                    <div class="teamMember">
                        <%= image_tag("teamMember_3.jpg",class: "fl proImgLeft") %>
                        <div class="teamMemberName">
                            <h5>缪馨</h5>
                            <p>主治医师</p>
                            <p>硕士研究生</p>
                        </div>
                        <p>从事眼科临床、科研多年，具有丰富的实际工作经验，擅长运用中西医结合方法治疗眼底疾病及眼表疾病，特别是在外眼疾病、出血性眼病、葡萄膜疾病等方面进行了较深入的探索，所开展的中药煎剂雾化治疗干眼症、角膜溃疡取得显著疗效，在患者中有较大影响。先后在眼科专业期刊上公开发表多篇学术论文；作为主要研究人员参与了四川省科技厅、四川省中医药管理局科研课题研究工作。</p>
                    </div>
                </div>
            </div>
            <!--负责人简介-->
            <!--揭秘中医疗法-->
            <div class="ChineseMed fr column">
                <div class="ChineseMedTit padB">
                    <h5>“仙气渺渺”中药雾化</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce">
                    <p>薄薄的水雾，如同渺渺的仙气，发挥着神奇的治疗作用。中药液超声雾化已在临床各领域广泛应用，而在眼科的相关作用，你又知道多少呢？</p>
                    <%= image_tag("chinese-med_lf_1.png",class: "fl proImgLeft") %>
                    <p><b>什么是中药超声雾化?</b></p>
                    <p>中药超声雾化是传统中药熏蒸与现代超声雾化结合的产物，通过辨证选方，将中药经蒸馏、提取、浓缩、灭菌制成无颗粒的药液，或直接使用成品中药注射液，通过超声波破坏雾化药液的表面张力和惯性，形成直径5μm以下雾状分子，直接作用于眼睑、结膜、角膜等，较传统熏眼法使用更为简便快捷，避免了全身用药之肝脏首过效应，提高了局部用药的药物浓度。根据功效和用药温度的不同，又分为热雾化和冷雾化。</p>
                    <p><b>热雾化</b></p>
                    <p>热雾化，相较于冷雾化，更接近于中医眼科传统治疗方法-中药熏蒸，除中药辨证组方的针对性治疗外，利用热能改善眼睛局部血液循环，加速代谢产物排泄，使眼部气血流畅，疏通经络，祛邪导滞，对视疲劳、早期麦粒肿、睑板腺功能障碍、眶上神经痛等具有良好的治疗效果。</p>
                    <p><b>冷雾化</b></p>
                    <%= image_tag("chinese-med_lf_2.png",class: "fr marL-30") %>
                    <p>中药凉雾超声雾化增加了物理性降温的治疗措施，温度控制在10℃～15℃，具有收缩血管，降低神经末梢敏感性的作用，凉爽舒适，易于接受。对缓解眼干涩、异物感、眼痒、眼痛等具有良好的效果，适用于视疲劳、干眼症、滤泡性结膜炎、过敏性结膜炎、传染性结膜炎等各种眼表疾病，适用范围较热雾化更为宽广。</p>
                    <p>随着医疗器械的发展更新，中药超声雾化法治疗眼表疾病方面，以其适应症广泛、运用方便、患者接受度高、疗效显著而得到快速发展，推广迅速，展示了良好了临床运用前景。但中药组方复杂多样，眼科临床常用的中药雾化，大多是经验用药，而成都中医大银海眼科医院以成都中医药大学眼科学院、眼科研究院为依托，对中药雾化方的选取、雾化液的安全性及有效性进行了科学系统的实验研究，期待在临床为更多患者服务！
                    </p>
                    <div class="bottomWord">
                        <p>成都中医大银海眼科医院 中医眼科中心</p>
                    </div>
                </div>
                <div class="ChineseMedTit padB">
                    <h5>小小离子治眼病</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce centerImg">
                    <p>离子，与分子、原子一样，是构成物质的基本粒子。在化学变化中，原子或原子团得失电子后形成的带电微粒称作离子。带正电的称为阳离子，带负电的称为阴离子。所以，离子是形成物质的一种小小的带电微粒，存在于自然界的一切物质之中，我们看不见它们，它们却真实存在。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("chinese-med_lf_3.png") %>
                    </div>
                    <p>药物离子导入法应用于临床治疗疾病，发源于十八世纪末期十九世纪初，至今已有两百多年的历史。该治疗的原理是：因为离子是带电微粒，根据同性电荷相斥，异性电荷相吸的原理，在直流电作用下，可将带不同电荷的药物离子导入人体内。</p>
                    <p>人体皮肤表面有大量的毛孔、皮肤腺和汗腺导管的开口，它们是药物离子进入人体的通道。药物离子首先在皮肤内形成“皮肤离子堆”，然后逐渐进入血流，被人体吸收，以达到药物治疗疾病的目的。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("chinese-med_lf_4.png") %>
                    </div>
                    <p>目前，在眼科临床工作中，中药离子导入疗法也因其良好的疗效而得到了广泛的应用。中药黄连、黄芩等清热解毒，凡因热毒上攻所致的眼病，如睑板腺炎、急性结膜炎、眼部疔疮痈肿皆可用其做药离子导入治之；三七、丹参、川芎、红花等活血祛瘀，通络散结，可应用于前房积血、玻璃体积血、糖尿病性视网膜病变等出血性疾病；枸杞子、茺蔚子、山药、菟丝子等补益肝肾，可将其离子导入用于萎缩性老年性黄斑变性、高度近视眼底改变、视疲劳等肝肾不足所致的眼病。中药在眼科的运用千变万化，中药离子导入疗法也是随症改变，满足临床治疗不同的需要。</p>
                    <p>在治疗过程中要注意，向医生如实告知病情及既往病史，高热、恶病质、心力衰竭、湿疹、妊娠、有出血倾向者，治疗部位有金属异物者，带有心脏起搏器者，以及其他对直流电不能耐受者，禁用本法。</p>
                </div>
                <div class="ChineseMedTit padB">
                    <h5>眼睛也要“艾”</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce centerImg">
                    <p>艾灸，大家都很熟悉，用艾叶制成的艾灸材料，比如艾条，艾柱，它们燃烧产生的热量刺激体表穴位或特定部位，能够疏通经络，行气活血，从而防病治病。在艾灸治疗中，其原材料“艾”是非常重要的。清代吴仪洛在《本草从新》中说：“艾叶苦辛，生温熟热，纯阳之性，能回垂绝之亡阳，通十二经，走三阴，理气血，逐寒湿，暖子宫，止诸血，温中开郁，调经安胎，......以之艾火，能透诸经而除百病。”小伙伴们都知道，腰酸背痛腿抽筋了，就需要“艾”一下。袅袅升腾的烟雾中，舒舒服服地躺在床上，刺激穴位，经络打开，全身都舒坦了。</p>
                    <p>可是，有几位小伙伴知道，眼睛不舒服了，也是需要“艾”的呀？</p>
                    <p>艾灸，同样适用于眼科疾病，尤其适用于视疲劳、麻痹性斜视、动眼神经麻痹、眼肌型重症肌无力、上睑下垂、视神经萎缩等疾病。眼部艾灸通过疏通眼部的经脉气血,保护眼睛，恢复视力,养血明目,从而达到防治多种眼疾的作用。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("chinese-med_lf_5.png") %>
                    </div>
                    <p>也许小伙伴们会担心眼部艾灸会灼伤面部肌肤，甚至眼睛，但医生告诉你，这种担心是不必要的。首先，眼部艾灸的穴位分布于眼周及面部，如眉弓的攒竹、鱼腰、丝竹空，外眦的瞳子髎、太阳，内眦的睛明，眼眶下的四百、承泣，医生不会直接在眼球上进行艾灸治疗，不存在损伤眼球的情况。</p>
                    <p>其次，随着中医药现代化的发展，艾条制作工艺和艾灸器使用方法已经能满足不同部位艾灸治疗的要求，为临床艾灸治疗提供多种选择。最后，所有的艾灸治疗，全程由专业眼科医生和针灸医生保驾护航，您只需要往床上一躺，其余的，交给我们！</p>
                    <p>小伙伴们，当眼睛出现干涩疼痛、视物不清、迎风流泪、上睑下垂、眼球转动不灵等不适时，记住哦，眼睛也要“艾”。</p>
                </div>
                <div class="ChineseMedTit padB">
                    <h5>壮医药线点灸疗法</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce centerImg">
                    <p>壮医药线点灸疗法是流传于壮族民间的一种治疗方法，是通过点燃经壮医秘方浸泡过的苎麻线直接烧灼患者体表的一定穴位或者部位来疏通“龙”路（人体里血液的通道，壮医也称之为“血脉”）、“火”路（人体内的传感通道，类似于现代医学的神经系统），以达到预期的治疗目的，具有温经散寒、调节气血、消肿止痛、祛风止痒、活血化瘀散结等作用。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("chinese-med_lf_6.jpg") %>
                    </div>
                    <p>在眼科疾病方面，常用壮医药线点灸治疗眼睑黄色瘤、眼周湿疹、头面部的荨麻疹、带状疱疹等眼病。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("chinese-med_lf_7.jpg") %>
                    </div>
                    <p>因为要用于头面部，眼科用的壮医药线选用较细的苎麻线，直径约0.5-0.7毫米，相当于圆珠笔笔尖大小。一般常用的药线灸法为点灸和熏灸：</p>
                    <p>1.点灸：灸火直接接触病灶。即将药线充分点燃，然后吹灭火焰，得到一段饱满的炭火星（称为珠火），然后对准病灶，直接点按上去，要求动作轻、快、准，点灸的局部有蚁轻咬样的烧灼感，但疼痛不明显，大多在可承受范围之内。主要用于眼睑黄色瘤、眼周湿疹和带状疱疹等病灶在皮肤上面的疾病。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("chinese-med_lf_8.jpg") %>
                    </div>
                    <p>2.熏灸：灸火不接触病灶，只是隔空用药线点燃的温热熏灸患处。主要针对一些病灶部位在黏膜处的眼病，如散粒肿、翼状胬肉、眼睑及球结膜肉芽等。</p>
                    <p>壮医药线点灸具有简便、廉价、有效等特点，而且无毒副作用，无化学污染，而且经过秘方浸泡过的苎麻线，点灸后具有不留疤、不易感染的特点。非常便于在门诊推广运用。</p>
                </div>

            </div>
            <!--揭秘中医疗法-->

            <!--中医药养生保健小讲堂-->
            <div class="ChineseMed fr column">
                <div class="ChineseMedTit padB">
                    <h5>“决明子”知多少</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce">
                    <p>《神农本草经》记载“能治诸眼疾，久服能益精光, 轻身”，被列为120种“为君主养命以应天”的上药之一决明子, 是国家卫生部公布的69种药食同源的物质之一。市场上有许多关于决明子的保健饮品，日常很多人用其泡水代茶饮，更有爱美的女孩子慕其“减肥”之功效而长期饮用，可是决明子是不是人人都适合，真的可以作为保健品、减肥饮品长期饮用么，你对它又了解多少呢？</p>
                    <%= image_tag("zyxbjkt_1.jpg",class: "fl marR-30") %>
                    <p>《神农本草经》记载“能治诸眼疾，久服能益精光, 轻身”，被列为120种“为君主养命以应天”的上药之一决明子, 是国家卫生部公布的69种药食同源的物质之一。市场上有许多关于决明子的保健饮品，日常很多人用其泡水代茶饮，更有爱美的女孩子慕其“减肥”之功效而长期饮用，可是决明子是不是人人都适合，真的可以作为保健品、减肥饮品长期饮用么，你对它又了解多少呢？</p>
                    <%= image_tag("zyxbjkt_2.jpg",class: "fr marL-30") %>
                    <p>1.不宜长期单味药饮用，现代已有实验研究证明，决明子长期服用可引起肾、结肠、直肠、肠系膜、淋巴结、睾丸等靶器官病理改变。</p>
                    <p>2.外感风寒、内伤生冷、脾胃虚寒等证不宜单味药大量服用，临床临症必须运用时应炒用去其苦寒之性，配伍方药，辨证施治；</p>
                    <p>3.腹痛、大便稀软或不成形等慢性肠炎、慢性腹泻者不宜长期饮用，以免其泻下之效加重症状；</p>
                    <%= image_tag("zyxbjkt_3.jpg",class: "fl marR-30") %>
                    <p>4.平素乏力、气短等虚性便秘患者不宜单味药大量长期服用，易折损正气，引起难治性便秘；</p>
                    <p>5.低血压患者不宜单味药大量长期服用，以免因其降压作用，发生昏蒙、晕厥等情况；</p>
                    <p>6.因其兴奋子宫平滑肌收缩的作用，孕妇、先兆流产者忌用；</p>
                    <p>7.平素怕冷、喜按喜热的月经不调、痛经患者不宜使用；</p>
                    <p>8.因其可促进胃液分泌，胃溃疡患者不宜使用；</p>
                    <p>9.饮用清凉饮品、食用瓜果生鲜前后避免使用，易引起腹痛；</p>
                    <p>10.如出现皮肤瘙痒、恶心呕吐、腹痛喘憋等对决明子过敏的反应，应禁用；</p>
                </div>
                <div class="ChineseMedTit padB">
                    <h5>“老黄”可致盲，中医有妙方</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce">
                    <%= image_tag("zyxbjkt_4.jpg",class: "fr marL-30") %>
                    <p>当人开始衰老，各个器官的机能都会出现退化，眼睛也是如此，随着年龄的增长，老年朋友们有时会出现视物模糊，渐渐眼前有黑影遮挡，有固定暗影，看东西变形等情况，这很有可能是患了“老黄”，即视力最敏感的区域—“黄斑”病了，临床上又称“年龄相关性黄斑变性”，随年龄增加而发病率上升，发病年龄一般在50岁以上，无性别差异，很多老年朋友发病过程缓慢，往往在视力开始下降时并不重视，然而这却是一种致盲眼病，应及早就医诊治。</p>
                    <p>目前西医尚无确切疗法，针对湿性患者临床多采用激光或玻璃体腔注药治疗，患者满意度不佳，病情易反复，西医临床医生遇到“老黄”有时也只能“望病兴叹”，束手无策。而中医注重整体观，以辨证治疗为主，在促进出血及渗出吸收，减少并发症等方面，具有显著优势。</p>
                    <%= image_tag("zyxbjkt_5.jpg",class: "fl marR-30") %>
                    <p>中医认为本病归属于“视瞻昏渺”、“暴盲”等范畴，辨证多为肝肾亏虚、络伤出血、湿热蕴结、气血亏虚等。多由老年人肝肾不足，精血亏虚，眼睛得不到滋养，加之不良的饮食生活习惯，过度用眼等所导致。古书早有相关的疾病描述和治疗，近现代也有各个名医大家如韦文贵、陆南山、姚和清等在此病治疗上有独到见解及临床验方，而成都中医大银海眼科医院秉承陈达夫教授之六经辨证思想，针对“黄斑属脾”的论证，在黄斑水肿、出血、渗出等方面，独有自己的治疗体系，可明显改善患者看东西变形、眼前黑影遮挡等情况，有效保护视力。临床观察及实验研究也已经证实中医辨证治疗，结合西医治疗手段，可以达到“四减”：减短治疗周期，减少并发症，减低复发率，减缓疾病发展进程！</p>
                    <%= image_tag("zyxbjkt_6.jpg",class: "fr marL-30") %>
                    <p>同时，老年朋友们还应注重平常的预防调护：</p>
                    <p>1.日光下佩戴滤光镜以减少太阳辐射；减少手机、电脑、电视等视频设备的使用，避免可见光线造成的黄斑损伤。</p>
                    <p>2.有屈光问题应及时矫正，避免过度用眼，不宜在光线昏暗的情况下读书写字。</p>
                    <%= image_tag("zyxbjkt_7.jpg",class: "fl marR-30") %>
                    <p>3.饮食以清淡为宜，忌食辛辣油腻之品，但需注重营养均衡。在疾病的瘢痕期，饮食可酌加海带、海藻等软坚散结之品，但甲状腺功能亢进者忌服。</p>
                    <p>4.戒烟限酒。</p>
                    <p>5.当一眼已患黄斑变性，应注意监测健眼。</p>
                    <p>总之，“老黄”可致盲，中医有妙方，辨证再治疗，“四减”可达到，预防做得好，疾病得不了，调护做到位，事半却功倍！</p>
                </div>
                <div class="ChineseMedTit padB">
                    <h5>养血四物汤，明目更健康</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce">
                    <p>四物汤，由熟地黄、当归、白芍、川芎组成，最早记载于唐朝蔺道人著的《仙授理伤续断秘方》，是补血调经的良方。方中熟地黄滋阴补血，当归补血活血，白芍养血柔肝，川芎行气活血。诸药合用，动静结合，补而不滞，为养血活血之第一要方和基本方。</p>
                    <%= image_tag("zyxbjkt_8.jpg",class: "fl marR-30") %>
                    <p>小伙伴们要问了：这四物汤是女子养血调经的方子，和眼睛有什么关系啊?这就是祖国传统医学的精妙所在了。</p>
                    <p>眼睛，不仅仅是一个独立的人体器官，更是与人体各脏腑功能紧密相连的一部分，这就是中医的整体观念，不会头痛医头脚痛医脚，而是把人看成一个整体来治疗。人是一个整体，不是一台器官们各自为政的机器。</p>
                    <p>中医的经典著作《黄帝内经》对眼与血的关系做了详尽的阐述。</p>
                    <p>素问，五脏生成篇》说：“诸血者，皆属于心”，“心之合脉也”，“诸脉者，皆属于目”。心主血脉，诸脉属目。心主全身血脉，脉中血液受心气推动，循环全身，上输于目，目受血养，才能维持视觉。</p>
                    <p>素问·金匮真言论》说：“东方青色，人通于肝，开窍于目，藏精于肝。”指出了目为肝与外界联系的窍道，肝开窍于目。因此，肝所受藏的精微物质，也能源源不断地输送至眼，使眼受到滋养，从而维持其视觉功能。</p>
                    <p>肝主藏血，具有贮藏血液、调节血量的功能。虽然五脏六腑之精气皆上注于目，但目为肝之窍，尤以肝血的濡养为重要。所以，《素问·五脏生成篇》说：“肝受血而能视”。《审视瑶函·目为至宝论》则阐述说：“肝中升运于目，轻清之血，乃滋目经络之血也”。这就进一步指出，血与眼内神水（房水），神膏（玻璃体）等关系密切，血养水，水养膏，膏护瞳神，才能维持眼的视觉。</p>
                    <%= image_tag("zyxbjkt_9.jpg",class: "fr marL-30") %>
                    <p>说了这么多中医理论，小伙伴们可能有点晕。只要知道一点就好，眼与血的关系密切，血虚会导致目失所养，进而诱发一系列的眼病，例如青盲（视神经萎缩）、胞轮振跳（眼睑痉挛）、时复目痒（过敏性结膜炎）、云雾移睛（玻璃体混浊）、视瞻有色（中心性浆液性脉络膜视网膜病变）、视瞻昏渺（老年性黄斑变性）、风牵斜视（麻痹性斜视）、肝劳（视疲劳）等等。</p>
                    <p>这个时候，就需要我们的小四隆重登场啦！</p>
                    <p>养血活血基本法一上，整个基调就正确了！再根据患者的各种随症进行加味，方方面面都照顾得妥妥帖帖，简直就是方剂界的贴心小棉袄！</p>
                    <p>帅哥们可能要问了，这是女娃娃专门用的方子么？我们男娃娃可以用不喃？</p>
                    <p>医生很严肃地告诉你，可以！无论是小鲜肉还是老腊肉，只要医生辩证为血虚型眼病，都可予四物汤加减治疗，把你养得红头花色，血气方刚。</p>
                    <p>小学语文老师说了，写作文，最后一定要点题！</p>
                    <p>养血四物汤，明目更健康！</p>
                </div>

            </div>
            <!--中医药养生保健小讲堂-->
            <!--时令小贴士-->
            <div class="ChineseMed fr column">
                <div class="ChineseMedTit padB">
                    <h5>宝宝眼睛痒，麻麻怎么办</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce centerImg">
                    <p>又是一年春来到，柳絮儿满天飘。春色满园，风光大好，沐浴在这春风之中，是多么的惬意啊！</p>
                    <p>可是，有一些小朋友不惬意了！</p>
                    <p>为什么呢？因为他们眼！睛！痒！</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("sl_1.jpg") %>
                    </div>
                    <p>这是过敏性结膜炎在捣乱。</p>
                    <p>过敏性结膜炎又称变态反应性结膜炎，是因为接触过敏原引发的变应性免疫反应。成人和儿童均可发病，以儿童居多。这里主要为麻麻们介绍儿童过敏性结膜炎。</p>
                    <p>麻麻们要怎么判断宝宝可能患了过敏性结膜炎呢？当宝宝开始频繁揉眼睛的时候，就要注意了。过敏性结膜炎会导致宝宝眼痒、流泪、畏光、异物感、反复眼红、晨起粘稠样分泌物等症状，以眼痒和异物感为主要症状，婴幼儿以揉眼和流泪为主要症状。同时需要注意的是，部分宝宝还会伴随鼻痒、喷嚏、流清涕等过敏性鼻痒的症状，以及并发过敏性哮喘、湿疹等过敏性疾病。过敏性结膜炎可能常年发病，也可能春季发病，甚至没有特定的时间，接触了过敏原即发病。</p>
                    <div class="marT-15 marb-15">
                        <%= image_tag("sl_2.jpg") %>
                    </div>
                    <p>这种情况怎么办？</p>
                    <p>麻麻们首先要做的，是远离过敏原。</p>
                    <p>医生们常常被麻麻们问这个问题：过敏性结膜炎能不能根治？</p>
                    <p>医生们要说的是：不能根治，但如果麻麻靠谱，宝宝发病的可能性会大大降低。</p>
                    <p>为什么呢</p>
                    <p>因为过敏性结膜炎是因为接触过敏原引发的变应性免疫反应，过敏原是罪魁祸首，只要麻麻们在生活中注意观察，总结出宝宝的过敏原，避免接触，发病率会低很多。</p>
                    <p>麻麻们注意了（此处敲黑板），下面是重点。</p>
                    <p>怎样避免接触过敏原？</p>
                    <p>首先，我们来给过敏原分个类，以便麻麻们归类总结。</p>
                    <p>吸入性过敏原：花粉、粉尘等。</p>
                    <p>摄入性过敏原：2岁以前的宝宝更敏感，如牛奶，蛋，鱼虾等。</p>
                    <p>接触性过敏原：尘螨、药物等。</p>
                    <p>接种性过敏原：主要是疫苗接种。</p>
                    <p>此外，季节、气候的变化，也会导致宝宝过敏。</p>
                    <p>第二，麻麻们要做到两点：仔细观察，认真总结。凡宝宝接触后出现过敏症状的物品、食物，都要牢牢记住，在生活中避免接触。例如，宝宝吃了虾肉，长了湿疹，那就要避免再次食用。宝宝玩了毛绒玩具，不停打喷嚏，揉眼睛，就可以判断他对尘螨和粉尘过敏，要避免接触此类玩具，并且保持床上用品的洁净，勤洗勤换。诸如此类。若麻麻们能将宝宝过敏原牢牢记住，并告知家人，那么，宝宝患过敏性疾病的几率将大大降低。即使宝宝已经开始揉眼睛了，也可能因为麻麻处理及时，远离过敏原而使症状缓解甚至消失。</p>
                    <p>所以，麻麻们，你们是多么的重要！</p>
                    <p>有些麻麻会问了：我需要带宝宝去做过敏原检测吗？</p>
                    <p>麻麻们问的过敏原检测，一般是指皮肤斑贴实验。眼科医生告诉麻麻：没有太多必要性。因为皮肤斑贴实验的结果，往往与泪液中的Ig E检测不平行，就治疗过敏性结膜炎来说，指导意义不大。</p>
                    <p>但仍然有一部分宝宝，会因为持续的炎症发展，症状得不到缓解，甚至会出现流泪、畏光、分泌物增多、结膜滤泡增生等进行性症状。这个时候，麻麻们，就抱起宝宝，来看医生吧。医生会根据宝宝的病情，为宝宝选择合适的滴眼液，消炎止痒。</p>
                    <p>在治疗过程中，麻麻们要注意几点：</p>
                    <p>一、重要的事情说三遍——远离过敏原！远离过敏原！远离过敏原！</p>
                    <p>二、看住宝宝，不要让乖乖们揉眼睛。因为揉眼会导致肥大细胞颗粒脱落，刺激眼表，加重眼睛瘙痒，也就是俗称的“越揉越痒”。</p>
                    <p>三、在家为宝宝做冷敷。冷敷会减轻眼痒的症状，让宝宝感到舒适。宝宝一般只肯让麻麻做冷敷，所以，再次重申，麻麻们，你们是多么重要。</p>
                    <p>四、若麻麻已经掌握了宝宝发病的规律，可以在宝宝发病之前去看医生，医生会用成分为肥大细胞稳定剂的滴眼液为宝宝做预防性用药，乖乖们就能少受罪了！</p>
                    <p>说了这么多，对于过敏性结膜炎，麻麻们应该心里有数了。归根到底，就是远离过敏原。掌握好这一点，过敏性结膜炎一定会远离你的宝宝。</p>
                </div>
                <div class="ChineseMedTit padB">
                    <h5>也说“红眼病”</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce">
                    <p>成都中医药大学附属眼科医院（成都中医大银海眼科医院）中医眼科中心</p>
                    <p>“红眼病”相信大家都不陌生，本病全年均可发病，一般在夏秋季流行，每年的7月到9月即是红眼病的高发期。因出现眼睑水肿、结膜充血的症状，使眼睛看起来又红又肿，<%= image_tag("sl_3.jpg",class: "fl marR-30") %>故而得名，是一种急性传染性眼炎。根据不同的致病原因，可分为细菌性结膜炎和病毒性结膜炎两类，临床症状相似，但流行程度和危害性以病毒性结膜炎为重，中医又称为“暴风客热”、“天行赤眼”、“天行赤眼暴翳”。其中医命名形象地表现出本病潜伏期短、发病急骤、症状明显、刺激性重、传染性强、传播迅速、容易造成大流行的特点。</p>
                    <p><b>那如何预防和治疗“红眼病”呢？谈“红”不色变，防控是关键，口诀需记牢：红眼病，要治疗，早就医，重清洁，讲卫生，少传播，勤洗手，勿揉眼，可冷敷，忌包扎，“一人一巾一盆”须谨记，饮食宜忌需知道，中医调护不能少！</b></p>
                    <p><b>1.就医早，清洁好</b></p>
                    <%= image_tag("sl_4.jpg",class: "fr marL-30") %>
                    <p>红眼病患者可出现眼睑红肿、结膜充血水肿、异物感、瘙痒、疼痛、流泪、怕光等症状，病情严重者可伴有头痛、发热、耳前淋巴结肿大等全身症状。在产生类似症状时，应及时就诊，明确诊断，对症治疗。注重疾病过程中的清洁工作，可用人工泪液或生理食盐水先清洗眼睛，再点眼药水。常用抗病毒眼液与抗生素滴眼液交替滴眼，预防混合感染。如全身症状较重，可配合口服抗病毒及抗菌药。</p>
                    <p><b>2. 讲卫生，少传播 </b></p>
                    <p>红眼病可通过眼—手—眼的途径传播，传染性极强，其中家庭、工作单位、公共浴池、游泳池、饭店、KTV、游乐场等都是红眼病传播的重要场所。因此患者应自觉避免公共场所活动，适当隔离，以免传染，防止流行。提倡一人一巾一盆；在日常娱乐活动时，应挑选卫生条件良好的场所，尽量不要在公共场所使用公用毛巾和脸盆；提倡在游泳池活动时正确佩戴护目镜，避免用手擦揉眼睛；接触公共设施，如地铁扶梯、公交把手等之后，一定要洗手后再用手触碰眼睛。</p>
                    <%= image_tag("sl_5.jpg",class: "fr marL-30") %>
                    <p><b>3.可冷敷，忌包扎</b></p>
                    <p>“红眼病”会出现红肿热痛感，可采用冷敷方法减轻症状。出门时尽量配戴太阳镜，避免阳光及风沙刺激。当患者出现眼睛红肿畏光不适时，表明疾病已侵及角膜，不要自行用纱布将眼睛包扎起来，这样会助长病菌在眼内的滋长，应在医生指导下对症处理。</p>
                    <p><b>4.饮食宜忌，中医调护</b></p>
                    <p>中医治疗：讲究“未病先防，已病防变”，强调辨证论治，个体化治疗，配合西医常规对症治疗，可获得良好的疗效。內治以祛风清热，泻火解毒，利湿退赤等为主，辨证施治；外治以清热解毒类洗眼液冲洗患眼，既可达到清洁效果，又可对症治疗，耳尖放血、刺络放血、针灸按摩、穴位贴敷均被证实可获得良好的临床疗效，加快康复进程。</p>
                    <p>中医预防调护：适劳逸，慎起居，节饮食，调情志。饮食宜清淡，多食用清热解毒有关的食物，如西瓜、苦瓜、绿豆、茶叶等；忌食葱、蒜、韭菜、辣椒、羊肉、狗肉等辛辣刺激性及热性食物。忌虾、蟹、黄鱼、鳗鱼、带鱼等海腥发物，戒烟酒，避生姜，以免助邪生热，贻误病情。在流行季节，可用野菊花、蒲公英、金银花、桑叶等煎水代茶饮以期达到预防效果。</p>
                    <div class="bottomWord">
                        <p>成都中医药大学附属眼科医院（成都中医大银海眼科医院）中医眼科中心</p>
                    </div>
               </div>
            </div>
            <!--时令小贴士-->

            <!--反馈邮箱-->
            <div class="ChineseMed fr column">
                <div class="ChineseMedTit padB">
                    <h5>致眼科病友书</h5>
                </div>
                <div class="diseaseOne ChineseCen-introduce">
                    <p class="noIndent">亲爱的眼科病友:</p>
                    <P>您好！成都中医大银海眼科医院中医眼科中心，诚挚邀请您参与中医眼科互动。目前中医眼科中心设置了中心简介、团队介绍、揭秘中医疗法、中医药养生保健、时令小贴士及反馈信箱模块。对于网站内容的更新及模块设置，将充分听取病友们的意见，结合时下眼科治疗的最新进展进行话题和内容的更新，还望病友们积极反馈。</P>
                    <P>诚挚邀请各病友积极促进中医眼科中心医患沟通的平台搭建！你们关注，我们服务！你们反馈，我们进步！大医精诚，银海启明，让我们为您的双眼保驾护航！</P>
                </div>
                <div class="bottomWord">
                    <p>成都中医大银海眼科医院中医眼科中心</p>
                </div>
            </div>
            <!--反馈邮箱-->
            <!--中医右边部分-->
        </div>
    </div>


<script src="../../assets/javascripts/jquery-1.8.3.min.js"></script>
<script>
    $(".medicineLeft  li").click(function(){
        var i = $(this).index();
        $(".medicineLeft  li").removeClass("active").eq(i).addClass("active");
        $(".medicineRight .ChineseMed").hide().eq(i).show();
    })
</script>

