<%= render 'centers/center_tkd' %>
<div class="ssqwt_index">
    <div class="ssqwt">
        <div class="ssqwt_header">
            <h1>做近视手术前  这些问题要搞清楚？</h1>
            <time class="ssqwt_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <div class="ssqwt_container">
            <p class="ssqwt_p">近视给生活、工作带来的不便与尴尬，对于近视的同学来说不能再深刻了。四眼儿有点丑、吃火锅起一层雾、好多运动不能做、高度近视怕遗传给下一代……这时可能就会萌生出做近视手术摘掉眼镜的念头，但必须要提醒你的是，近视手术不是你想做就做，这些问题要先搞清楚！</p>

            <div class="ssqwt_container_one ssqwt_container_box">
                <h3 class="ssqwt_container_smallerHeader">戴隐形眼镜影响手术吗？</h3>
                <p class="ssqwt_p">
                   软性隐形眼镜须停戴至少 1 周后，再行检查并可考虑手术，但硬性隐形眼镜需要在摘镜 4 周后，角膜塑形镜（即 OK 镜）则需要摘镜 3 个月以上。
                </p>
                <div class="ssqwt_imgs_box" id="ssqwt_img_1">
                    <%= image_tag("ssqwt_1.jpg") %>
                </div>
                <h3 class="ssqwt_container_smallerHeader">飞秒手术和 ICL哪一种会更安全呢？</h3>
                <p class="ssqwt_p">
                    检查完，手术医师根据患者的检查结果判断并推荐其选择哪种手术方式。患者根据自己的情况在几种手术方式进行选择。如果只适合其中一 种，只能选其一种。  具体哪种手术更安全，需要根据眼睛检查结果来确定。ICL（人工晶体植入手术）手术一般适合角膜偏薄，角膜形态异常或者近视度数高于 1200 度的患者，要求前房深度必须大于 2.8mm。比如：角膜太薄的做飞秒就不太安全，前房太浅的就不能做 ICL 手术。
                </p>
                <div class="ssqwt_imgs_box" id="ssqwt_img_2">
                    <%= image_tag("ssqwt_2.jpg") %>
                </div>

                <h3 class="ssqwt_container_smallerHeader">近视手术后视力会反弹</h3>
                <p class="ssqwt_p">
                   其实没有反弹说法，只是有些人本身逐渐有增加度数而导致新的度数， 主要取决于几点：患者术前度数较高，一般 800 度以上的近视相比中低 度近视可能性稍大；患者术前度数不稳定情况下做手术（每年度数增长超过 100 度），度数可能会继续进展；患者术后用眼习惯如何，不注意用眼，过度疲劳，电脑游戏，手机小说可能会再近视；其他病理性近视。
                </p>
                <div class="ssqwt_imgs_box" id="ssqwt_img_3">
                    <%= image_tag("ssqwt_3.jpg") %>
                </div>
                <h3 class="ssqwt_container_smallerHeader">术后晚上是否存在眩光？</h3>
                <p class="ssqwt_p">
                    由于设备和技术的不断完善，术后眩光的可能性越来越小。但眩光也因人而异，有些人在未做手术之前就已存在，术前医生难于准确预测每个病人是否出现的现象以及严重程度。有些人可能会存在并不影响生活，有些人随着时间会慢慢逐渐减轻或变好，此现场不是严重的并发症。
                </p>
                <div class="ssqwt_imgs_box" id="ssqwt_img_4">
                    <%= image_tag("ssqwt_4.jpg") %>
                </div>
                <h3 class="ssqwt_container_smallerHeader">手术会有其他并发症吗？</h3>
                <p class="ssqwt_p">
                   不是的，术前详细全面检查，排除你的眼睛有没有其他的问题疾病， 在安全度高的情况下才能手术。手术本身不会增加眼部疾病的风险。
                </p>
                <h3 class="ssqwt_container_smallerHeader">术后是不是容易得干眼症？</h3>
                <p class="ssqwt_p">
                   干眼症的发生与很多因素有关，比如环境、用眼习惯、电子产品的应 用等。术后早期因角膜形态的改变，泪膜分布发生改变，部分神经的损 伤，瞬目次数减少，所以眼睛比较容易干涩，疲劳，术后早期应注意休 息，避免过度用眼，适当补充人工泪液。
                </p>
                <div class="ssqwt_imgs_box" id="ssqwt_img_5">
                    <%= image_tag("ssqwt_5.jpg") %>
                </div>
                <h3 class="ssqwt_container_smallerHeader">高度近视能做近视手术吗？</h3>
                <p class="ssqwt_p">
                   高度近视不是近视手术的禁忌症，只要保证手术后角膜厚度在范围内就没有问题。度数太高不适合做激光手术，可选择ICL晶体植入术。高度近视眼底病发病率要比中低度近视高，但手术只是在角膜上进行，没有影响眼底，所以眼底病发病率并没有变。原来有高度近视的人，眼底病发病率还是更高一些，但是这个锅，近视手术真的是不背呢。
                </p>
                <p class="ssqwt_p">
                    温馨提示，大家如果想要通过近视手术摘镜，一定要选择正规的医院进行手术哦！
                </p>
            </div>
            <div class="container_footer_btn">
                <%= render partial: 'centers/ht_key' %>
            </div>
        </div>

  </div>
</div>

