<div class="middle flow">
    <!--左边链接公共-->
    <ul class="cataractList fl">
        <li class="active"><a href="javascript:;">“弱视”变“弱势”</a></li>
        <li class="listLast"><a href="javascript:;">白浅上神家的烦恼</a></li>
    </ul>
    <!--左边链接公共-->

    <div class="rightContainer">

        <!--“弱视”变“弱势”-->
        <div class="careUnit fr show">
            <div class="newsImgMar marT-15 marb-15"><%= image_tag("rsbrs_0.jpg") %></div>
            <div class="newsImgMar marT-15 marb-15"><%= image_tag("rsbrs_1.jpg") %></div>
            <div class="titleImg marT-15"><%= image_tag("rsbrs_2.jpg") %></div>
            <div class="newsImgMar marT-15 marb-15"><%= image_tag("rsbrs_3.jpg") %></div>
            <div class="newsImgMar marT-15 marb-15"><%= image_tag("rsbrs_5.jpg") %></div>
            <div class="titleImg_find marT-15"><%= image_tag("rsbrs_6.jpg") %>/div>
                <div class="newsImgMar marT-15 marb-15"><%= image_tag("rsbrs_7.jpg") %></div>
            </div>
        </div>
        <!--“弱视”变“弱势”-->
        <!--白浅上神家的烦恼-->
        <div class="careUnit fr trouble">
            <div class="newsImgMar"><%= image_tag("bqssdfn_1.jpg") %></div>
            <div class="newsImgMar"><%= image_tag("bqssdfn_2.jpg") %></div>
            <div class="newsImgMar"><%= image_tag("bqssdfn_3.jpg") %></div>
            <div class="newsImgMar"><%= image_tag("bqssdfn_4.jpg") %></div>
            <div class="newsImgMar"><%= image_tag("bqssdfn_5.jpg") %></div>
            <div class="newsImgMar"><%= image_tag("bqssdfn_6.jpg") %></div>
            <p class="remark">注：所有的图片均来自网络</p>
        </div>
        <!--白浅上神家的烦恼-->

    </div>
</div>



<script>
    $(".cataractList li").click(function(){
        var i = $(this).index();
        $(".cataractList li").removeClass("active").eq(i).addClass("active");
        $("rightContainer .careUnit").hide().eq(i).show();
    })
</script>





