
<div class="middle">
    <div class="careUnit show allWidth glaucoma">
        <h5>青光眼</h5>
        <p class="careUnitTitle fiList"><span>青光眼科室介绍</span></p>
        <p>银海眼科医院青光眼科是一个集临床诊疗、教学科普、科研创新、产业研发为一体的医疗科室。科室云集了一批经验丰富的青光眼专家，充分整合中西医临床技术与资源，引进国际高端设备，开展各种抗青光眼手术和中西医视力保护等。科室秉承“大医精诚”之精神，综合运用最前沿的西医技术及传统中医治疗手段，为广大青光眼患者提供专业、优质、全面的诊疗服务</p>
        <p class="careUnitTitle"><span>专家团队</span></p>
        <p>银海眼科医院青光眼科是一个集临床诊疗、教学科普、科研创新、产业研发为一体的医疗科室。科室云集了一批经验丰富的青光眼专家，充分整合中西医临床技术与资源，引进国际高端设备，开展各种抗青光眼手术和中西医视力保护等。科室秉承“大医精诚”之精神，综合运用最前沿的西医技术及传统中医治疗手段，为广大青光眼患者提供专业、优质、全面的诊疗服务。</p>
        <div class="flow proIntroduce fiproIntroduce">
            <%= image_tag("qgy_1.png",class: "proFace proImgLeft") %>
            <p class="proName-glau"><span>潘学会 </span>医务部主任，眼科副主任医师、医学硕士</p>
            <p>曾任解放军第四五二医院眼耳鼻喉科副主任、眼科中心主任；空军医学会眼科专业委员会委员，军区空军学科技术带头人、成都军区医学会眼科专业委员会委员、成都军区科学技术委员会委员、四川省康复医学会眼康复专委会委员、四川省中医药学会青年中医委员会委员、成都市医学会眼科专业委员会委员、四川省防盲办及四川省残疾人联合会防盲指导专家组成员、成都市劳动局伤残鉴定中心伤残鉴定专家组成员、成都市卫生局医疗事故鉴定中心专家组成员。</p>
            <p>长期在三甲医院眼科及眼专科医院从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验，擅长于各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病的中西医结合治疗。</p>
            <p>曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>

        </div>
        <div class="flow proIntroduce">
            <%= image_tag("qgy_2.png",class: "proFace proImgRight") %>
            <p class="proName-glau"><span>张富文 </span>中医学博士，成都中医药大学教授，硕士研究生导师</p>
            <p>中华中医药学会眼科分会青年委员，中国中西医结合学会四川分会眼科分会委员，中国中医药信息学会理事，四川省中医药信息学会常务理事。长期从事眼科学临床、教学和科研工作，并从事中医信息化管理。在临床方面从事糖尿病及并发症的研究和青光眼治疗、视神经保护研究，在临床中开展青光眼的临床开展各种先进的抗青光眼手术，研究青光眼的视神经保护治疗，在中药保护视神经的研究中有重要的发现，开发出保护视神经中药和滴眼液各一种。擅长治疗眼底出血性疾病，如视网膜静脉阻塞、糖尿病导致眼病，青光眼、视神经萎缩等视神经损害疾病。调节治疗各种眼干涩、视疲劳，中药综合保护学龄儿童和青少年视力，延缓近视的发展。先后主持、承担国家“十一五重大新药创制”、国家十二五重大仪器设备专项等国家级、部省级、厅局级课题20余项，获四川省科技进步特等奖、成都市科技进步特等奖。参与编写《中华医学百科全书》“中医眼科学卷”、《中药药效研究方法学》“眼科疾病篇”等。</p>

        </div>
        <div class="flow proIntroduce">
            <%= image_tag("qgy_3.png",class: "proFace proImgLeft") %>
            <p class="proName-glau"><span>陈小凤 </span>中医学博士，成都中医药大学教授，硕士研究生导师</p>
            <p>先后师从全国著名眼科专家樊映川教授和颜华教授，曾在四川省人民医院眼科、中山医科大学中山眼科中心、天津市眼科医院工作和学习，具有丰富的眼科临床及科研实践经验，理论基础扎实</p>
            <p>在中山眼科中心接受过严格的白内障超声乳化发展培训，长期承担残疾人联合会白内障防盲项目任务，已主刀完成白内障防盲小切口手术及白内障超声乳化手术共计五千余例，具有丰富的白内障复明手术经验，对白内障手术及并发症处理具有独特的经验。已独立完成各类抗青光眼手术近百例，尤其擅长于青光眼白内障联合手术。</p>
            <p>参研省级课题三项，核心期刊公开发表专业学术论文7篇</p>
        </div>
        <p class="careUnitTitle"><span>青光眼科开展业务及先进仪器展示</span></p>
        <div class="instrument">
            <p>我科开展各类抗青光眼手术、各种激光治疗、以及青光眼白内障联合手术等，并引入中医药手段改善青光眼患者视神经受损状况，建立了中西医结合治疗青光眼的策略。</p>
            <%= image_tag("qgy_4.png") %>
            <p>目前我科开展的抗青光眼手术有：</p>
            <p>● 周边虹膜切除术——主治瞳孔阻滞引起的早期原发性闭角型青光眼，能够解除瞳孔阻滞。除常规手术外，我科还拥有德国蔡司YAGⅢ眼前节激光仪，门诊即可完成激光虹膜切开术。</p>
            <%= image_tag("qgy_5.png") %>
            <p>● 小梁切开术、房角切开术——主治原发性先天性婴幼儿型青光眼，能够切开发育不良或通透不够的小梁网，解除小梁网阻塞，使房水能经正常途径引流。</p>
            <p>● 滤过性手术（如：小梁切除术、激光巩膜造瘘术、房水引流装置植入术、粘小管成形术、CLASS手术）——主治原发性开角型青光眼，手术原理是通过建立房水外引流通道，使房水流出增加，以此降低眼压。除了传统的小梁切除术，我科还引进了激光小梁消融仪，是美国NeoMedix公司最新推出的一种青光眼微创手术设备，小切口即可完成手术，且术后降眼压效果好、并发症少。</p>
            <%= image_tag("qgy_6.png") %>
            <p>房水引流装置植入术是通过房水引流装置（房水引流钉、房水引流阀等）将房水引流到固定于眼球赤道部的房水收集装置。引流装置可根据眼压高低调节流出通道的开闭状态，以此稳定眼压。</p>
            <p>粘小管成形术是利用微导管探通房水流出通道，并以粘弹剂和缝线的牵拉作用维持房水流出通道畅通，该术式没有滤过泡，患者并发症较少。</p>
            <p>CLASS手术的全称是CO2激光辅助深层巩膜切除术（CO2 Laser-Assisted Sclerectomy Surgery），该手术采用的全新理念是利用CO2激光消融形成房水外引流通道。同样没有滤过泡形成，避免了通过滤过泡引流造成的瘢痕化问题和破裂感染的问题。同时，由于并没有切穿眼球壁，所以不会直接进入眼内，从而避免了对眼球内部的副作用。病人在术后刺激感轻，手术过程也更加安全、简便。</p>
            <p>睫状体破坏手术（如：睫状体冷凝术、睫状体透热术、睫状体光凝术）——睫状体作为产生房水的组织，被手术破坏后，房水生成减少，能有效控制高眼压。</p>
        </div>
        <p class="careUnitTitle"><span>辅助检查设备</span></p>
        <div class="instrument">
            <p><%= image_tag("right.png") %> 德国蔡司Humphrey 750i视野计：对于视神经病变具有重要的诊断价值，早期青光眼诊断、治疗和管理导致视野缺失疾病。它分析视野中每一个监测点随着时间改变阈值的变化，从数值变化中做出青光眼是否进展的科学判断。</p>
            <%= image_tag("qgy_7.png") %>
            <ul>
                <li><%= image_tag("right.png") %> UBM</li>
                <li><%= image_tag("right.png") %> 全息彩色-血管成像OCT-Angio-Plex：对于青光眼眼底改变和视神经损伤有重要诊断意义。</li>
                <li><%= image_tag("right.png") %> 视网膜电生理</li>
                <li><%= image_tag("right.png") %> A/B超</li>
                <li><%= image_tag("right.png") %> 裂隙灯显微镜</li>
                <li><%= image_tag("right.png") %> 眼底照相机</li>
                <li><%= image_tag("right.png") %> 非接触式眼压计：避免了使用接触眼压计可能引起的交叉感染，并能应用于表面麻醉过敏患者。并开展24小时眼压项目，密切监测24小时眼压变化，能及早发现高眼压症、青少年青光眼等眼疾。</li>
            </ul>
        </div>

    </div>
</div>
