<%= render 'centers/center_tkd' %>
<!-- 页面复用ssaq的格式 -->
<div class="ssaq_index">
    <div class="ssaq">
        <div class="ssaq_header">
            <h1>年龄相关性白内障</h1>
            <time class="ssaq_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <div class="ssaq_container">
            <div class="ssaq_container_one ssaq_container_box">
                <h2 class="ssaq_container_header bnz_container_header">导致白内障的原因</h2>
                <p class="ssaq_p">主要有年纪增大，人体器官老化；长时间暴露在强光下，受紫外线照射，囊膜或皮质层变性以及某些疾病和遗传等。其中，人体器官老化是最主要原因，因此白内障患者多为老年人。</p>
                <p class="ssaq_p">老年白内障是白内障中最常见的一种，是老年人失明的主要原因，据不完全统计，
                    <span class="bnz_blue">50-60岁者老年性白内障的发病率为60%-70%；70岁以上者80%。</span>白内障早期症状有
                    <span class="bnz_red">视物模糊、色调改变、怕光、眼前黑点、复视、晶状体性近视等，</span>晚期症状则为视力下降，最后只能在眼前辨别手指或仅剩下一点光感，甚至全盲。
                </p>
                <div class="ssaq_imgs_box" id="bnz_img_1">
                    <%= image_tag("bnz_1.jpg") %>
                </div>
            </div>
            <div class="ssaq_container_two ssaq_container_box">
                <h2 class="ssaq_container_header bnz_container_header">如何治疗白内障</h3>
                <p class="ssaq_p">白内障唯一有效的治疗方法是手术，药物治疗尚无明显疗效。目前我院开展有<strong>传统白内障超声乳化吸除联合人工晶体植入术</strong>及<strong>飞秒激光辅助白内障超声乳化吸除联合人工晶体植入术</strong>等复明手术。该手术已经非常成熟，是目前眼科里一个常规的小手术，所以你不必担心手术风险。现通过飞秒激光治疗白内障，已取得非常好的效果。
                </p>
                <p class="ssaq_p">
                    <strong>专家提醒：</strong>白内障治疗不应该采用传统的观点到成熟再手术，而应该早发现，影响视力即可手术，这样更利于手术的操作，超声乳化时间短，能量使用小，从而减少损伤，风险更小，术后效果更好。
                </p>
            </div>
            <div class="ssaq_container_three ssaq_container_box">
                <h2 class="ssaq_container_header bnz_container_header">先进仪器设备</h2>
                <p class="ssaq_p">我院白内障屈光中心引进全球最先进的手术设备，美国的飞秒激光白内障Lens AR，ALCON的超乳玻切一体机Constellation和超乳机Centurion，ZEISS的顶级手术显微镜Lumera700等。手术团队由全国白内障手术量第一、中国最著名的白内障手术专家朱思泉教授领衔，全面开展先天性白内障、葡萄膜炎并发白内障、伴有红斑狼疮的白内障、肾移植术后白内障患者等各类疑难、复杂性白内障及抗青光眼等手术，让每一位患者都能获得最恰当的治疗。
                </p>
                <div class="ssaq_imgs_box" id="bnz_img_2">
                    <h2 class="ssaq_container_header bnz_blue">
                        四川第一台
                    </h2>
                    <%= image_tag("bnz_2.jpg") %>
                    <p class="bnz_img_laber">飞秒激光白内障Lens AR（精准、安全、完美）</p>
                </div>
                <div class="bnz_imgs_box_1 bnz_imgs_box">
                    <ul>
                        <li>
                            <%= image_tag("bnz_3.jpg") %>
                            <p class="bnz_img_laber">飞秒激光白内障Lens AR（精准、安全、完美）</p>
                        </li>
                        <li>
                            <%= image_tag("bnz_4.jpg") %>
                            <p class="bnz_img_laber">超乳玻切一体机Constellation </p>
                        </li>
                    </ul>
                </div>
                <div class="ssaq_imgs_box" id="bnz_img_2">
                    <%= image_tag("bnz_5.jpg") %>
                    <p class="bnz_img_laber">顶级手术显微镜OPMI Lumera I</p>
                </div>
                <div class="ssaq_imgs_box" id="bnz_img_2">
                    <%= image_tag("bnz_6.jpg") %>
                    <p class="bnz_img_laber">高端人工晶体</p>
                </div>


            </div>
            <div class="ssaq_container_four ssaq_container_box">
                <h2 class="ssaq_container_header bnz_container_header">
                    白内障飞秒激光手术
                    开启白内障手术无刀时代
                </h2>
                <p class="ssaq_p">为了让患者获得更加完美的视觉效果，银海眼科医院引进全球白内障治疗领域的顶尖技术——飞秒激光手术系统。飞秒激光白内障手术通过激光完成手术切口、撕囊、碎核的制作，是真正的“无刀”手术，精准性、安全性更高，手术切口密闭性更好，术后视觉质量更佳。
                </p>
                <h2 class="ssaq_container_header bnz_container_header bnz_red">
                   相比传统手术具备四大优势：
                </h2>
                <h3 class="ssaq_container_smallerHeader">
                    1、安全微创
                </h3>
                <p class="ssaq_p">在制作切口上无需用刀，采用激光技术进行切口、撕囊、劈核，彻底摆脱了人和器械可能对眼睛的损伤，而且整个过程完全由电脑数字化控制飞秒激光来完成，准确无误，最大程度降低了医生操作的标准差。
                </p>
                 <h3 class="ssaq_container_smallerHeader">
                    2、“无”损伤
                </h3>
                <p class="ssaq_p">飞秒激光通过激光瞬间劈开混浊的晶状体(即白内障)，整个过程由前节OCT影像实时监控，在对眼睛几乎没有损伤的情况下，可按照术前设计准确无误完成劈开混浊晶状体的过程，降低了超声碎核能量创伤，术后恢复得更快。
                </p>
                 <h3 class="ssaq_container_smallerHeader">
                    3、手术适应范围广
                </h3>
                <p class="ssaq_p">飞秒激光的应用，把手术的安全性和成功率提到了一个新高度，使得手术适应症范围不断扩大。只要病人感觉到视物不清晰、影响生活质量，就可选择手术。这就避免了病人从视物模糊到失明这一漫长痛苦的过程，也避免了白内障过熟后引起青光眼、葡萄膜炎等并发症的可能性，同时让部分患者免去了终生不能治疗的痛苦。
                </p>
                 <h3 class="ssaq_container_smallerHeader">
                    4、视觉质量的完善
                </h3>
                <p class="ssaq_p">以往白内障患者对术后视觉的要求仅仅局限于视力的提高。而现在，随着人们生活水平的提高，对术后视觉的要求也逐步提升。近来，几种新型人工晶体的问世给白内障患者带来了福音，但这些高端多功能人工晶体要求整个手术的每一步操作都准确无误。人为操作带来的误差在一定程度上限制了这些高端多功能晶体效果的发挥，而飞秒激光白内障治疗系统是电脑数字化控制，可以达到零误差，为需要获得更加完美视觉质量的患者提供了保障。
                </p>
            </div>

        </div>
  </div>
</div>
