<div class="middle flow">
    <div class="medicineRight">
        <!--揭秘中医疗法-->
        <div class="ChineseMed fr column">
            <div class="ChineseMedTit padB" id="news1">
                <h5>“仙气渺渺”中药雾化</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce">
                <p>薄薄的水雾，如同渺渺的仙气，发挥着神奇的治疗作用。中药液超声雾化已在临床各领域广泛应用，而在眼科的相关作用，你又知道多少呢？</p>
                <%= image_tag("chinese-med_lf_1.png",class: "fl proImgLeft") %>
                <p><b>什么是中药超声雾化?</b></p>
                <p>中药超声雾化是传统中药熏蒸与现代超声雾化结合的产物，通过辨证选方，将中药经蒸馏、提取、浓缩、灭菌制成无颗粒的药液，或直接使用成品中药注射液，通过超声波破坏雾化药液的表面张力和惯性，形成直径5μm以下雾状分子，直接作用于眼睑、结膜、角膜等，较传统熏眼法使用更为简便快捷，避免了全身用药之肝脏首过效应，提高了局部用药的药物浓度。根据功效和用药温度的不同，又分为热雾化和冷雾化。</p>
                <p><b>热雾化</b></p>
                <p>热雾化，相较于冷雾化，更接近于中医眼科传统治疗方法-中药熏蒸，除中药辨证组方的针对性治疗外，利用热能改善眼睛局部血液循环，加速代谢产物排泄，使眼部气血流畅，疏通经络，祛邪导滞，对视疲劳、早期麦粒肿、睑板腺功能障碍、眶上神经痛等具有良好的治疗效果。</p>
                <p><b>冷雾化</b></p>
                <%= image_tag("chinese-med_lf_2.png",class: "fr marL-30") %>
                <p>中药凉雾超声雾化增加了物理性降温的治疗措施，温度控制在10℃～15℃，具有收缩血管，降低神经末梢敏感性的作用，凉爽舒适，易于接受。对缓解眼干涩、异物感、眼痒、眼痛等具有良好的效果，适用于视疲劳、干眼症、滤泡性结膜炎、过敏性结膜炎、传染性结膜炎等各种眼表疾病，适用范围较热雾化更为宽广。</p>
                <p>随着医疗器械的发展更新，中药超声雾化法治疗眼表疾病方面，以其适应症广泛、运用方便、患者接受度高、疗效显著而得到快速发展，推广迅速，展示了良好了临床运用前景。但中药组方复杂多样，眼科临床常用的中药雾化，大多是经验用药，而成都中医大银海眼科医院以成都中医药大学眼科学院、眼科研究院为依托，对中药雾化方的选取、雾化液的安全性及有效性进行了科学系统的实验研究，期待在临床为更多患者服务！
                </p>
                <div class="bottomWord">
                    <p>成都中医大银海眼科医院 中医眼科中心</p>
                </div>
            </div>
            <div class="ChineseMedTit padB" id="news2">
                <h5>小小离子治眼病</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce centerImg">
                <p>离子，与分子、原子一样，是构成物质的基本粒子。在化学变化中，原子或原子团得失电子后形成的带电微粒称作离子。带正电的称为阳离子，带负电的称为阴离子。所以，离子是形成物质的一种小小的带电微粒，存在于自然界的一切物质之中，我们看不见它们，它们却真实存在。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("chinese-med_lf_3.png") %>
                </div>
                <p>药物离子导入法应用于临床治疗疾病，发源于十八世纪末期十九世纪初，至今已有两百多年的历史。该治疗的原理是：因为离子是带电微粒，根据同性电荷相斥，异性电荷相吸的原理，在直流电作用下，可将带不同电荷的药物离子导入人体内。</p>
                <p>人体皮肤表面有大量的毛孔、皮肤腺和汗腺导管的开口，它们是药物离子进入人体的通道。药物离子首先在皮肤内形成“皮肤离子堆”，然后逐渐进入血流，被人体吸收，以达到药物治疗疾病的目的。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("chinese-med_lf_4.png") %>
                </div>
                <p>目前，在眼科临床工作中，中药离子导入疗法也因其良好的疗效而得到了广泛的应用。中药黄连、黄芩等清热解毒，凡因热毒上攻所致的眼病，如睑板腺炎、急性结膜炎、眼部疔疮痈肿皆可用其做药离子导入治之；三七、丹参、川芎、红花等活血祛瘀，通络散结，可应用于前房积血、玻璃体积血、糖尿病性视网膜病变等出血性疾病；枸杞子、茺蔚子、山药、菟丝子等补益肝肾，可将其离子导入用于萎缩性老年性黄斑变性、高度近视眼底改变、视疲劳等肝肾不足所致的眼病。中药在眼科的运用千变万化，中药离子导入疗法也是随症改变，满足临床治疗不同的需要。</p>
                <p>在治疗过程中要注意，向医生如实告知病情及既往病史，高热、恶病质、心力衰竭、湿疹、妊娠、有出血倾向者，治疗部位有金属异物者，带有心脏起搏器者，以及其他对直流电不能耐受者，禁用本法。</p>
            </div>
            <div class="ChineseMedTit padB" id="news3">
                <h5>眼睛也要“艾”</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce centerImg">
                <p>艾灸，大家都很熟悉，用艾叶制成的艾灸材料，比如艾条，艾柱，它们燃烧产生的热量刺激体表穴位或特定部位，能够疏通经络，行气活血，从而防病治病。在艾灸治疗中，其原材料“艾”是非常重要的。清代吴仪洛在《本草从新》中说：“艾叶苦辛，生温熟热，纯阳之性，能回垂绝之亡阳，通十二经，走三阴，理气血，逐寒湿，暖子宫，止诸血，温中开郁，调经安胎，......以之艾火，能透诸经而除百病。”小伙伴们都知道，腰酸背痛腿抽筋了，就需要“艾”一下。袅袅升腾的烟雾中，舒舒服服地躺在床上，刺激穴位，经络打开，全身都舒坦了。</p>
                <p>可是，有几位小伙伴知道，眼睛不舒服了，也是需要“艾”的呀？</p>
                <p>艾灸，同样适用于眼科疾病，尤其适用于视疲劳、麻痹性斜视、动眼神经麻痹、眼肌型重症肌无力、上睑下垂、视神经萎缩等疾病。眼部艾灸通过疏通眼部的经脉气血,保护眼睛，恢复视力,养血明目,从而达到防治多种眼疾的作用。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("chinese-med_lf_5.png") %>
                </div>
                <p>也许小伙伴们会担心眼部艾灸会灼伤面部肌肤，甚至眼睛，但医生告诉你，这种担心是不必要的。首先，眼部艾灸的穴位分布于眼周及面部，如眉弓的攒竹、鱼腰、丝竹空，外眦的瞳子髎、太阳，内眦的睛明，眼眶下的四百、承泣，医生不会直接在眼球上进行艾灸治疗，不存在损伤眼球的情况。</p>
                <p>其次，随着中医药现代化的发展，艾条制作工艺和艾灸器使用方法已经能满足不同部位艾灸治疗的要求，为临床艾灸治疗提供多种选择。最后，所有的艾灸治疗，全程由专业眼科医生和针灸医生保驾护航，您只需要往床上一躺，其余的，交给我们！</p>
                <p>小伙伴们，当眼睛出现干涩疼痛、视物不清、迎风流泪、上睑下垂、眼球转动不灵等不适时，记住哦，眼睛也要“艾”。</p>
            </div>
            <div class="ChineseMedTit padB">
                <h5>壮医药线点灸疗法</h5>
            </div>
            <div class="diseaseOne ChineseCen-introduce centerImg">
                <p>壮医药线点灸疗法是流传于壮族民间的一种治疗方法，是通过点燃经壮医秘方浸泡过的苎麻线直接烧灼患者体表的一定穴位或者部位来疏通“龙”路（人体里血液的通道，壮医也称之为“血脉”）、“火”路（人体内的传感通道，类似于现代医学的神经系统），以达到预期的治疗目的，具有温经散寒、调节气血、消肿止痛、祛风止痒、活血化瘀散结等作用。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("chinese-med_lf_6.jpg") %>
                </div>
                <p>在眼科疾病方面，常用壮医药线点灸治疗眼睑黄色瘤、眼周湿疹、头面部的荨麻疹、带状疱疹等眼病。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("chinese-med_lf_7.jpg") %>
                </div>
                <p>因为要用于头面部，眼科用的壮医药线选用较细的苎麻线，直径约0.5-0.7毫米，相当于圆珠笔笔尖大小。一般常用的药线灸法为点灸和熏灸：</p>
                <p>1.点灸：灸火直接接触病灶。即将药线充分点燃，然后吹灭火焰，得到一段饱满的炭火星（称为珠火），然后对准病灶，直接点按上去，要求动作轻、快、准，点灸的局部有蚁轻咬样的烧灼感，但疼痛不明显，大多在可承受范围之内。主要用于眼睑黄色瘤、眼周湿疹和带状疱疹等病灶在皮肤上面的疾病。</p>
                <div class="marT-15 marb-15">
                    <%= image_tag("chinese-med_lf_8.jpg") %>
                </div>
                <p>2.熏灸：灸火不接触病灶，只是隔空用药线点燃的温热熏灸患处。主要针对一些病灶部位在黏膜处的眼病，如散粒肿、翼状胬肉、眼睑及球结膜肉芽等。</p>
                <p>壮医药线点灸具有简便、廉价、有效等特点，而且无毒副作用，无化学污染，而且经过秘方浸泡过的苎麻线，点灸后具有不留疤、不易感染的特点。非常便于在门诊推广运用。</p>
            </div>

        </div>
        <!--揭秘中医疗法-->
    </div>
</div>