<%= render 'centers/center_tkd' %>
<div class="headerNum" id=0 >
    <%= render "centers/bnzTop" %>
</div>
<!-- 复用近视页面格式 -->
<div class="ssaq_index">
    <div class="ssaq">
        <div class="ssaq_header">
            <h1>斜视</h1>
            <time class="ssaq_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <p class="ssaq_p">
            斜视（strabismus）是指斜视是指一眼注视目标, 另一眼视线偏离目标的现象。 可因双眼单视异常或控制眼球运动的神经肌肉异常引起。
        </p>
         <p class="ssaq_p">
            斜视严重影响美观，斜视患者常被人起外号，难免给患者心理健康蒙上阴影，从而造成其孤僻、自卑及反常的心理， 所以要鼓励家长尽早为患儿做治疗。
        </p>
        <div class="ssaq_container">
            <div class="ssaq_container_box xs_container_box_one">
                <h2 class="ssaq_container_header">
                    斜视的分类
                </h2>
                <div class="ssaq_imgs_box" id="xs_img_1">
                    <%= image_tag("xs_1.jpg") %>
                </div>
                <h3 class="ssaq_container_smallHeader">1、内斜视</h3>
                <p class="ssaq_p">
                 一眼或双眼向内侧偏斜，双眼分别注视和各个方向。
                </p>
                <div class="ssaq_imgs_box" id="xs_img_2">
                    <%= image_tag("xs_2.jpg") %>
                </div>
                <h3 class="ssaq_container_smallHeader">2、外斜视</h3>
                <p class="ssaq_p">
                 双眼视轴分离，一眼或双眼交替间歇性或者恒定性外斜，遮盖注视是非主视眼由外向内转，向正前方注视。
                </p>
                <div class="ssaq_imgs_box" id="xs_img_3">
                    <%= image_tag("xs_3.jpg") %>
                </div>
                <h3 class="ssaq_container_smallHeader">3、垂直斜视</h3>
                <p class="ssaq_p">
                 垂直斜视一般根据高位眼诊断。垂直性斜视病因很多，先天性的可以是解剖异常或神经肌肉麻痹，获得性的可以是闭合性颅脑外伤，眶壁骨折和眶肿瘤及全身性病变等。
                </p>
                <div class="ssaq_imgs_box" id="xs_img_4">
                    <%= image_tag("xs_4.jpg") %>
                </div>
            </div>
            <div class="ssaq_container_box xs_container_box_two ssaq_container_last">
                <h2 class="ssaq_container_header">
                    斜视的治疗目的
                </h2>
                <p class="ssaq_p">
                   儿童斜视治疗的建议时间：先天性一般在6个月以内手术为佳，在5岁以内做手术为宜。
                </p>
                <h3 class="ssaq_container_smallHeader">  儿童斜视治疗的主要目的：</h3>
                <p class="ssaq_p">
                   1、矫正屈光不正；
                </p>
                <p class="ssaq_p">
                    2、有弱视的需要先行弱视训练；
                </p>
                <p class="ssaq_p">
                    3、进行一些训练尽可能让眼球达到正位；
                </p>
                <p class="ssaq_p">
                    4、戴镜以后仍然存在斜视，或者经过弱视训练弱视眼睛恢复到了一定程度，就可以采用手术治疗。
                </p>
                <h3 class="ssaq_container_smallHeader"> 成人斜视治疗的主要目的：主要纠正眼部的外观。</h3>
            </div>


        </div>
    </div>
</div>

