<div class="middle flow">
    <%= render "centers/bnzLeft" %>
    <!--设备宣传-->
    <div class="careUnit fr">
        <h5>白内障屈光治疗部</h5>
        <p class="careUnitTitle"><span>设备宣传</span></p>
        <div class="careUnitContent equipment surgeryContent">
            <p class="surgeryTitle">1.飞秒激光白内障：美国Lens AR</p>
            <div class="surgeryDetail">
                <h5>LENSAR</h5>
                <h5>——非接触式3D飞秒白内障激光手术系统</h5>
            </div>
            <p>LensAR激光手术系统使用精准的飞秒激光达到微米級以上的组织切削；LensAR飞秒激光并且使用了3D影像技术精准定位眼內组织位置并引导激光精准切割，有助于提高手术的安全性和精准度。</p>
            <p>传统白内障手术医科医生用钻石刀切开角膜，并使用器械进入眼内，以手工方式对晶状体前囊进行连续环形撕囊，接着使用超声粉碎将白内障核块乳化并且吸出后，再植入人工晶体。然而人工一定会有误差，使得角膜切口和环形撕囊无法达到完美，进而影响术后效果。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_1.png") %></p>
            <p>LensAR非接触式3D飞秒白内障激光手术系统，以增扩实景(Augmented Reality)技术即时扫描并重组眼球3D立体模型，提供手术医生对病人眼球内部前后、左右及晶状体倾斜等立体概念以及各项数据，进而能依据病人情况定制手术程序，包括：角膜立体切口、激光连续环形撕囊、白内障核块分割以及散光角膜切口等。</p>
            <h6>LensAR患者接口部分</h6>
            <p>LensAR使用非接触式患者接口；患者接口包括负压环以及激光参考锥镜。冲液式的负压环以极低的负压固定眼球，注入液体与锥镜对接，完全不接触角膜，不会压迫角膜造成角膜变形而使激光散射。LensAR非接触式患者接口，可提升患者在手术中的舒适度，并且能维持患者角膜的完整形态，使激光能精准发射，没有任何失误。</p>
            <h6>LensAR 角膜切口</h6>
            <p>使用激光精确制作角膜切口，可以使手术切口平整一致，并且能精准控制切口大学及形状；其3D立体切割模式，可使术后切口密合度极佳完全不漏水，大幅降低感染风险，术后恢复更快。</p>
            <p class="surgeryImg">
                <%= image_tag("bnzqgy_2.png") %>
            </p>
            <h6>LensAR激光环形撕囊</h6>
            <p>传统白内障手术使用前端为钩针状的撕囊镊手动先撕出一个小开口，再慢慢撕成一个圆形开口；撕囊口的大小、居中性及形状相当重要，其影响人工晶体植入后的位置及稳定性。由于囊袋会随时间向圆形开口中心紧缩，会带着IOL一起移动，若圆形开口不够圆不够居中，可能使IOL随时间偏移；每偏移1mm,便可以产生125度散光。使用LENSAR飞秒白内障手术系统，使用3D影像系统精准定位晶状体前囊，并以电脑控制前囊开口大小及中心位置，再使用激光切割出完美前囊圆形居中开口，使手术效果更佳。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_3.png") %></p>
            <h6>LensAR飞秒激光碎核</h6>
            <p>一般白內障超声乳化手术，白內障越成熟，所需使用的超声能量及负压越高，对角膜内皮细胞造成的伤害越大；手术时间也较长，容易对悬韧带造成压迫，或是造成后囊破裂。LENSAR飞秒激光手术系统使用激光先将白内障核块分割成小块，使超乳很容易就将白内障核块乳化吸出，能够大幅降低手术中所使用的超声能量，大大提升白内障超乳手术的效率及安全</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_4.png") %></p>
            <p class="surgeryTitle">2.ICL——V4C</p>
            <div class="surgeryDetail">
                <h5>V4C新型晶体</h5>
                <h5>——矫正超高度近视眼的高端选择</h5>
            </div>
            <p>成都中医大银海眼科医院使用的Visian ICL来自瑞士，已在全球70多个国家上市，植入超过500,000枚，在世界范围内被眼科屈光手术医生接受。新一代Visian ICL(V4c) 于2011年4月在欧洲上市，2014年10月进入中国。</p>
            <h6>权威认证，安全可靠</h6>
            <p>前中央孔型ICL-V4C 晶体是ICL晶体植入术中的新晶体型号。该晶体具有全球专利，由瑞士独家生产，同时也是全球唯一通过美国食药监局、欧盟强制性产品安全认证委员会、中国食药监局三大权威机构共同认证的医疗产品。与角膜屈光手术不同，ICL不会改变眼球结构，而是隐蔽地置于眼睛的后房，和人本身的晶状体共同作用来矫正视力。</p>
            <h6>更安全、更舒适</h6>
            <p>如果将ICL晶体植入手术称为晶体植入手术的1.0时代，那么运用ICL-V4C技术的晶体植入术就是在原有技术上深度创新升级的2.0时代。ICL-V4c镜片中心加入的360微米中心孔设计，术中无需再进行晶体植入1.0时代必须实施的激光虹膜打孔，消除了因虹膜周切孔阻塞或太小引起的术后高眼压，并且保障了晶状体更多的自然房水流通，从而大大降低了术后白内障的发病率。真正做到了眼睛组织的零伤害。晶体植入2.0技术更安全、手术步骤减少，为术者营造了更舒爽、更安全的手术体验。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_5.png") %></p>
            <h6>微创、可逆性强</h6>
            <p>高度近视让人的生活四处受阻，不少人想做手术却又因顾虑手术风险而摇摆不定。ICL晶体植入手术不伤害眼睛组织结构，保留天然晶体。同时ICL晶体可折叠特性使得手术切口仅需2.8-3.0mm的切口，而一般晶体植入手术的切口通常为6mm。ICL可以永久性地置入眼内。但如果手术发生过矫、欠矫或佩戴不合适，晶体也可取出或进行更换。相比于激光近视手术，ICL晶体植入术的可逆性是它的另一大特点。
                下面一张图显示的是ICL晶体的真实的形态，是一种很薄的镜片，很软，只需要通过6mm的切口就可以放入眼内。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_6.png") %></p>
            <h6>量眼定制 完美匹配</h6>
            <p>ICL-V4c秉承个性化定制的原则，根据每个人的近视、散光度数和眼部数据全面精细的测量结果，量眼定制镜片。镜片不仅精密匹配个人屈光度数，更是与眼睛内部生理构造完美贴合。</p>
            <p>此外，ICL-V4c晶体采用高科技专用材料Collamer，它是一种胶原类材料，在人体内没有排斥反应，也不会与眼睛任何组织发生反应。Collamer含有紫外线阻断基因，可以有效阻断有害紫外线UVA、UVB，从而有效遏制了因紫外线引发的相关眼病：这一切只为让摘镜人士的佩戴更加舒适、自然，为他们重构清晰、惊艳的精彩视界。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_7.png") %></p>
            <p class="surgeryTitle">3.超乳玻切一体机：ALCON的Constellation</p>
            <div class="surgeryDetail">
                <h5>Constellation</h5>
                <h5>——玻璃体手术设备技术新应用</h5>
            </div>
            <p class="surgeryImg"><%= image_tag("bnzqgy_8.png") %></p>
            <p>Constellation是爱尔康公司才进入中国市场的新的玻璃体手术设备。由于公司在玻璃体设备方面的领先地位和巨大的研发能力，Constellation是目前国际上技术水平极高的玻璃体手术设备，其应用的新的革新性的技术使玻璃体手术设备有了质的飞跃。Constellation是集玻璃体手术，超声乳化手术，光凝为一体的多功能手术平台，功能丰富且实用，</p>
            <h6>高速玻璃体切割和可控开合比：</h6>
            <p>玻璃体设备的技术进步一直伴随这玻璃体切割速率的提高，越高的切割速率意味着越小的玻璃体扰动和对视网膜越小的牵拉，也意味着更高的安全性和更少的术源损伤，因此追求更高的速率目前仍是各玻璃体手术设备厂商的重要目标。Constellation实现了7500cpm（一分钟7500次切割往返）的切割速率。高切速使医生敢于更贴近视网膜进行切割，并且对于浮动的视网膜由更好的保护作用，提高了手术安全性。
                但是传统的弹簧驱动技术再更高切速下会带来切割效率降低的弊端，并且机械振动会加大(见图-1)，因此传统的弹簧驱动技术在越来越高的切速下显出其弊端。Alcon公司为彻底解决这个问题，突破性的使用了双气路驱动的玻切头技术。(见图-2)</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_9.png") %></p>
            <p>因为玻切头工作的往返都由气动驱动，因此往返速度和时间就变得可控，在同样切速下，能够在一个往返周期内实现更大的开口时间和更快的运动速度，因此也就实现了更高的玻璃体切割效率。由于此技术的应用，Constellation的切割效率在7500cpm切速时仍然大大高于传统技术2500cpm切速的效率。同时，Constellation还允许客户自己设定开合比，以确定是效率优先还是安全优先，因为有时贴近视网膜操作和漂浮的视网膜需要医生更精确地控制，所以开合比控制技术给医生一个新的选择。</p>
            <h6>实时动态眼内压控制：</h6>
            <p>玻璃体手术的眼内灌注一直是玻璃体手术重要组成。以往都是通过重力灌注或是气体加压灌注。所谓重力灌注就是利用灌注瓶和患者眼睛的高度差实现灌注，加压灌注是利用机器对灌注瓶内的气体实现加压，其效果等同于重力灌注，但是可以通过机器实现控制，不用认为提高或降低灌注瓶。</p>
            <p>目前市场上除Constellation以外，均采用重力灌注或气体加压灌注。传统灌注技术在20g手术中的弊端并不明显，但是随着微创手术的普及，传统灌注技术的弊端逐渐显现出来。因为微创手术的灌注管路更细，阻力更大，因此为保证术中不出现眼压过低，就需要提高瓶高或灌注压力，这往往会造成术中眼压波动过大，导致患者眼底缺血而损伤视神经或是术中出现低眼压。</p>
            <p>Constellation通过一种流量监测和反馈技术，实现了机器稳定控制眼压的能力。Constellation可以实时检测到灌注液的流速并且计算出灌注管道阻力，然后对灌注液进行压力的自动补偿，这样实现了整个手术操作过程中眼内压始终在一个恒定的范围内，无需医生去关注眼压的变化，避免了前面提到的高眼压的损伤和低眼压的风险。</p>
            <p>这项技术的突破使得玻璃体手术首次可以在可控的眼压范围内进行，可以在更安全合理的眼压范围内实现全程手术，大大提高了手术的安全性和减少并发症。是玻璃体手术技术的一次突破。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_10.png") %></p>
            <h6>新的技术特点：</h6>
            <p>Constellation还提供了许多新的技术，让医生由更多选择和手段完成手术。</p>
            <p>优化的氙灯照明：照明是玻璃体手术中的重要因素，尤其微创玻璃体手术普及以来，照明变得更为重要。Constellation的优化氙灯照明不但提供了足够的亮度，还优化了色温，使手术医生能够更清晰地辨别眼内组织，方便手术进行。</p>
            <p>内置激光：内置的532nm激光非常方便实用，可以使手术更顺利进行，不用更换机器操作。其配置的各种激光头也更适合微创手术和周边部激光的操作。</p>
            <p>连续反吐功能：Constellation提供了连续反吐的功能，医生可以利用这个功能代替更多笛针的工作，减少器械进出眼内的机会。惰性气体自动配比：Constellation增加了地形气体自动配比功能，省去了医护人员的工作，刷手助手就可以完成气体配比操作，减少了手术室人员。</p>
            <p>多功能脚踏：Constellation的脚踏板提供很多功能并可以根据医生要求自己设定，因此医生有了更多的控制能力，方便手术进行，也减少了助手的配备或工作量。</p>
            <p>双泵系统：目前超乳和玻切设备主要采用蠕动泵和文氏泵两种负压形式。这两种形式各有优缺点。文氏泵(负压)产生负压迅速，响应灵敏，控制精度高，但是对于初学者可能控制难度稍大。蠕动泵(流量控制)通过流量控制负压，有点是流量稳定，波动小，但是负压产生和消除都比较慢，反映不灵敏，效率低。不同手术类型和不同水平的医生往往会选择不同的泵的类型。为了适应这种情况，Constellation内置了两种泵，并且在工作中可以随时切换，这样就为不同手术类型和不同医生提供了方便和灵活选择的负压控制方式，这也大大提高了这种设备的适应性，使它可以适合更多手术医生的习惯和操作方式。</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_11.png") %></p>
            <p class="surgeryTitle">4.超乳机：ALCON的Centurion</p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_12.png") %></p>
            <p class="surgeryTitle">5. 手术显微镜：蔡司的Lumera 700 </p>
            <p class="surgeryImg"><%= image_tag("bnzqgy_13.png") %></p>
            <P class="surgeryTitle">6.IOL Master</P>
            <p class="surgeryImg lastSurImg"><%= image_tag("bnzqgy_14.png") %></p>
        </div>
    </div>
    <!--设备宣传-->
</div>