<%= render 'centers/center_tkd' %>
<!--banner-->
<div>
    <%= image_tag("fundiDisease-banner.jpg") %>
</div>
<!--banner-->
<!--科室简介-->
<div class="centerModule flow cataractCenterWord" id="module1">
    <div class="fl imgW580">
        <%= image_tag("fundiDisease-member.jpg") %>
    </div>
    <div class="fr centerWords">
        <h5 class="h5Title">眼底病中心</h5>
        <p>眼底病科是银海眼科医院的重点特色专科，由著名眼科专家、国家中医药管理局中医五官科眼科带头人、现任银海眼科医院院长的段俊国教授和国内知名眼底病专家、曾供职于中山眼科中心、北京同仁医院眼科、现任银海眼科医院医疗质量总监、眼底外科主任的刘文教授领衔，带领一大批经验丰富的眼底病医疗人员，以现代西医眼科理念及技术结合传统中医药诊治手段，中西合璧，以打造国内一流为目标的眼底病专科。中心所开展的特色业务：视网膜脱离外路显微手术；25G、27G微创玻切手术；玻璃体消融术治疗玻璃体混浊；多波长眼底激光治疗；中西医结合治疗糖尿病性视网膜病变；抗VEGF玻璃体腔注射等国内外先进的技术，为患者提供最优质、最专业的诊疗服务。专业诊治各类黄斑病变、玻璃体及视网膜疾病、眼外伤、葡萄膜病、视神经疾病以及全身疾病相关性眼病。专科拥有欧宝超广角眼底照相仪、海德堡OCT及OCTA仪、蔡司OCT及OCTA仪、海德堡眼底血管造影仪（FFA+ICGA）、科医人Vision One量子芯片多波长眼底激光机、爱尔康Constellation玻切超乳一体机、蔡司OPMI Lumera 700手术显微镜及RESIGHT非接触广角镜等国际最先进的诊疗设备，能为患者提供代表国际前沿的诊疗服务。</p>
    </div>
</div>
<!--科室简介-->
<!--科室专家-->
<div class="centerModule padB25" id="module2">
    <p class="blueBTitle">
        <span>科室专家</span>
    </p>
    <div class="cataractCenterDoctor flow">
        <div class="CenterLeader fl">
            <% user = User.alive.role_code_is('common_user').name_is('段俊国').first %>
            <%= link_to image_tag('doctors/段俊国.jpg'), user.present? ? doctor_path(user.try(:id)) : expert_path(:段俊国教授) %>
            <div class="leaderMask">
                <div class="">
                    <h4 class="h5Title"><%= user.try(:name) %></h4>
                    <p><%= user.try(:honour_brief_introduction) %></p>
                </div>
                <p><span>擅长领域：</span></p>
                <p><%= user.try(:good_at_field).try(:html_safe) %></p>
            </div>
        </div>
        <div class="centerMemberCon fr">

            <div class="centerMemberList">
                <% users = [
                    {name: '刘文', fake_name: '刘文教授'},
                    {name: '王国平', fake_name: '王国平'},
                    {name: '李强', fake_name: '李强主治医师'}
                ]%>
                <ul class="flParent">
                    <% users.each do |u|%>
                      <li>
                          <% user = User.alive.role_code_is('common_user').name_is(u[:name]).first %>
                          <%= link_to image_tag('doctors/'+u[:name]+'.jpg'), user.present? ? doctor_path(user.try(:id)) : expert_path(u[:fake_name].to_sym) %>
                          <div class="maskName"><%= u[:name] %></div>
                      </li>
                    <% end %>
                </ul>
            </div>
            <div class="cataractAdvantageCon">
                <p class="">优势病种</p>
                <ul class="centerAdvantage fl flParent fundiDiseaseAdvantage">
                    <li><i class="little icon_advantageList"></i> 视网膜脱离</li>
                    <li><i class="little icon_advantageList"></i> 糖尿病性视网膜病变</li>
                    <li><i class="little icon_advantageList"></i> 视网膜血管性疾病</li>
                    <li><i class="little icon_advantageList"></i> 黄斑病变</li>
                    <li><i class="little icon_advantageList"></i> 视神经疾病</li>
                    <li><i class="little icon_advantageList"></i> 葡萄膜疾病、各类玻璃体视网膜疾病及全身疾病相关性眼病</li>
                </ul>
            </div>

        </div>

    </div>
</div>
<!--科室专家-->
<!--医疗设备-->
<div class="centerModule" id="module3">
    <p class="blueBTitle">
        <span>医疗设备</span>
    </p>
    <ul class="EquipmentSlides">
        <li>
            <div>
                <div>
                    <%= image_tag("eyesight_equ1.jpg") %>
                </div>
                <p>爱尔康Constellation玻切超乳一体机 </p>
            </div>
            <div>
                <div>
                    <%= image_tag("eyesight_equ2.jpg") %>
                </div>
                <p>海德堡OCT</p>
            </div>
            <div>
                <div>
                    <%= image_tag("eyesight_equ3.jpg") %>
                </div>
                <p>科医人Vision One量子芯片多波长眼底激光机</p>
            </div>
        </li>
        <li>
            <div>
                <div>
                    <%= image_tag("eyesight_equ4.jpg") %>
                </div>
                <p>欧堡超广角眼底照相仪</p>
            </div>

        </li>
    </ul>
</div>
<!--医疗设备-->
<!--诊疗项目-->
<div class="centerModule" id="module4">
    <p class="blueBTitle">
        <span>诊疗项目</span>
    </p>

    <div class="advListContainer">
        <p class="advBlueTitle marT20">视网膜脱离外路显微手术</p>
        <p>视网膜脱离是因为视网膜裂孔引起的急性致盲性疾病，需要及时、专业的治疗，否则可能预后不良，甚至出现严重并发症，恢复更差。应遵循能作外路手术就不作玻璃体手术的理念，坚持最小量手术的原则。视网膜脱离外路手术目前分为两种手术方式，一是间接检眼镜下的视网膜脱离外路手术，另一是由刘文教授独创的显微镜直视下的外路视网膜脱离手术，简称视网膜脱离外路显微手术。前者虽然运用广泛，但是具有术中视野放大倍数低，术中视野小，眼底影像是倒向，学习曲线长，术后视网膜下液吸收完全的时间久等缺点。而后者完全克服了上述缺点，具有手术视野清晰、放大倍数高、操作简便、裂孔定位精确及视网膜复位确切等优点。视网膜脱离外路显微手术术后病人恢复时间短，视力恢复效果好，是符合适应症的视网膜脱离治疗方式的正确选择。</p>
        <p class="advBlueTitle">微创玻璃体切除术</p>
        <p>微创玻璃体切除术是对传统玻璃体手术的有效改进，它直接通过结膜在巩膜上穿刺并放置微创导管，通过导管进行灌注及器械进入眼内操作，避免了常规玻璃体手术的切口并发症，大大降低了因切口并发症引起的视网膜脱离复发率。同时，微创玻璃体手术还具有手术时间短、结膜瘢痕小、术源性散光小、术后炎症轻、患者舒适度高、恢复时间短等众多优点。随着配套器械的进一步完善和医生操作技术的娴熟，其适应症范围不断扩大，目前已经能完成大多数常见玻璃体视网膜手术。</p>
        <p class="advBlueTitle">中西医结合治疗糖尿病性视网膜病变 </p>
        <p>糖尿病病人的心、脑、肾及眼部并发症是危害病人健康的最主要原因。其病理机理均是首先破坏微循环，造成毛细血管无灌注，诱发新生血管生长，诱发一系列的严重反应。目前，以段俊国院长为首的专家组采用中医药治疗糖尿病性微血管病变获得重大成果奖，针对机体采用整体观念，对患者进行辩证论治，制定个性化方案，在糖尿病微循环病变治疗领域代表了中医界的最先进理念。当糖尿病视网膜病变发展到比如增殖前期或增殖期时，就需要现代医疗手段介入，例如眼底血管造影、眼底激光、玻璃体腔注射抗VEGF药物甚至是玻璃体切割手术等。而以刘文教授为首的医疗团队，手术技术娴熟，治疗方案选择精准，能为患者提供国内外前沿的诊治技术。传统医学与现代医学在这里取长补短，完美融合。正所谓中西合璧，所向披靡。</p>
        <p class="advBlueTitle">多波长激光</p>
        <p>多波长激光机具有发射三种不同波长激光的能力，能根据不同眼底疾病情况灵活选择最适宜的波长进行治疗，主要用于各种视网膜、脉络膜病变的治疗。单波长激光机无法完成的情况能轻松应对，故多波长激光机具有单波长激光机无可比拟的优势。</p>
        <p class="advBlueTitle">抗VEGF药物玻璃体腔注射</p>
        <p>抗VEGF药物作用主要在两个方面：抑制新生血管形成和发展；减轻血管渗漏引起的渗出、水肿和炎性反应。常用于湿性老年性黄斑变性、糖尿病性视网膜病变、视网膜静脉阻塞、特发性脉络膜新生血管、息肉样脉络膜血管病变、视网膜血管瘤样增生、早产儿视网膜病变、Coats病以及高度近视黄斑出血等新生血管性疾病所致眼底出血以及黄斑水肿。</p>
    </div>
</div>
<!--诊疗项目-->
<!--科室新闻-->
<!--<div class="centerModule">-->
    <!--<p class="blueBTitle">-->
        <!--<span>科室新闻</span>-->
    <!--</p>-->
    <!--<div class="SectionNewsList">-->
        <!--<div>-->
            <!--<a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000465&idx=1&sn=bdf61e52057dd3d7c395905337bcda11&chksm=7d4c42854a3bcb934ffb77f9aed64d24ac2a3c459e2a7b446637ab3b6872c0f26b33ff4d6e02#rd" target="_blank" >-->
                <!--<%= image_tag("yd_newsImg_wgp.jpg") %>-->
                <!--<div class="fr SectionNewsRight">-->
                    <!--<h4>【银海名医——王国平】一个“五代医学世家”的“银海梦”</h4>-->
                    <!--<p>“我家五代从医，我爷爷的爷爷，清朝时在遂宁县是小有名气的中医。”5日下午小编前来采访时，成都中医大银海眼科医院眼底外科，副主任医师王国平略显骄傲地透露了这个小秘密。平时低调寡言的他在工作时更是忘我，一旁的护士和病人听到这个小秘密，目光中投来的满满的敬意。</p>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000330&idx=3&sn=8a77589304dda2a6ed5f6a3f1701736f&chksm=7d4c421e4a3bcb08657c446c11af147f2e24db1478da2fdd61feb6eaf7d8409ce9dad61fddd0#rd" target="_blank" >-->
                <!--<%= image_tag("fundiDisease-newsImg1.jpg") %>-->
                <!--<div class="fr SectionNewsRight">-->
                    <!--<h4>19岁大男孩因眼疾丢掉工作，终在银海重启光明！</h4>-->
                    <!--<p>最近一段时间成都持续高温，炎热的天气似乎让树上的知了也失去了聒噪的力气，萎靡在阴凉处，窃窃私语。比起窗外的烈日炎炎，守在儿子病房边的夫妇二人此时的内心却如寒冬！</p>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=3&sn=8067e5b285df397b219168065127daf9&chksm=7d4c42374a3bcb217588fe2fd009a7176a77e1cc8e116b7c2764dfb382cd79cd308d1b6f8e7f#rd" target="_blank" >-->
            <!--<%= image_tag("fundiDisease-newsImg2.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<h4>视网膜脱离的海外工程师：瞄不到妹子很难过！</h4>-->
                <!--<p>初次见到张侃（化名），他正躺在病床上无聊的玩着手指。表明来意后，张侃仿佛一下打开了话匣子，滔滔不绝。我俩谈话的内容从大学专业到人生哲理，从海外风土人情到隔壁妹子，相谈甚欢之下大有“桃园结义”的架势。我很难想象如此乐观的他，面对眼疾时也会无助，惆怅。</p>-->
                <!--<p>他强调得最多一件事就是：视力受阻后，瞄不到妹子很难过！</p>-->
            <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=2&sn=39c61867b3b98f6988a34502c3815f1d&chksm=7d4c42374a3bcb212cd931503646510eef358e1dfbe04278bc100036b96b20922c0491fb7068#rd" target="_blank" >-->
            <!--<%= image_tag("fundiDisease-newsImg3.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<h4>【喜讯】热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</h4>-->
                <!--<p>8月20日，四川省第二届院长城市圈高峰论坛暨第五届“榜样中国·我心目中的名医”大型公益评选活动颁奖典礼在四川日报报业集团举行。</p>-->
                <!--<p>“我心目中的名医”、“我心目中的人气名医”、“我心目中的名医（科室）”、“优秀家庭医生”等13个奖项的获奖名医一一揭晓，数百人在现场见证了这一荣耀时刻。我院院长助理、小儿眼科主任、眼视光学术带头人袁晓辉教授被邀参加《健康方程式》栏目，就网友关心的眼健康问题进行了耐心解答。</p>-->
            <!--</div>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000360&idx=1&sn=3be7fe0449c94608bb60867e3b93d045&chksm=7d4c423c4a3bcb2a3dd5cc60953281f66343e575774c722d5b9d4081eb29aa0381ea521e2b5c#rd" target="_blank" >-->
            <!--<%= image_tag("fundiDisease-newsImg4.jpg") %>-->
            <!--<div class="fr SectionNewsRight">-->
                <!--<h4>八旬太婆亲送锦旗：你是我见过最好的医生！</h4>-->
                <!--<p>近日，患者白成秀及其家属将一面锦旗送到成都中医大银海眼科医院刘文教授的门诊室，以表达对刘文教授及医护人员的感激和赞扬之情。今年81岁的白婆婆，思维清晰，比起同龄的老人精神要矍铄很多，但谈起病情，白婆婆一脸的无奈。</p>-->
                <!--<p>她说：“半个月前，自己右眼突然看不见了，眼前只有一片红色。起初自己还不在意，在女儿的极力劝说下，才来医院检查”。</p>-->
            <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--科室新闻-->
<% content_for :script do %>
<%= javascript_include_tag 'jquery.jDiaporama' %>
<script>
    $(document).ready(function(){

        $(".EquipmentSlides").jDiaporama({
            animationSpeed: "slow",
            delay:5,
            auto:true
        });
    });
</script>
<% end %>
