<style>
    .dia-banner{
        width: 1200px;
        height: 250px;
        position: relative;
        overflow: hidden;
    }
    .banner-inner {
        width: 4800px;
        height: 250px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .banner-inner li{
        width: 1200px;
        height: 250px;
        float: left;
    }
    .banner-inner img{
        display: block;
        vertical-align: middle;
    }
    .dia-banner .ctrlbtn a{
        display: block;
        position: absolute;
        top: 50%;
        width: 40px;
        height:100px;
        line-height: 100px;
        text-align: center;
        cursor: pointer;
        font-size: 24px;
        margin-top: -50px;
        color: white;
        background: rgba(100,100,100,.5);
    }
    .ctrlbtn .prevBtn{ right: 0; font-family: "宋体";}
    .ctrlbtn .nextBtn{
        left: 0;font-family: "宋体";
    }
    .dia-banner a:hover{
        background: rgba(255,255,255,0.5)
    }
    .pageCtrl{
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .pageCtrl li{ display: inline-block; width: 10px; height: 10px; overflow: hidden; margin: 0 5px; background-color: rgba(114,175,45,.5); border-radius: 50%; z-index: 1111; cursor: pointer;}
    .dia-banner .active{
        background: rgba(114,175,45,1);
    }
</style>
<!--banner-->
<div class="dia-banner">
    <ul class="banner-inner">
        <li name="0">
            <%= image_tag("diabetes-banner0.jpg") %>
        </li>
    </ul>
    <!--<div class="ctrlbtn">-->
        <!--<a href="javascript:;" class="prevBtn">&gt;</a>-->
        <!--<a href="javascript:;" class="nextBtn">&lt;</a>-->
    <!--</div>-->
    <!--<ul class="pageCtrl">-->
        <!--<li class="active"></li>-->
        <!--<li class=""></li>-->
    <!--</ul>-->
</div>
<div>

</div>
<!--banner-->
<!--科室简介-->
<div class="centerModule flow cataractCenterWord" id="module1">
    <div class="fl">
        <%= image_tag("diabetes-member.jpg") %>
    </div>
    <div class="fr centerWords">
        <h5 class="h5Title">糖尿病视网膜病变防治中心</h5>
        <p>本科室主要针对糖尿病视网膜病变（DR）早期发现、综合治疗与预防，长期慢性病管理于一体的专病科室。由院长段俊国教授和国医大师廖品正教授带领的专家团队经过近30年的联合攻关，研究成功治疗DR中药新芪明颗粒，创新中药芪灯明目胶囊也进入后期的临床研究阶段；研究制定的虚瘀并治的中医药综合治疗DR方案，在控制糖尿病视网膜的进展、减少终点事件、维持视功能的稳定等方面具有显著的优势；制订了第一个中医药防治糖尿病视网膜的临床指南及路径，其研究成果获四川省科学技术进步奖特等奖。以段俊国教授为核心的团队组建了糖尿病视网膜病变防治中心，引进美国爱尔康Constellation Vison 玻璃体切割机、美国科医人多波长固体激光治疗机，法国光太SLT多波长激光机、德国海德体堡HRA眼底造影机、德国蔡司光学相干断层扫描仪（血流OCT5000）等专业眼科设备，开展针对DR从早期预防、黄斑水肿、视网膜新生血管、后期复杂的视网膜增殖性病变、玻璃积血等开展综合治疗。</p>
    </div>
</div>
<!--科室简介-->
<!--科室专家-->
<div class="centerModule padB25" id="module2">
    <p class="blueBTitle">
        <span>科室专家</span>
    </p>
    <div class="cataractCenterDoctor flow">
        <div class="CenterLeader fl">
            <%= link_to image_tag("zj2.jpg"),expert_path(:段俊国教授) %>
            <div class="leaderMask">
                <div class="">
                    <h4 class="h5Title">段俊国</h4>
                    <p>教授 主任医师 博士生导师</p>
                </div>
                <p><span>擅长领域：</span></p>
                <p>从从事眼科医疗、教学、科研工作30余年，主要从事疑难眼病与视功能保护研究，长于糖尿病视网膜病变等眼底病的诊治。</p>
            </div>
        </div>
        <div class="centerMemberCon fr">
            <div class="centerMemberList">
                <ul class="flParent">
                    <li>
                        <%= link_to image_tag("zj9.jpg"),expert_path(:路雪婧主任医师) %>
                        <div class="maskName">路雪婧</div>
                    </li>
                    <li>
                        <%= link_to image_tag("zj10.jpg"),expert_path(:张富文主治医师) %>
                        <div class="maskName">张富文</div>
                    </li>
                    <li>
                        <%= link_to image_tag("zj18.jpg"),expert_path(:李强主治医师) %>
                        <div class="maskName">李强</div>
                    </li>
                    <li>
                        <%= link_to image_tag("zj20.jpg"),expert_path(:蹇文渊主治医师) %>
                        <div class="maskName">蹇文渊</div>
                    </li>
                </ul>
            </div>
            <div class="cataractAdvantageCon centerAdvantageCon diabetesCenter">
                <p class="">优势病种</p>
                <ul class="centerAdvantage fl flParent">
                    <li><i class="little icon_advantageList"></i> 糖尿病视网膜病变（非增殖期、增殖期）</li>
                    <li><i class="little icon_advantageList"></i> 视网膜新生血管性疾病</li>
                    <li><i class="little icon_advantageList"></i> 糖尿病性黄斑病变、水肿</li>
                    <li><i class="little icon_advantageList"></i> 玻璃体病（飞蚊症、DR相关性玻璃出血）</li>
                    <li class="lastAdvantage"><i class="little icon_advantageList"></i> 糖尿病肾病、心血管疾病、周围神经病变等全身其他糖尿病相关疾病</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--科室专家-->
<!--医疗设备-->
<div class="centerModule" id="module3">
    <p class="blueBTitle">
        <span>医疗设备</span>
    </p>
    <ul class="EquipmentSlides">
        <li>
            <div>
                <div>
                    <%= image_tag("diabetes_equ1.jpg") %>
                </div>
                <p>德国海德堡SPECTRALIS-HRA</p>
            </div>
            <div>
                <div>
                    <%= image_tag("diabetes_equ2.jpg") %>
                </div>
                <p>Daytona激光扫描检眼镜P200T</p>
            </div>
            <div>
                <div>
                    <%= image_tag("diabetes_equ3.jpg") %>
                </div>
                <p>HD-OCT5000</p>
            </div>
        </li>
        <li>
            <div>
                <div>
                    <%= image_tag("diabetes_equ4.jpg") %>
                </div>
                <p>法国光太SLT多波长激光机</p>
            </div>
            <div>
                <div>
                    <%= image_tag("diabetes_equ5.jpg") %>
                </div>
                <p>爱尔康Constellation玻切机设备</p>
            </div>
            <div>
                <div>
                    <%= image_tag("eyesight_equ3.jpg") %>
                </div>
                <p>科医人Vision One量子芯片多波长眼底激光机</p>
            </div>
        </li>
    </ul>
</div>
<!--医疗设备-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>科研成果</span>
    </p>
    <div>
        <div class="diabetesTle">
            <p><span class="greenWord">Main research project and achievement </span>of Diabetic Retinopathy Center</p>
            <p><span>糖尿病视网膜病变防治中心主要研究项目与成果</span></p>
        </div>
        <div class="researchResults line24 pad15">
            <p>中心依托眼科学院牵头开展了DR方面研究，承担了国家国际科技合作专项，“十一五”、“十二五”科技支撑计划、国家重大科技专项、国家十二五中医药行业专项、国家自然科学基金等部省级以上科研项目30项。针对糖尿病视网膜病变的高发病高危害、治疗手段较少，围绕“证候特征”“临床疗效”等关键问题，遵循中医药“理、法、方、药” 思维方法，将临床流行病学、系统生物学、药理学等多学科研究方法结合开展系统研究。</p>
            <p>明确了糖尿病视网膜病变基本病机为气阴两虚、证候特点是虚实夹杂、本虚标实，阳虚是病情进展的关键证候因素等系列中医证候规律，丰富了糖尿病视网膜病变中医理论；</p>
            <p>引入国际标准，形成糖尿病视网膜病变中医药防治综合方案及全国性防治网络，提高中医药治疗糖尿病微血管并发症的证据级别，使糖尿病性视网膜病变终点事件发生率降低7%以上；</p>
            <p>创立适用于糖尿病视网膜病变非增殖期中医证候疗效评价的n of 1疗效评价方法及指标体系、中央随机及数据管理的电子平台；</p>
            <p>针对糖尿病多系统同时发病的防治难点，以糖尿病社区筛查为工作基础，糖尿病微血管并发症为突破口，眼肾损害为治疗靶点，通过开展“基于社区的糖尿病视网膜病变·DN眼肾同治中医干预方案研究”和“糖尿病微血管并发症中医干预社区推广研究”，建立适于社区的糖尿病微血管并发症中医综合方案，形成糖尿病微血管并发症中医药防治数据库，对糖尿病患者进行规范管理、病情评估、中医药综合干预和随访管理；</p>
            <p>牵头十二五科技支撑计划，在前期系列研究基础上，开展基于辨证论治的糖尿病视网膜病变临床疗效评价及方法研究。</p>
            <p>承担行业内首个国家国际科技合作专项重点项目“视网膜图像分析技术与中医眼诊系统的合作研究”，从美国威斯康辛大学眼底读片中心引进国际公认的视网膜图像分析技术，建立糖尿病视网膜病变、高血压、老年痴呆、慢性肾衰等多种眼病及全身疾病的眼底视网膜图像数据库，同时自主研发相关分析软件，创立“人机互动”读片技术，初步建立基于视网膜图像的疾病预警预测方案；创造性地将中医证候与视网膜图像特征关联，提出“中医眼诊”作为现有中医诊断方法的补充；</p>
            <p>“糖尿病微血管病变中医证效基础与临床循证研究”获2013年四川省科技进步特等奖，该研究围绕糖尿病微血管病变“证候特征”、“临床疗效”等，以现代医学“证候—治法—疗效—新药—产业化”为主线，运用流行病学方法在国内外首次对603例糖尿病患者，开展基于循证的糖尿病微血管并发症大样本、多中心、前瞻性中医证候规律系统研究。通过研究证实，“气阴两虚”是糖尿病微血管并发症的基本病机，同时对其证候特点、演变规律、关键因素等有了新的认识，四川省省委书记王东明听取项目汇报；</p>
            <p>受浙江万盛药业委托，承担了团队转让成果“芪灯明目胶囊”上市再评价的工作；</p>
            <p>率先根据“中医整体观”、“治未病”等理论，提出糖尿病及其并发症集约型诊疗模式；</p>
            <p>完成制订消渴目病中医药防治行业标准、指南及临床路径、诊疗方案；以十二五中医药行业科研专项为契机，推动糖尿病微血管并发症社区研究和防治工作。并进行了推广</p>
            <p>糖尿病视网膜病变中医综合治疗方案的推广应用：通过牵头十五攻关计划、十一五支撑计划等研究工作，在全国24家三甲医院进行糖尿病视网膜病变中医综合治疗方案应用；</p>
            <p>国家中医药管理局重点专科重点病种糖尿病视网膜病变方案在全国33家协作单位推广应用；</p>
            <p>糖尿病视网膜病变中医防治指南、标准和临床路径在行业内全面推广应用：本项目成果糖尿病视网膜病变中医防治指南和临床路径已经中华中医药学会、国家中医药管理局等部门发布，向全国广泛推广，适用于各级中医院、中西医结合医院和大部分西医院。截止2012年，已有上千家医疗机构使用该指南和路径；</p>
            <p>糖尿病视网膜病变中医防治指南和临床路径已经中华中医药学会、国家中医药管理局等部门发布，向全国广泛推广，适用于各级中医院、中西医结合医院和大部分西医院。截止2012年，已有上千家医疗机构使用该指南和路径；</p>
            <p>虚瘀并治中药复方新药芪明颗粒作为我国中药现代化的重点品种，目前在国内应用广泛，获良好临床疗效：国家发展改革委已经将研究所获成果芪明颗粒品种作为我国中药现代化的重点品种，芪明颗粒的产业化工程也已经被列入“国家现代中药高技术产业发展重大专项”，销售网络已遍布全国20余个省会城市，在全国二甲以上医院1000余家。</p>
            <p>建立了省市县区三位一体的中医药视功能保护防治研究推广示范协作网：网络纳入绵阳市中医医院、甘孜藏族自治州人民医院、都江堰市人民医院、成都市武侯区第三人民医院、德阳市旌阳区中医院等省市县区及基层卫生服务中心等代表性推广示范单位。以国际标准化的视网膜图像分析中心平台为载体，利用远程协作技术，对协作单位的专科人员进行了糖尿病视网膜病变中医药防治临床指南和视网膜眼诊读片与视功能保护的技术培训，糖网病中药新药干预的应用培训。协作单位经过培训，运用糖尿病视网膜病变中医药防治指南、临床路径进行了糖尿病视网膜病变与视功能保护推广应用1000多例并进行了记录。</p>
            <p>研究所获成果糖尿病视网膜病变证候特征、演变规律、阳虚致变理论，及上市药物芪明颗粒已进入二十一世纪全国高等院校第一版中西医结合专业规划教材《中西医结合眼科学》、第一版研究生规划教材《中医眼科临床研究》、十二五规划教材《中医眼科学》和《中西医结合眼科学》、人民卫生出版社《眼科药物治疗学》以及专著《名师与高徒》，随着研究成果的进一步推广，加强对糖尿病视网膜病变的认识。</p>
        </div>
    </div>
</div>
<!--诊疗项目-->
<div class="centerModule" id="module4">
    <p class="blueBTitle">
        <span>诊疗项目</span>
    </p>
    <div>
        <dl class="eyesightProjectList">
            <dd>
                <div class="fl eyesightProject">
                    <p>糖尿病视网膜病变非增殖期中医综合防治</p>
                </div>
                <div class="fr">
                    <p>针对轻中度的非增殖期DR采用中医药综合防治方案进行DR的管理，包括严格的血糖管理、中药芪明颗粒、优糖明1号方、优糖明2号方等，对眼底渗出、出血、微血管瘤、无灌注等病损进行治疗，保持患者视力，减少新生血管等增殖笥病变性的终点事件发生。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>糖尿病视网膜病变黄斑水肿</p>
                </div>
                <div class="fr">
                    <p>科室在DR的黄斑病变方面采用多咱治疗手段，玻璃体注射VEGF 抑制剂、激素，视网膜光凝术、中药等，进行综合治疗，能有效的控制病情，减轻水肿，提高一定的视力。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>增殖性糖尿病视网膜病变</p>
                </div>
                <div class="fr">
                    <p>针对新生血管性DR，采用玻璃体注射VEGF 抑制剂联合视网膜光凝进行治疗，可以满意治疗DR的视网膜新生血管，控制病情发展。针对复杂增殖性糖尿病视网膜病变、玻璃体积血、牵拉性视网膜脱离等，我院有原中山眼科中心刘文教授领衔眼底外科团队，可以完成复杂的玻璃体视网膜手术，并配合中医药综合治疗，能有效控制DR病情并使患者恢复到最佳视力。</p>
                </div>
            </dd>

        </dl>
    </div>
</div>
<!--诊疗项目-->
<!--科室科普-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>科普知识</span></a>
    </p>
    <div class="line24 diabetesExplain pad15">
        <p class="greenWord">1、什么是糖尿病视网膜病变？</p>
        <p>2013年《JAMA》杂志报道，我国已有糖尿病患者1.14亿，糖尿病前期患者4.93亿。每10个成年人中有1个糖尿病患者，每2个就有1个糖尿病前期患者，中国已成为全球糖尿病第一大国。</p>
        <p>糖尿病性视网膜病变是由糖尿病引起的眼部微血管并发症，以视力逐渐下降，视物变形，后期甚至导致失明为主要表现的疾病，目前已是全世界成年人致盲的主要原因，严重影响患者生存质量。</p>
        <p class="greenWord">2、糖尿病视网膜病变的危害</p>
        <p>早期无明显自觉症状。视力逐渐降低，眼前黑影飞舞或视物变形等；或视力突然严重下降甚至失明。糖尿病病程5年者，患糖尿病视网膜病变达25%，10年者为60%，增殖性糖尿病视网膜病变为25%（一旦发展为增殖性视网膜病变，极易致盲）。</p>
        <p>双目失明发生率要比非糖尿病患者高出25倍，一旦致盲不可逆转。四川省卫计委公布的数据显示：我省约有600万人患糖尿病，却有400万人自己不知道； 30%~50%的糖尿病患者从来不做眼部检查，30%无症状患者却已经有视网膜病变，每年定期眼部检查者不足10%。</p>
        <p class="greenWord">3、糖尿病视网膜病变的防控</p>
        <p class="blueWord">（1）利用眼底照相早期发现和监测糖尿病性视网膜病变</p>
        <p>美国医学协会、美国眼科协会、中华医学会等制定的糖尿病管理指南中推荐眼底检查为糖尿病患者的常规检查，首次眼底检查及随诊时间如下表</p>
        <table class="glassCompare diabetesTab">
            <tr>
                <th class="width100">类型</th>
                <th class="width250">首次眼底检查时间</th>
                <th class="width250">随诊时间</th>
            </tr>
            <tr>
                <td>1 型糖尿病</td>
                <td>青春期前或青春期发表，可在12岁开始眼底照相筛查，青春期后发病患者一旦诊断即进行筛查</td>
                <td>每年一次或根据情况</td>
            </tr>
            <tr>
                <td>2 型糖尿病</td>
                <td>确诊时进行眼底照相</td>
                <td>每年一次或根据情况</td>
            </tr>
            <tr>
                <td>妊娠糖尿病</td>
                <td>妊娠前或妊娠初3个月</td>
                <td>糖尿病视网膜病变中度：每3-12个月检查一次，糖尿病视网膜病变重度：每1-3个月检查一次</td>
            </tr>
        </table>
        <p class="blueWord">（2）控制血糖，积极治疗原发病糖尿病</p>
        <p>在糖尿病治疗过程中，糖尿病患者也应在日常生活中要注意以下几点：①控制控制血糖、血脂、血压；②根据自己的实际情况选择适当的体育锻炼：一般以散步、打太极拳、轻度的肢体活动等较为适宜；③合理饮食：高蛋白低脂低盐富含食物纤维的饮食，适当补充维生素、矿物质和微量元素。钠盐不宜过多。对于肥胖患者来说，要减轻体重，减少热能的摄入。</p>
        <p class="blueWord">（3）糖尿病视网膜病变的治疗</p>
        <p>糖尿病患者可通过眼底照相及时发现糖尿病视网膜病变，糖尿病视网膜病变在早期可通过中医辨证论治，可防止疾病发展到晚期，同时对眼底出血，水肿有良好的效果；晚期适时采用眼底激光或手术，延缓疾病进展，防止失明。</p>
    </div>

</div>
<!--科室科普-->
<!--科室新闻-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>科室新闻</span><%= link_to :'更多>>',news_path(:新闻列表),:class=>"fr" %>
    </p>
    <div class="SectionNewsList">
        <div>
            <a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=2&sn=39c61867b3b98f6988a34502c3815f1d&chksm=7d4c42374a3bcb212cd931503646510eef358e1dfbe04278bc100036b96b20922c0491fb7068#rd" target="_blank">
                <%= image_tag("diabetes-newsImg1.jpg") %>
                <div class="fr SectionNewsRight">
                <h4>【喜讯】热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</h4>
                <p>8月20日，四川省第二届院长城市圈高峰论坛暨第五届“榜样中国·我心目中的名医”大型公益评选活动颁奖典礼在四川日报报业集团举行。</p>
                <p>“我心目中的名医”、“我心目中的人气名医”、“我心目中的名医（科室）”、“优秀家庭医生”等13个奖项的获奖名医一一揭晓，数百人在现场见证了这一荣耀时刻。我院院长助理、小儿眼科主任、眼视光学术带头人袁晓辉教授被邀参加《健康方程式》栏目，就网友关心的眼健康问题进行了耐心解答。</p>
            </div>
            </a>
        </div>
        <div>
            <a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000488&idx=1&sn=dbc657071163bc2bdee991d34ec83e36&chksm=7d4c42bc4a3bcbaa306b1a62f9ec1e17749b99e5e73a43e32858eab5757027f2faed1c99fc42#rd" target="_blank">
            <%= image_tag("diabetes-newsImg2.jpg") %>
            <div class="fr SectionNewsRight">
                <h4>【福利】当心糖尿病会致盲 糖友们要定期眼底检查【糖尿病性眼科疾病公益科普活动预告】</h4>
                <p>在您的眼睛中，有着像照相机底片一样重要的视网膜。视网膜上分布了许多血管，当小血管遭到破坏时，就会导致视网膜缺氧、缺血，从而造成视网膜微血管瘤形成出血、渗出、玻璃体出血，新生血管形成及玻璃体视网膜增殖性改变。</p>
            </div>
            </a>
        </div>
    </div>

</div>
<!--科室新闻-->
<% content_for :script do %>
<%= javascript_include_tag 'jquery.jDiaporama' %>
<script>
    $(document).ready(function(){

        $(".EquipmentSlides").jDiaporama({
            animationSpeed: "slow",
            delay:5,
            auto:true
        });
    });
</script>
<% end %>
