<!--banner-->
<div>
    <%= image_tag("eyesight-banner.jpg") %>
</div>
<!--banner-->
<!--科室简介-->
<div class="centerModule flow cataractCenterWord" id="module1">
    <div class="fl">
        <%= image_tag("eyesight-member.jpg",:alt=>"眼视光成员") %>
    </div>
    <div class="fr centerWords">
        <h5 class="h5Title">眼视光科</h5>
        <p>眼视光科是集临床诊疗、专业培训、科普宣教、产品研发、连锁运营为一体的医疗科室，以成都中医药大学附属医院眼视光专家团队为班底，充分整合国内中西医眼视光技术与资源，国内第一家同时引进阿玛仕1050RS准分子和ZEISSSMILE3.0全飞秒两套最先进的高精准设备，开展近视全飞秒激光、transPRK手术、医学验光配镜、儿童斜弱视诊疗、中西医近视防控、RGP&角膜塑形镜验配、视觉训练、低视力康复等项目。运用最前沿的眼视光学技术及传统中医康复治疗手段，为全年龄段的屈光不正患者提供有效、便捷、优质的诊疗服务。</p>
    </div>
</div >
<!--科室简介-->
<!--科室专家-->
<div class="centerModule padB25" id="module2">
    <p class="blueBTitle">
        <span>科室专家</span>
    </p>
    <div class="cataractCenterDoctor flow">
        <div class="CenterLeader fl">
            <%= link_to image_tag("zj6.jpg",:alt=>"周跃华"),expert_path(:周跃华教授) %>
            <div class="leaderMask">
                <div class="">
                    <h4 class="h5Title">周跃华</h4>
                    <p>教授 主任医师 硕士生导师</p>
                </div>
                <p><span>擅长领域：</span></p>
                <p>主要从事角膜屈光手术的临床工作和近视理论的基础研究，长于Smart千频全激光、Smile全飞秒等各类屈光手术，共完成各类屈光手术15万余例。</p>
            </div>
        </div>
        <div class="centerMemberCon fr">
            <div class="centerMemberList">
                <ul class="flParent">
                    <li>
                        <%= link_to image_tag("zj8.jpg",:alt=>"袁晓辉"),expert_path(:袁晓辉主任医师) %>
                        <div class="maskName">袁晓辉</div>
                    </li>
                    <li>
                        <%= link_to image_tag("zj13.jpg",:alt=>"周春阳"),expert_path(:周春阳主任医师) %>
                        <div class="maskName">周春阳</div>
                    </li>
                    <li>
                        <%= link_to image_tag("zj16.jpg",:alt=>"谢艾芮"),expert_path(:谢艾芮主任医师) %>
                        <div class="maskName">谢艾芮</div>
                    </li>
                    <li>
                        <%= link_to image_tag("zj19.jpg",:alt=>"缪馨"),expert_path(:缪馨主治医师) %>
                        <div class="maskName">缪馨</div>
                    </li>
                </ul>
            </div>
            <div class="cataractAdvantageCon centerAdvantageCon">
                <p class="">优势病种</p>
                <ul class="eyesightCenterAdvantage fl flParent">
                    <li><i class="little icon_advantageList"></i> 屈光手术：角膜屈光手术（准分子激光、半飞秒激光、全飞秒激光</li>
                    <li><i class="little icon_advantageList"></i> 斜视矫正手术</li>
                    <li><i class="little icon_advantageList"></i> 弱视矫治训练</li>
                    <li><i class="little icon_advantageList"></i> 近视防控（医学验光配镜、OK镜、RGP镜，中医药参与的综合防控）</li>
                    <li><i class="little icon_advantageList"></i> 视疲劳防治与康复</li>
                    <li><i class="little icon_advantageList"></i> 低视力矫治与训练</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!--科室专家-->
<!--医疗设备-->
<div class="centerModule" id="module3">
    <p class="blueBTitle">
        <span>医疗设备</span>
    </p>
    <ul class="eyesightEquipment flow flParent halfContainer">
        <li class="flow">
            <div class="fl equContainer">
                <%= image_tag("newEquipment_1.jpg",:alt=>"阿玛仕1050RS准分子激光治疗仪") %>
            </div>
            <div class="fr flow">
                <h4>阿玛仕1050RS准分子激光治疗仪</h4>
                <p class="equAdvantages">设备优势：</p>
                <p>1.快：全球最高切削频率（1050 Hz），治疗转瞬完成；</p>
                <p>2.精：全球最小激光光斑（0.54mm），角膜表面细致平滑；</p>
                <p>3.准：全球最高频七维全方位眼球跟踪系统，超精准定位切削；</p>
                <p>4.逸：唯一拥有smart千频全激光手术，无瓣，无痕，安全无忧。</p>
            </div>
        </li>
        <li class="flow">
            <div class="fl equContainer">
                <%= image_tag("newEquipment_2.jpg",:alt=>"蔡司全飞秒Visu Max 激光系统") %>
            </div>
            <div class="fr flow">
                <h4>蔡司全飞秒Visu Max 激光系统</h4>
                <p class="equAdvantages">设备优势：</p>
                <p>1.全程飞秒——无刀治疗、无需联机；</p>
                <p>2.独创的smile微创技术，可减少对角膜神经纤维的损伤，提高视觉质量。</p>
                <p>3.精确的个性化角膜瓣制作，控制角膜瓣的厚度、大小等，提高手术的安全性和可预测性。</p>
                <p>4.模拟人体角膜设计的接触镜，保证了治疗时角膜的自然生理状态。</p>
                <p>5.术中低负压吸引，避免常规手术中由眼压升高带来的视力丧失。</p>
            </div>
        </li>
    </ul>
</div>
<!--医疗设备-->
<!--诊疗项目-->
<div class="centerModule" id="module4">
    <p class="blueBTitle">
        <span>诊疗项目</span>
    </p>
    <div>
        <dl class="eyesightProjectList">
            <dd>
                <div class="fl eyesightProject">
                    <p>青少年近视中医药综合防治</p>
                </div>
                <div class="fr">
                    <p>科室在科学用眼、医学验光配镜的基础上充分发挥中医药优势，采用中药膏方、口服制剂、耳穴压丸、针刺等中医优势手段，制定中医药综合防治方案，有效控制近视发生，延缓近视度数增加，减少近视带来的严重并发症，疗效显著。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>医学验光配镜</p>
                </div>
                <div class="fr">
                    <p>配镜中心以视光门诊为核心，配备国家中、高级职称的视光师十余人，拥有完善的屈光档案体系，可提供区域性网点查询及转诊服务。中心配备国际先进设备，为患者提供方便、快捷、精准的体验式医学验光配镜服务，包括青少年近视防控镜、儿童弱视压抑镜、中老年渐进多焦点镜、抗疲劳镜、防蓝光镜、变色染色镜、高度数镜片压贴膜及棱镜压贴膜等功能性眼镜验配。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>近视手术</p>
                </div>
                <div class="fr">
                    <p>手术由北京同仁医院眼科屈光手术专家周跃华及其团队全程参与，专家团队已完成各类近视激光手术数十万例，有丰富的临床经验。中心引入行业先进全飞秒激光手术设备，并配备蔡司显微操作系统，开展全飞秒SMILE、全激光Trans-PRK 、Fs-LASIK、SBK等多种术式，医院对术前检查、手术流程、术后复查、专业设备均有严格的质量管理体系;对各种近视类型均能定制安全、精准、有效的手术方案，全方位保障手术安全性，让每一位患者都拥有长效、舒适、优质的视觉享受。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>斜弱视矫治</p>
                </div>
                <div class="fr">
                    <p>斜视矫治业务是医院特色业务之一。由成都中医大小儿眼科专家团队坐诊。医院以自主研发的弱视训练软件为核心，并引进国际先进检查及训练设备，建立医院训练与家庭训练相结合的弱视康复系统，为弱视患者提供安全有效的诊疗服务。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>硬性角膜接触镜验配</p>
                </div>
                <div class="fr">
                    <p>中心配备意大利SIRIUS三维眼前节分析系统、日本NIDEK综合验光系统、意大利CSO角膜内皮细胞计等设备，并拥有十余名资深的角膜接触镜验配师，为患者提供安全、精准、舒适的角膜塑形镜（Ortho-k镜）及高透氧性硬性角膜接触镜（RGP）验配，Ortho-k镜能有效控制青少年近视的发展，RGP能满足不同年龄段各类屈光不正的需求，安全性高，并能为不规则散光及圆锥角膜等疑难屈光患者提供良好的视觉质量。</p>
                </div>
            </dd>
            <dd>
                <div class="fl eyesightProject">
                    <p>视觉训练</p>
                </div>
                <div class="fr">
                    <p>针对各年龄段视觉障碍人群，进行全面视觉检查、功能评估、方案设计及训练实施。医院融入中医理疗理念，自主研发中西医结合的训练方式，并引进先进检查及训练设备，建立医院与家庭相结合的训练体系。训练项目包括手眼脑协调训练、视觉扫视训练、阅读障碍预防训练、近视防控训练、改善视疲劳训练、早老花的预防训练等，为视疲劳人群提供舒适、有效、便捷的视觉康复训练。</p>
                </div>
            </dd>
        </dl>
    </div>
</div>
<!--诊疗项目-->
<!--科室新闻-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>科室新闻</span><%= link_to :'更多>>',news_path(:新闻列表),:class=>"fr" %>
    </p>
    <div class="SectionNewsList">
        <div>
            <a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000330&idx=2&sn=82b324b688d8390d78e4cd874104d0e9&chksm=7d4c421e4a3bcb081efda23d7c75a1e4f91071288178c9e788de44762bca71898973a0696a7a#rd">
            <%= image_tag("eyesight-newImg1.jpg") %>
            <div class="fr SectionNewsRight">
                <h4>近视防控从小开始？具体该怎么办？她都能为您解答 ——【健康方程式】小儿眼科主任袁晓辉访谈</h4>
                <p>近日，我院院长助理、小儿眼科主任、眼视光学术带头人袁晓辉教授被邀参加《健康方程式》栏目，就网友关心的眼健康问题进行了耐心解答。</p>
            </div>
            </a>
        </div>
        <div>
            <a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000335&idx=2&sn=c15da088e37334be3ef6dace7628e65a&chksm=7d4c421b4a3bcb0d6d96ce4215dfea0d132b0350a2f807869e58f200e76364cd8a474c89bbe8#rd">
            <%= image_tag("eyesight-newImg2.jpg") %>
            <div class="fr SectionNewsRight">
                <h4>著名屈光手术专家周跃华教授在我院与患者开展"专家面对面"交流活动</h4>
                <p>8月12日，由成都中医药大学附属银海眼科医院主办的大型医患交流活动--“近视手术专家面对面”,在医院银海大厅隆重举行。医院院长、党委书记段俊国教授,医院眼视光部名誉主任周跃华教授、医院院长助理袁晓辉教授和近百名近视患者及其家属参与了交流。</p>
            </div>
            </a>
        </div>
        <div>
            <a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=2&sn=39c61867b3b98f6988a34502c3815f1d&chksm=7d4c42374a3bcb212cd931503646510eef358e1dfbe04278bc100036b96b20922c0491fb7068#rd">
            <%= image_tag("eyesight-newImg3.jpg") %>
            <div class="fr SectionNewsRight">
                <h4>【喜讯】热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</h4>
                <p>8月20日，四川省第二届院长城市圈高峰论坛暨第五届“榜样中国·我心目中的名医”大型公益评选活动颁奖典礼在四川日报报业集团举行。</p>
            </div>
            </a>
        </div>
    </div>

</div>
<!--科室新闻-->
<!--科室科普-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>科室科普</span><%= link_to :'更多>>',news_path(:新闻列表),:class=>"fr" %>
    </p>
    <div class="SectionNewsList">
        <div>
            <% link_to kepu_path(:近视手术知多少) %>
            <%= image_tag("eyesight-kepuImg1.jpg") %>
            <div class="fr SectionNewsRight">
                <h4>【银海科普】近视手术知多少（三）</h4>
                <p>近视手术多久可以恢复？眼睛变形可以通过手术改善吗？SMART千频全激光手术与其它近视手术又有什么不同呢？你关心的问题都在这里~快和小银一起来看看吧~</p>
            </div>
            <% end %>
        </div>
    </div>

</div>
<!--科室科普-->
<script>
    $(".cureProject em").click(function(){
        console.log($(this).index());
        $(this).addClass("active").siblings().removeClass("active")
        $(".cureProjectContainer .cureProjectModule").eq($(this).index()-1).show().siblings().hide()
    })
</script>