<div class="middle">
  <!--读片中心-->
  <ul class="readCenter flow flParent">
    <li>
      <%= image_tag("centerImg_1.png") %>
      <div class="readMask">
        <div class="rectangle">
          <p>读片中心</p>
        </div>
      </div>
    </li>
    <li class="lightBlue">
      <ul>
        <li>· 200余平 超大空间</li>
        <li>· 独立整洁 安静明亮</li>
        <li>· 24小时监控 读片人员配卡入内</li>
      </ul>
    </li>
    <li>
      <%= image_tag("centerImg_2.png") %>
    </li>
    <li class="lightGreen">
      <ul>
        <li>· iMac 21.5寸 4K retina</li>
        <li>· 高清 专业 准确 快速  </li>
      </ul>
    </li>
    <li>
      <%= image_tag("centerImg_3.png") %>
    </li>
  </li>
  <li class="lightGreen">
    <ul>
      <li>· 建立读片员-审核员-读片顾问三级审核制度，确保读片质量</li>
    </ul>
  </li>
  <li class="innerAllImg">
    <div class="blueBorder">
      <%= image_tag("centerImg_4.png") %>
    </li>
    <li class="deepBlue">
      <ul>
        <li>· 专业读片团队和专家团队，经美国威斯康辛州立大学眼底读片中心培训和认证，具有丰富的临床经验 </li>
      </ul>
    </li>
    <li>
      <%= image_tag("centerImg_5.png") %>
    </li>
  </ul>
  <!--读片中心-->
</div>
