<%= render 'centers/center_tkd' %>
<div class="gzmx_index">
    <div class="gzmx">
        <div class="gzmx_header">
            <h1>近视手术方式那么多，该怎么选</h1>
            <time class="gzmx_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <div class="gzmx_container">
            <p class="gzmx_p">近视的盆友都知道，戴眼镜不仅仅影响个人颜值，同时也成为升学、就业的门槛，迫切想要治好近视，但需要提醒的是近视目前只能矫治。目前近视的矫治方法主要有框架眼镜、隐形眼镜和手术。今天我们主要谈的是大家特别关心的近视手术。</p>
            <p class="gzmx_p">那么问题来了，面对“全激光”、“全飞秒”、“ICL”等多种医学专业术语，朋友们有点蒙圈。它们有什么不同？我到底该怎么选择手术呢？今天，我们就来简单科普一下，希望能够帮助大家做出科学选择。</p>
            <div class="gzmx_container_one gzmx_container_box">
                <h2 class="gzmx_container_header">近视手术术式主要有哪些？</h2>
                <h3 class="gzmx_container_smallerHeader">①阿玛仕1050RSSmart千频全激光</h3>
                <p class="gzmx_p">
                    Smart千频全激光手术依托于阿玛仕1050RS准分子平台，是一种创新的表层角膜激光手术方式，全程零接触，无需制瓣亦无切口，术后不留痕迹，保留更多的角膜生物力学作用，是目前最安全、视觉质量最好的近视激光矫正技术之一。Smart千频全激光手术是全激光TransPRK手术与SPT智能脉冲技术的完美集合。史上最快1050HZ的激光切削频率和七维无延时跟踪，设备几近完美。
                </p>
                <div class="gzmx_imgs_box" id="gzmx_img_1">
                    <%= image_tag("gzmx_2.jpg") %>
                    <!-- 与图一放反了 -->
                </div>
                <p class="gzmx_p">
                    <strong>术式优点：</strong>激光直接经角膜上皮进行治疗，一步完成角膜上皮切削和屈光不正的精确矫正，手术过程无刀无瓣、温和无接触。实现真正的“零”接触，无瓣、无痕、无切口、无压力。
                </p>
                <div class="gzmx_imgs_box" id="gzmx_img_2">
                    <%= image_tag("gzmx_1.jpg") %>
                </div>
                 <p class="gzmx_p">
                    <strong>适合人群：</strong>：激光直接经角膜上皮进行治疗，一步完成角膜上皮切削和屈光不正的精确矫正，手术过程无刀无瓣、温和无接触。实现真正的“零”接触，无瓣、无痕、无切口、无压力。
                </p>
                <h3 class="gzmx_container_smallerHeader">②Smile3.0全飞秒</h3>
                <p class="gzmx_p">
                    全飞秒Smile通俗地说是一把定位精准的激光雕刻刀，按照患者的近视度数，设定切割角膜的厚度，然后用激光透过角膜的表层，在内层切割出一个凸透镜形状的透镜，然后在角膜的上方开一个2--4毫米的小切口，通过这个口子，将激光雕刻好的角膜透镜片取出，达到矫正近视的目的。
                </p>
                <p class="gzmx_p">
                    <strong>术式优点：</strong>激光直接经角膜上皮进行治疗，一步完成角膜上皮切削和屈光不正的精确矫正，手术过程无刀无瓣、温和无接触。实现真正的“零”接触，无瓣、无痕、无切口、无压力。
                </p>
                <p class="gzmx_p">
                    <strong>适合人群：</strong> 18至50岁左右，近视度数≤1000度，散光≤500度，对视觉质量要求高的患者，如公务员、学生、参军等。
                </p>
                <div class="gzmx_imgs_box" id="gzmx_img_3">
                    <%= image_tag("gzmx_3.jpg") %>
                </div>
                <h3 class="gzmx_container_smallerHeader">③ICL晶体植入术 </h3>
                 <p class="gzmx_p">
                    全飞秒Smile通俗地说是一把定位精准的激光雕刻刀，按照患者的近视度数，设定切割角膜的厚度，然后用激光透过角膜的表层，在内层切割出一个凸透镜形状的透镜，然后在角膜的上方开一个2--4毫米的小切口，通过这个口子，将激光雕刻好的角膜透镜片取出，达到矫正近视的目的。
                </p>
                <p class="gzmx_p">
                    <strong>术式优点：</strong>手术简单，安全快捷，手术切口小，手术后立即见效，不会改变眼球组织的结构和形状。矫治范围广，不损伤角膜。可逆性强，可随时取出。
                </p>
                <p class="gzmx_p">
                    <strong>适合人群：</strong> 600度以上高度近视者，超高度近视患者，角膜薄者，不适合角膜激光类近视手术者皆可考虑。
                </p>
            </div>
            <div class="gzmx_container_two gzmx_container_box">
                <h2 class="gzmx_container_header">适合你的近视手术，才是最好的</h2>
                <p class="gzmx_p">
                    看完以上几种主流术式，近视的朋友最关心的就是手术效果好不好，事实上，哪种手术方式效果更好，很大程度上取决于有没有选择合适的手术方式。在做完详细的术前检查后，医生会根据您的角膜厚度、屈光度、角膜形态和眼底情况等进行综合判断，为您推荐合适的术式。
                </p>
                <p class="gzmx_p">
                     选择近视眼手术方式不能盲目跟风，看到别人选什么自己就选什么，也不要一味地认为高价位的术式华而不实，眼科专家提醒，在选择近手术术式时，应根据自身情况多听医生的建议，选择适合自己的近视手术。
                </p>
            </div>
            <div class="container_footer_btn">
                <%= render partial: 'centers/ht_key' %>
            </div>
        </div>

  </div>
</div>

