<%= render 'centers/center_tkd' %>
<div class="ssaq_index">
    <div class="ssaq">
        <div class="ssaq_header">
            <h1>近视手术安不安全  进来了解一下</h1>
            <time class="ssaq_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <div class="ssaq_container">
            <p class="ssaq_p">说起近视手术，许多人首先担心的就是手术风险问题，有没有后遗症之类。有人说，近视手术那么好，为啥还那么多人戴眼镜；有人说，近视手术有后遗症，不能做。各种言论让想做近视手术的人无比担心。俗话说：实践才能出真知。该不该做近视手术，其实好的方法莫过于，找医生做检查确定能不能做，再问问身边已经做过近视手术的朋友，问问他们的真实感受是什么样的，而不是道听途说。</p>
            <p class="ssaq_p">那到底近视手术安不安全呢？以下几点了解一下就知道</p>

            <div class="ssaq_container_one ssaq_container_box">
                <h3 class="ssaq_container_smallerHeader">手术是如何矫正近视的</h3>
                <p class="ssaq_p">普通人看物体时，成像正好投射到视网膜上，而近视患者的成像却投射在视网膜前面。激光近视手术就是将眼角膜的厚度切薄，这样使成像重新回到视网膜上，从而矫正近视。而近视手术的开展位置是在眼球表面的眼角膜基质层，根本不触及眼球内部组织，更不会破坏到眼底和视网膜。因此，从原理上来说，是安全的。</p>
                <div class="ssaq_imgs_box" id="ssaq_img_1">
                    <%= image_tag("ssaq_1.jpg") %>
                </div>
                <h3 class="ssaq_container_smallerHeader">近视手术已获得广泛认可</h3>
                <p class="ssaq_p">
                    无论是在入职体检、升学体检、公务员体检还是警察等特殊岗位体检中，近视手术效果都是被明确认可的。即使是比普通体检更为严格的参军入伍体检、民航飞行员体检，近视手术也是受中国国防部颁布的《公民应征入伍体检标准》、中国民航总局颁布的新版民航行业标准《民用航空招收飞行学生体检鉴定规范》认可，均明确认可激光近视手术的安全和有效性，足以说明，普通人接受近视手术是更加安全无虞的。
                </p>
                <h3 class="ssaq_container_smallerHeader">近视手术技术不断升级</h3>
                <p class="ssaq_p">
                   更重要的是，近视手术的技术不断升级，从早期的准分子激光到飞秒、全飞秒以及近年的阿玛仕千频全激光、ICL晶体植入术，每一次技术的更新，都让手术的安全性和适用范围得到不断的提升。
                </p>
                <div class="ssaq_imgs_box" id="ssaq_img_2">
                    <%= image_tag("ssaq_2.jpg") %>
                </div>
                <p class="ssaq_p">
                    综上所述，我们可以肯定：对于符合近视手术条件的人，开展手术是安全、有效的。
                </p>
                <p class="ssaq_p">
                    说到这里，必须要提醒大家的是：近视手术那么安全，并不是说做就能做的，切忌“迷信”近视手术。因为开展任何一例近视手术，都必须同时满足两个条件：一是符合条件，二是有手术需求。
                </p>
                <h3 class="ssaq_container_smallerHeader">近视手术并非人人适合</h3>
                <p class="ssaq_p">
                    一说起近视手术，仿佛感觉所有人都理所应当能接受近视手术，而事实上，并非所有人都适合近视手术，以下人群就不能：
                </p>
                <div class="ssaq_imgs_box" id="ssaq_img_3">
                    <%= image_tag("ssaq_3.jpg") %>
                </div>
                 <p class="ssaq_p">
                   · 未成年人，以及50岁以上成人。
                </p>
                 <p class="ssaq_p">
                    · 本身近视度数还在快速增长的近视者。
                </p>
                 <p class="ssaq_p">
                    · 本身有弱视、严重干眼、青光眼、眼睛炎症等眼病的近视者。
                </p>
                 <p class="ssaq_p">
                   · 有糖尿病、红斑狼疮及自身免疫性疾病者。
                </p>
                 <p class="ssaq_p">
                    以上人群并不适合近视手术。不符合近视手术条件，向医生隐瞒眼部真实状况，那才是造成近视手术后出现所谓“后遗症”的真实原因。
                </p>
                <h3 class="ssaq_container_smallerHeader">符合条件且有个人需求的</h3>
                <p class="ssaq_p">
                   符合手术条件后，也不是所有人都会摘掉眼镜。如果你觉得戴眼镜耍朋友不方便；你觉得戴眼镜拉低了颜值，塌鼻梁，死鱼眼，不能美美的化眼妆；或者你觉得近视阻碍了你填报高考志愿、报考军校、参军入伍等，选择近视手术是可以的。
                </p>
                <div class="ssaq_imgs_box" id="ssaq_img_4">
                    <%= image_tag("ssaq_4.jpg") %>
                </div>
                <p class="ssaq_p">
                  总之，激光近视手术发展到现在，技术上和安全性上已经可以保证，但前提是在手术之前必须进行详细的术前检查，排除不适应做手术的状况。相当部分比例的人是不适合做激光手术的，而负责任的医院和医生也不会勉强这类患者做激光手术。
                </p>
            </div>
            <div class="container_footer_btn">
                <%= render partial: 'centers/ht_key' %>
            </div>
        </div>
  </div>
</div>
