<%= render 'centers/center_tkd' %>
<div class="fkjs_index">
    <div class="fkjs">
        <div class="fkjs_header">
            <h1>青少年防控近视</h1>
            <time class="fkjs_header_time" datetime="2018-09-13">2018-09-13</time>
        </div>
        <div class="fkjs_container">
            <p class="fkjs_p">
            近视是平行光线进入眼内后在视网膜之前形成焦点，外界物体在视网膜不能形成清晰的影像，患者主观感觉看远模糊，看近不清楚，用凹透镜可以矫正近视。主要临床表现有：视力障碍、视疲劳、眼轴增长，眼底呈豹纹状改变，玻璃体混浊等。
            </p>
            <p class="fkjs_p">
            据不完全统计，我国小学生、中学生、大学生近视发病率分别为15%、40%、70%。城市学生近视发病率高达60.7%。
            </p>
            <div class="fkjs_container_weihai fkjs_container_box">
                <h2 class="fkjs_container_header">
                    1.1 近视的危害
                </h2>
                <div class="fkjs_container_weihai_left fkjs_container_weihai_box">
                    <p class="fkjs_p">
                        ①随年龄的发展性：小孩眼球会随年龄的增长而变大、变长，每长1mm约等于增加300度近视。
                    </p>
                    <div class="fkjs_img_box">
                        <%= image_tag("weihai_1.jpg") %>
                    </div>
                </div>
                <div class="fkjs_container_weihai_right fkjs_container_weihai_box">
                     <p class="fkjs_p">
                        ②致盲性：95%以上的幼儿近视都会变成高度近视，近视度数达1000度以上时，约1/4可继发眼底出血、视网膜脱离或白内障、青光眼而失明。
                    </p>
                    <div class="fkjs_img_box">
                        <%= image_tag("weihai_2.jpg") %>
                    </div>
                </div>
            </div>
            <div class="fkjs_container_fenlei">
                <h2 class="fkjs_container_header">
                    1.2 近视眼的分类
                </h2>
                <h3 class="fkjs_container_smallHeader">1）根据程度分类:</h3>
                <ul class="fkjs_container_fenlei_imgs">
                    <li>
                        <%= image_tag("jinshi_1.jpg") %>
                        <p class="fkjs_laber">轻度近视小于（-3.00D)</p>
                    </li>
                    <li>
                        <%= image_tag("jinshi_2.jpg") %>
                        <p class="fkjs_laber">中度近视（-3.00D到-6.00D)</p>
                    </li>
                    <li>
                        <%= image_tag("jinshi_3.jpg") %>
                        <p class="fkjs_laber">高度近视（-6.00D以上)</p>

                    </li>
                </ul>
                <div class="fkjs_container_fenlei_box">
                    <p>
                       高度近视的危害
                    </p>
                    <p class="fkjs_p">
                       一般度数在600度以上为高度近视，高度近视患者随着年龄增加，眼部会出现以下病理改变，如：①玻璃体变性液化；②视网膜脱离；③黄斑出血；④后巩膜葡萄肿等，严重者可致盲。
                    </p>
                    <div class="_imgs_box">
                       <%= image_tag("jinshi_4.jpg") %>
                    </div>
                    <h3 class="fkjs_container_smallHeader">2）根据病因分类:</h3>
                    <p class="fkjs_p">
                      （1）轴性近视，是眼球前后径延长的一类近视。见于大多数单纯性近视和病理性近视眼。
                    </p>
                    <p class="fkjs_p">
                      （2）屈光性近视，是指眼的屈光力量过强的一类近视。
                    </p>
                    <p class="fkjs_otherP">
                       A.曲率性近视：见于某一屈光体的表面曲度增强，曲率半径变小而使屈光力增强（如圆锥角膜、球型晶状体等）所引起的近视。
                    </p>
                    <p class="fkjs_otherP">
                       B.屈光指数性近视：由于房水、晶状体、玻璃体的屈光指数增高而使屈光力增加（如糖尿病所致晶状体、房水渗透压改变，核性白内障）
                    </p>
                    <h3 class="fkjs_container_smallHeader">3）根据性质分类:</h3>
                    <p class="fkjs_p">
                      （1）单纯性近视：是一类主要与环境因素相关的近视眼。发病一般在青少年发育时期开始，且随发育停止而逐渐稳定。
                    </p>
                    <p class="fkjs_p">
                      （2）病理性近视：是一类与遗传有关的近视眼。发病一般至幼年开始，除了屈光异常之外还合并眼其他组织的病理改变。
                    </p>
                    <h3 class="fkjs_container_smallHeader">4）根据眼的静态屈光分类:</h3>
                    <p class="fkjs_p">
                      （1）真性近视
                    </p>
                    <p class="fkjs_p">
                      （2）调节性近视
                    </p>
                    <p class="fkjs_p">
                      （3）混合型近视
                    </p>

                </div>

            </div>
            <div class="fkjs_container_yuanyin">
                <h2 class="fkjs_container_header">
                    1.3 近视眼的发病原因
                </h2>

                <div class="fkjs_container_weihai_box fkjs_container_yuanyin_left">
                    <h3 class="fkjs_container_smallHeader">1）遗传因素</h3>
                    <p class="fkjs_p">近视眼是可遗传的。</p>
                    <p class="fkjs_p">
                        父母双方均为近视者的孩子近视率比父母一方近视或父母均不近视的孩子近视率高6.4倍。病理性近视是以常染色体隐形遗传的方式进行遗传，单纯性近视倾向于多基因遗传，即遗传性与环境因素的共同结果。
                    </p>
                    <div class="fkjs_img_box">
                        <%= image_tag("fabing_1.jpg") %>
                    </div>
                </div>
                <div class="fkjs_container_weihai_box fkjs_container_yuanyin_right">
                    <h3 class="fkjs_container_smallHeader">2）环境因素</h3>
                    <p class="fkjs_p">
                        学生时期的近视眼主要是由于长期近视工作，并通过学生的遗传素质的作用而形成。
                    </p>
                    <div class="fkjs_img_box">
                        <%= image_tag("fabing_2.jpg") %>
                    </div>
                </div>
            </div>
            <div class="fkjs_container_yufang">
                <h2 class="fkjs_container_header">1.4近视的预防</h2>
                <h3 class="fkjs_container_smallHeader">如何预防近视？</h3>
                <p class="fkjs_otherP">对于青少年而言，每学期应到医院进行健康检查，预防近视的发生及发展。</p>
                <div class="fkjs_container_yufang_box">
                    <p class="fkjs_otherP">常用预防方式</p>
                    <p class="fkjs_p">1、加强体育锻炼，每天户外运动不低于2小时。</p>
                    <p class="fkjs_p">2、养成良好的用眼习惯。看书写字保持正确的坐姿及握笔姿势；连续用眼40分钟，需要远眺10分钟；不在过强或过弱的光线下看书；不在走路或乘车时看书；尽量少用电子产品。</p>
                    <p class="fkjs_p">3、养成良好的生活习惯，每天保证8小时的睡眠时间；少吃甜食，少喝碳酸饮料；多吃水果和蔬菜，不挑食。</p>
                </div>
                <div class="img_yufang_box">
                    <%= image_tag("yufang_1.jpg") %>
                </div>
                <div class="img_yufang_box">
                    <%= image_tag("yufang_2.jpg") %>
                </div>

            </div>
                <div class="fkjs_container_zhiliao">
                    <h2 class="fkjs_container_header">1.5近视的治疗方法</h2>
                    <div class="fkjs_container_zhiliao_box">
                        <p class="fkjs_p">
                           青少年近视有哪些科学的矫正方式？
                        </p>
                        <h3 class="fkjs_container_smallHeader">
                            框架眼镜：
                        </h3>
                        <p class="fkjs_p">
                            配戴合适的框架眼镜，定期到医復查，根据情况更换。
                        </p>
                        <div class="fkjs_img_box">
                            <%= image_tag("zhiliao_1.jpg") %>
                        </div>
                        <h3 class="fkjs_container_smallHeader">
                           硬性角膜接触镜：
                        </h3>
                        <p class="fkjs_p">角膜塑形镜能有效控制近视发展，是青少年近视患者的首选。RGP适合不同年龄各类屈光不正患者的验配，且控制近视效果优于框架镜。</p>
                    </div>
                    <div class="fkjs_container_zhiliao_footer">
                        <h3 class="fkjs_container_smallHeader">
                            中医在青少年近视防控中的优势？
                        </h3>
                        <p class="fkjs_otherP">中医在医学验光配镜、科学用眼基础上，采用耳穴压丸、中药熏洗、中药煎剂等优势手段，形成中医药近视综合防控方案，有效防控近视的发生发展。</p>
                    </div>
                </div>
      </div>
  </div>
</div>

