<!--banner-->
<%= image_tag("qgy_banner.jpg") %>
<!--banner-->
<!--科室介绍-->
<div class="centerModule flow pad15">
    <div class="line30 thisIndent2 glaucomaCenter fl">
        <h5 class="h5Title centerH5">青光眼科</h5>
        <p>银海眼科医院青光眼科是一个集临床诊疗、教学科普、科研创新、产业研发为一体的医疗科室。科室云集了一批经验丰富的青光眼专家，充分整合中西医临床技术与资源，引进国际高端设备，开展各种抗青光眼手术和中西医视力保护等。科室秉承“大医精诚”之精神，综合运用前沿的西医技术及传统中医治疗手段，为广大青光眼患者提供专业、优质、全面的诊疗服务。</p>
    </div>
    <%= image_tag("qgy_topRight.jpg",:class => "fr marR65") %>
</div>
<!--科室介绍-->
<!--科室专家-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>科室专家</span>
    </p>
    <ul class="glaucomaDoctors flow">
        <li class="fl marB20">
            <div class="fl">
                <%= link_to image_tag("zj14.jpg") %>
            </div>
            <div class="expertSynopsis fr">
                <h5>潘学会</h5>
                <p>副主任医师/医学硕士</p>
                <p class="expertsGoodAt"><span>擅长领域：</span></p>
                <p>长期从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验。擅长各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病中西医结合治疗。</p>
            </div>
        </li>
        <li class="fr marB20">
            <div class="fl">
                <%= link_to image_tag("zj10.jpg") %>
            </div>
            <div class="expertSynopsis fr">
                <h5>张富文</h5>
                <p>主任医师/教授/硕士生导师</p>
                <p class="expertsGoodAt"><span>擅长领域：</span></p>
                <p>青光眼，眼底血管性疾病，如视网膜静脉阻塞、糖尿病视网膜病变，黄斑变性，视神经病变等疑难眼底病变。中医综合综合调节治疗干眼症、视疲劳，学龄儿童和青少年视力保护，延缓控制近视发展等。</p>
            </div>
        </li>
        <li class="fl">
            <div class="fl">
                <%= link_to image_tag("zj18.jpg") %>
            </div>
            <div class="expertSynopsis fr">
                <h5>李强</h5>
                <p>主治医师/医学博士</p>
                <p class="expertsGoodAt"><span>擅长领域：</span></p>
                <p>糖尿病视网膜病变、视网膜静脉阻塞、视网膜静脉周围炎、结膜病、角膜病、干眼症等的中西医综合防治。</p>
            </div>
        </li>
        <li class="fr">
            <div class="fl">
                <%= link_to image_tag("zj17.jpg") %>
            </div>
            <div class="expertSynopsis fr">
                <h5>陈小凤</h5>
                <p>主治医师/医学博士</p>
                <p class="expertsGoodAt"><span>擅长领域：</span></p>
                <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
            </div>
        </li>
    </ul>
</div>
<!--科室专家-->
<!--医疗设备-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>医疗设备</span>
    </p>
    <ul class="EquipmentSlides">
        <li>
            <div>
                <div>
                    <%= image_tag("diabetes_equ3.jpg") %>
                </div>
                <p>HD-OCT5000</p>
            </div>
            <div>
                <div>
                    <%= image_tag("diabetes_equ1.jpg") %>
                </div>
                <p>Humphrey 750i视野分析仪</p>
            </div>
            <div>
                <div>
                    <%= image_tag("diabetes_equ2.jpg") %>
                </div>
                <p>海德堡OCT</p>
            </div>
        </li>
        <li>
            <div>
                <div>
                    <%= image_tag("diabetes_equ2.jpg") %>
                </div>
                <p>罗兰眼电生理</p>
            </div>
        </li>
    </ul>
</div>
<!--医疗设备-->
<!--诊疗项目-->
<div class="centerModule">
    <p class="blueBTitle">
        <span>诊疗项目</span>
    </p>
    <div class="pad20">
        <p class="thisIndent2">我科开展各类抗青光眼手术、各种激光治疗、以及青光眼白内障联合手术等，并引入中医药手段改善青光眼患者视神经受损状况，建立了中西医结合治疗青光眼的策略。目前我科开展的抗青光眼手术有：</p>
        <div class="glaucomaTreatment flow glaucomaTreatmentFiList">
            <div class="fl">
                <div class="glaucomaBg">
                    <p>周边虹膜</p>
                    <p>切除术</p>
                </div>
                <p>主治瞳孔阻滞引起的早期原发性闭角型青光眼，能够解除瞳孔阻滞。除常规手术外，我科还拥有德国蔡司YAGⅢ眼前节激光仪，门诊即可完成激光虹膜切开术。</p>
            </div>
            <div class="fr">
                <div class="glaucomaBg">
                    <p>小梁切开术、</p>
                    <p>房角切开术</p>
                </div>
                <p>主治原发性先天性婴幼儿型青光眼，能够切开发育不良或通透不够的小梁网，解除小梁网阻塞，使房水能经正常途径引流。</p>
            </div>
        </div>
        <div class="glaucomaTreatment flow glaucomaTreatmentSeList">
            <div class="fl">
                <div class="glaucomaBg">
                    <p>滤过性手术</p>
                </div>
                <p>滤过性手术（如：小梁切除术、激光巩膜造瘘术、房水引流装置植入术、粘小管成形术、CLASS手术）——主治原发性开角型青光眼，手术原理是通过建立房水外引流通道，使房水流出增加，以此降低眼压。除了传统的小梁切除术，我科还引进了激光小梁消融仪，是美国NeoMedix公司新推出的一种青光眼微创手术设备，小切口即可完成手术，且术后降眼压效果好、并发症少。</p>
            </div>
            <div class="fr">
                <div class="glaucomaBg">
                    <p>房水引流</p>
                    <p>装置植入术</p>
                </div>
                <p>房水引流装置植入术是通过房水引流装置（房水引流钉、房水引流阀等）将房水引流到固定于眼球赤道部的房水收集装置。引流装置可根据眼压高低调节流出通道的开闭状态，以此稳定眼压。粘小管成形术是利用微导管探通房水流出通道，并以粘弹剂和缝线的牵拉作用维持房水流出通道畅通，该术式没有滤过泡，患者并发症较少。</p>
            </div>
        </div>
        <div class="glaucomaTreatment flow glaucomaTreatmentThList">
            <div class="fl">
                <div class="glaucomaBg">
                    <p>CLASS手术</p>
                </div>
                <p>CLASS手术的全称是CO2激光辅助深层巩膜切除术（CO2 Laser-Assisted Sclerectomy Surgery），该手术采用的全新理念是利用CO2激光消融形成房水外引流通道。同样没有滤过泡形成，避免了通过滤过泡引流造成的瘢痕化问题和破裂感染的问题。同时，由于并没有切穿眼球壁，所以不会直接进入眼内，从而避免了对眼球内部的副作用。病人在术后刺激感轻，手术过程也更加安全、简便。</p>
            </div>
            <div class="fr">
                <div class="glaucomaBg">
                    <p>睫状体</p>
                    <p>破坏手术</p>
                </div>
                <p>睫状体破坏手术（如：睫状体冷凝术、睫状体透热术、睫状体光凝术）——睫状体作为产生房水的组织，被手术破坏后，房水生成减少，能有效控制高眼压。</p>
            </div>
        </div>
    </div>
</div>
<!--诊疗项目-->
<% content_for :script do %>
<%= javascript_include_tag 'jquery.jDiaporama' %>
<script>
    $(document).ready(function(){

        $(".EquipmentSlides").jDiaporama({
            animationSpeed: "slow",
            delay:5,
            auto:true
        });
    });
</script>
<% end %>
