
<!--新闻中心-->
<div class="middle">
    <div class="column flow mdlPad">
        <div class="fl newOuter">
            <!--轮播-->
            <div class="slide slide-left">
                <ul class="slide-wrapper">
                    <li>
                        <%= link_to image_tag("news_kyhd_1.jpg"),news_path(:成都中医大银海眼科医院隆重举行开业庆典仪式) %>
                        <div class="inner">
                            <p>大医精诚 银海启明--成都中医大银海眼科医院隆重举行开业庆典仪式</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_ylsh_1.jpg"),news_path(:中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开) %>
                        <div class="inner">
                            <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_banner_lpz.jpg"),news_path(:第三届国医大师首个工作室廖品正大师工作室在蓉成立) %>
                        <div class="inner">
                            <p>第三届国医大师工作室廖品正大师工作室在蓉成立</p>
                        </div>
                    </li>
                </ul>
                <div class="slidebox">
                    <div class="slideWrap">
                        <ul class="dot-wrap">
                            <li class="current"><em>1</em></li>
                            <li><em>2</em></li>
                            <li><em>3</em></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="newsContainer">
                <h4>
                    <span>新闻动态</span><em><%= link_to :'更多>>',news_path(:新闻列表),class:"hrefTitWord" %></em>
                </h4>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000382&idx=1&sn=7f64154dc2da2178f874c1c0708884b2&chksm=7d4c422a4a3bcb3c5f12b92c84fee2264cc5a1724ec45cf909f437ba4e03b26eb47570bd1608#rd
" class="hrefTitWord" target="_blank">视觉第一 • 高原光明行（玉树——我院携手中国狮子联会免费白内障手术援助公益行</a></div>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000378&idx=1&sn=ace6c24548e889aada1f0568e9501c54&chksm=7d4c422e4a3bcb382b3cbe7cb53404176935e14b5ff76cda8832ed66c174c60ab3ddc0c4d788#rd
"  class="hrefTitWord" target="_blank">对口扶贫，精准复明-----中医大银海眼科医院正式托管甘孜州得荣县人民医院眼科</a></div>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000374&idx=1&sn=9c7255486c311a43889dc674cccc9c1a&chksm=7d4c42224a3bcb3481a03c55d7f285474ff69699d9358de877aa9b9bfc4001160b3873cdf0a2#rd
" class="hrefTitWord" target="_blank">来自名医的护眼秘籍</a></div>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000374&idx=2&sn=a3d8791c69dd049fc866fcb24eb32581&chksm=7d4c42224a3bcb346bcfa8fef9613c97503fdb85ed9c01d92c0cd254a7511abf7330aa7c8805#rd
" class="hrefTitWord" target="_blank">摘下眼镜的你，不要太好看哦！</a></div>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000360&idx=1&sn=3be7fe0449c94608bb60867e3b93d045&chksm=7d4c423c4a3bcb2a3dd5cc60953281f66343e575774c722d5b9d4081eb29aa0381ea521e2b5c#rd
" class="hrefTitWord" target="_blank">八旬太婆亲送锦旗：你是我见过最好的医生！</a></div>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=1&sn=967979351c8e95baf254e51830261b82&chksm=7d4c42374a3bcb21e72eae314feca10a019b53fc4a924e9e6d39add7066bdec91e3e80e0f908#rd
" class="hrefTitWord" target="_blank">上海交通大学党委副书记、医学院党委书记范先群教授莅临我院指导</a></div>
                <div><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=2&sn=39c61867b3b98f6988a34502c3815f1d&chksm=7d4c42374a3bcb212cd931503646510eef358e1dfbe04278bc100036b96b20922c0491fb7068#rd
" class="hrefTitWord" target="_blank">【喜讯】热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</a></div>
                <div>
                    <%= link_to news_path(:有一种震撼叫军人的眼神),  class: 'hrefTitWord' do %>
                    <em>【银海致敬】 </em>有一种震撼叫军人的眼神！
                    <% end %>
                    <p>关于军人眼神的形容有很多，勇敢，锐利，深邃，具有穿透力。无论哪个形容词都是在诠释属于军人的坚强与刚毅！哪怕前方风吹雨打，那双眼睛都早已说出一切——属于军人的百折不悔的毅力和决心！有一种震撼叫做军人的眼神！</p>
                </div>
                <div>
                    <%= link_to news_path(:成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计招标公告),  class: 'hrefTitWord' do %>
                    <em>【招标公告】 </em>成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计招标公告
                    <% end %>
                    <p>本招标项目为成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计，建设资金来自企业自筹资金，招标人为成都中医大银海眼科医院股份有限公司。项目已具备招标条件，现邀请符合本次招标要求的单位参加成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计投标。</p>
                </div>



            </div>
        </div>
        <!--轮播-->
        <!--视频-->
        <div class="fr videoScope">
            <div class="videoList">
                <div class="flVideo">
                    <a href="http://v.youku.com/v_show/id_XMjgwODg2Mjk2OA==.html?sharefrom=iphone" target="_blank">
                        <div>
                            <%= image_tag("video_5.jpg") %>
                        </div>
                        <p>20170606爱眼月 爱心义诊关注健康 高清</p>

                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjg5OTgxODEzMg==.html?spm=a2h3j.8428770.3416059.1" target="_blank">
                        <div>
                            <%= image_tag("video_6.jpg") %>
                        </div>
                        <p>[资讯]四川科教频道—银海开业庆典新闻报道</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjY5MTQwNjE4OA==.html" target="_blank">
                        <div>
                            <%= image_tag("video_1.jpg") %>
                        </div>
                        <p>四川省糖尿病防治协会举行学术年会暨糖尿病早期筛···</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
            </div>


            <div class="videoWordList">
                <div>
                    <a href="https://v.qq.com/x/page/v0536bfx1p5.html" target="_blank">成都中医大银海眼科医院四会盛况暨开业庆典</a>
                </div>
                <div>
                    <a href="http://mp.weixin.qq.com/s/x4I4FVTPyHSK9-x_ORfbRw" target="_blank">高新电视台报道第二届健康嘉年华活动</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">银海眼科医院揭牌仪式</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjg5ODU0MDUwOA==.html" target="_blank">成都中医大银海眼科医院举行开业庆典</a>
                </div>

            </div>

        </div>

        <!--视频-->

    </div>
</div>
<!--新闻中心-->

<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });

</script>
