
<!--新闻中心-->
<div class="middle">
    <div class="column flow mdlPad">
        <div class="fl newOuter">
            <!--轮播-->
            <div class="slide slide-left">
                <ul class="slide-wrapper">
                    <li>
                        <%= link_to image_tag("news_kyhd_1.jpg"),news_path(:成都中医大银海眼科医院隆重举行开业庆典仪式) %>
                        <div class="inner">
                            <p>大医精诚 银海启明--成都中医大银海眼科医院隆重举行开业庆典仪式</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_ylsh_1.jpg"),news_path(:中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开) %>
                        <div class="inner">
                            <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_banner_lpz.jpg"),news_path(:第三届国医大师工作室廖品正大师工作室在蓉成立) %>
                        <div class="inner">
                            <p>第三届国医大师工作室廖品正大师工作室在蓉成立</p>
                        </div>
                    </li>
                </ul>
                <div class="slidebox">
                    <div class="slideWrap">
                        <ul class="dot-wrap">
                            <li class="current"><em>1</em></li>
                            <li><em>2</em></li>
                            <li><em>3</em></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="newsContainer">
                <h4>
                    <span>新闻动态</span><em><%= link_to :'更多>>',news_path(:新闻列表),class:"hrefTitWord" %></em>
                </h4>
                <div>
                    <%= link_to news_path(:周跃华主任手术直播圆满成功),  class: 'hrefTitWord' do %>
                    <em>【媒体报道】 </em>成都中医大银海眼科医院隆重举行开业庆典仪式
                    <% end %>
                </div>
                <div>
                    <%= link_to '#', :class => 'hrefTitWord' do %>
                    <em>【媒体报道】 </em>成都中医大银海眼科医院隆重举行开业庆典仪式
                    <% end %>
                    <p></p>
                </div>
                <div>
                    <%= link_to :'网友点赞！我院朱思泉副院长、周跃华主任手术直播圆满成功，双双获得肯定！',news_path(:周跃华主任手术直播圆满成功),class:"hrefTitWord" %>
                    <p>7月20日，我院朱思泉副院长、周跃华主任，在中医大附属银海眼科医院分别进行了白内障人工晶体植入手术和蔡司“全飞秒”角膜屈光的手术直播。这种新颖的方式不仅展示了两位专家精湛的眼科手术功底，同时也消除网友们对眼科手术的误解，获得了2万多网友的一致点赞。</p>
                </div>
                <div>
                    <%= link_to :'【银海名医】将病根彻底拔除——张富文',news_path(:将病根彻底拔除),class:"hrefTitWord" %>
                    <p>长期从事眼科学临床、教学和科研工作，并从事中医信息化管理。在临床方面从事糖尿病及并发症的研究和青光眼治疗、视神经保护研究，在临床中开展青光眼的临床开展各种先进的抗青光眼手术，研究青光眼的视神经保护治疗，在中药保护视神经的研究中有重要的发现，开发出保护视神经中药和滴眼液各一种。</p>
                </div>
                <div>
                    <%= link_to :'【银海名医—路雪婧】这个医生不太冷，视患者如亲人',news_path(:这个医生不太冷),class:"hrefTitWord" %>
                    <p>成都中医大银海眼科医院特检部主任，全国首批中医药传承博士后，四川省首届十大名中医学术继承人，中国民族医药学会眼科分会副会长、中华中医药学会眼科专业委员会委员、青年副主任委员，中华中医药促进会糖尿病分会常务委员，四川省青年中医药学会副主任委员，四川省中医药学会眼科专委会副主任委员，中华中医药学会糖尿病分会青年委员。第五批四川省中医药管理局学术和技术带头人、第十批四川省学术技术带头人后备人选。</p>
                </div>
                <div>
                    <%= link_to :'【银海名医—袁晓辉】孩子们亲切的“护眼妈妈”',news_path(:孩子们亲切的护眼妈妈),class:"hrefTitWord" %>
                    <p>成都中医大银海眼科医院院长助理、小儿眼科主任、眼视光学术带头人，全国知名小儿眼科专家，全国名老中医药专家学术经验继承人，中国民族医药学会眼科分会常务理事，四川省中西医结合学会眼科专业委员会委员，四川省医学会眼视光专业委员会委员。</p>
                </div>
                <div>
                    <%= link_to :'【银海名医-周春阳】眼科江湖中的屈光大侠',news_path(:眼科江湖中的屈光大侠),class:"hrefTitWord" %>
                    <p>成都中医药大学眼科学院眼视光教研室主任，成都中医药大学附属眼科医院/成都中医大银海眼科医院眼视光中心副主任。中国民族医药学会眼科分会理事，四川省中医药学会眼科专业委员会常务委员，四川省预防医学会眼视觉保健分会常务理事，四川省青年中医药研究会委员，成都市视力保护协会监事。《中医眼耳鼻喉杂志》通讯编委，《中华医学百科全书》中医眼科卷编委。</p>
                </div>

                <div>
                    <%= link_to :'【华佗工程】眼科分级诊疗联盟在四川成立',news_path(:中国首个眼科分级诊疗联盟在四川成立),class:"hrefTitWord" %>
                    <p>为落实《健康中国2030》战略，支援基层眼科医疗卫生体系建设，促进眼科医疗卫生资源下沉，推动眼科卫生事业城乡一体化。7月16日， “专项技术支持项目”华佗工程眼科分级诊疗联盟省级中心在四川成立，中国医促会在成都中医大银海眼科医院银海厅举行了隆重的“华佗工程眼科分级诊疗联盟四川省中心”启动仪式。</p>
                </div>
                <div>
                    <%= link_to :'段俊国院长入选2016成都人才计划“国家级创业领军人才”',news_path(:段俊国院长入选2016国家级创业领军人才),class:"hrefTitWord" %>
                    <p>日前，成都市人才工作领导小组专项办公布2016年“成都人才计划”创新创业人才（团队）入选名单，我院段俊国院长成功入选，获得长期项目创业类最高级别个人资助项目，并被授予“2016年成都市人才计划”特聘专家称号。7月18日，成都市金牛区委组织部、金牛区卫计局领导专程到我院看望段俊国院长并表示祝贺。</p>
                </div>
                <div>
                    <%= link_to :'我国现代眼科学奠基人陈耀真教授诞辰 118 周年纪念学术研讨会在蓉召开',news_path(:我国现代眼科学奠基人陈耀真教授诞辰),class:"hrefTitWord" %>
                    <p>2017年是我国现代眼科奠基人之一、著名眼科学家和医学教育家陈耀真教授诞辰118周年，为了缅怀他在中国现代眼科的学术发展及人才培养等方面不可磨灭的贡献，7月16日， “陈耀真教授诞辰118周年纪念学术研讨会”在成都新华宾馆隆重举行。</p>
                </div>

            </div>
        </div>
        <!--轮播-->
        <!--视频-->
        <div class="fr videoScope">
            <div class="videoList">
                <div class="flVideo">
                    <a href="http://v.youku.com/v_show/id_XMjg5ODU0MDUwOA==.html" target="_blank">
                        <div>
                            <%= image_tag("video_4.jpg") %>
                        </div>
                        <p>成都中医大银海眼科医院举行开业庆典</p>

                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjY5MTQwNjE4OA==.html" target="_blank">
                        <div>
                            <%= image_tag("video_1.jpg") %>
                        </div>
                        <p>四川省糖尿病防治协会举行学术年会暨糖尿病早期筛···</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
            </div>


            <div class="videoWordList">
                <div>
                    <a href="http://mp.weixin.qq.com/s/x4I4FVTPyHSK9-x_ORfbRw" target="_blank">高新电视台报道第二届健康嘉年华活动</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">银海眼科医院揭牌仪式</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjgwODg2Mjk2OA==.html?sharefrom=iphone" target="_blank">20170606爱眼月 爱心义诊关注健康 高清</a>
                </div>
            </div>

        </div>

        <!--视频-->

    </div>
</div>
<!--新闻中心-->

<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });

</script>
