<%= render 'news/new_tkd' %>
<!--新闻中心-->
<div class="middle">
    <div class="column flow mdlPad">
        <div class="fl newOuter">
            <!--轮播-->
            <div class="slide slide-left">
                <ul class="slide-wrapper">

                    <li>
                        <%= link_to 'javascript:void(0);' do %>
                            <%= image_tag("news_page_s1.jpg") %>
                        <% end %>
                        <div class="inner">
                          <p>中国医促会全民眼健康提升计划系列活动暨爱眼全国行</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to 'javascript:void(0);' do %>
                            <%= image_tag("news_page_s2.jpg") %>
                        <% end %>
                        <div class="inner">
                          <p>成都第二届爱眼月公益活动暨金牛区眼健康工程正式启动</p>
                        </div>
                   </li>
                    <li>
                        <%= link_to 'javascript:void(0);' do %>
                            <%= image_tag("news_page_s3.jpg") %>
                        <% end %>
                        <div class="inner">
                          <p>成都中医药大学“2018高考学子中医药文化体验营”学生来我院参观学习</p>
                        </div>
                   </li>

                </ul>
                <div class="slidebox">
                    <div class="slideWrap">
                        <ul class="dot-wrap">
                            <li class="current"><em>1</em></li>
                            <li><em>2</em></li>
                            <li><em>3</em></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="newsContainer">
                <h4>
                    <span>新闻动态</span><em><%= link_to :'更多>>', news_index_path(function: '新闻列表'),class:"hrefTitWord" %></em>
                </h4>
                <% if @newIndex.present? %>
                <% @newIndex.each do |new| %>
                <div>
                    <%= link_to new.scan_rails_path.blank? ? news_path(new.id, from: 'db') : new.scan_rails_path do %>
                    <p><%= new.title %></p><span class="fr"><%= new.occurred_at==Time.utc(1970) ? ' ' : (l new.occurred_at, format: :human_date) %></span>
                    <% end %>
                </div>
                <% end %>
                <% end %>

            </div>
        </div>
        <!--轮播-->
        <!--视频-->
        <div class="fr videoScope">

            <div class="videoList">
                <div class="flVideo">
                    <a href="https://v.youku.com/v_show/id_XMzc5MDc1NzI2MA==.html?spm=a2hzp.8253869.0.0 " target="_blank" >
                        <div>
                            <%= image_tag("news_video/kms1.jpg",:class => 'allWidth') %>
                        </div>
                        <p></p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div class="flVideo">
                    <a href="http://video.tudou.com/v/XMzc5MTAxMTUxNg==.html?spm=a2hzp.8244740.0.0
" target="_blank" >
                        <div>
                            <%= image_tag("news_video/qdys.jpg",:class => 'allWidth') %>
                        </div>
                        <p></p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div class="flVideo">
                    <a href="http://video.tudou.com/v/XMzc5MTA2MTI3Mg==.html?spm=a2hzp.8253869.0.0" target="_blank" >
                        <div>
                            <%= image_tag("news_video/bwcx.jpg",:class => 'allWidth') %>
                        </div>
                        <p></p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div class="flVideo">
                    <a href="https://v.qq.com/x/page/r0670rdzjui.html" target="_blank" >
                        <div>
                            <%= image_tag("video-zyzf.jpg",:class => 'allWidth') %>
                        </div>
                        <p>中央电视台权威专访成都中医大银海眼科医院专家：激光笔对儿童视力的可怕危害</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/b06061kotft.html" target="_blank" >
                        <div>
                            <%= image_tag("video_ineye_xc.jpg",:class => 'allWidth') %>
                        </div>
                        <p>银海眼科宣传片</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/o0555duixcw.html" target="_blank" >
                        <div>
                            <%= image_tag("video-tx-ljs.jpg",:class => 'allWidth') %>
                        </div>
                        <p>全国知名眼底外科专家刘文做客《健康名人汇》</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/t0533taudpv.html" target="_blank" >
                        <div>
                            <%= image_tag("video-tx-yxh.jpg",:class => 'allWidth') %>
                        </div>
                        <p>青少年近视究竟该如何防控？</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/m0517omk4u8.html" target="_blank" >
                        <div>
                            <%= image_tag("video-tx-zcy.jpg",:class => 'allWidth') %>
                        </div>
                        <p>《健康名人汇》关于屈光不正的那些事儿</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/h0549z9zloy.html" target="_blank" >
                        <div>
                            <%= image_tag("videoImg_djg.jpg",:class => 'allWidth') %>
                        </div>
                        <p>四川电视台科教频道——中医大银海眼科段俊国院长专题纪录片</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>

            </div>


            <div class="videoWordList">
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjgwODg2Mjk2OA==.html?sharefrom=iphone">20170606爱眼月 爱心义诊关注健康 高清</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjg5OTgxODEzMg==.html?spm=a2h3j.8428770.3416059.1">[资讯]四川科教频道—银海开业庆典新闻报道</a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/v0536bfx1p5.html" target="_blank">成都中医大银海眼科医院四会盛况暨开业庆典</a>
                </div>
                <div>
                    <a rel="nofollow" href="http://mp.weixin.qq.com/s/x4I4FVTPyHSK9-x_ORfbRw" target="_blank">高新电视台报道第二届健康嘉年华活动</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">银海眼科医院揭牌仪式</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjg5ODU0MDUwOA==.html" target="_blank">成都中医大银海眼科医院举行开业庆典</a>
                </div>

            </div>

        </div>

        <!--视频-->

    </div>
</div>
<!--新闻中心-->
<% content_for :script do %>
<%= javascript_include_tag 'slide-2' %>
<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });

</script>
<% end %>

