
<!--新闻中心-->
<div class="middle">
  <div class="column flow mdlPad">
    <div>
      <!--轮播-->
      <div class="slide slide-left fl">
        <ul class="slide-wrapper">
          <li>
            <%= link_to image_tag("shyhx_1.jpg"),news_path(:近视防控显成效沙河源小学来中医大银海眼科医院致谢) %>
            <div class="inner">
              <p>近视防控显成效，沙河源小学来中医大银海眼科医院致谢</p>
            </div>
          </li>
          <li style="display:none">
            <%= link_to image_tag("shy_3.jpg"),news_path(:守护心灵之窗沙河源小学眼健康科普公益活动) %>
            <div class="inner">
              <p>守护心灵之窗—沙河源小学眼健康科普公益活动</p>
            </div>
          </li>
        </ul>
        <div class="slidebox">
          <div class="slideWrap">
            <ul class="dot-wrap">
              <li class="current"><em>1</em></li>
              <li><em>2</em></li>
            </ul>
          </div>
        </div>
        <!--<a href="javascript:" class="ctrl-slide prev"><%= image_tag("btn_left.png") %></a>-->
        <!--<a href="javascript:" class="ctrl-slide next"><%= image_tag("btn_right.png") %></a>-->
      </div>
      <div class="newsContainer">
        <div>
          <a href="">
            <h5>【多彩漫画·童心绘】眼健康科普走进泡桐树小学（西区）</h5>
            <p>2017年5月8日，四川省视力保护科普基地联合我院深入泡桐树小学（西区），开展“眼健康科普校园公益行”活动，为70余名学生及家长进行了眼健康知识讲座和眼健康普查。</p>
          </a>
        </div>
        <div>
          <a href="">
            <h5>近视激光手术进入千频时代，首台阿玛仕1050RS落户中医大银海眼科医院</h5>
            <p>2017年5月18日，代表世界最高技术水平的阿玛仕1050RS准分子激光系统中国上市会在上海召开。成都中医药大学附属银海眼科医院院长段俊国教授应邀参加，并获颁“阿玛仕时代先锋奖”。</p>
          </a>
        </div>
      </div>
    </div>
    <!--轮播-->
    <!--视频-->
    <div class="fr videoScope">
      <div class="flVideo">
        <a href="http://v.youku.com/v_show/id_XMjY5MTQwNjE4OA==.html" target="_blank">
          <div>
            <%= image_tag("video_1.jpg") %>
          </div>
          <p>四川省糖尿病防治协会举行学术年会暨糖尿病早期筛···</p>
          <%= image_tag("play_btn.png",class: "playBtn") %>
        </a>
      </div>
      <div>
        <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">
          <div>
            <%= image_tag("video_2.jpg") %>
          </div>
          <p>银海眼科医院揭牌仪式</p>

          <%= image_tag("play_btn.png",class: "playBtn") %>
        </a>
      </div>

    </div>

    <!--视频-->

  </div>
</div>
  <!--新闻中心-->

<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
         seamless:true,
        dir:"x",
    });

</script>
