<!--新闻中心-->
<div class="middle">
    <div class="column flow mdlPad">
        <div class="fl newOuter">
            <!--轮播-->
            <div class="slide slide-left">
                <ul class="slide-wrapper">
                    <li>
                        <%= link_to image_tag("news_kyhd_1.jpg"),news_path(:成都中医大银海眼科医院隆重举行开业庆典仪式) %>
                        <div class="inner">
                            <p>大医精诚 银海启明--成都中医大银海眼科医院隆重举行开业庆典仪式</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_ylsh_1.jpg"),news_path(:中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开) %>
                        <div class="inner">
                            <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_banner_lpz.jpg"),news_path(:第三届国医大师首个工作室廖品正大师工作室在蓉成立) %>
                        <div class="inner">
                            <p>第三届国医大师工作室廖品正大师工作室在蓉成立</p>
                        </div>
                    </li>
                </ul>
                <div class="slidebox">
                    <div class="slideWrap">
                        <ul class="dot-wrap">
                            <li class="current"><em>1</em></li>
                            <li><em>2</em></li>
                            <li><em>3</em></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="newsContainer">
                <h4>
                    <span>新闻动态</span><em><%= link_to :'更多>>', news_index_path(function: '新闻列表'),class:"hrefTitWord" %></em>
                </h4>
                <% if @newIndex.present? %>
                <% @newIndex.each do |new| %>
                <div>
                    <%= link_to new.scan_rails_path.blank? ? news_path(new.id, from: 'db') : new.scan_rails_path do %>
                    <p><%= new.title %></p><span class="fr"><%= new.occurred_at==Time.utc(1970) ? ' ' : (l new.occurred_at, format: :human_date) %></span>
                    <% end %>
                </div>
                <% end %>
                <% end %>

            </div>
        </div>
        <!--轮播-->
        <!--视频-->
        <div class="fr videoScope">
            <div class="videoList">
                <div class="flVideo">
                    <a href="https://v.qq.com/x/page/n0549arigqb.html" target="_blank" >
                        <div>
                            <%= image_tag("video-newyear.jpg",:class => 'allWidth') %>
                        </div>
                        <p>成都中医大银海眼科医院给您拜年啦！</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="https://v.qq.com/x/page/h0549z9zloy.html" target="_blank" >
                        <div>
                            <%= image_tag("videoImg_djg.jpg",:class => 'allWidth') %>
                        </div>
                        <p>四川电视台科教频道——中医大银海眼科段俊国院长专题纪录片</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjgwODg2Mjk2OA==.html?sharefrom=iphone" target="_blank">
                        <div>
                            <%= image_tag("video_5.jpg") %>
                        </div>
                        <p>20170606爱眼月 爱心义诊关注健康 高清</p>

                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjg5OTgxODEzMg==.html?spm=a2h3j.8428770.3416059.1" target="_blank">
                        <div>
                            <%= image_tag("video_6.jpg") %>
                        </div>
                        <p>[资讯]四川科教频道—银海开业庆典新闻报道</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
            </div>


            <div class="videoWordList">
                <div>
                    <a href="https://v.qq.com/x/page/v0536bfx1p5.html" target="_blank">成都中医大银海眼科医院四会盛况暨开业庆典</a>
                </div>
                <div>
                    <a href="http://mp.weixin.qq.com/s/x4I4FVTPyHSK9-x_ORfbRw" target="_blank">高新电视台报道第二届健康嘉年华活动</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">银海眼科医院揭牌仪式</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjg5ODU0MDUwOA==.html" target="_blank">成都中医大银海眼科医院举行开业庆典</a>
                </div>

            </div>

        </div>

        <!--视频-->

    </div>
</div>
<!--新闻中心-->
<% content_for :script do %>
<%= javascript_include_tag 'slide-2' %>
<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });

</script>
<% end %>

