
<!--新闻中心-->
<div class="middle">
    <div class="column flow mdlPad">
        <div class="fl newOuter">
            <!--轮播-->
            <div class="slide slide-left">
                <ul class="slide-wrapper">
                    <li>
                        <%= link_to image_tag("news_kyhd_1.jpg"),news_path(:成都中医大银海眼科医院隆重举行开业庆典仪式) %>
                        <div class="inner">
                            <p>大医精诚 银海启明--成都中医大银海眼科医院隆重举行开业庆典仪式</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_ylsh_1.jpg"),news_path(:中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开) %>
                        <div class="inner">
                            <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
                        </div>
                    </li>
                    <li>
                        <%= link_to image_tag("news_banner_lpz.jpg"),news_path(:第三届国医大师工作室廖品正大师工作室在蓉成立) %>
                        <div class="inner">
                            <p>第三届国医大师工作室廖品正大师工作室在蓉成立</p>
                        </div>
                    </li>
                </ul>
                <div class="slidebox">
                    <div class="slideWrap">
                        <ul class="dot-wrap">
                            <li class="current"><em>1</em></li>
                            <li><em>2</em></li>
                            <li><em>3</em></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="newsContainer">
                <h4>
                    <span>新闻动态</span><em><%= link_to :'更多>>',news_path(:新闻列表),class:"hrefTitWord" %></em>
                </h4>
                <div>
                    <%= link_to :'网友点赞！我院朱思泉副院长、周跃华主任手术直播圆满成功，双双获得肯定！',news_path(:周跃华主任手术直播圆满成功),class:"hrefTitWord" %>
                    <p>7月20日，我院朱思泉副院长、周跃华主任，在中医大附属银海眼科医院分别进行了白内障人工晶体植入手术和蔡司“全飞秒”角膜屈光的手术直播。这种新颖的方式不仅展示了两位专家精湛的眼科手术功底，同时也消除网友们对眼科手术的误解，获得了2万多网友的一致点赞。</p>
                </div>


                <div>
                    <%= link_to :'【华佗工程】眼科分级诊疗联盟在四川成立',news_path(:中国首个眼科分级诊疗联盟在四川成立),class:"hrefTitWord" %>
                    <p>为落实《健康中国2030》战略，支援基层眼科医疗卫生体系建设，促进眼科医疗卫生资源下沉，推动眼科卫生事业城乡一体化。7月16日， “专项技术支持项目”华佗工程眼科分级诊疗联盟省级中心在四川成立，中国医促会在成都中医大银海眼科医院银海厅举行了隆重的“华佗工程眼科分级诊疗联盟四川省中心”启动仪式。</p>
                </div>
                <div>
                    <%= link_to :'段俊国院长入选2016成都人才计划“国家级创业领军人才”',news_path(:段俊国院长入选2016国家级创业领军人才),class:"hrefTitWord" %>
                    <p>日前，成都市人才工作领导小组专项办公布2016年“成都人才计划”创新创业人才（团队）入选名单，我院段俊国院长成功入选，获得长期项目创业类最高级别个人资助项目，并被授予“2016年成都市人才计划”特聘专家称号。7月18日，成都市金牛区委组织部、金牛区卫计局领导专程到我院看望段俊国院长并表示祝贺。</p>
                </div>
                <div>
                    <%= link_to :'我国现代眼科学奠基人陈耀真教授诞辰 118 周年纪念学术研讨会在蓉召开',news_path(:我国现代眼科学奠基人陈耀真教授诞辰),class:"hrefTitWord" %>
                    <p>2017年是我国现代眼科奠基人之一、著名眼科学家和医学教育家陈耀真教授诞辰118周年，为了缅怀他在中国现代眼科的学术发展及人才培养等方面不可磨灭的贡献，7月16日， “陈耀真教授诞辰118周年纪念学术研讨会”在成都新华宾馆隆重举行。</p>
                </div>

                <div>
                    <%= link_to :'近视激光手术进入千频时代，首台阿玛仕1050RS落户中医大银海眼科医院' ,news_path(:首台阿玛仕1050RS落户中医大银海眼科医院),class:"hrefTitWord" %>
                    <p>2017年5月18日，代表世界最高技术水平的阿玛仕1050RS准分子激光系统中国上市会在上海召开。成都中医药大学附属银海眼科医院院长段俊国教授应邀参加，并获颁“阿玛仕时代先锋奖”。</p>
                </div>
                <div >
                    <%= link_to :'我院廖品正教授当选国医大师在京受表彰' ,news_path(:我院廖品正教授当选国医大师在京受表彰),class:"hrefTitWord" %>
                    <p>2017年6月29日下午，第三届国医大师表彰大会在北京隆重举行。根据《人力资源社会保障部、国家卫生计生委、国家中医药局关于表彰国医大师、全国名中医的决定》（人社部发〔2017〕45号），授予30位当代泰斗级名老中医为国医大师。成都中医药大学眼科学院/附属银海眼科医院中医眼科学家廖品正教授获此殊荣，这是继首届国医大师、中医眼科学家唐由之教授后，全国第二位、四川首位眼科界国医大师。</p>
                </div>

            </div>
        </div>
        <!--轮播-->
        <!--视频-->
        <div class="fr videoScope">
            <div class="videoList">
                <div class="flVideo">
                    <a href="http://v.youku.com/v_show/id_XMjg5ODU0MDUwOA==.html" target="_blank">
                        <div>
                            <%= image_tag("video_4.jpg") %>
                        </div>
                        <p>成都中医大银海眼科医院举行开业庆典</p>

                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjY5MTQwNjE4OA==.html" target="_blank">
                        <div>
                            <%= image_tag("video_1.jpg") %>
                        </div>
                        <p>四川省糖尿病防治协会举行学术年会暨糖尿病早期筛···</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
            </div>


            <div class="videoWordList">
                <div>
                    <a href="http://mp.weixin.qq.com/s/x4I4FVTPyHSK9-x_ORfbRw" target="_blank">高新电视台报道第二届健康嘉年华活动</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">银海眼科医院揭牌仪式</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjgwODg2Mjk2OA==.html?sharefrom=iphone" target="_blank">20170606爱眼月 爱心义诊关注健康 高清</a>
                </div>
            </div>

        </div>

        <!--视频-->

    </div>
</div>
<!--新闻中心-->

<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });

</script>
