
<!--新闻中心-->
<div class="middle">
    <div class="column flow mdlPad">
        <div class="fl newOuter">
            <!--轮播-->
            <div class="slide slide-left">
                <ul class="slide-wrapper">
                    <li>
                        <%= link_to image_tag("news_lpz_3.jpg"),news_path(:国医大师廖品正教授正式到院坐诊) %>
                        <div class="inner">
                            <p>国医大师廖品正教授6月6日正式坐诊中医大银海眼科医院</p>
                        </div>
                    </li>
                    <li style="display:none">
                        <%= link_to image_tag("jg_1.jpg"),news_path(:首台阿玛仕1050RS落户中医大银海眼科医院) %>
                        <div class="inner">
                            <p>近视激光手术进入千频时代，首台阿玛仕1050RS落户中医大银海眼科医院</p>
                        </div>
                    </li>
                    <li style="display:none">
                        <%= link_to image_tag("news_lpzds_1.jpg"),news_path(:我院廖品正教授当选国医大师在京受表彰) %>
                        <div class="inner">
                            <p>我院廖品正教授当选国医大师在京受表彰</p>
                        </div>
                    </li>

                </ul>
                <div class="slidebox">
                    <div class="slideWrap">
                        <ul class="dot-wrap">
                            <li class="current"><em>1</em></li>
                            <li><em>2</em></li>
                            <li><em>3</em></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="newsContainer">
                <h4>
                    <span>新闻动态</span><em><%= link_to :'更多>>',news_path(:新闻列表),class:"hrefTitWord" %></em>
                </h4>
                <div>
                    <%= link_to :'省中医药管理局局长田兴军来我院调研指导',news_path(:省中医药管理局局长田兴军来我院调研指导),class:"hrefTitWord" %>
                    <p>7月5日，四川省中医药管理局党组书记、局长田兴军、省中医药管理局机关党委书记方清、医政处赵忠明副处长（主持工作）等一行莅临我院调研指导工作并看望国医大师廖品正。我院院长、党委书记段俊国等院领导参加陪同。</p>
                </div>
                <div>
                    <%= link_to :'“省千人”朱思泉教授实施我院 首批3D飞秒激光白内障手术获得成功',news_path(:首批3D飞秒激光白内障手术获得成功),class:"hrefTitWord" %>
                    <p>“陈老师，我这辈子都没看这么清楚过，做手术之前我觉得你模模糊糊的挺瘦的，怎么现在看清楚你了，觉得你还有点胖呢。”这是住在12号床的任婆婆术后第一天最大的感触。近日，我院首批3D飞秒激光白内障手术在四川省千人计划特聘专家、北京同仁医院白内障中心主任、成都中医大银海眼科医院副院长/白内障屈光中心主任朱思泉教授的亲自主刀下成功完成。</p>
                </div>
                <div>
                    <%= link_to :'留学妹纸近视变形记 摘掉11年眼镜美美哒',news_path(:摘掉11年眼镜美美哒),class:"hrefTitWord" %>
                    <p>2017年6月9日，趁暑假飞回国的我终于做了近视手术，最激动和开心的是，我的手术是在爸爸工作的眼科医院做的，虽然不是爸爸亲自给我手术，却是知名眼科大咖北京同仁医院视光中心主任周跃华叔叔主刀及技术高超的眼视光医生给我做的！</p>
                </div>
                <div>
                    <%= link_to :'七分靠成绩 三分志愿拼 专家现场支招教你如何填报高考志愿',news_path(:专家现场支招教你如何填报高考志愿),class:"hrefTitWord" %>
                    <p>2017年我省高考各批次录取控制分数线已经正式公布，考生朋友们也都已经拿到了自己的高考分数。为指导考生和家长客观选择学校、正确填报志愿，由四川电视台科教频道《高考360》栏目主办，成都中医药大学附属银海眼科医院承办的2017高考志愿填报公益讲座，于2017年6月22日-23日在成都中医大银海眼科医院银海厅举办，讲座持续两天吸引了500余名考生及家长参加。</p>
                </div>
                <div>
                    <%= link_to :'医学硕士成为摘镜女神，且看其摘镜之旅',news_path(:且看其摘镜之旅),class:"hrefTitWord" %>
                    <p>谁说眼科医院自己人不做近视手术？又一名眼科医院美女硕士，在我院选择了全国首台Smart千频全激光近视手术完美摘镜。彻底摆脱了困扰多年的近视之苦，从一名女神经蜕变成为又一个摘镜女神。今天，让我们一同分享一下这位眼科医院美女硕士的摘镜之旅。</p>
                </div>
                <div>
                    <%= link_to :'眼科学院2017届硕士毕业典礼暨授位仪式隆重举行',news_path(:眼科学院2017届硕士毕业典礼暨授位仪式隆重举行), class:"hrefTitWord" %>
                    <p>花落成实，岁月流金。6月21日下午，眼科学院2017届硕士研究生毕业典礼暨授位仪式在成都中医药大学附属银海眼科医院六楼学术报告厅隆重举行。研究生院院长孟宪丽、眼科学院/附属银海眼科医院院长兼书记段俊国、研究生导师周华祥、郑燕林、谢学军、李翔、黄秀蓉、叶河江、路雪婧、莫亚、张富文，以及银海眼科医院医疗质量总监刘文教授、医务部潘学会主任、黄霄主任医师，2017届全体硕士研究生及其亲友团、眼科学院眼视光专业本科生代表参加了典礼。  </p>
                </div>
            </div>
        </div>
        <!--轮播-->
        <!--视频-->
        <div class="fr videoScope">
            <div class="videoList">
                <div class="flVideo">
                    <a href="http://v.youku.com/v_show/id_XMjY5MTQwNjE4OA==.html" target="_blank">
                        <div>
                            <%= image_tag("video_1.jpg") %>
                        </div>
                        <p>四川省糖尿病防治协会举行学术年会暨糖尿病早期筛···</p>
                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
                <div>
                    <a href="http://mp.weixin.qq.com/s/x4I4FVTPyHSK9-x_ORfbRw" target="_blank">
                        <div>
                            <%= image_tag("video_3.jpg") %>
                        </div>
                        <p>高新电视台报道第二届健康嘉年华活动</p>

                        <%= image_tag("play_btn.png",class: "playBtn") %>
                    </a>
                </div>
            </div>


            <div class="videoWordList">
                <div>
                    <a href="http://v.youku.com/v_show/id_XMTgxODgwNjE4OA==.html" target="_blank">银海眼科医院揭牌仪式</a>
                </div>
                <div>
                    <a href="http://v.youku.com/v_show/id_XMjgwODg2Mjk2OA==.html?sharefrom=iphone" target="_blank">20170606全国首个爱眼月 爱心义诊关注健康 高清</a>
                </div>
            </div>

        </div>

        <!--视频-->

    </div>
</div>
<!--新闻中心-->

<script>
    $(".slide.slide-left").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });

</script>
