<!--新闻中心-->
<div class="middle">
  <div class="column flow mdlPad">
    <!--轮播-->
    <div class="slide slide-left fl">
      <ul class="slide-wrapper">
        <li>
          <a href="javascript:;"><%= image_tag("xwzx1.png") %></a>
          <div class="inner">
            <p>近视防控显成效，沙河源小学来中医大银海眼科医院致谢</p>
          </div>
        </li>
        <li style="display:none">
          <a href="javascript:;"><%= image_tag("xwzx1.png") %></a>
          <div class="inner">
            <p>近视防控显成效，沙河源小学来中医大银海眼科医院致谢</p>
          </div>
        </li>
      </ul>
      <div class="slidebox">
        <div class="slideWrap">
          <ul class="dot-wrap">
            <li class="current"><em>1</em></li>
            <li><em>2</em></li>
          </ul>
        </div>
      </div>
      <a href="javascript:" class="ctrl-slide prev"><%= image_tag("btn_left.png") %></a> 
      <a href="javascript:" class="ctrl-slide next"><%= image_tag("btn_right.png") %></a>
    </div>
    <!--轮播-->
    <!--视频-->
    <div class="fr">
      <%= image_tag("xwsp.png") %>
    </div>

    <!--视频-->

  </div>
</div>
  <!--新闻中心-->