<div class="middle">

  <div class="newsMain">
    <div class="newsTitle">
      <h5>【银海名医——王国平 】一个“五代医学世家”的“银海梦” </h5>
      <p class="rightWord">2017-09-06</p>
    </div>

    <div>

      <fieldset>
        <legend>银海名医</legend>
        <div class="flow marB30">
          <%= image_tag("zj15.jpg", :class => "fl borderGray marR-30 marb-15") %>
          <p>王国平</p>
          <p>副主任医师/医学硕士</p>
          <p>第四军医大学眼科学硕士。从事眼科临床工作20年。曾进修于第三军医大学西南医院及四川大学华西医院。</p>
          <p>擅长眼底疾病的诊治、外路视网膜脱离复位手术、玻璃体切割手术、白内障超声乳化术、眼外伤救治以及眼底激光治疗。先后撰写学术论文12篇。曾获武警部队科技进步三等奖1项，四川省科技进步三等奖1项和乐山市科技进步二等奖1项。</p>
          <p>门诊时间：周一、周五下午、周四上午。</p>
        </div>
      </fieldset>
      <p><b>五代医学世家</b></p>
      <p>“我家五代从医，我爷爷的爷爷，清朝时在遂宁县是小有名气的中医。”5日下午小编前来采访时，成都中医大银海眼科医院眼底外科，副主任医师王国平略显骄傲地透露了这个小秘密。平时低调寡言的他在工作时更是忘我，一旁的护士和病人听到这个小秘密，目光中投来的满满的敬意。</p>
      <p>从小受到家人的耳濡目染，让王国平治病救人的梦想杨帆起航。而如今，身为“银海”这艘扬帆起航旗舰的骨干一员，这个“五代医学世家”有着自己的“银海梦”。</p>
      <div class="newsImgMar">
        <%= image_tag("news_wgpyhm_1.jpg") %>
      </div>
      <p><b>妙手拯救眼睛 铁杆粉丝追到成都</b></p>
      <p>王国平从事眼科临床工作已20年，积累了丰富的临床诊治经验。常听病人这样说：一名好医生，就像一个明星，会有很多人追。王国平在武警四川总队医院眼科工作时，正是这样一位受患者喜欢和认可的明星医生，而这样的待遇，源于他精湛的医术。</p>
      <p>有一年夏天，一名满眼是血的小伙子被急送到当地一家医院。哭泣的家属拽着医生说：“快！求你们救救他，他要是瞎了，我们家就塌了！”原来，小伙子经营一家汽修店，这一天，当他在敲打一个螺丝时，被一飞溅物体击伤左眼，当即小伙子的左眼剧痛、流泪、视力丧失。因这家医院无法作处理，马上想到了武警四川总队医院医术精湛的王国平医生。病人被紧急转送到王国平那里，王国平初步检查后说：“人员到位，马上手术！”几个小时手术，王国平成功帮其取出了因外伤而留存于眼球里的巨大铁屑，并做了角膜缝合、外伤性白内障摘除，玻璃体切割和视网膜裂孔封闭等一系列处理……结果，小伙子眼睛保住了。几年过去了，受伤眼睛的视力仍可达到0.5，这真是一个奇迹！</p>
      <p>为实现更高的医学梦想，王国平来到了成都，加入到中医大银海眼科医院。这位几年来一直和王国平保持联系的小伙子特地追到了成都，还专门看了王医生的新办公室：“王大哥，你虽然来了成都，但你还有我的亲友，看病还要找你，你是我的恩人，我相信你的医术！”</p>
      <div class="newsImgMar">
        <%= image_tag("news_wgpyhm_2.jpg") %>
      </div>
      <p><b>“银海梦” 筹建“糖尿病中心”造福患者</b></p>
      <p>王国平生在医学世家，他已经是第5代医者，对于家族献身医学这件事，王国平显得非常自豪。</p>
      <p>小时候的一件事让他一直记忆犹新。他的父亲帮村里一位小青年换药，小青年屁股脓疮溃烂生了一个大洞，看上去特别瘆人。父亲不避不嫌，坚持给他换药。过一段时间后，这位小青年完全康复了。这件小事让他见识了医学的伟大，并坚定了他把一生献给医学、减轻别人痛苦的梦想。大学填志愿的时候，他毫不犹豫选择填报的所有学校和专业都是医学类。</p>
      <p>当他离开乐山时，多少同仁苦苦挽留，但王国平心里很清楚，他需要更大平台，更多磨练，迫使自己追寻儿时的梦想，恰好中医大银海眼科医院给他提供了这个平台。他告诉小编说，<b>目前段俊国院长正雄心勃勃谋划一件大事——在银海眼科医院筹建一流的“糖尿病中心”。段院长带领团队的研究成果——“糖尿病微血管病变中医证效基础与临床循证研究”，曾获得四川省科技进步特等奖。眼睛不仅是心灵的窗口，还是观察全身血管的窗口。作为全身唯一能直接观察到血管的部位，医生可以通过观察眼睛包括视网膜微血管的各种变化，进而诊断出人体的健康状况。特别是糖尿病，它会破坏患者全身血管，它所带来的影响也会直接体现在眼睛里的视网膜上</b>
      </p>
      <p>在接下来的日子里，王国平想重点在这方面展示专长，并突破自己，造福更多的患者。</p>
      <div class="newsImgMar">
        <%= image_tag("news_wgpyhm_3.jpg") %>
      </div>
    </div>
  </div>
  <%= render partial: 'news/relate_read' %>
</div>




