<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 一位眼科美女博士的“获得感” </h5>
            <p class="rightWord">2017-09-08</p>
        </div>

        <div>
            <fieldset>
                <legend>玉树行名医</legend>
                <div class="flow marB30">
                    <%= image_tag("zj17.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>陈小凤</p>
                    <p>主治医师、博士</p>
                    <p>天津医科大学临床医学院博士研究生，硕士研究生期间师从四川省眼科学术带头人樊映川教授，博士研究生师从亚太眼外伤协会副主席颜华教授。</p>
                    <p>擅长领域：</p>
                    <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
                    <p>门诊时间</p>
                    <p>周一、周三上午，周五、周六全天</p>
                </div>
            </fieldset>
            <p>“获得感”，是大家熟悉的热词。它的字面含义是“获取某种利益后所产生的满足感”。你的“获得感”是什么？也许是赚更多的钱，也许是换了一套大房子，也许是儿孙绕膝……但有一位美女博士，她的“获得感”却与众不同。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_1.jpg") %>
                <p>表彰会上医疗队队员获赠荣誉证书</p>
            </div>
            <p>成都中医大银海眼科医院白内障屈光中心的青年才俊陈小凤，参加赴青海玉树“视觉第一·高原光明行”白内障复明手术慈善公益活动医疗队载誉归来不久，小编专访她时，她阐述了自己眼中的“获得感”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_2.jpg") %>
                <p>表彰会当天疲劳的陈小凤在大厅一旁小憩</p>
            </div>
            <p><b>“获得感”来自患者握手祈福一瞬间</b></p>
            <p>不远千里，陈小凤赶赴藏区做“光明使者”。其实，类似的公益活动她已不是第一次参与，曾在小金、理县、金川等地参与了大量的公益医疗行动。但地域跨度如此大的，却还是第一次。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_3.jpg") %>
                <p>患者对医疗队竖起大拇指</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_4.jpg") %>
                <p>陈小凤在记录患者病历资料</p>
            </div>
            <p>今年32岁的陈小凤作为眼科博士，不但有医术精湛，而且性格开朗、精力充沛，甚至有点风风火火的冲劲。她在玉树一线的高效率，给玉树州政府领导和当地患者留下深刻印象。在实施白内障手术的3天里，她作为主刀医生与队员们通力合作，一口气完成172台白内障复明手术，她和团队队员们第1天和第2天分别完成64台和65台，出色的手术效果更是备受患者称赞。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_5.jpg") %>
                <p>由于患者众多，两台手术同时进行</p>
            </div>
            <p>手术期间，一个接一个的白内障病人送到她跟前，由于当地患者大多只会说藏语，医患之间无法进行语言交流，诊疗一时陷入窘境。但是，医者仁心的陈小凤凭借多年防盲治盲的经验，靠手比眼看，用心与患者交流，成功克服了语言不通的困难。“其中好多患者在我脑海里挥之不去，虽然当时他们看不到我，但会拉住我的手，手中的温暖传递给我，我知道他们信任我，我不能辜负他们。”陈小凤说到。做完手术后，大多数患者会再次握住她的手，嘴里念着他们宗教特有的信仰内容，为她祈福。作为一名医生，她的“获得感”，正是来自握手祈福的那一瞬间。甚至晚上出去吃饭的时候，当地人认出了她和同事，激动地过来握手感谢，久久不愿放手。这些美好的瞬间，让她觉得，作为一名医生，给别人带来光明和幸福，正是自己最大的“获得感”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_6.jpg") %>
                <p>医疗队成员与高龄藏民同胞术后合影</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_8.jpg") %>
                <p>结束手术后陈小凤在当地偶遇患者</p>
            </div>
            <p><b>历险记那一刻很想念自己孩子</b></p>
            <p>这一次成都中医大银海眼科医院医疗队回蓉的途中，途径平武县时遭遇了巨大的危险，三次泥石流差点让车队出现伤亡。回想归途的历险过程，陈小凤连称“太可怕了，我们一群医生能救人，但面对大自然的灾害时，我们却不敢保证能救自己。生命真的很脆弱，需要我们共同去敬畏！”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_9.jpg") %>
                <p>大家共同抵御泥石流灾害</p>
            </div>
            <p>陈小凤回忆说，当时已经是凌晨，天一直下着暴雨，离平武县城大概还有几公里时，她坐的车遭遇了第一次泥石流，整个车陷在泥浆里，而旁边山坡上还不时有泥浆和碎石往下流淌，车上的三位男士，包括1名男医生和2名狮子会工作人员冒险下来推车，她操作方向盘，好不容易才让车离开危险区域。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_10.jpg") %>
                <p>一同清理路障</p>
            </div>
            <p>最危险的是第三次泥石流，他们第一辆车冲过去了，后面两辆被泥石流所围困，她亲眼见到路边的库房被冲垮。“那一刻，很想念孩子，凌晨在暴雨中遇到这样的危险，心里也很害怕。但我们玉树团队互相打气，一起克服了难关，这也是职业生涯中难忘的一次经历，期间虽然困难重重，但是相比于为玉树同胞送去光明与希望而言，一切都是值得的。”陈小凤说。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mnbshdg_11.jpg") %>
                <p>经历泥石流后的陈小凤</p>
            </div>

        </div>
    </div>
</div>





