<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 【感动】一张暖透心扉的照片 你想不想听男主角的故事？ </h5>
            <p class="rightWord">2017-09-04</p>
        </div>

        <div>
            <p>“在所有藏族同胞身上我看到了他们的纯朴、热情与真诚，让你觉得没有任何距离感······检查眼睛，凑得近才看的准。”</p>
            <p class="rightWord">一一潘学会</p>
            <p><b>一张暖心透扉的照片</b></p>
            <p>这是一个暖透心扉的瞬间，都说照片是瞬间的艺术，画面定格的镜头能传递无限的感动。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_1.jpg") %>
            </div>
            <p>这是一张前两天摄于青海省玉树州残联服务中心的照片。照片中一位白大褂，手持筛检仪器，他的脸几乎与一位藏族患者贴在一起。藏族同胞那布满皱纹的古铜色脸庞，就像高原藏区的凛冽风霜，写满了岁月的沧桑。</p>
            <p>这位男主角是谁？他就是成都中医大银海眼科医院医务部主任、担任“视觉第一，高原光明行动”玉树白内障复明手术慈善公益活动医疗队长的队长潘学会，持续4天的赴玉树慈善公益活动凯旋之时，小编对他进行了一次专访。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_2.jpg") %>
            </div>
            <p><b>专访之前--初遇主角 他却躺在医院病床</b></p>
            <p>31日上午10点，听说他带领的“视觉第一，高原光明行动”跨省送光明的团队结束了阶段工作，昼夜行程驱车1000多公里已经返回成都，小编赶到了成都中医大银海眼科医院。但是到了医院一打听，却听到了一个揪心的消息：潘学会此刻正在病床上躺着输氧休息。</p>
            <p> “连续很多天的高强度工作加上昼夜赶路，潘主任太累了。”潘学会的同事都很心疼。25-28日持续四天的“视觉第一，高原光明行动”活动圆满结束后，潘学会考虑到医院还有不少病人等着他回去复诊，所以坚持昼夜不停驱车回蓉，由于玉树海拔高达4300多米，回来经过阿坝州又遇到3次泥石流灾情，潘学会回到成都后就感觉身体不适，还没来得及接受同事们的欢迎，就只好先进了病房，经过输氧静养一段时间后，潘学会的精气神才慢慢有了恢复。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_3.jpg") %>
            </div>
            <p><b>照片背后--完成300人筛查 “凑得近才诊的准”</b></p>
            <p>在成都中医大银海眼科医院眼科门诊大厅内，潘学会说病人还等着自己，只能给20分钟，小编用这短短时间进行了一次专访。</p>
            <p>小编忍不住先问这张照片背后的故事。潘学会说，这是25号自己为排队的藏族同胞筛查眼疾的时候，被旁边的志愿者拍下的。他先谈了这次跨省千里送光明的行动。8月中旬狮子联会莫建波主席及李明金队长通过狮友文光武找到他，请求在眼科领域科研实力强大的成都中医大银海眼科医院派队参加此次行动。段俊国院长听他汇报后，只用了不到1分钟就拍板决定：这是“为民服务”的善举，是给同胞带去光明和希望的无疆大爱！</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_4.jpg") %>
            </div>
            <p>“段俊国院长决定让我当队长，派出我们成都中医大银海眼科医院白内障复明医疗志愿者队伍，跨省赶赴青海玉树州展开这次公益善行。”潘学会透露，这张照片正是此次公益行动的一个镜头，实际上不光是他，还有团队的博士研究生主治医生、担任主刀医师的陈小凤，硕士研究生医师肖建强、尹朔、王利萍，以及手术室护士刘文艳和周蕾，他们在当地4天中，都是这样的忙碌工作状态。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_5.jpg") %>
            </div>
            <p>因为当地地理环境和经济发展的缘故，很多来自远牧区的患者没有条件经常洗澡，可能一般人会对他们身上的气味有所排斥。但是，潘学会在给患者筛查的时候却毫不在意，狮子联会一位领导动情的说：“潘大哥的脸紧紧贴着这位患者，歪着头，忘我的状态，那一刻我感动流泪了，这就是人们说的医者父母心，从潘大哥身上，感受到了成都中医大银海眼科医院对待病人的精神所在。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_6.jpg") %>
            </div>
            <p>由于筛查的人太多，潘学会并不知道照片中的这位藏族同胞叫什么名字，之所以要凑那么近，潘学会并不觉得有什么，“凑的近才诊的准”。</p>
            <p><b>爱要延续--最难忘一家五口 他要带到成都赐予光明</b></p>
            <p>专访快结束的时候，潘学会突然把自己的手机拿了出来，在相册里，他在玉树拍了不少患者的照片，其中有好几个是孩子，天真灿烂的笑容特别打动人。他告诉小编自己下一步重要的计划，已经得到了院长段俊国的大力支持。在这次筛查中，有一个一家5口，其中有两个孩子，小的5岁大的13岁，他们都是失明者，期盼光明的他们听说成都的眼科医生赶到玉树的时候，特地从西藏赶到了那里，但遗憾的是因为当地无法进行全麻手术，鉴于他们的情况暂时无法进行手术。回到成都的潘学会一直难以忘怀，决定和狮子联会一起携手，在今年底前把他们接到成都，接到成都中医大银海眼科医院来，让他们在这里接受治疗，让他们在这里看到最美的阳光！</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_10.jpg") %>
            </div>
            <p>军人一心为民的情怀加上医者治病救人的天职，潘学会用自己精湛的医术和爱，对待每一个患者。在玉树4天，潘学会带着年轻的团队，为300位藏族同胞完成眼科检查，为172位藏族同胞实施手术驱走了黑暗，带来了光明。他们服务的藏族同胞最大的93岁，最小的只有10岁。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_11.jpg") %>
            </div>
            <p><b>故事之外</b></p>
            <p>小编专访临结束时，才得知潘学会曾是一名军人，以前常去藏区医治病人，2001年在凉山州木里藏族自治县做服务治疗的时候，潘学会接到一位双目失明30年的藏族牧民。因为眼疾，牧民在三十年里生活异常艰苦，几乎失去了生活的希望。潘学会给他做了手术，在揭掉纱布的那一瞬间，牧民“扑通”一声跪在了潘学会等几位医生面前。2011年，潘学会还曾随成都军区国际维和组织赴黎巴嫩参与维和医疗工作。在陌生又危险的环境中，潘医生毫无怨言，在战火丛生的世界里辛勤治疗。是一名真正的战火中的“光明使者”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yszx_12.jpg") %>
            </div>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




