<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>三月眼健康科普校园公益行走进成都师范附属小学</h5>
            <P class="rightWord">2017-03-30</P>
        </div>

        <div>
            <p>为了科学普及儿童青少年爱眼、护眼、近视防控知识，2017年3月30日下午，四川省视力保护科普基地携手成都中医大银海眼科医院走进成都师范附属小学（本部），联合校方开展了“三月眼健康科普校园公益行”活动，现场为50余名学生、家长和老师们进行了专业眼健康科普知识讲座、眼健康专业检查、专家义诊等服务，受到师生、家长们的热烈欢迎。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_3.jpg") %>
            </div>
            <p>成都中医大银海眼科医院眼视光中心专家通过多媒体平台深入浅出地向同学们讲解了近视的发病原因、危害、如何进行防控以及如何正确做眼保健操，才能有效缓解视疲劳等爱眼护眼知识。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_7.jpg") %>
            </div>
            <p>同时，我院专家采用猜谜语、图片、知识抢答等同学们喜闻乐见的课堂形式，生动形象地提醒同学们不良的用眼习惯严重危害眼健康，如：长时间使用电子产品、不良的读写姿势、不良的用眼环境等。现场师生、家长听得津津有味，全神贯注，增强了大家保护眼睛应该从小做起，通过早期检查、早期诊断、早期治疗可以非常有效的保护孩子眼睛的意识。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_10.jpg") %>
            </div>
            <p>随后， 我院医护人员为学生们进行了医学视力检查，并应用流动智能科普馆配备的“七合一”眼前节综合分析仪等国际顶尖设备进行眼健康专项检查，同时，为每位学生建立了眼健康档案，让大家更加深入、详细的了解自身眼部健康状况。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_11.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_12.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_13.jpg") %>
            </div>
            <p>在眼部检查后，我院眼视光中心专家根据同学们的检查结果，向广大师生及家长提供了专业咨询服务，亲自解读检查结果，并针对每位学生的眼健康情况给出专业建议，对此家长与老师们表示衷心感谢。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysf_14.jpg") %>
            </div>
            <p>活动持续了两个多小时，在校方的大力支持下圆满结束，得到家长、老师的一致好评。青少年儿童眼睛的健康一直是学校、家长及社会所共同关注的话题。繁重的课程、电脑、手机辐射的侵害以及不正确的用眼方式让越来越多的学生眼睛“生病了”，希望通过本次爱眼护眼进校园活动，让更多的孩子增强爱眼护眼意识，从小养成科学用眼、正确护眼的好习惯。四川省视力保护科普基地、成都中医大银海眼科医院将继续开展爱眼护眼进校园活动，使之形成长效机制，切实为孩子们的眼健康保驾护航！</p>

        </div>
    </div>
</div>




