<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>三月眼健康科普月校园公益行最后一站在沙河源小学圆满结束</h5>
            <p class="rightWord">2017-03-31</p>
        </div>

        <div>
            <p>由四川省视力保护科普基地发起，成都中医大银海眼科医院积极参与的“关注眼健康，公益科普进万家”眼健康科普公益行自今年3月份启动以来，已先后走进沙河源小学、成飞小学、人北实验小学、胜西小学等10余所学校开展了“三月眼健康科普月校园公益行”科普公益活动，陆续为2000余名学生、老师及家长进行了眼健康科普讲座，提供医学视力检查，充分应用流动科普馆配备的国际顶尖设备进行专业眼部检查，专家进行义诊咨询服务。同时，为每位学生建立了眼健康档案，受到各学校师生及家长的一致称赞。</p>
            <p>此外，四川省视力保护科普基地携手成都中医大银海眼科医院一同深入甘孜州得荣县开展“对口扶贫·精准复明”系列公益活动。期间，我院与甘孜州得荣县人民政府签订了“对口扶贫·精准复明”协议，并联合当地人民政府、人民医院为来自全县各乡镇300余名藏族同胞展开公益援助专项活动。</p>
            <p>同时，先后深入营门口街道办、青年路社区、西南设计院家属区等5个社区以及都江堰崇义镇开展“关注眼健康，公益科普进万家”眼健康科普公益活动，受到各基层社区的高度认可，600余名人民群众在其中受益。这对全面提升我省眼健康水平有着重要意义！</p>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_1.jpg") %>
            </div>
            <p>2017年3月31日，在沙河源小学校方的积极组织和大力支持下，四川省视力保护科普基地联合成都中医大银海眼科医院走进沙河源小学，共同开展了第三次“三月眼健康科普校园公益行”活动，这也是眼健康科普活动的最后一站，活动吸引了100余名学生、家长参与。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_5.jpg") %>
            </div>
            <p>成都中医大银海眼科医院眼视光专家在学校多功能厅为学生、老师及家长开展了科普讲座，就近视的发病原因、危害、如何预防等方面，进行了全面系统地介绍。通过现场指导正确做眼保健操、科普知识抢答的互动模式，倡导大家预防近视从小抓起，科学用眼、远离近视。现场100余名学生及家长纷纷表示，讲座语言通俗易懂，内容深入浅出，层次分明，图文并茂，让大家受益匪浅，既增加了知识，又懂得如何正确、科学地保护自己的眼睛。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_9.jpg") %>
            </div>
            <p>讲座结束后，医护人员充分利用流动科普馆为学生们进行了专业的医学视力检查。同时，应用流动智能科普馆配备的“七合一”眼前节综合分析仪等国际顶尖设备进行专业眼部检查，为大家提供了专业眼健康专项检查服务，同时为学生们建立了专业的眼健康档案，对眼健康提升工作具有重要意义。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_11.jpg") %>
            </div>
            <p>在专业眼部检查后，由成都中医大银海眼科医院眼视光专家李骏老师带队，亲自为每位学生解读检查结果，给出针对性的专业建议。对于专家们耐心、仔细的讲解，家长与老师们表示衷心感谢。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shyhd_12.jpg") %>
            </div>
            <p>青少年儿童近视防治工作任重而道远，需要学校、学生、家长、眼科专业机构等各方携手共进。未来，眼健康科普公益活动将继续深入各大中小学校，并呼吁大家一起加入到青少年近视防控的行列，为青少年近视眼病的预防及治疗工作，贡献一份可贵的力量。最终推动青少年健康教育工作的学校、家庭、社会“三教结合”，培养学生健康的生活方式，从而全面提升青少年儿童眼健康水平。</p>
            egend>专家简介</legend>
                <p>现任成都中医药大学附属银海眼科医院副院长，首都医科大学附属北京同仁医院白内障中心主任，主任医师、教授、博士生导师，首席临床专家，四川省千人计划特聘专家，北京科技大学兼职教授、兼职博士生导师，北京大学医学网络教育学院客座教授，北京市高层次卫生技术人才，中国医师协会眼科分会委员，《解放军医学杂志》特邀编委，《眼科》、《生物医学工程与临床》、《中华眼视光学与视觉科学杂志》、《中国实用耳鼻喉科杂志》编委， BMC Ophthalmology、Human Genetics、Molecular Medicine等杂志审稿人，中国医疗保健国际交流促进会常务委员，中国医疗保健国际交流促进会乡村医生分会副主任委员，中国医疗保健国际交流促进会世界眼科联盟主席，中华博爱基金会同仁博爱光明工程负责人，中央人民广播电台医学顾问。</p>
                <p><b>从事白内障基础与临床研究工作20余年，完成各类白内障手术30万余例，积累了丰富的临床经验。</b></p>
            </fieldset>
            <p>主要工作领域：</p>
            <p>长期致力于功能性人工晶状体材料、先天性白内障及儿童白内障的基因等研究。</p>

        </div>
    </div>
</div>




