<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>七分靠成绩 三分志愿拼 专家现场支招教你如何填报高考志愿</h5>
            <p class="rightWord">2017-06-26</p>
        </div>
        <div class="centerWordCon">
            <p>高考612分也落榜？</p>
            <p>高出一本5分怎么择校？</p>
            <p> 二本和一本哪些学校差别不大？</p>
            <p>志愿填报不当=高考分数缩水50-100分！</p>
            <p>俗话说，七分靠成绩，三分志愿拼！</p>
            <p>专业的问题请专家帮你搞定。</p>
        </div>
        <div>
            <p>2017年我省高考各批次录取控制分数线已经正式公布，考生朋友们也都已经拿到了自己的高考分数。为指导考生和家长客观选择学校、正确填报志愿，由四川电视台科教频道《高考360》栏目主办，成都中医药大学附属银海眼科医院承办的2017高考志愿填报公益讲座，于2017年6月22日-23日在成都中医大银海眼科医院银海厅举办，讲座持续两天吸引了500余名考生及家长参加。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gkzy_1") %>
                <p>讲座现场火爆，考生和家长认真“取经”</p>
            </div>
            <p>本次公益讲座特邀《高考指南》编委会专家何文玲、陈智担任主讲嘉宾，连续两天为考生和家长解读考生如何才能从2000多所高校，500多个专业中，匹配出适合自己的志愿组合，迈入自己理想的大学。同时，针对国防军事院校类、飞行与航海相关专业、体育相关专业等院校专业对视力有严格要求的问题，如何选择近视手术等问题，成都中医大银海眼科医院眼视光中心周春阳副教授为学生及家长全面解读了近视矫治手术。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gkzy_2") %>
                <p>讲座现场，袁晓辉主任医师代表医院对考生及家长的到来表示欢迎</p>
            </div>
            <p>讲座开始前，成都中医药大学眼视光教研室学术带头人、银海眼科医院院长助理袁晓辉主任医师对各位高考考生及家长的到来表示欢迎，并强调“志愿填报是考生进入理想大学的最后一步，是非常重要的环节。希望大家通过本次高考志愿填报公益讲座，能够合理做好志愿填报的工作，才能让孩子考取到心仪的大学。”</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_gkzy_3.jpg") %></li>
                    <li><%= image_tag("news_gkzy_4.jpg") %></li>
                </ul>
                <p>特邀嘉宾何文玲、陈智老师现场详细讲解志愿填报相关技巧及注意事项</p>
            </div>
            <p>为期两天的讲座，两位《高考指南》编委会专家通过高考志愿填报典型案例，从如何合理设置院校志愿梯度、避免盲目冲高又不服从专业调配、身体条件需符合院校规定、不要忽略院校专业录取规则、院校和专业志愿太“孤单”“任性”等几大填报志愿时容易出现的问题进行了讲解与分析。同时对于如何填报志愿作了以下建议：第一，生们在填报高考志愿的过程中，一定要充分认识自我的兴趣和能力，选定专业方向；第二，详细了解专业和院校，多方位的制定选择策略，规避填报误区，做到知己知彼，根据高考分数，结合自己的意愿和需求；第三，掌握填报技巧，即把不同梯度的院校和专业合理搭配、学会参考历史数据。科学填报高考志愿，切忌盲目“冲高”，务必重视《招生规章》细节，理解清楚《体检指导意见》的要求，留足分数空间，增加志愿余度，最终选择适合自己的理想大学。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_gkzy_5.jpg") %></li>
                    <li><%= image_tag("news_gkzy_6.jpg") %></li>
                </ul>
                <p>周春阳主任详细讲解《近视激光手术》，并耐心解答考生疑问</p>
            </div>
            <p>除了关注志愿的填报，不少考生还面临一大难题就是视力门槛，好多考生因为视力问题而受限，不能报考自己喜欢的专业。讲座期间，针对国防生、军校生、艺考生、公务员、运动员等人群，成都中医大银海眼科医院眼视光中心周春阳副教授表示，可以通过现今的屈光手术解决这一难题，并为学生及家长全面解读了近视矫治手术，亲自解答大家关心的近视手术疑问。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gkzy_7.jpg") %>
            </div>
            <p>为了让考生们增强爱眼护眼的意识，成都中医大银海眼科医院在现场特设抽奖环节，为同学们提供眼健康的精美礼品。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gkzy_8.jpg") %>
            </div>
            <p>现场为大家带来了专业的眼健康科普知识，同时为众多咨询近视手术的高考考生提供了专业的解答。现场气氛热烈，掌声不断，受到与高考考生及家长的一致好评。专家提醒，志愿填报，不能只看大学，更应看清楚院校和专业，尤其是体能检测视力门槛。</p>


        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





