<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>著名屈光手术专家周跃华教授在我院与患者开展"专家面对面"交流活动</h5>
            <p class="rightWord">2017-08-13</p>
        </div>

        <div>
            <p>8月12日，由成都中医药大学附属银海眼科医院主办的大型医患交流活动--“近视手术专家面对面”,在医院银海大厅隆重举行。医院院长、党委书记段俊国教授,医院眼视光部名誉主任周跃华教授、医院院长助理袁晓辉教授和近百名近视患者及其家属参与了交流。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_1.jpg") %>
            </div>
            <p>活动开始，医院院长、书记段俊国教授致辞。他强调我国目前近视患者高达4.5亿，据估计到2020年，我国的近视将近达到7个亿，这已然成为我国影响全民健康的重大问题。眼视光中心专家团队由成都中医药大学眼科学院、原附属医院眼视光中心以及首都医科大学同仁医院等单位专家组成全国一流的专家队伍，不仅拥有国际一流眼科设备、全国顶尖的眼科专家团队，更拥有六十多年眼科学科发展沉淀的文化底蕴。通过医、教、研三位一体模式和中西医结合的特色打造了行业领军的“六大中心”，这将更好的服务于广大眼病患者,更好地服务于近视防控与屈光患者的手术矫正。</p>
            <p>随后，眼视光部名誉主任周跃华教授和广大慕名而来的近视患者与家属进行了面对面交流，答疑解惑，对广大患者做了通俗易懂的近视手术科普讲解。他先后从近视成因、近视影响、手术选择、手术过程、术后恢复等多个方面深入浅出地为各位患者进行了讲解。同时，对于各位近视患者的提问，做了耐心的解答。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_2.jpg") %>
            </div>
            <p>对于近视手术方式的选择，周跃华教授强调，医生会根据每位患者的具体手术动机、屈光度数、角膜厚度等个体情况，给出个性化的推荐，使患者利益最大化，“不选贵，而选对”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_3.jpg") %>
            </div>
            <p>周跃华教授指出，近视手术效果优劣，与手术设备和手术团队密切相关。成都中医药大学附属银海眼科医院拥有中国第一台千频准分子激光设备——阿玛仕1050RS准分子激光系统，和蔡司SMILE3.0全飞秒激光系统，是世界范围内先进的屈光手术设备配置，成熟开展SMILE3.0全飞秒和SMART千频全激光两大世界先进近视手术。通过医院优秀的专家技术团队的努力，一定能为广大患者带来更清晰、更舒适、持久的近视矫正术后视力。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_4.jpg") %>
            </div>
            <p>最后，周教授分享了自己对于人生感悟，强调身心健康才是第一位的，他祝愿大家都有健康的身体，能够看到最美丽的风景！近视患者和家属听罢周教授的科普介绍后表示，打消了心中的疑问，更加坚定了手术摘镜的决心。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_6.jpg") %>
            </div>
            <p>银海人始终恪守“大医精诚•银海启明”的院训，以专业优质的服务为患者的眼健康保驾护航。为回馈在场的近视患者，兑现了屈光手术的福利承诺。为回馈在场的近视患者，实现屈光手术的福利承诺。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_7.jpg") %>
            </div>
            <p>活动结束后，各位嘉宾和近视患者参观了我院舒适宜人的就医环境和世界一流的医疗设备，进行了眼健康各项检查体验，来宾们纷纷表示对中医大银海眼科医院的温馨服务有了深切的体会，同时消除了对近视手术理解的误区。</p>
            <p>出席活动的李女士表示：“以前，对近视问题没有引起足够的重视，致使现在戴上厚重的镜片，严重影响生活和学习。但是听了周教授的讲解才知道，原来这么轻松就可以解决这些问题，这简直是我们患者的福音，我决定选择银海。”</p>
            <p>超过15万人通过网易网络直播观看了本次“专家面对面”交流活动。此次活动不仅是屈光手术专家与患者的面对面交流活动，更是一场屈光科普知识传播的网络饕餮盛宴。</p>
            <p>互动环节中，部分问题展示</p>
            <div class="newsImgMar">
                <%= image_tag("news_zjmdm_8.jpg") %>
            </div>
            <p>详情请点击直播链接：<a href="https://c.m.163.com/news/l/147347.html?spss=newsapp&spsw=7&spssid=e2ce6867cf8fdcd3a76e3d41c834c69f&from=groupmessage&isappinstalled=0
"></a></p>
            <p><b>眼视光中心</b></p>
            <p>成都中医药大学附属银海眼科医院眼视光中心集临床诊疗、眼视光高等教育、科普宣教、产品研发、连锁运营为一体。眼视光中心以原成都中医药大学附属医院眼视光专家团队为班底，充分整合国内中西医眼视光技术与资源，引进全国眼科医院首家阿马仕1050全激光系统和新一代smile3.0全飞秒系统等国际高端设备，开展全飞秒和千频全激光手术、角膜交联等各类近视矫正手术、医学验光配镜、儿童斜弱视诊疗、中西医近视防控、RGP&角膜塑形镜验配、视觉训练、低视力康复等业务。眼视光中心秉承“大医精诚，银海启明”的院训，运用前沿的眼视光学技术及传统中医康复治疗手段，为全年龄段的屈光患者提供有效、便捷、优质的诊疗服务。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj6.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>周跃华</p>
                    <p>周跃华教授,历任成都中医药大学附属银海眼科医院眼视光部荣誉主任、首都医科大学附属北京同仁医院视光中心主任，和中华医学会眼科分会视光学组委员，国家发改委药审委员会委员，全国大型医用设备使用人员上岗资格考试命审题委员会委员，台湾白内障与屈光学会荣誉顾问，全国SMILE专家协作组成员,任《中华实验眼科杂志》编委，《中华眼科杂志》通讯编委，《中华眼科杂志（电子版）》编委，《眼科杂志》编委，《欧洲时代（中文版）》编委。主要从事角膜屈光手术的临床工作和近视理论的基础研究，共完成各类屈光手术15万余例，是屈光手术领域的专家</p>
                </div>
            </fieldset>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




