<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>医学硕士成为摘镜女神，且看其摘镜之旅</h5>
            <p class="rightWord">2017-06-25</p>
        </div>
        <div>
            <p>谁说眼科医院自己人不做近视手术？又一名眼科医院美女硕士，在我院选择了全国首台Smart千频全激光近视手术完美摘镜。彻底摆脱了困扰多年的近视之苦，从一名女神经蜕变成为又一个摘镜女神。今天，让我们一同分享一下这位眼科医院美女硕士的摘镜之旅。</p>
            <p><b>放纵不羁自由的女神经</b></p>
            <p>我叫肖恒，性格活泼开朗的我在别人眼中是一个放纵不羁爱自由的女神经~~。曾经我最为自豪的就是视力好，不用受眼镜的束缚，人群中一眼就能找出帅锅，上公开课从不需要费心占前排座位，至于考试时180度3米内雷达扫描的感觉简直不要太好。</p>
            <p>结果后来右眼近视了，75度，左眼还有远视（50度左右），可能是侧躺看书造成的单眼近视，有好有坏，好处在于可以装一下，给别人说我是近视，但是很酷从不戴眼镜，更酷的是不戴也可以看清楚，是不是很酷炫。（对对对，你厉害的很）</p>
            <p>不过坏处更多，看得清楚的眼睛会更容易视疲劳，而且正因为不戴眼镜也看得清楚，我才没有重视，一直没有配镜。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lxss_1.jpg") %>
                <p>戴眼镜的我，还是美的很</p>
            </div>
            <p><b>晓得锅儿是铁打的了</b></p>
            <p>3年前度数涨到200，只得配了副眼镜，戴上的那一刻，我整个人都不好了，看东西晕晕的，有缩小的感觉，非常不真实，最烦的是周围还有个框框，感觉只能看前面方寸之地，有种被放进笼子里往外窥的感觉，简直是超级超级不爽。</p>
            <p>戴眼镜的体验实在太差，我内心是一万个拒绝，所以就算浪费+不对，我也还是没怎么戴过。(宝宝就是任性，咋滴）</p>
            <p>过了一年，我发现正面看楼梯感觉居然像平！面！图！简直太吓人了好不好，一查果然又涨了几百度！我再不敢作死了，老老实实配了副眼镜天天戴，但是度数太高了，戴眼镜很容易就疲劳了，很快就患上了严重的视疲劳。因为一边近视一边远视，两边屈光参差太大，就容易视疲劳，当然这种情况戴隐形眼镜会好些，然而悲催的是，我每回戴隐形都非常难受，容易发生结膜炎和干眼症。（no zuo no die,why you try）</p>
            <p>1年前来眼科学院工作，学到了大量的眼科知识，懂得了如何保护自己的眼睛，如何缓解视疲劳、干眼症等，少了很多烦恼。当时学院对每一个员工都建立了眼健康档案，视光大咖周春阳教授都建议我进行手术，本来我听到手术还是很怕的，毕竟长这门大我连耳洞都没打过，别说动刀了，但是附属眼科医院引进了全国第一台千频准分子全激光手术系统——阿玛仕1050RS，史上最快1050HZ的激光切削频率，和七维度追踪，独具Smart千频全激光手术方式，简直是“全宇宙”目前最先进、最完美的设备，而且医院专家团队简直是全国一流，我就毫不犹豫预约了手术。</p>
            <p><b>眼镜，拜拜咯</b></p>
            <p>2017年6月8日，是个令人激动的日子，在进行眼部冲洗、消毒等过程后，上了手术台，让我盯住一个绿灯看了20多秒，然后给我眼睛里戴了枚角膜绷带镜，整个手术时间不到1分钟就结束了。从进手术室到出手术室也不超过10分钟，简直太方便、太快捷了，果然是顶级专家和顶级设备的强强联合呀！</p>

            <div class="newsImgMar">
                <%= image_tag("news_lxss_2.jpg") %>
                <p>给我做手术的可爱医生们</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lxss_3.jpg") %>
                <p>刚做完变成咸蛋超人的我</p>
            </div>
            <p>正如专家所说刚开始术后略微有些不适，大概持续了1天左右，2~3天就基本恢复正常了，到医院复查，右眼视力已经达到1.2了，跟左眼1.0相差不大，两只眼睛又恢复了清晰的视野，配合起来也并不觉得难受，也不会那么容易产生视疲劳，想到以后都不用再戴眼镜了，内心真是无比开心，非常感谢专家老师让我成功摘镜，感谢专业的验光师不厌其烦并给予的精准验光检查，感谢在术前提供专业讲解的医生、感谢护士们全程温暖的陪伴，感谢银海眼科引进这么棒的技术设备！让我能够轻松自信的面对未来的美好生活!</p>
            <div class="rightWord">
                <p>——肖恒   2017.6.25</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lxss_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lxss_5.jpg") %>
                <p>就是这个，全国首台Smart千频全激光近视手术设备落户银海眼科</p>
            </div>
            <p><b>你以为结束了？NO！术后美照强势来袭~~</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_lxss_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lxss_7.jpg") %>
                <p>朋友们都说摘掉眼镜后才发现我的眼睛好漂亮~，你觉得呢~~</p>
            </div>


        </div>
    </div>
</div>





