<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>目之所及、心之所往：中医大银海眼科医院正式对外开诊</h5>
            <p class="rightWord">2017-05-29</p>
        </div>

        <div>
            <p>岐黄之道源远流长，银海启明医者仁心。5月28日，经过一年多的筹备，全国西部以“中西医结合”为特色的三级眼科医院—成都中医药大学附属眼科医院/成都中医大银海眼科医院正式对外开诊。医院秉承“大医精诚、银海启明”的院训，倡导防治结合，把“看得更好”和促进人民眼健康作为医院的社会责任，以“先进技术、先进设备、先进疗效、先进环境”服务于广大眼病患者。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_2.jpg") %>
            </div>
            <p>成都中医大银海眼科医院依托成都中医药大学眼科学院眼科国家重点学科建设，为成都中医药大学附属眼科医院，是集医、教、研三位于一体的大型研究型专科医院。医院坐落于蓉城府河之滨的星辉西路，按国家三级甲等专科医院标准，配备世界眼科专业设备，齐聚众多国内外中西医专家、学者担任医院各专业领域学术技术带头人。医院将以中医为特色，体现中西医结合、眼科与视光结合、眼与全身病结合、眼科与互联网结合、医疗与教学科研结合，建设成国际接轨、特色突出、防治一体的现代化眼科医疗机构。医院设立中医眼科中心、眼底病中心、糖尿病视网膜病变防治中心、白内障屈光中心、眼视光中心、眼影像分析与诊断中心等六大中心，设置白内障、青光眼、糖尿病视网膜病变、眼底内科、眼底外科、葡萄膜炎、角膜病、屈光手术、斜弱视、近视防控、眼眶病、干眼、泪道病等17个专病专科。临床治疗中结合传统中医药和现代医学两方面的优势，在充分发挥中药内服、外敷、熏洗、雾化、针刺、灸疗、推拿、按摩等中医简、便、效、廉特色的同时，广泛开展SMILE全飞秒激光、SMART全激光近视矫治术、玻璃体切除术、屈光性白内障超声乳化术、抗青光眼术、角膜移植术、斜视矫正术、无损伤泪道再通术、眼整形美容术、医学验光配镜、弱视矫治、低视力康复、视功能训练等现代医学诊疗项目。为我国西部眼病患者提供优良的医疗保健服务。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_3.jpg") %>
            </div>
            <p>为庆祝医院开业，让眼疾患者享受到全国的优质医疗服务，从5月28日--6月15日，医院推出“全民眼健康公益义诊”活动，期间来院的患者均可享受免费名医专家义诊、免费指定眼科检查、免费建立个人眼健康档案等福利。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_5.jpg") %>
            </div>
            <p>当日，医务人员亲自陪同患者就医，应用眼前节“七合一”机器人、欧堡激光扫描检眼镜、眼压计等先进的眼科设备为来诊的患者进行检查，建立专项眼健康档案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yinhai_9.jpg") %>
            </div>
            <p>我院眼底外科主任刘文教授、中医眼科中心主任周华祥教授、青光眼科主任潘学会教授、眼底病内科医学博士黄霄主任医师等10余位专家为闻讯前来就诊的患者进行了义诊，并对需接受进一步治疗的患者提供制订了下一步治疗方案，受到患者的一致好评。</p>
            <p>成都中医大银海眼科医院的正式开诊，标志着西南地区的眼病患者在家门口就可享受到全国优质的医疗资源。当日，医院总计接诊200余名患者，诊疗环境安静、整洁、温馨、舒适，以爱心、精心和责任心让每位患者感到满意，受到广大患者的高度赞誉。我们力求为患者提供安全、高效、满意的医疗服务，让眼病患者享受全国医疗服务，全力以赴为眼健康公益事业做出卓越贡献。</p>
            <p>成都中医大银海眼科医院将在六月将举行系列全民眼健康公益活动，针对近视防控、屈光手术、白内障屈光以及眼底病等专项惠民活动。七月还将举行盛大的开业典礼，如果眼科事业是一片汪洋，那么“银海号”终将“长风破浪会有时，直挂云帆济沧海”。</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




