<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【华佗工程】中国首个眼科分级诊疗联盟在四川成立</h5>
            <p class="rightWord">2017-07-18</p>
        </div>

        <div>
            <p>为落实《健康中国2030》战略，支援基层眼科医疗卫生体系建设，促进眼科医疗卫生资源下沉，推动眼科卫生事业城乡一体化。7月16日，中国首个 “专项技术支持项目”华佗工程眼科分级诊疗联盟省级中心在四川成立，中国医促会在成都中医大银海眼科医院银海厅举行了隆重的“华佗工程眼科分级诊疗联盟四川省中心”启动仪式。</p>
            <p>国家有关部局、四川省有关部门和成都市有关领导、中国医疗保健国际交流促进会及成都市、宜宾市、甘孜州、遂宁市、德阳市、巴州市、泸州市、南充市、绵阳市等40余家医院院长、主任、眼科专家和学者等嘉宾共计300余人出席启动仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_1.jpg") %>
            </div>
            <p>启动仪式上，中国医促会会长、中国工程院院士韩德民教授致辞，韩院士指出：华佗工程是一个公益项目，坚持以国家分级诊疗建设为目的，整合社会各方面的资源，为搭建一个促进分级诊疗体系建设、真正面向基层、使得基层享受到一流的、国家等级的医疗保障服务而努力工作的项目。要把医疗健康网上下连结，没有网络的支持是很难实现的，没有医联体的互动上下的关系很难建立起来。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_2.jpg") %>
            </div>
            <p>国家中医药管理局副局长闫树江讲话，闫局长认为分级诊疗是医改的重点、难点、热点，华佗工程眼科分级诊疗联盟四川省中心是一个很好的分级诊疗的平台，集中全省乃至全国的精英，如何将优质的资源下沉到基层，为更多的老百姓服好务，把中医和西医结合起来推动，这是一个很好的创新。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_3.jpg") %>
            </div>
            <p>成都中医大银海眼科医院名誉院长、首都医科大学附属北京同仁医院院长、中国医促会眼科分会主任委员王宁利教授兼任华佗工程眼科分级诊疗联盟四川省中心主任，他认为眼科的发展需要中西医结合，需要国有资本和民营资本的共同参与，需要传统中医的传承和现代技术的高度融合，来解决目前眼健康领域的难题。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_4.jpg") %>
            </div>
            <p>大会期间，中国医促会会长韩德民院士为成都中医大银海眼科医院授予四川省中心牌匾，中国医促会眼科分会领导为地市级单位授予培训中心牌匾，为县级单位授予县级示范基地牌匾。眼科分级诊疗联盟中心分别由王宁利教授担任四川省中心主任、段俊国教授担任中心常务副主任。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ht_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ht_7.jpg") %>
            </div>
            <p>启动仪式后，成都中医大银海眼科医院副院长、中国医促会眼科分会副主任委员兼秘书长朱思泉教授，汕头大学眼科医院张铭志院长等眼科专家顶着酷暑，奔赴成郫县第二人民医院开展“义诊活动”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_8.jpg") %>
            </div>
            <p>义诊活动中，朱秘书长亲自操刀白内障手术，并安排了眼科疑难杂症会诊等环节。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ht_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ht_10.jpg") %>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




