<div class="middle">

    <div class="newsMain">
        <div class="newsTitle twoNewsTitle">
            <h5>中国医疗保健国际交流促进会</h5>
            <h5>眼科分会首届学术年会等眼科四会在成都隆重召开</h5>
            <p class="rightWord">2017-07-17</p>
        </div>

        <div>
            <p>2017年7月14-17日，中国医疗保健国际交流促进会眼科分会首届学术年会、世界中医药联合会第三届银海眼科论坛（国际）、纪念陈耀真教授诞辰118周年学术研讨会和2017年四川省中医药学会眼科学术年会在成都新华宾馆隆重召开。</p>
            <p>本次会议由中国医疗保健国际交流促进会、世界中医药学会联合会、四川省中医药学会和成都中医药大学共同主办，由四川省视网膜图像技术与慢性血管性疾病防治协同创新中心、成都中医药大学眼科学院、成都中医大银海眼科医院和中医眼耳鼻喉杂志等单位承办。参加会议的有来自首都医科大学北京同仁医院、中山大学中山眼科中心、复旦大学附属眼耳鼻喉医院、温州医科大学附属眼视光医院、河北省眼科医院、山东中医药大学附属眼科医院、福建省眼科研究所等近百个高校、科研院所、医院的院长、主任、眼科专家和来自亚非拉欧美五大洲的国外眼科学者嘉宾共400多人出席会议。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_2.jpg") %>
            </div>
            <p>中国医疗保健国际交流促进会眼科分会主任委员、首都医科大学附属同仁医院院长王宁利，中山医科大学中山眼科中心、亚非眼科副主席吴乐正，成都中医药大学眼科学院、成都中医大银海眼科医院、四川省眼与视觉健康产业研究院院长段俊国共同担任大会主席。会议以“眼病防治与眼健康国际化”主题，设置白内障屈光与角膜屈光、眼前段专题、眼后段专题、角膜病、葡萄膜病、中医眼科临床及理论研究、视觉科学相关基础及临床研究等15个报告单元及2个手术直播单元。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_ylsh_3.jpg") %></li>
                    <li><%= image_tag("news_ylsh_4.jpg") %></li>
                </ul>
            </div>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_ylsh_5.jpg") %></li>
                    <li><%= image_tag("news_ylsh_6.jpg") %></li>
                </ul>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_11.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_12.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_13.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_14.jpg") %>
            </div>
            <p>中国医疗保健国际交流促进会眼科分会主任委员王宁利，世界中医药学会联合会秘书长助理秦树坤，四川省中医药学会副会长、四川省中医药科学院院长赵军宁，成都中医药大学校长余曙光在开幕式上致辞。中国中西医结合学会眼科分会主任委员、山东中医药大学附属眼科医院院长毕宏生，世界中医药学会联合会眼科分会常务副主任委员、中国中医科学院眼科医院谢立科, 中国医疗保健国际交流促进会常务理事、西南医科大学校长何延政,中国医疗保健国际交流促进会眼科分会部分副主任委员，首都医科大学附属同仁医院朱思泉，山东省眼科医院院长史伟云，福建省眼科研究所所长徐国兴，以及来自美洲、澳洲、欧洲、非洲的外国专家出席了开幕式。开幕式由中国医疗保健国际交流促进会眼科分会副主任委员、四川省中医药学会眼科专业委员会主任委员段俊国院长主持。</p>
            <p>第三届国医大师廖品正，美国NIH眼科研究所C C Chan，澳大利亚悉尼眼科医院M Zhu，西班牙巴拉克眼科中心E Barraquer，美国科尔眼科中心/克利夫兰诊所D F Martin，美国德克萨斯大学西南医学中心D G Callanan，埃及曼苏拉大学曼苏拉曼苏拉眼科中心TH Mokbel，埃及艾因夏穆斯大学M S Mourad等外国专家，中国医疗保健国际交流促进会眼科分会副主任委员、中山眼科中心院长刘奕志，中国医疗保健国际交流促进会眼科分会副主任委员、重庆医科大学第一附属医院葡萄膜病资深专家杨培增，中华中医药学会眼科分会主任委员、中国中医科学院副院长亢泽峰等近120位大咖在大会进行了精彩纷呈的学术报告。期间，首都医科大学附属同仁医院屈光首席专家周跃华、白内障首席专家朱思泉和第三军医大学大坪医院眼科专科医院院长叶剑分别在成都中医大银海眼科医院进行了精彩的全飞秒激光近视手术和飞秒激光白内障手术演示直播。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_15.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_16.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_17.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_18.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_19.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_20.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_21.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_22.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_23.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_24.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_25.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_26.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_27.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_28.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_29.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_30.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_31.jpg") %>
            </div>
            <p>2017年恰逢中国现代眼科奠基人之一陈耀真教授诞辰118周年，组委会隆重举行纪念活动。吴乐正教授通过视频回顾了陈耀真教授卓越的一生，以缅怀先师，启迪后学，并向成都中医大银海眼科医院赠送了陈耀真教授珍贵画像照片，作为纪念并以示激励。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ylsh_32.jpg") %>
            </div>
            <p>本次“四会一体”的眼科会议涵盖眼科和视觉科学各个领域，中西医眼科的临床和基础研究成果、创新技术应用，会议全方位、多角度探讨眼科的创新与发展，提升中医在未来视觉健康领域的贡献，推动眼健康领域的国际化。大会体现了中、西医眼科近年来的学术发展，促进了中医眼科和西医眼科的结合和交融，是一次巨大的学术盛宴，是一个丰富多彩的学术平台，取得了丰硕的成果，是对国家“一带一路”战略的成功践行，必将是中、西医眼科融合发展的道路上浓墨重彩的一笔。</p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





