<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>中医大银海眼科医院大学生眼健康档案启动暨校医院眼科门诊正式开诊</h5>
            <p class="rightWord">2017-09-23</p>
        </div>

        <div>
            <p>9月21日，成都中医药大学大学生眼健康体检建档启动暨校医院眼科门诊开诊仪式在温江校医院隆重举行。</p>
            <p>四川省中医药管理局副局长杨正春、成都中医药大学党委书记刘毅、校长余曙光亲临校医院视察大学生眼健康档案建立和眼科门诊工作。副校长杨静、眼科学院/附属银海眼科医院院长兼书记段俊国、学生管理处处长叶军、校医院院长刘阳、各学院辅导员老师，以及眼科学院眼视光专业学生共计一百余人参加了启动仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_2.jpg") %>
            </div>
            <p>学生处处长叶军介绍说：“学生处与眼科学院、校医院共同努力，本学期开始面向全校师生实施眼健康档案建设计划，免费为在校大学生建立眼健康档案，旨在通过眼科检查，全面了解我校职工及大学生眼睛的健康状况，有针对性开展眼病诊治和近视防控，增强在校大学生关注眼健康从而提高对眼病的防范意识。此次活动地开展，将对各年龄段学生以及教职工眼健康实行贴心呵护，十分有益。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_3.jpg") %>
            </div>
            <p>眼科学院/附属银海眼科医院院长、书记段俊国致辞。他强调，我国目前仅近视患者就高达4.5亿，已成为影响全民健康的重大问题。作为眼科医学工作者，责无旁贷。对此，眼科学院于今年六月曾与学生处合作，在成都地铁十余个主要站点共同开展了“六、六爱眼月活动”。向数百万成都市民宣传了爱眼护眼知识，产生了良好社会影响。今天与学生处再度合作，又签订了“成都中医药大学大学生眼健康档案建立协议”，为全校两万余师生眼健康保驾护航。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_4.jpg") %>
            </div>
            <p>段院长还强调，我们要深入学习习近平总书记2016年8月19日在全国卫生与健康大会上发表的重要讲话，努力贯彻习总书记关于“没有全民健康就没有全面小康”的讲话精神，全面推进“健康中国”建设。此次，大学生眼健康档案启动暨校医院眼科门诊开诊正是我们践行“健康中国”理念的重要举措。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_5.jpg") %>
            </div>
            <p>会上，眼科学院谢艾芮医生就眼健康体检建档工作及检查流程做了详细说明。她说：“眼健康体检为眼部疾病的早预防，早发现，早诊断，早干预，早治疗提供了客观准确的临床依据，具有重要的现实意义。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_6.jpg") %>
            </div>
            <p>会中，成都中医药大学副校长杨静向温江校医院刘阳院长授予“成都中医药大学眼科学院大学生实训基地”铜牌。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjkda_7.jpg") %>
            </div>
            <p>会议当天，2017级中医学专业（定向）二班50余名学生接受了眼健康体检并建立了个人眼健康档案。</p>
            <p>接下来，眼科学院将联合校医院，在学生处指导下为全校2万余名在校生及教职工陆续进行眼健康体检及建档工作，普及眼健康知识，提高眼病的防控能力，确保近视防控计划得以落地执行。眼科学院/附属银海眼科医院，将始终秉承“大医精诚，银海启明”的院训，致力于我校师生眼健康工作而竭尽全力。</p>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>
