<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>从雾里看花到明辨三光——女医摘镜自白</h5>
            <p class="rightWord">2017-08-15</p>
        </div>

        <div>
            <p>儿时跟小朋友打闹，我的左眼不小心撞到了石头上。初中时，学校体检测视力，当时医生告诉我双眼视力4.5，我不知其所云，“4.5”对我而言除了是一个数字还是数字，没有引起重视。那时候我考试成绩名列前茅，经常坐在大家认为的黄金位置——第三排正中间，未发现视力对学习的影响。</p>
            <p><b>“近视”来袭</b></p>
            <p>高中时学习成绩如高山滚石——只下不上，因为按分数选位置，座位逐渐往教室后靠。直到有一天，发现自己看不清黑板，遂去学校对面的眼镜店检查，老板验光后告知我有“近视”，双眼200多度，配镜后似乎视力提高了一些，可怜的我，这么多年一直戴着它。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wukhwql_1.jpg") %>
                <p>术前</p>
            </div>
            <p><b>“弱视”困扰</b></p>
            <p>大学毕业后我报驾校，体检时医生发现我的右眼可以矫正到1.0，然而左眼无论戴多厚的镜片我都看不清，他嘱咐我一定要去医院眼科做进一步检查。当时只想着学驾驶，为图方便就去眼镜店咨询，老板发现我的左眼视力怎么也矫正不到1.0，然后告诉我是“弱视”。为了能看清楚一些，给我左眼配了一块厚重的400多度的镜片。当时很伤心，自己怎么如此命运多舛，小时候差点摔死，后来差点被地震震死，而现在眼睛又看不清，我还这么年轻，会失明吗？因此我抑郁了很长一段时间。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wukhwql_2.jpg") %>
                <p>术前</p>
            </div>
            <p><b>术后“重生”</b></p>
            <p>2014年我有幸考上了成都中医药大学眼科学的研究生，于是把自己的情况告诉了导师——周华祥教授。他是成都中医药大学眼科学院中医眼科教研室主任，成都中医大银海眼科医院中医眼科中心主任，“第四批四川省拔尖中医师”。国家中医药管理局中医师资格认证中心命审题专家。《中医眼耳鼻喉杂志》副主编、《中华医学百科全书》中医眼科学卷编委。师父和师姐在裂隙灯下检查发现我左眼患白内障，进一步验光得知右眼近视约200度，左眼为正视眼（可怜我曾经被所谓“弱视误扰”，戴了那么厚的矫正镜片。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wukhwql_3.jpg") %>
                <p>手术等待中</p>
            </div>
            <p>希望和我一样近视或者有眼疾的朋友，一定要到正规医院眼科做相关检查，如医学验光、眼底照相等，不能为图方便，选择不太专业的眼镜店，受伤害的不仅是心灵的窗户，还有自信心。后来我及时做了白内障摘除联合人工晶状体植入术。术后左眼视力竟达到1.0，非常感恩周老师让我重拾自信。</p>
            <p><b>“立体视觉”去哪儿了</b></p>
            <p>然而问题来了，因为左眼的人工晶体不能调节，只能视远。而右眼由于屈光不正，只能视近。因这一双“鸳鸯眼”，大家常取笑我。也由于屈光参差明显，我的立体视觉很差，即双眼屈光不同，黄斑异位，视觉剥夺等都会造成立体盲。如果双眼一个远视，一个近视，这样双眼就不能同时工作，看远用远视，看近用近视，不能双眼看同一物体，即双眼单视就无法形成立体视觉，尤其是在做显微手术和驾驶时症状突出，所以给我的工作及生活带来了诸多不便。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wukhwql_4.jpg") %>
                <p>手术后第一天</p>
            </div>
            <p><b>重获立体视觉还我清晰视界</b></p>
            <p>解决屈光参差，重获立体视觉一直是我的愿望，虽然作为一名眼研究生，主要研究方向为中医药治疗眼底疾病，但也和大家一样，对屈光手术有些担忧和害怕，不怕大家嘲笑，我也常担心做近视手术会疼痛？术后会带来其他不适？术后会反弹？眼科医生都不做近视手术？术后不能看近？等等困惑，以至于研究生三年都在纠结要不要做近视手术。研究生毕业后，我有幸入职到成都中医大银海眼科医院。得知我院引进了千频准分子全激光手术系统——阿玛仕1050RS，1050HZ的激光切削频率和7维无延时追踪，独具Smart千频全激光手术方式，简直是“全宇宙”目前先进的设备，而且医院具有专家团队。我憧憬着可以重获立体视觉。</p>
            <p>在屈光中心周春阳副主任医师及其团队全面、专业、科学的术前检查及诊断后，我的各项指标均满足屈光手术条件。我向周主任讲述了自己的担忧，经过专业的解惑，才意识到自己在屈光方面需要加强学习。而且我院引进的Smart准分子激光具有“快、精、准、逸”的优点，同时“无瓣、无痕、安全无忧”。因此我毫不犹豫地预约了手术。</p>
            <p>我的痛阈很低，术前比较害怕、焦虑。因为我的恐惧术中一直配合不佳，周老师很耐心的安慰我，护士姐姐温柔地握住我的手，老师们等我平静下来，终于开始手术。其实一点都不疼，也没有其他不适感觉，没等我反应过来，仿佛几秒手术就结束了。术后因为戴上了角膜接触镜，有点异物感及畏光流泪，其他均未发现明显不适。术后第一次复查摘除了角膜接触镜，异物感就消失了，视力达到0.8，第二次复查视力达到1.0，双眼终于同步了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wukhwql_5.jpg") %>
                <p>手术后，成功摘镜</p>
            </div>
            <p>我终于可以辨识物体的厚度、空间的深度及距离了，再生动的文字也难形容我的开心与激动之情，非常感谢我院引进这么完美的技术设备！感谢屈光中心的各位医生老师，感谢验光师不厌其烦地做精准术前检查，感谢护士姐姐们全程温暖的关怀，谢谢大家！</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




