<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>近视手术千频时代正式开启，全国首台阿玛仕1050RS全激光在银海眼科开机</h5>
            <p class="rightWord">2017-06-08</p>
        </div>

        <div>
            <p>2017年6月8日，由成都中医药大学附属银海眼科医院在国内眼科医院首台引进的，有眼科设备“爱马仕”之称的阿玛仕1050RS准分子激光设备在成都举行开机仪式，正式投入使用，并于当日完美完成首批近视病人手术。该设备集成了当前先进的准分子角膜屈光手术技术，以1050HZ切削频率、7维动态监控、Smart SPT切削技术等突出性能，遥遥领先于同类产品，引领屈光手术千频精准时代。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mechine_1.jpg") %>
                <p>阿玛仕1050RS·SMRT全激光开机仪式会场</p>
            </div>
            <p>包括四川省中医药发展服务中心主任、四川省中医药发展促进会会长杨军，温州医科大学附属眼视光医院王勤美教授，四川大学华西医院邓应平教授，第三军医大学大坪医院白继教授，南京中医药大学王育良教授，天津中医药大学第一附属医院杨光教授，高视远望集团副总裁高峰、杨正敏，成都中医药大学眼科学院、附属银海眼科医院院长兼书记段俊国教授等在内的近200名来自香港和各省市的眼科专家、同仁出席了本次开机仪式，共同见证了这一振奋人心的重大时刻。</p>
            <p>仪式由成都中医大银海眼科医院中医眼科中心主任周华祥教授主持。四川省中医药发展服务中心主任、四川省中医药发展促进会会长杨军，成都中医药大学眼科学院、附属银海眼科医院院长兼书记段俊国教授，高视远望集团副总裁高峰先生等先后致辞。</p>
            <div class="newsImgMar">

                <%= image_tag("news_mechine_2.jpg") %>
                <p>四川省中医药发展服务中心主任/四川省中医药发展促进会会长杨军致辞</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mechine_2_2.jpg") %>
                <p>成都中医药大学附属银海眼科医院院长段俊国教授致辞</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mechine_2_3.jpg") %>
                <p>高视远望集团副总裁高峰致辞</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mechine_3.jpg") %>
                <p>高视远望集团副总裁高峰向银海眼科医院院长段俊国授牌</p>
            </div>

            <p>仪式中，高视远望集团向成都中医大银海眼科医院授予“阿玛仕准分子1050RS平台示范基地”和“高视集团培训中心”，标志着银海眼科医院成为全国首个阿玛仕准分子1050RS近视手术示范基地。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mechine_4.jpg") %>
                <p>与会专家、来宾共同开启阿玛仕1050RS·SMART全激光设备</p>
            </div>
            <p>在欢快的音乐旋律中，与会专家一起上台推动横杆，开启全国眼科医院首家阿玛仕1050RS·SMART全激光设备。</p>
            <p>与开机仪式同时举行的还有四川省“中医·中西医结合眼科” 继续教育培训班开幕式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mechine_5.jpg") %>
                <p>温州医科大学眼视光医院王勤美教授与手术团队合影</p>
            </div>
            <p>开机仪式结束后，在成都中医大银海眼科医院，由王勤美教授为首批近视患者进行了阿玛仕1050RS·SMRT全激光近视手术，取得了圆满成功，全国首台1050RS全激光手术设备造就了全国第一台千频手术典范，将这一时刻将载入眼科发展历史，标志首近视屈光手术千频、精准、个性化时代的正式到来。成都中医大银海眼科医院同期引进了飞秒激光高端设备——德国蔡司公司全飞秒SMILE3.0系统，与阿玛仕1050RS﹒SMART全激光设备珠联璧合，代表了目前角膜屈光设备高端配置，将代表和引领国内角膜屈光技术发展的新水平，为广大近视患者提供舒适、持久和清晰的视觉质量。</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





