<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>四川省视力保护科普基地“流动科普馆” 公益行发车仪式</h5>
            <p class="rightWord">2017-01-09 </p>
        </div>

        <div>
            <p>大爱无疆·善行天下--四川省视力保护科普基地“流动科普馆”公益行发车仪式</p>
            <p>引言</p>
            <p>继四川省视力保护科普基地“流动科普馆”启动仪式后，由四川省视力保护科普基地、成都中医药大学眼科学院和成都中医大银海眼科医院共同举办的大爱无疆·善行天下 —— 四川省视力保护科普基地“流动科普馆”首次公益行发车仪式，于2017年1月5日12点整，在成都中医药大学举行。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_1.jpg") %>
            </div>
            <p>成都中医药大学眼科学院院长、成都中医大银海眼科医院院长段俊国教授，成都中医大银海眼科医院副院长赵芝蓉主医师和四川省视力保护科普基地主任周华祥教授共同出席公益行发车仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_2.jpg") %>
            </div>
            <p>成都中医药大学眼科学院院长、成都中医大银海眼科医院院长段俊国教授表示，公益行专家团、专业医护人员及各级工作人员，应认真贯彻落实《“十三五”全国眼健康规划》，充分利用“流动科普馆”先进设施设备，深入基层提供全面、专业的眼健康科普教育及医疗服务，秉持成都中医大银海眼科医院“大医精诚、银海启明”精神，为广大人民群众送去健康与光明。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_3.jpg") %>
            </div>
            <p>大爱无疆·善行天下——四川省视力保护科普基地“流动科普馆”公益行由成都中医大银海眼科医院副院长赵芝蓉亲自带队，在仪式上，由段俊国教授为其授旗，预祝首次公益行圆满成功。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_4.jpg") %>
            </div>
            <p>成都中医药大学眼科学院专家协同成都中医大银海眼科医院专家及医护人员在仪式上集体宣言，誓做一名合格的光明使者，星星之火可以燎原，微微之光带去光明。决心竭尽全力除人类之眼疾，助健康之完美，救死扶伤，不辞艰辛，执着追求，为光明事业奋斗终生。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_5.jpg") %>
            </div>
            <p>此次公益行奔赴珙县、平昌县、德荣县等贫困偏远地区以及沙河源小学，是四川省视力保护科普基地与成都中医大银海眼科医院的首次公益任务，标志着眼健康科普教育工作正式走向基层，深入社区、校园、偏远地区等地，为提升民众眼健康水平而不懈努力，积极为全民健康贡献力量，对整个眼健康科普教育事业具有重要意义。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_6.jpg") %>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





