<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>关爱老年眼健康大型义诊科普活动”使400位老人受惠</h5>
            <p class="rightWord">2017-09-04</p>
        </div>

        <div>
            <p>9月2日，“关爱老年眼健康大型义诊科普活动”在成都市大邑县崇孝颐养中心举行。老年眼健康科普影像资料展、科普大讲堂以及大型义诊等一系列丰富多彩的活动，吸引了近400位老人积极参与，掀起了一股爱眼热潮。此次活动是由成都中医大银海眼科医院联合成都崇孝颐养中心共同举办。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_3.jpg") %>
            </div>
            <p>活动伊始，由我院住院部医生吴青兰为老人们做了《推拿按摩与眼保健操》的科普宣讲，并现场为老人们展示正确的推拿按摩和爱眼护眼的方法。这种通俗易懂的传播方式，获得了老人们的喜爱，400位老人现场认真学起了推拿按摩与眼保健操。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_5.jpg") %>
            </div>
            <p>同时，我院医护人员还为到场老年人免费建立了眼健康档案，并做了全面细致的视力筛查和数据统计。针对一些老人因身体原因无法来参加本次活动的情况，医护人员采取上门服务的方式，去老人房中讲解眼科科普知识，并为他们做了细致的诊疗。这种贴心的上门服务方式，让老人们感动不已。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_6.jpg") %>
            </div>
            <p>成都中医大银海眼科医院中医眼科中心主任周华祥教授、成都中医大银海眼科医院特检中心主任路雪婧教授、主任医师张富文教授、主任医师黄霄教授、主任医师王智慧教授等多名眼科专家现场与老人们亲切互动，并现场解答老人们提出的各种困惑。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_11.jpg") %>
            </div>
            <p>“没想到这些大专家们会亲自来给我这些老人免费做检查，大家平时忽略的眼健康问题专家们都做了细致的解答，这种方式很好，希望以后也能多多开展。”这是老人们真实的声音，没有任何修饰，却透出老人们对义诊科普活动的喜爱和赞扬。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_12.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_13.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhyzlr_14.jpg") %>
            </div>
            <p>我院作为成都中医药大学眼科学院和附属眼科医院，自建立之日起，就把眼健康公益事业作为己任，今年三月以来开展了三月眼健康科普月、六月爱眼月、启动与甘孜得荣“对口扶贫·精准复明”计划。此次活动是为了继续将优质医疗资源下沉至基层，更好的普及眼健康知识，为基层广大人民群众提供全面、专业的眼健康科普教育及医疗服务。</p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>



