<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医—周华祥】出血性眼病和干眼症，正在危害你的健康！</h5>
            <p class="rightWord">2017-07-12</p>
        </div>

        <div>
            <p>有人说，眼睛是一条通往心灵的道路；</p>
            <p>有人说，眼睛是一面明镜；</p>
            <p>有人说，眼睛是布满星辰的大海；</p>
            <p>还有人说，黑色的眼睛是用来寻找光明。</p>
            <p>从我们睁开双眼来到这个世界，眼睛便是我们接触这个世界最直观的方式，来寻找这个世界美好的事物。</p>
            <p>近年来，随着人民生活水平的普遍提高，电子化办公和电子产品越来越普及，电子产品的应用呈现出人口众多（2016年我国手机用户已经超过13亿）、低龄化趋势两个特点。由此而带来的眼部问题越来越多。</p>
            <p>成人中干眼症、视疲劳、白内障、黄斑变性等疾病的发病率逐年增高。如何避免电子产品对眼睛的损害，保护好我们心灵的窗户，是现代社会的人需要关注的重要健康问题。</p>
            <p>成都银海眼科医院主任医师周华祥教授将为我们详细讲授有关干眼症和出血性眼病的知识。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj7.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>周华祥</p>
                    <p>主任医师</p>
                    <p>教授/硕士研究生导师</p>
                </div>
            </fieldset>
            <p>周华祥教授，主任医师。从事中医眼科学的临床、科研、教学工作30余年。</p>
            <p>周华祥教授临床经验丰富，在眼科常见病、多发病方面有较好疗效，形成了自己独特的诊疗特色，尤长于运用传统理论于临床，探讨眼科难症、重症的新治疗途径并获得较好效果，如将金元时代医家刘完素提出的“玄府”理论运用于视神经疾病，提出“开玄府、利清窍、活血脉、补肝肾”四步递进治法治疗视神经萎缩；将《金匮要略》、《血证论》“死血”、“干血”理论结合与眼科临床，运用软坚散结、祛痰散结、活血散结方药治疗视网膜玻璃体出血；将“黄斑属脾”、“瘀血化水”、“肾虚血瘀”理论运用于糖尿病性视网膜病变及其黄斑水肿的临床治疗均取得良好效果。此外，以“脾肾双补”法治疗高度近视及其眼底并发症，以“凉肝滋肾、解毒排脓”法治疗葡萄膜炎，以“健脾生津，祛风通络”法治疗干眼症、视疲劳等都展示了鲜明的特色和疗效。其临床诊治较突出中医药简、便、效、廉的优势，体现“大医精诚”的医德医风，受到患者称许。</p>
            <p>擅长领域：擅长中西医治疗出血性眼病（糖尿病性视网膜病变、老年黄斑变性、黄斑出血、视网膜静脉周围炎、视网膜静脉阻塞）、葡萄膜炎、视神经疾病及防治青少年近视、高度近视眼底并发症的中医药诊治。</p>
            <p><b>什么是出血性眼病及干眼症？</b></p>
            <p><b>出血性眼病</b></p>
            <p>出血性眼病指眼球及其附属器内的血液成分溢出血管外所致的眼科疾病，也是眼科临床常见病，多发病和致盲性眼病。</p>
            <p>周教授介绍道，出血性眼病有反复出血倾向。引起的原因众多：视网膜静脉阻塞，糖尿病，高度近视，静脉周围炎，视盘血管炎，老年黄斑变性，出血性青光眼，中心性渗出性脉络膜视网膜炎等等。</p>
            <p>其中，静脉周围炎高发人群为青年男性，而黄斑出血则以青年女性居多。</p>
            <p><b>干眼症</b></p>
            <p>干眼症是指任何原因造成的泪液质或量异常或动力学异常，导致泪膜稳定性下降，并伴有眼部不适和（或）眼表组织病变特征的多种疾病的总称。</p>
            <p>周教授说，干眼症视疲劳的与我们生活环境及社会发展密切相关。在这之前，干眼症受激素水平影响一般发生在处于更年期的中老年妇女身上，而现在干眼症出现了明显的低龄化、大众化趋势，不论男女老少，都极易得病。公认的引起这一现象的原因如下：空气环境污染、食物的改变、用眼过度、电子产品使用次数频繁。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorZhx_1.jpg") %>
            </div>
            <p>干眼症会加重视疲劳，视疲劳也会诱发干眼症，二者往往很难区分。</p>
            <p><b>患病后症状有哪些？</b></p>
            <p><b>出血性眼病</b></p>
            <p>周教授介绍道，因不同的病因引起的病变所呈现出来的方式也不尽相同。比如视网膜静脉周围炎，早期病变时血管的改变在眼部周围出现小型片状出血，病人并不会有所感觉，而一旦较大的血管破裂，血液进入玻璃体，视力在瞬间便会受到严重影响。糖网病是一种渐进病，而老年黄斑变性因本身病变在黄斑区，呈现方式则会较快，视力模糊，当出血面积较大时，视力会迅速下降。周教授说，出血性眼病致盲率非常高，最终导致视力受损乃至失明。</p>
            <p><b>干眼症</b></p>
            <p>周教授称，干眼症患者的主要表现为眼睛干涩难忍，从检查结果来看，眼睛内液的质和量都呈现出不足的状态，眼睑板腺功能不全等。当干眼症进一步严重化后，会影响角膜，病人会出现视物模糊的症状，眼睛会出现不能睁开的情况，从而影响病人的工作、生活等。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorZhx_2.jpg") %>
            </div>
            <p><b>中医医疗在眼部疾病的运用</b></p>
            <p><b>出血性眼病</b></p>
            <p>在周教授从事中医工作的三十多年中，对于出血性眼病多有研究。周教授称，相较于西医，中医对于眼部出血时的处理、出血后的护理、病情稳定后的巩固治疗更能彰显其长处。</p>
            <p>在治疗中，中医不仅仅是单纯性的止血。通过周教授几十年的经验，在中医领域里摸索出出血性眼病与其他各科内出血不同。因为眼睛内部结构的不同，决定了眼部所出的血没有固定流向。眼科治疗过程慢，病人恢复也比较慢。中医在治疗时，除了活血化瘀、促进出血吸收时，更要防止再次出血。而最终的治疗目的是为了恢复患者的视力。</p>
            <p>在中医临床上，一般使用活血化瘀的药物来减少淤血。周教授则更加倾向于使用软坚散结的方式来促进出血的吸收，这种方式不仅安全，更能较好的减少再次出血的风险。</p>
            <p>对于黄斑水肿、视网膜水肿等，中医认为水肿来自于淤血，因此在治疗中会采用活血利水、温阳化气的方式。</p>
            <p><b>干眼症</b></p>
            <p>周教授说，在现代医学当中，对于干眼症缺乏根治手段。 从中医角度来说，眼睛干涩仅仅是外在表现。之所以患上干眼症，是因为心、肝、脾、肺、肾等内脏的不调。因此，一般使用口服中药的方式进行一个全身的调解，或者使用中药煎剂对眼睛进行一个雾化治疗，这两种方式在改善、治疗干眼症患者中取得了较好的疗效。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorZhx_3.jpg") %>
            </div>
            <p><b>如何预防？</b></p>
            <p><b>出血性眼病</b></p>
            <p>对于出血性眼病，周教授有如下建议：</p>
            <p>1、糖网病筛查。糖网病是“糖尿病视网膜病变”的简称，糖尿病会引起视网膜血管失调。病症的发生率随着患糖尿病时间增加而提高。患有糖尿病十五年以上的病人中大约60%的病人眼部血管会受损，其中一部分有可能失明。“而出血性眼病，一旦出现视力受损，问题已经比较棘手了。所以，糖网病筛查很有必要，“早发现、早治疗”。</p>
            <p>2、老年人要定期体检，老年人因为身体机能的原因，发生眼病的病变颇高。</p>
            <p>3、高度近视人群定期要医院检查。周教授介绍，高度近视容易发生很多严重并发症，大部分会致盲，是成人常见的致盲原因之一，在我国致盲性疾病中占第6位。近视度数越高，后巩膜葡萄肿的发生率越高，发生率为77.1%，主要表现为眼球后极部向后扩张，视神经和黄斑周围视网膜变性萎缩，矫正视力下降。由于眼轴变长，后巩膜葡萄肿等因素，高度近视患者容易出现视网膜变性、裂孔，引起出血和视网膜脱离，导致失明。由于巩膜扩张和视网膜变性，高度近视患出现视网膜脱离的机会比非高度近视着高7-8倍。高度近视并发白内障和青光眼的机会也比正常人高。</p>
            <p>4、青少年要加强眼健康教育。周教授表示，青少年是近视近年来成高度增长趋势。因此对青少年进行眼健康教育是防止青少年近视的有力措施。</p>
            <p>5、高血压患者也需定期到医院做眼部检查。高血压患者容易引发眼底疾病等并发症，高血是眼底出血的高危人群。因此，高血压患者，应该定期到医院进行体检。</p>
            <p><b>干眼症</b></p>
            <p>周教授强调，人们针对干眼症，一般都选择滴眼药水。但这只是应对性措施，不能根治。而且，长期滴眼药水对眼睛也会造成伤害，所以眼药水要慎用。</p>
            <p>因此，为了避免干眼症，应多眨眼，尽量减少面对电脑、手机等电子产品的时间，注意眼部卫生等。</p>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




