<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>上海交通大学党委副书记、医学院党委书记范先群教授莅临我院指导</h5>
            <p class="rightWord">2017-08-21</p>
        </div>

        <div>
            <p>8月20日，上海交通大学党委副书记、医学院党委书记，中华医学会眼科分会眼整形眼眶病学组组长范先群教授莅临我院参观指导。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shjd_1.jpg") %>
                <p>段俊国院长向范先群书记介绍医院情况</p>
            </div>
            <p>我院院长、书记段俊国教授，眼视光中心名誉主任周跃华教授，院长助理、小儿眼科主任袁晓辉教授与医务部、视光中心、院党政办负责人热情接待了范先群书记一行。</p>
            <p>在段俊国院长的陪同下，范先群书记一行参观了我院门诊大厅、眼视光中心、眼科门诊、住院部、药房、检验科、眼影像分析与诊断中心及廖品正国医大师工作室。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shjd_2.jpg") %>
                <p>范先群副书记参观廖品正国医大师工作室</p>
            </div>
            <p>参观结束后，范先群书记一行与我院领导进行了交流与探讨。段俊国院长简要介绍了我院的眼科学科概况，和近两年来创建眼科学院、眼科医院和眼与视觉健康产业研究院的情况，并对新形势下大学附眼科医院建设模式进行探讨。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shjd_3.jpg") %>
                <p>段俊国院长向来宾介绍我院三院一体新模式</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shjd_4.jpg") %>
                <p>会议现场</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shjd_5.jpg") %>
                <p>会议现场</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_shjd_6.jpg") %>
                <p>我院领导与来宾合影</p>
            </div>
            <p>范先群书记充分肯定了我院三院一体的创新模式，表达了对成都中医大银海眼科医院发展的良好祝愿。</p>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




