<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医——陈小凤】医院里的小燕子</h5>
            <p class="rightWord">2017-08-01</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_cxf_1.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>陈小凤</p>
                    <p>主治医师、博士</p>
                    <p>坐诊时间:周一、周三上午，周五、周六全天</p>
                    <p>天津医科大学临床医学院博士研究生，硕士研究生期间师从四川省眼科学术带头人樊映川教授，博士研究生师从亚太眼外伤协会副主席颜华教授。</p>
                    <p>擅长领域：</p>
                    <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
                </div>
            </fieldset>
            <p>病人到医院求诊的时候往往疾病缠身，心情沉重，如果能遇到一位医术高明又开朗积极的医生，无异于在乌云下看到了一束温暖的阳光。陈小凤就是这样一位给病人带来欢声笑语的医生，她在办公室，总是欢声笑语不断。</p>
            <p><b>回荡在医院的银铃笑声</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_cxf_2.jpg") %>
            </div>
            <p>与陈小凤在同一个办公室的医生说她是“女超人”，因为她反应特别快、能力超强，性格尤其招人喜欢。在与陈小凤交谈的过程中，她不时发出爽朗的笑声，夹着几句自嘲。虽然接触时间不长，记者同她说起话来毫不感觉拘谨。</p>
            <p>陈医生谈话过程中，偶尔会提起她的丈夫和孩子，看得出，她的家庭很幸福。夫妻二人都是医生，就对对方有了更多的理解与尊重。1984年出生的陈小凤是个正儿八经的“八零后”，喜欢看电影、晒娃，却自拍不多，长相清秀的陈医生笑着说自己不上相。陈医生的笑声很纯洁，像是十七八的小姑娘，毫不掩饰，旁人看着都止不住被感染得乐颠儿了。</p>
            <p><b>“病人都会推荐朋友过来”</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_cxf_3.jpg") %>
            </div>
            <p>陈小凤当了医生以后，做的第一台手术是给一位工厂退休的大妈做眼睑内翻矫正手术。手术结束以后，大妈发现不仅原来的眼部问题解决了，自己还意外地获得了一对双眼皮，两只眼睛扑闪扑闪地好像年轻了十多岁。</p>
            <p>大妈手术后就在厂家属区里不停的向周围朋友推荐陈医生，结果厂里的老年朋友都排来找陈小凤医生治眼病。不管是白内障，青光眼，还是糖尿病视网膜病变等等，陈医生都会尽心尽力的为患者治疗，限于当时工作医院的器械设备条件，解决不了的问题，她会积极帮助联系上级医院，帮助患者解决问题。每一位找她看病的患者都会感受到她的全心帮助。</p>
            <div class="newsImgMar">
                <%= image_tag("news_cxf_4.jpg") %>
            </div>
            <p>陈小凤医生曾经多次参与四川省防盲办公室组织的贫困白内障免费防盲手术。基层的病人多，情况复杂，看着从很远的地方赶来治病的老百姓，陈医生感触很多。在现今社会高速发展的今天，仍然有很多偏远地方的患者会因为患有白内障而致盲，但白内障却是一种可治疗的疾病。在陈医生进行白内障防盲的过程中，很多很多患者的眼睛都已经什么都看不见了，在术后第一天取开纱布后，都会因为眼睛又能清楚的看东西了而兴奋不已。</p>
            <p>每一次参与白内障防盲项目，她都会一直手术，直到耗尽了所携带的所有药物以及耗材。很多患者会索要陈医生的联系方式，陈医生也很痛快地留了自己的手机号码。直到现在都经常有那些地方的人打电话想找陈医生咨询，陈医生从来没有换过手机号码，不管什么问题，她都会耐心地予以指导、答复。</p>
            <p><b>好老师与好学生！</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_cxf_5.jpg") %>
            </div>
            <p>很多人羡慕陈小凤才三十出头就主刀完成白内障防盲手术和超声乳化手术5000多例，有丰富的白内障手术经验。在与陈医生交谈的过程中，隔几分钟便有医生拿着病例来找她请教问题，陈医生总能给出很肯定的建议，并解释原因。</p>
            <p>被问到她为什么临床经验那么丰富的时候，她害羞地笑了，“主要是运气好吧，一生中遇到的一位好老师就很幸福了，而我遇到了很多个好老师”。陈医生总是会告诉周围的人，她遇到的每一位好老师，是她这一生最大的资本。没有这些老师，就不会有她的今天。参与工作后，科室主任对她的信任以及同事的协作，每一个人都在她的成长中扮演了重要的角色。</p>
            <p>现今，陈医生在读天津医科大学的博士，博士生涯能让她对眼科医学有更深入、更全面的学习。生了孩子以后，陈小凤的时间更加紧张，白天在医院看病，晚上照顾孩子。曾经特别喜欢看电影的她，现在忙的也没有时间进电影院了，只能眼巴巴看着别的朋友晒看电影的照片。</p>
            <div class="newsImgMar">
                <%= image_tag("news_cxf_6.jpg") %>
            </div>
            <p>与陈小凤一同工作是种享受，已为人母的她还是像个小姑娘一样调皮地笑着。这也是她希望带给病人的：用开心快乐替换掉当初的病痛，少一点忧愁，多一点真诚、欢乐与豁达。</p>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





