<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>中华中医药学会糖尿病专业委员会主任委员、厦门大学附属第一医院杨叔禹教授莅临银海眼科指导工作 </h5>
            <p class="rightWord">2017-11-03</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_shzjsc_1.jpg") %>
            </div>
            <p>11月3日，中华中医药学会糖尿病专业委员会主任委员、厦门大学附属第一医院杨叔禹教授莅临成都中医大银海眼科医院参观指导。银海眼科医院院长、党委书记段俊国教授，副院长邱航，院长助理、小儿眼科主任袁晓辉教授及院党政办等部门负责人热情接待，陪同参观。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shzjsc_2.jpg") %>
            </div>
            <p>段俊国院长首先对百忙之中抽出宝贵时间来到银海眼科医院参观考察的杨叔禹教授一行表示诚挚的欢迎。在他的陪同下，杨叔禹教授参观了医院门诊大厅、配镜区、药房、眼科门诊、住院部、眼影像分析与诊断中心及廖品正国医大师工作室。参观过程中，杨叔禹教授对银海眼科医院先进的医疗设备、技术精湛的专家队伍、优质温馨的医疗服务、舒适优雅的就医环境等方面表示了肯定与赞赏。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shzjsc_3.jpg") %>
            </div>
            <p>参观结束后，杨叔禹教授与医院领导进行了交流与探讨。医院办公室主任陶铮通过PPT简要介绍了眼科学院、眼科医院和眼与视觉健康产业研究院三院一体化建设的情况，并对新形势下医院建设模式和发展规划进行探讨。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shzjsc_4.jpg") %>
            </div>
            <p>随后，段俊国院长向杨叔禹教授颁发聘书，聘请他为成都中医药大学眼科学院、附属银海眼科医院客座教授。 </p>
            <div class="newsImgMar">
                <%= image_tag("news_shzjsc_5.jpg") %>
            </div>
            <p>杨叔禹教授充分肯定了成都中医大眼科学院、银海眼科医院、眼与视觉健康产业技术研究院“三院一体”的创新体制机制。他表示，这种“医、教、研”“三院一体”眼科创新模式充分发挥了各自的优势，且坚持中西医并重，保持和发扬中医药特色优势，推动继承与创新，树立了眼科诊疗的独有品牌特色。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shzjsc_6.jpg") %>
            </div>
            <p>最后，杨叔禹教授深情表达了对成都中医大银海眼科医院发展的良好祝愿！ </p>
            <fieldset>
                <legend>专家介绍</legend>
                <div class="flow marB30">
                    <%= image_tag("news_shzjsc_7.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>杨叔禹教授</p>
                    <p>厦门大学教授、主任医师、博士生导师，附属第一医院名誉院长、厦门市糖尿病医院院长、厦门市糖尿病研究所所长，兼任中华中医药学会糖尿病分会主任委员。长期从事糖尿病等代谢性疾病的中西医结合防治工作，创建厦门糖尿病研究所及学术团队，曾任厦门大学附属第一医院院长、厦门市中医院院长、厦门市卫计委主任。卫生部有突出贡献专家，受国务院政府特殊津贴专家，中国医师奖获得者。创新糖尿病“三师共管”厦门模式。</p>
                </div>
            </fieldset>

        </div>
    </div>
</div>




