<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>网友点赞！我院朱思泉副院长、周跃华主任手术直播圆满成功，双双获得肯定！</h5>
            <P class="rightWord">2017-07-21 </P>
        </div>

        <div>
            <p>7月20日，我院朱思泉副院长、周跃华主任，在中医大附属银海眼科医院分别进行了白内障人工晶体植入手术和蔡司“全飞秒”角膜屈光的手术直播。这种新颖的方式不仅展示了两位专家精湛的眼科手术功底，同时也消除网友们对眼科手术的误解，获得了2万多网友的一致点赞。</p>
            <p><b>蔡司“全飞秒”角膜屈光手术</b></p>
            <p>我院眼视光中心名誉主任周跃华教授主要从事角膜屈光手术的临床工作和理论的基础研究，长于Smart全激光、SMILE全飞秒等各类屈光手术、共完成各类屈光手术15万例。在角膜屈光手术及其并发症等问题的处理上，具有丰富的临床经验。</p>
            <p>周跃华教授此次手术采用的是我院重点引进的蔡司全飞秒Visu Max激光系统。SMILE全飞秒激光近视手术无瓣，微创，手术时间短，精准性高，角膜安全性和术后生物力学更好，术后视觉质量高。同时，由于SMILE无痛，适应的人群更广，容易被患者接受，现在，越来越多的人愿意接受这类手术。</p>
            <p>手术后，周主任接受了记者的采访，他说到：“以往的手术是在角膜上会切一个330度的角膜瓣，切口大，损伤大愈合时间长。而全飞秒SMILE手术只需要在角膜上做一个2毫米的切口，通过这个切口把透镜取出来，就能完全矫正视力。处理这类问题，飞秒Smile手术是很好的选择。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_jszb_1.jpg") %>
            </div>
            <p><b>LensAR白内障激光和人工晶体植入手术</b></p>
            <p>此前，在7月15日中国医疗保健国际交流促进会眼科分会首届学术年会上，我院主办了LensAR3D飞秒激光白内障手术系统开机仪式，由我院朱思泉副院长进行了精彩的LensAR3D飞秒激光白内障手术演示并向与大会嘉宾现场直播，引起了与会专家广泛关注和赞誉。</p>
            <p>朱思泉副院长系首都医科大学博士生导师,成都中医大银海眼科医院副院长、白内障屈光中心主任。朱教授眼科临床工作经验丰富，白内障眼科显微手术造诣深厚，技术精湛，迄今已完成逾30万台白内障手术，手术量居全国第一，亚洲乃至世界领先。</p>
            <p>针对白内障手术，我院大力引进的LensAR的3D飞秒白内障激光手术系统优势明显。其使用了3D影像技术精准定位眼内组织位置，提高手术的安全性和精准度。独特的360度眼球立体扫描，以及独家的非接触式的小型接口，减少了角膜变形。3D立体切割模式，可使术后切口密合度极佳完全不漏水，降低感染风险，术后恢复快。</p>
            <p>朱思泉副院长术后在大会上就详细的谈过自己对LensAR的应用体会。他认为LensAR的3D成像优势突出，相比于OCT的2D平面图像，信息更丰富，手术安全性更高。同时，LensAR的非接触式接口操作的便捷性，中国的老年患者与欧美患者相比普遍具有睑裂小，眼窝深的特点，而LensAR的接口设计使手术操作的成功率和便利性大大提高，尤其适合我国患者的特点。通过飞秒激光制成的前囊口，不仅圆，而且居中，使植入的人工晶状体光学中心居中性的精准度大大提高，从而给患者带来了更高的视觉质量。</p>
            <p>此次，朱思泉副院长直播演示操作的是先天性白内障晶体植入手术，患者为一名13周岁的青少年，同样取得了广泛的关注和赞誉。手术结束后，朱院长接受了采访，他谈到：“此类手术虽然比常规眼科手术难度大得多，但是手术进行正常的话,一般三五分钟就可以结束，患者不必过于担心。”</p>
            <p>据了解，此次手术非常成功，这名小患者的视力已恢复到正常水平,广大网友纷纷点赞。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jszb_2.jpg") %>
            </div>
            <div class="hrefTo">
                <p>直播连接：</p>
                <a href="http://cd.qq.com/news/oneeye/ykss.htm" target="_blank">http://cd.qq.com/news/oneeye/ykss.htm</a>
            </div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow">
                    <div class="fl">
                        <%= image_tag("news_jszb_3.jpg") %>
                    </div>
                    <div class="fr liveDetail">
                        <p>朱思泉，教授、主任医师、博士生导师。成都中医大银海眼科医院副院长、白内障屈光中心主任，四川省千人计划特聘专家，中国医疗保健国际交流促进会世界眼科联盟主席，中华博爱基金会同仁博爱光明工程负责人，中华医学会眼科分会白内障学组委员，中国光明行首席手术专家，北京市高层次卫生技术人才。</p>
                        <p>擅长领域：主要从事先天性白内障、葡萄膜炎并发白内障、伴有红斑狼疮的白内障、肾移植术后白内障患者等各类疑难、复杂性白内障的手术治疗游刃有余，技术精湛。迄今已完成逾30万台白内障手术，手术量居全国第一，亚洲乃至世界领先。</p>
                    </div>
                </div>
                <div class="flow">
                    <div class="fl">
                        <%= image_tag("news_jszb_4.jpg") %>
                    </div>
                    <div class="fr liveDetail">
                        <p>周跃华，主任医师、教授、硕士研究生导师 。 成都中医大银海眼科医院眼视光中心主任，北京同仁医院视光中心主任，中华医学会眼科分会视光学组委员，国家发改委药审委员会委员，台湾白内障与屈光学会荣誉顾问，全国SMILE专家协作组成员。</p>
                        <p>擅长领域：主要从事角膜屈光手术的临床工作和近视理论的基础研究，长于Smart全激光、Smile全飞秒等各类屈光手术，共完成各类屈光手术15万余例。在角膜屈光手术及其并发症等的处理上，具有丰富的临床工作经验。</p>
                    </div>
                </div>
            </fieldset>









            <p>大爱无疆·善行天下--四川省视力保护科普基地“流动科普馆”公益行发车仪式</p>
            <p>引言</p>
            <p>继四川省视力保护科普基地“流动科普馆”启动仪式后，由四川省视力保护科普基地、成都中医药大学眼科学院和成都中医大银海眼科医院共同举办的大爱无疆·善行天下 —— 四川省视力保护科普基地“流动科普馆”首次公益行发车仪式，于2017年1月5日12点整，在成都中医药大学举行。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_1.jpg") %>
            </div>
            <p>成都中医药大学眼科学院院长、成都中医大银海眼科医院院长段俊国教授，成都中医大银海眼科医院副院长赵芝蓉主医师和四川省视力保护科普基地主任周华祥教授共同出席公益行发车仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_2.jpg") %>
            </div>
            <p>成都中医药大学眼科学院院长、成都中医大银海眼科医院院长段俊国教授表示，公益行专家团、专业医护人员及各级工作人员，应认真贯彻落实《“十三五”全国眼健康规划》，充分利用“流动科普馆”先进设施设备，深入基层提供全面、专业的眼健康科普教育及医疗服务，秉持成都中医大银海眼科医院“大医精诚、银海启明”精神，为广大人民群众送去健康与光明。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_3.jpg") %>
            </div>
            <p>大爱无疆·善行天下——四川省视力保护科普基地“流动科普馆”公益行由成都中医大银海眼科医院副院长赵芝蓉亲自带队，在仪式上，由段俊国教授为其授旗，预祝首次公益行圆满成功。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_4.jpg") %>
            </div>
            <p>成都中医药大学眼科学院专家协同成都中医大银海眼科医院专家及医护人员在仪式上集体宣言，誓做一名合格的光明使者，星星之火可以燎原，微微之光带去光明。决心竭尽全力除人类之眼疾，助健康之完美，救死扶伤，不辞艰辛，执着追求，为光明事业奋斗终生。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_5.jpg") %>
            </div>
            <P>此次公益行奔赴珙县、平昌县、德荣县等贫困偏远地区以及沙河源小学，是四川省视力保护科普基地与成都中医大银海眼科医院的首次公益任务，标志着眼健康科普教育工作正式走向基层，深入社区、校园、偏远地区等地，为提升民众眼健康水平而不懈努力，积极为全民健康贡献力量，对整个眼健康科普教育事业具有重要意义。</P>
            <div class="newsImgMar">
                <%= image_tag("news_fcys_6.jpg") %>
            </div>
        </div>
    </div>
</div>





