<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>   哈佛大学医学院Jackson博士访问我院</h5>
            <p class="rightWord">2016-08-19</p>
        </div>

        <div>
            <p>8月19日下午，哈佛大学医学院Joslin糖尿病中心助理教授 Jackson博士一行到成都中医大银海眼科医院进行学术交流。成都中医大银海眼科医院院长，成都中医药大学眼科学院院长、书记，四川省糖尿病防治协会会长段俊国教授亲切会见了Jackson博士。</p>
            <p>段俊国院长首先对Jackson博士光临我院进行指导表示欢迎，并向Jackson博士介绍了成都中医药大学中医眼科国家重点学科60年的发展历史，糖尿病视网膜病变团队的研究概况以及眼科学院眼科医院建设情况。段院长说，成都中医药大学糖尿病视网膜病变研究团队成立于1996年，先后获得“九五”“十五”国家科技攻关、“十一五”“十二五”国家科技支撑计划等四个“五年计划”对糖尿病视网膜病变中医药防治研究的长期支持，取得糖尿病视网膜病变新药、临床防治指南、临床路径、四川省科技进步特等奖等标志性成果。近年来与美国哈佛大学医学院Joslin糖尿病中心、威斯康辛大学眼底读片中心，英国剑桥大学等知名学术机构在糖尿病视网膜病变研究领域有着广泛的合作，Jackson博士来访将进一步推动我院这一领域的国际合作。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jmet_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jmet_2.jpg") %>
            </div>
            <p>Jackson博士表示很高兴来到成都中医大银海眼科医院，并且对段俊国教授所带领的团队在糖尿病视网膜病变所取得的成就表示由衷敬佩。随后，Jackson博士简要介绍了自己从1982年开始的对糖尿病的学习和研究生涯。他表示，对于成都中医药大学眼科学院和成都中医大银海眼科医院有所了解，并且期待双方的深入合作。在糖尿病防治方面，Jackson博士提到他通过在美国所做的一个的研究项目发现仅仅是专科医生对糖尿病的临床实践投入远远不够。当下亟待解决的问题是如何帮助专科医生更好地工作，如何通过专科医生以传授方法的形式促进基层医生在糖尿病防治工作中的效率，通过社区教育，提高患者对糖尿病的认知，如何培养患者教育专家，做到社区医院享有大型医院相当的医疗条件，在这方面，Jackson博士提出中医药的发展正面临着巨大的机遇与挑战，他希望利用中医药的传统优势，借鉴美国治疗糖尿病的经验，打破当下西医治疗糖尿病面临的瓶颈，从而提升双方在糖尿病防治的能力，提升世界人民的健康水平。</p>
            <p>段俊国院长对Jackson博士的看法表示认同。他认为由于糖尿病的特殊性，其并发症涉及心、脑、眼、肾等多个器官微血管的病损，他提出利用视网膜图像等现代技术，提高糖尿病的发现率，微血管病变的早期诊断率，提升糖尿病及其并发症的治愈率，采用中西医结合综合防治方法降低糖尿病的高发病率、高致残率和高致死率。Jackson博士关于家庭医生、社区、医院联动的糖尿病防控的哈佛模式对于解决中国的糖尿病问题具有非常好的借鉴意义。</p>
            <p>最后，段院长邀请Jackson博士今年11月再次来成都在2016四川省糖尿病防治协会年会做大会报告，分享其在糖尿病治疗方面的先进技术和管理模式，推动糖尿病防治领域的中美合作、高校合作、医院社区合作。</p>
            <p>眼科学院教学科研部、综合办公室、四川省糖尿病防治协会秘书处负责同志参加了会见。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jmet_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jmet_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jmet_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jmet_6.jpg") %>
            </div>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





