<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>四川省糖尿病防治协会2017学术年会圆满召开</h5>
            <p class="rightWord">2017-11-05</p>
        </div>

        <div>
            <p>11月4日，由四川省糖尿病防治协会主办，四川省视网膜图像技术与慢性血管性疾病防控协同创新中心、成都中医大银海眼科医院联合承办的“四川省糖尿病防治协会2017学术年会”在成都温江皇冠假日酒店圆满举办。来自四川省卫计委、省内相关会员单位的专业医生、护士、营养师、患者和社会各界企业代表约200余人参加了会议。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_1.jpg") %>
            </div>
            <p>开幕式上，四川省糖尿病防治协会会长、成都中医大银海眼科医院院长段俊国教授出席并致辞，介绍了协会2017年工作总结与未来工作规划。他表示，过去一年中，协会不断加强学会的自身建设，积极促进慢性非传染疾病的预防和控制，推进糖尿病早期筛查，开展糖尿病健康教育，促成健康文化的建设，在学术交流、学会建设、承接政府职能、人才培养等方面做了大量工作。</p>
            <p>他指出，协会将继续加强自身建设，完善互联网管理系统，提升服务质量；定期开展科普教育活动，加强中医药优势推广，促进我国传统健康文化的推广；组织好学术年会，促进学术交流；建立四川省糖尿病防控信息中心，全面提升患者管理效率；扩大二级分会，完善服务领域，使协会功能最大化。</p>
            <p>他希望，协会全体人员用十九大精神武装头脑、指导实践、推动工作，加强学习，不断提升医疗技术和服务水平，更好地为糖友服务，奋力开创糖尿病防治工作新局面，让健康中国梦在四川地区糖尿病防治上落地生根。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_2.jpg") %>
            </div>
            <p>四川省卫生与计划生育委员会人事科教处副处长方晓明对协会的工作表示肯定，换届后转眼两年间，协会重新步入正轨，走向正常发展轨道，积极探索自身发展的路径和方式，取得了令人鼓舞的成绩，这充分说明协会是一支有活力、有干劲的队伍。</p>
            <p>同时方处长要求协会要把握新时代党对社会组织的管理，在新的形势下注重新时代、新路径，重心下沉，科学发展，中西医并重，以基层医疗为主导，完善接地气的基层卫生服务建设，勇于担当培养基层卫生人才。</p>
            <p>他还说，协会是政府社会治理的重要组成部分，协会要加强规范运作，完善内部治理，依章办会，规范会员管理，坚持预防为主，加大宣传，规范加快分支机构建设，提升糖尿病防治健康素养水平，营造全社会关注糖尿病防治的良好氛围。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_3.jpg") %>
            </div>
            <p>会上，四川省糖尿病防治协会与四川精诚名医医疗股份有限公司、成都中医大银海眼科医院、贵州百灵企业集团制药股份有限公司共同合作发起“四川省糖尿病防治提升计划”，签订了四川糖尿病防控提升计划战略合作协议。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_4.jpg") %>
            </div>
            <p>在大会讲座中，美国哈佛大学Joslin糖尿病中心Richard Jackson教授首先以《A new road to diabetes care》为题，介绍了其在美国实施糖尿病管理的经验总结，为大家带来了糖尿病管理的创新方法。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_5.jpg") %>
            </div>
            <p>之后，中国中医科学院广安门医院仝小林教授、厦门大学医学院杨叔禹教授、中日友好医院杨兆军教授、成都中医药大学段俊国教授分别做了专题报告。各专家从不同角度为大会带来的精彩报告，赢得了参会学者的热烈掌声。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_7.jpg") %>
            </div>
            <p>此次年会还特别设置了糖尿病健康教育与糖尿病早期筛查和义诊活动，邀请来自全国的临床经验丰富内分泌科专家进行健康教育的讲座，同时为与会患者进行了专家咨询、血糖检测、眼底照相、视力测试和医学验光等全方面的免费义诊，百余糖尿病患者到现场参加活动，许多老年人第一次进行眼底照相，许多自认为良好控制血糖的患者查出有视网膜病变，许多患者咨询专家后才知道自己用药方法、养生方法等是错误的。本次专题报告及义诊取得了非常好的成效，参与的患者都受益良多。</p>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_tnxhym_10.jpg") %>
            </div>
            <p>通过此次年会，界内各学者齐聚一堂，从医疗、疾病防控和患者早期教育等方面展开学术交流和思维碰撞，将我省糖尿病防治工作推向了一个新的高度，推动了协会的发展，也为糖尿病患者传授了糖尿病健康常识，普及了糖尿病防治知识。</p>
            <p>在今后的工作中，四川省糖尿病防治协会将继续团结省内外专家学者，提升糖尿病防治水平，从不同层面加强基层医务人员、患者及其家属的健康教育，为“健康中国，美丽四川”做出贡献。</p>

        </div>
    </div>
</div>

