<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>四川省糖尿病防治协会开展大型义诊活动</h5>
            <p class="rightWord">2017-11-05</p>
        </div>

        <div>
            <p>11月4日下午，四川省糖尿病防治协会健康教育专委会在成都温江皇冠假日酒店举办了健康教育专题报告及大型义诊活动。</p>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_1.jpg") %>
            </div>
            <p>活动中先由四川省人民医院陈树教授对中国老年2型糖尿病防治指南进行了解读，面对广大糖尿病患者做了深入浅出的讲解，她提醒老年人应根据自身情况，适度地调整各项指标的目标值，不要因为过度控制血糖、血压而导致严重情况，并强调生活方式与健康心态的重要性。</p>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_2.jpg") %>
            </div>
            <p>来自北京301医院的邵迎红副主任医师通过严谨的临床实践与数据分析，针对具有胰岛素抵抗与分泌降低并存、并发症负担重等特点的老年人推荐了国际公认的血糖控制流程与方案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_3.jpg") %>
            </div>
            <p>最后，来自成都中医药大学附属医院的岳仁宋教授给大家讲解了中成药在糖尿病治疗中的应用，告诫大家不是所有中成药都是纯中药制剂，某些中成药掺加西药成分，服用时需要注意是否与其它西药有相互影响或者重复服药的情况，并且对市面上常见治疗糖尿病的中成药进行简单的分类总结，指导大家正确选用中成药。</p>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_4.jpg") %>
            </div>
            <p>专题报告后，是由四川省糖尿病防治协会内专家团队、企业及医院协同合作举行的“早期筛查，综合防治”义诊，其中，成都中医大银海眼科医院王智慧主任医师、成都市第五人民医院任欣副主任医师、四川省人民医院杨毅副主任医师对患者的糖尿病治疗与并发症预防方法进行了专业的建议，成都中医大银海眼科医院张富文主任医师与助手文娟医师对患者的眼科疾病进行了初步诊断与治疗建议，另外，成都市第五人民医院、成都中医大银海眼科医院、四川和生视界医药技术开发有限公司为大家提供了免费血糖检测、视力测试、眼表检查、眼底照相的检查项目。</p>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_scdxyz_10.jpg") %>
            </div>
            <p>现场有百余糖尿病患者受益，许多老年人第一次进行眼底照相，许多自认为良好控制血糖的患者查出有视网膜病变，许多患者咨询专家后才知道自己用药方法、养生方法等是错误的。本次专题报告及义诊取得了非常好的成效，参与的患者都受益良多。</p>

        </div>
    </div>
</div>




