<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医—袁晓辉】孩子们亲切的“护眼妈妈”</h5>
            <P class="rightWord">2017-07-21 </P>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <div class="fl borderGray">
                        <%= image_tag("news_yxhhy_1.jpg") %>
                    </div>
                    <div class="fr liveDetail">
                        <p>袁晓辉</p>
                        <p>主任医师、教授</p>
                        <p>成都中医大银海眼科医院院长助理、小儿眼科主任、眼视光学术带头人，全国知名小儿眼科专家，全国名老中医药专家学术经验继承人，中国民族医药学会眼科分会常务理事，四川省中西医结合学会眼科专业委员会委员，四川省医学会眼视光专业委员会委员。</p>
                        <p>1985年毕业于成都中医药大学，在成都中医药大学附属医院眼科、眼视光中心从事中西医眼科、眼视光工作30余年，曾在温州医科大学眼视光医院和北京医科大学第一附属医院小儿眼科学习进修，从事小儿斜弱视临床、科研、教学工作至今。</p>
                        <p>她专攻小儿眼科20余年，擅长各类弱视及斜视的治疗，在各类屈光性弱视、眼球震颤性弱视等多种疑难性弱视的诊断和治疗有独到之处。对青少年近视的中医药防控有独到见解，是孩子和家长信赖和喜爱的“护眼妈妈”。</p>
                    </div>
                </div>
            </fieldset>
            <p><b>妙手仁心帮孩子重露笑容</b></p>
            <p>7月中旬一天，成都中医大银海眼科医院眼视光中心袁晓辉教授办公室内，好几个孩子在家长陪伴下等候治疗。袁教授正在给一个小男孩检查眼睛，“小朋友，看阿姨的脸，是不是有个小手指，乖乖听话。”她细声哄着孩子，孩子很听话就完成了检查。每当这个时候，袁教授就化身温和妈妈，多年来她已经重复了无数次。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yxhhy_2.jpg") %>
            </div>
            <p>袁晓辉从事眼科临床已经32年，主要从事小儿眼科的科研，特别是针对孩子的弱视问题。在我国乃至全世界弱视发病率达到2%～3%，我国人口绝对值大，弱视的孩子群体大。而目前像袁晓辉教授这样擅长小儿眼科的专业权威很少。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yxhhy_3.jpg") %>
            </div>
            <p>以前很多人对小儿弱视不了解不重视，没有得到正常的治疗，现在很多成年人弱视正是因为从小未得到及时治疗。袁晓辉介绍，小儿弱视关键期是3到5岁，关键期错过了治疗就很困难，而12岁是最关键的年龄，一旦过了12岁就无法治疗而留下遗憾。最近10年，袁晓辉在中医附院以及现在的成都中医大银海眼科医院，一直重点做“抢救”工作，让有弱视的孩子能到她这里得到系统的治疗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yxhhy_4.jpg") %>
            </div>
            <p>很多孩子她都忘不了，她记得有一个10岁小女孩，后来亲切的叫她“护眼妈妈”。和很多弱视等眼睛问题小孩一样，这个小女孩因为眼睛有斜视，心理健康已经受到影响，非常的自卑。在她的引导下，女孩和她建立了信任，通过手术和后期的恢复训练，小女孩的眼睛恢复了正常，重新变得活泼开朗，看到孩子重露笑容的每一刻，是袁晓辉最幸福的时刻。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yxhhy_5.jpg") %>
            </div>
            <p><b>领衔最强视光中心团队</b></p>
            <p>作为全国知名小儿眼科专家，随着不久前成都中医大银海眼科医院在星辉西路组建运作，袁晓辉带着中医附院眼科的精干团队组建眼视光中心，每天都有很多以前的老患者慕名“追”到了这里，并点名要找袁教授给自己的孩子看眼。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yxhhy_6.jpg") %>
            </div>
            <p>袁晓辉和她的团队开展小儿弱视、斜视、远近视治疗很早，早在30年前，袁晓辉到北京医科大学（现在的北京大学医学部）专门进修了小儿眼科尤其是斜视治疗，当时北医大的小儿眼科是公认国内最强。现在团队新一代小儿眼科医生也分批到目前国内最强的天津眼科医院学习进修。在袁教授的领衔下，得益于强大的医疗团队和最先进的医疗设备，现在成都中医大银海眼科医院眼视光中心可做各种类型儿童及成人的斜视手术，在弱视斜视等方面的治疗水平，业界公认和四川大学华西医院在四川是最强的。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yxhhy_7.jpg") %>
            </div>
            <p>在当日的访问中，袁教授接待了六七名斜视弱视问题的孩子。她对手机带来的伤害表示担忧，不少家长让小孩过多使用手机玩游戏，导致孩子近视的发生和发展。特别是弱视，它是一个发育性的，必须在发育关键期治疗，一旦错过了就治不了。</p>
            <p>她提醒家长，首先一定要重视建立健康档案，特别是孩子的散光近视等是观察不到的，建立了健康档案，可以到正规的小儿眼科来跟踪眼睛的发育情况。</p>
            <p>目前，袁教授领衔的眼视光中心各类矫正都能开展，可做各种类型儿童及成人的斜视手术。中心还在开展孩子弱视训练、视觉训练。视觉训练是针对孩子弱视及成人视疲劳的一种特殊训练方式，是该中心的一大特色和亮点。</p>
        </div>
    </div>
</div>





