<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>小女孩的中医梦</h5>
            <p class="rightWord">2017-07-04</p>
        </div>

        <div>
            <p>  60多年前，四川成都。</p>
            <p>一位小女孩，跑到祖父的病榻前：“爷爷，我想学中医。”“你个女娃娃，学啥子中医，简直是胡闹！”小女孩的好学，并没有让祖父高兴。</p>
            <p>60多年一晃就过去了。6月29日下午，这位当年的小女孩，站在北京京西宾馆“表彰国医大师、全国名中医”的大会上，接受国家颁发的“国医大师”荣誉称号。</p>
            <div class="newsImgMar">
                <%= image_tag("news_nvzym_1.jpg") %>
            </div>
            <p>她叫廖品正，成都中医药大学教授，成都中医大附属银海眼科医院专家，四川第三位国医大师。“中国的中医药学拥有几千年的历史，她为华夏民族的繁衍昌盛做出了重要贡献。从新中国成立以来就受到党和国家的重视，但受到国家政策层面的重视程度，目前是前所未有的！今年七月一日“中医法”正式颁布了，我能生活在这个时代，从事中医药事业，我觉得我很荣幸也很幸福”廖老说。</p>
            <p><b>为探寻中医的科学之道，放弃名校</b></p>
            <p>廖品正出生于中医世家，祖父是一名老中医。1956年祖父去世时，廖品正还是一个刚刚升入高中一年级的少女。一天，她来到祖父的病榻前，告诉祖父自己想学中医。“你一个女娃娃，学啥子中医，简直是胡闹！”廖老说，祖父当时的反对也许是因为她女孩子的身份。但不止祖父，似乎身边很多人都觉得她选择中医是不可理喻的。据廖老回忆，1958年她是免试保送升大学的，当时来招生指导填志愿的老师是清华、北大的老师，但她却将一二三志愿全部填报为成都中医药大学。“事后我的班主任找我谈话，说我浪费了学校的名额，我的同学们也为我可惜，但是我自己清楚，学中医是我的理想”廖老说。</p>
            <p>说起自己的选择，廖老表示，自己从小就看着祖父治病救人，在她眼里中医能救死扶伤，只是当时没条件用现代科学的道理去解释中医治病救人的原理。“对于我来说，中医药学很神秘，就像一块有待开垦的处女地。所以，我选择中医，想用系统的科学理论知识和方法来探秘中医药学。”廖老说。</p>
            <p><b>“误入”眼科  “小专业”成就大国医</b></p>
            <p>1964年，廖品正以优异成绩毕业留校，师从建国后第一代中医眼科泰斗陈达夫。最初她心里并不喜欢眼科。“我当时心里有点儿失落。觉得整个人体的疾病那么多，眼科管的范围太小了。”廖老说。而在随后的学习和工作中，她发现自己之前的理解太偏颇。“我到眼科之后才发现，眼睛虽小，但它结构复杂精细，眼之视觉于人体也非常重要，有了健康的眼睛，人们才能看到五彩斑斓的世界。”有了对眼科的进一步认识后，廖老积极投身到中医眼科的工作中。而她到职时，学校连一个眼科教研室都没有。</p>
            <div class="newsImgMar">
                <%= image_tag("news_nvzym_2.jpg") %>
            </div>
            <p>廖老回忆，当时学校只发给了她一张桌子，而这张桌子还是放在外科教研室里的。没有教研室、没有教材、没有教学模型........</p>
            <p>“当时我们是什么都没有，但有什么关系，什么东西都是从无到有的”。据廖老介绍，为了建立教研室，她亲自用架架车去堆积如山的库房找桌椅。没有教学挂图，自己画；没有教学模型，就去市场上买动物眼球；没有教材就自己动手编写和油印，一点一点的积攒下来，给学生做教材。而如今廖老主编了多部高等院校中医眼科教材，她的名字已经蜚声海内外。</p>
            <p><b>学术成就</b></p>
            <p>在工作期间，廖老主持国家“九五”攻关科研计划，带领团队开发了我国首个治疗糖网病的中药复方新药“芪明颗粒”，填补了空白，获四川省科技进步一等奖。与其后的系列糖尿病视网膜病变相关研究支撑了国家中医糖尿病临床研究基地申报与建设，成为全国16个基地中唯一以眼科为重点病种的基地。她指导建立的我国首个消渴目病中医防治临床指南及标准。该系列研究成果广泛应用于临床，使上千万糖尿病患者受益。她培养的团队后续相关研究更是获得四川省空缺十二年的科技进步特等奖。其主编的全国高等医药院校统编教材《中医眼科学》（第五版），中医理论“系统性强”、“临证实用”、“经典精炼”，确立了现代中医眼科教材理论架构及编写体例，沿用至今。</p>
            <p><b>培育人才</b></p>
            <p>在培育人才方面，廖老是全国高等医药院校第一位中医眼科博士生导师，先后培养硕博士25人，师承学术继承人8名，分别成为博士生导师、“国家杰出专业技术人才”，“享受国务院政府特殊津贴专家”、“全国优秀临床中医人才”、“四川省学术技术带头人”等。</p>
            <div class="newsImgMar">
                <%= image_tag("news_nvzym_3.jpg") %>
            </div>
            <p><b>为中医药事业奋斗一生</b></p>
            <p>“五千年的中医药学术与文化传承到我们手里，我们有责任、有义务好好继承和发扬，一代一代地传承下去”廖老说。而对于如何“传承”，廖老则表示，一代一代培养更多的人才应该是首要目标。为了更好的将中医文化传承下去，今年79岁的廖老表示，目前正在筹建国医大师工作室，自己也将继续在临床上指导学生，将毕生所学传授给下一代。“中医药学术传承下来了，发展、前进了，我们的中医药才能屹立于当今世界”廖老说。</p>
            <p>“我很幸运，我选择并从事了我一生所热爱的中医药事业”廖老说。</p>
            <div class="newsImgMar">
                <%= image_tag("news_nvzym_4.jpg") %>
            </div>
            <p>手记：6月30日下午，廖老从北京飞抵成都。在我眼里，医生是严肃，不苟言笑的。但当廖老从接机口出来时，一个和蔼、慈祥的“邻家奶奶”形象给我留下深刻印象。最让我感动的是，廖老说自己从未想过往“国医大师”这个头衔上奋斗，自己的理想就是传承发扬中医文化，这一生也专注做这一件事。也许这就是正真的“医者仁心”。</p>

        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




