<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“大爱无疆•善行天下”眼健康公益行之美视国际学校</h5>
            <P class="rightWord">2017-04-21</P>
        </div>

        <div>
            <p>自“三月眼健康科普校园公益行”启动以来，在沙河源小学的积极组织和大力支持下，四川省视力保护科普基地携手我院相继开展了一系列形式新颖、内容多样的眼健康科普公益活动，取得了良好的效果。</p>
            <p>2017年4月20日上午，四川省视力保护科普基地联合我院深入沙河源小学，为三年级100余名师生、家长开展了眼健康校园公益行活动。活动通过科普知识讲座、专业视力检查、专家义诊等活动形式，大力宣传和普及爱眼护眼知识，使爱护眼睛，保护视力成为孩子们终身受益的好习惯。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_shy_1.jpg") %></li>
                    <li><%= image_tag("news_shy_2.jpg") %></li>
                </ul>
            </div>
            <p>活动一开始，我院视光专家结合小学生的生活和学习特点，通过图文并茂的课件为现场三年级的学生普及了近视的发病原因、危害及如何预防等爱眼护眼知识。在有奖问答环节，学生们踊跃参与，在欢乐的互动氛围中，既增加了孩子们的眼健康知识，又懂得如何正确、科学地保护自己的眼睛。科普讲座受到了现场小学生的热烈追捧以及老师和家长们的高度赞赏。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_shy_3.jpg") %></li>
                    <li><%= image_tag("news_shy_4.jpg") %></li>
                </ul>
            </div>
            <p>讲座结束后，我院医务人员为学生们进行了专业的医学视力检查。同时，应用 “七合一”眼前节综合分析仪等国际顶尖设备为大家提供了专业眼健康专项检查服务，同时为学生们建立了专业的眼健康档案，对眼健康提升工作具有重要意义。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_shy_5.jpg") %></li>
                    <li><%= image_tag("news_shy_6.jpg") %></li>
                </ul>
            </div>
            <p>针对每位学生的检查结果，我院视光专家团队亲自进行了解读，并给出合理的检查和治疗方案，对此家长与老师们表示衷心感谢，受到校方领导一致好评。</p>
            <div class="newsImgMar">
                <%= image_tag("news_shy_7.jpg") %>
            </div>
            <p>通过沙河源小学多场活动，我们发现青少年视力现状仍不容乐观，青少年、家长以及社会关于保护青少年视力的意识仍较淡薄，虽然在不断提升，但仍不够。今年，四川省视力保护科普基地也将继续联合我院定期举办这样的公益活动，旨在让更多的学生和家长重视眼睛保健，减缓近视的发展，同时呼吁学校、家庭及社会共同保护青少年视力，让学生们更好地保护自己的眼睛，让心灵的窗户更明亮。</p>
        </div>
    </div>
</div>





