<div class="main">
    <div class="middle flow">
        <div class="newsMain">
            <div class="newsTitle">
                <h5>心系九寨，愿九寨平安！</h5>
                <p class="rightWord">2017-08-09</p>
            </div>
            <div>
                <div class="wordCenter">
                    <p>据中国地震台网正式测定</p>
                    <p>8月8日21时19分</p>
                    <p>在四川阿坝州九寨沟县发生7.0级地震</p>
                    <p>震源深度20千米，震中位于北纬33.20度，东经103.82度</p>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jz_1.jpg") %>
                </div>
                <p>据四川省政府新闻办消息，8日21时19分，阿坝藏族羌族自治州九寨沟县发生7.0级地震，截至9日13时10分，经初步核查，九寨沟地震已致19人遇难，247人受伤，247人受伤（40人重伤，其中7人已转院，4人转至绵阳中心医院，3人转至四川大学华西医院，其余已全部转移到九寨沟县人民医院和县中藏医院；207人轻伤）。其中40人重伤。</p>
                <p>截至9日7时30分，共疏散游客3.15万人到安全地带，据初步统计，九寨沟县漳扎镇共滞留游客3.5万余人。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_jz_2.jpg") %>
                </div>
                <p>新华社照片：</p>
                <div class="newsImgMar">
                    <%= image_tag("news_jz_3.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jz_4.jpg") %>
                </div>0000
                <fieldset class="wid">
                    <!--<legend>专家简介</legend>-->
                    <p>近年来，自然灾害频频进入公众的视野。历史和现实警示我们，必须掌握一定的应对自然灾害的基本知识，我们也必须时刻对自然灾害保持警惕。应对地震及其他地质灾害，我们一定要知道这些信息：</p>
                    <div class="newsImgMar">
                        <%= image_tag("news_jz_5.jpg") %>
                    </div>
                    <div class="newsImgMar">
                        <%= image_tag("news_jz_6.jpg") %>
                    </div>
                    <div class="newsImgMar">
                        <%= image_tag("news_jz_7.jpg") %>
                    </div>
                </fieldset>
                <p>珍爱生命，是对自己负责，也是对家人和社会负责。了解更多的求生技能，会在关键的时刻帮助自己和他人！</p>
                <p>心系九寨，银海与您同在！</p>
                <div class="newsImgMar">
                    <%= image_tag("news_jz_8.jpg") %>
                </div>
                <p>数据参考消息、部分照片来源：新华社</p>
            </div>
        </div>
    </div>
</div>
