<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医—刘文】悬壶济世的“光明使者”</h5>
            <p class="rightWord">2017-07-11</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_xhjs_1.jpg") %>
            </div>
            <p><b>刘   文</b>   主任医师 教授/硕士研究生导师</p>
            <p>成都中医大银海眼科医院医疗质量总监、眼底外科主任， 曾任中山大学中山眼科中心特种医疗中心副主任，北京同仁眼科中心眼外科副主任，郑州市眼科医院院长。</p>
            <p>他曾获得国家和省级科研成果三项，被评为2015、2016年度广东省“岭南名医”。从事眼科临床医疗工作35年，在国内外首创视网膜脱离外路显微手术技术和理论。退休后，他仍孜孜不倦工作在医疗一线，是广大人民群众眼里的“光明使者”。</p>
            <p><b>患者千里“追寻”</b></p>
            <p>今年7月3日，成都中医大银海眼科医院接待了一位千里而来的眼病患者。这位患者直接来到在眼科医院坐诊的刘文办公室。此时，刘文正在为另一位病人诊疗，见来人有些面熟，不由多看了那人几眼。</p>
            <p>“刘教授，可算找到您了。”那人来不及自我介绍，激动地对刘文说。</p>
            <p>“你，你是高登华？”刘文在脑海中搜索了一番，迅速将面相与名字匹配起来。</p>
            <p>“是啊，我是专门来找您看病的。”高登华握住刘文的手，使劲摇了摇。</p>
            <p>刘文惊诧道：“专门？从广东东莞过来的？”</p>
            <p>高登华点点头。</p>
            <p>……</p>
            <br>
            <p>当刘文回忆起这个场景时，脸上明显洋溢着一股自豪感。刘文知道，这是患者对自己的信任。</p>
            <p>刘文记得，当他还在中山大学附属眼科医院任眼科主任医师时，高登华经人推荐找到他。医者父母心，即使高登华属于疑难杂症，刘文也运用平生所学帮助高登华治疗。最终收到意料之中的良好效果。</p>
            <p>今年7月份，高登华需要到医院取出上次手术注入眼内的硅油，他再次想找刘文教授为他手术。但是，今年4月，刘文已经退休，一打听，得知刘文来到成都中医大银海眼科医院，便急忙飞来成都，也就有了上文的一幕。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xhjs_2.jpg") %>
                <p>刘文教授与诊治的病人交谈</p>
            </div>
            <p>实际上，不仅是千里而来的高登华，刘文来到成都中医大银海眼科医院的2个月里，不断有患者慕名而来，或者经其他医院医生推荐而来。现年49岁的黄通利就是其中一位。</p>
            <p>黄通利是四川南充人，因一次外伤导致左眼视力急剧下降。他一开始在南充当地的医院问诊，但被告知病情严重要转到成都的大型医院治疗，他辗转求治了五六家医院，不是没床位，就是无能为力。但是，黄通利的病情容不得拖延，一位医生便推荐他来到成都中医大银海眼科医院，找一位叫刘文的教授。终于，他的病患得到了救治。</p>
            <p><b>首创视网膜脱离外路显微手术</b></p>
            <p>视网膜脱离外路显微手术由刘文教授首创，是在国内外第一次将视网膜脱离外路手术技术提高到显微手术阶段。目前，该手术技术被全国基层医院广泛采用，手术成功率高达95%以上。</p>
            <p>刘文教授介绍，目前视网膜脱离外路手术方法有两种：一种是传统的双目间接检眼镜下手术，另一种即是他首创的视网膜脱离外路显微手术。双目间接检眼镜下手术是在肉眼观察下手术，操作复杂，难于学习和掌握，因此手术失败率较高。以致这种手术技术在国内没有得到广泛的普及，导致国内许多医院的医生把能做简单外路手术的患者均选择了做复杂的玻璃体手术。玻璃体视网膜手术不仅手术复杂、费用高、并发症也多，甚至导致多次手术而效果很差。</p>
            <p>而视网膜脱离外路显微手术在显微镜下进行手术，具有正像、观察更清晰、操作精细方便准确和容易学习等优点，受到国内基层眼科医生深深的喜爱！</p>
            <div class="newsImgMar">
                <%= image_tag("news_xhjs_3.jpg") %>
                <p>刘文教授查房了解病人术后恢复情况</p>
            </div>
            <p><b>认真与职责</b></p>
            <p>然而，刘文首创的这套手术技术与理论的推广之路并不是一帆风顺的。</p>
            <p>从1995年开始，刘文不断探索视网膜脱离外路手术，期间，他写作数十篇专业论文，投递到国内外各大眼科杂志，都被退稿……</p>
            <p>他感到失望，决定将自己的研究成果出版成书。经过多年辛勤耕耘，2007年，他的个人专著《视网膜脱离显微手术学》由人民卫生出版社出版。此书的横空出世，立即成为学术界争论的焦点。由于视网膜脱离外路显微手术是一种全新的手术方式，看起来完全不可理解和不可能进行，因此，许多国内外专家对此手术技术表示怀疑和不接受这样一种手术方法及理论。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xhjs_4.jpg") %>
                <p>刘文介绍《临床眼底病》内外科卷</p>
            </div>
            <p>然而，刘文不以为然，继续“一意孤行”，在自己的学术道路上“越走越远”。2014年、2015年两年之中，他主编的《临床眼底病》内外科卷分别出版，全书共400多万字，在此前自己的个人专著的基础上，又图文并茂地增添了很多自己的临床经验。</p>
            <p>刘文时刻叮嘱自己，对待自己的病人要像对待自己的亲人一样，做到“认真、负责和一丝不苟”，不能忘记当初做医生的职责就是全心全意治病救人。</p>
            <p>采访时，刘文不时抚摸着自己主编的《临床眼底病》，像抚摸一件旷世珍宝。对他来说，那就是他的旷世珍宝，里面装着悬壶济世的光明良方。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xhjs_5.jpg") %>
                <p>刘文凝视《临床眼底病》</p>
            </div>

        </div>
    </div>
</div>




