<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>成都中医药大学视网膜图像技术国家国际科技合作专项通过专家验收</h5>
            <p class="rightWord">2016-11-19</p>
        </div>

        <div>
            <p><b>成都中医药大学视网膜图像技术国家国际科技合作专项通过专家验收</b></p>
            <p>2016年11月10日，受科技部委托，四川省科学技术厅组织全国专家对成都中医药大学眼科学院承担的国家国际科技合作专项“视网膜图像分析技术与中医眼诊系统的合作研究”（编号：2012DFA30840）进行项目验收。四川省科技厅副厅长田云辉，国合处副处长姚东芸，成都中医药大学校长梁繁荣，以及来自全国各地的七名科技部国际合作项目评审专家出席了验收会；由湖南中医药大学校长秦裕辉教授担任验收组组长。成都中医药大学科技处、眼科学院有关人员参加了验收会。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xmys_1.jpg") %>
                <p>项目验收会现场</p>
            </div>
            <p>成都中医药大学校长梁繁荣教授代表学校对来自全国各地的专家和省科技厅领导表示热烈的欢迎。他说眼科学院段俊国教授负责的“视网膜图像分析技术与中医眼诊系统的合作研究”是学校第一个国家国际科技合作专项，经过几年的努力，已完成全部的研究工作，并提交科技部进行验收。梁校长感谢专家们不辞辛劳来校指导工作，希望专家对项目提出宝贵意见。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xmys_2.jpg") %>
                <p>成都中医药大学校长梁繁荣致辞</p>
            </div>
            <p>四川省科技厅副厅长田云辉代表四川省科技厅向参会专家表示欢迎，并简要介绍了我省承担国际科技合作专项的基本情况和项目验收要求,他表示省科技厅高度重视中医药国际科技合作项目。成都中医药大学段俊国教授负责的“视网膜图像分析技术与中医眼诊系统的合作研究”国际科技合作项目对我省中医药现代化、国际化具有示范效应，希望大学开展更多的国际科技合作，为我省创新驱动战略做出更大的贡献。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xmys_3.jpg") %>
                <p>四川省科技厅副厅长田云辉讲话</p>
            </div>
            <p>眼科学院院长、本项目首席科学家段俊国教授向专家组报告了4年来与美国威斯康辛大学合作研究的工作概况、主要技术内容和取得的标志性成果。项目组向专家演示了视网膜图像技术采集与分析过程，展示了自主创新的中医眼诊仪样机。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xmys_4.jpg") %>
                <p>湖南中医药大学校长、专家组组长秦裕辉主持验收会</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_xmys_5.jpg") %>
                <p>项目组现场演示研究成果</p>
            </div>
            <p>专家组高度评价本项目的合作研究工作。一致认为，项目组通过与美国威斯康辛大学读片中心合作，引进其中心成熟、先进的视网膜图像分析技术并本土化，创新性地建立了可量化视网膜读片技术；初步建立应用视网膜图像分析技术进行糖尿病、肾病、中风等慢性病预测预警和早期诊断指标体系；产学研结合，开发定量化视网膜图像分析软件、糖尿病视网膜病变眼底图像远程诊断平台；开发基于眼底血氧测定和眼底图像采集的中医眼诊仪样机；结合中医八纲理论初步创建循证中医眼诊系统，建立符合中国人的视网膜图像读片标准，对于我国重大非传染疾病防治、中医药传承与创新发展具有重要的战略意义和必要性。经专家组认真审议，一致同意通过验收。</p>
        </div>
    </div>
</div>





