<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“地铁护眼志愿者” 全国首创——爱眼月 成都中医大眼科银海医院地铁呵护眼健康</h5>
            <P class="rightWord">2017-06-12</P>
        </div>

        <div>
            <p>继本月6日启动大型眼健康公益活动“首届成都爱眼月”后，10日，成都中医大银海眼科医院又启动“地铁爱眼月眼健康公益咨询活动”。</p>
            <p>6月10日至7月5日，每周六、周日下午3:00，成都中医药大学眼科学院、成都中医大银海眼科医院派出的专家和志愿者团队，在成都市内十个地铁站点为市民提供免费的眼健康科普宣教、咨询及公益义诊、科普大讲堂、眼健康档案建立服务。不仅如此，还率先在国内开启“地铁志愿者”模式，以搭载科普视频和知识看板的方式向市民“讲解”“传递”爱眼护眼的知识理念。活动一上线，就受到市民广泛好评。</p>
            <p class="newsCaption"><b>“地铁护眼志愿者” 全国首创</b></p>
            <p>本次活动的一大亮点是有十余辆穿梭于市内的地铁列车将作为本次公益活动的“特殊志愿者”，以搭载科普视频和知识看板的方式向市民介绍、传递爱眼护眼的知识理念。“地铁作为现代人重要的交通工具，人流量极大。同时大家有在地铁上看手机的偏好，对眼健康干扰较大。因此选择地铁作为用眼健康的宣传阵地之一。”成都中医药大学眼科学院、成都中医大银海眼科医院院长段俊国介绍说。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dt_1.jpg") %>
                <p>图为成都地铁眼健康科普画面</p>
            </div>
            <p>不仅如此，地铁站台也成了“护眼使者”。记者在现场看到，在地铁站台显著的位置搭建了义诊咨询台，还有动态显示屏滚动播放爱眼护眼知识。义诊咨询处，眼科专家正在用移动设备为前来咨询的市民做眼部检查，来自眼科学院的志愿者们一边为大家散发科普宣传资料，一边为大家介绍眼部保养、眼病防治知识。据统计，仅6月10日、11日两天，就有近700位市民享受到了眼科专家提供的便民服务。</p>
            <p>在接受眼科专家周华翔的检查后，家住锦江区芷泉街的何女士表示，自己平时上班较忙，一直没时间去看眼睛，周末专家又都要休息。“没想到今天在地铁号都不用挂就看了专家，不仅给我做了检查，还仔细给我讲了平时要注意的事，简直太方便、太感谢了！”</p>
            <div class="newsImgMar">
                <%= image_tag("news_dt_2.jpg") %>
                <p>图为眼科专家周华翔教授用手持裂隙灯为市民做详细检查</p>
            </div>
            <p class="newsCaption"><b>眼健康大讲堂  专家教你正确护眼</b></p>
            <p>除了义诊、咨询，“地铁爱眼月眼健康公益咨询活动”期间，每周六上午都还会在春熙地铁书屋举行眼健康大讲堂。在第一期讲堂中，成都中医学院眼科学院教授、成都中医大银海眼科医院小儿眼科主任袁晓辉主任医师为近40名市民做了“关于青少年近视防控”的讲座。袁晓辉教授表示，我国高中生和大学生的近视率均已超过七成，并逐年增加，青少年近视率高居世界第一。一旦孩子出现经常眯眼看、斜看、歪头看、频繁眨眼等现象，可能是眼睛出现了问题，家长要重视，带孩子到正规医院检查、就诊。同时，建议家长为孩子建立眼睛健康档案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dt_3.jpg") %>
                <p>图为袁晓辉主任在眼健康大讲堂做讲座</p>
            </div>
            <p class="newsCaption"><b>用心良苦 呼吁市民重视眼睛“亚健康”</b></p>
            <p>成都中医大银海眼科医院相关负责人表示，他们此举也是想提醒市民关注眼健康，预防眼睛“亚健康”。专家提醒：眼睛疲劳，视物模糊，双眼干涩、痒，或者在电脑前时间长了出现双眼酸困、畏光、流泪等状态时，已经给我们敲响了眼睛亚健康的警钟！这时,如果没有注意或采取相应措施，可能就会发展成为干眼症，结膜炎等眼部疾病，造成不良后果。因此，一定要提醒大家爱护双眼，预防眼睛“亚健康”。   </p>
            <div class="newsImgMar">
                <%= image_tag("news_dt_4.jpg") %>
                <p>图为眼健康大讲堂时间表</p>
            </div>
            <p>又讯 6月11日，成都中医大银海眼科医院“党员志愿服务团”的医护人员带着“眼健康流动科普馆”，驱车百余公里来到北川县陈家坪，为该院对口精准扶贫对象进行眼病普查，为他们送医送药。一到现场，医护人员们顾不得休息立即展开工作，有序安排居民进行了视力检查，应用流动科普馆配备的先进设备提供了专业检查。同时，针对每位居民的检查结果，进行了一对一的解答，并给予了专业的治疗意见和建议，提供眼病诊疗和眼保健服务，帮助山区居民掌握眼保知识，培养正确的用眼习惯，降低眼病发生率。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dt_5.jpg") %>
                <p>图为专家在为山区居民看诊</p>
            </div>

        </div>
    </div>
</div>




