<div class="middle">

    <div class="newsMain">
        <div class="newsTitle twoNewsTitle">
            <h5>大医精诚 银海启明</h5>
            <h5>成都中医大银海眼科医院隆重举行开业庆典仪式</h5>
            <p class="rightWord">2017-07-16</p>
        </div>
        <div>
            <p>7月16日，成都中医大银海眼科医院开业庆典仪式在金牛区星辉西路8号隆重举行。同时举行廖品正国医大师工作室启动仪式、中国医疗保健国际交流促进会华佗工程眼科分级诊疗联盟四川省中心启动仪式、四川省眼与视觉健康产业研究院授牌仪式，中医通健康云平台项目、“十百千”眼底检查四川计划及四川眼科医联体的签约仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_1.jpg") %>
                <p>中医大银海眼科医院外景</p>
            </div>
            <p>出席开业庆典的领导有国家中医药管理局副局长闫树江，国家中医药管理局规划财务司副司长刘群峰，四川省中医药管理局副局长杨正春，成都市人民政府副秘书长、市政府办公厅主任廖成珍、成都市卫生和计划生育委员会副主任赵平、成都市金牛区区长唐华，中国工程院院士、中国医疗保健国际交流促进会会长韩德民教授，成都中医药大学廖品正国医大师，亚非眼科学会副主席、中山眼科中心吴乐正教授，成都中医药大学党委书记刘毅教授，校长余曙光教授，眼科学院/附属银海眼科医院院长、书记段俊国教授及成都中医药大学16个学院及相关职能部门领导，以及来自首都医科大学北京同仁医院、中山大学中山眼科中心、河北省眼科医院、山东中医药大学附属眼科医院、陆军医科大学大坪医院眼科等近百个眼科医院及综合医院眼科院长、主任、眼科专家和来自五大洲的国外眼科学者嘉宾约300余人出席了开业典礼。</p>
            <p>成都中医药大学党委书记刘毅教授致欢迎辞，热烈欢迎参加开业庆典仪式的领导、专家和嘉宾。他说，成都中医药大学依托眼科学院创办医教研三位一体的银海眼科医院，感谢各级政府及全国眼科界专家、教授的大力支持。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_2.jpg") %>
                <p>成都中医药大学党委书记刘毅致欢迎辞</p>
            </div>
            <p>国家中医药管理局闫树江副局长在启动仪式上强调，目前中医药事业的发展，迎来了天时地利人和的大好时机。成都中医药大学紧紧围绕深化医改，推进健康中国建设的大局，建立三位一体的银海眼科医院是我国医疗体制机制创新的尝试。廖品正国医大师工作室在银海眼科医院启动，表明医院高度重视中医药的传承工作，希望医院发挥中医药的特色优势，中西医并重，提高眼科疾病的诊疗能力，不断地增进和维护好人民群众的健康。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_3.jpg") %>
                <p>国家中医药管理局副局长闫树江讲话</p>
            </div>
            <p>中国工程院院士、中国医促会会长韩德民教授在开业庆典上，充分肯定了成都中医大银海眼科医院三院一体的创新性，以眼科国医大师为代表的专家团队发挥中医药优势是医院的重要特色。中国医促会华佗工程眼科分级诊疗联盟四川省中心在银海眼科医院启动，是对银海眼科医院的高度信任，希望四川中心做好华佗工程眼科分级诊疗，在全国起到引领示范作用。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_4.jpg") %>
                <p>中国工程院院士、中国医促会会长韩德民教授讲话</p>
            </div>
            <p>首都医科大学附属北京同仁医院院长王宁利教授用“中”和“西”，“旧”和“新”，“国”和“民”六个字概括新诞生的成都中医大银海眼科医院，即中医和西医的结合，外观传统古朴的大楼和崭新现代设备的结合，国有公立和民营资本的结合，希望银海眼科医院将中医眼科和西医眼科高度融合，解决目前眼健康领域的难题。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_5.jpg") %>
                <p>首都医科大学附属北京同仁医院院长王宁利教授讲话</p>
            </div>
            <p>四川省中医药管理局副局长杨正春表示，廖品正教授荣获第三届国医大师称号是四川省卫生界乃至中医界的光荣。银海眼科医院在全国率先建成廖品正国医大师工作室，为做好国医大师学术经验的传承与发展起了示范作用。希望中医大银海眼科医院作为我省一个眼科开放共享的平台，将优质的资源下沉到基层，为更多的老百姓的服务。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_6.jpg") %>
                <p>四川省中医药管理局副局长杨正春讲话</p>
            </div>
            <p>成都市卫计委赵平副主任在讲话中说到，成都中医大银海眼科医院签约中医通健康云平台项目，成为华佗工程眼科分级诊疗联盟四川省中心，能够有效提升我市眼科医疗服务水平，改善百姓看病就医体验，为百姓提供更加优质的医疗服务。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_7.jpg") %>
                <p>成都市卫计委赵平副主任讲话</p>
            </div>
            <p>在成都中医大银海眼科开业典礼举行了隆重的授牌仪式。首先是中国医促会华佗工程眼科分级诊疗联盟四川省中心授牌。由中国工程院院士、中国医疗保健国际交流促进会会长韩德民院士代表中国医促会亲自向成都中医大银海眼科医院授予“华佗工程眼科分级诊疗联盟四川省中心”。中国医促会眼科分会主任委员、成都中医大银海眼科医院名誉院长王宁利教授担任四川省中心主任、中国医促会眼科分会副主任委员、成都中医大银海眼科医院院长段俊国教授担任中心常务副主任。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_8.jpg") %>
                <p>韩德民院士向段俊国院长授牌  </p>
            </div>
            <p>成都市第一人民医院、绵阳市中心医院、川北医学院附属医院、西南医科大学附属医院等6个地市级单位以及中江县中医院、大英县中医院、甘孜州得荣县人民医院等9个县级单位接受了“华佗工程眼科分级诊疗联盟地市级培训中心”和“华佗工程眼科分级诊疗联盟县级示范基地”的授牌。另外，有29个县级单位成为华佗工程眼科分级诊疗联盟四川中心的县级基地。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_9.jpg") %>
                <p>与会领导为部分地市级培训中心授牌  </p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_10.jpg") %>
                <p>与会领导为部分县级示范基地授牌  </p>
            </div>
            <p>随后，举行了“四川省眼与视觉健康产业技术研究院”的授牌仪式。眼与视觉健康产业技术研究院是经四川省科技厅批准，由成都中医大银海眼科医院牵头，联合长虹、太极、西藏药业、和生视界、苏州微清和欣亿康共建的针对眼科领域医疗设备与器械研发、药品食品研发，医疗服务能力提升及视光产品研发等眼健康全产业链的集创新研发、成果转化、企业孵化、楼宇制造产业化为一体的产业技术平台。余曙光校长代表省科技厅向银海眼科医院院长段俊国授牌。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_11.jpg") %>
                <p>余曙光校长向段俊国院长授予“四川省眼与视觉健康产业技术研究院”</p>
            </div>
            <p>在开业典礼上还举行了“中医通健康云平台项目”、“十百千眼底检查四川计划”、“四川眼科医联体”签约仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_12.jpg") %>
                <p>段俊国院长与北京大安健康科技有限公司总经理周俊鹏签订“中医通健康云平台项目”合作协议</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_13.jpg") %>
                <p>段俊国教授与北京高视远望、苏州微清、四川和生视界签订“十百千眼底检查四川计划”协议。</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_14.jpg") %>
                <p>段俊国院长分别与中江县中医院、大英县中医院、平昌县中医院等县级市单位签订 “四川眼科医联体”协议</p>
            </div>
            <p>“廖品正国医大师工作室”在银海眼科医院开业典礼上正式揭幕。廖品正教授是继首届国医大师、中医眼科学家唐由之教授后，全国第二位、四川首位眼科界国医大师。由国家中医药管理局副局长闫树江和廖品正国医大师共同为工作室揭幕。</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_15.jpg") %>
                <p>国家中医药管理局副局长闫树江为廖品正国医大师工作室揭幕</p>
            </div>
            <p>在欢庆的气氛中，成都中医大银海眼科医院开业仪式正式启动。国家中医局闫树江副局长，中国工程院韩德民院士，廖品正国医大师，省中医局杨正春副局长，市政府副秘书长、办公厅主任廖成珍，市卫计委赵平副主任，金牛区区长唐华、成都中医药大学刘毅书记、校长余曙光、成都中医大银海眼科医院院长段俊国共同启动“成都中医大银海眼科医院水晶球”，标志着银海眼科医院扬帆启程，将以一流技术、设备、疗效、环境、服务面向广大眼病患者，全面提升民众眼健康水平，为健康中国做出积极的贡献！</p>
            <div class="newsImgMar">
                <%= image_tag("news_kyhd_16.jpg") %>
                <p>启动仪式现场</p>
            </div>

        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





