<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议</h5>
            <P class="rightWord">2017-04-05</P>
        </div>

        <div>
            <p>为进一步实施我院与甘州得荣县启动的“对口扶贫·精准复明”计划。4月5日上午甘孜州得荣县县委副书记杜靓、县卫计局局长格绒泽真、县人民医院院长甲玛一行专程访问我院。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_qyxm_1.jpg") %></li>
                    <li><%= image_tag("news_qyxm_2.jpg") %></li>
                </ul>
            </div>
            <p>共同讨论了“精准复明”计划的一下步工作，我院院长段俊国与得荣县人民医院院长甲玛在眼科学院会议室签订了援助甘孜州得荣县人民医院眼科托管项目协议。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qyxm_3.jpg") %>
            </div>
            <p>四川省视力保护科普基地周华祥主作和我院院办公室、医务部、事业推广部有关部门负责同志参加了会议并出席签字仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qyxm_4.jpg") %>
            </div>
            <p>3月18日以来，随着“对口扶贫·精准复明”计划深入开展，本着提高得荣县人民医院眼科医疗水平和当地人民的眼健康水平，消灭全县可复明盲，并辐射影响“康区”的眼健康事业。应我院院长段俊国的邀请，得荣县委副书记杜靓一行率队与我院讨论计划落实的具体方案。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_qyxm_5.jpg") %></li>
                    <li><%= image_tag("news_qyxm_6.jpg") %></li>
                    <li><%= image_tag("news_qyxm_7.jpg") %></li>
                    <li><%= image_tag("news_qyxm_8.jpg") %></li>
                    <li><%= image_tag("news_qyxm_9.jpg") %></li>
                    <li><%= image_tag("news_qyxm_10.jpg") %></li>
                </ul>
            </div>
            <p>双方就得荣县“对口扶贫·精准复明”计划和县人民医院眼科援助及托管项目合作协议的具体内容及实施步骤进行了深入探讨，并达成了合作共识，明确了双方的职责和进度安排。通过我院对眼科专业人才队伍的培养，分阶段投入专业眼科设备并建立完善得荣县人民医院眼科科室，得荣县卫计局协调县卫生、民政残联、乡镇卫生院、行政村等机构共同参与建立县、乡、村三级防盲机构，全面开展12个乡镇人民的眼及全身健康档案工作等方式，整体提升得荣县医疗及眼健康防治水平，使致盲性慢性眼病得到有效治疗，显著降低失明率。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qyxm_11.jpg") %>
            </div>
            <p>甘孜州得荣县县委副书记杜靓向成都中医大银海眼科医院对得荣县眼健康提升工作所给予的援助和支持表示衷心的感谢，特别是合作协议的签订，将推动得荣县乃至整个“康区”的医疗卫生事业实现跨越式发展，得荣县县委县政府将全力支持和配合各相关工作，努力将眼健康提升工作做的更好。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qyxm_12.jpg") %>
            </div>
            <p>协议的成功签订标志着我院与得荣县将精准扶贫与医疗卫生事业改革工作有机的结合起来，优质医疗真正下沉至基层，成为切实解决藏区同胞看病难就医难的创新举措，将得荣县人民医院眼科打造成为区域县级第一，并以得荣县为中心逐步覆盖“康区”全面提升眼科医疗水平，对实现全民健康和打赢脱贫攻坚战具有重要意义。</p>
        </div>
    </div>
</div>
