<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 成都中医药大学眼科学院/附属银海眼科医院召开学习宣传贯彻党的十九大精神报告会 </h5>
            <p class="rightWord">2017-10-31</p>
        </div>

        <div>
            <p>党的十九大代表张铭连作报告、大学党委书记刘毅授专题党课</p>
            <p>10月30日上午，成都中医药大学眼科学院/附属银海眼科医院在医院六楼学术报告厅召开学习宣传贯彻党的十九大精神报告会，传达学习贯彻党的十九大和十九届一中全会精神。特别邀请党的十九大代表、河北省眼科医院院长/党委书记授张铭连教授和成都中医药大学党委书记刘毅教授作传达十九大精神的报告和专题党课。眼科学院/附属银海眼科医院党政领导班子成员、全体党员、中层干部、教职工及学生代表共计200余人出席本次会议，成都中医药大学第二临床医学院、护理学院，金牛区人北街道办相关领导也出席参会。会议由成都中医药大学眼科学院/附属银海眼科医院院长、书记段俊国教授主持。</p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_1.jpg") %>
            </div>
            <p>党的十九大是在全面建成小康社会决胜阶段、中国特色社会主义进入新时代的关键时期召开的一次十分重要的大会，对于党领导人民夺取新时代中国特色社会主义新胜利具有里程碑意义。为了及时深入学习贯彻十九大精神，在十九大会议期间，段俊国书记专门邀请了在北京出席党的十九大代表、河北省眼科医院院长/党委书记张铭连教授会后来蓉传达党的十九大精神，昨日张铭连教授应邀来到我院作精彩报告。</p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_2.jpg") %>
            </div>
            <p>张铭连教授在报告会上介绍了十九大会议的盛况，传达十九大报告的主要精神，介绍了报告十三个部分的主要内容。他说，习近平总书记报告中概括了十八大以来党和国家五年建设发展主要成绩，五年来的成就是全方位的、开创性的、有目共睹的，习总书记提出了一系列治国理政的新理念、新思想、新战略，出台了一系列重大方针, 是我们党团结带领全国各族人民在新时代坚持和发展中国特色社会主义的政治宣言和行动纲领，是马克思主义的纲领性文件。学习领会十九大报告，关键在全面、准确地理解把握三个新论断：一是“新时代”，中国特色社会主义进入了新时代；二是“新思想”，习近平新时代中国特色社会主义思想和“十四条坚持”基本方略；三是“新征程”，开启全面建设社会主义现代化国家新征程。 </p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_3.jpg") %>
            </div>
            <p>张铭连教授同时说，党的十九大报告提出“实施健康中国战略”，完善国民健康政策，为人民群众提供全方位、全周期健康服务。特别是十九大报告提出“坚持中西医并重，传承发展中医药事业。支持社会办医，发展健康产业”，为我们医务工作者提出了新时代的新要求，银海眼科医院正是在新时代诞生的具有创新体制的高起点中西医结合眼科医院，希望银海眼科医院充分发挥中医药特色，进一步推动中医眼科学科的发展，为健康中国战略做出贡献。</p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_4.jpg") %>
            </div>
            <p>成都中医药大学党委书记刘毅教授在报告会上作了“不忘初心，牢记使命”的主题党课，他传达了省委书记王东明在28日“四川省传达学习党的十九大精神大会”上的重要指示。刘毅书记对我党的艰苦卓越发展历程做了脉络梳理和阐释，指出党的十九大是中国特色社会主义进入新时代的关键时期召开的一次十分重要的大会，我们要不忘初心、牢记使命、高举旗帜、团结奋进，认真学习贯彻党的十九大精神，对于动员全校职工在以习近平同志为核心的党中央坚强领导下，高举中国特色社会主义伟大旗帜，满怀信心为实现“两个一百年”奋斗目标和中华民族伟大复兴的中国梦而奋斗，具有重大现实意义和深远历史意义！ </p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_5.jpg") %>
            </div>
            <p>刘毅书记在党课上强调，要全面学习、深刻领会党的十九大精神。首先要认认真真、原原本本的学习党的十九大报告和新党章内容，完整准确地领会党的十九大提出的新思想、新论断、新要求。</p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_6.jpg") %>
            </div>
            <p>最后，段俊国书记感谢张铭连书记、刘毅书记为我院带来十九大和省委的精神和指示。他说，在十九大会议期间，我院通过积极组织观看会议盛况、召开党委扩大会议、开展学习十九大报告精神专题组织生活会等方式学习了解十九大精神，同时邀请党代表张铭连教授来我院传达十九大精神</p>
            <div class="newsImgMar">
                <%= image_tag("news_learn19_7.jpg") %>
            </div>
            <p>段俊国书记要求我院各党支部、各科室和部门要把学习宣传贯彻十九大精神作为当前全院的主要政治任务，认真领会张铭连书记和刘毅书记的报告和党课内容，落实到医疗教学科研工作中去。我们要紧密团结在以习近平同志为核心的党中央周围，坚决学习和贯彻落实十九大报告“健康中国战略”部署，全面提升医院的服务能力和管理水平，配合大学做好双一流学科建设，在医疗、教学和科研等方面努力体现共产党员先锋模范作用，让广大群众看得好病，培育和践行社会主义核心价值观，发挥大学附属医院公益性，为基层群众送医送药送知识送光明，继续大力开展科普行计划，让医改的红利惠及广大群众，让广大群众看得起病，我们必须牢记使命，迎接挑战，大力传承和发展中医药事业，未来大有可为！</p>
            <p>通过此次十九大精神学习和主题党课，成都中医药大学眼科学院/附属银海眼科医院全院职工统一了认识，凝聚了人心，增添了激情，纷纷表示要以党的十九大精神指导各项工作开展，为医院的发展与建设积极作为，勇当前锋，维护人民群众的眼健康，为建设健康中国而努力奋斗。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_learn19_8.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>张铭连院长、书记简介：党的十九大代表，河北省眼科医院院长、党委书记，眼科主任医师，硕士研究生导师，享受国务院特殊津贴专家，全国劳动模范（先进工作者），全国优秀科技工作者，河北省首届名中医。河北省眼科学重点实验室主任，邢台市科协副主席。兼任中华中医药学会眼科分会副主任委员、中国中西医结合学会眼科专业委员会副主委、河北省中西结合学会眼科分会主任委员，成都中医药大学眼科学院客座教授。</p>
                    <p>在中医、中西医结合诊治疑难危重眼病方面有较高的学术造诣，特别是在治疗疑难眼底病、葡萄膜炎、干眼症等复杂眼病方面有丰富的临床经验，创立了“目络瘀阻”的论点，研制了“活血通络颗粒”、“玄麦润目颗粒”等6种治疗疑难眼病的中药制剂。获国家发明专利3项，获河北省科技进步奖6项（其中二等奖2项），承担国家自然科学基金、省基金等项目13项（其中国家自然科学基金2项）。发表学术论文96篇（其中SCI收录11篇），主编、参编著作12部。</p>
                </div>
                <div class="flow marB30">
                    <%= image_tag("news_learn19_9.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>刘毅书记简介：成都中医药大学党委书记，教授。四川省哲学社会科学优秀成果奖政治学评审专家库成员、省委宣讲团成员。“四川省干部教育培训师资库”、“全省党员教育培训师资库”专家。</p>
                    <p>先后获成都中医学院医学学士、清华大学法学学士、中央党校经济管理在职研究生，历任成都中医药大学宣传部副部长、中共隆昌县委副书记、组织人事部副部长、宣传统战部部长，中共四川省委省直机关党校副校长等职。</p>
                    <p>主要从事哲学社会科学研究和学校管理工作。出版《法制政府建设论纲》、《四川盆周地区新农村建设》、《未雨绸缪：危机防范管理》等专著。</p>
                </div>
            </fieldset>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>
