<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>成都地铁惊现“蓝精灵”！这是怎么回事？</h5>
            <p class="rightWord">2017-06-10</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_1.jpg") %>
            </div>
            <div class="centerContainer">
                <p>今日的成都地铁站，</p>
                <p>和往常的有那么点点不一样，</p>
                <p>惊现了这样一群“白衣天使”和“蓝精灵”</p>
                <p>他们在搞什么幺蛾子？</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_3.jpg") %>
            </div>
            <p class="centerContainer">原来是<b>成都首届爱眼月公益活动</b>开始啦~</p>
            <div class="newsImgMar">
                <%= image_tag("news_blue_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_6.jpg") %>
            </div>
            <p class="centerContainer">不仅有<b>健康科普大讲堂</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_blue_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_8.jpg") %>
            </div>
            <p><b>眼健康公益咨询和义诊服务</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_blue_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_11.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_12.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_13.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_14.jpg") %>
            </div>
            <div class="centerContainer">
                <p>十二列科普列车</p>
                <p>（爱眼小知识你值得拥有）</p>
            </div>
            <div class="centerContainer">
                <p>全方位的关爱眼健康！</p>
                <p>让你美美哒！</p>
                <p>我错过了今天</p>
                <p>还能有机会么？</p>
                <p>你猜？</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_blue_move.gif") %>
            </div>
            <div class="centerContainer">
                <p>记住咯！</p>
                <p>每周六上午9:30</p>
                <p>春熙路地铁站书屋和银海眼科医院</p>
                <p>开展眼健康科普大讲堂，</p>
                <p>每周六、日下午3：00至5：00，</p>
                <p>开展专业眼健康公益咨询和义诊服务，</p>
                <p>中医大银海眼科专家亲自坐镇，</p>
            </div>
            <fieldset>
                <legend>十大站点</legend>
                <p>春熙路地铁站、天府广场地铁站、中医大省医院地铁站、省体育馆地铁站、骡马市地铁站、市二医院地铁站、成都东客站地铁站、火车北站、宽窄巷子、锦城广场地铁站</p>
            </fieldset>
            <div class="centerContainer">
                <p>十大站点同时联动！</p>
                <p>现场更有惊喜等着你！</p>
                <p>别说我没有告诉你们哟！</p>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





