<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>成都中医大银海眼科医院揭牌仪式隆重举行</h5>
            <P class="rightWord">2016-11-11</P>
        </div>

        <div>
            <p>2016年10月24日上午，成都中医大银海眼科医院揭牌暨成都中医药大学附属眼科医院授牌仪式在医院星辉西路院址隆重举行。中国工程院院士、中国中医科学院院长张伯礼教授，中国科学院院士、复旦大学脑科学研究院杨雄里教授，中国科学院院士、香港大学医学院苏国辉教授，中国工程院院士、中国科学院光电技术研究所姜文汉研究员及来自全国眼科界的著名专家、学者、院长、主任，共80人出席了揭牌仪式。四川省中医药管理局副局长杨正春、成都市卫生和计划生育委员会副主任甘华田、金牛区卫生和计划生育委员会主任邓开龙、学校党委书记马跃荣、副校长余曙光，眼科学院/眼科医院院长、书记段俊国与60名医护员工，以及太极集团、西藏药业、康弘药业等企业负责人参加了揭牌仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_1.jpg") %>
                <p>各位嘉宾为成都中医大银海眼科医院揭牌</p>
            </div>
             <p>在喜庆的音乐声中，各级领导、院士、著名眼科专家和眼科医院院长共同为“成都中医大银海眼科医院”揭牌。学校党委书记马跃荣代表成都中医药大学向银海眼科医院院长段俊国教授授予“成都中医药大学附属眼科医院”院牌。同时，党委书记马跃荣、副校长余曙光向新聘任的眼科学院12位专家分别颁发了名誉教授、客座教授、兼职教授等聘书。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_2.jpg") %>
                <p>党委书记马跃荣为成都中医药大学附属眼科医院授牌</p>
            </div>
            <p>在仪式上，党委书记马跃荣讲话，他说成都中医大银海眼科医院的成立是对成都中医药大学校庆六十周年的隆重献礼，也是我校中医眼科学科和眼科学院发展的重要里程碑和新起点，标志着中医眼科学科发展迈上了一个新的台阶。他表示，学校将一如既往地支持眼科学科、眼科学院和眼科医院的建设与发展。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_3.jpg") %>
                <p>余曙光副校长和甘华田副主任为兼职教授颁发聘书</p>
            </div>
            <p>张伯礼院士在致辞中高度评价我校中医眼科学科发展取得的成绩，对成都中医大银海眼科医院揭牌表示热烈祝贺，充分肯定银海眼科医院创新机制和办院模式，将为中国医疗机制改革提供新的样本和示范作用。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_4.jpg") %>
                <p>中国工程院院士、中国中医科学院院长张伯礼教授致辞</p>
            </div>
            <p>省中医管理局杨正春副局长讲话中指出，成都中医药大学积极开拓利用重点学科资源，服务社会，为四川省中医药事业的发展做出了积极贡献。希望新成立的成都中医大银海眼科医院充分发挥中医和中西医结合疗法的优势，为广大眼病患者造福。</p>
            <p>成都市卫生和计划生育委员会甘华田副主任在致辞中，表示成都中医大银海眼科医院的建立，不仅是成都中医药大学眼科国家重点学科多年的沉淀与积累，也是成都市深化医疗卫生改革的一项新的举措，必将对成都市眼科卫生事业的发展起到积极的推动作用。</p>
            <p>在仪式上，太极集团董事局主席白礼西代表全体投资人表示将无条件地支持银海眼科医院建设与发展，推动眼科事业的进步。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_5.jpg") %>
                <p>揭牌仪式部分嘉宾合影留念</p>
            </div>
            <p>眼科医院院长段俊国教授对各级政府领导、眼科专家学者和社会各界对银海眼科医院给予支持和帮助表示感谢。他说，成都中医大银海眼科医院按照三级甲等研究型专科医院高标准建设，医院设有中医眼科中心、眼底病中心、糖尿病视网膜病变防治中心、白内障屈光中心、眼视光中心、眼科读片中心等六大中心，齐聚众多国内外中西医顶级专家、学者担任医院各专业领域学术技术带头人。医院以中医为特色，体现中西医结合、眼科与视光结合、眼与全身病结合、眼科与互联网结合、医疗与教学科研结合，建设国际接轨、特色突出、防治一体的现代化眼科医疗集团，充分发挥传统中医药和现代医学两方面的优势，以一流技术、一流设备、一流疗效、一流环境服务于广大患者，为我国眼病患者提供优异的医疗保健服务。医院将秉承"大医精诚，银海启明"的院训，努力使医院建设成中西结合的国际眼科新中心。</p>
        </div>
    </div>
</div>





