<div class="middle">
  <div class="newsMain">
    <div class="newsTitle">
      <h5>成都中医药大学附属银海眼科医院 引智引才建设一流学科</h5>
      <P class="rightWord">2017-05-15</P>
    </div>
    <div>
      <p>2017年5月13日，为了进一步加强“双一流”建设，深化医改，成都中医药大学在蓉召开眼科学院/附属银海眼科医院/眼科研究院“三院一体”发展座谈会。全国眼科界大咖齐聚蓉城，共同探讨建设学校眼科一流学科的发展，推动眼科医教研三位一体创新模式的实施，围绕提升西部中西结合眼科发展事业献计献策，会议取得圆满成功，对于我省眼科事业的发展具有重要意义。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_1.jpg") %>
      </div>
      <p>成都中医药大学校长余曙光教授，眼科学院/附属银海眼科医院/眼科研究院院长、书记段俊国教授，国医大师、成都中医药大学眼科学院廖品正教授，著名老一辈眼科专家、中山大学中山眼科中心吴乐正教授，首都医科大学同仁医院院长王宁利教授、温州医科大学附属眼视光学院/眼视光医院院长瞿佳教授、山东中医药大学附属眼科医院院长毕宏生教授、中山大学眼科医院副院长陈伟蓉教授、福建医科大学附属第一医院副院长徐国兴教授、山东省眼科研究所副所长史伟云教授、重庆医科大学附属第一医院副院长杨培增教授、首都医科大学同仁医院白内障专家朱思泉教授、中山眼科中心眼底病专家刘文教授等全国眼科界大咖，以及成都中医药大学人事处、眼科学院、附属银海眼科医院教师、医护技主要人员与管理层共50余人参加了此次会议。座谈会由成都中医药大学人事处副处长郑川主持。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_2.jpg") %>
      </div>
      <p>成都中医药大学校长余曙光教授致欢迎辞，对来自全国各地眼科界著名专家学者们的到来表示热烈欢迎。成都中医药大学眼科学院中医眼科学科由著名中医眼科学家陈达夫教授创建，历经几代人60年建设、发展，学科的教学、科研、临床工作水平一直居于中医眼科领域领军地位，学校于2015年建立眼科学院，在不到两年的时间里基本按照医教研三位一体的创新模式，相继创建了成都中医药大学附属银海眼科医院与四川省眼与视觉健康产业研究院。学校非常重视眼科学科人才梯队建设，将人才引进和培养作为工作核心。余曙光校长希望全国的眼科大家们为学校的眼科学院、眼科医院、眼科研究院发展把脉，献计献策，全面推动我校眼科一流学科建设。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_3.jpg") %>
      </div>
      <p>成都中医药大学眼科学院/附属银海眼科医院院长、书记段俊国向与会专家介绍了眼科学院/附属银海眼科医院/眼科研究院“三院一体”的创新模式及近两年来的建设工作，希望与全国著名专家学者共同努力，推动我国中医眼科和中西医结合眼科学科的发展，为全民眼健康做出贡献。</p>
      <p>专家们高度赞赏成都中医药大学眼科学科医教研三位一体的创新模式和取得的成绩，在短短两年间，成都中医药大学眼科学院、眼科医院、眼科研究院的先后创立及创新创业机制探索，在我国眼科事业发展中起到了引领作用，同时对学校眼科的发展提出了宝贵意见。其中王宁利教授提出“重视中医眼科发展，注重中医眼科国际化人才的培养”，瞿佳教授表示“发挥中医药和中西医结合的特色优势是眼科发展的必然趋势，人才引进与培养要成为常态化”，吴乐正教授指出“要把握好互联网时代和大数据时代”，朱思泉教授提出“汇聚人才，点燃智慧火花，1+1>2的发展模式”等宝贵建议。专家们建议成都中医药大学眼科学科应进一步加强医教研防相结合，重视中医眼科的发展，常态化的进行人才引进和培养，把握好互联网和大数据时代，加强眼科中西医结合、创新，把握好良机，将技术、学术、教学推向更高的层次。</p>
      <p>专家们高度赞赏成都中医药大学眼科学科医教研三位一体的创新模式和取得的成绩，在短短两年间，成都中医药大学眼科学院、眼科医院、眼科研究院的先后创立及创新创业机制探索，在我国眼科事业发展中起到了引领作用，同时对学校眼科的发展提出了宝贵意见。其中王宁利教授提出“重视中医眼科发展，注重中医眼科国际化人才的培养”，瞿佳教授表示“发挥中医药和中西医结合的特色优势是眼科发展的必然趋势，人才引进与培养要成为常态化”，吴乐正教授指出“要把握好互联网时代和大数据时代”，朱思泉教授提出“汇聚人才，点燃智慧火花，1+1>2的发展模式”等宝贵建议。专家们建议成都中医药大学眼科学科应进一步加强医教研防相结合，重视中医眼科的发展，常态化的进行人才引进和培养，把握好互联网和大数据时代，加强眼科中西医结合、创新，把握好良机，将技术、学术、教学推向更高的层次。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_4.jpg") %>
      </div>
      <p>在会议上，成都中医药大学聘任瞿佳教授为眼科学院名誉院长、聘任王宁利教授为附属银海眼科医院名誉院长、聘任文峰教授为附属银海眼科医院眼影像诊断中心名誉主任，同时聘任王宁利、瞿佳、刘奕志、毕宏生、杨培增、史伟云、陈伟蓉、徐国兴共8位专家为眼科学院/附属银海眼科医院的客座教授。由校长余曙光、院长段俊国分别向各专家颁发了聘任证书。同时，校长余曙光代表省委组织部为附属银海眼科医院常务副院长朱思泉教授颁发了四川省特聘专家证书。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_6.jpg") %>
      </div>
      <p>会上，举行了廖品正国医大师工作室建设签约仪式。校长余曙光、院长段俊国分别代表成都中医药大学和成都中医药大学附属银海眼科医院与廖品正国医大师签订了在银海眼科医院设立并建设国医大师工作室的协议，明确了廖品正国医大师工作室的建设内容和传承措施及相应职责。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_7.jpg") %>
      </div>
      <p>会上，举行了中山大学中山眼科中心刘文教授加盟成都中医药大学附属银海眼科医院签约仪式。段俊国院长与刘文教授签订加盟协议，刘文教授将担任成都中医药大学附属银海眼科医院医疗质量总监兼眼底外科主任。</p>
      <div class="newsImgMar">
        <%= image_tag("zyyh_8.jpg") %>
      </div>
      <p>专家们还参观了即将开业的成都中医药大学附属银海眼科医院，对医院的医疗流程和运营提出了宝贵意见。本次会议对于成都中医药大学眼科一流学科建设、西部眼科事业的发展以及对我国眼科事业的促进作用均具有十分重要的意义。</p>
      <div class="newsImgMar">kl
        <%= image_tag("zyyh_9.jpg") %>
      </div>
      <p>座谈会期间，校党委书记刘毅专程看望了与会专家，向各位专家对我校眼科学科建设的大力支持表示了感谢。</p>
    </div>
  </div>
</div>
