<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我得了干眼症后，再也没有女朋友！</h5>
            <p class="rightWord">2017-08-14</p>
        </div>

        <div>
            <div class="centerImgCon">
                <p>以前听说干眼症只发生在处于更年期的中老年妇女身上。</p>
                <p>然而我这样一位风华正茂的翩翩汉子<span class="redWord">也得了！竟得了！真得了！</span></p>
                <p>我只能将这归结于<span class="redWord">这万恶的空气污染和食物的改变！</span></p>
                <p>反正打死我也不会承认是经常玩“王者农药”的原因。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_1.jpg") %>
                </div>
                <p>没有得干眼症的小伙伴大概无法理解我内心的伤。</p>
                <p>经常性的眼部干涩和异物感，<span class="redWord">你有过蚊虫飞入眼睛的经历吗？就是那个感觉！</span></p>
                <p>当然！</p>
                <p><span class="redWord">还有烧灼感、痒感、畏光、充血、痛、视物模糊易疲劳等各种症状！</span></p>
                <p>让人几乎抓狂。</p>
                <p>最最最重要的是：</p>
                <p><span class="redWord">我得了干眼症后，再也没有女朋友！</span></p>
                <p>从此妈妈再也不用担心我的干眼症了，</p>
                <p>因为她所有时间都在担心我的终身大事了。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_2.jpg") %>
                </div>
                <p>这边的朋友要发问了，干眼症和女朋友有关系吗？</p>
                <p class="redWord">有！不仅有而是极大的关系！</p>
                <p>且听我现身说法。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_3.jpg") %>
                </div>
                <p><b>无情篇</b></p>
                <p>大学时，和新交的女票去看电影。</p>
                <p>她是一个感性的妹子，特喜欢苦情的爱情片。</p>
                <p>这是一部不错的电影，剧情很感人。</p>
                <p>女票和周围的情侣哭得稀里哗啦，</p>
                <p>而我正在埋头啃爆米花。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_4.jpg") %>
                </div>
                <p>“你怎么那么冷血？”女票说。</p>
                <p>“是挺感人，我还没有来得及哭呢，</p>
                <p>我正酝酿中”我说。</p>
                <p>“我等你！”女票很坚持。</p>
                <p>然后……</p>
                <p>就没有然后了。</p>
                <p>整部戏我一滴眼泪都没有挤下来，</p>
                <p>望着女票逐渐远去的背影，</p>
                <p>耳旁回响着她决绝的话</p>
                <p>“我不要和无情的人在一起！”</p>
                <p>那时，我只想大声告诉她：</p>
                <p class="redWord">我有......干......眼......症！</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_5.jpg") %>
                </div>
                <p><b>禽兽篇</b></p>
                <p>好吧，对于追妹子我一直很努力。</p>
                <p>毕业后进了一家广告公司，</p>
                <p>与同事妹妹朝夕相处，在我糖衣炮弹的狂轰滥炸下，</p>
                <p>妹子终于勉强答应跟我在一起。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_6.jpg") %>
                </div>
                <p>一天夜里，</p>
                <p>大家加班到深夜，</p>
                <p>我自然成了护花使者，</p>
                <p>与妹子一同走在无人的街道上。</p>
                <p class="redWord">许是加班太久，刺激了干眼症发作，</p>
                <p>我不停的揉眼睛，眼睛逐渐变得通红。</p>
                <p>再加上路灯的强光刺激着眼睛，</p>
                <p class="redWord">我整个人都感觉都不好了！</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_7.jpg") %>
                </div>
                <p>我瞄着旁边还有一条没有光的小路，</p>
                <p>转身对妹子说要不咱们还是走那条小路吧，</p>
                <p>那条路走着舒服些。</p>
                <p>妹子望着我通红的双眼，</p>
                <p>舞动的双手（我只是揉眼睛而已）和期盼的表情，</p>
                <p>再看看黑漆漆的小路……</p>
                <p>大呼道：</p>
                <p class="redWord">“神经病啊！我们还没有到那一步，你这个禽兽！”</p>
                <p>就这样……</p>
                <p>这段感情应声倒地，</p>
                <p>从此在公司里还背上了“禽兽”的骂名。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_gyznpy_8.jpg") %>
                </div>
                <p>诸如此类的事情经历得太多后，</p>
                <p>我终于明白：</p>
                <p>不是我不适合恋爱，而是干眼病没有恋爱！</p>
                <p>从今以后，你要么看到我在嵩山少林，遁入空门；要么看到我在<span class="redWord">银海</span>治疗，江湖风云再起！</p>
            </div>
        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




