<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我国现代眼科学奠基人陈耀真教授诞辰 118 周年纪念学术研讨会在蓉召开</h5>
            <p class="rightWord">2017-07-21</p>
        </div>

        <div>
            <p>2017年是我国现代眼科奠基人之一、著名眼科学家和医学教育家陈耀真教授诞辰118周年，为了缅怀他在中国现代眼科的学术发展及人才培养等方面不可磨灭的贡献，7月16日， “陈耀真教授诞辰118周年纪念学术研讨会”在成都新华宾馆隆重举行。</p>
            <p>本次会议由成都中医药大学眼科学院/成都中医大银海眼科医院承办。</p>
            <p><b>开幕式与学术报告</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_118jl_1.jpg") %>
            </div>
            <p>开幕式由成都中医药大学眼科学院/成都中医大银海眼科医院院长段俊国教主持，中国医疗保健国际交流促进会眼科分会主任委员、首都医科大学附属北京同仁医院院长王宁利教授，世界中医药学会联合会秘书长助理秦树坤，四川省中医药学会副会长、四川省中医药科学院院长赵军宁，成都中医药大学校长余曙光分别在开幕式上致辞，向陈耀真教授致以最崇高的敬意和最深切的缅怀。</p>
            <p>陈耀真的女儿，中山大学中山眼科中心陈又昭教授和美国国立卫生研究院科学家陈之昭教授，陈耀真的外孙，以及来自美国、欧洲、澳洲、非洲等国家的著名眼科学者和来自中山大学中山眼科中心、复旦大学附属眼耳鼻喉医院、温州医科大学附属眼视光医院、山东中医药大学附属眼科医院、河北省眼科医院等100余所高校及科研院所眼科医院和综合医院眼科的院长、主任、专家参加了纪念大会，并在学术研讨会做报告，参会人员约300多人。</p>
            <p><b>纪念陈耀真教授</b></p>
            <p>陈耀真的家人和学生，原中山大学中山眼科中心主任吴乐正教授做了“纪念陈耀真教授”专题演讲。在深情悠扬的音乐声中，陈耀真教授早年学习、工作的珍贵照片在大家眼前依次展现。</p>
            <div class="newsImgMar">
                <%= image_tag("news_118jl_2.jpg") %>
            </div>
            <p>1934 年陈耀真先生为了中国的眼科事业，毅然放弃了在美国的优越工作，回到当时灾难深重的祖国从事医学教育事业。1939～1950年任华西大学医学院存仁眼耳鼻喉科医院眼科教授。</p>
            <p>抗日战争期间，他往返香港和云南、贵州、四川之间，运送红十字会药物到后方医院，抢救病员，并一直坚持在教学岗位上。1965 年主持创建中山医学院眼科医院并首任院长，后担任我国第一个眼科中心——中山眼科中心名誉主任，1981～1986年任中华医学会眼科学会名誉主任委员。他心系百姓，多次亲身前往条件艰苦的山区为各族人民防治眼病，足迹遍及西北、西南、华东、华南地区。他十分重视眼科人才的培养，最早在中国眼科学领域开创培养了交叉科学人才，一步一步建立中国眼科骨干队伍。他还致力于我国眼科史的研究， 发掘祖国眼科宝贵遗产, 如证实早在甲骨文我国已记载防治眼病，假眼配置术为世界最先等，提出了许多独具慧眼的精辟见解，对发掘祖国医学伟大遗产做出了贡献，把一生献给了祖国的医学教育和眼科事业。</p>
            <p>全场人员跟随着吴乐正教授饱含深情的娓娓讲述，重温了陈耀真教授光辉的一生，再次被他高尚的医德和严谨的治学，以及对中国眼科事业的巨大贡献深深感动和震撼。</p>
            <div class="newsImgMar">
                <%= image_tag("news_118jl_3.jpg") %>
            </div>
            <p>演讲后，吴乐正教授亲自将陈耀真教授珍贵的画像赠送给成都中医大银海眼科医院作为纪念，并以示对新开业的成都中医大银海眼科医院的祝贺和激励。</p>
            <p>陈耀真教授一生的感人事迹令人敬仰、没齿难忘，对祖国的眼科事业的贡献后世眼科人将永远铭记。我们将不忘初心，砥砺前行，为眼科事业再续新篇章。</p>
            <div class="newsImgMar">
                <%= image_tag("news_118jl_4.jpg") %>
            </div>

        </div>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>





