<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【喜讯】热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</h5>
            <P class="rightWord">2017-08-21</P>
        </div>

        <div>
            <p>8月20日，四川省第二届院长城市圈高峰论坛暨第五届“榜样中国·我心目中的名医”大型公益评选活动颁奖典礼在四川日报报业集团举行。</p>
            <p>“我心目中的名医”、“我心目中的人气名医”、“我心目中的名医（科室）”、“优秀家庭医生”等13个奖项的获奖名医一一揭晓，数百人在现场见证了这一荣耀时刻。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wxzmy_1.jpg") %>
            </div>
            <p>经过激烈的角逐和严苛的评选，我院四位教授获得多项殊荣。他们分别是我院医疗质量总监、眼底外科主任<b>刘文</b>教授荣获“我心目中的十大名医”称号；院长助理、小儿眼科主任<b>袁晓辉</b>教授荣获“我心目中的十大人气名医”称号；中医眼科中心主任、硕士生导师<b>周华祥</b>教授荣获“我心目中的五官科十大名医”称号；特检部/眼影像分析与诊断中心主任、博士生导师<b>路雪婧</b>教授荣获“我心目中的五官科十大名医”称号。</p>
            <div class="newsImgMar">
                <%= image_tag("zj5.jpg") %>
                <p>刘文教授荣获【我心目中的十大名医】称号</p>
            </div>
            <p>成都中医药附属眼科医院/成都中医大银海眼科医院医疗质量总监、眼底外科主任， 曾任中山大学中山眼科中心特种医疗中心副主任，北京同仁眼科中心眼外科副主任，郑州市眼科医院院长。曾获得国家和省级科研成果三项，被评为2015、2016年度广东省“岭南名医”。</p>
            <p>从事眼科临床医疗工作35年，在国内外最早用超声生物显微镜对前段增生性玻璃体视网膜病变进行系统分类，使这一复杂性玻璃体视网膜疾病的诊治有了客观的诊断标准。在国内外首创视网膜脱离外路显微手术技术和理论，将该手术方式提高到了显微手术时代，显著地提高了视网膜脱离外路手术的成功率。该手术技术和理论在国内外处于领先地位。在多年研究前段增生性玻璃体视网膜病变的基础上，总结出了一整套全玻璃体切除的技术和理论，并应用到微创玻璃体手术中，对减少我国玻璃体手术并发症和提高手术成功率做出了卓有成效的贡献。</p>
            <div class="newsImgMar">
                <%= image_tag("zj8.jpg") %>
                <p>袁晓辉教授荣获【我心目中的十大人气名医】称号</p>
            </div>
            <p>成都中医药附属眼科医院/成都中医大银海眼科医院院长助理、小儿眼科主任、眼视光学术带头人，全国知名小儿眼科专家，全国名老中医药专家学术经验继承人，中国民族医药学会眼科分会常务理事，四川省中西医结合学会眼科专业委员会委员，四川省医学会眼视光专业委员会委员。</p>
            <p>擅长儿童弱视矫治，在各类屈光性弱视、眼球震颤性弱视等多种疑难性弱视的诊断和治疗都有独到之处。对青少年近视的中医药防控有独到见解。各类斜视的诊治，医学验光及渐变多焦镜、OK镜、RGP镜的验配。对白内障、青光眼、葡萄膜炎、眼底病等各类眼科常见病也有丰富的临床经验。</p>
            <p>在临床诊疗工作之余，还定期到基层医院坐诊，帮助基层医疗人员提升斜弱视诊疗水平，使广泛的斜弱视病人受益；同时她负责或主研国家科技攻关、国家新药基金等各级课题7项，正式学术期刊发表论文20余篇，参加多部眼科专著的编写。</p>
            <div class="newsImgMar">
                <%= image_tag("zj7.jpg") %>
                <p>周华祥教授荣获【我心目中的五官科十大名医】称号</p>
            </div>
            <p>成都中医药大学附属眼科医院/成都中医大银海眼科医院中医眼科中心主任、成都中医药大学眼科学院中医眼科教研室主任、硕士生导师，四川省学术技术带头人，四川省拔尖中医师，中华中医药学会眼科分会委员，四川省中医药学会眼科专业委员会常务副主任委员，四川省康复医学会眼科分会委员，成都市视力保护协会副理事长，国家中医药管理局中医师资格认证中心命审题专家。《中华大典•医药卫生典•医学分典•眼科总部》副主编，国家出版工程多媒体《中华医学百科全书》中医眼科分卷和国家“十二五”重点图书“实用中医工具书系列”《中医五官实用辞典》编委。</p>
            <div class="newsImgMar">
                <%= image_tag("zj9.jpg") %>
                <p>路雪婧教授荣获【我心目中的五官科十大名医】称号</p>
            </div>
            <p>成都中医药附属眼科医院/成都中医大银海眼科医院特检部/眼影像诊断中心主任，成都中医药大学眼科学院科教学生部主任，博士生导师，全国首批中医药传承博士后，四川省首届十大名中医廖品正学术继承人，中国民族医药学会眼科分会副会长、中华中医药学会眼科专业委员会委员、青年副主任委员，中华中医药促进会糖尿病分会常务委员，中华中医药学会糖尿病分会青年委员，四川省青年中医药学会副主任委员，四川省中医药学会眼科专委会常务委员，第五批四川省中医药管理局学术和技术带头人、第十批四川省学术技术带头人后备人选。《中华大典•医药卫生典•医学分典•眼科总部》编委兼秘书，国家出版工程多媒体《中华医学百科全书》中医眼科分卷和国家“十二五”重点图书“实用中医工具书系列”《中医五官实用辞典》编委，人民卫生出版社中医药高等院校十二五规划教材《中医眼科学》编委，国家卫生计生委员会十三五规划教材《中医眼科学》编委。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wxzmy_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_wxzmy_3.jpg") %>
                <p>活动现场</p>
            </div>
            <p>此次，多项殊荣的获得，既是对各位教授德艺双馨的肯定，也是对银海人不断进取，勇于拼搏精神的肯定。我们将秉承“<b>大医精诚 银海启明</b>”的院训，砥砺前行，以更大的工作成效来回馈广大患者。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj5.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>刘文（眼底外科）</p>
                    <p>坐诊时间: 周一、周三、周五上午、周四下午</p>
                    <p>擅长领域:</p>
                    <p>主要从事玻璃体视网膜疾病研究，擅长各种眼底疾病和复杂性视网膜脱离的手术治疗。</p>
                </div>
            </fieldset>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj8.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>袁晓辉</p>
                    <p>坐诊时间: 周二、周四全天，周一、周日上午，周三下午</p>
                    <p>擅长领域:</p>
                    <p>青少年近视的综合防控，小儿弱视矫治，各类斜视的诊治与手术治疗，医学验光及渐变多焦镜、OK镜、RGP镜的验配，眼科常见病如白内障、青光眼、葡萄膜炎、眼底病的诊治。</p>
                </div>
            </fieldset>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj7.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>周华祥</p>
                    <p>坐诊时间: 周二下午，周三、周五全天</p>
                    <p>擅长领域:</p>
                    <p>擅长中西医治疗出血性眼病（糖尿病性视网膜病变、老年黄斑变性、黄斑出血、视网膜静脉周围炎、视网膜静脉阻塞）、葡萄膜炎、视神经疾病及防治青少年近视、高度近视眼底并发症的中医药诊治。</p>
                </div>
            </fieldset>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj9.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>路雪婧</p>
                    <p>坐诊时间: 周一上午，周四全天</p>
                    <p>擅长领域:</p>
                    <p>擅长中医药防治糖尿病视网膜病变、干眼症、葡萄膜炎、视网膜血管疾病，青光眼及视网膜色素变性等的中医药视功能保护治疗。</p>
                </div>
            </fieldset>

        </div>
    </div>
</div>




