<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我在银海看雨，而你在哪里？ </h5>
            <p class="rightWord">2017-08-29</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_1.jpg") %>
            </div>
            <div class="centerImgCon">
                <p>一场不期而遇的大雨把我困在这里</p>
                <p>我索性丢了继续前行的想法</p>
                <p>肆意地在银海看雨</p>
                <p>没想到</p>
                <p>超越时空的对撞</p>
                <p>竟将我的心慢慢带向远方</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_2.jpg") %>
            </div>
            <div class="centerImgCon">
                <p>慢步、轻语</p>
                <p>怕惊醒1957的梦</p>
                <p>那必定也是一个下雨天</p>
                <p>徐尚志大师大笔一挥</p>
                <p>填补了成都建筑历史的空白</p>
                <p>成都市第一座新型办公楼</p>
                <p>诞生了!</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_3.jpg") %>
            </div>
            <div class="centerImgCon">
                <p>抚摸着厚重的外墙</p>
                <p>极为好奇</p>
                <p>门内又是怎样的一场际遇</p>
                <p>慢慢推开大门</p>
                <p>透出</p>
                <p>光与影的舞蹈</p>
                <p>将我的思绪无限拉伸</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_5.jpg") %>
            </div>
            <div class="centerImgCon">
                <p>现代化的门诊设备</p>
                <p>舒适宜人住院环境</p>
                <p>新与旧的强烈冲突</p>
                <p>让我思绪万千</p>
                <p>护士妹妹的一句亲切问候</p>
                <p>将我的心拉回现在</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_6.jpg") %>
            </div>
            <div class="centerImgCon">
                <p>辗转上楼</p>
                <p>中式风格让人痴迷</p>
                <p>中与西的结合</p>
                <p>不止风格</p>
                <p>更是治疗方式上完美契合</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_7.jpg") %>
            </div>
            <div class="centerImgCon">
                <p>雨停了</p>
                <p>我已经迷上了银海</p>
                <p>驻足这里</p>
                <p>感受厚重文化底蕴下</p>
                <p>银海人不断拼搏、创新的初心</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_yhky_8.jpg") %>
            </div>
            <div>
                <p>我在银海</p>
                <p>等你，</p>
                <p>而你在哪里？</p>
            </div>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>




