<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我省首台美国LensAR 3D飞秒激光系统开机 在全国性眼科大会直播展风彩</h5>
            <p class="rightWord">2017-07-19</p>
        </div>

        <div>
            <p>2017年7月14-17日,中国医疗保健国际交流促进会眼科分会首届学术年会在成都召开，本次大会以“眼病防治与眼健康国际化”为主题，以保护眼健康为宗旨，大力推动中西医眼科的深度融合，并促进国际间交流。大会期间,由成都中医大银海眼科医院主办的LensAR3D飞秒激光白内障手术系统开机仪式和手术直播引起与会专家广泛关注和赞誉。</p>
            <p>开机仪式由成都中医大银海眼科医院副院长、北京同仁医院朱思泉教授主持，成都中医大银海眼科医院院长段俊国教授与高视医疗集团高峰副总裁分别在开机仪式上致辞。在开机仪式上高视医疗集团高峰副总裁将“LensAR飞秒白内障手术系统培训基地”的铭牌授予中医大银海眼科医院院长段俊国教授。北京大学第三医院陈跃国教授、山东中医药大学附属眼科医院毕宏生教授，及来自全国眼科界的专家学者共计150余人出席了LensAR飞秒激光白内障手术系统开机仪式和观看了手术直播。</p>
            <div class="newsImgMar">
                <%= image_tag("news_stlar_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_stlar_2.jpg") %>
            </div>

            <p>启动仪式后，中医大银海眼科医院副院长、白内障首席专家朱思泉教授和陆军医科大学大坪眼科医院院长叶剑教授在成都中医大银海眼科医院进行了精彩的飞秒激光白内障手术演示并向与大会会场直播。</p>
            <div class="newsImgMar">
                <%= image_tag("news_stlar_3.jpg") %>
            </div>

            <p>朱思泉教授和叶剑教授手术后接受了记者采访，他们分别谈了自己对LensAR的应用体会，认为LensAR的3D成像优势突出，相比于OCT的2D平面图像，信息更丰富，手术安全性更高。同时，LensAR的非接触式接口操作的便捷性，中国的老年患者与欧美患者相比普遍具有睑裂小，眼窝深的特点，而LensAR的接口设计使手术操作的成功率和便利性大大提高，尤其适合我国患者的特点。通过飞秒激光制成的前囊口，不仅圆，而且居中，使植入的人工晶状体光学中心居中性的精准度大大提高，从而给患者带来了更高的视觉质量。</p>

            <div class="newsImgMar">
                <%= image_tag("news_stlar_4.jpg") %>
            </div>

            <h5>LensAR飞秒激光白内障手术系统介绍</h5>
            <p>飞秒激光白内障手术是目前发展的一次革命性进步。与传统方式相比，具有精准、安全、可预测和可重复的优点。作为新一代的飞秒激光白内障手术平台，LensAR将3D成像、非接触式患者接口和智能化的系统与无比精确的飞秒激光相结合，完成传统超乳手术当中最具有挑战性的连续环形撕囊，晶状体碎核和角膜切口步骤，使手术达到微米级别的精准，为医生和患者提供绝佳的治疗效果和手术体验。</p>
            <div class="newsImgMar">
                <%= image_tag("news_stlar_5.jpg") %>
            </div>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
