<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我省首台美国LensAR 3D飞秒激光系统开机 在全国性眼科大会直播展风彩</h5>
            <P class="rightWord">2017-07-19</P>
        </div>

        <div>
            <p>2017年7月14-17日,中国医疗保健国际交流促进会眼科分会首届学术年会在成都召开，本次大会以“眼病防治与眼健康国际化”为主题，以保护眼健康为宗旨，大力推动中西医眼科的深度融合，并促进国际间交流。大会期间,由成都中医大银海眼科医院主办的LensAR3D飞秒激光白内障手术系统开机仪式和手术直播引起与会专家广泛关注和赞誉。</p>
            <p>开机仪式由成都中医大银海眼科医院副院长、北京同仁医院朱思泉教授主持，成都中医大银海眼科医院院长段俊国教授与高视医疗集团高峰副总裁分别在开机仪式上致辞。在开机仪式上高视医疗集团高峰副总裁将“LensAR飞秒白内障手术系统培训基地”的铭牌授予中医大银海眼科医院院长段俊国教授。北京大学第三医院陈跃国教授、山东中医药大学附属眼科医院毕宏生教授，及来自全国眼科界的专家学者共计150余人出席了LensAR飞秒激光白内障手术系统开机仪式和观看了手术直播。</p>
            <div class="newsImgMar">
                <%= image_tag("news_stlar_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_stlar_2.jpg") %>
            </div>
            <fieldset>
                <div>
                    <p>启动仪式后，中医大银海眼科医院副院长、白内障首席专家朱思泉教授和陆军医科大学大坪眼科医院院长叶剑教授在成都中医大银海眼科医院进行了精彩的飞秒激光白内障手术演示并向与大会会场直播。</p>
                    <div class="fl marR-30  dIntroduction">
                        <%= image_tag("news_stlar_3.jpg") %>
                    </div>
                    <div class="fl marR-30 marB30 dIntroduction">
                        <%= image_tag("news_stlar_4.jpg") %>
                    </div>
                    <p>朱思泉教授和叶剑教授手术后接受了记者采访，他们分别谈了自己对LensAR的应用体会，认为LensAR的3D成像优势突出，相比于OCT的2D平面图像，信息更丰富，手术安全性更高。同时，LensAR的非接触式接口操作的便捷性，中国的老年患者与欧美患者相比普遍具有睑裂小，眼窝深的特点，而LensAR的接口设计使手术操作的成功率和便利性大大提高，尤其适合我国患者的特点。通过飞秒激光制成的前囊口，不仅圆，而且居中，使植入的人工晶状体光学中心居中性的精准度大大提高，从而给患者带来了更高的视觉质量。</p>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <legend>LensAR飞秒激光白内障手术系统介绍</legend>
                    <p>飞秒激光白内障手术是目前发展的一次革命性进步。与传统方式相比，具有精准、安全、可预测和可重复的优点。作为新一代的飞秒激光白内障手术平台，LensAR将3D成像、非接触式患者接口和智能化的系统与无比精确的飞秒激光相结合，完成传统超乳手术当中最具有挑战性的连续环形撕囊，晶状体碎核和角膜切口步骤，使手术达到微米级别的精准，为医生和患者提供绝佳的治疗效果和手术体验。</p>
                    <div class="newsImgMar">
                        <%= image_tag("news_stlar_5.jpg") %>
                    </div>
                </div>
            </fieldset>














            <p>值五一劳动节来临之际，2017年4月25日，四川省视力保护科普基地联合我院以及荣获全国“五一”劳动奖状、全国模范职工之家等荣誉称号的中国企业形象AAA级单位，国家重点优势企业——中航工业成都飞机工业（集团）有限责任公司（简称中航工业成飞），倾情举办了“大爱无疆•善行天下”眼健康科普公益活动，现场吸引了120余名离退休老干部及家属热情参与。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_qy_1.jpg") %></li>
                    <li><%= image_tag("news_qy_2.jpg") %></li>
                </ul>
            </div>
            <p>我院特派5位眼科专家及11位医务人员前往中航工业成飞公司，经过精心筹备，在其老干部活动中心立即开展了系列公益活动。首先，我院眼科专家向老年朋友们讲解了白内障、青光眼等常见眼病及预防的常识，从疾病的病因、临床表现、诊断治疗、预防和自我护理等方面做了简单的介绍，与听讲座的老年朋友们形成了良好的互动，并积极回答了他们关于眼病常识的疑问，广大老年朋友纷纷表示受益匪浅。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qy_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qy_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qy_5.jpg") %>
            </div>
            <p>随后， 医护人员安排大家井然有序地做了基础视力检查，并应用流动智能科普馆配备的“七合一”眼前节机器人、全自动眼底照相机等先进设备进行专业眼健康眼部专项检查，现场给出报告，同时做好相关记录，建立了专业的眼健康档案，对今后眼健康提升工作具有重要意义。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_qy_6.jpg") %></li>
                    <li><%= image_tag("news_qy_7.jpg") %></li>
                    <li><%= image_tag("news_qy_8.jpg") %></li>
                    <li><%= image_tag("news_qy_9.jpg") %></li>
                    <li><%= image_tag("news_qy_10.jpg") %></li>
                    <li><%= image_tag("news_qy_11.jpg") %></li>
                </ul>
            </div>
            <p>根据检查结果，我院特检中心主任路雪婧、眼视光中心袁晓辉主任医师、眼底病中心医学博士黄霄主任医师及眼科专家陈小凤和廖加坤等专家，亲自为现场离退休老干部及家属解读了检查结果。经过进一步认真细致的检查，对发现有眼病的患者，专家们给予了中肯的治疗意见和建议，并告知一些日常生活中的眼保健等常识。如此贴心的公益服务，受到大家的一致好评。</p>
            <p>我院眼科专家表示，随着年龄的增长，老年人患各种眼病的几率也随之增加。白内障、青光眼、糖尿病眼病等老年眼病非常突出，严重者可能造成失明，对生活质量造成了很大的威胁。对于这些眼病，要时常进行眼睛检查，做到有病早治疗，无病加强正确的防护。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qy_12.jpg") %>
            </div>
            <p>一个下午我院眼科专家及医护团队没有休息、马不停蹄地忙碌着，为成飞集团的120多位离退休老干部提供了眼健康服务，不仅检查了眼睛的健康状况，还了解了不少健康知识，受到中航工业成飞公司领导及离退休老干部的广泛欢迎和高度赞誉。</p>
        </div>
    </div>
</div>





