<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行</h5>
            <p class="rightWord">2017-04-14</p>
        </div>

        <div>
            <p>2017年4月14日，四川省视力保护科普基地联合成都中医药大学眼科学院、成都中医大银海眼科医院/成都中医药大学附属眼科医院，应致公党成都市委、城隍庙社区的邀请，选派5位眼科专家及12位医务人员组成专家团，乘坐装备“七合一”智能机器人和全自动眼底照像机等国际先进眼科设备的“流动科普馆”，分别赴大邑县花水湾镇天宫社区党群服务中心、城隍庙社区开展“大爱无疆，善行天下”眼健康科普公益活动，共计140余名社区居民在此次活动中受益。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_3.jpg") %>
            </div>
            <p>我院特检中心主任路雪婧、眼底病中心医学博士黄霄主任医师及5位医务人员一早出发，在抵达天宫社区党群服务中心后，立即为当地60余名社区居民开展了系列公益义诊活动。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_gysy_4.jpg") %></li>
                    <li><%= image_tag("news_gysy_5.jpg") %></li>
                </ul>
            </div>
            <p>专家团应用四川省视力保护科普基地“流动科普馆”配备的“七合一”智能机器人、全自动眼底照相机、裂隙灯显微镜等国际先进眼科设备，为当地人民群众提供医学视力检查服务和专业的眼部检查，通过远程云服务出据了专业诊疗数据报告，并建立详细、全面的眼健康档案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_6.jpg") %>
            </div>
            <p>家住花水湾六队的杨奶奶，85岁，双眼视物模糊多年，几乎失明，生活自理困难，家庭经济条件差，一直以来都无法接受正规的治疗。也曾有其他医疗机构下乡到过那里，但是看到这位老奶奶的眼部情况后都说已经没有做手术的意义了。直到今天专家诊断后发现眼睛还有光感，可以通过白内障手术重见光明。得知这一消息后，杨奶奶非常激动，握着专家的手不停地说着感谢的话语。专家团队对每位患者认真负责、详细耐心的工作态度和专业讲解，得到广大人民群众的广泛赞誉和衷心感谢！</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_9.jpg") %>
            </div>
            <p>与此同时，我院视光中心专家袁晓辉和眼科专家陈小凤、廖加坤3位专家及7位医务人员，在城隍庙社区为80余名社区居民开展了讲座、普查、咨询、建档等一系列公益活动，切实为人民群众提供专业眼健康服务。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_11.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_12.jpg") %>
            </div>
            <p>就老年人群中比较常见的白内障、青光眼、泪道等疾病的病因、症状，以及如何预防、治疗，我院眼科专家进行了科普宣讲。随后有序安排大家进行了视力基础检查，同时应用先进眼科设备提供了专业检查，现场给出报告，并为社区居民建立了详细的眼健康档案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_13.jpg") %>
            </div>
            <p>各位专家根据检查报告，进一步的进行了检查，发现有较多老人都患有白内障，或其他眼部疾病，不仅耐心作答，而且还给出了具有针对性的专业治疗建议。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gysy_14.jpg") %>
            </div>
            <p>义诊活动现场秩序井然、气氛热烈。仅仅一上午的时间，成都中医大银海眼科医院专家团及医务人员先后为大邑县花水湾镇和城隍庙社区，共计140余名社区居民提供眼健康科普讲座、眼健康专项检查、专家现场咨询、眼健康档案建设等一系列义诊服务，发放眼健康科普手册300多份，受到广大人民群众的一致称赞，收到了良好的社会反响。眼健康公益科普活动将坚定不移的持续进行下去，为更多的人民群众提供便捷优质高效的眼科诊疗服务，全力以赴为眼健康公益事业做出卓越贡献。</p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
