<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我院携手成都商报举办“糖尿病视网膜病变防治” 公益大讲堂系列活动</h5>
            <p class="rightWord">2017-09-20</p>
        </div>

        <div>
            <p>9月19日，成都中医大银海眼科医院携手成都商报四川名医“糖友家”联合举办“糖尿病视网膜病变防治”公益大讲堂系列活动。此次活动在成都中医大银海眼科医院银海厅设立主会场，迎来了200余位“糖友”的踊跃参与。通过一系列的公益科普形式，在“糖友”间掀起了一场爱眼护眼的风潮。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_1.jpg") %>
            </div>
            <p>成都中医大银海眼科医院院长助理、小儿眼科主任袁晓辉教授致辞并说：“随着人们生活水平的提高，我国糖尿病患者也越来越多，每11个中国人里有1个是糖尿病患者，然而许多糖尿病患者并不知道糖尿病居然和眼科疾病有着密切的关系。”她表示希望通过一系列的公益科普活动，让更多的糖尿病患者学习并了解糖尿病视网膜病变的相关知识，使更多的糖尿病患者认识并避免因糖尿病视网膜病变引起的致盲危害。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_2.jpg") %>
            </div>
            <p>活动上，成都中医药大学眼科学院教授、博士生导师，附属银海眼科医院特检中心主任，四川省糖尿病防治协会早期筛查专业委员会副主任委员路雪婧教授在糖尿病性眼科疾病科普讲座上作了《糖尿病视网膜病变知多少》的主题演讲，她分别从糖尿病视网膜病变的成因，表现，危害，诊治等各个方面详细为患者们讲解了糖尿病视网膜病变的相关知识。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_3.jpg") %>
            </div>
            <p>同时，路雪婧教授在会场通过一对一现场答疑的方式就患者们关心的糖尿病视网膜病变相关问题进行了解答。面对“糖友们”踊跃的提问，路主任耐心且专业地进行逐一回答，赢得了大家一致称赞。来自温江的李大爷表示：“希望此类活动持之以恒，为更多糖尿病患者带来福音。以前不知道糖尿病会引起眼睛问题，现在都清楚了，这样的活动多多开展就好了。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_4.jpg") %>
            </div>
            <p>医护人员为患者免费提供了血压测试，视力检查，国际先进设备眼底照相全景检查，眼健康档案建立等项目，医护人员温馨的服务让老人们倍感亲切。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_6.jpg") %>
            </div>
            <p>同时，位于成华区四方阁水脉青龙店的“糖尿病视网膜病变防治”公益大讲堂分会场活动也同期举行，与主会场形成联动。来自当地社区的近60余位“糖友”齐聚一堂，大家就“糖尿病视网膜病变防治”相关问题进行了交流。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_7.jpg") %>
            </div>
            <p>成都中医药大学眼科学院教授、硕士研究生导师，附属银海眼科医院糖尿病视网膜病变防治中心副主任张富文教授为患者们讲解了“糖尿病视网膜病变防治”的相关知识，对一些常见误区进行了现场解答。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_8.jpg") %>
            </div>
            <p>根据四川省卫计委公布的数据显示：我省约有600万人患糖尿病，却有400万人自己不知道，30%~50%的糖尿病患者从来不做眼部检查，30%无症状患者却已经有视网膜病变，每年定期眼部检查者不足10%。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_9.jpg") %>
            </div>
            <p>面对如此严峻的形式，让身负崇高使命的“银海人”感觉压力倍增。此次联合成都商报四川名医“糖友家”共同开展一系列的公益活动，希望呼吁全社会共同来关注“糖尿病视网膜病变防治”的相关问题，共同致力于我国眼健康事业的发展。</p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_10.jpg") %>
                <p>糖尿病视网膜病变防治中心团队成员</p>
            </div>
            <p>本科室主要针对糖尿病视网膜病变（DR）早期发现、综合治疗与预防，长期慢性病管理于一体的专病科室。由院长段俊国教授和国医大师廖品正教授带领的专家团队经过近30年的联合攻关，研究成功治疗DR中药新芪明颗粒，创新中药芪灯明目胶囊也进入后期的临床研究阶段；研究制定的虚瘀并治的中医药综合治疗DR方案，在控制糖尿病视网膜的进展、减少终点事件、维持视功能的稳定等方面具有显著的优势；制订了第一个中医药防治糖尿病视网膜的临床指南及路径，其研究成果获四川省科学技术进步奖特等奖。以段俊国教授为核心的团队组建了糖尿病视网膜病变防治中心，引进美国爱尔康Constellation Vison 玻璃体切割机、美国科以人多波长固体激光治疗机，法国光太SLT多波长激光、德国海德体堡HRA眼底造影机、德国蔡司光学相干断层扫描仪（血流OCT5000）等专业眼科设备，开展针对DR从早期预防、黄斑水肿、视网膜新生血管、后期复杂的视网膜增生性病变、玻璃积血等开展综合治疗。</p>
            <p><b>Daytona激光扫描检眼镜P200T（欧堡）</b></p>
            <p><b>设备优势：</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_twgyjt_11.jpg") %>
            </div>
            <p>1.超广角：一次性成像范围达200°-220°，能够覆盖眼底82%的视网膜</p>
            <p>2.免散瞳：通过2mm的瞳孔直径来进行操作，适用于青光眼等不能散瞳的患者和糖尿病等难于散瞳的患者</p>
            <p>3.成像快：自动化程度高，0.4秒内完成一张图像的捕捉，检查快速、安全、精准</p>
            <p>4.分辨率高：获取图像分辨率是14um，可拍摄到普通眼底照相机不能成像的眼底图像，并可分离成多种色彩成分</p>
            <p>5.具有自发荧光功能：无需静脉注射荧光材料，就可显示多种眼底病的成像</p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>

  <%= render partial: 'news/relate_read' %>
</div>
