<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>2017四川省科技周启动 我院应雅安市人民政府邀请参加</h5>
            <P class="rightWord">2017-05-29</P>
        </div>

        <div>
            <p>5月19日，由四川省科技活动周组委会主办，四川省科学技术厅、中共四川省委宣传部、四川省科学技术协会、雅安市人民政府承办的2017年四川省科技活动周在雅安市启动。应雅安市人民政府邀请，四川省视力保护科普基地联合成都中医大银海眼科医院，选派3位眼科专家及8位医务人员组成的医疗队，携装备“七合一”智能机器人和全自动眼底照像机等国际先进眼科设备的眼健康“流动科普馆”，参加了本次活动，受到当地人民群众的青睐。</p>
            <div class="newsImgMar">
                <%= image_tag("news_join_1.jpg") %>
            </div>
            <p>本次科技周活动以宣传普及健康生活知识，并举办健康卫生、食品安全、生态环保等系列科普讲座为主题。我院为当地人民群众提供了专业眼健康科普知识讲座、眼健康专项检查、专家现场咨询和眼健康档案建立等服务，为当地人民群众眼健康提升做出重要贡献。</p>
            <div class="newsImgMar">
                <%= image_tag("news_join_2.jpg") %>
            </div>
            <p>由四川省视力保护科普基地/银海眼科医院中医眼科中心主任周华祥教授、银海眼科医院医务部主任/青光眼科中心主任潘学会、银海眼科医院眼视光中心专家袁晓辉主任医师及8位医务人员组成的医疗队一早出发到达雅安后，立即投身到工作中。眼视光专家就青少年近视的发病原因、危害、如何预防等知识，为来到现场的中学生进行了科普讲座。通过科普知识抢答的互动模式，倡导科学用眼、远离近视。</p>
            <div class="newsImgMar">
                <%= image_tag("news_join_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_join_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_join_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_join_6.jpg") %>
            </div>
            <p>随后，医护团队应用“流动科普馆”配备的“七合一”智能机器人，为当地群众自动精准测量眼压、角膜曲率、角膜地形图、波前像差、晶体密度、前房深度及瞳孔自动测量；应用综合验光仪，全面、精准检测近视、远视、散光、轴向等数据，获得最佳矫正视力；应用最前沿免散瞳、数字化的全自动眼底照相机检查眼底情况；裂隙灯显微镜检查眼部健康状况等一系列国际顶尖的眼科设备，为当地人民群众提供医学视力检查服务和专业的眼部检查。同时，通过远程云服务出据了专业诊疗数据报告，建立了详细、全面的眼健康档案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_join_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_join_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_join_9.jpg") %>
            </div>
            <p>根据眼健康档案，我院专家团为当地人民群众提供眼健康专业咨询服务，并亲自为大家解读数据报告，一对一给出专业建议和详细的解决方案，得到大家的好评与称赞。</p>
            <div class="newsImgMar">
                <%= image_tag("news_join_10.jpg") %>
            </div>
            <p>为期两天的眼健康科普公益活动圆满结束，成都中医大银海眼科医院专家团及医务人员为400余人提供了专业详细的眼健康服务，发放眼健康科普手册500多份，对雅安市人民群众眼健康提升起到重要的推动作用，雅安市人民政府及当地人民群众对专家团队及“流动科普馆”的到来表示衷心感谢。成都中医大银海眼科医院携手四川省视力保护科普基地将一如既往也地将眼健康科普活动开展下去，为更多的人民群众提供专业优质高效的眼健康服务，全力以赴为公益科普事业做出卓越贡献。</p>

        </div>
    </div>
</div>




