<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>视觉第一 • 高原光明行（玉树）——我院携手中国狮子联会免费白内障手术援助公益行</h5>
            <p class="rightWord">2017-08-26</p>
        </div>

        <div>
            <p>8月24日，我院携手中国狮子联会组成的玉树白内障公益援助队成功抵达玉树州康复服务中心。经历经36个小时，长达1088.5公里艰辛跋涉，没有一刻停歇，迅速以饱满的热情投入到工作中。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_1.jpg") %>
            </div>
            <p>“视觉第一·高原光明行”公益援助活动在青海省玉树藏族自治州进行为期三天的白内障复明手术，将为200余名患者带来光明与希望！</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_2.jpg") %>
            </div>
            <p>此次公益援助活动，我院精选出5名医生和2名手术室护士组成白内障手术公益援助医疗队。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_3.jpg") %>
            </div>
            <div class="newsImgMar div_90">
                <ul>
                    <li>
                        <%= image_tag("news_gygmx_4.jpg") %>
                    </li>
                    <li>
                        <%= image_tag("news_gygmx_5.jpg") %>
                    </li>
                </ul>
            </div>
            <p>玉树地区平均海拔高达4200米，高原地区缺氧，长年高海拔及强烈的紫外线日照条件导致这里白内障眼部疾病高发。该地区不仅中老年人易患白内障，甚至很多幼童都患有先天性白内障，自出生时，就不曾看到过这美丽的世界。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_6.jpg") %>
                <p>医疗援助队领队潘学会主任为病人做检查</p>
            </div>
            <p>在身体不适、条件简陋、语言不通的情况下，潘学会主任为了能给更多藏民带来光明，刚到达玉树，便马不停蹄地开始工作起来，在门诊义诊检查病人。潘学会主任拥有多年的基层工作经验，藏区诊疗经验尤其丰富，先期到达玉树后，他马上投入工作，为患者进行检查。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_7.jpg") %>
                <p>我院医疗援助队尽心尽力让患者重获光明！</p>
            </div>
            <p>由于当地医疗条件十分落后，我院医护队员们，不顾长途艰辛和高原缺氧等不利因素的阻碍，随身携带了大量专业的医疗设备。即使在面临身体不适、条件简陋、语言不通、时间紧迫等困难时，他们也依然坚守初心。在有限的时间内，尽可能多的为患有白内障的藏族同胞实施复明手术是分队成员的共同目标！</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_8.jpg") %>
                <p>耐心的等待和已经做完手术的藏族同胞们</p>
            </div>
            <p>当地白内障患者听说成都中医大银海眼科医院的专家来做诊疗，纷纷赶到医院预约并排队，他们中有的白内障患者已开始接受医生的检查和治疗，很快便能恢复光明。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_9.jpg") %>
            </div>
            <p>值得一提的是，由于家庭遗传性白内障，来自西藏的一家三代全部得到了医疗援助队的医治，终于解决了多年困扰这个家庭的顽疾。一家人对医疗队的到来非常感激，拉着的手迟迟不愿松开，令在场的人们为之动容，患者们的认可就是对我院医疗队最好的回报。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_10.jpg") %>
            </div>
            <p>由于医疗援助队成效显著，受到了玉树藏族自治州州长和州宣传部长的亲自接见和表扬。队员们纷纷表示，将秉承“大医精诚 银海启明”之精神，为玉树同胞送去光明。潘主任强调：“本地医疗基础条件确实艰苦！每位医者都要勇于深入基层，为更多因眼疾困苦的偏远地区患者带来光明与希望，白内障复明手术不仅仅是个人重获光明，更使每个家庭重获希望！”</p>
            <div class="newsImgMar">
                <%= image_tag("news_gygmx_11.jpg") %>
            </div>
            <p>截至发稿之日，我医疗援助队已成功使130余名患者重获光明，超额完成了每日计划。日以继夜的工作，却没有一丝抱怨，因为医护人员们深知，每一位患者的复明诊治，就会让一个家庭重获希望！</p>
            <p>恶劣的条件，疲惫的身躯，缺失的设备与藏族同胞内心的期盼相比，显得那么不值一提。茫茫高原，却有一队白衣医者坚定地穿行其中，让人肃然起敬。成都中医大银海眼科医院/成都中医药大学附属眼科医院此次白内障手术公益援助活动深得玉树藏区人心！</p>
            <p>我院从事公益的脚步从未停下，将不断推动眼健康事业的发展，为实现健康中国的宏伟目标做出卓越贡献！</p>

        </div>
    </div>
</div>




