<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我院深入石笋街小学，开展眼健康科普公益活动</h5>
            <P class="rightWord">2017-05-17</P>
        </div>

        <div>
            <p>2017年5月16日，四川省视力保护科普基地联合我院深入石笋街小学，开展为期六天的“眼健康科普校园公益行”活动，为学校师生及家长科普眼健康知识及建立眼健康档案。</p>
            <p><b>科普讲座生动有趣</b></p>
            <p>我院眼视光专家通过科普讲座问与答的形式，幽默风趣地向学生及家长讲解了近视的成因和各种危害，引导大家了解并掌握正确的护眼常识和眼部健康知识，树立健康护眼观念，培养学生良好的用眼卫生习惯。</p>
            <div class="newsImgMar">
                <%= image_tag("news_szj_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_szj_2.jpg") %>
            </div>
            <p><b>先进设备进行眼科检查</b></p>
            <p>随后，我院特派的医护人员应用“流动科普馆”配备的先进眼科设备，为大家提供了眼健康专项检查服务，便于大家更加深入的了解自身眼部健康状况，同时为学生们建立了专业的眼健康档案，对后期有效防控青少年近视有着重要的意义。</p>
            <div class="newsImgMar">
                <%= image_tag("news_szj_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_szj_4.jpg") %>
            </div>
            <p><b>专家亲自解读检查结果</b></p>
            <p>针对学生的眼部检查结果，我院专家亲自解读检查结果，并针对每位学生的眼健康情况给出了专业建议。引导学生如何正确地爱眼护眼、预防眼病、保护视力。</p>
            <div class="newsImgMar">
                <%= image_tag("news_szj_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_szj_6.jpg") %>
            </div>
            <p>青少年儿童是新时代的主力军，如今青少年近视已成为社会热点问题。定期深入校园开展眼健康科普公益活动，提高家长们对孩子眼睛保护的意识，降低孩子眼睛近视、弱视、斜视等眼疾的发病率。做到防患于未然，从而提升我省青少年儿童的眼健康水平。</p>

        </div>
    </div>
</div>





