<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>不忘初心 永远跟党走 我院举行庆祝中国共产党96岁华诞党日活动</h5>
            <P class="rightWord">2017-07-01</P>
        </div>

        <div>
            <p>又是一个流光溢彩的七月，大江南北普天共庆！七月的大地，有一种旗帜在招展；七月的天空，有一种渴望在涌动！2017年6月30日下午，成都中医药大学附属银海眼科医院/眼科学院党总支在六楼学术报告厅举行“庆‘七一’建党日，做爱岗敬业银海人”党日活动。全院共产党员、民主党派代表、无党派人士和学生代表欢聚一堂，共同庆祝党的96岁华诞，用歌声表达对党的无比热爱和对辛勤工作在各个岗位上优秀党员的由衷赞美。会议由院党政办公室主任陶铮主持。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gcddc_1.jpg") %>
                <p>段俊国书记/院长授党课</p>
            </div>
            <p>党总支书记、院长段俊国教授以《全面推进两学一做，发挥共产党员先锋模范作用》为党课主题，从以下几点对全院党员及职工进行授课：一要认真开展“两学一做”学习教育，加强政治理论学习，强化党性修养；二要立足本职工作，号召全院职工紧密围绕医院发展的工作重点，在医院面临发展的巨大机遇和挑战的时刻，主动迎难而上，自觉承担使命，主动作为，发挥党员正能量；三要保持党员清正廉洁的本色，要在认识上保持清醒、在意志上保持坚定，把规矩和纪律挺在前面，清清白白做人，干干净净做事；四要团结奋进，共同为迎接医院开业庆典以及廖品正国医大师工作室启动仪式、四川省眼与视觉健康产业研究院揭牌仪式等工作而努力奋斗，全院职工应不忘初心，传承党的优良传统。此外，段院长结合30余年的人生经历，现场进行了生动形象的讲解，引导党员干部在工作中以身作则，充分发挥模范带头作用，用自己的实际行动履行党员的职责，为人民群众眼健康服务，争创中国的一流眼科医院。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gcddc_2.jpg") %>
                <p>段俊国书记/院长为12名党员授“党员示范岗”铭牌并合影留念</p>
            </div>
            <p>随后，段俊国书记宣读了《中共成都中医药大学眼科学院党总支关于授予2017年“党员示范岗”的决定》，并为12名党员同志授“党员示范岗”铭牌。希望党员同志努力发挥先锋模范作用，希望全院职工积极投入到医院发展工作中，为医院各项事业的发展作出新的更大的贡献。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gcddc_3.jpg") %>
                <p>周华祥主任宣读倡议书</p>
            </div>
            <p>授牌后，我院优秀共产党员周华祥同志宣读“爱岗敬业”倡议书，指出作为眼健康的守护者，我们将以人为本，敬畏生命，善待病人，自觉维护医学职业的高尚与荣誉，努力担当增进人类眼健康的崇高职责。努力为患者提供有效适宜的医疗保障服务，确保人民群众的安康。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gcddc_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gcddc_5.jpg") %>
            </div>
            <p>全院党员及职工在“庆‘七一’建党日，做爱岗敬业银海人”横幅上签名留念，以此响应周华祥主任的号召。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gcddc_6.jpg") %>
            </div>
            <p>颂歌嘹亮，照亮前行的道路，在充满感情与激情的《国际歌》的高亢歌声中，成都中医大银海眼科医院“庆‘七一’建党日，做爱岗敬业银海人”党日活动落下帷幕。</p>

        </div>
    </div>
</div>




