<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我院眼健康科普校园公益行走进成都军区机关第一幼儿园</h5>
            <P class="rightWord">2017-04-18</P>
        </div>

        <div>
            <p>随着电子产品不断进入到孩子们的生活、学习，对孩子们的视力所造成的伤害也越来越严重。针对这样的现状，2017年4月18日下午，四川省视力保护科普基地、成都中医大银海眼科医院联合成都军区机关第一幼儿园开展了“眼健康科普校园公益行”活动，为50余名幼儿园小朋友、老师及家长进行了护眼知识的宣讲和眼健康的专业检查。活动内容及形式受到孩子们的喜爱和家长的一致好评。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jq_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <ul>
                    <li><%= image_tag("news_jq_2.jpg") %></li>
                    <li><%= image_tag("news_jq_3.jpg") %></li>
                </ul>
            </div>
            <p>就儿童近视产生的原因、危害以及如何预防，我院眼科专家通过内容丰富、形式活泼生动的视力保护科普动画片，对现场小朋友、老师及家长进行了详细讲解。采用现场互动的形式，有效地引导孩子们科学用眼，提高老师和家长监督孩子正确用眼的意识，帮助和培养孩子们养成良好的用眼习惯。</p>
            <div class="newsImgMar">
                <ul>
                    <li><%= image_tag("news_jq_4.jpg") %></li>
                    <li><%= image_tag("news_jq_5.jpg") %></li>
                </ul>
            </div>
            <p>随后，我院眼视光专家李骏老师带领孩子们参观、讲解了装备有“七合一”机器人和全自动眼底照像机等先进眼科设备的流动科普车，备受孩子们的青睐。</p>
            <div class="newsImgMar">
                <ul>
                    <li><%= image_tag("news_jq_6.jpg") %></li>
                    <li><%= image_tag("news_jq_7.jpg") %></li>
                </ul>
            </div>
            <p>特派医护人员还应用“流动科普馆”配备的国际顶尖设备，为现场的小朋友们进行了专业的视力检查和眼部检查，同时为每位小朋友建立了一对一的眼健康档案，对后期有效防控近视有着重要的意义。</p>
            <div class="newsImgMar">
                <ul>
                    <li><%= image_tag("news_jq_8.jpg") %></li>
                    <li><%= image_tag("news_jq_9.jpg") %></li>
                </ul>
            </div>
            <p>针对小朋友们的眼部检查结果，我院眼科专家亲自为家长详细解读了孩子的眼部情况，并给出了专业性、针对性的建议，对此，家长及园方领导表示衷心的感谢！</p>
            <div class="newsImgMar">
                <%= image_tag("news_jq_10.jpg") %>
            </div>
            <p>随着手机、电脑和电视等电子产品的吸引，儿童的眼部疾病和近视低龄化的趋势日益明显。因此要培养幼儿爱眼、护眼的好习惯，才能促进幼儿的健康成长。我院希望通过多种形式的眼健康公益活动，广大家长对幼儿眼睛健康问题的认识能够更加科学，同时为幼儿的眼睛保健工作形成了专业医院人员、家长、教师、幼儿共同参与的一个良性的监管机制，从而真正提升青少年儿童的眼健康水平。</p>

        </div>
    </div>
</div>
