<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我院廖品正教授当选国医大师在京受表彰</h5>
            <p class="rightWord">2017-06-29</p>
        </div>
        <div>
            <p>2017年6月29日下午，第三届国医大师表彰大会在北京隆重举行。根据《人力资源社会保障部、国家卫生计生委、国家中医药局关于表彰国医大师、全国名中医的决定》（人社部发〔2017〕45号），授予30位当代泰斗级名老中医为国医大师。成都中医药大学眼科学院/附属银海眼科医院中医眼科学家廖品正教授获此殊荣，这是继首届国医大师、中医眼科学家唐由之教授后，全国第二位、四川首位眼科界国医大师。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_3.jpg") %>
            </div>
            <p><b>生于中医世家，立志传承家学 </b></p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_4.jpg") %>
            </div>
            <p>廖品正教授是土生土长的成都人，祖父廖志鸿是一位很出名的老中医，从小看祖父给人治病，看到很多病情垂危的病人经过祖父治疗转危为安，受祖父的熏陶，立志传承家学，治病救人。</p>
            <p><b>学于成都中医药大学，舍弃报送清华北大机会</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_5.jpg") %>
            </div>
            <p>1958年，廖品正以优异的成绩从高中毕业，并得到了面试保送到清华、北大的机会。然而一心想学中医的她并没有选择清华或是北大，而是将自己的志愿书全部填为成都中医学院（现成都中医药大学）。1964年，廖品正以优异的成绩毕业留校，从事中医眼科工作，师从建国后第一代中医眼科泰斗陈达夫教授。　</p>
            <p><b>业于中医眼科，名气蜚声海内外</b></p>
            <p>除对中医眼科学造诣颇深，知识渊博。更可贵在于廖品正教授在继承祖传和古人中医药的过程中，能做到遵古而不泥古，对各种眼病随时有深层次的探索与思考，对疑难眼病反复推敲，脉因诊治，处方用药，力求在古人识病辨证的基础上有所创新。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_6.jpg") %>
            </div>
            <p>廖品正教授业医52年，以仁德为怀，帮助国内外眼疾患者解除病痛困扰，重获光明，名气蜚声海内外，享有很高的声誉，成为中医眼科界一代名医。</p>
            <p><b>恪守医生使命，引领学术发展</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_8.jpg") %>
            </div>
            <p>作为国医大师，廖品正教授自拟“虚瘀并治”复方，主持国家“九五”攻关科技计划。带领团队开发上市了我国首个糖网病中药新药“芪明颗粒”，能减少终点事件的发生，疗效优于西药，开启了从基础到临床，从理论到新药的中医药防治糖网病的系列研究，并取得重大突破。该系列研究支撑了国家中医临床研究基地申报与建设，成为全国16个基地中唯一以眼科疾病为重点病种的基地。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_9.jpg") %>
            </div>
            <p>她指导建立了我国首个消渴目病中医防治临床指南及标准，获四川省科技进步一等奖。该系列研究成果广泛应用于临床，使上千万糖尿病患者受益。她培养的团队后续相关研究获得四川省空缺十二年的科技进步特等奖。</p>
            <p><b>主编教材专著，沿用至今</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_10.jpg") %>
            </div>
            <p>廖品正教授主编中医眼科学本专科统编教材，自考指定教材等6部，担任《中华医学百科全书》、中医眼科分卷、《实用中医五官辞典》等国家大型工具书主编，她主编的五版《中医眼科学》，中医理论“系统性强”、“临证实用”、“经典精炼”，确立了现代中医眼科学教材理论架构及编写体例，沿用至今。</p>
            <p><b>培育行内翘楚，承续中医药五千年血脉</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_11.jpg") %>
            </div>
            <p>廖品正教授是全国高等医药院校第一位中医眼科博士生导师，她甘为人梯，力推青年后学为学科带头人。廖品正教授桃李满天下，培养的学生如今很多已经是博士生导师、行业内的佼佼者。先后培养硕博士25人，师承学术继承人8名，分别成为“国家杰出专业技术人才”、“享受国务院政府特殊津贴专家”、“全国优秀临床中医人才”等。</p>
            <p><b>生命不息，就为中医药事业奋斗不止</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_gyds_12.jpg") %>
            </div>
            <p>“5000年的中医文化传承到我们的手上，我们有责任、有义务好好继承和发扬，就像接力赛跑一样，要一代一代的传下去，我们从老的一辈的手里面接过了这个棒，除了自己跑好这一棒而外，还要很好的把它交给年轻一代，”廖品正教授意味深长地说，“在获得国医大师称号的同时，也深感责任重大，使命崇高。今后，我们要继续倡导大医精诚的医德医风，将自己的学术思想和临床经验毫无保留地传下去，培养好接班人。生命不息，我们就要为中医眼科事业奋斗不止！”</p>

        </div>


    </div>
</div>





