<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我院举行大型“爱眼护眼”校园科普教育活动</h5>
            <P class="rightWord">2016-11-23</P>
        </div>

        <div>
            <p>2016年11月23日，成都中医药大学眼科学院作为四川省视力保护科普基地，派出专家和老师们又一次走进校园，在成都师范学院附属实验学校，举行了近500余名小学生参加的大型“爱眼护眼、关爱儿瞳”校园科普教育活动。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xykp_1.jpg") %>
            </div>
            <p>此次科普教育活动主要由四川省视力保护科普基地、成都中医大银海眼科医院眼视光科普宣教团谢艾芮老师进行爱眼护眼讲座，讲座围绕近视的发生、危害、预防、正确处理，以及儿童常见眼外伤、红眼病的防范展开，内容生动有趣，穿插互动环节。讲座结束后，科普宣教团与参与活动的师生们就爱眼护眼知识展开了活泼、广泛的问答与交流，500名师生踊跃参与。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xykp_2.jpg") %>
            </div>
            <p>活动中，四川省视力保护科普基地，以及成都中医大银海眼科医院眼视光科普宣教团向各位同学、老师，以及社会倡议：</p>
            <p>1. “政府-社会-医院-学校-家长-学生”等各方面应该充分认识近视高发生率的现实，共同行动，积极参与中小学生近视防控行动！</p>
            <p>2. 学校和老师，注重素质教育，减轻同学们的课业负担，督促同学们多参加户外活动；爸爸妈妈，不要把同学们的周末排得太满，逼着他们去上各种兴趣班。只有这样，他们才有时间、有机会去亲近美丽的大自然！</p>
            <p>3. 学生应定期检查视力，坚持眼保健操。如果近视，要定期医学验光、科学配镜，要抵制不良广告宣传、遵从专业医生的建议。</p>
            <p>4. 同学们要坚持“科学用眼”的好习惯。即：用眼距离不能过近；不能过长时间近距离用眼，多参加户外活动，多眺望远方；不要在光线太强或太暗的地方用眼；走路或乘车等晃动的环境中不能用眼；用眼姿势要正确，不能躺卧在床上、沙发上用眼。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xykp_3.jpg") %>
            </div>
            <p>活动结束后，成都中医药大学眼科学院院长段俊国教授，代表四川省视力保护科普基地和成都中医大银海眼科医院眼视光科普宣教团指出，我国作为近视人口大国，近视发生率高居不下，近视低龄化和高度化趋势越来越明显，加强青少年近视的防控已成为当前的社会热点。成都中医药大学眼科学院作为四川省视力保护科普基地，也作为国家行业专项——“青少年近视中医药综合防控”的承担单位，一直将青少年近视防控的各项工作放在重要位置，通过多种形式开展科普教育活动。成都中医药大学眼科学院和四川省视力保护科普基地正在积极整合社会资源，探索“政府-社会-医院-学校-家长-学生”六位一体的近视综合“防”、“控”模式；形成中小学生近视防控具体可操作的实施方案及长期工作机制；建立科学用眼为基础、中医药综合防治为手段的青少年近视综合防控方案；构建基于互联网的互动式近视防控工作交流、监测平台；成立了成都中医大银海眼科医院眼视光科普宣教团。</p>
            <p>段俊国院长表示，成都中医大银海眼科医院眼视光科普宣教团将一如既往地积极参与公益活动，进入校园开展科普活动也会持续进行，力争为降低中小学生近视发生和进展率做出积极贡献！</p>
            <p>此次活动也得到成都中医药大学红十字会的积极支持。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xykp_4.jpg") %>
            </div>










            <p>值五一劳动节来临之际，2017年4月25日，四川省视力保护科普基地联合我院以及荣获全国“五一”劳动奖状、全国模范职工之家等荣誉称号的中国企业形象AAA级单位，国家重点优势企业——中航工业成都飞机工业（集团）有限责任公司（简称中航工业成飞），倾情举办了“大爱无疆•善行天下”眼健康科普公益活动，现场吸引了120余名离退休老干部及家属热情参与。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_qy_1.jpg") %></li>
                    <li><%= image_tag("news_qy_2.jpg") %></li>
                </ul>
            </div>
            <p>我院特派5位眼科专家及11位医务人员前往中航工业成飞公司，经过精心筹备，在其老干部活动中心立即开展了系列公益活动。首先，我院眼科专家向老年朋友们讲解了白内障、青光眼等常见眼病及预防的常识，从疾病的病因、临床表现、诊断治疗、预防和自我护理等方面做了简单的介绍，与听讲座的老年朋友们形成了良好的互动，并积极回答了他们关于眼病常识的疑问，广大老年朋友纷纷表示受益匪浅。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qy_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qy_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qy_5.jpg") %>
            </div>
            <p>随后， 医护人员安排大家井然有序地做了基础视力检查，并应用流动智能科普馆配备的“七合一”眼前节机器人、全自动眼底照相机等先进设备进行专业眼健康眼部专项检查，现场给出报告，同时做好相关记录，建立了专业的眼健康档案，对今后眼健康提升工作具有重要意义。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_qy_6.jpg") %></li>
                    <li><%= image_tag("news_qy_7.jpg") %></li>
                    <li><%= image_tag("news_qy_8.jpg") %></li>
                    <li><%= image_tag("news_qy_9.jpg") %></li>
                    <li><%= image_tag("news_qy_10.jpg") %></li>
                    <li><%= image_tag("news_qy_11.jpg") %></li>
                </ul>
            </div>
            <p>根据检查结果，我院特检中心主任路雪婧、眼视光中心袁晓辉主任医师、眼底病中心医学博士黄霄主任医师及眼科专家陈小凤和廖加坤等专家，亲自为现场离退休老干部及家属解读了检查结果。经过进一步认真细致的检查，对发现有眼病的患者，专家们给予了中肯的治疗意见和建议，并告知一些日常生活中的眼保健等常识。如此贴心的公益服务，受到大家的一致好评。</p>
            <p>我院眼科专家表示，随着年龄的增长，老年人患各种眼病的几率也随之增加。白内障、青光眼、糖尿病眼病等老年眼病非常突出，严重者可能造成失明，对生活质量造成了很大的威胁。对于这些眼病，要时常进行眼睛检查，做到有病早治疗，无病加强正确的防护。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qy_12.jpg") %>
            </div>
            <p>一个下午我院眼科专家及医护团队没有休息、马不停蹄地忙碌着，为成飞集团的120多位离退休老干部提供了眼健康服务，不仅检查了眼睛的健康状况，还了解了不少健康知识，受到中航工业成飞公司领导及离退休老干部的广泛欢迎和高度赞誉。</p>
        </div>
    </div>
</div>





