<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医--潘学会】战火硝烟中手术的眼科专家</h5>
            <p class="rightWord">2017-07-31 </p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_pxhss_1.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>潘学会</p>
                    <p>副主任医师、医学硕士</p>
                    <p>坐诊时间: 周一上午，周二、周三下午，周四、周日全天</p>
                    <p>中国医师协会中西医结合分会眼科专业委员会委员，四川省医学会眼科专委会委员，四川省中医药学会眼科专业委员会委员，四川省康复医学会眼康复专委会委员。</p>
                    <p>擅长领域：长期从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验。擅长各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病中西医结合治疗。</p>
                </div>
            </fieldset>
            <p>曾七次参加“视觉第一、中国行动”——四川省及国家组织的白内障复明手术专家医疗队（曾担任国家医疗队队长），以及国际狮子会组织的白内障防盲手术专家医疗队。多次受到省政府及残联的表彰。曾荣获全国残疾人康复工作先进个人称号。曾参加赴黎巴嫩国际维和医疗队，获联合国颁发的国际维和勋章。 曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_2.jpg") %>
            </div>
            <p>潘学会健硕的身体被一圈精密仪器围在中间，眼睛在三块屏幕之间来回跳跃，这是他日常的工作状态，工作繁杂，却被处理得井井有条。潘学会对每个病人的病情都了如指掌，病房门口碰到背着包准备出院的病人都坚持带着病人去做了康复检查，叮嘱数句，才放心让病人离开医院。</p>
            <p><b>无怨无悔为百姓服务</b></p>
            <p>潘学会行医32年，从事白内障和青光眼专业长达25年之久，具有丰富临床经验，成功地帮助很多人重见光明。</p>
            <p>他医术过硬，吃苦耐劳、甘于奉献，曾长期参加四川省残联和省防盲办组派的专家医疗队，到基层做防盲指导和免费治疗工作。在1999年—2006年，潘学会每年用两个月的时间到基层做服务工作，哪怕不计报酬，生活条件非常艰苦，他也很愿意去医治没钱看病的人，潘学会说，那里需要他。</p>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_5.jpg") %>
                <p>（潘医生帮助残疾人康复工作获得的多项荣誉）</p>
            </div>
            <p>潘学会经常去藏区医治病人，2001年在凉山州木里藏族自治县做服务治疗的时候，潘学会接到一位双目失明30年的藏族牧民。因为眼疾，牧民在三十年里生活异常艰苦，几乎失去了生活的希望。牧民住在非常偏远的地方，听说来了省里面的专家，牧民骑马、步行、坐车用了半个月的时间才到了县城。在手术完成后揭掉纱布的那一瞬间，牧民时隔三十年后重新见到了光明。“扑通”一声，牧民跪在了众多医生面前，大喊着“感谢毛主席”。潘医生和那些医生给了牧民人生的第二次光明，牧民十分激动。也许这对于潘学会来说只是再平常不过一次的成功手术，但对于接受治疗的人来说，意味着今后的人生从此彻底不同。</p>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_7.jpg") %>
                <p>基层医院防盲手术</p>
            </div>
            <p>早些年在基层服务的时候，一个纳西族的病人眼病被治疗康复后，十分感激潘医生的治疗，特地用纳西族的古老的东巴象形文字写了一封感谢信。潘医生的好多荣誉证书都遗失了，这封感谢信却一直珍藏在家中。他说，老百姓的肯定是对他最好的褒奖。</p>
            <p>2011年，潘学会接受组织安排，随成都军区的国际维和组织赴黎巴嫩参与维和医疗工作。在那样陌生又危险的环境中，潘医生毫无怨言，在战火丛生的世界里辛勤治疗，为国际维和任务立下了汗马功劳，受到了国外同行的高度称赞。潘学会说，不管是优越或者艰苦的环境中，但凡需要自己治病救人，他都会全力以赴。</p>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_11.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_12.jpg") %>
                <p>（潘学会参与维和医疗工作）</p>
            </div>
            <p><b>绣花针般细致的心</b></p>
            <p>潘学会身形健壮，但做起眼科工作特别细心。眼部的器官十分微小脆弱，对医生操作的精细性要求尤其高。潘学会说，医学界有句俗语，叫“金眼科，银外科”，这里的“金”指的不是“挣钱多”，它有两个含义。一是器官、仪器“金贵”，眼部器官的特殊性决定了它治疗过程中使用的仪器、药物贵重；二是在治疗过程中要特别“精细”，在显微镜下工作，一定要格外仔细认真，通过大量的反复练习做到在手术的时候纤毫不差。</p>
            <div class="newsImgMar">
                <%= image_tag("news_pxhss_13.jpg") %>
            </div>
            <p>潘学会待病人十分真诚。有个军人患虹膜睫状体炎，这个疾病容易复发，多年来与潘医生始终保持联系，至今已经成为关系非常好的朋友。除了在诊疗过程中认真细致外，潘学会与患者的沟通过程同样耐心、真诚。在基层服务的过程中，不少老百姓对眼科医治工作有很深的误解，民间流传一句话：“眼睛不医不瞎”，其实那是在早些年医疗水平低下的时候老百姓对治疗风险的恐惧产生的错误印象。潘学会在基层参与防盲工作的时候，经常需要耐心地给老百姓解释，宣传科普知识，让他们摒弃这些错误的观念。</p>
            <p>近年来潘学会花了大量精力在青光眼病的治疗上，青光眼发病早期眼压时高时低，患者很容易轻视而不去治疗，一直到晚期才引起注意的时候已经太迟了。潘医生同样要花很多时间来劝说有相关症状的病人及早接受检查和治疗。就是在潘医生苦口婆心的劝说下，有无数的人避免了因为错过诊疗时间而贻误病情。</p>
            <p>“中国是人口大国，农村人口多，盲人也多，我们既要跟随世界学术前沿，也要重视老百姓的基本需求，解决最实际的问题。眼科医生责任重大，既要吃的了苦，也要治得了病。”潘学会这样说。不管是在干净整洁的手术室，枪炮连天的战场，还是在乡下简单的卫生室，潘医生始终是被人信赖的那一个，他那双温暖的手，能够带来久盼的光明。</p>

        </div>
    </div>
</div>





