<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医——邓亚平】让一切如沐春风</h5>
            <p class="rightWord">2017-08-18</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj20.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>蹇文渊</p>
                    <p>主治医师/医学博士/博士后</p>
                    <p>世界中医药学会联合会临床疗效评价专业委员会委员</p>
                    <p>中国中医药研究促进会糖尿病专业委员会委员</p>
                    <p>四川省糖尿病早期筛查专业委员会委员</p>
                    <p>主要从事中医药防治眼科疾病教学、科研及临床。曾赴美国威斯康辛大学眼底读片中心研修ETDRS糖尿病视网膜病变眼底读片技术，临床上擅长运用中医脉诊、六经辨证，结合眼与全身的关系对眼科疑难病进行诊治。科研方面参与重大新药创制项目，进行新药II期临床眼底图片分析及评价，参研国家国际科技合作项目、十二五支撑计划、重大仪器设备专项等多项国家课题，发表相关学术论文10余篇。</p>
                    <p>坐诊时间: 周六全天</p>
                    <p>擅长领域:</p>
                    <p>擅长中医药治疗反复发作的结膜炎、角膜炎，干眼，玻璃体混浊，眼底出血性疾病（视网膜静脉阻塞、糖尿病视网膜病变等），黄斑病变（中心性浆液性脉络膜视网膜病、年龄相关性黄斑病变等），视网膜色素变性，包括青光眼在内的各种原因引起的视神经萎缩，亚健康及全身疾病中医诊治等。</p>
                </div>
            </fieldset>
            <p>在银海眼科医院四楼，有个布置得特别“高大上”的办公室，满满的苹果电脑，这里是眼影像分析与诊断中心。中心里最忙碌的一个身影，是个戴黑框眼镜、浓眉毛、精干短发的男孩，他叫蹇文渊，是个眼底影像博士后，被同事亲切地称为“学长”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorJwy_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_doctorJwy_2.jpg") %>
            </div>
            <h4>医学世家的传承</h4>
            <p>蹇文渊医生的家庭是个地地道道的医学世家：外公外婆是西医，爷爷和爸爸是中医，母亲做针灸工作，从小耳濡目染对医生这个职业有独特的情怀。特别是对中医，蹇文渊格外着迷。所以他后来主动选择学习中医，蹇文渊深得中医“治未病”的精髓，可利用《黄帝内经》中五运六气推算人的先天不足，主张从一个人的出生时间、生活环境、个人生活习惯和当下身体状况等多方面判断一个人的病情乃至身体未来的发展状况。中医对眼底病的治疗有其他治疗方式无法比拟的优势，能够起到极佳效果。说起中医的疗效，蹇文渊医生无比自豪。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorJwy_3.jpg") %>
            </div>
            <p>蹇文渊医生曾经遇到过一个玻璃体混浊的病人，还存在长达10多年的耳鸣、脸部发热等多种问题，因为病情复杂，其他治疗方式对耳鸣等症几乎束手无策。</p>
            <p>患者只是为眼部疾病而就诊，对中医有深入研究的蹇文渊根据病人的症状开了一副中药，病人按时服下。一周之后，除了玻璃体混浊患者自感明显改善外，困扰多年的耳鸣也收获极大的效果。病人大喜过望，十分感谢蹇医生。蹇文渊说，中医有一套完整的辨证论治方法，尤其注重天、地、人的关系，从整体出发治疗疾病，往往能起到意想不到的效果。</p>
            <h4>藏身幕后的读片高手</h4>
            <div class="newsImgMar">
                <%= image_tag("news_doctorJwy_4.jpg") %>
            </div>
            <p>蹇文渊医生专攻眼影像分析、诊断，曾赴美国威斯康辛大学眼底读片中心学习先进的读片技术，拥有丰富的读片经验。成都中医药大学早在2010年就开始与国外合作进行眼影像方面的研究，技术水平走在了全国乃至亚洲的前列。ETDRS分级标准和血管参数检测、病变量化检测、血氧饱和度分析等技术这里都已经非常成熟。银海眼科医院有自己的技术研发团队，专门开发眼影像分析、诊断的软件。蹇文渊目前在成都中医药大学从事教学、临床工作，同时进行眼底分析和中医眼诊的研究。</p>
            <p>成都中医大银海眼科医院的眼底读片为众多基层医院提供远程诊断服务，基层医院无法判断的病症，在蹇文渊医生和他的同事这里，可以得到专业、详尽的诊断。远程诊断服务为不具备条件的基层医院诊疗疑难眼症提供了可能，也让更多的病人在家附近的医院享受到了国际级别的诊断服务。</p>
            <h4>难忘外公</h4>
            <p>蹇文渊从小在外公外婆膝下长大，外公外婆家几乎跟自己家无异，蹇文渊对他们有特别深的感情。外公上年纪以后，患糖尿病视网膜病变，眼底已有黄斑水肿、大片出血，新生血管，症状非常严重，甚至无法看清眼前事物，对生活造成了极大的影响。但又因外公同时患有心衰、肾衰竭等多种疾病，病情非常复杂，去医院治疗眼睛连最保守的方法都无法进行。蹇文渊那时正在读博士，外公担心会打扰蹇文渊学习，病情一直瞒着他，还是母亲打电话告知蹇文渊才知道，当时他心疼外公几乎眼泪都要掉下来了。蹇文渊当即运用毕生所学，根据外公的症状很用心地开了一副中药。外公特别信任外孙，服下了外孙为自己开的药。奇迹般地，一周后，外公居然能像正常人一样看电视了。当时妈妈很激动地给蹇文渊打电话：“你外公又能看得到了！”</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorJwy_5.jpg") %>
            </div>
            <p>外公去世后，蹇文渊回想外公在患病期间，能用自己所学的中医为外公减轻病痛，也算是不负所望，心中稍感安慰。他也很骄傲自己能用中医为亲人、朋友、陌生人治病，他相信外公在天国也会欣慰的。</p>
            <p>蹇文渊喜欢摄影，但忙于医疗、科研、教学工作已经好久顾不上拿起相机去拍照了，翻出几年前拍的照片，蹇文渊开心得像个孩子。</p>
            <p>昨天晚上九寨县7.0级地震，蹇文渊作为医生有格外的关切和责任感。他说，如果有需要，自已随时可以冲到前线。他不愿意看到伤亡人数再增加。同时，蹇文渊提醒一心趴在工作上的人，一定要注意自己的健康，每个人的身体不光是自己的，也是整个家庭的，会有很多人牵挂你、关心你，要对自己负责，对家人负责！</p>

        </div>
    </div>
</div>




