<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>雾霾天！拿什么拯救你那双脆弱的眼睛?</h5>
            <p class="rightWord">2017-11-08</p>
        </div>

        <div>
            <p>昨天的重磅消息不用说了吧，大家也应该知道了，至少感受到了。成都市公安局交通管理局发布重污染天气三级预警（黄色）临时交通管理措施，自2017年11月8日零时起，至预警结束次日零时止。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_1.jpg") %>
                <p>工作日6:00至22:00期间 绕城（不含）以内尾号限行（黄色预警）</p>
            </div>
            <p>1、绕城高速公路G4201（不含）环线内区域，工作日的06:00至22:00时段，机动车按号牌最后一位阿拉伯数字实行汽车尾号限行。</p>
            <p>2、绕城高速公路G4201（不含）环线内区域，工作日的06:00至22:00时段，国III（不含）以下排放标准的汽油车和柴油车禁止通行。</p>
            <p>3、建筑垃圾运输车辆以及运输煤炭、砂石（砖）、水泥等易产生扬尘的运输车辆全天24小时禁止通行。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_2.jpg") %>
            </div>
            <p>重点当然不是限行区域扩大了，而是雾霾天终究还是来了！难怪不得最近几天身体各种不舒适，不过不怕，它有“张良计”，我有“过墙梯”。料想不用多久，帽子、口罩、手套定会齐上阵。防霾套装虽然齐备，但是仍有不足，那双脆弱的双眼还暴露在外，如何保护呢？</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_3.jpg") %>
            </div>
            <p>看到你那一副专注的神情就知道你没有想过，还好这有一大波专业、实用的小妙招供你参考。前方高能，注意接收。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_4.jpg") %>
            </div>
            <p>要知道眼睛的部分营养成分来自空气，良好的空气质量可以养护眼睛。如果身处雾霾天，眼睛会受到外界不良空气侵害，产生干涩、流泪、眼痒等不适的症状。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_5.jpg") %>
            </div>
            <p>雾霾天，我们应该减少外出活动。确实要外出者，最好佩戴透明或有色眼镜，减轻雾霾对眼睛的损伤。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_6.jpg") %>
            </div>
            <p>隐形眼镜佩戴者要格外小心雾霾天，气压低会加快眼睛缺氧，空气中的有害成分会将会溶解在泪液中，刺激眼角膜。最初眼睛不舒服、有异物感、疼痛、畏光、流泪，时间长了，这种不适会更加明显，眼角膜会因此受伤。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_7.jpg") %>
            </div>
            <p>随时注意用眼卫生很重要！用干净毛巾蘸水擦洗脸部及眼部，减少有毒颗粒物附着的时间。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wmthy_8.jpg") %>
            </div>
            <p>雾霾天气出现眼部不适时，切不可自行随意购买眼药水。因为雾霾的组成成份复杂，如果没有对症下药，反而会对眼睛造成影响，如果原来患有干眼的人群使用抗生素反而会加重病情。病情严重者需及时到大型专科医院就医，治疗方式包括中药熏蒸和抗过敏药物的使用等。</p>

        </div>
    </div>
</div>

