<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>留学妹纸近视变形记 摘掉11年眼镜美美哒</h5>
            <p class="rightWord">2017-06-26</p>
        </div>

        <div>
            <p>2017年6月9日，趁暑假飞回国的我终于做了近视手术，最激动和开心的是，我的手术是在爸爸工作的眼科医院做的，虽然不是爸爸亲自给我手术，却是知名眼科大咖北京同仁医院视光中心主任周跃华叔叔主刀及技术高超的眼视光医生给我做的！</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li>
                        <%= image_tag("news_lxmz_1.jpg") %>
                    </li>
                    <li>
                        <%= image_tag("news_lxmz_2.jpg") %>
                    </li>
                </ul>
                <p>眼镜照，以后见不到咯</p>
            </div>
            <p><b>书呆子形象，NO!</b></p>
            <p>小婕现就读于美国宾夕法尼亚大学化学工程专业，几年的留学生活，让她养成了十分独立、沉稳、活泼的性格。小婕拥有一双美丽的大眼睛，但你却不知道她的大眼睛被戴了11年的框架眼镜抢镜了，这是一直以来都让她非常苦恼的事情。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li>
                        <%= image_tag("news_lxmz_3.jpg") %>
                    </li>
                    <li>
                        <%= image_tag("news_lxmz_4.jpg") %>
                    </li>
                </ul>
                <p>什么也不能阻挡，我对大海的向往</p>
            </div>
            <p>当问及做近视手术的原因时，小婕很认真地说，“因为近视对学习、生活都造成很大的影响，所以日常都是以框架眼镜为主，长期戴镜总觉得自己像个书呆子。平时喜欢冲浪、潜水等运动，但因为戴镜都不能随心所欲的和小伙伴玩耍。爱美之心人皆有之，女生戴眼镜非常不美观，加上今后毕业工作难免会经常化妆，所以赶紧趁暑假把近视手术做了。”</p>
            <p><b>世界从未如此清晰</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_lxmz_5.jpg") %>
                <p>小哥哥给我做术前检查呢</p>
            </div>
            <p>其实作为美国留学生，小婕回国做近视手术的原因不仅仅是因为近视影响美观，更是因为父亲就是银海眼科医院的一名眼科医生，让自己了解到银海眼科医院引进高端的眼科设备，医生经验丰富技术水平值得信赖，所以对于近视手术的安全性和可靠性，小婕丝毫也不担心。手术前，银海眼科医院眼视光中心医护人院为小婕做了20余项全面严格的术前检查，各项检查指标都显示她非常适合蔡司Smile3.0全飞秒手术。了解的越多，心中越坦然，走上手术台的小婕也很安心。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lxmz_6.jpg") %>
                <p>猜猜谁是周叔叔</p>
            </div>
            <p>北京同仁医院视光中心主任、银海眼科医院眼视光中心名誉主任周跃华教授主刀此次手术，“手术过程比想象中快，不到10分钟就结束了。术后第一天，看到如此清晰的世界我都有种不敢相信的感觉，太清晰了！”小婕激动地说道。</p>
            <p><b>阳光、海浪、沙滩，我来了</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_lxmz_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lxmz_8.jpg") %>
            </div>
            <p>手术后小婕按时到医院复查，手术很成功，目前视力已经恢复到1.2。小婕终于可以不受框架眼镜得束缚，露出了大眼睛和双眼皮，也可以化个美美的妆、运动健身、游泳潜水、大快朵颐的吃火锅了。原来摘掉眼镜是如此美妙的体验，希望小婕以后一定要好好爱护自己的眼睛！</p>
        </div>
    </div>
</div>





