<div class="middle flow">
    <ul class="newsAll newsAllList">
        <li>
            <%= link_to :'近视手术千频时代正式开启，全国首台阿玛仕1050RS全激光在银海眼科开机',news_path(:全国首台阿玛仕1050RS全激光在银海眼科开机) %>
        </li>
        <li>
            <%= link_to :'眼科学院2017级研究生毕业答辩顺利举行',news_path(:眼科学院2017级研究生毕业答辩顺利举行) %>
        </li>
        <li>
            <%= link_to :'“睛彩童年，点亮视界“我院第一期爱眼小博士主题活动圆满落幕',news_path(:我院第一期爱眼小博士主题活动圆满落幕) %>
        </li>
        <li>
            <%= link_to :'目之所及、心之所往：中医大银海眼科医院正式对外开诊',news_path(:中医大银海眼科医院正式对外开诊) %>
        </li>
        <li>
            <%= link_to :'端午佳节送健康 社区眼健康义诊暖人心', news_path(:端午佳节送健康社区眼健康义诊暖人心) %>
        </li>
        <li>
            <%= link_to :'2017四川省科技周启动 我院应雅安市人民政府邀请参加',news_path(:我院应雅安市人民政府邀请参加) %>
        </li>
        <li>
            <%= link_to :'著名眼底病专家文峰、眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任',news_path(:眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任) %>
        </li>
        <li>
            <%= link_to :'成都中医药大学党委书记刘毅来我院参观并指导工作',news_path(:成都中医药大学党委书记刘毅来我院参观并指导工作) %>
        </li>
        <li>
            <%= link_to :'著名白内障专家朱思泉、著名眼底病专家刘文正式加盟银海眼科医院',news_path(:朱思泉刘文正式加盟银海眼科医院) %>
        </li>
        <li>
            <%= link_to :'成都中医药大学附属银海眼科医院 引智引才建设一流学科',news_path(:引智引才建设一流学科) %>
        </li>
        <li>
            <%= link_to  :'【多彩漫画·童心绘】眼健康科普走进泡桐树小学（西区）',news_path(:眼健康科普走进泡桐树小学), class:"hrefTitWord" %>
        </li>
        <li>
            <%= link_to  :'守护心灵之窗—沙河源小学眼健康科普公益活动',news_path(:守护心灵之窗沙河源小学眼健康科普公益活动), class:"hrefTitWord" %>
        </li>
        <li>
            <%= link_to  :'近视防控显成效，沙河源小学来中医大银海眼科医院致谢',news_path(:近视防控显成效沙河源小学来中医大银海眼科医院致谢), class:"hrefTitWord" %>
        </li>

        <li>
            <%= link_to :'“大爱无疆·善行天下”眼健康公益活动继续前行',news_path(:眼健康公益活动继续前行) %>
        </li>

        <li>
            <%= link_to :'我院眼健康公益行走进国家重点优势企业 ——中航工业成飞公司',news_path(:我院眼健康公益行走进国家重点优势企业) %>
        </li>
        <li>
            <%= link_to :'“大爱无疆•善行天下”眼健康公益行之美视国际学校',news_path(:眼健康公益行之美视国际学校) %>
        </li>
        <li>
            <%= link_to :'我院继续携手沙河源小学 开展眼健康科普校园公益行活动',news_path(:开展眼健康科普校园公益行活动) %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家” 社区公益行走进金仙桥社区',news_path(:社区公益行走进金仙桥社区) %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行走进马家花园社区',news_path(:走进马家花园社区) %>
        </li>
        <li>
            <%= link_to :'重磅丨国家著名眼底病专家刘文教授正式入驻我院',news_path(:国家著名眼底病专家刘文教授正式入驻我院) %>
        </li>
        <li>
            <%= link_to :'我院眼健康科普校园公益行走进成都军区机关第一幼儿园',news_path(:我院眼健康科普校园公益行走进成都军区机关第一幼儿园) %>
        </li>
        <li>
            <%= link_to :'“大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行',news_path(:我院赴基层为眼健康公益事业继续前行) %>
        </li>
        <li>
            <%= link_to :'成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议',news_path(:成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议) %>
        </li>

        <li>
            <%= link_to :'三月眼健康科普月校园公益行最后一站在沙河源小学圆满结束',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000157&idx=1&sn=907b6193e02d7c53bcb72db944d023e8&chksm=16d0876c21a70e7ae5aaefb744a25611d35559dddd2df22e86416cad5d960dc7520afcd412e3#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普校园公益行走进成都师范附属小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000155&idx=1&sn=defed5d124d4932cb20dae298f731701&chksm=16d0876a21a70e7c30a5b18f90ea1e472b32f27403d6872ac68b72aa525c75a81e226f12d7bc#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行走进城隍庙社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000153&idx=1&sn=2d2d15230f635e556b556c764d1e7bae&chksm=16d0876821a70e7ec8e6d64a3d178e4db82f8e71ce48ca727e840afe5ef9a08576fc11092923#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进胜西小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000153&idx=2&sn=bb5fdfb7139d46fd15c727b773903e00&chksm=16d0876821a70e7e7950f334e2057fff19a43c7310b5eb6547f16fef0acbaaa6fe7b53d0f727#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进七中·八一学校',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000151&idx=1&sn=d5bdda68e1c356910dc964aacb2b9e60&chksm=16d0876621a70e70f8b8364762fed818994547e982e00dcdeaff559a5ae5991cee4598d741b0#rd",target: "_blank"%>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行走进花园国际小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000151&idx=2&sn=78c3b9fed7565fc5d55208871d097c40&chksm=16d0876621a70e70292f837d506d16be00134253585acde1a4b7504cae4c21185ba6c8b64957#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院赴得荣县“对口扶贫.精准复明”公益援助活动取得园满成功',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000149&idx=1&sn=b1400e29bb4fe9078199ab41fe776fdd&chksm=16d0876421a70e72dcb98f0fb3f6e7a2fd616c26057a0d92787da8fcc675e3de0a9db67a3d7b#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”社区公益行走进西南家属区委员会',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000147&idx=1&sn=e9aa7c897f47a376f7211de07735aead&chksm=16d0876221a70e741551c1e4c9ba28d30eb452e1075a482a34bd309127ec698cb51a8e06b2ea#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”社区公益行走进营门口社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000147&idx=2&sn=c1e89cae3a3179aa1f7f9d1f620dcb5d&chksm=16d0876221a70e7422acc68e6c347c5927f888cd99d50694a0b7f8d14fffeeab4a5609c22b24#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '成都中医药大学党委书记刘毅一行看望并慰问我院专家及医务人员',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000145&idx=1&sn=2c4f60843f414ee7bcf313782d4435d1&chksm=16d0876021a70e76441b72bd75e90b196c26c07a004021fcdd7b12896041c51702d946176b04#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月深入甘孜州得荣县全面开展“对口扶贫·精准复明”公益活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000143&idx=1&sn=c1f9bb443ecac88d567c064114934950&chksm=16d0877e21a70e68086ec927848012ee834ce9babdcec5e92cab39a83e572bc39c44a5a5b906#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '成都中医大银海眼科医院与甘孜州得荣县人民政府签订协议，启动“对口扶贫·精准复明”计划',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000141&idx=1&sn=f13d176d8ca0f21684f86b2a7ed6258d&chksm=16d0877c21a70e6a45988b200e367c729714f7ec28c91445455cfe8127c3687d3fd0c8962698#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月深入甘孜州得荣县 开展“对口扶贫●精准复明”公益活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000139&idx=1&sn=355fe35cc7357bb2564536f96e135c5a&chksm=16d0877a21a70e6cb6c93245c3eb593735b0634c016cb8698095701372d208eddb00b64b3723#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进石笋街小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000137&idx=1&sn=2d561961eef9b1fe48e95457cb2529af&chksm=16d0877821a70e6eb898fe6681c37bdee2d151b789fec93571ecf24147033b8059586fae996d#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>
        <li>
            <%= link_to '',"" %>
        </li>









    </ul>

</div>