<div class="middle flow">
    <ul class="newsAll newsAllList">
        <li>
            <%= link_to :'近视手术千频时代正式开启，全国首台阿玛仕1050RS全激光在银海眼科开机',news_path(:全国首台阿玛仕1050RS全激光在银海眼科开机) %>
        </li>
        <li>
            <%= link_to :'眼科学院2017级研究生毕业答辩顺利举行',news_path(:眼科学院2017级研究生毕业答辩顺利举行) %>
        </li>
        <li>
            <%= link_to :'“睛彩童年，点亮视界“我院第一期爱眼小博士主题活动圆满落幕',news_path(:我院第一期爱眼小博士主题活动圆满落幕) %>
        </li>
        <li>
            <%= link_to :'目之所及、心之所往：中医大银海眼科医院正式对外开诊',news_path(:中医大银海眼科医院正式对外开诊) %>
        </li>
        <li>
            <%= link_to :'端午佳节送健康 社区眼健康义诊暖人心', news_path(:端午佳节送健康社区眼健康义诊暖人心) %>
        </li>
        <li>
            <%= link_to :'2017四川省科技周启动 我院应雅安市人民政府邀请参加',news_path(:我院应雅安市人民政府邀请参加) %>
        </li>
        <li>
            <%= link_to :'著名眼底病专家文峰、眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任',news_path(:眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任) %>
        </li>
        <li>
            <%= link_to :'成都中医药大学党委书记刘毅来我院参观并指导工作',news_path(:成都中医药大学党委书记刘毅来我院参观并指导工作) %>
        </li>
        <li>
            <%= link_to :'著名白内障专家朱思泉、著名眼底病专家刘文正式加盟银海眼科医院',news_path(:朱思泉刘文正式加盟银海眼科医院) %>
        </li>
        <li>
            <%= link_to :'成都中医药大学附属银海眼科医院 引智引才建设一流学科',news_path(:引智引才建设一流学科) %>
        </li>
        <li>
            <%= link_to  :'【多彩漫画·童心绘】眼健康科普走进泡桐树小学（西区）',news_path(:眼健康科普走进泡桐树小学), class:"hrefTitWord" %>
        </li>
        <li>
            <%= link_to  :'守护心灵之窗—沙河源小学眼健康科普公益活动',news_path(:守护心灵之窗沙河源小学眼健康科普公益活动), class:"hrefTitWord" %>
        </li>
        <li>
            <%= link_to  :'近视防控显成效，沙河源小学来中医大银海眼科医院致谢',news_path(:近视防控显成效沙河源小学来中医大银海眼科医院致谢), class:"hrefTitWord" %>
        </li>

        <li>
            <%= link_to :'“大爱无疆·善行天下”眼健康公益活动继续前行',news_path(:眼健康公益活动继续前行) %>
        </li>

        <li>
            <%= link_to :'我院眼健康公益行走进国家重点优势企业 ——中航工业成飞公司',news_path(:我院眼健康公益行走进国家重点优势企业) %>
        </li>
        <li>
            <%= link_to :'“大爱无疆•善行天下”眼健康公益行之美视国际学校',news_path(:眼健康公益行之美视国际学校) %>
        </li>
        <li>
            <%= link_to :'我院继续携手沙河源小学 开展眼健康科普校园公益行活动',news_path(:开展眼健康科普校园公益行活动) %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家” 社区公益行走进金仙桥社区',news_path(:社区公益行走进金仙桥社区) %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行走进马家花园社区',news_path(:走进马家花园社区) %>
        </li>
        <li>
            <%= link_to :'重磅丨国家著名眼底病专家刘文教授正式入驻我院',news_path(:国家著名眼底病专家刘文教授正式入驻我院) %>
        </li>
        <li>
            <%= link_to :'我院眼健康科普校园公益行走进成都军区机关第一幼儿园',news_path(:我院眼健康科普校园公益行走进成都军区机关第一幼儿园) %>
        </li>
        <li>
            <%= link_to :'“大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行',news_path(:我院赴基层为眼健康公益事业继续前行) %>
        </li>
        <li>
            <%= link_to :'成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议',news_path(:成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议) %>
        </li>

        <li>
            <%= link_to :'三月眼健康科普月校园公益行最后一站在沙河源小学圆满结束',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000157&idx=1&sn=907b6193e02d7c53bcb72db944d023e8&chksm=16d0876c21a70e7ae5aaefb744a25611d35559dddd2df22e86416cad5d960dc7520afcd412e3#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普校园公益行走进成都师范附属小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000155&idx=1&sn=defed5d124d4932cb20dae298f731701&chksm=16d0876a21a70e7c30a5b18f90ea1e472b32f27403d6872ac68b72aa525c75a81e226f12d7bc#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行走进城隍庙社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000153&idx=1&sn=2d2d15230f635e556b556c764d1e7bae&chksm=16d0876821a70e7ec8e6d64a3d178e4db82f8e71ce48ca727e840afe5ef9a08576fc11092923#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进胜西小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000153&idx=2&sn=bb5fdfb7139d46fd15c727b773903e00&chksm=16d0876821a70e7e7950f334e2057fff19a43c7310b5eb6547f16fef0acbaaa6fe7b53d0f727#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进七中·八一学校',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000151&idx=1&sn=d5bdda68e1c356910dc964aacb2b9e60&chksm=16d0876621a70e70f8b8364762fed818994547e982e00dcdeaff559a5ae5991cee4598d741b0#rd",target: "_blank"%>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行走进花园国际小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000151&idx=2&sn=78c3b9fed7565fc5d55208871d097c40&chksm=16d0876621a70e70292f837d506d16be00134253585acde1a4b7504cae4c21185ba6c8b64957#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院赴得荣县“对口扶贫.精准复明”公益援助活动取得园满成功',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000149&idx=1&sn=b1400e29bb4fe9078199ab41fe776fdd&chksm=16d0876421a70e72dcb98f0fb3f6e7a2fd616c26057a0d92787da8fcc675e3de0a9db67a3d7b#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”社区公益行走进西南家属区委员会',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000147&idx=1&sn=e9aa7c897f47a376f7211de07735aead&chksm=16d0876221a70e741551c1e4c9ba28d30eb452e1075a482a34bd309127ec698cb51a8e06b2ea#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”社区公益行走进营门口社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000147&idx=2&sn=c1e89cae3a3179aa1f7f9d1f620dcb5d&chksm=16d0876221a70e7422acc68e6c347c5927f888cd99d50694a0b7f8d14fffeeab4a5609c22b24#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '成都中医药大学党委书记刘毅一行看望并慰问我院专家及医务人员',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000145&idx=1&sn=2c4f60843f414ee7bcf313782d4435d1&chksm=16d0876021a70e76441b72bd75e90b196c26c07a004021fcdd7b12896041c51702d946176b04#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月深入甘孜州得荣县全面开展“对口扶贫·精准复明”公益活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000143&idx=1&sn=c1f9bb443ecac88d567c064114934950&chksm=16d0877e21a70e68086ec927848012ee834ce9babdcec5e92cab39a83e572bc39c44a5a5b906#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '成都中医大银海眼科医院与甘孜州得荣县人民政府签订协议，启动“对口扶贫·精准复明”计划',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000141&idx=1&sn=f13d176d8ca0f21684f86b2a7ed6258d&chksm=16d0877c21a70e6a45988b200e367c729714f7ec28c91445455cfe8127c3687d3fd0c8962698#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月深入甘孜州得荣县 开展“对口扶贫●精准复明”公益活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000139&idx=1&sn=355fe35cc7357bb2564536f96e135c5a&chksm=16d0877a21a70e6cb6c93245c3eb593735b0634c016cb8698095701372d208eddb00b64b3723#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进石笋街小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000137&idx=1&sn=2d561961eef9b1fe48e95457cb2529af&chksm=16d0877821a70e6eb898fe6681c37bdee2d151b789fec93571ecf24147033b8059586fae996d#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进驷马桥小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000135&idx=1&sn=8b9cea2283c755e0d73d33b1f6c57092&chksm=16d0877621a70e60df2433bade5cfea237b9048262d43217c3bee594fd330b083177882d5b2a#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行再次走进沙河源小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000132&idx=1&sn=cecb8e6a8043f8c761103b0c55bb9859&chksm=16d0877521a70e6311a7c4e3de5b80107fd37b41dc30fe2292cd694dd0164b2eb3dcde33394b#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”三月眼健康科普公益行走进青年路社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000132&idx=2&sn=c4ee6c8fd78b49df4b3e8ae41ee900d1&chksm=16d0877521a70e63a162e18c76be9c00baa6ce9765b10bf83a6cc82756bff9bb7e987387743e#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进蜀汉外国语实验小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000132&idx=3&sn=5e89409eeecb2e92f1d75d52cc86d867&chksm=16d0877521a70e6319d0ed141958ed0c9006c8ca5ad3b51b4f14a03e4165fa232bfe6e072f03#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进人北实验小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000128&idx=1&sn=794247f5e47b2f58e61f0fda5829dc26&chksm=16d0877121a70e679be77753dd4878e511871551d05467e069b7655f9653c668fd9c5b8076ed#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家” 眼健康科普公益行走进基层送光明',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000127&idx=1&sn=9e0bf7c66d1a5ff5554e0f29f53e766c&chksm=16d0878e21a70e98303d6c6e271a72e75b03a094a918530949dd5239d8c75856c1c50b0c2050#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家” 社区公益行——营门口路社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000113&idx=1&sn=30589609b8e0861ad8852134d98c0405&chksm=16d0878021a70e9615beeec7ae2c580ae8db6ed1004f8140ad53e4df91a0f3c13b694c1d4a64#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院扎实有效开展志愿者眼健康科普知识培训活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000113&idx=2&sn=9510c8857248195cca695533671c5570&chksm=16d0878021a70e9668dce88249b01114600c4f43802f21147ed19c51005bfc3e16a5f08171b5#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行之沙河源小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000113&idx=3&sn=ffa3f191c760538c4c8762db16c798c2&chksm=16d0878021a70e96df90cb1b4397451205a87e9875bcf80d4b5b12e2e9a1cc338f3cd6e21dc1#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行走进成飞小学（第一站）',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000111&idx=1&sn=2e67c51f3c5d74c56ff2b0868007c119&chksm=16d0879e21a70e88fa0c8ead057a899646b92912ee9b666af45fc1f77952c101f9e14d03c98c#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院眼科团队研发的创新药中药芪明颗粒、丹红化瘀口服液双双列入最新国家医保目录',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000109&idx=1&sn=58d9ff48ef668c3ea2dced281c59bfcf&chksm=16d0879c21a70e8accd245dacc83479996f02e095b1c67896d863240f99b019b938f91470e18#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '大爱无疆·善行天下——泡桐树中学眼健康科普公益行',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000104&idx=1&sn=f492d4cd33a5861fd26f4a443aba0bc5&chksm=16d0879921a70e8fd31cff08578286b12cc5722e632efb1e509169e661823e7bcf9bdb8ee4a7#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '副省长杨洪波看望慰问我院院长、全国杰出专业技术人才段俊国教授',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000098&idx=1&sn=392a08719706d9b142759493affb3d0c&chksm=16d0879321a70e85d91ecfd897d1a3be78783ec0b5df57d006c88a58fd70712c4513acc551eb#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“大爱无疆·善行天下”眼健康公益行走进成都中医药大学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000093&idx=1&sn=d81693aca8d31550e7fd5e7cc2dcfb0d&chksm=16d087ac21a70ebaa1e603dfdb94cc4b10cfea7d9c1fc1362c9265d5623b7bc659c3782f7389#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '大爱无疆 · 善行天下 —— 四川省视力保护科普基地“流动科普馆” 珙县公益行',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000091&idx=1&sn=d4211d8551598eab9c08d3efd733dc60&chksm=16d087aa21a70ebca1f1a2e9df7ba321fb75faf1236ae389b78e310cbedccfe9bffee634535e#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '四川省视力保护科普基地“流动科普馆”公益行——沙河源小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000089&idx=1&sn=37ebf5760d19411bf83472633cf307bf&chksm=16d087a821a70ebed13ad8e8dc40d72dba3b491d9a4a3f0e3b7eae838d5acf0ece8d604d3ccb#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '四川省视力保护科普基地“流动科普馆” 公益行发车仪式',news_path(:公益行发车仪式) %>
        </li>
        <li>
            <%= link_to '四川省视力保护科普基地流动科普馆启动仪式隆重举行',news_path(:四川省视力保护科普基地流动科普馆启动仪式隆重举行) %>
        </li>
        <li>
            <%= link_to '我院举行大型“爱眼护眼”校园科普教育活动',news_path(:我院举行大型爱眼护眼校园科普教育活动) %>
        </li>
        <li>
            <%= link_to '成都中医药大学视网膜图像技术国家国际科技合作专项通过专家验收',news_path(:成都中医药大学视网膜图像技术国家国际科技合作专项通过专家验收) %>
        </li>
        <li>
            <%= link_to '第五届中医药现代化国际科技大会胜利召开',news_path(:第五届中医药现代化国际科技大会胜利召开) %>
        </li>
        <li>
            <%= link_to ' %>
        </li>
        <li>
            <%= link_to ' %>
        </li>
        <li>
            <%= link_to ' %>
        </li>









    </ul>

</div>