<div class="middle flow">
    <ul class="newsAll newsAllList">
        <li>
            <%= link_to :'眼科学院2017级研究生毕业答辩顺利举行',news_path(:眼科学院2017级研究生毕业答辩顺利举行) %>
        </li>
        <li>
            <%= link_to :'“睛彩童年，点亮视界“我院第一期爱眼小博士主题活动圆满落幕',news_path(:我院第一期爱眼小博士主题活动圆满落幕) %>
        </li>
        <li>
            <%= link_to :'目之所及、心之所往：中医大银海眼科医院正式对外开诊',news_path(:中医大银海眼科医院正式对外开诊)%>
        </li>
        <li>
            <%= link_to :'端午佳节送健康 社区眼健康义诊暖人心' %>
        </li>
        <li>
            <%= link_to :'2017四川省科技周启动 我院应雅安市人民政府邀请参加' %>
        </li>
        <li>
            <%= link_to :'著名眼底病专家文峰、眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任' %>
        </li>
        <li>
            <%= link_to :'成都中医药大学党委书记刘毅来我院参观并指导工作' %>
        </li>
        <li>
            <%= link_to :'著名白内障专家朱思泉、著名眼底病专家刘文正式加盟银海眼科医院' %>
        </li>
        <li>
            <%= link_to :'成都中医药大学附属银海眼科医院 引智引才建设一流学科' %>
        </li>
        <li>
            <%= link_to :'“大爱无疆·善行天下”眼健康公益活动继续前行' %>
        </li>

    </ul>

</div>