<div class="middle flow">
    <div class="newsAll">
    <ul class="newsAllList">
        <li>
            <%= link_to news_path(:近视烦恼多手术问题听我说) do %>
            <p>近视烦恼多，手术问题听我说<span class="fr">2017-09-27</span></p>
            <% end %>
        </li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000382&idx=1&sn=7f64154dc2da2178f874c1c0708884b2&chksm=7d4c422a4a3bcb3c5f12b92c84fee2264cc5a1724ec45cf909f437ba4e03b26eb47570bd1608#rd
" target="_blank">视觉第一 • 高原光明行（玉树）——我院携手中国狮子联会免费白内障手术援助公益行</a></li>
        <li>
            <%= link_to news_path(:中医大银海眼科医院正式托管甘孜州得荣县人民医院眼科) do %>
            <p>对口扶贫，精准复明--中医大银海眼科医院正式托管甘孜州得荣县人民医院眼科<span class="fr">2017-08-26</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:来自名医的护眼秘籍) do %>
            <p>来自名医的护眼秘籍<span class="fr">2017-08-24</span></p>
            <% end %>
        </li>

        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000374&idx=2&sn=a3d8791c69dd049fc866fcb24eb32581&chksm=7d4c42224a3bcb346bcfa8fef9613c97503fdb85ed9c01d92c0cd254a7511abf7330aa7c8805#rd
" target="_blank">摘下眼镜的你，不要太好看哦！</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000360&idx=1&sn=3be7fe0449c94608bb60867e3b93d045&chksm=7d4c423c4a3bcb2a3dd5cc60953281f66343e575774c722d5b9d4081eb29aa0381ea521e2b5c#rd
" target="_blank">八旬太婆亲送锦旗：你是我见过最好的医生！</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=1&sn=967979351c8e95baf254e51830261b82&chksm=7d4c42374a3bcb21e72eae314feca10a019b53fc4a924e9e6d39add7066bdec91e3e80e0f908#rd
" target="_blank">上海交通大学党委副书记、医学院党委书记范先群教授莅临我院指导</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=2&sn=39c61867b3b98f6988a34502c3815f1d&chksm=7d4c42374a3bcb212cd931503646510eef358e1dfbe04278bc100036b96b20922c0491fb7068#rd
" target="_blank">【喜讯】热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=3&sn=8067e5b285df397b219168065127daf9&chksm=7d4c42374a3bcb217588fe2fd009a7176a77e1cc8e116b7c2764dfb382cd79cd308d1b6f8e7f#rd" target="_blank">视网膜脱离的海外工程师：瞄不到妹子很难过！</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000349&idx=1&sn=e5735970400c850ed09768c833a8e751&chksm=7d4c42094a3bcb1f0b071a7b046f8d0b645d26db504bfa0245392c0b988fbe68ed515725f43b#rd" target="_blank">千里赴玉树，为爱起航！ ——我院携手中国狮子联会“举行白内障手术公益援助活动”，启动仪式在银海厅举行</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000349&idx=2&sn=c5d692a7c2e2bce35ef343da19062d0c&chksm=7d4c42094a3bcb1f665daca8992b9918b17c87e027ddeda12b8b0ef712823899ec57d8466308#rd" target="_blank">【银海名医——邓亚平】让一切如沐春风</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000347&idx=1&sn=738bcf380afd73445c0666b9990d3b90&chksm=7d4c420f4a3bcb1908ddcc131fd544fe6ed620905f5ec9c39eff426d89c80db5f4715911cbf1#rd" target="_blank">【银海天使】“我的孩子以我为荣”——田秋媛</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000344&idx=1&sn=a5249c2d852d1f36cf1bd924e86f68fa&chksm=7d4c420c4a3bcb1a5e98ebee02f44ef5d5c2b7cca830c4684068d6271410f82ef0025a9dd29a#rd" target="_blank">【银海天使】穿城而过送抵温暖——车智</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000340&idx=1&sn=9064d4a2d25786a1bdf085fddbe369fe&chksm=7d4c42004a3bcb162a05181b3e68dfbb98b65a82f5bb155a8caa85b95b6150220caa4c00671e#rd" target="_blank">从雾里看花到明辨三光——女医摘镜自白</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000090&idx=1&sn=3bbbfb7f973654d004f7fc0186e7f38e&chksm=7d4c410e4a3bc818b0f5ee3ef9401f715d750bc810b33e5b19adf4f8429c7eab916a4140674e#rd" target="_blank">目及银海, 眼镜走开——屈光术后有感</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000337&idx=1&sn=b8d0fe6f508b09b2bf2d7645b73638e6&chksm=7d4c42054a3bcb137312a23cc9fe74f3f2e7ec9fe64a1dcc71d1da5c1b29ef95869ec5f644b8#rd" target="_blank">我得了干眼症后，再也没有女朋友！</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000335&idx=1&sn=f98f23de45e08c168a91305a77560518&chksm=7d4c421b4a3bcb0dc7e7e5e6e0b7152a49ddd1e033215c754e1842b637b0d1cc41dd531fb578#rd" target="_blank">祝贺！我校廖品正国医大师荣获全国中医眼科终生成就奖，王明芳、邓亚平荣获突出贡献奖</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000335&idx=2&sn=c15da088e37334be3ef6dace7628e65a&chksm=7d4c421b4a3bcb0d6d96ce4215dfea0d132b0350a2f807869e58f200e76364cd8a474c89bbe8#rd" target="_blank">著名屈光手术专家周跃华教授在我院与患者开展"专家面对面"交流活动</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000330&idx=1&sn=09947f19cce9cd733fc22e7aabf3a317&chksm=7d4c421e4a3bcb08de3f6719d5b8f5220b484a92892e673defc3d98d36468ab849819869b58b#rd" target="_blank">【银海名医——王智慧】更加热爱生活，更加尊重生</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000330&idx=3&sn=8a77589304dda2a6ed5f6a3f1701736f&chksm=7d4c421e4a3bcb08657c446c11af147f2e24db1478da2fdd61feb6eaf7d8409ce9dad61fddd0#rd" target="_blank">19岁大男孩因眼疾丢掉工作，终在银海重启光明！</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000330&idx=2&sn=82b324b688d8390d78e4cd874104d0e9&chksm=7d4c421e4a3bcb081efda23d7c75a1e4f91071288178c9e788de44762bca71898973a0696a7a#rd" target="_blank">近视防控从小开始？具体该怎么办？她都能为您解答 ——【健康方程式】小儿眼科主任袁晓辉访谈</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000327&idx=1&sn=b321abed252aca13a63ac682a96c8c81&chksm=7d4c42134a3bcb05f12bcf4fb7c5ec123bdcaf96baca8e63f3c8ee056c9c69a610528dfb5dee#rd" target="_blank">【银海名医—蹇文渊】执着中医的博士后</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000322&idx=1&sn=e64cedac46a26849aaa3ac6dd09bd298&chksm=7d4c42164a3bcb001415ab289bcae21e3be1d4938f7b49c615d9ab58dd7bec183224f301b848#rd" target="_blank">【银海名医——李强】有种热爱，叫深入骨髓</a></li>
        <li>
            <%= link_to news_path(:心系九寨) do %>
            <p>心系九寨，愿九寨平安！<span class="fr">2017-08-09</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:用我的心温暖你) do %>
            <p>【银海名医——缪馨】用我的心 温暖你<span class="fr">2017-08-04</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:视若仙子光明天使) do %>
            <p>【银海名医——谢艾芮】视若仙子，光明天使<span class="fr">2017-08-03</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:医院里的小燕子) do %>
            <p>【银海名医——陈小凤】医院里的小燕子<span class="fr">2017-08-01</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:战火硝烟中手术的眼科专家) do %>
            <p>【银海名医--潘学会】战火硝烟中手术的眼科专家<span class="fr">2017-07-31</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:金牛区区委书记刘玉泉书记一行来我院视察调研) do %>
            <p>金牛区区委书记刘玉泉书记一行来我院视察调研<span class="fr">2017-07-31</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:热心公益事业的医学学霸) do %>
            <p>【银海名医-黄霄】热心公益事业的医学学霸<span class="fr">2017-07-28</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:看庭前花开花落天上云卷云舒) do %>
            <p>我院首例近视手术术后新体验：看庭前花开花落,天上云卷云舒<span class="fr">2017-07-28</span></p>
            <% end %>
        </li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000236&idx=1&sn=8ee5972adb07a68548d1040ce193b4d4&chksm=7d4c41b84a3bc8ae01982999c53b25995dff66eb1e8cb236ff70789e98727c8e7b3a0e3ab016#rd" target="_blank">【银海名医—刘文】悬壶济世的“光明使者”</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000243&idx=3&sn=8981f33b6a248f5c4c632dd6916f8c7f&chksm=7d4c41a74a3bc8b1988a0f1b2326cf9f1841fac3c87a4c2142ccbe293a32333669cf638505fb#rd" target="_blank">【银海名医—周华祥】出血性眼病和干眼症，正在危害你的健康！</a></li>
        <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000243&idx=2&sn=ff2533af0d0489ce31a136310a9ee4c9&chksm=7d4c41a74a3bc8b11069b5c4a69cb8c823d325109b679f488450a28e1a139fcb93e264ea101a#rd" target="_blank">热烈祝贺！！王宁利教授和朱思泉教授被增列为我校眼科学院博士生导师</a></li>
        <li>
            <%= link_to news_path(:周跃华主任手术直播圆满成功) do %>
            <p>网友点赞！我院朱思泉副院长、周跃华主任手术直播圆满成功，双双获得肯定！<span class="fr">2017-07-21</span></p>
            <% end %>
        </li>

        <li>
            <%= link_to news_path(:将病根彻底拔除) do %>
            <p>【银海名医】将病根彻底拔除——张富文<span class="fr">2017-07-27</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:这个医生不太冷) do %>
            <p>【银海名医—路雪婧】这个医生不太冷，视患者如亲人<span class="fr">2017-07-25</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:孩子们亲切的护眼妈妈) do %>
            <p>【银海名医—袁晓辉】孩子们亲切的“护眼妈妈”<span class="fr">2017-07-21</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼科江湖中的屈光大侠) do %>
            <p>【银海名医-周春阳】眼科江湖中的屈光大侠<span class="fr">2017-07-21</span></p>
            <% end %>
        </li>

        <!--<li>-->
            <!--<a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000173&idx=1&sn=753fb249eb693c92fab8f6ed5a69b328&chksm=7d4c41f94a3bc8efe031fc923157bc97a84362419771504ceb3d3c55f5e740887408e97b2281#rd" target="_blank">不忘初心 永远跟党走 我院举行庆祝中国共产党96岁华诞党日活动</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000177&idx=1&sn=1f237b736cf589e510acce59d4fc1e00&chksm=7d4c41e54a3bc8f3d39fe24bc2852991fe9a3860c313f03e4005636ddc087d23ff6b72b06384#rd" target="_blank">小女孩的中医梦</a>-->
        <!--</li>-->

        <li>
            <%= link_to news_path(:我国现代眼科学奠基人陈耀真教授诞辰) do %>
            <p>我国现代眼科学奠基人陈耀真教授诞辰118周年纪念学术研讨会在蓉召开<span class="fr">2017-07-21</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我省首台美国飞秒激光系统在全国性眼科大会直播展风彩) do %>
            <p>我省首台美国LensAR 3D飞秒激光系统开机 在全国性眼科大会直播展风彩<span class="fr">2017-07-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:段俊国院长入选2016国家级创业领军人才) do %>
            <p>段俊国院长入选2016成都人才计划“国家级创业领军人才”<span class="fr">2017-07-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to 'http://news.huaxi100.com/index.php?m=content&c=index&a=show&catid=279&id=906272&mobile=yes', target: "_blank" do %>
            <em>【媒体报道】 </em>成都中医大银海眼科医院隆重举行开业庆典仪式 <span class="fr">2017-07-18</span>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:第三届国医大师首个工作室廖品正大师工作室在蓉成立) do %>
            <p>第三届国医大师首个工作室廖品正大师工作室在蓉成立 <span class="fr">2017-07-18</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:中国首个眼科分级诊疗联盟在四川成立) do %>
            <p>【华佗工程】眼科分级诊疗联盟在四川成立<span class="fr">2017-07-18</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to 'http://www.sc.chinanews.com/bwbd/2017-07-17/72069.html?from=singlemessage', target: "_blank" do %>
            <em>【媒体报道】 </em>成都中医大银海眼科医院在蓉开业 <span class="fr">2017-7-17</span>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:省中医药管理局局长田兴军来我院调研指导) do %>
            <p>省中医药管理局局长田兴军来我院调研指导<span class="fr">2017-07-05</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我院廖品正教授当选国医大师在京受表彰) do %>
            <p>我院廖品正教授当选国医大师在京受表彰<span class="fr">2017-06-29</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:摘掉11年眼镜美美哒) do %>
            <p>留学妹纸近视变形记 摘掉11年眼镜美美哒<span class="fr">2017-06-26</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:首批3D飞秒激光白内障手术获得成功) do %>
            <p>“省千人”朱思泉教授实施我院 首批3D飞秒激光白内障手术获得成功<span class="fr">2017-06-26</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:专家现场支招教你如何填报高考志愿) do %>
            <p>七分靠成绩 三分志愿拼 专家现场支招教你如何填报高考志愿<span class="fr">2017-06-26</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:且看其摘镜之旅) do %>
            <p>医学硕士成为摘镜女神，且看其摘镜之旅<span class="fr">2017-06-25</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:重获光明送锦旗表感谢) do %>
            <p>云南七旬奶奶慕名来蓉求医 重获光明送锦旗表感谢<span class="fr">2017-06-20</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:成都中医大眼科银海医院地铁呵护眼健康) do %>
            <p>“地铁护眼志愿者” 全国首创——爱眼月 成都中医大眼科银海医院地铁呵护眼健康<span class="fr">2017-06-12</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:全国首台阿玛仕1050RS全激光在银海眼科开机) do %>
            <p>近视手术千频时代正式开启，全国首台阿玛仕1050RS全激光在银海眼科开机<span class="fr">2017-06-08</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:全国首台阿玛仕1050RS全激光在银海眼科开机) do %>
            <p>近视手术千频时代正式开启，全国首台阿玛仕1050RS全激光在银海眼科开机<span class="fr">2017-6-08</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:爱眼月暨青少年近视防控能力提升计划在银海眼科启动) do %>
            <p>全国首个“爱眼月”暨青少年近视防控能力提升计划在银海眼科启动<span class="fr">2017-6-06</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:爱眼月暨青少年近视防控能力提升计划在银海眼科启动) do %>
            <p>全国首个“爱眼月”暨青少年近视防控能力提升计划在银海眼科启动<span class="fr">2017-6-06</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:国医大师廖品正教授正式到院坐诊) do %>
            <p>号外！号外！6月6日廖品正国医大师正式坐诊中医大银海眼科医院<span class="fr">2017-06-05</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼科学院2017级研究生毕业答辩顺利举行) do %>
            <p>眼科学院2017级研究生毕业答辩顺利举行<span class="fr">2017-05-30</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我院第一期爱眼小博士主题活动圆满落幕) do %>
            <p>“睛彩童年，点亮视界“我院第一期爱眼小博士主题活动圆满落幕<span class="fr">2017-05-29</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:中医大银海眼科医院正式对外开诊) do %>
            <p>目之所及、心之所往：中医大银海眼科医院正式对外开诊<span class="fr">2017-05-29</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:端午佳节送健康社区眼健康义诊暖人心) do %>
            <p>端午佳节送健康 社区眼健康义诊暖人心<span class="fr">2017-05-29</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我院应雅安市人民政府邀请参加) do %>
            <p>2017四川省科技周启动 我院应雅安市人民政府邀请参加<span class="fr">2017-05-29</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任) do %>
            <p>著名眼底病专家文峰、眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任<span class="fr">2017-05-20</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:首台阿玛仕1050RS落户中医大银海眼科医院) do %>
            <p>近视激光手术进入千频时代，首台阿玛仕1050RS落户中医大银海眼科医院<span class="fr">2017-05-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:成都中医药大学党委书记刘毅来我院参观并指导工作) do %>
            <p>成都中医药大学党委书记刘毅来我院参观并指导工作<span class="fr">2017-05-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:朱思泉刘文正式加盟银海眼科医院) do %>
            <p>著名白内障专家朱思泉、著名眼底病专家刘文正式加盟银海眼科医院<span class="fr">2017-05-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:成都中医药大学附属银海眼科医院引智引才建设一流学科) do %>
            <p>成都中医药大学附属银海眼科医院引智引才建设一流学科<span class="fr">2017-05-15</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:引智引才建设一流学科) do %>
            <p>成都中医药大学附属银海眼科医院引智引才建设一流学科<span class="fr">2017-05-15</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼健康科普走进泡桐树小学) do %>
            <p>【多彩漫画·童心绘】眼健康科普走进泡桐树小学（西区）<span class="fr">2017-5-9</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:守护心灵之窗沙河源小学眼健康科普公益活动) do %>
            <p>守护心灵之窗—沙河源小学眼健康科普公益活动<span class="fr">2017-05-05</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:近视防控显成效沙河源小学来中医大银海眼科医院致谢) do %>
            <p>近视防控显成效，沙河源小学来中医大银海眼科医院致谢<span class="fr">2017-05-02</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼科学院2017届硕士毕业典礼暨授位仪式隆重举行) do %>
            <p>眼科学院2017届硕士毕业典礼暨授位仪式隆重举行<span class="fr">2017-04-26</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼健康公益活动继续前行) do %>
            <p>“大爱无疆·善行天下”眼健康公益活动继续前行<span class="fr">2017-04-26</span></p>
            <% end %>
        </li>

        <li>
            <%= link_to news_path(:我院眼健康公益行走进国家重点优势企业) do %>
            <p>我院眼健康公益行走进国家重点优势企业 —— 中航工业成飞公司<span class="fr">2017-04-25</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:眼健康公益行之美视国际学校) do %>
            <p>“大爱无疆•善行天下”眼健康公益行之美视国际学校 <span class="fr">2017-04-21</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:开展眼健康科普校园公益行活动) do %>
            <p>我院继续携手沙河源小学开展眼健康科普校园公益行活动 <span class="fr">2017-04-21</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:社区公益行走进金仙桥社区) do %>
            <p>“关注眼健康，公益科普进万家” 社区公益行走进金仙桥社区 <span class="fr">2017-04-20</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:走进马家花园社区) do %>
            <p>“关注眼健康，公益科普进万家”社区公益行走进马家花园社区 <span class="fr">2017-04-20</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:国家著名眼底病专家刘文教授正式入驻我院) do %>
            <p>重磅丨国家著名眼底病专家刘文教授正式入驻我院 <span class="fr">2017-04-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我院眼健康科普校园公益行走进成都军区机关第一幼儿园) do %>
            <p>我院眼健康科普校园公益行走进成都军区机关第一幼儿园 <span class="fr">2017-04-18</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我院赴基层为眼健康公益事业继续前行) do %>
            <p>“大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行<span class="fr">2017-04-14</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议) do %>
            <p>成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议 <span class="fr">2017-04-05</span></p>
            <% end %>
        </li>

        <li>
            <%= link_to :'三月眼健康科普月校园公益行最后一站在沙河源小学圆满结束',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000157&idx=1&sn=907b6193e02d7c53bcb72db944d023e8&chksm=16d0876c21a70e7ae5aaefb744a25611d35559dddd2df22e86416cad5d960dc7520afcd412e3#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普校园公益行走进成都师范附属小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000155&idx=1&sn=defed5d124d4932cb20dae298f731701&chksm=16d0876a21a70e7c30a5b18f90ea1e472b32f27403d6872ac68b72aa525c75a81e226f12d7bc#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行走进城隍庙社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000153&idx=1&sn=2d2d15230f635e556b556c764d1e7bae&chksm=16d0876821a70e7ec8e6d64a3d178e4db82f8e71ce48ca727e840afe5ef9a08576fc11092923#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进胜西小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000153&idx=2&sn=bb5fdfb7139d46fd15c727b773903e00&chksm=16d0876821a70e7e7950f334e2057fff19a43c7310b5eb6547f16fef0acbaaa6fe7b53d0f727#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进七中·八一学校',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000151&idx=1&sn=d5bdda68e1c356910dc964aacb2b9e60&chksm=16d0876621a70e70f8b8364762fed818994547e982e00dcdeaff559a5ae5991cee4598d741b0#rd",target: "_blank"%>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行走进花园国际小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000151&idx=2&sn=78c3b9fed7565fc5d55208871d097c40&chksm=16d0876621a70e70292f837d506d16be00134253585acde1a4b7504cae4c21185ba6c8b64957#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院赴得荣县“对口扶贫.精准复明”公益援助活动取得园满成功',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000149&idx=1&sn=b1400e29bb4fe9078199ab41fe776fdd&chksm=16d0876421a70e72dcb98f0fb3f6e7a2fd616c26057a0d92787da8fcc675e3de0a9db67a3d7b#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”社区公益行走进西南家属区委员会',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000147&idx=1&sn=e9aa7c897f47a376f7211de07735aead&chksm=16d0876221a70e741551c1e4c9ba28d30eb452e1075a482a34bd309127ec698cb51a8e06b2ea#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”社区公益行走进营门口社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000147&idx=2&sn=c1e89cae3a3179aa1f7f9d1f620dcb5d&chksm=16d0876221a70e7422acc68e6c347c5927f888cd99d50694a0b7f8d14fffeeab4a5609c22b24#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '成都中医药大学党委书记刘毅一行看望并慰问我院专家及医务人员',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000145&idx=1&sn=2c4f60843f414ee7bcf313782d4435d1&chksm=16d0876021a70e76441b72bd75e90b196c26c07a004021fcdd7b12896041c51702d946176b04#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月深入甘孜州得荣县全面开展“对口扶贫·精准复明”公益活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000143&idx=1&sn=c1f9bb443ecac88d567c064114934950&chksm=16d0877e21a70e68086ec927848012ee834ce9babdcec5e92cab39a83e572bc39c44a5a5b906#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '成都中医大银海眼科医院与甘孜州得荣县人民政府签订协议，启动“对口扶贫·精准复明”计划',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000141&idx=1&sn=f13d176d8ca0f21684f86b2a7ed6258d&chksm=16d0877c21a70e6a45988b200e367c729714f7ec28c91445455cfe8127c3687d3fd0c8962698#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月深入甘孜州得荣县 开展“对口扶贫●精准复明”公益活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000139&idx=1&sn=355fe35cc7357bb2564536f96e135c5a&chksm=16d0877a21a70e6cb6c93245c3eb593735b0634c016cb8698095701372d208eddb00b64b3723#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进石笋街小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000137&idx=1&sn=2d561961eef9b1fe48e95457cb2529af&chksm=16d0877821a70e6eb898fe6681c37bdee2d151b789fec93571ecf24147033b8059586fae996d#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进驷马桥小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000135&idx=1&sn=8b9cea2283c755e0d73d33b1f6c57092&chksm=16d0877621a70e60df2433bade5cfea237b9048262d43217c3bee594fd330b083177882d5b2a#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行再次走进沙河源小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000132&idx=1&sn=cecb8e6a8043f8c761103b0c55bb9859&chksm=16d0877521a70e6311a7c4e3de5b80107fd37b41dc30fe2292cd694dd0164b2eb3dcde33394b#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家”三月眼健康科普公益行走进青年路社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000132&idx=2&sn=c4ee6c8fd78b49df4b3e8ae41ee900d1&chksm=16d0877521a70e63a162e18c76be9c00baa6ce9765b10bf83a6cc82756bff9bb7e987387743e#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进蜀汉外国语实验小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000132&idx=3&sn=5e89409eeecb2e92f1d75d52cc86d867&chksm=16d0877521a70e6319d0ed141958ed0c9006c8ca5ad3b51b4f14a03e4165fa232bfe6e072f03#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普校园公益行走进人北实验小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000128&idx=1&sn=794247f5e47b2f58e61f0fda5829dc26&chksm=16d0877121a70e679be77753dd4878e511871551d05467e069b7655f9653c668fd9c5b8076ed#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家” 眼健康科普公益行走进基层送光明',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000127&idx=1&sn=9e0bf7c66d1a5ff5554e0f29f53e766c&chksm=16d0878e21a70e98303d6c6e271a72e75b03a094a918530949dd5239d8c75856c1c50b0c2050#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“关注眼健康，公益科普进万家” 社区公益行——营门口路社区',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000113&idx=1&sn=30589609b8e0861ad8852134d98c0405&chksm=16d0878021a70e9615beeec7ae2c580ae8db6ed1004f8140ad53e4df91a0f3c13b694c1d4a64#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院扎实有效开展志愿者眼健康科普知识培训活动',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000113&idx=2&sn=9510c8857248195cca695533671c5570&chksm=16d0878021a70e9668dce88249b01114600c4f43802f21147ed19c51005bfc3e16a5f08171b5#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行之沙河源小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000113&idx=3&sn=ffa3f191c760538c4c8762db16c798c2&chksm=16d0878021a70e96df90cb1b4397451205a87e9875bcf80d4b5b12e2e9a1cc338f3cd6e21dc1#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '三月眼健康科普月校园公益行走进成飞小学（第一站）',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000111&idx=1&sn=2e67c51f3c5d74c56ff2b0868007c119&chksm=16d0879e21a70e88fa0c8ead057a899646b92912ee9b666af45fc1f77952c101f9e14d03c98c#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '我院眼科团队研发的创新药中药芪明颗粒、丹红化瘀口服液双双列入最新国家医保目录',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000109&idx=1&sn=58d9ff48ef668c3ea2dced281c59bfcf&chksm=16d0879c21a70e8accd245dacc83479996f02e095b1c67896d863240f99b019b938f91470e18#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '大爱无疆·善行天下——泡桐树中学眼健康科普公益行',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000104&idx=1&sn=f492d4cd33a5861fd26f4a443aba0bc5&chksm=16d0879921a70e8fd31cff08578286b12cc5722e632efb1e509169e661823e7bcf9bdb8ee4a7#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '副省长杨洪波看望慰问我院院长、全国杰出专业技术人才段俊国教授',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000098&idx=1&sn=392a08719706d9b142759493affb3d0c&chksm=16d0879321a70e85d91ecfd897d1a3be78783ec0b5df57d006c88a58fd70712c4513acc551eb#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '“大爱无疆·善行天下”眼健康公益行走进成都中医药大学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000093&idx=1&sn=d81693aca8d31550e7fd5e7cc2dcfb0d&chksm=16d087ac21a70ebaa1e603dfdb94cc4b10cfea7d9c1fc1362c9265d5623b7bc659c3782f7389#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '大爱无疆 · 善行天下 —— 四川省视力保护科普基地“流动科普馆” 珙县公益行',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000091&idx=1&sn=d4211d8551598eab9c08d3efd733dc60&chksm=16d087aa21a70ebca1f1a2e9df7ba321fb75faf1236ae389b78e310cbedccfe9bffee634535e#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to '四川省视力保护科普基地“流动科普馆”公益行——沙河源小学',"http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000089&idx=1&sn=37ebf5760d19411bf83472633cf307bf&chksm=16d087a821a70ebed13ad8e8dc40d72dba3b491d9a4a3f0e3b7eae838d5acf0ece8d604d3ccb#rd",target: "_blank" %>
        </li>
        <li>
            <%= link_to news_path(:公益行发车仪式) do %>
            <p>四川省视力保护科普基地“流动科普馆” 公益行发车仪式 <span class="fr">2017-01-09</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:四川省视力保护科普基地流动科普馆启动仪式隆重举行) do %>
            <p>四川省视力保护科普基地流动科普馆启动仪式隆重举行 <span class="fr">2016-12-31</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:我院举行大型爱眼护眼校园科普教育活动) do %>
            <p>我院举行大型“爱眼护眼”校园科普教育活动 <span class="fr">2016-11-23</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:成都中医药大学视网膜图像技术国家国际科技合作专项通过专家验收) do %>
            <p>成都中医药大学视网膜图像技术国家国际科技合作专项通过专家验收 <span class="fr">2016-11-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:第五届中医药现代化国际科技大会胜利召开) do %>
            <p>第五届中医药现代化国际科技大会胜利召开 <span class="fr">2016-11-19</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:段俊国院长会见美国哈佛大学Joslin糖尿病中心RichardJackson博士) do %>
            <p>段俊国院长会见美国哈佛大学Joslin糖尿病中心RichardJackson博士 <span class="fr">2016-11-17</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:成都中医大银海眼科医院揭牌仪式隆重举行) do %>
            <p>成都中医大银海眼科医院揭牌仪式隆重举行 <span class="fr">2016-11-10</span></p>
            <% end %>
        </li>
        <li>
            <%= link_to news_path(:哈佛大学医学院Jackson博士访问我院) do %>
            <p>哈佛大学医学院Jackson博士访问我院 <span class="fr">2016-08-19</span></p>
            <% end %>
        </li>
    </ul>
    <div class="flow pagesContainer">
        <div class="pages fr"></div>
    </div>
    </div>

</div>

<script>
//    Turbolinks.pagesCached(0);
    var news={
        num:15
    }
    var html="";
    for(var i=1;i<=Math.ceil($(".newsAllList li").length/news.num);i++){
        html+="<span>"+i+"</span>"
    }
    $(".pages").html(html);
    $(".newsAllList li").eq(news.num-1).nextAll().hide();
    $(".pages span").click(function () {
        var i = $(this).index();
        console.log(i);
        $(".newsAllList li").show().eq(news.num*i).prevAll().hide();
        $(".newsAllList li").eq(news.num*(i+1)-1).nextAll().hide();
    })
</script>

