<div class="middle flow">
    <ul class="newsAll newsAllList">
        <li>
            <%= link_to :'近视手术千频时代正式开启，全国首台阿玛仕1050RS全激光在银海眼科开机',news_path(:全国首台阿玛仕1050RS全激光在银海眼科开机) %>
        </li>
        <li>
            <%= link_to :'眼科学院2017级研究生毕业答辩顺利举行',news_path(:眼科学院2017级研究生毕业答辩顺利举行) %>
        </li>
        <li>
            <%= link_to :'“睛彩童年，点亮视界“我院第一期爱眼小博士主题活动圆满落幕',news_path(:我院第一期爱眼小博士主题活动圆满落幕) %>
        </li>
        <li>
            <%= link_to :'目之所及、心之所往：中医大银海眼科医院正式对外开诊',news_path(:中医大银海眼科医院正式对外开诊) %>
        </li>
        <li>
            <%= link_to :'端午佳节送健康 社区眼健康义诊暖人心', news_path(:端午佳节送健康社区眼健康义诊暖人心) %>
        </li>
        <li>
            <%= link_to :'2017四川省科技周启动 我院应雅安市人民政府邀请参加',news_path(:我院应雅安市人民政府邀请参加) %>
        </li>
        <li>
            <%= link_to :'著名眼底病专家文峰、眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任',news_path(:眼视光专家周跃华荣聘为中医大银海眼科医院名誉主任) %>
        </li>
        <li>
            <%= link_to :'成都中医药大学党委书记刘毅来我院参观并指导工作',news_path(:成都中医药大学党委书记刘毅来我院参观并指导工作) %>
        </li>
        <li>
            <%= link_to :'著名白内障专家朱思泉、著名眼底病专家刘文正式加盟银海眼科医院',news_path(:朱思泉刘文正式加盟银海眼科医院) %>
        </li>
        <li>
            <%= link_to :'成都中医药大学附属银海眼科医院 引智引才建设一流学科',news_path(:引智引才建设一流学科) %>
        </li>
        <li>
            <%= link_to :'“大爱无疆·善行天下”眼健康公益活动继续前行',news_path(:眼健康公益活动继续前行) %>
        </li>

        <li>
            <%= link_to :'我院眼健康公益行走进国家重点优势企业 ——中航工业成飞公司',news_path(:我院眼健康公益行走进国家重点优势企业) %>
        </li>
        <li>
            <%= link_to :'“大爱无疆•善行天下”眼健康公益行之美视国际学校' %>
        </li>
        <li>
            <%= link_to :'我院继续携手沙河源小学 开展眼健康科普校园公益行活动'%>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家” 社区公益行走进金仙桥社区'%>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行 走进马家花园社区' %>
        </li>
        <li>
            <%= link_to :'重磅丨国家著名眼底病专家刘文教授 正式入驻我院'%>
        </li>
        <li>
            <%= link_to :'我院眼健康科普校园公益行走进成都军区机关第一幼儿园' %>
        </li>
        <li>
            <%= link_to :'“大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行'%>
        </li>
        <li>
            <%= link_to :'成都中医大银海眼科医院与甘孜州得荣县人民医院签订眼科援助托管项目协议'%>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行最后一站在沙河源小学圆满结束'%>
        </li>
        <li>
            <%= link_to :'三月眼健康科普校园公益行走进成都师范附属小学'%>
        </li>
        <li>
            <%= link_to :'“关注眼健康，公益科普进万家”社区公益行走进城隍庙社区'%>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进胜西小学' %>
        </li>
        <li>
            <%= link_to :'三月眼健康科普月校园公益行走进七中·八一学校'%>
        </li>





    </ul>

</div>