<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医——王智慧】更加热爱生活，更加尊重生命</h5>
            <p class="rightWord">2017-08-11</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj12.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>王智慧</p>
                    <p>主任医师</p>
                    <p>四川省医师协会内分泌及糖尿病专委会委员，成都市內分泌及糖尿病专委会委员。</p>
                    <p>先后在第三軍医大学心血管专家何国祥教授、华西医科大学梁荩忠李秀均教授、西南师范大学黄希庭教授带教下分别进修学习心血管、内分泌、心理学。从事内科临床工作35年，对重症疑难糖尿病及高血压病、冠心病等内科疾病有着丰富的临床经验。</p>
                    <p>坐诊时间: 周一、周三上午</p>
                    <p>擅长领域:</p>
                    <p>从事内科临床工作35年，对重症疑难糖尿病及高血压病、冠心病等内科疾病有着丰富的临床经验。</p>
                </div>
            </fieldset>
            <p>8月8日晚21时19分，九寨沟县发生了7.0级地震，说起地震，王智慧医生特别关心灾区人民怎么样了，特别是孩子们的情况。2008年汶川地震时的救灾情况至今仍历历在目，那时王智慧医生和同事在帐篷里救治地震中受伤的人。他们救治了很多都江堰聚源中学的学生，想起孩子们在离开人世间之前对生命渴望的眼神，王智慧医生仍眼含泪水。</p>
            <p><b>24小时开机，随时准备急救</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorWzh_1.jpg") %>
            </div>
            <p>王智慧医生负责成都中医大银海眼科医院的内科治疗，但她的身影可能会出现在住院部的任何一个病房。来银海眼科医院就诊的眼科病人中，不少人同时合并有内科疾病。如糖尿病、高血压、冠心病、脑血管疾病等等问题，特别是一些老年人，病情尤其复杂，需要眼科医生和内科医生的同时医治。在做眼部手术的时候，为保障手术麻醉的安全，术前要对慢病患者进行有无手术禁忌的排查，如心动过缓患者有无病态窦房结综合征，王智慧医生都会亲自指导参与整个试验检查过程；眼科特检荧光造影，部分过敏体质的患者可能会出现过敏性休克，哪怕为了避免非常小的可能性，王医生也会一直守在旁边准备应对突发情况。这样的工作情况很多，而且不论是白天还是晚上，王智慧医生都必须保持手机24小时开机状态，随时准备抢救病人为患者做治疗。</p>
            <p>近日银海眼科医院接诊了一位39岁的白领女士，在工作中突然出现心慌、心悸、头晕，当即被同事送到了距离最近的银海眼科医院。王智慧医生急查心率每分钟达到了150次以上，立即做心电图提示室上性心动过速，当时状况非常危急，而且室上速已经持续了20分钟左右，白领女士的生命危在旦夕，王智慧医生尝试了常见降心率的方法按压眼球，没有起到效果，立即果断采取了颈动脉窦按摩，很快白领女士的心跳恢复到窦性心律，脱离生命危险。这样的紧急情况王智慧医生遇到过很多，她凭借35年丰富的临床经验，拯救过无数患者的生命。</p>
            <p><b>“最好的心理医生是自己”</b></p>
            <p>王智慧医生要求自己必须保持不断学习的进取状态，一直关注学术前沿，她常说的一句话是：“不学习就跟不上啦！”。除了自己内分泌专业，王智慧医生又系统进修了心血管、临床心理学等等学科，让自己有了更多的专业储备。“现在我又是一名眼科学生，只有对眼科知识的了解才能更好的为患者服务”王阿姨风趣、认真地说。王智慧医生尤其对心理学感兴趣，心理学的知识在她的临床诊疗过程中也起到了非常重要的作用。王智慧医生说，心身疾病现今临床非常常见，但目前我国医学的发展还远远跟不上。有些心血管、消化系统、呼吸系统出现问题的病人根源不在于器官本身，许多都是心理因素导致的躯体反应。如果我们医生没有强烈的责任心，没有掌握牢固的基础知识和专科技能，那就很容易误诊误治，这在临床上并不少见。心理上的疾病，包括抑郁症也同样会在患者身上以各种各样躯体不适的症状表现出来。如果只根据临床表面症状，就容易误诊误治，甚至越治疗病情越重。如果同时运用心理学的知识，配合心理治疗方法，往往会起到意想不到的效果。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorWzh_2.jpg") %>
            </div>
            <p>王智慧医生曾经接诊过一个因为情感问题服毒的大学生，小伙子长得挺帅，因为感情不顺喝了农药，被送到医院抢救。当时患者出现了严重的心律失常，经过医院抢救之后，依然神志不清，继续住ICU监护。一天早上，王智慧医生提前半小时上班，出于对病人的关心提前去病房巡视。走到小伙子病房的时候，王智慧医生猛然发现病人的心电监护显示心电图成一条直线，王医生马上用除颤仪给小伙子做电击抢救，很快小伙子心跳恢复，心电图也恢复正常。就是这样一次“提前上班”，挽救了一条鲜活的生命。但由于心理问题未解决，之后小伙儿又几次自杀，王智慧医生长期耐心进行心理疏导，小伙子终于放弃了自杀的念头。这个病例使王智慧医生认识到，医生不仅仅要治疗患者的躯体疾病，更应该关心他们的心理健康。很多人有心理疾病，不应该回避，必要的时候可以寻求心理医生的帮助，甚至用药。但最好的心理医生是自己，需要自己帮自己调节好心理问题。千万不能走极端，否则对自己、对家人都会造成很大的伤害。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorWzh_3.jpg") %>
            </div>
            <p><b>事无巨细，为患者考虑到每个角落</b></p>
            <p>王智慧医生在治疗糖尿病方面有多年的临床经验，接诊过数万例糖尿病病人。许多病人需要自己在家注射胰岛素，王智慧医生担心病人自己用药的时候用量不当，发生低血糖，出现生命危险，只要病人要求就允许病人留了自己的电话号码，随时接受病人的咨询，指导患者饮食、运动、血糖监测、用药调整。王智慧医生会根据病人的血糖调整胰岛素的用量，甚至要求他们自己用本子记录每次的血糖和用量，以保证病人的用药安全。每次接诊病人，他都会详细地询问病人的病史、全面体格检查，既往用药情况，甚至病人的权利、注意事项她都会不厌其烦地重复说一遍又一遍，从不含糊。这样让病人对就诊过程和自己的病情一清二楚，到医院像在自己家里一样有亲切感。就是这样用心地对待每一个病人，很多病人包括农村患者后来都成了王智慧医生的好朋友，周末常常会约她一起到乡下玩，同时指导他们生活和用药。</p>
            <p>王智慧医生是个热爱生活的“潮”阿姨。她喜欢旅游，会跑到寒冷的北极圈拍摄梦幻的极光、坐在狗拉的雪橇里疾驰；她会各种运动，经常在篮球场上和年轻人痛快地流汗；她也爱烹饪，时不时做几道美味的菜肴给家人享用。王智慧说，只有真正热爱生活的人，才会从心底里发出对生命的尊重，也才会对每一个生命负责。</p>
            <p>热爱生活、尊重生命的王智慧，给这个世界点缀了些许鲜红的色彩，那样艳丽，那样迷人，那样生生不息。</p>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>




