<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海致敬】有一种震撼叫军人的眼神！</h5>
            <P class="rightWord">2017-08-01</P>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_zj_1.jpg") %>
            </div>
            <p><b>八一建军节</b></p>
            <p>关于军人眼神的形容有很多，勇敢，锐利，深邃，具有穿透力。无论哪个形容词都是在诠释属于军人的坚强与刚毅！哪怕前方风吹雨打，那双眼睛都早已说出一切——属于军人的百折不悔的毅力和决心！有一种震撼叫做军人的眼神！</p>
            <div class="newsImgMar">
                <%= image_tag("news_zj_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_zj_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_zj_4.jpg") %>
            </div>
            <p>中国军人坚定而执着的眼神让人肃然起敬，但由于常年在恶劣的环境中执行任务和超负荷的训练强度，不少士兵的身体健康亮起了红灯，特别是在眼健康方面。</p>
            <p><b>眼睛作为人体最为脆弱的器官之一，理应得到更多的重视与保护！</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_zj_5.jpg") %>
            </div>
            <fieldset>
                <legend>向英雄致敬！</legend>
                <div class="flow marB30">
                    <div class="newsImgMar">
                        <%= image_tag("news_zj_6.jpg") %>
                    </div>
                    <p>90年濯洗，风雨如磐，90载征程，风雨担当。值中国人民解放军90华诞之际，银海人牢记打造国际眼科新中心的坚定目标，隆重推出军旅圆梦计划，致敬我们最可爱的人！</p>
                    <div class="newsImgMar">
                        <%= image_tag("news_zj_7.jpg") %>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
