<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医——李强】有种热爱，叫深入骨髓</h5>
            <p class="rightWord">2017-08-08</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj18.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>李强</p>
                    <p>主治医师 医学博士</p>
                    <p>四川省第五批老中医药专家学术经验继承人</p>
                    <p>坐诊时间: 周一全天</p>
                    <p>擅长领域:</p>
                    <p>擅长糖尿病视网膜病变、视网膜静脉阻塞、视网膜静脉周围炎、结膜病、角膜病、干眼症等眼病诊治。</p>
                </div>
            </fieldset>
            <p>传承几千年的中医，绵绵不断，来自祖祖辈辈的口传心授，也来自多少代中医人的孜孜苛求。李强是一名中医眼科医生，似乎从出生就带着对中医的无限憧憬。他用博大精深的中医，为无数人恢复了光明</p>
            <p><b>来自祖辈的中医情怀</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorLq_1.jpg") %>
            </div>
            <p>说起中医，李强医生的祖辈跟中医有千丝万缕的关系。李强的太爷爷以前，有很多辈都是当时有名的中医，他的爷爷、父亲虽然没有从事中医，但对中医耳濡目染，也了解很多。</p>
            <p>李强记得，自己小时候有次发高烧，吃了好多药片都没有退烧。情急之下，父亲想起了祖辈常说的犀牛角（现犀牛列为国家保护动物，用水牛角代替）有解大热，散风毒的功效，便仿着太爷爷的方法，找来犀牛角用石头磨成粉，给那时的李强冲水喝。喝过几次之后，李强竟然奇迹般地退烧了。从那以后，李强对中医的兴趣愈发浓厚，在报考大学的时候，他毫不犹豫地选择了中医药大学，读硕士的时候，跟随自己的兴趣，又选择了眼科方向，后来读博士直到现在，再也没有离开过中医的世界。在中医眼科的治疗过程中，李医生积累了大量的临床经验，让无数即将失去光明的人恢复视力，也实现了他儿时的梦想。</p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorLq_2.jpg") %>
            </div>
            <p>一次，有个患结膜炎的病人红肿着双眼向李强医生求助。患者试过了市面上所有的眼药水，症状有所减轻但一直没有根治，眼睛始终处于充血状态。近乎绝望的时候，患者听说了银海眼科医院的治疗非常有效，来到这里找到李强医生希望能治好自己的病。李强医生认真地为患者做了检查，又详细询问过使用过的药物，经过慎重考虑，为病人开了口服中药。并细心地教患者如何用熬过的中药在自家熏蒸、热敷眼睛。患者回家严格按照李强医生的嘱咐使用中药，果然结膜炎很快就治愈了。患者事后特别感谢李强医生，同时感慨中医的独特功效是其他治疗方法无法比拟的。</p>
            <p>孙思邈所著《备急千金要方》中有载《大医精诚》一文，其中要求医者首先要“精”，即要有精湛的医术，医道是“至精至微之事”；而后，医者须“诚”，即要求医者要有高尚的品德修养，有“见彼苦恼，若己有之”感同身受的心。李强医生说，治病救人，不分老幼，都要花毕生所学去全力救治，把他们看作像自己亲人一样对待。</p>
            <p><b>热心肠的李老师</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorLq_3.jpg") %>
            </div>
            <p>不仅在银海眼科医院坐诊，李强也在成都中医药大学担任老师，是学校的班导师，即协调学生的课程进度和课堂反馈、了解学生的课程需求，在学习与生活中都能和同学们打成一片。</p>
            <p>李强不仅认真地教授课堂知识，还时常给学生讲解当下的医疗体系，帮助他们尽早融入现在的医疗环境。他甚至会鼓励学生创新创业，前不久指导学生了完成了一个眼部熏洗仪器的研发。成都中医药大学的眼科专业教研实力在全国都是非常靠前的，它的附属眼科医院同样有很高的知名度，李强教导学生一定要珍惜学习机会，学习充足的专业知识，将来做一名合格的眼科医生。</p>
            <p>李强说，“我是一个老师，同时也是一个学生。”他是第五届“老中医药专家学术经验继承人”的成员之一，在做治疗、教学工作的同时，他也在跟随更有经验的老中医学习，努力让自己吸收更多的中医经验，以用到治病救人当中。</p>
            <p><b>最念父母情</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_doctorLq_4.jpg") %>
            </div>
            <p>李强来自山西，妻子来自甘肃，夫妻二人都在成都从事医疗工作，现在有个两岁半的可爱儿子“豆豆”。夫妻二人平日忙于治疗和教学工作，他们的父母主动从山西、甘肃来成都帮他俩照顾孩子，他始终觉得愧对父母。</p>
            <p>去年李强的父亲在医院检查出大脑里有血块，后来很快被感染病情加重，一时家里更加忙乱。李强一方面是个很孝顺的儿子，另一方面又对病人极其负责，在那段时间里，在自己的岗位和父亲的病床前来回奔走，心力交瘁。父亲数次手术保守治疗无效后，第四次做了开颅手术，幸运的是，手术很成功，后来父亲康复了。尽管如此，父亲痊愈后没有太多休息，又跑来帮李强照顾孩子。李强特别感恩父母为自己的付出。</p>
            <p>之前李强喜欢踢球，如今工作繁忙，早已没时间留给自己的爱好，有空都要陪家人。他说，最幸福的就是跟家人、孩子一起玩，带着儿子去踢球，在脑海中已经畅想过无数遍。自己多留点时间陪家人，父母也就不会太累了。</p>
            <p>想起第一次穿上白大褂时喊出的誓言，李强至今仍心潮澎湃。能为病人的眼睛保驾护航，是多么神圣的职责。用神奇的中医为更多的人带来光明，也是李强的毕生追求。</p>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>




