<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>来自名医的护眼秘籍</h5>
            <P class="rightWord">2017-08-24</P>
        </div>

        <div>

            


            <p>为加快扶贫攻坚战略，尽快落实3月18日我院与甘孜州得荣县人民医院签约的“对口扶贫，精准复明”计划，8月22日至23日，我院院长段俊国等3位眼科专家在成都中医药大学余曙光校长带领下赴得荣县开展对口帮扶，推进精准扶贫工作。</p>
            <p>学校与得荣县举行了精准扶贫推进座谈会。得荣县县委副书记刘志辉、县人大常委会主任阿郎、县委副书记杜靓、县政协副主席达瓦次仁、副县长拉西及得荣县相关部门人员参加了座谈。学校发展规划处处长吴纯洁、党政办公室副主任刘贤武，成都中医大银海眼科医院医务部主任潘学会、眼科博士后张大铮随余曙光校长、段俊国院长参加了座谈会。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_1.jpg") %>
            </div>
            <p>在座谈会上成都中医药大学校长余曙光向得荣县人民医院授予“成都中医大银海医院专科医联体”铭牌，同时举行了成都中医大银海眼科医院托管得荣县人民医院眼科诊疗设备器械交接仪式，我院提供价值230多万设备器材标志着“对口扶贫，精准复明”计划中对得荣县人民医院眼科托管正式启动。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_3.jpg") %>
            </div>
            <p>段俊国院长在座谈会上说，“对口扶贫，精准复明”的目的是全面提升得荣县眼健康水平，消除可治疗白内障，实现常见眼病就地诊疗。</p>
            <p>今年3月以来，得荣县已选派3名医护人员到银海眼科专题培训，并将得荣县纳入中国医促会华佗工程眼科分级诊疗联盟示范县进行建设。预计今年10月我院托管的得荣县人民医院眼科将正式开诊，同时还将启动得荣12个乡镇全民眼健康档案建立工作。余曙光校长和得荣县领导充分肯定“对口扶贫，精准复明”计划取得的初步成效。</p>
            <p>座谈会结束后，段俊国院长带领专家前往得荣县人民医院为早早等候看眼科疾病的患者给予检查诊治。当段俊国院长和专家们用刚刚启用的崭新眼科仪器为眼科患者们检查时，他们都很激动，不时有患者对专家咨询自己的眼病还能否治疗等问题。前来就诊的眼科患者约40人，主要都是老人和孩子，年龄最大的老人68岁，最小的孩子是四岁的四郎曲措。</p>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_gzdrhd_8.jpg") %>
            </div>
        </div>
    </div>
</div>




