<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>科普小知识：What? 检查单上我的视力是“负”的？</h5>
            <p class="rightWord">2017-11-07</p>
        </div>

        <div>
            <p>如果你的成绩单是“-36”，你一定会一头雾水，心想难道自己上次考试欠了老师分？最近，小兰就遇到了类似的困惑，不过是在视力检查单上。看着检查单上写着“-3D”、“-4.5D”，小兰不知所云。 </p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_1.jpg") %>
            </div>
            <p>“-”非常醒目，这难道是“负号”？</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_2.jpg") %>
            </div>
            <p>护士告诉小兰，“-”是指近视，“+”是指远视。那D是什么意思呢？</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_3.jpg") %>
            </div>
            <p>护士进一步解释到，光线由一种物质进入另一种密度不同的物质时，传播方向发生偏折，这种现象叫做屈光现象。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_4.jpg") %>
            </div>
            <p>护士说:“体现屈光现象程度大小的单位即屈光力，用字母“D”表示，这里1D就是100度”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_5.jpg") %>
            </div>
            <p>1D屈光力=将平行光线聚集在一米焦距距离的点上。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_6.jpg") %>
            </div>
            <p>因而这张检查单，屈光度前加“-­”代表近视，加“+”代表远视。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_7.jpg") %>
            </div>
            <p>现在小兰轻易就看懂检查单了。左眼300度近视，右眼450度近视。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slsfd_8.jpg") %>
            </div>
            <p>解除疑云的小兰开心不已，感叹说：“小眼科藏着大知识，以后还要多多学习。”</p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
