<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医-周春阳】眼科江湖中的屈光大侠</h5>
            <P class="rightWord">2017-07-21 </P>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_hxxb_1.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>黄霄</p>
                    <p>教授，主任医师，医学博士，硕士研究生导师。</p>
                    <p>坐诊时间: 周二、周三、周四上午，周五、周六全天</p>
                    <p>擅长领域: 从事眼科医教研工作30余年。擅长老年黄斑变性、糖尿病性视网膜病变、视网膜静脉阻塞、葡萄膜炎等眼免疫性疾病、视神经疾病、泪道疾病等眼科疾病。</p>
                    <p>中国医师协会中西医结合眼科专业委员会委员、四川眼免疫学会会员、四川中西医结合学会及四川省中医药学会会员。</p>
                </div>
            </fieldset>
            <p>从事眼科医教研工作30余年。曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习，擅长于疑难眼底病和眼免疫性疾病的中西医诊治。此外，在泪道疾病的诊疗方面有着丰富的临床经验。</p>
            <p>黄霄教授长期指导研究生、住院医师，进修医师的临床教学工作。作为主研人员，先后承担国家自然科学基金、国家中医药管理局、四川省教育厅等各级研究课题10余项，公开发表学术论文30余篇。</p>
            <p><b>医生要勇于当学霸</b></p>
            <p>“作为医生，拥有扎实的专业知识与丰富的临床经验也是不够的。”黄霄教授谈起作为医生的经验时，完全忘却初见采访时的紧张感与拘谨。无论是谈起医学时滔滔不绝的样子，亦或是待人处事时谦虚温和的态度，黄霄教授都展示出了独特的人格魅力。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hxxb_2.jpg") %>
            </div>
            <p>黄霄教授专攻方向是眼底疑难病症。眼底病是一种多病种，病因复杂，病情重的专科，治疗难度大，治疗效果差，大多数医生不愿从事该专业，而黄霄教授毅然决然选择了这个主攻方向。她介绍到，越是复杂的病情她的专注度和兴奋度越高，成功为患者解决这些问题会带给她无与伦比的成就感和自豪感。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hxxb_3.jpg") %>
            </div>
            <p>曾经，黄霄教授听闻有病人因患葡萄膜炎病四处求医，花光积蓄后，病情仍然没有得到改善。这件事对她触动很大，医生的责任感让她走上了刻苦专研葡萄膜炎病的道路。葡萄膜炎作为眼科疑难病，治疗棘手，为了习得有效的治疗方案，她先后去中山眼科中心、重庆医科大学和北京协和医院眼科跟随业内专家进行深度学习与交流。黄霄教授说，在信息时代，知识更新快，只有走出去才能抵达学术的前沿，给患者提供最好的治疗方案。</p>
            <p>黄霄教授强调，前路漫漫，学无止境，为医者要勇于当一名刻苦专研的学霸。正因为不断地学习，注重更新知识结构，在临床与病人的沟通中，深得病人的信赖。</p>
            <p><b>以发扬中西医结合理念为己任</b></p>
            <p>黄霄教授长期专注于眼免疫性疾病的临床及科研工作。在急性葡萄膜炎治疗中，引入中医疮疡理论，对早期病变疗效明显，降低了复发率。对慢性难治性患者采用中西医结合方案，通过中药和免疫抑制剂的合理运用，不仅提高了疗效，同时降低了因长期使用免疫抑制剂而产生的副作用，延长了病变复发间期，展示了中西医结合的疗效成果，因此获得了患者和业内专家的一致好评。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hxxb_4.jpg") %>
            </div>
            <p>提到中医学，黄霄教授非常自信地说，那是她的本行。她追忆起曾经在一次中美眼科交流会议上，美国专家提出一个病例让大家讨论。虽然黄霄教授一直是从事该类疾病研究的学者，但她仍然虚心听完所有的专家、学者发完言之后，才从容不迫地阐述关于这类疾病的见解。会上，美国专家大赞黄霄教授的中西医结合治疗方案，并戏谑到您的老板应该给你涨工资了，您太优秀了！</p>
            <p>黄霄教授说，中西医结合治疗在眼免疫性疾病治疗中有突出的优势，通过减少西药用量降低药物副作用，提升疗效。言谈中不经意间流露出她满满的自信感。</p>
            <p><b>公益是事业更是责任</b></p>
            <p>黄霄教授热心公益事业，长期关注老少边贫地区患者的视觉健康问题。她先后10余次参加四川省卫生厅医疗下乡活动。她说：“边贫地区缺医少药，很多患者未能得到及时诊治。我常常看到他们（边贫地区的眼病患者）因眼疾而眉头紧蹙、怯懦、无助的样子，让人很是心酸。”医者仁心筑大道，服务公益守初心，从事眼科医教研工作30余年，黄霄老师未曾一刻懈怠，她全身心投入到她所热爱的公益事业当中。</p>
            <div class="newsImgMar">
                <%= image_tag("news_hxxb_5.jpg") %>
            </div>
            <p>“医生存在的意义是为病人解决问题。”这是她热衷于公益事业的出发点。今年3月16日，成都中医药大学附属银海眼科医院院长段俊国与甘孜州得荣县人民政府县长普呷签订“对口扶贫•精准复明”协议。为了践行协议精神，真正把“精准复明”落到实处，黄霄教授一行无畏高原反应，亲自前往甘孜州得荣县，为当地患者义诊、给医护人员讲课，并为“对口扶贫”的当地医生进行临床培训。</p>
            <p>黄霄教授说：“我们银海人应当为深受眼疾困扰的人们带去光明，或许他们的生活就能从此改变，人生故事也能随之改写。”</p>

        </div>
    </div>
</div>





