<div class="main">
    <div class="middle flow">
        <div class="newsMain">
            <div class="newsTitle">
                <h5>全国首个“爱眼月”暨青少年近视防控能力提升计划在银海眼科启动</h5>
                <P class="rightWord">2017-6-6</P>
            </div>
            <div>
                <p>清香传得天心在，未话寻常草木知。2017年6月6日，适逢第二十二个全国爱眼日，由成都市卫生与计划生育委员会、成都市教育局指导，四川省视力保护科普基地、成都中医药大学、成都市地铁运营有限公司、成都市金牛区教育局、成都市金牛区卫生和计划生育局联合主办的大型眼健康公益活动“成都爱眼月启动仪式暨金牛区青少年近视防控能力提升计划签约仪式”在成都中医大银海眼科医院内隆重揭幕。</p>
                <p>据悉，自仪式启动的一个月内，由四川省视力保护科普基地、成都中医药大学眼科学院与成都中医大银海眼科医院派出的顶级专家和志愿者团队，将深入学校、企业、社区和地铁站点为市民提供免费的科普宣教、健康咨询、眼科义诊、科普大讲堂、眼健康档案建立服务；同时作为活动一大亮点，十余辆穿梭于市内的地铁列车将作为本次公益活动的“特殊志愿者”，以搭载科普视频和知识看板的方式向市民“讲解”、“传递”爱眼护眼的知识理念。此次爱眼月公益活动首次提出了“中西结合未病先防，培育健康用眼生活方式”的医学理念，并推广普及规范的眼健康管理方式，是眼科医学诊疗的一次重要飞跃。成都爱眼月的成功启动昭示着中国医疗服务理念和国民健康管理模式正式起步向发达国家一流水平迈进。</p>
                <p>来自相关部门、机构、院校、企业的领导、专家、市民代表、学生代表、教师代表、家长代表和媒体人士出席了启动仪式，共同见证了这一惠及民生福祉的重大时刻。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_1.jpg") %>
                    <p>成都中医药大学校长余曙光教授致辞</p>
                </div>
                <p>仪式伊始，成都中医药大学校长余曙光教授致欢迎辞，对莅临本次启动仪式的各位领导及嘉宾表示热烈欢迎。成都中医药大学的眼科是国家重点学科，一直居于全国中医眼科的领域地位。围绕推动全民健康，实现全民小康，启动了本次爱眼月活动。成都中医药大学将秉承“大医精诚”的理念，一如既往地支持眼科学科和眼科医院的发展，支持眼健康公益事业的开展。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_2.jpg") %>
                    <p>成都中医药大学眼科学院/附属银海眼科医院院长段俊国介绍本次爱眼月活动方案</p>
                </div>
                <p>爱眼月活动发起人、成都中医药大学眼科学院/成都中医大银海眼科医院书记、院长段俊国教授向与会者详细介绍了为期一个月的大型眼健康公益活动，以及为期三年的金牛区青少年近视防控能力提升计划的安排。在谈及活动发起的初衷，段俊国院长以掷地有声的话语表达了受中华文化熏陶的现代中医人“愿天下无病”的至高理想。“受命之日，寝不安席，一句嘱托，许下一生”，段院长表示，将带领眼科学院及眼科医院的全体教师学生、医护工作者勤耕不辍、知难而上，以爱眼月活动为契机，在医疗和科研领域双管齐下，全面展开提升国民眼健康的伟大事业。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_3.jpg") %>
                    <p>成都市金牛区沙河源小学的学生代表发起近视防控倡议</p>
                </div>
                <p>随后，来自成都市金牛区沙河源小学的学生代表以稚气未脱的童声和朴素真诚的话语向成都市广大儿童青少年发起了首个“青少年近视防控能力提升计划”倡议，呼吁社会民众共同关注青少年眼健康，一声声清澈明亮的“我倡议...”响彻会场，震撼心灵，催人奋进。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_4.jpg") %>
                    <p>成都中医大银海眼科医院院长段俊国向地铁司机肖芳捐赠健康专享服务卡</p>
                </div>
                <p>接下来的捐赠仪式将活动推向高潮。市民代表、四川省三八红旗手、四川省劳动模范、中国首位藏族地铁女司机、成都地铁电客车司机肖芳女士登台接受由成都中医大银海眼科医院院长段俊国教授捐赠的关爱特种工作者眼健康专享服务卡。作为特殊职业者，地铁司机的眼健康状况关乎列车的正常运行与否，维系着每日数以百万的出行群众安危。此次捐赠在表达对眼健康高风险工作者的关怀之余，也对成都市民安全出行起到了间接贡献，突显了关爱眼健康是对个人也是对社会的重大责任所在。</p>
                <p>紧随捐赠仪式举行的是由成都中医药大学眼科学院、成都中医大银海眼科医院发起的四场重大签约仪式：</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_5.jpg") %>
                    <p>段俊国院长与金牛区教育局副局长孙丹签订“青少年近视防控能力提升计划”协议</p>
                </div>
                <p>首先，成都中医药大学眼科学院/附属银海眼科医院院长段俊国与成都市金牛区教育局副局长孙丹签订全国首个“青少年近视防控能力提升计划”合作协议，将通过3年时间，在辖区内7所试点中小学打造14个“样板班”，培养140余名“T+N”近视防控指导师，实现全域范围内建立13余万青少年眼健康档案，并推广先进的中西医结合近视防控技术。金牛区教育局此次创新举措，将为广大青少年儿童寻找切实有效的护眼方法，力争大幅降低青少年近视发病率，培养学生正确用眼习惯，形成科学的科研成果，为全市乃至全国的儿童青少年打造样板的近视防控体系。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_6.jpg") %>
                    <p>段俊国院长与地铁运营有限公司副总经理朱均签订“地铁司机眼健康服务” 协议</p>
                </div>
                <p>随后，成都中医药大学眼科学院/附属银海眼科医院院长段俊国与成都地铁运营有限公司副总经理朱均签订“1800名司机眼健康服务” 协议，届时成都中医大银海眼科医院将为成都所有线路地铁司机建立眼健康档案，提供定期眼健康服务，为成都地铁持续安全行驶、市民放心出行保驾护航！</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_7.jpg") %>
                    <p>段俊国院长与太极集团副总经理廖胜签订“太极员工眼健康服务”协议</p>
                </div>
                <p>接着，成都中医药大学眼科学院/附属银海眼科医院院长段俊国与太极集团股份有限公司副总经理廖胜签订“太极员工眼健康服务”协议，将为太极集团万名员工建立眼健康管理档案、提供眼健康服务，以医疗业内人士为表率，带动全民眼健康生活方式普及。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_8.jpg") %>
                    <p>段俊国院长与成都中医药大学学生处处长叶军签订“大学生眼健康档案建立”协议</p>
                </div>
                <p>接着，成都中医药大学眼科学院/附属银海眼科医院院长段俊国与成都中医药大学学生处处长叶军签订“成都中医药大学大学生眼健康档案建立”协议，将为全体大学生建立眼健康管理档案，希望能够通过建档普及眼健康知识，增强师生对眼健康的关注及对眼病的防范意识，全面提升师生眼健康水平。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_9.jpg") %>
                    <p>成都市金牛区政府副区长范家堂在启动仪式上讲话</p>
                </div>
                <p>签约仪式结束后，成都市金牛区政府副区长范家堂在讲话中表示，首届成都爱眼月公益活动的启动将惠及全区群众眼健康。同时，金牛区先行先试，率先和成都中医药大学眼科学院/附属银海眼科医院签订为期三年的《青少年近视防控能力提升计划》协议，并启动该计划的实施，在“样板班”打造、“T+N”近视防控指导师培训、眼健康档案建立等领域展开探索与研究，为辖区乃至全市的青少年儿童打造样板的近视防控体系。金牛区将在成都市卫生、教育等相关部门的指导下，与各级视力保护机构一起，持续关注人民群众眼健康，积极开展科教卫生服务，为患有眼疾的群众送去眼健康，让老百姓真正得到优质、方便、实惠的健康服务，不断提升人民群众的眼健康水平和幸福生活指数。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_10.jpg") %>
                    <p>成都市卫生和计划生育委员会主任谢强在启动仪式上讲话</p>
                </div>
                <p>成都市卫生和计划生育委员会主任谢强在讲话中高度肯定了首届成都爱眼月公益活动对普及科学的用眼知识、预防各类眼疾、提高青少年眼健康具有重要的意义，希望主办单位精心组织好此次公益活动，积极营造全社会关心眼健康，特别是青少年近视防控的良好氛围。全市卫计系统将积极发挥职能作用，主动协同推进爱眼月各项工作。</p>
                <p> 最后，谢主任宣布首届成都“爱眼月”公益活动正式启动！随着谢主任一声呼喊，我们撒下大爱的种子，明天这种子必将被奔跑接力，从成都传向四面八方！标志着首届成都“爱眼月”公益活动暨青少年近视防控提升计划正式拉开帷幕。在接下来的时间里，这点点光芒，将以燎原之势，乘着地铁隆隆，沿着城市脉络，带着青春希望，随爱而行，驶向蓉城每一个角落，为人们驱散黑暗，带去光明的福音。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_11.jpg") %>
                    <ul>
                        <li>成都中医大银海眼科医院专家在为地铁司机肖芳做眼健康检查</li>
                        <li>沙河源小学同学们在成都中医大银海眼科医院等待接受眼健康检查</li>
                    </ul>
                </div>
                <p>仪式结束后，地铁司机代表肖芳、金牛区学生代表应邀参观并首次体验了由中医大银海眼科专家提供的眼健康服务，对此她们表示了由衷的赞美和感谢。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_ayy_12.jpg") %>
                    <ul>
                        <li>成都地铁运营有限公司地铁司机代表在成都银海眼科医院接受眼健康服务</li>
                        <li>参会领导、来宾和地铁司机、学生代表合影留念</li>
                    </ul>
                </div>
                <p>此次首届成都“爱眼月”公益活动暨金牛区青少年近视防控能力提升计划声势浩大、形式新颖、参与之众、影响之广，史无前例。“医之大者、仁心仁术，为国为民，救死扶伤”，据悉，以成都为原点，爱眼月公益活动将面向全国，逐年举办，以烽火传承之态，普惠人民。成都爱眼月的成功启动昭示着中国医疗服务理念和国民健康管理模式正式起步向发达国家一流水平迈进。</p>
            </div>
        </div>
    </div>
</div>
