<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医—缪馨】用我的心 温暖你</h5>
            <p class="rightWord">2017-08-04</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_mx_6.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>缪馨</p>
                    <p>主治医师、硕士研究生</p>
                    <p>坐诊时间：周一、周四全天，周二、周三上午，周日下午</p>
                    <p>擅长领域：</p>
                    <p>从事眼科临床、科研多年，具有丰富的实际工作经验，擅长运用中西医结合方法治疗眼底疾病及眼表疾病，特别是在外眼疾病、出血性眼病、葡萄膜疾病等方面进行了较深入的探索，在治疗干眼症、角膜溃疡等疾病方面取得显著疗效。</p>
                </div>
            </fieldset>
            <p>成都中医大银海眼科医院作为成都中医药大学的附属眼科医院，中医治疗眼病是其与众不同之处。在银海，有一群中医眼科医生，使用中医疗法，为患者治疗眼疾，带来光明，其中一位，就是缪馨医生。</p>
            <p><b>中医眼科医生的人文关怀</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_mx_2.jpg") %>
            </div>
            <p>中医，是一门医学，也是一门哲学。和西医不同的是，中医注重整体观，认为非外伤、接触传染源导致的眼病也是人的脏腑功能、气血津液等出现问题而导致的，治疗过程中不会单纯关注眼病的症状，而会结合患者全身的伴随症状进行辨证论治，治疗眼病的同时，进行全身调理，使人体机能重回阴阳平衡的状态。同时，情志致病也是中医非常注重的发病因素，而中医眼科医生治疗的病种，多为干眼症、眼底出血、葡萄膜炎等病程较长的眼病，患者在长年的求医过程中，难免产生焦虑抑郁的情绪，这种负面情绪不但影响患者的生活质量，也会影响健康的恢复。因此，作为一名中医眼科医生，缪馨医生在为病人看病的同时，经常开玩笑，逗他们乐一乐，放松心情。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mx_3.jpg") %>
            </div>
            <p>五年前，有个阿姨在缪馨医生处治疗干眼症，在病情得到缓解以后依然愁眉苦脸。看到阿姨焦虑的样子，缪医生用轻松的话语安慰她，让她知道自己的病已经得到控制，只要坚持治疗，没有想象的那么可怕。在缪医生耐心的解释和安慰中，阿姨逐渐信任了缪医生，也按照缪医生的医嘱去治疗。在后来长达五年的时间里，阿姨经常来找缪医生做复查，即使眼部不适已经消失，她依然要挂号来找缪医生聊一聊，这对阿姨来说，也是一种莫大的心理安慰。</p>
            <p>缪馨医生说，关于医生的职责，美国医生特鲁多的墓志铭便是她的座右铭：“有时治愈，常常帮助，总是安慰。”医生是人，不是神，不可能把全世界所有的疾病都治愈。当你遇到不能治愈，只能控制，甚至反反复复发作的疾病时，你就要为患者提供帮助和安慰，让他们找到生活的希望。缪馨医生心怀悲悯，用一颗诚心建立医患之间的信任。人文关怀的加入，让看病这个貌似冰冷的过程充满了温暖。</p>
            <p><b>干眼症的预防与中医治疗</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_mx_4.jpg") %>
            </div>
            <p>缪馨医生所在的中医眼科中心，设立了一个干眼门诊，主要由她负责。现代社会，人们使用电脑、智能手机的时间越来越多，环境的污染，空调的大面积使用等不利因素，使得干眼症的发病率大大增加，给人们的生活和工作带来极大的困扰。</p>
            <p>对此，缪馨医生指出了预防干眼症的方法：消除诱因，常做眼睑热敷和按摩，不要滥用滴眼液。</p>
            <p>消除诱因，主要是指尽量避免长时间面对电子产品，尽量避免长时间待在密闭的空调房间，尽量在空气质量良好的环境生活。当然，很多时候我们迫不得已要面对一些不利的因素和糟糕的环境，那么只有通过一些防护措施来预防干眼症。比如，在办公室长期用眼的人可以设定一个闹钟，定时放松一下眼睛，有意识地多做瞬目动作。此外，使用加湿器可以保护眼睛不会太过干燥。若空气污染严重，室内建议使用空气净化器，外出要做好眼睛的防护，如佩戴护目镜等。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mx_5.jpg") %>
            </div>
            <p>有很大一部分干眼症患者是由睑板腺功能障碍引起的，比如油性皮肤、老年人。这类人群可以经常热敷眼睑，配合眼睑按摩，疏通睑板腺，使泪膜脂质层得到正常分布，减少水液层的蒸发，起到预防干眼症的作用。</p>
            <p>现在不少人热衷于使用各种进口的滴眼液，缪医生提醒大家不要滥用滴眼液。药店里或者国外带回来的滴眼液里多数有防腐剂，大家无法分辨。长期使用，反而会稀释泪液，影响泪液的正常分泌，对眼表造成损害。若眼睛实在干涩难受，建议到正规医院就诊，由医生为你选择滴眼液治疗。</p>
            <p>在中医方面，对干眼症有特殊的疗法。一旦确诊了干眼症，中医眼科中心的干眼门诊会根据你的临床分型，全身辩证，为你量身定做一套治疗方案。缪馨医生的中医治疗室里，有一个中药雾化台。整整齐齐摆放着中药热熏蒸和中药雾化治疗的机器。通常首先为干眼症患者进行中药热熏蒸，软化睑板腺分泌物，然后进行睑板腺按摩，排出阻塞睑板腺的分泌物。中药雾化使用的是中医眼科中心自行研制的干眼方，通过超声波雾化，中药液形成雾状，到达眼表，滋润眼睛，修复角膜，效果显著。同时可配合针刺、灸法、埋针等传统中医疗法，调节全身机能，阴平阳秘，既治标，又治本。</p>
            <p><b>穿白大褂的文艺女青年</b></p>
            <p>在与缪馨医生交谈的过程中，缪医生时不时引用一些作家的话，记者试探着问道，缪医生是不是喜欢看书呢？果不其然，缪医生是个地地道道的书虫，尤其喜欢亦舒的小说。她喜欢亦舒笔下那些女性角色，她们独立、坚强、不卑不亢，亦舒的小说带给她成长，让她遇事冷静、勇敢面对。缪馨医生说，亦舒的小说给自己打开了一个新的世界。每当走到人生的岔路口，她都是自己做决定，选择自己的人生道路。也正因如此，她做的一切都是心甘情愿，包括为病人的所有付出。</p>
            <p>缪馨医生的工作很忙，但她从来没有放弃对快乐的追求。下班路上，她会满怀欣喜地买一束花送给自己，也会抽空去电影院看一部一个人的电影。缪医生热爱生活，同样热爱自己眼科医生的职业。当医生以后，缪医生把更多精力放在治疗病人和医学知识的学习上，但依然保持着对生活的热情，她乐观向上的人生态度让诊疗过程也同样充满阳光。</p>
            <div class="wordCenter">
                <p>医生是一份平凡又伟大的职业，</p>
                <p>被赋予了无限的责任与担当。</p>
                <p>在医生的这条道路上，</p>
                <p>缪馨医生即使挂着泪，</p>
                <p>也会带着笑，一路走下去。</p>
                <p>用我的心，温暖你。</p>
            </div>
        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
