<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>目及银海, 眼镜走开——屈光术后有感</h5>
            <p class="rightWord">2017-06-18</p>
        </div>

        <div>
            <p>从小学起，眼镜成为我每日必伴的“老朋友”，如影随形，离不开也放不下。戴着眼镜感觉好大的负担，户外旅游和开车戴太阳镜的不便，看3D电影时两副眼镜的压力，甚至于平时理发、游乐项目、游泳都是雾里看花，一片朦胧。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_2.jpg") %>
            </div>
            <p>多年的戴镜经历，鼻梁两侧被压出深深的痕印，夏天镜腿接触皮肤，也会因为汗液而起皮疹，早已经厌烦戴眼镜的日子。但是作为一名医生，深知眼睛的重要性和手术的风险，对手术心存顾虑，担心安全和效果，直到看见蔡司Smile3.0全飞秒系统和中国第一台阿玛仕1050RS准分子系统走进银海眼科医院，来到我身边。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_3.jpg") %>
            </div>
            <p>经过银海眼科眼视光团队细致检查，与周春阳主任一起精心制定手术方案，在全面了解了蔡司全飞秒和阿玛仕1050RS千频激光设备性能以及围手术期注意事项后，我略带紧张但信心满满地走进了手术室，听见机器科幻一般的语音提示，十分钟后，我眼中的世界发生了变化，第一次感觉到真实视界的美好，术后一周复查视力，左右眼稳定在2.0和1.5，堪称完美。</p>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_5.jpg") %>
            </div>
            <p>知道我现在最想做的事是什么吗？我要去理发店，好好感受一次清晰的理发过程，不再像以前一样等待最后戴上眼镜去接受心里默默骂娘的“买家秀”，不戴眼镜真好！</p>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_6.jpg") %>
            </div>
            <p>朋友们，今年暑假就和我一起甩掉眼镜，目及真实视界的美吧!</p>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_qgssyg_8.jpg") %>
            </div>
            <p>2017年6月9日蔡司全飞秒系统&阿玛仕1050RS准分子系统屈光手术后有感。</p>
            <fieldset>
                <legend>博士点评</legend>
                <p>成都中医药大学附属银海眼科医院眼视光部副教授周春阳博士点评：</p>
                <p>成都中医药大学附属银海眼科医院，在全国范围内引入首台德国阿玛仕1050RS千频全激光，并同时引进德国蔡司SMILE3.0全飞秒激光系统，搭建了角膜屈光手术世界最高端技术和设备平台，引领中国角膜激光屈光手术进入千频精准时代，全面开展了SMART千频全激光近视手术、SMILE3.0全飞秒近视手术、SMILE3.0全飞秒激光系统和阿玛仕1050RS千频全激光强强联合的千频瓣飞秒LASIK近视手术等各种最新和最先进术式。</p>
                <p>最先进设备和专业的屈光手术团队，确保了患者的完美视觉质量和手术安全。我院综合办公室主任陶铮副教授，经过千频瓣飞秒LASIK手术，获得远超术前最佳矫正视力的术后视力，实在可喜可贺。同时，也表明最先进的技术、最先进的设备、最专业的团队，确实能带来最完美的视觉质量和手术效果。</p>
            </fieldset>
        </div>
    </div>
</div>




