<div class="main">
  <div class="middle">
    <div class="newsMain">
      <div class="newsTitle">
        <h5>【多彩漫画·童心绘】眼健康科普走进泡桐树小学（西区）</h5>
        <P class="rightWord">2017-5-9</P>
      </div>
      <div>
        <p>2017年5月8日，四川省视力保护科普基地联合我院深入泡桐树小学（西区），开展“眼健康科普校园公益行”活动，为70余名学生及家长进行了眼健康知识讲座和眼健康普查。</p>
        <div class="newsImgMar">
          <%= image_tag("pts_1.jpg") %>
        </div>
        <p class="noIndent"><b>科普讲座生动有趣</b></p>
        <p>我院视光专家就青少年近视产生的原因、危害以及如何预防等知识，对大家进行了科普讲座。讲座内容通俗易懂、生动形象，采用现场互动的形式，帮助和培养学生养成良好的用眼习惯，预防各种眼疾。</p>
        <div class="newsImgMar">
          <%= image_tag("pts_2.jpg") %>
        </div>
        <p class="noIndent"><b>小朋友送漫画表感谢</b></p>
        <p>生动有趣的爱眼护眼科普讲座，受到校方、家长的称赞与认可。讲座结束后，小朋友们给我院医务人员送了一份特殊的礼物——— 5幅亲手制作的漫画。萌萌哒的礼物不仅表达了小朋友们真挚的感激之情，也让医务人员感觉弥足珍贵，因为这是师生们对我院医护人员的认可。</p>
        <div class="newsImgMar">
          <%= image_tag("pts_3.jpg") %>
        </div>
        <p class="noIndent"><b>应用先进眼科设备进行检查</b></p>
        <p>随后，我院特派的医护人员应用“流动科普馆”配备的先进眼科设备，为师生提供了眼健康专项检查服务，便于大家更加深入的了解自身眼部健康状况，同时为学生们建立了专业的眼健康档案。</p>
        <div class="newsImgMar">
          <%= image_tag("pts_4.jpg") %>
        </div>
        <p class="noIndent"><b>专家亲自解读检查结果</b></p>
        <p>针对学生的眼部检查结果，我院专家亲自为家长解读检查结果，并针对每位学生的眼健康情况给出了专业建议。对此，家长及校方领导表示衷心的感谢。</p>
        <div class="newsImgMar">
          <%= image_tag("pts_5.jpg") %>
        </div>
        <p>青少年近视防控是学校卫生工作的重点内容，也是社会关注的热点问题。此次校园公益行引起学校和家长对眼健康的高度重视，在学习压力繁重及电子信息时代，在不断提高学习成绩的同时，更应增强青少年儿童眼健康科普教育及早期检查等工作，真正做到德、智、体全面发展。</p>
      </div>
    </div>
  </div>
</div>
