<div class="main">
    <div class="middle flow">
        <div class="newsMain">
            <div class="newsTitle">
                <h5>“大爱无疆·善行天下”眼健康公益活动继续前行</h5>
                <P class="rightWord">2017-04-26</P>
            </div>
            <div>
                <p>为进一步关注眼部健康问题，2017年4月26日，四川省视力保护科普基地联合成都中医大银海眼科医院、成都市温江区永盛镇人民政府、成都中医药大学红十字会以及成都市花园国际小学，分别赴温江区永盛镇永盛场社区、成都市花园国际小学开展大爱无疆，善行天下”眼健康科普公益活动，共计150余名居民、师生及家长在此次活动中受益。</p>
                <div class="newsImgMar">
                    <ul>
                        <li><%= image_tag("news_go_1.jpg") %></li>
                        <li><%= image_tag("news_go_2.jpg") %></li>
                    </ul>
                </div>
                <p>26日上午，为了增强社区居民正确爱眼护眼的意识，我院特派医护团队携手成都田园社会工作中心志愿者一同为50余名社区居民提供了系列眼健康公益服务。首先，我院专家为永盛场社区居民讲解了白内障、青光眼等老年人常见眼部病症的发病原因、症状和防治方法，并对大家提出的眼部问题进行现场解答。社区居民纷纷表示，讲座内容通俗易懂，学到了不少眼部健康知识。</p>
                <div class="newsImgMar">
                    <ul>
                        <li><%= image_tag("news_go_3.jpg") %></li>
                        <li><%= image_tag("news_go_4.jpg") %></li>
                    </ul>
                </div>
                <p>随后，我院医护人员展开工作，有序安排社区居民进行了视力检查，应用流动科普馆配备的先进设备提供了专业检查，现场给出检查报告，建立专业的眼健康档案，并由我院专家亲自为社区居民们解读。</p>
                <div class="newsImgMar">
                    <ul>
                        <li><%= image_tag("news_go_5.jpg") %></li>
                        <li><%= image_tag("news_go_6.jpg") %></li>
                        <li><%= image_tag("news_go_7.jpg") %></li>
                        <li><%= image_tag("news_go_8.jpg") %></li>
                    </ul>
                </div>
                <p>永盛镇人民政府社事办周主任表示，这样的义诊活动不仅帮助社区居民们增加了眼健康知识，而且现场专家团队认真负责的态度受到大家一致称赞，希望以后多开展此类活动，为广大群众提供便利。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_go_9.jpg") %>
                </div>
                <p>下午，我院眼科专家马不停蹄的赶赴成都市花园国际小学，为100余名幼儿园小朋友、老师及家长进行了护眼知识的宣讲和眼健康的专业检查。活动内容及形式受到孩子们的喜爱和家长的一致好评。</p>
                <div class="newsImgMar">
                    <ul>
                        <li><%= image_tag("news_go_10.jpg") %></li>
                        <li><%= image_tag("news_go_11.jpg") %></li>
                        <li><%= image_tag("news_go_12.jpg") %></li>
                        <li><%= image_tag("news_go_13.jpg") %></li>
                    </ul>
                </div>
                <p>我院眼科专家通过多媒体平台深入浅出地向同学们讲解了近视的发病原因、危害、如何进行防控以及如何正确做眼保健操，才能有效缓解视疲劳等爱眼护眼知识。</p>
                <div class="newsImgMar">
                    <ul>
                        <li><%= image_tag("news_go_14.jpg") %></li>
                        <li><%= image_tag("news_go_15.jpg") %></li>
                        <li><%= image_tag("news_go_16.jpg") %></li>
                        <li><%= image_tag("news_go_17.jpg") %></li>
                    </ul>
                </div>
                <p>眼健康知识讲解后，我院医护人员为学生们进行了医学视力检查，并应用流动智能科普馆配备的“七合一”眼前节综合分析仪等国际顶尖设备进行眼健康专项检查。同时，为每位学生建立了详细的眼健康档案，我院专家针对检查结果进行一对一的讲解，让家长更加深入的了解孩子的眼部健康状况。</p>
                <p>虽然持续一天的眼健康科普活动在永盛镇永盛场社区和成都市花园国际小学领导的大力支持下圆满结束，但眼健康公益科普活动将坚定不移的持续进行下去，为更多的人民群众提供便捷优质高效的眼科诊疗服务，全力以赴为眼健康公益事业做出卓越贡献。</p>












                <p>2017年5月8日，四川省视力保护科普基地联合我院深入泡桐树小学（西区），开展“眼健康科普校园公益行”活动，为70余名学生及家长进行了眼健康知识讲座和眼健康普查。</p>
                <div class="newsImgMar">
                    <%= image_tag("pts_1.jpg") %>
                </div>
                <p class="noIndent"><b>科普讲座生动有趣</b></p>
                <p>我院视光专家就青少年近视产生的原因、危害以及如何预防等知识，对大家进行了科普讲座。讲座内容通俗易懂、生动形象，采用现场互动的形式，帮助和培养学生养成良好的用眼习惯，预防各种眼疾。</p>
                <div class="newsImgMar">
                    <%= image_tag("pts_2.jpg") %>
                </div>
                <p class="noIndent"><b>小朋友送漫画表感谢</b></p>
                <p>生动有趣的爱眼护眼科普讲座，受到校方、家长的称赞与认可。讲座结束后，小朋友们给我院医务人员送了一份特殊的礼物——— 5幅亲手制作的漫画。萌萌哒的礼物不仅表达了小朋友们真挚的感激之情，也让医务人员感觉弥足珍贵，因为这是师生们对我院医护人员的认可。</p>
                <div class="newsImgMar">
                    <%= image_tag("pts_3.jpg") %>
                </div>
                <p class="noIndent"><b>应用先进眼科设备进行检查</b></p>
                <p>随后，我院特派的医护人员应用“流动科普馆”配备的先进眼科设备，为师生提供了眼健康专项检查服务，便于大家更加深入的了解自身眼部健康状况，同时为学生们建立了专业的眼健康档案。</p>
                <div class="newsImgMar">
                    <%= image_tag("pts_4.jpg") %>
                </div>
                <p class="noIndent"><b>专家亲自解读检查结果</b></p>
                <p>针对学生的眼部检查结果，我院专家亲自为家长解读检查结果，并针对每位学生的眼健康情况给出了专业建议。对此，家长及校方领导表示衷心的感谢。</p>
                <div class="newsImgMar">
                    <%= image_tag("pts_5.jpg") %>
                </div>
                <p>青少年近视防控是学校卫生工作的重点内容，也是社会关注的热点问题。此次校园公益行引起学校和家长对眼健康的高度重视，在学习压力繁重及电子信息时代，在不断提高学习成绩的同时，更应增强青少年儿童眼健康科普教育及早期检查等工作，真正做到德、智、体全面发展。</p>
            </div>
        </div>
    </div>
</div>
