<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“大爱无疆•善行天下”眼健康公益行之美视国际学校</h5>
            <p class="rightWord">2017-04-21</p>
        </div>

        <div>
            <p>2017年4月21日下午，四川省视力保护科普基地携手成都中医大银海眼科医院，联合获得IB国际文凭授权，通过AdvancED(世界先进教育促进组织)、AI(国际认证)、NCPSA(美国私立学校委员会)认证的世界认可的国际学校——成都美视国际学校开展了“眼健康科普校园公益行”活动，为120余名小学四年级师生及家长进行了眼健康知识讲座、提供了专业视力检查和专家义诊等服务。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_goms_1.jpg") %></li>
                    <li><%= image_tag("news_goms_2.jpg") %></li>
                </ul>
            </div>
            <p>我院眼视光中心专家就青少年儿童近视产生的原因、危害、如何预防以及如何正确做眼保健操等，为现场的学生及家长开展了一场以“爱眼护眼，从小做起”为主题的科普讲座。讲座内容浅显易懂、现场互动性强，有效地引导同学们学习科学的用眼知识，帮助学生养成良好的用眼习惯，培养学生们防控各种眼疾的意识，受到校方、家长的称赞与认可。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_goms_3.jpg") %></li>
                    <li><%= image_tag("news_goms_4.jpg") %></li>
                </ul>
            </div>
            <p>随后，我院特派的医护人员为学生进行了专业的视力检查。此外，应用“流动科普馆”配备的“七合一”机器人等国际顶尖设备进行专业眼部检查，为大家提供了眼健康专项检查服务，利于家长更加深入的了解孩子的眼部健康状况，同时为学生们建立了专业的眼健康档案，对后期有效防控青少年近视有着重要的意义。</p>
            <div class="newsImgMar">
                <%= image_tag("news_goms_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_goms_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_goms_7.jpg") %>
            </div>
            <p>针对学生们的眼部检查结果，我院眼视光专家袁晓辉主任医师带领专家团队亲自为学生、家长解读，并对每位学生的眼健康情况给出了专业建议，对此，家长及校方领导表示衷心的感谢！</p>
            <div class="newsImgMar">
                <%= image_tag("news_goms_8.jpg") %>
            </div>
            <p>提升青少年近视防控的意识，加强近视防控知识的普及，对于缓解我国青少年近视问题日益严峻的现状中就显得尤为重要。四川省视力保护科普基地、成都中医大银海眼科医院，将陆续深入更多中小学校开展眼健康科普公益活动，探索出青少年近视防控的科学方法，为降低中小学生近视的发生率，减缓近视发展的进展，共同为眼健康提升事业不断努力。</p>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
å