<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>眼科学院2017级研究生毕业答辩顺利举行</h5>
            <p class="rightWord">2017-05-30</p>
        </div>

        <div>
            <p>又到一年毕业送别时，2017年5月27日，成都中医药大学眼科学院进行了2017级博士、硕士研究生毕业论文答辩。25名硕、博士在掌声、鲜花和泪水中为自己三年的研究生生涯，交上一份沉甸甸的答卷交上。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjs_1.jpg") %>
            </div>
            <p>此次毕业答辩邀请的评委专家来自眼科及中医临床评价等多个领域知名专家，包括首都医科大学北京同仁医院朱思泉教授、上海中医药大学张磊教授、温州医科大学附属眼视光医院张宗端教授、重庆市中医院眼科主任李慧丽主任医师、成都市第一人民医院眼科主任曾流芝主任、成都市第二人民医院眼科主任杨静主任医师、成都中医大银海眼科医院潘学会主任等。专家们认真阅读和听取了研究生们的毕业论文汇报，并针对其中的问题给予了专业、中肯的意见和建议，令同学们受益匪浅。在此谨代表成都中医药大学眼科学院向所有的评委专家表示最诚挚的感谢，同时也向毕业学子们表示衷心的祝贺！</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjs_2.jpg") %>
            </div>
            <p>学子们即将离开成都中医药大学眼科学院这个大家庭，学院永远祝福你们、惦记你们、瞩望你们，相信求学路上的艰辛、努力、汗水迎来的是人生旅途新起点，希望你们怀抱梦想、充满豪情地踏上新的征途，拥抱自己美好的明天！</p>
            <div class="newsImgMar">
                <%= image_tag("news_yjs_3.jpg") %>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
