<div class="main">
    <div class="middle flow">
        <div class="newsMain">
            <div class="newsTitle twoNewsTitle">
                <h5>青春绽放 梦想起航</h5>
                <h5>眼科学院2017届硕士毕业典礼暨授位仪式隆重举行</h5>
                <P class="rightWord">2017-04-26</P>
            </div>
            <div>
                <p>花落成实，岁月流金。6月21日下午，眼科学院2017届硕士研究生毕业典礼暨授位仪式在成都中医药大学附属银海眼科医院六楼学术报告厅隆重举行。研究生院院长孟宪丽、眼科学院/附属银海眼科医院院长兼书记段俊国、研究生导师周华祥、郑燕林、谢学军、李翔、黄秀蓉、叶河江、路雪婧、莫亚、张富文，以及银海眼科医院医疗质量总监刘文教授、医务部潘学会主任、黄霄主任医师，2017届全体硕士研究生及其亲友团、眼科学院眼视光专业本科生代表参加了典礼。  </p>
                <div class="newsImgMar div_90">
                    <ul>
                        <li><%= image_tag("news_zydss_1.jpg") %></li>
                        <li><%= image_tag("news_zydss_2.jpg") %></li>
                    </ul>
                </div>
                <p>眼科学院/银海眼科医院院长、书记段俊国教授在毕业典礼致辞中，向圆满完成学业的眼科学院学子表示衷心的祝贺，并对硕士研究生的未来寄予了殷切的期望，分享了三句话：第一，有情怀，爱己及人，常怀感恩。第二，有所为，持之以恒，久久为功。学会学习、持续学习，成为终身学习的人。第三，有梦想，不忘初心，追求卓越。愿同学们都能树立崇高的理想，建立奋斗的目标，实现自我的价值，成就幸福的人生。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_zydss_3.jpg") %>
                    <p>图|段院长在毕业典礼上致辞</p>
                </div>
                <p>“肺腑之言，留待别时”，研究生院院长孟宪丽在致辞中向即将步入新的人生路程的同学们表示热烈祝贺，向多年来付出辛勤汗水的导师以及同学们的父母，致以崇高的敬意。她表示母校永远是毕业生的坚强后盾，希望大家心系母校、砥砺前行，永远传承成中医的精神。  </p>
                <div class="newsImgMar">
                    <%= image_tag("news_zydss_4.jpg") %>
                    <p>图|研究生院院长孟宪丽在毕业典礼上致辞 </p>
                </div>
                <p>叶河江研究员作为导师代表在毕业典礼上的发言，饱含了师者对学生的谆谆教诲和深情祝福，希望同学们能够坚持中医药文化的心态，注重中医眼科的传承与创新。</p>
                <div class="newsImgMar div_90">
                    <ul>
                        <li>
                            <%= image_tag("news_zydss_5.jpg") %>
                            <p>图|研究员叶河江在毕业典礼上致辞</p>
                        </li>
                        <li>
                            <%= image_tag("news_zydss_6.jpg") %>
                            <p>图|毕业生代表肖建强同学致辞</p>
                        </li>
                    </ul>
                </div>
                <p>毕业生代表肖建强同学情真意切、幽默诙谐的发言赢得全场阵阵掌声，也令毕业生们泪盈满眶。他发自肺腑地感慨，身为成中医人，是幸福、富足、广博且幸运的；面对辛勤耕耘的老师、含辛茹苦的家人无以为报，唯有谨记作为成中医人应有的精神，带着母校的关爱，带着梦想，砥砺前行，再次出发。</p>
                <div class="newsImgMar div_90">
                    <ul>
                        <li>
                            <%= image_tag("news_zydss_7.jpg") %>
                        </li>
                        <li>
                            <%= image_tag("news_zydss_8.jpg") %>
                        </li>
                    </ul>
                    <p>图|在读硕士研究生及本科生代表发言</p>
                </div>
                <p>其后，在校硕士研究生及本科生代表陆续发言，对师兄师姐送上毕业祝福。</p>
                <p>研究生院院长孟宪丽宣读了校学位评定委员会《关于授予2017届硕士研究生学位的决定》及眼科学院2017届硕士学位获得者名单。孟宪丽院长、段俊国院长及导师们为25位毕业生一一拨流苏、颁发学位证书，并合影留念。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_zydss_9.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_zydss_10.jpg") %>
                </div>
                <p>有人说，毕业是一场惶恐又必须的典礼，是与校园青春告别的日子；也有人说，毕业是一种去意回惶的境界，是踏上新的人生征途的开始。毕业生，今日与你们作别，不只为送别，更为全力追梦吹响号角，祝你们未来一帆风顺！学校、学院是你们永远的精神家园！</p>

            </div>
        </div>
    </div>
</div>
