<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医-周春阳】眼科江湖中的屈光大侠</h5>
            <p class="rightWord">2017-07-21 </p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_zcyqg_1.jpg",:class => "fl borderGray marR-30 marb-15") %>


                        <p>周春阳</p>
                        <p>副主任医师、副教授</p>
                        <p>坐诊时间  周三五全天，周六下午</p>
                        <p>擅长领域: 擅长Smart全激光、Smile全飞秒等各类屈光手术，激光近视手术、青少年近视综合防控、视疲劳防治。</p>
                        <p>成都中医药大学眼科学院眼视光教研室主任，成都中医药大学附属眼科医院/成都中医大银海眼科医院眼视光中心副主任。中国民族医药学会眼科分会理事，四川省中医药学会眼科专业委员会常务委员，四川省预防医学会眼视觉保健分会常务理事，四川省青年中医药研究会委员，成都市视力保护协会监事。《中医眼耳鼻喉杂志》通讯编委，《中华医学百科全书》中医眼科卷编委。</p>
                </div>
            </fieldset>
            <p>从事中医眼科、中西医结合眼科临床、科研、教学工作15年。负责或主研国家“十一五”攻关、国家自然科学基金、四川省中医药管理局课题等各级课题7项，正式学术期刊发表论文近20篇，参编教材、专著5部。从事角膜激光屈光手术10余年，手术经验丰富，患者术后视觉质量优异；并擅长于青少年近视中医药综合防控，斜视弱视、视疲劳、干眼症的中西医综合防治。</p>
            <p><b>医者仁心</b></p>
            <p>初次见到周春阳主任时，他正在门诊室为患者做术后复查。周主任亲切地对患者说：“您近视屈光手术后视力恢复得非常好，但仍要注意保护好视力，多多注意用眼健康。”爱笑、亲切是周主任留给患者的第一印象。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zcyqg_2.jpg") %>
                <p>（周春阳主任为患者复查）</p>
            </div>
            <p>访谈中周主任介绍自己本科攻读的是中医针灸，中医学对他来说一直是充满神秘感和无限魅力的。他回忆初为医师时，医院来了一位三叉神经疼痛，几乎要休克的病人。各科室都无法做出及时的止痛处理，周春阳主任作为一名年轻医生，同样也心急如焚。经过思索，他决定尝试针刺，为病人针刺后，病人的疼痛即刻缓解，病人及家属莫不惊奇。通过几年时间的随访，患者未再复发。说起这段往事，周主任侃侃而谈，并依然沉浸在中医独有的魅力中。</p>
            <p>当问及选择学医的初衷时，周主任讲到：“我并没有细细想过这个问题，但我一直以医生这个身份而自豪，医治好病人带来的成就感或许就是我从医的动力和初衷。”</p>
            <p>“世界那么大，希望他们（眼病患者）能看清楚，去感受世界，去感受生活细节的美。生活因无法预测而美好，所以视线不应受镜框的限制。”怀着这样的愿景周主任选择了硕博攻读眼科专业。</p>
            <p>说起从事眼科医生这一行，周主任记忆最深刻的是一位患有后发性白内障的大爷，白内障摘除术后因后发性白内障而近乎“失明”。周主任介绍到，处理这类问题其实很简单，他为大爷做了YAG激光后囊切开后，大爷的视力立马从0.1恢复至1.5。对于医生来说也许只是一两分钟简单的治疗，但对于患者来说却是重现整个世界，从此看见脚下的路，看清家人的笑脸，大爷感激到连忙下跪，周主任连忙扶起大爷。</p>
            <p>这件事深深触动了周主任的心，这也许就是作为医生具有的独特的职业成就感，这么多年来，虽然很辛苦，但他一直享受着作为医生的每一刻。</p>
            <p><b>师者学者</b></p>
            <p>除了医者的身份，周主任还有另一个身份，师者、学者。周主任从事中医眼科、中西医结合眼科临床、科研、教学工作15年。负责或主研国家“十一五”攻关、国家自然科学基金、四川省中医药管理局课题等各级课题7项，正式学术期刊发表论文近20篇，参编教材、专著5部。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zcyqg_3.jpg") %>
                <p>（周春阳主任为患者复查）</p>
            </div>
            <p>韩愈在《师说》写到，古之学者，必有师。师者，所以传道受业解惑也。这讲的是为师与弟子之间的和谐关系。亦师亦友，互相促进的师生关系也是周主任在教学中奉行的准则。作为成都中医大银海眼科医院眼视光中心副主任，成都中医药大学眼科学院眼视光教研室主任，周主任认为老师不仅仅是传递知识给学生，更是学生的榜样。</p>
            <p>他说：“为人师表，当以个人的人格魅力，潜移默化的影响学生，为国家培养更多仁心仁术的医生。”周主任同时也认为，教学也是一个相互的过程，教学相长，在科研、学术、生活上，学生们往往也会给他一些启迪。现在的学生思维很活跃，想法天马行空，尽管有时候他们的想法不一定太成熟，但有时候也会带来意想不到的创意点。</p>
            <p><b>眼科界的武林高手</b></p>
            <p>周春阳主任从事角膜激光屈光手术10余年，手术经验丰富。如今，成都中医大银海眼科医院引进了蔡司全飞秒Visu Max激光系统。SMILE3.0全飞秒手术无瓣，微创，手术时间短，精准性高，角膜安全性和术后生物力学更好，术后视觉质量高。不仅如此，成都中医药大学附属银海眼科医院还引进了全国眼科医院首家阿玛仕1050RS准分子激光治疗仪。开展SMART千频全激光手术，这是一种创新的表层角膜屈光手术方式，全程零接触，无需制瓣亦无切口，术后不留痕迹，是目前安全、视觉质量较好的近视激光矫正技术。周春阳主任笑称蔡司全飞秒Visu Max激光系统与阿玛仕1050RS准分子激光治疗仪是成都中医药大学附属银海眼科医院的““倚天剑”和“屠龙刀”。SMART千频全激光屠龙，号令天下，莫敢不从，SMILE全飞秒不出，谁与争锋。周春阳主任诙谐幽默的特质，无论是病人还是同事，与他相处都感觉到非常轻松。</p>
            <p>手术经验丰富的周春阳主任，如今坐拥激光屈光手术的两大法宝，堪称锦上添花。同时，中药的介入使表层手术后眼睛疼痛、畏光流泪等症状得以改善，对干眼症都有明显的帮助，有助于眼睛的恢复。周主任在访谈中特别提到，中医大附属银海眼科医院是非常好的平台，如今靠着中西结合的两把利剑在眼科江湖里声名鹊起。</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
