<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“关注眼健康，公益科普进万家” 社区公益行走进金仙桥社区</h5>
            <p class="rightWord">2017-04-20</p>
        </div>

        <div>
            <p>2017年4月20日上午，我院眼健康科普校园公益行在沙河源小学圆满结束后，下午2点，我院专家团及医护人员不畏辛苦准时抵达金仙桥社区。在金仙桥社区居民委员会的大力支持下，顺利开展了“关注眼健康，公益科普进万家”社区公益行活动，为50余名社区居民提供了专业视力检查、专家义诊等系列公益服务。现场居民参与度高，高度认可本次公益行活动。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_jxq_1.jpg") %></li>
                    <li><%= image_tag("news_jxq_2.jpg") %></li>
                </ul>
            </div>
            <p>活动一开始，金仙桥社区的居民陆续到来。活动现场，我院特派专家、医务人员分工明确，技术娴熟。有序安排大家进行了视力基础检查，同时应用流动科普馆装备的先进眼科设备提供了眼部专项检查，现场给出报告。担心的情况还是出现了，两个多小时的活动，有33%需要到医院进行进一步检查和治疗，中老年人的眼健康问题令人堪忧。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jxq_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jxq_4.jpg") %>
            </div>
            <p>针对如此严峻的结果，我院眼科专家有针对性的进行了详细的检查，发现有较多老人都患有白内障、青光眼，或其他眼部疾病，一一地进行耐心作答，且给出了合理、针对性的治疗建议和方案。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jxq_5.jpg") %>
            </div>
            <p>两个多小时的活动结束了，社区居民赵奶奶说到：“活动真的是太好了！这么多先进的仪器给我们做检查，现场给打印看结果，医生还认真解答问题，太好了，太方便了。” 活动虽然结束了，但“关注眼健康，公益科普进万家”社区公益行仍在进行，将走进更多社区为人民群众服务，为眼健康事业不断努力、前行！</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
