<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海天使】穿城而过送抵温暖——车智</h5>
            <p class="rightWord">2017-08-16</p>
        </div>

        <div>
            <p>车智老师的办公电脑桌面上放满了七七八八各种文档，见到她的时候，她正在忙着处理急救车内警示标识的设计。车智是银海眼科医院的护理部主任，担负着护理部形形色色的工作，常常忙得不可开交。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sdwn_1.jpg") %>
                <p>护理部主任车智</p>
            </div>
            <p>车智老师为病人着想是出了名的。一次，有个做了近视眼手术的病人回到家后才发现自己失误把药丢了，病人一个人也没办法返回医院拿药，万分焦急。情急之下，病人打电话向医院求助。车智老师没有犹豫，便主动垫钱给病人买了药再亲自送到病人家里。下班后，车智老师骑着电瓶车，几乎横穿了大半个成都市，跑了十多公里，风尘仆仆地找到病人家。把眼药递到病人手里的时候，病人感动得几乎说不出话来。车智老师没多说什么，转身便骑车离开了。车智老师不顾一切为病人服务的故事太多太多了，但她觉得稀疏平常，不值一提。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sdwn_2.jpg") %>
                <p>车智核查病历</p>
            </div>
            <p>车智老师不管是对病人还是对护士，都格外用心，特别乐于帮他们解决问题。护士在工作中受了委屈，或身体不舒服，家里有特殊情况的时候，车智老师都会给予安慰、开导，很关心护士，有的时候还会用下班时间去帮其他护士解决家里的事情，解除护士们的顾虑。而在对工作的要求上，车智老师毫不含糊，对自己、对下属都严格要求，她很清楚在医疗行业的错误意味着什么，所以一向的高标准、严要求。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sdwn_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sdwn_4.jpg") %>
                <p>车智悉心照顾病人</p>
            </div>
            <p>昨天晚上车智老师发烧到38.8度，整个人都是烫的，但她第一时间想到的是怕影响第二天护理部的工作，马上服用了退烧药。今天虽然没有彻底退烧，还是坚持来了医院忙于各种事物。</p>
            <p>只要是病人需要的事情，就一定会把它完成！</p>
            <p class="flow">
                <span class="fr">————车智</span>
            </p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
