<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>第五届中医药现代化国际科技大会胜利召开</h5>
            <p class="rightWord">2016-11-19</p>
        </div>

        <div>
            <p><b>第五届中医药现代化国际科技大会中医眼科创新与发展分会（第十二分会）胜利召开</b></p>
            <p>2016年10月23日至25日，第五届中医药现代化国际科技大会中医眼科创新与发展分会（第十二分会）在四川成都新华宾馆胜利召开。同时，中华中医药学会眼科专业委员会第十五次学术年会、世界中医药学会联合会第二届西部（银海）眼科论坛和2016年四川省中医药学会眼科专业委员会学术年会（以下合称“四会”）也同期成功举行。大会由中华人民共和国科学技术部等14个部委和四川省人民政府主办。分会由中华中医药学会、世界中医药学会联合会、四川省中医药学会、成都中医药大学联合主办，由中华中医药学会眼科专业委员会、四川省中医药学会眼科专业委员会、成都中医大银海眼科医院、中医眼耳鼻喉杂志承办。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_1.jpg") %>
            </div>
            <p><b>第十二分会开幕式</b></p>
            <p>为加强中医眼科、中西医结合眼科的交流合作，推动中医眼科学术的创新与发展，充分发挥中医眼科的特色优势，进一步丰富和发展中医眼科学术体系，本次会议以中医眼科传承与创新为主线，涵盖眼科和视觉科学各个领域，中西医眼科最新的临床和基础研究成果、创新技术应用和互联网诊疗，会议汇集国内外著名眼科医疗机构、科研单位、专家学者，全方位、多角度探讨眼科的创新与发展，提升中医在未来视觉健康领域的贡献，推动中医药的现代化与国际化。</p>
            <p>大会执行主席、成都中医药大学眼科学院/银海眼科医院院长段俊国致开幕词，对来自全国的眼科专家和同道表示热烈欢迎，指出本次大会“四会”同时召开，以中医眼科创新与发展为主题，将促进中医、中西医结合、西医在眼科领域的融合发展，对推动中医眼科事业的发展具有重要的意义。在开幕式上，中华中医药学会学术部主任刘平宣布第六届中华中医药学会眼科专业委员会委员选举结果。中华中医药学会眼科专业委员会第五届主任委员，中日友好医院金明教授总结了过去几年眼科专委会取得的成绩，中华中医药学会眼科专业委员会第六届主任委员，中国中医科学院眼科医院亢泽峰副院长表示将进一步做好眼科专委会的工作，预祝大会成功。最后，中华中医药学会副秘书长谢钟代表学会祝贺大会的成功召开，并希望眼科专委会在引导学术创新与发展方面起到更加积极的作用。开幕式由中华中医药学会眼科专业委员会副主任委员、河北省眼科医院院长张铭连主持。中华中医药学会副会长、四川省中医药学会会长杨殿兴，世界中医药联合会主任包文虎，湖南中医药大学校长秦裕辉，温州医科大学校长吕帆出席了开幕式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_2.jpg") %>
                <p> 中国科学院院士、复旦大学脑科学研究院杨雄里院士</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_3.jpg") %>
                <p> 中国科学院院士、香港大学医学院苏国辉院士</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_4.jpg") %>
                <p> 中国工程院院士、中国科学院光电技术研究所姜文汉院士</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_5.jpg") %>
                <p> 中山大学中山眼科中心吴乐正教授</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_6.jpg") %>
                <p> 成都中医药大学眼科学院/银海眼科医院院长段俊国教授</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_7.jpg") %>
                <p> 中日友好医院金明教授</p>
            </div>
            <p><b>学术平台高，会议规模大，影响广泛</b></p>
            <p>本次中医眼科的创新与发展分会，齐聚海内外各领域专家学者500多位，收到论文327篇，150位专家在大会或相关单元进行了论文交流。中国科学院院士、复旦大学神经生物学研究所杨雄里教授（院士），中国工程院院士、香港大学医学院苏国辉教授（院士），中国工程院院士、中国科学院光电技术研究所姜文汉研究员（院士），中山大学中山眼科中心吴乐正教授，成都中医药大学眼科学院段俊国教授，中日友好医院金明教授，四川大学华西医院张明教授和美国华盛顿大学Dr.Wang在大会开幕式上作了“近视眼和多巴胺--小鼠近视模型研究的启示”，“枸杞子与视网膜的保护”，“自适应光学在眼科的应用”，“中医药与眼病现代防治”，“中西医眼科融合发展引领眼病防治与视功能保健”，“中医眼科优势病种分析”，“流程管理在眼科的应用”和“OCT血流成像技术的原理与发展方向”的精彩报告，大会报告结合眼科疾病和保护，眼科光学应用等，将大会学术报告推向了更高的层次。大会报告专家肯定了年轻学者对中医眼科做出的贡献，提出中医眼科学术研究的开展是养成硕学闳才、顺应时代发展，结合中医理念，对推动眼科治疗、保健及眼科治疗科研仪器的发展有重要意义。</p>
            <p><b>（一）内容丰富，中西合璧</b></p>
            <p><b>1、设立专题，创新交流模式</b></p>
            <p>本次四会共设立糖尿病视网膜病变、眼科影像与读片、青光眼与视觉保护、年龄相关性黄斑病变性、青少年视力不良的防控、白内障屈光与老视、针灸在眼病防治中的应用--纪念张彬主任中医师、中西医眼科教育、眼表疾病的中西医防治和名医经验传承十个单元展开学术交流，每个单元均有五到六位主理嘉宾主持交流讨论点评，分为特邀专题报告和论文交流两个部分，既有权威的专家，也有中青年学者。本次会议秉承着“传承、创新、发展”的理念，会上中医、西医及中西医结合领域的专家学者在大会分设的各个单元中交流分享，激发思维碰撞，加深学术交流，有力的推动和促进了中医眼科的现代化进程。</p>
            <p><b>2.设立青年论坛，评选优秀论文</b></p>
            <p>为激励青年学者，本次会议设立青年论坛，为青年眼科学者搭建分享交流平台，邀请名老眼科专家对报告者的报告予以点评。为表彰高水平的学术论文，本次大会设立银海优秀论文奖，对大会正式注册的并在大会进行交流的高水平论文有专家评审，择优奖励。，本次大会中评选出甘肃省中医院罗向霞《右归丸对糖尿病视网膜病变大鼠PI3K/Akt 信号通路影响》等十篇优秀论文。</p>
            <p><b>3.壁报交流</b></p>
            <p>除大会口头报告，此次还采取了壁报形式进行学术交流。大会专家委员会甄选了六十篇优秀文章进行壁报交流，其中基础研究16篇、临床研究38篇、名家经验传承4篇、个案报道1篇、眼科医院发展模式探讨1篇，以另一个方式展示了目前全国中医眼科界最新的研究成果。</p>
            <p><b>（二）会议与健康产业发展相结合</b></p>
            <p>1.会议期间举行了成都中医大银海眼科医院揭牌暨授牌仪式。</p>
            <p>10月24日上午，本次主办单位成都中医药大学的附属眼科医院——成都中医大银海眼科医学院揭牌仪式成功举行，医院以中医为特色，体现中西医结合、眼科与视光结合、眼与全身病结合、眼科与互联网结合、医疗与教学科研结合，建设国际接轨、特色突出、防治一体的现代化眼科医疗集团，充分发挥传统中医药和现代医学两方面的优势，以一流技术、一流设备、一流疗效、一流环境服务于广大患者，为我国眼病患者提供优异的医疗保健服务。医院将秉承"大医精诚，银海启明"的院训，努力使医院建设成中西结合的国际眼科新中心。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_8.jpg") %>
                <p>中国工程院院士、中国中医科学院院长张伯礼出席成都中医大银海眼科医院揭牌仪式并致辞</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_9.jpg") %>
                <p>成都中医大银海眼科医院/成都中医大附属眼科医院揭牌暨授牌仪式</p>
            </div>
            <p><b>2.分会参加了省政府举办的“科技成果产业对接会”。</b></p>
            <p>10月24日下午，第五届中医药现代化科技大会期间，四川省人民政府举办“中医药与生物医药大健康产业科技成果对接大会”省政府副秘书长罗志平、成都中医药大学眼科学院院长段俊国代表成都中医药大学和太极集团董事会主席白礼西代表投资人，在大会上签订了成都中医药大学眼科医院项目合作协议。会上发布了近年来四川省中医药健康产业取得的成果，同时进行了科技成果与产业资本的对接。</p>
            <p>据悉，成都中医大银海眼科医院是目前西部地较大的眼科医疗项目，医院依托成都中医药大学中医眼科学国家重点学科，建设医疗、教学、科研三位一体的国际眼科医疗中心。眼科医院预计明年初正式开业运营。</p>
            <p><b>3.眼科相关企业产品展示</b></p>
            <p>本次第五届中医药现代化国际科技大会中医眼科创新与发展分会与国内多家企业进行了合作，包括太极药业、西安碑林、高视远望、展鑫优视、思格玛、上邦、深圳瑞霖、好医生、蔡司、万晟药业、科医人、康弘药业、和生视界和升和药业十四家企业在会场内设置了各企业在眼科领域的科技化产品和医疗设备，极大的提升了眼科科研实力产业化的进展，也在此推动了眼科科研设备向医疗设备转化的进程。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_10.jpg") %>
                <p>中国中医科学院眼科医院副院长亢泽峰教授在大会闭幕式上发言</p>
            </div>
            <p>10月25日上午11:30-12:00，本次四会闭幕式在成都新华宾馆会议中心顺利召开，成都中医大银海眼科医院/成都中医大附属眼科医院院长段俊国教授主持大会，四川省医学会眼科专业委员会主任委员刘陇黔教授、第六届中华中医药学会眼科专业委员会主任委员亢泽峰教授、副主任委员王育良教授、接传红教授、邱礼新教授等出席了闭幕式。闭幕式上，嘉宾为10名银海论坛优秀论文奖获得者，颁发了奖品。第六届中华中医药学会眼科专业委员会主任委员亢泽峰教授及分会执行主席段俊国教授分别致辞，对大会进行了总结和回顾。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_11.jpg") %>
                <p>嘉宾为银海优秀论文获奖者颁奖</p>
            </div>
            <p>此次会议来自美国华盛顿大学、首都医科大学北京同仁医院、中山大学中山眼科中心、四川大学华西医院、复旦大学、温州医科大学等西医院校，中国中医科学院、天津中医药大学、上海中医药大学、湖南中医药大学、山东中医药大学等中医兄弟单位的眼科专家参会并做精彩报告，分享学术成果，交流科研心得，回顾经典传承。</p>
            <p>会议期间，中医在线、新浪网、搜狐网、腾讯网等多家媒体参会争相报到大会各单元学术报告实况，将会议内容放大，惠及更多眼科领域人才，从多方面，全方位的平台了解本次大会最新进展。大会内容精彩纷呈，影响力巨大，对全国眼科发展具有深远的意义。</p>
            <div class="newsImgMar">
                <%= image_tag("news_dhzk_12.jpg") %>
                <p>参会代表集体合影留念</p>
            </div>
            <p>至此，第五届中医药现代化国际科技大会中医眼科创新与发展分会（第十二分会）正式落下帷幕，但中医眼科的发展才刚刚拉开序幕，新一届的医药现代化国际科技大会领导班子，将深化“让中医走向世界”的目标，切实履行大会精神和主旨，开拓创新，继往开来，打开中西医结合的世界之窗，构建中西医学沟通的桥梁，共同学习进步，将中西医结合眼科学发扬光大，树立更加优良的国际形象。</p>
            <p><b>成都中医大银海眼科医院</b></p>
            <p>成都中医大银海眼科医院为成都中医药大学附属眼科医院，是集医、教、研三位于一体的研究型专科医院。医院坐落于蓉城府河之滨的星辉西路8号，按国家三级甲等专科医院标准，耗巨资3亿建成。配备世界眼科专业设备，价值6000余万元。齐聚众多国内外中西医专家、学者担任医院各专业领域学术技术带头人，以一流技术、一流设备、一流疗效、一流环境服务于广大患者。</p>



        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
