<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>第三届国医大师首个工作室廖品正大师工作室在蓉成立</h5>
            <p class="rightWord">2017-07-18</p>
        </div>

        <div>
            <p>国医大师是人力资源和社会保障部、国家卫生计划生育委员会和国家中医药管理局联合评选出的我国中医药界院士级的杰出代表人物，是中医药行业的最高荣誉。</p>
            <p>2009年评选出了第一届“国医大师”，目前共评选了三届，每届评选国医大师30人。迄今全国当选的“国医大师”为90人。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_1.jpg") %>
            </div>
            <p>7月16日，成都中医大银海眼科医院开业庆典仪式在成都星辉西路8号隆重举行。同时举行当选为第三届国医大师廖品正工作室启动仪式。国家中医药管理局高度重视此次廖品正国医大师工作室的成立，在启动仪式上，国家中医药管理局闫树江副局长亲自上台与国医大师廖品正一起为工作室揭幕！</p>
            <p>闫树江副局长在工作室揭幕启动仪式上，对成都中医大银海眼科医院在全国率先建成第三批国医大师首个工作室-廖品正国医大师工作室，表示热烈的祝贺！希望廖品正国医工作室充分发挥国医大师的影响力和传、帮、带的作用，培养更多专业人才，用更加精湛的医疗技术服务更广泛的群众。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_2.jpg") %>
            </div>
            <p>活动现场，国家中医药管理局规划财务司副司长刘群峰，四川省中医药管理局副局长杨正春，成都市人民政府副秘书长、市政府办公厅主任廖成珍、成都市卫生和计划生育委员会副主任赵平、成都市金牛区区长唐华，中国工程院院士、中国医疗保健国际交流促进会会长韩德民教授，成都中医药大学党委书记刘毅教授，校长余曙光教授，眼科学院/附属银海眼科医院院长、书记段俊国教授及成都中医药大学16个学院及相关职能部门负责人，以及来自首都医科大学北京同仁医院、中山大学中山眼科中心、河北省眼科医院、山东中医药大学附属眼科医院、陆军医科大学大坪医院眼科等近百个眼科医院及综合医院眼科院长、主任、眼科专家和来自五大洲的国外眼科学者嘉宾约300余人到场祝贺共同见证廖品正国医大师工作室的揭幕。</p>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_lpzgy_8.jpg") %>
                <p>国医大师工作室</p>
            </div>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
