<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>19岁大男孩因眼疾丢掉工作，终在银海重启光明！</h5>
            <p class="rightWord">2017-08-11</p>
        </div>

        <div>
            <p>最近一段时间成都持续高温，炎热的天气似乎让树上的知了也失去了聒噪的力气，萎靡在阴凉处，窃窃私语。比起窗外的烈日炎炎，守在儿子病房边的夫妇二人此时的内心却如寒冬！</p>
            <p><b>迷茫</b></p>
            <p>19岁，本该是在校园放肆青春的年纪，他为了缓解家里的生活压力，不得不辍学赚钱贴补家用。不久前，他还用辛苦赚来的钱给在成都中医药大学念书的哥哥添置了一部新手机。就这样一位乖巧懂事、阳光帅气的大男孩何江（化名），此刻却蜷缩在病床上，尽显颓废与迷茫，病魔竟如此无情。</p>
            <p><b>奔走</b></p>
            <p><b>“妈，我右眼失明了，我好害怕！”一天清晨，何江惊呼地向母亲求救。在母亲的一再询问下，何江说自己一直以为右眼模糊是因为近视，所以没有引起足够的重视，没想到居然失明了。“妈，我以后都看不见了吗？”面对儿子无助的眼神，何江妈暗自下决心：儿子才19岁，他以后的路还长，哪怕是砸锅卖铁也一定要治好儿子的病。</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_yhcqgm_1.jpg") %>
            </div>
            <p>但是，想治好何江的病谈何容易！何江因为眼疾被老板辞退，在不到一个月的时间，父母带着何江在通江、成都、重庆三地奔波，仅路费就花费了1万元！各种检查后，却没有得出什么实质性结果，甚至有医生告诉何江父母“别费劲了，做这个眼病手术就是浪费钱”。医生的话仿佛像一记重拳，击碎了19岁男孩的梦，未来仿佛像断了线的气球，越飘越远。</p>
            <p><b>希望</b></p>
            <p>也许是受到了上苍的眷顾，在周围人无意间的一句提点下，一扇希望的大门逐渐打开，透出一片光明。“你大儿子不是中医药大学念书吗？那里有那么多教授、眼科专家，为什么不去咨询他们呢？”于是，夫妇二人赶紧拿出手机联系远在成都念书的大儿子。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhcqgm_2.jpg") %>
            </div>
            <p>几经周转，终于联系上了成都中医大银海眼科医院的医疗质量总监、眼底外科主任刘文教授。刘文教授从事眼科临床医疗工作35年，主要从事玻璃体视网膜疾病发病机制和诊断治疗的研究。曾任中山大学中山眼科中心特种医疗中心副主任，北京同仁眼科中心眼外科副主任，郑州市眼科医院院长。特别擅长各种眼底疾病、复杂性视网膜脱离和外伤性视网膜脱离、以及糖尿病性眼底疾病的手术和激光治疗。</p>
            <p>经过细致的检查和耐心的询问后，刘文教授郑重的对何江的父母说到：“这个眼病可以通过手术治疗，手术时间大概需要两个小时。”夫妇二人仿佛不敢想相信自己的耳朵，两个小时就能治疗其他医生口中的“束手无策”！</p>
            <p>正如刘文教授所预期的那般，两个小时后，何江的手术结束了。当刘文教授推开手术门出来时，夫妇二人连忙上前询问手术详情。刘文教授说到：“手术很成功，如果没有其他突发情况，观察几天就可以出院了。”夫妇二人闻言，顿时双眼含泪，激动得说不出话来，这么多天的奔波终于有了最圆满的结局。</p>
            <div class="newsImgMar">
                <%= image_tag("news_yhcqgm_3.jpg") %>
            </div>
            <p>刘文教授介绍到：“此病是视网膜静脉周围炎，由视网膜血管炎症引起，由于长期的炎症未予以治疗，出现严重增殖继发了牵拉性视网膜脱离。此手术难度在于剥离增殖膜，若增殖膜剥离不干净，视网膜将难以平伏，所以手术难度很大，并且由于他的病程长，故其他医院建议他放弃手术。但若不及时手术可能造成永久失明，甚至丧失眼球。”手术后，何江视力状况得到明显改善。患者手术效果良好，已出院。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj5.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>刘文（眼底外科）</p>
                    <p>坐诊时间: 周一、周三、周五上午、周四下午</p>
                    <p>擅长领域:</p>
                    <p>主要从事玻璃体视网膜疾病研究，擅长各种眼底疾病和复杂性视网膜脱离的手术治疗。</p>
                </div>
            </fieldset>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
