<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 美国哈佛大学Richard Jackson博士访问银海眼科</h5>
            <p class="rightWord">2017-10-26</p>
        </div>

        <div>
            <p>10月24日下午，美国哈佛大学Joslin糖尿病中心Richard Jackson博士一行来到成都中医大银海眼科医院参观考察。银海眼科医院院长、书记段俊国教授热情接待了Jackson博士一行。</p>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_1.jpg") %>
                <p>段俊国院长向Richard Jackson博士介绍医院情况</p>
            </div>
            <p>在段俊国院长的陪同下， Jackson博士一行参观了门诊大厅、眼科门诊、眼视光中心、住院部、药房、特检部、眼影像分析与诊断中心、VIP诊室以及廖品正国医大师工作室。</p>
            <p>“It's impressive！”Jackson博士参观中不时竖起大拇指。在中医治疗室，他细心聆听中药熏蒸疗法的介绍；在特检部，他详细询问OCT等有关眼底检查项目的开展情况；在病房，他称赞舒适的就医环境和实惠的住院价格；在廖品正国医大师工作室，他拜访了国医大师廖品正教授，对中医眼科表达出浓厚的兴趣。在参观银海眼科医院的过程中，Richard Jackson博士惊叹连连，高度评价了我院医疗设备的国际化及专家教授的高水平。</p>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_2.jpg") %>
                <p>段俊国院长介绍即将筹建的糖尿病医院</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_3.jpg") %>
                <p>参观门诊大厅</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_4.jpg") %>
                <p>参观中医治疗室</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_5.jpg") %>
                <p>参观药房</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_6.jpg") %>
                <p>参观信息中心</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_7.jpg") %>
                <p>拜访国医大师廖品正教授</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_8.jpg") %>
                <p>参观廖品正国医大师工作室</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_9.jpg") %>
                <p>参观眼影像分析与诊断中心</p>
            </div>
            <p>参观后，段俊国院长与Richard Jackson博士一行举行座谈会，进行深入地交流和合作探讨。段俊国院长再次感谢Richard Jackson博士去年11月出席了四川省糖尿病协会学术年会并在大会做报告，使我们更了解美国在糖尿病管理方面的一些先进理念。段俊国院长介绍了一年来成都中医药大学眼科学院、附属银海眼科医院与和眼与视觉健康产业技术研究院的建设情况，特别是四川省视网膜图像技术与慢性血管性疾病防治协同创新中心、银海眼科医院建立的糖尿病视网膜病变防治中心的情况和即将筹建的糖尿病医院的思路。Richard Jackson博士对段俊国院长的团队在过去的一年取得的眼科三院一体和糖尿病视网膜病变防控取得的成绩表示惊叹并高度赞赏。Richard Jackson博士表示，没有想到银海眼科设备与国际上顶尖眼科设备已全套接轨，更没想到在中国特别是西部能见如此强大的眼科团队。银海眼科医院建立糖尿病视网膜病变防治中心在全世界都是创举，特别是将眼科与糖尿病两个学科高度整合与哈佛大学Joslin糖尿病中心的理念是一致的，非常赞同，希望双方加强糖尿病防控领域的进一步交流与合作。</p>
            <p>最后，段俊国院长以四川省糖尿病防治协会会长的身份邀请Richard Jackson博士于11月4日出席在成都举行的四川省糖尿病防治协会2017年学术年会，并做糖尿病防控的主题报告。Jackson博士愉快地接受了邀请，将以“A New Road to Diabetes Care”为题与中国糖尿病防控专家分享。同时，Jackson博士主动提出希望在会后留出充裕的时间一起探讨糖尿病医院与糖尿病防控体建设的合作。</p>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_10.jpg") %>
                <p>听取介绍</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_11.jpg") %>
                <p>座谈交流</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_bsfwyh_12.jpg") %>
                <p>段俊国院长与Richard Jackson博士一行在医院照壁前合影</p>
            </div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_bsfwyh_13.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>Richard Jackson博士</p>
                    <p>Richard Jackson博士是美国哈佛大学Joslin糖尿病中心研究员，曾任医务部主任、附属项目医务主任，是美国国家卫生研究院（NIH）首个多中心Ⅰ型糖尿病预防试验联席首席研究员，哈佛HOOD儿童糖尿病预防中心主任，草根糖尿病公司创始人和执行董事，致力于非盈利地为不发达地区人群提供糖尿病教育和咨询，曾获哈佛医学院卡普斯学者奖、美国糖尿病协会塞缪尔•博森研究奖、青少年糖尿病基金会“Cookie”皮尔斯研究奖、2001ADA/CDC差异奖等重要奖项。</p>
                </div>
            </fieldset>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
