<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>热烈祝贺我院廖品正、段俊国教授荣获学校“双一流”建设资深教授和首席教授称号</h5>
            <p class="rightWord">2017-11-09</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_syljl_1.jpg") %>
            </div>
            <p>11月9日下午，成都中医药大学“双一流”建设大会在温江校区百会堂举行。国家卫计委副主任、国家中医药管理局局长王国强出席会议并讲话，四川省副省长杨兴平，四川省卫计委党组书记、主任沈骥，四川省教育厅副厅长汪小帆，四川省中医药管理局局长田兴军，成都中医药大学党委书记刘毅，成都中医药大学校长余曙光，温江区区长陈志勇等相关领导以及有关专家、教师、各学科带头人及后备人选，科级以上干部，教研室主任，教职工代表和学生代表参加了会议。</p>
            <div class="newsImgMar">
                <%= image_tag("news_syljl_2.jpg") %>
            </div>
            <p>会上，校长余曙光教授做“牢记使命，砥砺奋进，开启世界一流学科和一流中医药大学建设新征程”的主题报告，宣布学校为推进“双一流”建设建立首批“杏林学者”学术荣誉体系。接下来，各位与会领导为进入体系的资深教授、首席教授、讲席教授、青年英才颁发荣誉证书。国医大师、成都中医药大学眼科学院廖品正教授等10人荣获“资深教授”称号，成都中医药大学眼科学院院长、成都中医药大学附属银海眼科医院院长、党委书记段俊国教授等5人荣获“首席教授”称号，这是我院两位教授荣获多项荣誉和奖项之后获得的又一殊荣。</p>
            <div class="newsImgMar">
                <%= image_tag("news_syljl_3.jpg") %>
            </div>
            <p>成都中医药大学首批“杏林学者”学术荣誉体系人员是通过校外学术专家团推荐、评选产生，共聘任资深教授10人、首席教授5人、讲席教授6人、青年英才10人，充分评选出业内技术水平高、影响力大、临床工作突出、科研贡献显著、患者口碑好的资深专家，为学校“双一流”建设提供了重要人才保障，推动着我国医疗事业向纵深发展，助力健康中国国家战略。</p>
            <div class="newsImgMar">
                <%= image_tag("news_syljl_4.jpg") %>
            </div>
            <p>此次我院两位教授荣誉的背后，是学校对廖品正国医大师和段俊国教授的肯定，更是对他们为我国眼科医疗事业中所作贡献的褒奖。</p>
            <div class="newsImgMar">
                <%= image_tag("news_syljl_5.jpg") %>
            </div>
            <p>褒奖是荣誉，更是动力，激励着我院更多的医护工作者向他们致敬，向榜样学习，为眼科医疗乃至全国医疗卫生事业发展贡献自己的力量。</p>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj1.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>廖品正国医大师简介</p>
                    <p>成都中医药大学著名中医眼科教授，全国高等院校首位中医眼科博士生导师，国务院学位委员会第五届中医中药学科评议组成员，全国教育系统劳动模范、“人民教师”奖章获得者，享受国务院政府特殊津贴专家、四川省首届十大名中医。国家重点学科中医五官科学、国家中医药管理局及四川省重点学科中医眼科学学术带头人。</p>
                    <p>擅治眼科内障眼病，尤精于消渴内障、眼科血症等的中医药治疗，创制我国首个治疗糖尿病视网膜病变上市中成药芪明颗粒（2017年3月进入国家医保），培养团队从国家“九五”攻关计划开始的中医药防治糖尿病视网膜病变的系列基础和临床研究，先后获省科技进步一等奖、特等奖，及“国家九五攻关先进个人奖”。 </p>
                    <p>主编第五版《中医眼科学》等全国中医院校统编教材及参考书7部，作为副主编编写《中华大典•医学分典》等大型著作6部；受聘主编国家级专业著作《中华医学百科全书》中医眼科分卷和《实用中医五官辞典》。</p>
                </div>
                <div class="flow marB10">
                    <%= image_tag("zj2.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>成都中医药大学眼科学院/成都中医大银海眼科医院/四川省眼与视觉健康产业技术研究院院长、书记</p>
                    <p>享受国务院政府津贴专家</p>
                    <p>中国百名杰出青年中医</p>
                    <p>全国杰出专业技术人才</p>
                    <p>全国优秀科技工作者</p>
                    <p>国家卫生计生突出贡献中青年专家</p>
                    <p>四川省学术技术带头人</p>
                    <p>四川省名中医</p>
                    <p>四川省卫生计生委首席专家</p>
                    <p>擅长领域：从事眼科医疗、教学、科研工作30余年，主要从事疑难眼病与视功能保护的研究，长于糖尿病视网膜病变等眼底病的诊治。</p>
                    <p>国家重点学科（中医五官科学科）学科带头人、国家中医药管理局重点学科（中医眼科学）带头人、国家中医药管理局中医药视功能保护重点研究室主任、四川省视网膜图像技术与慢性血管性疾病防治协同创性中心主任、四川省眼病中医药防治及视功能保护重点实验室主任。为国务院学位委员会第六、七届学科评议组成员，全国临床医学中医学中药学专业学位研究生教育指导委员会委员、国家“百千万人才工程”国家级人选，获得“全国杰出专业技术人才”、“全国优秀科技工作者”、“国家卫生计生突出贡献中青年专家”、“中国百名杰出青年中医”等荣誉称号，为四川省学术技术带头人和四川省卫生计生委首席专家。</p>
                    <p>主要研究方向为中医药防治防治糖尿病微血管并发症研究，近年来，着眼于视网膜图像技术的应用研究。是目前糖尿病视网膜病变中医药防治研究领域领军人物。主持国家重大科技专项、 重大科学仪器专项、国际科技合作专项、“863”计划、支撑计划、攻关计划、公益行业专项及国家自然科学基金等国家级课题21项，部省级19项；获四川省科技进步特等奖等部省级科技奖13项；获得国家新药证书2项、国家发明专利3项及软件著作权3项；已培养博士硕士研究生62人；发表学术论文80余篇，主编《中西医结合眼科学》高等院校本科国家规划教材（“十一五”、“十二五”、“十三五”），主编《中医眼科学》高等院校本科国家规划教材，主编《中医眼科临床研究》高等院校研究生国家规划教材。主持创制了我国第一个上市治疗糖尿病视网膜病变中药新药“芪明颗粒”，主持创制我国第一个治疗视网膜静脉阻塞中药新药“丹红化瘀口服液”。</p>
                </div>
            </fieldset>

        </div>
    </div>
</div>
