<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医——谢艾芮】视若仙子，光明天使</h5>
            <p class="rightWord">2017-08-03</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("news_xar_1.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>谢艾芮</p>
                    <p>主治医师、医学硕士</p>
                    <p>坐诊时间:周一、周五全天，周二下午，周六上午</p>
                    <p>四川省康复医学会视觉光学专委会委员，四川省视光师技能培训教师，国家一级视光师，国家司法鉴定法医临床及法医物证类鉴定人，四川省视力保护科普基地讲师。</p>
                    <p>擅长领域：</p>
                    <p>擅长共同及复杂性斜视诊治、屈光近视手术治疗、弱视与双眼视异常诊治、视觉训练、低视力助视器验配、角膜塑形镜及RGP并发症处理、屈光不正及圆锥角膜RGP验配、眼科常见病诊断与治疗</p>
                </div>
            </fieldset>
            <p>随着电子设备的发展，戴眼镜的人也多了起来。从眼镜开始伴随我们起，关照我们最多的莫过于视光医生了。在大家印象中，视光医生的工作似乎也只是检查视力，指导佩戴眼镜。其实，他们的工作内容要远远超出这些，今天就带大家来了解一位资深的视光医生：谢艾芮。谢医生不仅医术高明，更有一颗细致认真的心。</p>
            <p><b>用医术呵护小孩子的心灵</b></p>
            <p>选择小儿眼科这个专业跟谢艾芮喜欢小孩子有莫大的关系。不管是淘气的孩子还是乖巧的孩子，她都喜欢得不得了。记得一个五岁斜视的小女孩，很自卑，性格内向不爱说话。谢医生给小女孩细心地做了检查后针对弱视进行了治疗，同时鼓励她完成治疗过程。直到一年后，又给小女孩做了斜视矫正手术，后来小女孩视力恢复到1.0，手术效果也很好，性格慢慢变得开朗活泼，小女孩也变漂亮了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xar_2.jpg") %>
            </div>
            <p>小女孩从不叫她谢医生，每次复查远远地就叫她谢阿姨、谢阿姨。别的医生给小女孩检查的时候小女孩很顽皮，谢医生给她检查时就特别乖巧听话。小女孩抱着谢医生的腿说就喜欢谢阿姨给她做检查，后来她的妈妈生了个小妹妹，小女孩牵着妹妹来医院找谢医生复查，像个老练又有责任心的小大人一样。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xar_3.jpg") %>
            </div>
            <p>谢医生说：医生的每一小点真诚的付出或许就能改变孩子的一生，也只有面对孩子的时候，你的每一分付出都会收获十分的回报，那是最真挚、最纯粹的回报。所以，她热爱自己的工作，热爱这个职业。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_xar_4.jpg") %></li>
                    <li><%= image_tag("news_xar_5.jpg") %></li>
                </ul>
            </div>
            <p>就是这样，谢医生亲切、耐心地对待每一个小朋友，让他们感受到在医院就诊是温暖的，而不是冰冷的，这样细心呵护着孩子们的眼睛和幼小的心灵，让他们时时处处感受这个世界的美好。谢医生对小孩子似乎有与生俱来的亲和力，不少小孩子到了医院吵着只要谢阿姨看病，常常让父母们哭笑不得。</p>
            <p><b>精心“设计”治疗细节</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_xar_6.jpg") %>
            </div>
            <p>谢医生说，视光学是一门专业性很强的学科，大多数眼科医生的知识领域并不会过深地涉及到视光专业，大多数眼科医生所掌握的视光知识也只是冰山一角。她觉得自己的工作就像设计师，每当患者将自己的视觉方面诉求表达在她面前时，她的脑海里就高速地翻转着各类所学的眼科知识和视光学知识，从手术矫正，到光学矫正，从单纯的视力矫正到还给患者一个清晰舒适持久的视力，精准灵活高效的双眼视功能，每一步她都会仔细思考，精心设计。小到一张遮盖用的眼罩，一串三色球，一副反转拍，亦或是一片压贴膜，一台实体镜都是“设计”中必不可少的有力武器，一副表面看起来平淡无奇的框架眼镜，殊不知凝聚着视光医生毕生的辛苦所学和心血、智慧。</p>
            <p>谢医生诊室门后“隐匿”着一面鲜艳的锦旗，上面写着“医术精湛，一丝不苟”几个字。讲起这面锦旗，要说到一次“偶然的路过”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xar_7.jpg") %>
            </div>
            <p>这是银海眼科医院刚开业不久的一个下午，一名青年男子在眼病门诊就诊，希望通过治疗提高他双眼对比敏感度，谢医生恰巧路过，因为专业的敏感性，经过与患者简单的沟通以后，患者决定来到她的门诊接受治疗，然而经过详细的检查后发现病情并非想象中那么简单，患者之前做过双眼屈光手术，双眼视力1.5。手术做得很好，普通的视光学手段对这位患者的病情毫无帮助。</p>
            <p>经过反复的斟酌，抱着最后一线希望，接下来的两周里谢医生与患者进行了三次长时间的病情沟通，谢医生的团队给患者进行了三次反复不同的RGP镜的试戴与评估，最终患者的治疗得到了很好的效果，送来了这面珍贵的锦旗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_xar_8.jpg") %>
            </div>
            <p>谢艾芮医生说：“让我感到欣慰的是，这名患者后来把自己的家人都带到我的门诊：一位有着角膜白斑等待角膜移植的父亲，一个先天性小眼球的妹妹，还有打算做近视手术的女朋友……短短数日的相识，换来了患者最真挚的信任。这也是我执着于做一名视光医生的真正原因。”</p>
            <p><b>精准把控诊疗环节</b></p>
            <p>眼科医生是一个综合性非常强的工作，需要精准的把控诊疗的每个环节，谢医生要求自己对视光工作的每一个部分、环节都必须非常熟悉，无论是验光配镜，视觉功能训练，还是屈光手术、斜视手术，尽管这样，无数的假期，无数的夜晚仍然需要花很长的时间去学习查阅资料、正因此在接到每一位病人时，她都能对患者的整个检查、治疗、康复过程做到心中有数、胸有成竹。</p>
            <p>她总说，自己能全身心的投入到工作中，特别感谢自己的家人的默默支持。</p>
            <p>谢医生从事视光医生工作14年，用她的话说，“越来越喜欢这份工作”。虽然视光医生的工作很繁杂，不少小孩子也特别难哄，但谢医生从没有放弃过任何一个病人的治疗。这么多年，谢艾芮医生踏踏实实诊疗，像一位美丽的天仙 ，还给世间无数清晰又明亮的双眸。</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
