<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海名医——邓亚平】让一切如沐春风</h5>
            <p class="rightWord">2017-08-18</p>
        </div>

        <div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj3.jpg",:class => "fl borderGray marR-30 marb-15 width200") %>
                    <p>邓亚平</p>
                    <p>主任医师  教授/硕士研究生导师</p>
                    <p>享受国务院政府特殊津贴，曾任成都中医药大学附属医院眼科研究室主任、中华医学会四川省及成都市眼科学会委员、四川省中西医结合研究会理事、中西医结合眼科专业委员会副主任委员及成都市第六、七、八届政协委员，第九、十届政协常委</p>
                    <p>坐诊时间: 周五上午</p>
                    <p>擅长领域:</p>
                    <p>擅长中西医结合治疗眼科疑难疾病，如视网膜静脉阻塞、年龄相关性黄斑病变、视网膜血管炎、糖尿病视网膜病变、玻璃体积血、外伤性眼内出血、高度近视黄斑出血、葡萄膜炎、眼肌麻痹、甲状腺相关眼病、单疱病毒性角膜炎、视神经炎、缺血性视神经病变等。</p>
                </div>
            </fieldset>
            <p>邓亚平老师英文水平高，在她那种年龄的人屈指可数，她总是能把握新的动向，指导学生涉猎新的领域！虽然年事已高仍喜欢接受新生事物，这是我们学习的榜样！成都中医药大学附属医院眼科在她带领的那个时代西医水平走在地区前列！</p>
            <p>“邓医生，我专程从天津飞过来找您看病，您怎么不在成都啊？”一个眼眶长了肿块的病人焦急地给邓亚平教授打电话。</p>
            <p>“不急，不急，你慢慢讲，不会让你白跑一趟的。”邓亚平教授耐心地安慰病人。</p>
            <p>一个来自天津的病人在医学杂志上看到了邓亚平医生的报道，一家人专程从天津坐飞机到成都找邓教授看病，没想到邓教授在国外讲学，病人很是失望，就出现了上面电话中的一段对话。后来病人被确诊为炎性假瘤，邓亚平教授为病人进行了远程诊疗，根据病人的情况采中西结合的方式用药。病人康复得非常好，特别感谢邓亚平教授的远程诊疗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_rmcf_1.jpg") %>
            </div>
            <p><b>学贯中西，医术精湛</b></p>
            <p>邓亚平教授从医数十年，不论西医的发展最新成果还是中医经典，她都非常熟悉。为病人看病的时候，邓教授总能结合中医和西医各自的优势为病人用药，每次都会起到非常好的治疗效果。邓教授说，不管是中药还是西药，都以能治疗病人的病症为准，都可以拿来用。</p>
            <p>有个重庆的女商人患视神经萎缩，视力模糊，给她的生活造成了很大不便，跑遍全国多家医院都没有得到有效的改善。去年女商人在女儿的陪同下，慕名找到了邓亚平教授，邓教授凭借自己多年的治疗经验为病人制定了治疗方案。邓亚平教授利用中药和西药相互辅助为病人治疗，同时严格控制用药剂量，逐步减少用量，以达到好的治疗效果。按照邓教授的治疗方案，经过一年的治疗，恢复了一定的视力，能够自理生活。女商人也定期来成都复查，以得到持续的治疗及视力改善。</p>
            <div class="newsImgMar">
                <%= image_tag("news_rmcf_2.jpg") %>
            </div>
            <p><b>德高望重，桃李天下</b></p>
            <p>在中医眼科界，邓亚平教授有很高的威望，邓教授手把手教出了不少名医大家。提起邓亚平教授，别的医生都会尊称一句“老前辈”。邓教授一直在给研究生做临床实习指导，全国各地乃至国外的医生都会主动来找邓亚平教授进修，学习她的临床经验。</p>
            <p>曾经有个德国的女医生学了汉语，专程来中国向邓亚平教授学习中医治疗眼科疾病的方法。在面对很多眼底疾病的时候，西医已经束手无策，但中医往往能起到一定的效果。邓教授很耐心地给德国女医生讲解中医的用药，德国女医生也特别认真地用汉语拼音抄下中药的名字，一个一个地学习。邓教授教会了德国女医生如何把中药和注射抗-VEGF结合起来治疗病人的方法，也让她了解了中药的奇特功效，助推中医疗法也弘扬海外。</p>
            <div class="newsImgMar">
                <%= image_tag("news_rmcf_3.jpg") %>
            </div>
            <p><b>善良仁爱，慈悲心肠</b></p>
            <p>邓亚平教授慈眉善目，语气平和亲切，与邓教授聊天如春风化雨，格外舒服。作为一名医生，邓教授有特别善良的心，总在为病人着想，希望病人能用少的代价来更大程度上地减轻病痛。邓教授曾长期担任政协委员，为分级治疗和民营医院的发展提出了宝贵的意见。</p>
            <p>有个送水工常常来找邓亚平教授看病，他患角膜炎，经常会复发，每次都会双眼混浊，特别影响送水工作。邓教授与送水工拉家常的时候，得知他有两个女儿，收入微薄，家庭经济压力挺大的。为了能给送水工减轻治疗负担，邓教授主动提出免去他的挂号费，也找到了给他治疗见效很快的药，能让他尽早回到工作岗位。</p>
            <div class="newsImgMar">
                <%= image_tag("news_rmcf_4.jpg") %>
            </div>
            <p>邓亚平教授说，银海眼科医院以包容的心态，吸收中西医的精华治疗眼科疾病，有先进的仪器设备和资深的专家学者，在飞速地发展中。她自己也愿意用自己的毕生所学来造福患者，让更多患眼疾的病人减轻病痛的折磨，同时培育出更多优秀的眼科医生。</p>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
