<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“关注眼健康，公益科普进万家”社区公益行 走进马家花园社区</h5>
            <P class="rightWord">2017-04-19</P>
        </div>

        <div>
            <p>2017年4月19日，应人民北路街道办事处马家花园社区邀请，四川省视力保护科普基地携手成都中医大银海眼科医院在马家花园社区居民委员会共同开展了“关注眼健康，公益科普进万家”社区公益行活动，由我院眼视光中心袁晓辉主任医师带队的眼科专家团及医务人员，为社区居民提供了专家义诊、建立眼健康档案，前来参加活动的居民络绎不绝。</p>
            <div class="newsImgMar div_90">
                <ul>
                    <li><%= image_tag("news_mjhy_1.jpg") %></li>
                    <li><%= image_tag("news_mjhy_2.jpg") %></li>
                </ul>
            </div>
            <p>一到活动现场，我院医务人员立即展开工作，有序安排社区居民进行了视力检查，应用流动科普馆配备的先进设备提供了专业检查，现场给出检查报告，并为社区居民建立了详细的眼健康档案，为专家进行诊治提供了科学的依据。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mjhy_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mjhy_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mjhy_5.jpg") %>
            </div>
            <p>针对每位居民的检查结果，我院眼视光中心袁晓辉主任医师和眼科专家廖加坤主治医师，通过进一步的专业检查，进行了一对一的解答，并给予了中肯的治疗意见和建议，提供眼病诊疗和眼保健服务，帮助社区居民掌握眼保知识，培养正确的用眼习惯，降低眼病发生率。本次活动受到社区委员会和现场社区居民的高度认可。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mjhy_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mjhy_7.jpg") %>
            </div>
            <p>本次义诊特别有幸为抗日英雄王婆婆做眼部检查，王婆婆曾在抗日战争中担任军医，今年已是98岁高龄，平时喜欢看报纸，但王婆婆眼睛并不好，就算用放大镜看都越来越看不清了字了，加上行动不便未接受过治疗。听闻王婆婆的情况后，我院眼科专家带上手持裂隙灯和眼底镜亲自走进婆婆住处为其检查眼睛，经初步检查诊断王婆婆因患有白内障未接受治疗，导致视物不清。听说可以手术治疗，重获光明，王婆婆高兴极了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mjhy_8.jpg") %>
            </div>
            <p>在马家花园社区居民委员会的大力支持下，义诊活动持续了2个多小时，共计为50余名社区居民提供了医疗服务，活动受到居民们的高度认可，纷纷为我院眼科专家细致耐心的服务点赞，希望多举办此类活动。四川省视力保护科普基地也将一如既往地携手成都中医大银海眼科医院开展眼病筛查公益活动，增强社区居民正确对待眼科疾病，做到早预防、早发现、早治疗的意识，全面提升广大人民群众爱眼护眼意识，从而提高我省眼健康整体水平！</p>

        </div>
    </div>
</div>
