<div class="middle flow">

  <div class="newsMain">
    <div class="newsTitle">
      <h5>近视防控显成效，沙河源小学来中医大银海眼科医院致谢</h5>
      <p class="rightWord">2017-05-02</p>
    </div>

    <div class="wordContainer">
      <div class="wordBorder">
        <div class="borderTop"></div>
        <p>眼睛是灵魂的窗户，人的才智和意志可由看出来。——博厄斯</p>
      </div>
      <div class="wordBorder marT-15 marb-15">
        <div class="borderTop"></div>
        <p>每一本书都是一个用黑字印在白纸上的灵魂，只要我的眼睛、我的理智接触了它，它就活起来了。—— 高尔基</p>
      </div>
    </div>
    <div>
      <p><b>“有朋自远方来，不亦乐乎”</b></p>
      <p>五一前夕，2017年4月28日上午，沙河源小学校长季志彬，副校长吴倩，教务处副主任唐伟与家委会代表带领50余名师生及家长一行来院专程对院领导、专家及医务人员长期对沙河源小学眼健康公益科普工作所付出的辛勤努力，致以衷心的感谢。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_1.jpg") %>
      </div>
      <p> 沙河源小学校长季志彬代表沙河源小学全体师生为我院长、书记段俊国教授赠送“心系师生眼健康，医德仁心显大爱”锦旗一面，对银海眼科医院为学校眼健康公益科普事业所作出的卓越贡献表示衷心感谢。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_2.jpg") %>
      </div>
      <p> 沙河源小学家委会代表全校学生家长，为我院院长、书记段俊国教授赠送“光明使者，传递爱心”锦旗一面，表达家长们对眼健康公益科普工作的认可与支持，向成都中医药大学附属银海眼科医院院领导、专家和医务人员表示衷心感谢。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_3.jpg") %>
      </div>
      <p>我院院长、书记段俊国教授一行对沙河源小学的到访表示热烈欢迎，并与沙河源小学校长季志彬等领导老师及家委会代表在成都中医药大学眼科学院会议室，针对近视联合防控工作举行了座谈会，大家对青少年近视防控工作高度重视，从学院、医院、学校、家庭等角度对青少年近视防控工作群策群力，提议、讨论并制定出切实有效的防控机制，在五月份将全面启动相关工作。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_4.jpg") %>
        <p>段俊国</p>
      </div>
      <p>会上，段俊国院长表示眼健康科普公益工作将会不断努力，精益求精。并提出“政府-社会-医院-学校-家长-学生”六位一体“防”、“控”创新模式，充分发挥全体教师和家长、社会的作用，建立教师全员参与，学校、家长、医院联动的机制，得到了大家一致称赞。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_5.jpg") %>
        <p>季志彬</p>
      </div>
      <p>成都市沙河源小学校长季志彬对我院的付出再次表示衷心感谢，并全力支持与配合青少年近视防控工作，学校将建立专属眼健康科普微信平台，定期发起眼健康科普教育活动，同时邀请医院专家定期发布眼健康科普知识并提供专业答疑，沙河源小学愿与成都中医药大学眼科学院和附属银海眼科医院共同在全校的国学教材中编写眼健康科普内容，全方位开展全校师生及家长的近视防控工作，切实有效提升沙河源小学整体眼健康水平。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_6.jpg") %>
      </div>
      <div class="newsImgMar">
        <%= image_tag("shyhx_7.jpg") %>
      </div>
      <p>与此同时，四川省视力保护科普基地专家团为沙河源小学的学生、家长们提供了丰富多彩的科普活动。首先是对视力保护科普基地进行了介绍，然后对常见眼疾进行了专业模型展示，让大家深刻理解到眼健康的重要性。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_8.jpg") %>
        <p>科普讲座</p>
      </div>
      <p>参观结束后，四川省视力保护科普基地专家团为大家进行了生动有趣的科普讲座，以视频、互动、游戏等方式就青少年儿童近视产生的原因、危害、如何有效预防以及如何正确做眼保健操等知识进行了专业讲解，讲座浅显易懂，帮助大家养成良好的用眼习惯，培养学生们防控各种眼疾的意识，受到校方、家长的称赞与认可。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_9.jpg") %>
        <p>手工互动</p>
      </div>
      <p>科普讲座结束后，大家一起现场体验组装眼镜、专业眼镜工具调架等互动活动，由医院专家和医务人员手把手教学，使大家在欢乐的氛围中得到有效学习。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_10.jpg") %>
      </div>
      <div class="newsImgMar">
        <%= image_tag("shyhx_11.jpg") %>
      </div>
      <p>我院专业医护人员为现场的师生及家长提供了医学视力检查服务，还应用电脑验光仪、综合验光仪、眼底照相机、裂隙灯显微镜等先进设备，建立了专业的眼健康档案，通过数据收集、统计，将会为科技厅、教育部门、卫生部门、学校等相关单位提供真实有效的数据依据，对眼健康水平提升具有重要意义。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_12.jpg") %>
        <p>周华祥</p>
      </div>
      <div class="newsImgMar">
        <%= image_tag("shyhx_13.jpg") %>
        <p>谢艾芮</p>
      </div>
      <p>针对现场学生及家长的眼部检查结果，四川视力保护科普基地主任周华祥教授和医院专家谢艾芮老师为大家提供了一对一专业咨询答疑，针对每个人的眼部健康情况，出了专业性、个性化的指导建议，获得师生和家长的一致好评。</p>
      <div class="newsImgMar">
        <%= image_tag("shyhx_14.jpg") %>
      </div>
      <p>由四川省视力保护科普基地发起，成都中医药大学眼科学院、附属银海眼科医院积极参与的“大爱无疆·善行天下”眼健康公益科普活动自2017年1月9日启动以来，至今已先后深入宜宾市珙县、甘孜州得荣县、大邑县等基层地区开展公益服务5次，走进军区机关一幼、沙河源小学、胜西小学、泡桐树中学等16所幼儿园、中小学校园开展公益科普服务21次，服务青年路社区、营门口社区、城隍庙社区等社区服务中心9次，短短几月科普服务6000余人，建立眼健康档案4500余人，所到之处都得到了政府、相关机构和民众的热烈欢迎及一致称赞。随着活动的口碑和影响力逐步增大，通过各大主流媒体多次重点报道，数以万计的人们开始关注眼健康问题，并及时得到有效救治，极大的提升了民众眼健康水平。</p>
      <p>不忘初心，方得始终” 成都中医药大学附属银海眼科医院秉承“大医精诚·银海启明”之精神，将“科”“教”“研”相结合，提供“眼科学院”“眼科医院”“眼科产业研究院”三院一体资源优势，在眼健康公益科普事业的道路上，一如既往、坚定不移的走下去，为社会和民众的眼健康服务竭尽所能，为我国早日实现“健康中国”的宏伟目标而不懈努力。</p>
    </div>
  </div>
</div>
