<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>云南七旬奶奶慕名来蓉求医 重获光明送锦旗表感谢</h5>
            <P class="rightWord">2017-06-20</P>
        </div>

        <div>
            <p>“谢谢，我的眼睛终于能够再看见了……”6月20日，一声声“谢谢”回荡在银海眼科医院门诊大厅——银海厅内。原来是因眼底出血，于6月16日在我院接受玻璃体切除手术的浦奶奶已恢复视力，今天出院。为了感谢帮助自己解除病痛，短短几天就重获光明的银海眼科医护人员，浦奶奶在办理完出院手续后，特地将准备好锦旗送给中山医科大学中山眼科中心教授、成都中医大银海眼科医院医疗质量总监/眼底外科主任刘文教授，以此表达心中无以言表的感激之情。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ynqy_1.jpg") %>
                <p>浦奶奶出院前将锦旗送给刘文教授表达感激之情</p>
            </div>
            <p>家住云南迪庆藏族自治州、70岁的浦奶奶，在1个月前，因左眼眼底出血，导致瞬间视物模糊不清，这给浦奶奶的生活造成了严重的影响,家人立即连夜将浦奶奶送到昆明就医，然而浦奶奶连续吃了一个月药却毫无效果，病情越加严重，左眼仅存微弱光感。为了能够恢复视力，恢复正常的生活，不增加子女负担，浦奶奶经朋友介绍，慕名来到成都中医大银海眼科医院，找到刘文教授就诊。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ynqy_2.jpg") %>
                <p>浦奶奶出院前做视力检查，已经恢复到0.6</p>
            </div>
            <p>经过详细检查后，明确为高血压引发左眼眼底出血，刘文教授建议浦奶奶立即手术。对于手术，浦奶奶及家人略有些许顾虑，因为听说曾经有过眼底出血的患者，远赴上海、北京手术治疗都没有效果，所以浦奶奶和家人有保守治疗的想法。通过刘教授专业的解答，以及对医院先进设备的了解，让浦奶奶一家决定接受刘教授玻璃体切除手术，以重获光明。手术非常成功，术后浦奶奶检查视力已经恢复到了0.6，浦奶奶感激的说道：“能够重获光明，回归正常生活，全靠刘教授精湛的医术，也非常感谢无微不至的医护团队，让我有家般的温暖。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_ynqy_3.jpg") %>
                <p>刘文教授耐心地为浦奶奶叮嘱术后注意事项</p>
            </div>
            <p>刘教授提醒大家，少量的眼底出血没有明显感觉，很容易被忽视，但一旦大量出血就会瞬间夺走你的视力。能引起眼底出血的疾病很多，比较常见的如高血压引起的视网膜静脉阻塞、糖尿病引起的视网膜病变、老年性黄斑变性、高度近视黄斑出血等，部分视网膜脱离患者也常伴有玻璃体出血，有这些情况的眼疾患者，应该及时到专科医院就诊，严重的眼底出血存在致盲风险。</p>









            <p>2016年10月24日上午，成都中医大银海眼科医院揭牌暨成都中医药大学附属眼科医院授牌仪式在医院星辉西路院址隆重举行。中国工程院院士、中国中医科学院院长张伯礼教授，中国科学院院士、复旦大学脑科学研究院杨雄里教授，中国科学院院士、香港大学医学院苏国辉教授，中国工程院院士、中国科学院光电技术研究所姜文汉研究员及来自全国眼科界的著名专家、学者、院长、主任，共80人出席了揭牌仪式。四川省中医药管理局副局长杨正春、成都市卫生和计划生育委员会副主任甘华田、金牛区卫生和计划生育委员会主任邓开龙、学校党委书记马跃荣、副校长余曙光，眼科学院/眼科医院院长、书记段俊国与60名医护员工，以及太极集团、西藏药业、康弘药业等企业负责人参加了揭牌仪式。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_1.jpg") %>
                <p>各位嘉宾为成都中医大银海眼科医院揭牌</p>
            </div>
            <p>在喜庆的音乐声中，各级领导、院士、著名眼科专家和眼科医院院长共同为“成都中医大银海眼科医院”揭牌。学校党委书记马跃荣代表成都中医药大学向银海眼科医院院长段俊国教授授予“成都中医药大学附属眼科医院”院牌。同时，党委书记马跃荣、副校长余曙光向新聘任的眼科学院12位专家分别颁发了名誉教授、客座教授、兼职教授等聘书。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_2.jpg") %>
                <p>党委书记马跃荣为成都中医药大学附属眼科医院授牌</p>
            </div>
            <p>在仪式上，党委书记马跃荣讲话，他说成都中医大银海眼科医院的成立是对成都中医药大学校庆六十周年的隆重献礼，也是我校中医眼科学科和眼科学院发展的重要里程碑和新起点，标志着中医眼科学科发展迈上了一个新的台阶。他表示，学校将一如既往地支持眼科学科、眼科学院和眼科医院的建设与发展。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_3.jpg") %>
                <p>余曙光副校长和甘华田副主任为兼职教授颁发聘书</p>
            </div>
            <p>张伯礼院士在致辞中高度评价我校中医眼科学科发展取得的成绩，对成都中医大银海眼科医院揭牌表示热烈祝贺，充分肯定银海眼科医院创新机制和办院模式，将为中国医疗机制改革提供新的样本和示范作用。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_4.jpg") %>
                <p>中国工程院院士、中国中医科学院院长张伯礼教授致辞</p>
            </div>
            <p>省中医管理局杨正春副局长讲话中指出，成都中医药大学积极开拓利用重点学科资源，服务社会，为四川省中医药事业的发展做出了积极贡献。希望新成立的成都中医大银海眼科医院充分发挥中医和中西医结合疗法的优势，为广大眼病患者造福。</p>
            <p>成都市卫生和计划生育委员会甘华田副主任在致辞中，表示成都中医大银海眼科医院的建立，不仅是成都中医药大学眼科国家重点学科多年的沉淀与积累，也是成都市深化医疗卫生改革的一项新的举措，必将对成都市眼科卫生事业的发展起到积极的推动作用。</p>
            <p>在仪式上，太极集团董事局主席白礼西代表全体投资人表示将无条件地支持银海眼科医院建设与发展，推动眼科事业的进步。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jpys_5.jpg") %>
                <p>揭牌仪式部分嘉宾合影留念</p>
            </div>
            <p>眼科医院院长段俊国教授对各级政府领导、眼科专家学者和社会各界对银海眼科医院给予支持和帮助表示感谢。他说，成都中医大银海眼科医院按照三级甲等研究型专科医院高标准建设，医院设有中医眼科中心、眼底病中心、糖尿病视网膜病变防治中心、白内障屈光中心、眼视光中心、眼科读片中心等六大中心，齐聚众多国内外中西医顶级专家、学者担任医院各专业领域学术技术带头人。医院以中医为特色，体现中西医结合、眼科与视光结合、眼与全身病结合、眼科与互联网结合、医疗与教学科研结合，建设国际接轨、特色突出、防治一体的现代化眼科医疗集团，充分发挥传统中医药和现代医学两方面的优势，以一流技术、一流设备、一流疗效、一流环境服务于广大患者，为我国眼病患者提供优异的医疗保健服务。医院将秉承"大医精诚，银海启明"的院训，努力使医院建设成中西结合的国际眼科新中心。</p>
        </div>
    </div>
</div>






