<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>金牛区区委书记刘玉泉书记一行来我院视察调研</h5>
            <p class="rightWord">2017-07-31</p>
        </div>

        <div>
            <p><b>7月31日，金牛区区委书记刘玉泉一行莅临成都中医大银海眼科医院调研指导。</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jnsj_1.jpg") %>
                <p>段俊国院长向刘玉泉书记介绍医院情况</p>
            </div>
            <p>我院院长段俊国教授、副院长邱航、院长助理袁晓辉教授、中医眼科中心主任周华祥教授、特检中心主任路雪婧教授、视光中心副主任周春阳教授、医务部主任潘学会教授等热情接待了刘玉泉书记一行。</p>
            <p>刘玉泉书记一行视察了我院门诊大厅、特检中心、视光中心。刘玉泉书记在亲自体验配镜VR后，给予高度赞扬与评价，“中医大银海眼科医院特检中心、视光中心希望发挥好中西医并重的优势，提高眼科疾病的诊疗能力，利用好医院的自身优势，引导中医眼科更好的发展，不断维护好市民群众的眼睛健康”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_jnsj_2.jpg") %>
                <p>刘玉泉书记亲自体验自助配镜系统</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jnsj_3.jpg") %>
                <p>路雪婧教授向刘玉泉书记一行介绍先进的眼健康检查设备</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jnsj_4.jpg") %>
                <p>潘学会主任为刘玉泉书记介绍先进的白内障检查设备</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jnsj_5.jpg") %>
                <p>刘玉泉书记在段俊国院长和院领导陪同视察了廖品正国医大师工作室</p>
            </div>
            <p>刘玉泉书记对国医大师工作室的整体环境给予极高评价“廖品正国医大师是我国西部首位眼科界国医大师，建立国医大师工作室，多带徒弟，要把她的经验很好地传承下去，服务我们更多的市民”</p>
            <div class="newsImgMar">
                <%= image_tag("news_jnsj_6.jpg") %>
                <p>刘玉泉书记与我院各领导合影留念</p>
            </div>
        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
