<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 视界尽在我眼中 ——银海眼科“全程精彩 无镜视界”近视屈光手术活动如约举行 </h5>
            <p class="rightWord">2017-10-28</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_1.jpg") %>
            </div>
            <p>有人说秋天是金色的，有人说秋天是黄色的，还有人说秋天是红色的……那么，近视的您，是否因冰冷的镜片与美丽的秋天强行隔开？是否因戴框架眼镜而忽略了秋天的五彩斑斓？是否因厚厚的眼镜挡住了秋天的浪漫唯美？ 2017年10月28日上午，成都中医大银海眼科医院“全程精彩 无镜视界”近视屈光手术专题活动如约举行，迎来了ICL晶体植入手术、角膜屈光手术火爆预约进行时，为近视患者带来最安全、最卓越的摘镜之选，帮助他们重获清晰、惊艳的精彩视界。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_4.jpg") %>
            </div>
            <p>活动现场，成都中医大银海眼科医院副院长、白内障屈光中心主任，首都医科大学附属北京同仁医院眼科教授朱思泉首先以《&lt;明眸善待  顾盼生辉&gt;ICL植入术——近视眼脱镜更安全的选择方案》为题，作了专题讲座。他用生动的语言阐述了近视的含义及其矫正方法等相关知识，图文并茂地讲解了ICL手术概念，详细说明了ICL手术的安全性、独特优势及适用人群等内容。朱思泉教授精彩纷呈的讲解，使讲座不断迎来了一个又一个高潮，博得一阵又一阵掌声。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_11.jpg") %>
            </div>
            <p>高度近视让患者的生活四处受阻，不少人想做手术却又因顾虑ICL晶体植入手术的风险而摇摆不定。“ICL晶体植入术成功率是多高？”“多大年龄的人群适合做ICL晶体植入术？”“我已经60多岁了，还可以做近视手术吗？”“手术会留下什么后遗症吗？”“手术后多久才能上夜班？”……面对大家的疑问，朱思泉教授与在场的患者朋友进行了亲切互动，现场细心解答了一位又一位近视患者的提问。大家全神贯注，认真听取与吸收了朱思泉教授的解答。整个过程既是一场极有意义的培训课程，又是一次答疑解惑的活动，让各位近视患者受益匪浅，获得了很多在近视治疗过程中真知灼见的启发。</p>
            <p>本次活动已经收到凤凰新闻直播、网易新闻直播、华西都市报封面直播、华西都市报微博等多家媒体的报道。据不完全统计，华西都市报封面直播观看量达26万，华西都市报微博点击量近10万次，凤凰新闻直播观看量6.2万次，网易新闻直播观看量0.5万次。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_12.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_13.jpg") %>
            </div>
            <p>为回报到场的近视患者朋友，银海眼科还携手“EVO”ICL厂家举行了抽奖活动。其中，朱思泉教授亲自抽取的单只ICL晶体植入术免费大奖由来自成都邛崃市的郭先生幸运获得。此外，现场的预约报名者可免专家特约费、术前检查费；现场预约ICL晶体屈光手术者，可享受双眼特惠；现场预约角膜屈光手术（SMART千频全激光、SMILE全飞秒等），可享受特惠并免术前检查费，并凭入场券可领取一份精美礼品。</p>
            <div class="newsImgMar">
                <%= image_tag("news_sjjzwyz_14.jpg") %>
            </div>
            <p>如今，银海眼科医院已形成了全激光+全飞秒+ICL+三焦点晶体屈光手术组合体系，能向高中低度各类近视、散光、老视及白内障患者提供个性化整体解决方案，获得优质的视觉质量。</p>
            <p><b>相关知识</b></p>
            <p>ICL(Implantable Contact Lens，有晶体眼人工晶体，又称可植入式接触镜)，ICL的植入位置是眼后房、虹膜与晶状体之间。ICL被认为是一种可弥补SMILE、LASIK、PRK，和其他通过角膜切削矫正屈光不正的手术一些不足之处的产品，是矫治近视的最新最安全的产品之一，目前在全世界被广泛使用。它可用于矫正近视、远视和散光，而无需去除或破坏角膜组织、无须进行手术后缝合。同时它可以实现可预见的屈光矫正和卓越的视觉质量。尤其对高度近视治疗效果尤为明显。</p>
            <p>当今的屈光手术方法众多，各有优势，其中SMILE、LASIK等在临床上广为使用，但它们的治疗范围相对有限，尤其对于高度近视和薄角膜的患者而言。然而高度近视朋友摘掉眼镜的愿望更为迫切，可检查后因为眼睛条件不符合LASIK而心生沮丧者比比皆是，而ICL植入术是一种新方法，在治疗高度近视有明显突破，为广大近视朋友带来福音</p>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
