<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【福利】零距离对话近视手术大咖！近视手术免费送！</h5>
            <p class="rightWord">2017-08-02</p>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_hd_1.jpg") %>
            </div>
            <p>近视手术如何选择？会不会有后遗症？术后是否还会近视？哪些人不适合做近视手术.....</p>
            <p>全国著名近视手术大咖，历任首都医科大学附属北京同仁医院屈光中心主任/成都中医药大学附属银海眼科医院眼视光中心名誉主任<b>周跃华教授</b>，与您面对面交流，现场详细解答您的疑问。</p>
            <p>活动当天享专场特惠，现场报名可享<b>免术前检查费！</b><b>免术前检查费！</b><b>免术前检查费！</b>重要事情说三遍！签到更有精美礼品......更多精彩尽在8月12日！</p>
            <fieldset>
                <legend>活动优惠</legend>
                <p><b>近视手术免费做</b></p>
                <p>现场有机会获得<b>免费近视手术/5折特权</b>名额。（名额有限）</p>
                <p><b>现场报名享特惠</b></p>
                <p>现场前20名缴近视手术定金者（1000元定金），可享Smart千频全激光&Smile全飞秒<b>4000元</b>超级特惠。</p>
                <p><b>免专家特约费</b></p>
                <p>现场缴费成功者，免近视专家手术特约费<b>2000元</b>。</p>
                <p>（温馨提示：术前检查需停戴隐形眼镜一周以上）</p>
            </fieldset>
            <fieldset>
                <legend>活动信息</legend>
                <p>电话报名：</p>
                <p>400-9900-766</p>
                <p>活动时间:</p>
                <p>2017年8月12日（周六 ）09:00入场签到</p>
                <p>活动地点：</p>
                <p>成都中医大银海眼科医院银海厅（成都市金牛区星辉西路8号）</p>
                <p>报名截止：</p>
                <p>2017年8月11日</p>
                <p>扫码报名</p>
                <p><%= image_tag("activecode.png",:class=>"activeCodeImg") %></p>

            </fieldset>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("experts_zyh.png",:class => "fl borderGray marR-30 marb-15") %>
                    <p>周跃华</p>
                    <p>主任医师</p>
                    <p>教授/博士生导师</p>
                    <p>简介：</p>
                    <p>主要从事角膜屈光手术的临床工作和近视理论的基础研究，共完成各类近视手术15万余例。在角膜近视手术及其并发症等的处理上，具有丰富的临床工作经验。2000年11月开始巩膜扩张术矫治老花眼的临床工作和理论研究。</p>
                    <p>擅长：</p>
                    <p>1.Smart千频全激光、Smile全飞秒等各类角膜近视手术</p>
                    <p>2.圆锥角膜、近视、远视、散光等的角膜交联手术</p>
                    <p>3.白内障、青光眼、葡萄膜炎、眼底病等各类眼科常见疾病的诊治</p>
                </div>
            </fieldset>
            <p><b>设备介绍</b></p>
            <div class="newsImgMar">
                <%= image_tag("equipment_1.jpg") %>
                <p><b>阿玛仕1050RS准分子激光治疗仪</b></p>
                <p>全中国首家引进</p>
            </div>
            <p>优势：</p>
            <p>1.快：高切削频率（1050 Hz），治疗转瞬完成；</p>
            <p>2.精：小激光光斑（0.54mm），角膜表面细致平滑；</p>
            <p>3.准：高频七维全方位眼球跟踪系统超精准定位切削；</p>
            <p>4.逸：拥有smart千频全激光手术，无瓣，无痕，安全无忧。</p>
            <div class="newsImgMar">
                <%= image_tag("equipment_2.jpg") %>
                <p><b>蔡司全飞秒Visu Max 激光系统</b></p>
                <p>无瓣、微创、全飞秒</p>
            </div>
            <p>优势：</p>
            <p>1.全程飞秒——无刀治疗、无需联机；</p>
            <p>2.独创的smile微创技术，可减少对角膜神经纤维的损伤，提高视觉质量。</p>
            <p>3.精确的个性化角膜瓣制作，控制角膜瓣的厚度、大小等，提高手术的安全性和可预测性。</p>
            <p>4.模拟人体角膜设计的接触镜，保证了治疗时角膜的自然生理状态。</p>
            <p>5.术中低负压吸引，避免常规手术中由眼压升高带来的视力丧失。</p>

        </div>
        <%= render partial: 'news/last_and_next_new' %>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
