<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>青少年近视防控 我院迎来第三批示范班学生 </h5>
            <p class="rightWord">2017-11-03</p>
        </div>

        <div>
            <p>11月3日，金牛区青少年近视防控能力提升计划公益活动持续在我院开展，来自抚琴小学的近50名小朋友在家长陪同下积极参与。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_2.jpg") %>
            </div>
            <p>成都市视力保护协会副秘书长、四川省视力保护科普基地讲师、我院住院医师文娟从视力正常标准、生活习惯、不利环境、近视误区、近视防控手段等各个方面，为大家上了一堂生动活泼的眼健康科普课。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_5.jpg") %>
            </div>
            <p>我院组织专业的医护团队为同学们做了眼健康专项检查，包括测视力、电脑验光与眼压、眼位检查、测眼轴、散瞳、检影验光等专业检查，并为其免费建立了个人眼健康档案，这对今后随访、关注学生的视力变化起着重要作用。</p>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_6.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_slfkwq_9.jpg") %>
            </div>
            <p>“青少年近视防控能力提升计划”是在四川省视力保护科普基地和成都中医药大学眼科学院的大力支持下，由成都市金牛区教育局与成都中医大银海眼科医院签订的合作协议，旨在提升青少年近视防控能力，引起了全社会对青少年眼健康的共同关注。</p>

        </div>
    </div>
  <%= render partial: 'news/relate_read' %>
</div>
