<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>“省千人”朱思泉教授实施我院 首批3D飞秒激光白内障手术获得成功</h5>
            <P class="rightWord">2017-06-26</P>
        </div>

        <div>
            <p>“陈老师，我这辈子都没看这么清楚过，做手术之前我觉得你模模糊糊的挺瘦的，怎么现在看清楚你了，觉得你还有点胖呢。”这是住在12号床的任婆婆术后第一天最大的感触。近日，我院首批3D飞秒激光白内障手术在四川省千人计划特聘专家、北京同仁医院白内障中心主任、成都中医大银海眼科医院副院长/白内障屈光中心主任朱思泉教授的亲自主刀下成功完成。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_1.jpg") %>
                <p>朱思泉教授正在为胡爷爷做白内障手术</p>
            </div>
            <p>值得一提的是，朱思泉教授为78岁的胡爷爷成功实施了3D右眼飞秒激光白内障手术+phaco+三焦点人工晶体植入术，也成为我院载入史册的第一例。胡爷爷双眼视力逐渐下降的情况已有10余年，严重影响正常生活。听说朱教授今天会从北京飞来成都做手术，胡爷爷提前来院做了术前检查，右眼仅有数指视力，左眼0.25，确诊为双眼年龄相关性白内障，且有长达15年的糖尿病病史。为尽快帮助胡爷爷复明，满足其看书看报玩手机的需求，专门设计了手术方式，为其施行了右眼飞秒激光辅助白内障超声乳化+三焦点人工晶体植入术。由于胡爷爷糖尿病控制的比较好，无糖尿病视网膜病变，所以术后远视力就恢复到0.8，中、近视力均达到了1.0。“现在看报纸上的小字都没得问题了，效果非常好。”胡爷爷激动地说道。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_2.jpg") %>
                <p>朱思泉教授正在为任婆婆做白内障手术</p>
            </div>
            <p>家住都江堰的任婆婆，64岁，因左眼视力逐渐下降已有20余年，3个月前视力下降加重，影响正常生活，内心焦虑不安。在丈夫的陪同下来我院就诊，双眼高度近视病史，右眼戴镜仅有数指视力，左眼戴镜视力0.1，详细检查后被诊断为双眼并发性白内障、右眼孔源性视网膜脱离、右眼黄斑裂孔。经成都中医大银海眼科医院组织专家团队会诊讨论老人病情后，决定为其施行左眼飞秒激光辅助白内障超声乳化+人工晶体植入手术，并由朱思泉教授亲自主刀顺利完成。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_3.jpg") %>
                <p>出院前复查，任婆婆左眼视力已经恢复到0.7</p>
            </div>
            <p>术后第一天，任婆婆高兴地说：“因为家族遗传，高度近视就困扰了我多年。后来视网膜脱离又不知道，拖延了治疗，导致右眼几乎没有治疗意义。幸好这次手术后左眼视力保住了，术后视力达到0.7。这辈子都没看这么清楚过，太感谢你们了。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_4.jpg") %>
                <p>朱思泉教授亲自为刘阿姨做白内障手术</p>
            </div>
            <p>“手术前你站在我面前都看不清你的模样，现在你站在病房门口我都看的清楚了，完全没想到我也能看的如此清楚，真是奇迹！”在我院行左眼飞秒激光辅助白内障超声乳化+人工晶体植入手术的刘阿姨高兴地说道，“8年前左眼因为视网膜脱离做了手术，但是网脱术后视力并无提高。到银海眼科医院检查才发现左眼视力仅有0.02，但视网膜回帖良好，并有严重的晶状体浑浊，由朱教授给我做了白内障手术后，术后第一天就恢复到0.3了，完全没想到效果这么好。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_5.jpg") %>
                <p>朱思泉教授亲自为刘奶奶做白内障手术</p>
            </div>
            <p>本次手术年龄最高、85岁的刘奶奶年轻时就入了部队当了文艺兵，后考入内蒙做了人民教师。但随着年纪的增长，刘奶奶的眼健康状况不断下降，尤其是双眼视力越来越差。曾在内蒙医院诊断为白内障，医生告知等待成熟后再手术。直到2个月前，刘奶奶出现视力下降加重，伴视物重影，来我院检查左眼0.2-1、右眼0.4，双眼白内障早就可以手术，朱教授为其行左眼飞秒激光辅助白内障超声乳化+人工晶体植入术，术后左眼视力就已恢复到0.8。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_6.jpg") %>
                <p>出院前复查，刘奶奶左眼视力已经恢复到0.8</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_zsqjs_7.jpg") %>
                <p>出院前，刘奶奶与银海眼科医院医护人员合影留念</p>
            </div>
            <p>现已是耄耋之年，刘奶奶仍然保持了当年的气质，精神面貌特别好。做了手术能获得如此清晰视力，刘奶奶说这是出乎意料的奇迹。想到偶尔还能看书看报，刘奶奶甚是满意，谈及银海眼科医院的医疗技术和医疗服务，更是称赞连连。</p>
            <div class="3d">
                <fieldset>
                    <legend>医生说</legend>
                    <p>白内障是中国首位致盲眼病，手术治疗是复明的最佳选择。但大多数人都认为，只有长成熟了才能手术，朱思泉教授指出这是误解，白内障只要影响你的视觉质量，影响你的生活就可以手术。过去由于白内障手术方法及设备的原因，的确要等完全成熟后才能做，现在随着显微镜在手术中的应用，以及先进的设备、成熟的手术技巧，完全不必等到失明后再做手术，过熟容易造成青光眼，虹膜炎等严重的并发症，甚至造成永久的视力损害。</p>
                </fieldset>
            </div>
        </div>
    </div>
</div>





