<%= stylesheet_link_tag '//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css' %>

<div class="middle flow">
    <div class="newsAll">
    <ul class="newsAllList">
        <% if @new.present? %>
          <% @new.each do |new| %>
            <li>
                <%= link_to new.scan_rails_path.blank? ? news_path(new.id, from: 'db') : new.scan_rails_path do %>
                <p><%= new.title %><span class="fr"><%= new.occurred_at==Time.utc(1970) ? ' ' : (l new.occurred_at, format: :human_date) %></span></p>
                <% end %>
            </li>
          <% end %>
        <% end %>
    </ul>
    <div class="paginate-container"><%= will_paginate @new, renderer: BootstrapPagination::Rails, :previous_label=> '上一页',:next_label=> '下一页' %></div>
    <!--<div class="flow pagesContainer">
        <div class="pages fr"></div>
    </div>-->
    </div>

</div>
<% content_for :script do %>
<% end %>

<% content_for :style do %>
    <%= stylesheet_link_tag 'news/list/新闻列表' %>
<% end %>

