
<div class="am-g tpl-g">
  <!-- 头部 -->
  <%= render partial: 'administration/v1/shared/navigation_bar' %>

  <!-- 风格切换 -->
  <%= render partial: 'administration/v1/shared/change_theme' %>

  <!-- 侧边导航栏 -->
  <%= render partial: 'administration/v1/shared/sidebar', locals: { options: {list_item: 'comment_index'}} %>

  <!-- 内容区域 -->
  <div class="tpl-content-wrapper">
    <div class="row-content am-cf">
      <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
          <div class="widget am-cf">
            <div class="widget-head am-cf">
              <div class="widget-title  am-cf">评论列表</div>
            </div>
            <div class="widget-body  am-fr">
              <div class="am-u-sm-12">
                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                  <thead>
                    <tr>
                      <th>评论编号</th>
                      <th>上级评论编号</th>
                      <th>内容预览</th>
                      <th>帖子链接</th>
                      <th>评论者</th>
                      <th>评论时间</th>
                      <th>审核员</th>
                      <th>状态</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% if @comments.present? %>
                      <% @comments.each do |comment| %>
                          <tr class="gradeX">
                            <td><%= comment.id %></td>
                            <td><%= comment.parent_id_desc %></td>
                            <td><%= comment.content.length>10 ? comment.content[0, 10]+'...' : comment.content %></td>
                            <td><a href="<%= request.protocol+request.host_with_port+comment.post_link %>"><%= URI.decode(comment.post_link) %></a></td>
                            <td><%= comment.creator_id_desc%></td>
                            <td><%= comment.created_at_desc %></td>
                            <td><%= comment.auditor_id_desc %></td>
                            <td class="<% if comment.state=='A'%>text-success<% elsif comment.state=='D'%>am-text-danger<% end %>"><%= comment.state_desc %></td>
                            <td>
                              <div class="tpl-table-black-operation">
                                <%= link_to administration_v1_comment_path(comment.id) do %>
                                    <i class="am-icon-newspaper-o"></i> 详情
                                <% end %>
                                <% if comment.state =='C'||comment.state=='D' %>
                                  <%= link_to 'javascript: void(0);', class: 'tpl-table-black-operation-suc js-approve-one', 'data-id' => comment.id do %>
                                    <i class="am-icon-trash"></i> 通过
                                  <% end %>
                                <% end %>
                                <% if comment.state=='C' || comment.state=='A' %>
                                  <%= link_to 'javascript: void(0);', class: 'tpl-table-black-operation-del js-deny-one', 'data-id' => comment.id do %>
                                      <i class="am-icon-trash"></i> 不通过
                                  <% end %>
                                <% end %>
                              </div>
                            </td>
                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div class="am-u-lg-12 am-cf">
                <div class="am-fr">
                  <%= will_paginate @new, :previous_label=> '上一页',:next_label=> '下一页' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<% content_for :title do %>
    管理平台-评论列表
<% end %>

<% content_for :meta do %>
<% end %>

<% content_for :body_attr do %>data-type="widgets"<% end %>

<% content_for :style do %>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag 'administration/v1/comments/index' %>
<% end %>
