<div class="enterEyeCommon fl">
    <ul class="">
        <li>
            <h4>医疗服务</h4>
            <p>Medical service</p>
        </li>
        <li>
            <%= link_to :'专家排班',medical_path(:专家排班) %>
        </li>
        <li>
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">在线咨询</a>
        </li>
        <li>
            <%= link_to :'预约挂号',medical_path(:预约挂号) %>
        </li>
        <li>
            <%= link_to :'到院指引',medical_path(:到院指引) %>
        </li>
        <li>
            <%= link_to :'医保政策',medical_path(:医保政策) %>
        </li>
        <li>
            <%= link_to :'就医流程',medical_path(:就医流程) %>
        </li>
        <!--<li>-->
            <!--<a href="javascript:;">手术价格</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="javascript:;">诊疗项目</a>-->
        <!--</li>-->
    </ul>
    <div class="hosInformation">
        <i class="icon_enter icon_telephone icon_enterIcon"></i>
        <div>
            <p>咨询热线</p>
            <p>400 9900 766</p>
        </div>
    </div>
    <div class="hosInformation">
        <i class="icon_enter icon_time icon_enterIcon"></i>
        <div>
            <p>门诊时间</p>
            <p>08:30-17:30</p>
        </div>
    </div>
</div>