<div class="enterEyeCommon fl">
    <ul class="">
        <li>
            <h4>医疗服务</h4>
            <p>Medical service</p>
        </li>
        <li>
            <%= link_to :'专家排班',home_path(:专家排班) %>
        </li>
        <li>
            <%= link_to :'在线咨询',home_path(:在线咨询) %>
        </li>
        <li>
            <%= link_to :'预约挂号',home_path(:预约挂号) %>
        </li>
        <li>
            <%= link_to :'到院指引',home_path(:到院指引) %>
        </li>
        <li>
            <%= link_to :'医保政策',home_path(:医保政策) %>
        </li>
        <li>
            <%= link_to :'就医流程',home_path(:就医流程) %>
        </li>
        <li>
            <%= link_to :'手术价格',home_path(:手术价格) %>
        </li>
        <li>
            <%= link_to :'诊疗项目',home_path(:诊疗项目) %>
        </li>
    </ul>
    <div class="hosInformation">
        <i class="icon_enter icon_telephone icon_enterIcon"></i>
        <div>
            <p>咨询热线</p>
            <p>400 9900 766</p>
        </div>
    </div>
    <div class="hosInformation">
        <i class="icon_enter icon_time icon_enterIcon"></i>
        <div>
            <p>门诊时间</p>
            <p>08:30-17:30</p>
        </div>
    </div>
</div>