<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<title>Title</title>-->
<!--</head>-->
<!--<link rel="stylesheet" href="../../assets/stylesheindex.scss.css">-->
<!--<link rel="stylesheet" href="../../assets/styleshecommom.scss.css">-->
<!--<body>-->
<!--<div class="main">-->


<!--就医服务-->
 <div class="middle">
   <div class="column">
    <div class="scheduling">
      <!--<%= image_tag("scheduling.png") %>-->
      <table class="schTable">
        <tr>
          <th colspan="5">眼健康咨询医生排班表</th>
        </tr>
        <tr class="tableType">
          <td colspan="2"><b>时间</b></td>
          <td><b>咨询医生</b></td>
          <td><b>医生擅长病种</b></td>
          <td><b>护士</b></td>
        </tr>
        <tr>
          <td rowspan="2">周一</td>
          <td>上午</td>
          <td>段俊国</td>
          <td>糖尿病视网膜病变</td>
          <td rowspan="2">赵爽</td>
        </tr>
        <tr>
          <td>下午</td>
          <td>谢艾芮</td>
          <td>青少年近视、小儿斜弱视</td>
        </tr>
        <tr>
          <td rowspan="2">周二</td>
          <td>上午</td>
          <td>张富文</td>
          <td>眼底内科</td>
          <td rowspan="2">张红英</td>
        </tr>
        <tr>
          <td>下午</td>
          <td>陆雪婧</td>
          <td>眼底内科、干眼</td>
        </tr>
        <tr>
          <td rowspan="2">周三</td>
          <td>上午</td>
          <td>黄霄</td>
          <td>葡萄膜炎</td>
          <td rowspan="2">李檬</td>
        </tr>
        <tr>
          <td>下午</td>
          <td>袁晓辉</td>
          <td>青少年近视、小儿斜弱视</td>
        </tr>
        <tr>
          <td rowspan="2">周四</td>
          <td>上午</td>
          <td>周华祥</td>
          <td>眼底内科、眼表病</td>
          <td rowspan="2">尚晓萌</td>
        </tr>
        <tr>
          <td>下午</td>
          <td>周春阳</td>
          <td>屈光手术、青少年近视</td>
        </tr>
        <tr>
          <td rowspan="2">周五</td>
          <td>上午</td>
          <td>潘学会</td>
          <td>白内障、青光眼</td>
          <td rowspan="2">宋茜</td>
        </tr>
        <tr>
          <td>下午</td>
          <td>李强</td>
          <td>眼底内科</td>
        </tr>
      </table>
    </div>
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-1.jpg"), medical_path(:预约挂号) %>
          </div>
          <p>预约挂号</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-2.jpg") %>
          </div>
          <p>专家排班</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-3.jpg"), medical_path(:来院指引) %>
          </div>
          <p>来院指引</p>
        </a>
      </li>
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-4.jpg"), medical_path(:就医流程) %>
          </div>
          <p>就医流程</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-5.jpg") %>
          </div>
          <p>楼层指引</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-6.jpg"), medical_path(:医保政策) %>
          </div>
          <p>医保政策</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--就医服务-->



<!--</div>-->
<!--</body>-->
<!--</html>-->