 <!--就医服务-->
 <div class="middle">
   <div class="column">
    <div class="scheduling">
      <%= image_tag("scheduling.png") %>
    </div>
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= image_tag("jy-1.jpg") %>
          </div>
          <p>预约挂号</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("jy-2.jpg") %>
          </div>
          <p>专家排班</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("jy-3.jpg") %>
          </div>
          <p>来院指引</p>
        </a>
      </li>
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= image_tag("jy-4.jpg") %>
          </div>
          <p>就医流程</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("jy-5.jpg") %>
          </div>
          <p>楼层指引</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= image_tag("jy-6.jpg") %>
          </div>
          <p>医保政策</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--就医服务-->