<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<title>Title</title>-->
<!--</head>-->
<!--<link rel="stylesheet" href="../../assets/stylesheindex.scss.css">-->
<!--<link rel="stylesheet" href="../../assets/styleshecommom.scss.css">-->
<!--<body>-->
<!--<div class="main">-->


<!--就医服务-->
 <div class="middle">
   <div class="column">
    <div class="scheduling">
      <!--<%= image_tag("scheduling.png") %>-->
      <table class="schTable">
        <tr>
          <th colspan="10">门诊排班表</th>
        </tr>
        <tr class="tableType">
          <th colspan="10">(2017年05-28--2017年06-04）</th>
        </tr>
        <tr class="tableType">
          <td colspan="2"><b>姓名</b></td>
          <!--<td><b>科室</b></td>-->
          <td><b>星期一/28</b></td>
          <td><b>星期二/29</b></td>
          <td><b>星期三/30</b></td>
          <td><b>星期四/31</b></td>
          <td><b>星期五/01</b></td>
          <td><b>星期六/02</b></td>
          <td><b>星期日/03</b></td>
        </tr>
        <tr>
          <td>周春阳</td>
          <td>（屈光）</td>
          <td>门屈</td>
          <td>休</td>
          <td>门屈</td>
          <td>休</td>
          <td>手术/门屈</td>
          <td>门屈</td>
          <td>休/门屈</td>
          <td>休</td>
        </tr>
        <tr>
          <td>袁晓辉</td>
          <td>小儿视光</td>
          <td>门视</td>
          <td>休</td>
          <td>休</td>
          <td>门视</td>
          <td>门视</td>
          <td>休</td>
          <td>休</td>
          <td>门视/休</td>
        </tr>
        <tr>
          <td>谢艾芮</td>
          <td>小儿屈视</td>
          <td>门视</td>
          <td>门视</td>
          <td>休</td>
          <td>休</td>
          <td>行班</td>
          <td>门视</td>
          <td>门视/休</td>
          <td>休</td>
        </tr>
        <tr>
          <td>缪 馨</td>
          <td>小儿屈视</td>
          <td>行班</td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>屈光</td>
          <td>行班</td>
          <td>休</td>
          <td>休/门视</td>
        </tr>
        <tr>
          <td>周华祥</td>
          <td>（中医） </td>
          <td>门</td>
          <td>休</td>
          <td>休</td>
          <td>门</td>
          <td>大查房</td>
          <td>门</td>
          <td>休</td>
          <td>休</td>
        </tr>
        <tr>
          <td>路雪婧</td>
          <td>（中医）</td>
          <td>门</td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>门</td>
          <td>办</td>
          <td>休</td>
          <td>休</td>
        </tr>
        <tr>
          <td>廖品正</td>
          <td>（中医）</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>潘学会</td>
          <td>（青白）</td>
          <td>门</td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>补休</td>
          <td>门/开会</td>
          <td>开会</td>
          <td>早</td>
        </tr>
        <tr>
          <td>张富文</td>
          <td>（青白）</td>
          <td></td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>办</td>
          <td>早/办</td>
          <td>休</td>
          <td>休</td>
        </tr>
        <tr>
          <td>陈小凤</td>
          <td>（青白）</td>
          <td></td>
          <td>休</td>
          <td>门</td>
          <td>休</td>
          <td>开会</td>
          <td>开会</td>
          <td>开会</td>
          <td>休</td>
        </tr>
        <tr>
          <td>李 强</td>
          <td>（青白)</td>
          <td></td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>教学</td>
          <td>休</td>
          <td>休</td>
          <td>门</td>
        </tr>
        <tr>
          <td>刘 文 </td>
          <td>（眼底）</td>
          <td>门</td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>手术/门</td>
          <td>手术/门</td>
          <td>休</td>
          <td>休</td>
        </tr>
        <tr>
          <td>黄 霄 </td>
          <td>（眼综）</td>
          <td>门</td>
          <td>门</td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>门</td>
          <td>门</td>
          <td>休</td>
        </tr>
        <tr>
          <td>廖加坤</td>
          <td>（眼综合）</td>
          <td></td>
          <td>休</td>
          <td>休</td>
          <td>休</td>
          <td>门/手术</td>
          <td>行班</td>
          <td>休</td>
          <td>门</td>
        </tr>
        <tr>
          <td>段俊国 </td>
          <td>眼综糖网</td>
          <td></td>
          <td>休</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>蹇文渊</td>
          <td>（眼综合）</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>早</td>
          <td></td>
        </tr>
      </table>
    </div>
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-1.jpg"), medical_path(:预约挂号) %>
          </div>
          <p>预约挂号</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-2.jpg") %>
          </div>
          <p>专家排班</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-3.jpg"), medical_path(:来院指引) %>
          </div>
          <p>来院指引</p>
        </a>
      </li>
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-4.jpg"), medical_path(:就医流程) %>
          </div>
          <p>就医流程</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <!--<%= link_to image_tag("jy-4.jpg"), medical_path(:就医流程) %>-->
            <%= link_to image_tag("jy-5.jpg"), medical_path(:楼层指引) %>
          </div>
          <p>楼层指引</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-6.jpg"), medical_path(:医保政策) %>
          </div>
          <p>医保政策</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--就医服务-->



<!--</div>-->
<!--</body>-->
<!--</html>-->