<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<title>Title</title>-->
<!--</head>-->
<!--<link rel="stylesheet" href="../../assets/stylesheindex.scss.css">-->
<!--<link rel="stylesheet" href="../../assets/styleshecommom.scss.css">-->
<!--<body>-->
<!--<div class="main">-->


<!--就医服务-->
 <div class="middle">
   <div class="column">
    <div class="scheduling">
      <!--<%= image_tag("scheduling.png") %>-->
      <table class="schTable">
        <tr>
          <th colspan="10">门诊排班表</th>
        </tr>
        <tr class="noTabBorder">
          <td colspan="6">(2017年07-24--2017年07-30）</td>
          <td colspan="2">制表：医务部 </td>
          <td colspan="2">审批：段俊国</td>
        </tr>
        <tr class="tableType">
          <td class="width-100"><b>姓名</b></td>
          <td class="width-100"><b>科室</b></td>
          <td><b>星期一/24</b></td>
          <td><b>星期二/25</b></td>
          <td><b>星期三/26</b></td>
          <td><b>星期四/27</b></td>
          <td><b>星期五/28</b></td>
          <td><b>星期六/29</b></td>
          <td><b>星期日/30</b></td>
        </tr>
        <tr>
          <td>周春阳</td>
          <td>屈光手术科</td>
          <td>/</td>
          <td>/</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>袁晓辉</td>
          <td>小儿及视光科</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>14:00-17:30</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00</td>
        </tr>
        <tr>
          <td>谢艾芮</td>
          <td>小儿、屈光及视光科</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>14:00-17:30</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>缪 馨</td>
          <td>小儿、屈光及视科</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>14:00-17:30</td>
          <td>14:00-17:30</td>
        </tr>
        <tr>
          <td>周华祥</td>
          <td>中医眼科</td>
          <td>/</td>
          <td>14:00-17:30</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>路雪婧</td>
          <td>中医眼科</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>/</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>廖品正</td>
          <td>中医眼科</td>
          <td>/</td>
          <td>14:00-17:30</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>潘学会</td>
          <td>青光眼、白内障科</td>
          <td>8:30-12:00</td>
          <td>14:00-17:30</td>
          <td>14:00-17:30</td>
          <td>8:30-11:00；
            12:00-16:00</td>
          <td>/</td>
          <td>/</td>
          <td>8:30-11:00;
            12:00-16:00</td>
        </tr>
        <tr>
          <td>张富文</td>
          <td>青光眼、白内障科</td>
          <td>/</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>陈小凤</td>
          <td>青光眼、白内障科</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>8:30-11:30
            12:00-14:00</td>
          <td>/</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
        </tr>
        <tr>
          <td>李 强</td>
          <td>青光眼、白内障科</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>14:00-17:30</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>段俊国 </td>
          <td>眼底内科</td>
          <td>/</td>
          <td>/</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>刘 文 </td>
          <td>眼底内科</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>8:30-12:00</td>
          <td>14:00-17:30</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>/</td>
        </tr>
        <tr>
          <td>黄 霄 </td>
          <td>综合眼科</td>
          <td>/</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>8:30-12:00;
            14:00-17:30</td>
          <td>/</td>
        </tr>
        <tr>
          <td>廖加坤</td>
          <td>综合眼科</td>
          <td>8:30-11:00</td>
          <td>12:00-16:00</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>8:30-12:00;
            14:00-17:30</td>
        </tr>

        <tr>
          <td>蹇文渊</td>
          <td>综合眼科</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>8:30-11:00
            12:00-16:00</td>
          <td>/</td>
        </tr>
        <tr>
          <td>王智慧</td>
          <td>内科</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>8:30-12:00</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
      </table>
    </div>
    <ul class="flParent flow guide">
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-1.jpg"), medical_path(:预约挂号) %>
          </div>
          <p>预约挂号</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-2.jpg") %>
          </div>
          <p>专家排班</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-3.jpg"), medical_path(:来院指引) %>
          </div>
          <p>来院指引</p>
        </a>
      </li>
      <li class="mar-L-z">
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-4.jpg"), medical_path(:就医流程) %>
          </div>
          <p>就医流程</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <!--<%= link_to image_tag("jy-4.jpg"), medical_path(:就医流程) %>-->
            <%= link_to image_tag("jy-5.jpg"), medical_path(:楼层指引) %>
          </div>
          <p>楼层指引</p>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <div>
            <%= link_to image_tag("jy-6.jpg"), medical_path(:医保政策) %>
          </div>
          <p>医保政策</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--就医服务-->



<!--</div>-->
<!--</body>-->
<!--</html>-->