<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "medicals/medical_left" %>
    <div class="fr doctorScheduling">
        <div class="stopService">
            <h4>本周停诊信息</h4>
            <ul class="flow flParent">
                <li>廖品正： <span> 周二</span></li>
                <li>段俊国： <span>周五</span></li>
                <li>杜玉芹： <span>周一、二、日</span></li>
            </ul>
            <p>有效时间：2017/12/25--2017/12/31</p>
        </div>
        <div class="schedulingTabCon padT20">
            <%= image_tag("table.jpg") %>
            <!--<table class="schedulingTab">-->
                <!--<tr>-->
                    <!--<th colspan="20">成都中医大银海眼科医院门诊医师坐诊一览表</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><b>诊室</b></td>-->
                    <!--<td><b>时段</b></td>-->
                    <!--<td><b>星期一</b></td>-->
                    <!--<td><b>星期二</b></td>-->
                    <!--<td><b>星期三</b></td>-->
                    <!--<td><b>星期四</b></td>-->
                    <!--<td><b>星期五</b></td>-->
                    <!--<td><b>星期六</b></td>-->
                    <!--<td><b>星期日</b></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2">-->
                        <!--<p><b>国医大师工作室</b></p>-->
                    <!--</td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>张富文</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>廖品正</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>段俊国</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄  霄</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周华祥</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td>-->
                        <!--<p><b>路雪婧</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>廖品正</b></p>-->
                        <!--<p>VIP传承门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2">-->
                        <!--<p><b>著名专家工作室</b></p>-->
                    <!--</td>-->
                    <!--<td>上午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>朱思泉</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>刘  文</b></p>-->
                        <!--<p>VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科一诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>路雪婧</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>王国平</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>邓亚平</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>蹇文渊</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>霍  剑</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>路雪婧</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>蹇文渊</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>霍  剑</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科二诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>李红惠</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>张富文</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>蒙轩</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>李红惠</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>张富文</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>代炳灵</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>尹 朔</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科三诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>刘  文</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>陈星如</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>刘  文</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->

                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>刘  文</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>朱思泉</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>王利萍</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科四诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>陈小凤</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>陈小凤</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>段俊国</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td>-->
                        <!--<p><b>王国平</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>张大铮</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>陈小凤</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>陈小凤</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>王国平</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科五诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科六诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>干眼门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>干眼门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周华祥</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>干眼门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>肖建强</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>中医门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周华祥</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周华祥</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>中医门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周华祥</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>缪  馨</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>眼科七诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>刘  玲</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄霄</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄霄</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>蒋嫒明</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄霄</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄霄</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td>-->
                        <!--<p><b>吴青兰</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>石梅琴</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄霄</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>黄霄</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>视光一诊断室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>袁晓辉</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>视光二诊断室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>谢艾芮</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>谢艾芮</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td>-->
                        <!--<p><b>谢艾芮</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>谢艾芮</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>文娟</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>视光三诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>李强</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>文娟</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>石梅琴</b></p>-->
                        <!--<p>视光（科研）门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>文娟</b></p>-->
                        <!--<p>视光（科研）门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>文娟</b></p>-->
                        <!--<p>视光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>蒋媛明</b></p>-->
                        <!--<p>视光（科研）门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>杜玉芹</b></p>-->
                        <!--<p>视光（科研）门诊</p>-->
                    <!--</td>-->

                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>屈光一诊断室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>杜玉芹</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>杜玉芹</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周春阳</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>文  娟</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周春阳</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周春阳</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>杜玉芹</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td>-->
                        <!--<p><b>杜玉芹</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>杜玉芹</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周春阳</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>文 娟</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周春阳</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>周春阳</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>谢艾芮</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>屈光二诊断室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p><b>潘学会</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>陈小凤</b></p>-->
                        <!--<p>屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="2"><b>内科诊室</b></td>-->
                    <!--<td>上午</td>-->
                    <!--<td>-->
                        <!--<p><b>王智慧</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>王智慧</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>王智慧</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>王智慧</b></p>-->
                        <!--<p>专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p><b>王智慧</b></p>-->
                        <!--<p>普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>下午</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td colspan="8" class="redWord textLeft padL10">-->
                        <!--<p>备注：</p>-->
                        <!--<p>1.请患者通过银海眼科医院官方预约电话：400-9900-766进行预约挂号；</p>-->
                        <!--<p>2.请患者通过医院官网，医院官方微信以及院内信息栏关注医生停诊信息。</p>-->
                        <!--<p>3.VIP 门诊，限号 6 人/次；专家门诊：对外限号 20 人/次，如遇需加号病人，医师可视情况而定进行加号；</p>-->
                        <!--<p>4.VIP 和专家门诊同时上的医师，需优先 VIP 门诊。</p>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>
        <!--<div class="schedulingTabCon">-->
            <!--<h4>门诊排班表</h4>-->
            <!--<table class="schedulingTab">-->
                <!--<tr>-->
                    <!--<th class="width150">科室</th>-->
                    <!--<th>姓名</th>-->
                    <!--<th>职称</th>-->
                    <!--<th>星期一</th>-->
                    <!--<th>星期二</th>-->
                    <!--<th>星期三</th>-->
                    <!--<th>星期四</th>-->
                    <!--<th>星期五</th>-->
                    <!--<th>星期六</th>-->
                    <!--<th>星期日</th>-->
                <!--</tr>-->
                <!--<tr id="experts_2">-->
                    <!--<td rowspan="2">眼底内科</td>-->
                    <!--<td><%= link_to :"段俊国", expert_path(:段俊国教授)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午专家门诊</p>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_3">-->
                    <!--<td><%= link_to :"邓亚平", expert_path(:邓亚平教授)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_1">-->
                    <!--<td rowspan="7">中医眼科</td>-->
                    <!--<td><%= link_to :"廖品正", expert_path(:廖品正教授)%></td>-->
                    <!--<td>国医大师</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午VIP门诊</p>-->
                        <!--<p>下午VIP传承门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_7">-->
                    <!--<td><%= link_to :"周华祥", expert_path(:周华祥教授)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td>全天普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午VIP门诊</p>-->
                        <!--<p>下午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_9">-->
                    <!--<td><%= link_to :"路雪婧", expert_path(:路雪婧主任医师)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td>-->
                        <!--<p>上午普通门诊</p>-->
                        <!--<p>下午VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>下午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_11">-->
                    <!--<td><%= link_to :"黄 霄", expert_path(:黄霄主任医师)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td>上午VIP门诊</td>-->
                    <!--<td>全天普通门诊</td>-->
                    <!--<td>-->
                        <!--<p>上午专家门诊</p>-->
                        <!--<p>下午普通门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">张大铮</a></td>-->
                    <!--<td>副主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>下午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_19">-->
                    <!--<td><%= link_to :"缪 馨", expert_path(:缪馨主治医师)%></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td>-->
                        <!--<p>上午干眼门诊</p>-->
                        <!--<p>下午中医门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p>上午干眼门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午干眼门诊</p>-->
                        <!--<p>下午中医门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>全天普通门诊</p>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr id="experts_20">-->
                    <!--<td><%= link_to :"蹇文渊", expert_path(:蹇文渊主治医师)%></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>全天普通门诊</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_5">-->
                    <!--<td rowspan="3">眼底外科</td>-->
                    <!--<td><%= link_to :"刘 文", expert_path(:刘文教授)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td>-->
                        <!--<p>上午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p>下午VIP门诊</p>-->
                    <!--</td>-->
                    <!--<td> <p>上午专家门诊</p> </td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_15">-->
                    <!--<td><%= link_to :"王国平", expert_path(:王国平)%></td>-->
                    <!--<td>副主任医师</td>-->
                    <!--<td> <p>下午普通门诊</p> </td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td> <p>上午专家门诊</p> </td>-->
                    <!--<td> <p>下午普通门诊</p> </td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">李红惠</a></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td> 上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_8">-->
                    <!--<td rowspan="7">视光科</td>-->
                    <!--<td><%= link_to :"袁晓辉", expert_path(:袁晓辉主任医师)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td>全天视光门诊</td>-->
                    <!--<td>下午VIP门诊</td>-->
                    <!--<td>全天视光门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>上午视光门诊</td>-->
                <!--</tr>-->
                <!--<tr id="experts_16">-->
                    <!--<td><%= link_to :"谢艾芮", expert_path(:谢艾芮主任医师)%></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td>下午视光门诊</td>-->
                    <!--<td>下午屈光门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>全天视光门诊</td>-->
                    <!--<td>上午视光门诊</td>-->
                    <!--<td>下午视光门诊</td>-->
                <!--</tr>-->
                <!--<tr id="experts_6">-->
                    <!--<td><%= link_to :"周跃华", expert_path(:周跃华教授)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td> <p>下午专家门诊</p> </td>-->
                <!--</tr>-->
                <!--<tr id="experts_13">-->
                    <!--<td><%= link_to :"周春阳", expert_path(:周春阳主任医师)%></td>-->
                    <!--<td>副主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午屈光门诊</p>-->
                        <!--<p>下午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>全天屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<p>下午屈光门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_18">-->
                    <!--<td><%= link_to :"李 强", expert_path(:李强主治医师)%></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>上午视光门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午屈光门诊<p>-->
                        <!--<p>下午视光门诊<p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">文娟</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>全天屈光门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>下午视光门诊</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">杜玉芹</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td>全天屈光门诊</td>-->
                    <!--<td>上午屈光门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>全天屈光门诊</td>-->
                <!--</tr>-->
                <!--<tr id="experts_4">-->
                    <!--<td rowspan="4">白内障科</td>-->
                    <!--<td><%= link_to :"朱思泉", expert_path(:朱思泉教授)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>-->
                        <!--<p>上午VIP门诊</p>-->
                        <!--<p>上午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_10">-->
                    <!--<td><%= link_to :"张富文", expert_path(:张富文主治医师)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td>上午VIP门诊</td>-->
                    <!--<td>-->
                        <!--<p>上午普通门诊</p>-->
                        <!--<p>下午专家门诊</p>-->
                    <!--</td>-->
                    <!--<td></td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_14">-->
                    <!--<td><%= link_to :"潘学会", expert_path(:潘学会)%></td>-->
                    <!--<td>副主任医师</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td>-->
                        <!--<p>上午屈光门诊</p>-->
                        <!--<p>下午普通门诊</p>-->
                    <!--</td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_17">-->
                    <!--<td><%= link_to :"陈小凤", expert_path(:陈小凤主治医师)%></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td>上午屈光门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr id="experts_12">-->
                    <!--<td>内科</td>-->
                    <!--<td><%= link_to :"王智慧", expert_path(:王智慧主任医师)%></td>-->
                    <!--<td>主任医师</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td>上午专家门诊</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td rowspan="12">眼综合科</td>-->
                    <!--<td><a href="javascript:;">刘玲</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">霍剑</a></td>-->
                    <!--<td>主治医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>全天普通门诊</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">吴青兰</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">蒙轩</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">石梅琴</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">蒋媛明</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">陈星如</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">代炳灵</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">尹朔</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">王利萍</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<% if false %>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">杜聪睿</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>下午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<% end %>-->
                <!--<tr>-->
                    <!--<td><a href="javascript:;">肖建强</a></td>-->
                    <!--<td>医师</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td>上午普通门诊</td>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->
    </div>
</div>
