
<div class="middle flow">
    <div class="floorImg">
        <h5 class="hosServer">楼层指引</h5>
        <div>
            <%= image_tag("floor_1.jpg") %>
        </div>
        <div>
            <%= image_tag("floor_2.jpg") %>
        </div>
        <div>
            <%= image_tag("floor_3.jpg") %>
        </div>
        <div>
            <%= image_tag("floor_4.jpg") %>
        </div>
        <div>
            <%= image_tag("floor_5.jpg") %>
        </div>
    </div>
</div>
