
<div class="middle flow floorImg">
    <%= image_tag("floor_1.jpg") %>
    <%= image_tag("floor_2.jpg") %>
    <%= image_tag("floor_3.jpg") %>
    <%= image_tag("floor_4.jpg") %>
    <%= image_tag("floor_5.jpg") %>
</div>
