<div class="am-g tpl-g">
  <!-- 头部 -->
  <%= render partial: 'administration/v1/shared/navigation_bar' %>

  <!-- 风格切换 -->
  <%= render partial: 'administration/v1/shared/change_theme' %>

  <!-- 侧边导航栏 -->
  <%= render partial: 'administration/v1/shared/sidebar', locals: { options: {list_item: 'user_index'}} %>

  <!-- 内容区域 -->
  <div class="tpl-content-wrapper">

    <div class="row-content am-cf ">

      <div class="widget am-cf">
        <div class="row">
          <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div data-am-widget="tabs" class="am-tabs am-tabs-default">
              <ul class="am-tabs-nav am-cf">
                  <li class="am-active"><a href="[data-tab-panel-0]">周一</a></li>
                  <li class=""><a href="[data-tab-panel-1]">周二</a></li>
                  <li class=""><a href="[data-tab-panel-2]">周三</a></li>
                  <li class=""><a href="[data-tab-panel-3]">周四</a></li>
                  <li class=""><a href="[data-tab-panel-4]">周五</a></li>
                  <li class=""><a href="[data-tab-panel-5]">周六</a></li>
                  <li class=""><a href="[data-tab-panel-6]">周日</a></li>
              </ul>
              <div class="am-tabs-bd flowVisible">
                  <div data-tab-panel-0 class="am-tab-panel am-active">
                    <table class="am-table am-table-hover middleLine lineBorder">
                        <tr>
                          <td rowspan="2"><%= @login_user.get_office.name %></td>
                          <td>上午</td>
                          <td class="workingExperts">
                            <div class="doctorListCon">
                              <p>请选择排班医生 <i class="am-selected-icon am-icon-caret-down fr"></i></p>

                              <ul class="hide doctorList">
                                <li class="doctors">
                                  <span class="doctorName"><%= @login_user.name %></span>
                                    <input type="checkbox" name="vehicle" value="段老师 vip传承门诊," /> vip传承门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 门诊," /> 门诊
                                    <input type="checkbox" name="vehicle" value="段老师 视光门诊," /> 视光门诊
                                    <input type="checkbox" name="vehicle" value="段老师 屈光门诊," /> 屈光门诊
                                    <input type="checkbox" name="vehicle" value="段老师 视光（科研）门诊,"  /> 视光（科研）门诊
                                </li>
                                <li class="doctors">
                                  <span class="doctorName">廖老师</span>
                                    <input type="checkbox" name="vehicle" value="廖老师 vip传承门诊," /> vip传承门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 门诊," /> 门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 视光门诊," /> 视光门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 屈光门诊," /> 屈光门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 视光（科研）门诊," /> 视光（科研）门诊
                                </li>
                                <li class="doctors">
                                  <span class="doctorName">段老师</span>
                                    <input type="checkbox" name="vehicle" value="段老师 vip传承门诊," /> vip传承门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 门诊," /> 门诊
                                    <input type="checkbox" name="vehicle" value="段老师 视光门诊," /> 视光门诊
                                    <input type="checkbox" name="vehicle" value="段老师 屈光门诊," checked="checked" > 屈光门诊
                                </li>
                                <input type="button" value="点击保存" class="saveDoctor am-btn-primary">

                              </ul>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <td>下午</td>
                          <td class="workingExperts">
                            <div class="doctorListCon">
                              <p>请选择排班医生 <i class="am-selected-icon am-icon-caret-down fr"></i></p>

                              <ul class="hide doctorList">
                                <li class="doctors">
                                  <span class="doctorName">段老师</span>
                                    <input type="checkbox" name="vehicle" value="段老师 vip传承门诊," /> vip传承门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 门诊," /> 门诊
                                    <input type="checkbox" name="vehicle" value="段老师 视光门诊," /> 视光门诊
                                    <input type="checkbox" name="vehicle" value="段老师 屈光门诊," /> 屈光门诊
                                    <input type="checkbox" name="vehicle" value="段老师 视光（科研）门诊,"  /> 视光（科研）门诊
                                </li>
                                <li class="doctors">
                                  <span class="doctorName">廖老师</span>
                                    <input type="checkbox" name="vehicle" value="廖老师 vip传承门诊," /> vip传承门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 门诊," /> 门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 视光门诊," /> 视光门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 屈光门诊," /> 屈光门诊
                                    <input type="checkbox" name="vehicle" value="廖老师 视光（科研）门诊," /> 视光（科研）门诊
                                </li>
                                <li class="doctors">
                                  <span class="doctorName">段老师</span>
                                    <input type="checkbox" name="vehicle" value="段老师 vip传承门诊," /> vip传承门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 vip门诊," /> vip门诊
                                    <input type="checkbox" name="vehicle" value="段老师 门诊," /> 门诊
                                    <input type="checkbox" name="vehicle" value="段老师 视光门诊," /> 视光门诊
                                    <input type="checkbox" name="vehicle" value="段老师 屈光门诊," /> 屈光门诊
                                </li>
                                <input type="button" value="点击保存" class="saveDoctor am-btn-primary">



                              </ul>
                            </div>



                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td rowspan="2" class="lineRight">科室二</td>
                          <td>上午</td>
                          <td class="workingExperts">
                            <select multiple data-am-selected >
                              <option value="a">段老师</option>
                              <option value="b" selected>袁老师</option>
                              <option value="o">廖老师</option>
                              <option value="m" selected>张老师</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>下午</td>
                          <td class="workingExperts"></td>
                        </tr>
                    </table>
                  </div>
                  <div data-tab-panel-1 class="am-tab-panel ">
                    【彩虹】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                  </div>
                  <div data-tab-panel-2 class="am-tab-panel ">
                    【歌唱】那时候有多好，任雨打湿裙角。忍不住哼起，心爱的旋律。绿油油的树叶，自由地在说笑。燕子忙归巢，风铃在舞蹈。经过青春的草地，彩虹忽然升起。即使视线渐渐模糊，它也在我心里。就像爱过的旋律，没人能抹去。因为生命存在失望，歌唱，所以才要歌唱。
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :meta do %>
<% end %>

<% content_for :body_attr do %>data-type="widgets"<% end %>

<% content_for :style do %>
    <%= stylesheet_link_tag 'administration/v1/users/scheduling' %>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag 'administration/v1/schedulings/scheduling' %>
<% end %>
