<!-- 眼健康科普 -->
<div class="middle">
  <ul class="column flow mdlPad ophthalmology eyeHealth" >
    <li>
      <h5>科普知识</h5>
      <div class="fl">
        <%= link_to image_tag("kpzs.png"), kepu_path(:科普) %>
      </div>
      <div class="fr relativeDiv">
        <a href="http://baidu.ku6.com/watch/6975508803396502095.html?page=videoMultiNeed" target="_blank"><%= image_tag("kpsp.png") %></a>

        <%= image_tag("play_btn.png",class:"playBtn playBtnT") %>
      </div>
    </li>
    <li>
      <h5>科普活动</h5>
      <div class="fl">
        <!--轮播-->
        <div class="banner">
          <!--<%= link_to image_tag("kpshd2_6.jpg"), kepu_path(:我院赴基层为眼健康公益事业继续前行) %>-->

          <ul class="">
            <li>
              <%= link_to image_tag("kpshd2_6.jpg"), kepu_path(:我院赴基层为眼健康公益事业继续前行) %>
              <div class="imgTitle">
                <p>大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行</p>
              </div>
            </li>
            <li>
              <%= link_to image_tag("kpshd1_4.jpg"), kepu_path(:社区公益行走进马家花园社区) %>
              <div class="imgTitle">
                <p>“关注眼健康，公益科普进万家”社区公益行走进马家花园社区</p>
              </div>
            </li>
          </ul>
          <div class="left-btn"></div>
          <div class="right-btn"></div>
          <div class="img-btn-list"></div>
        </div>

        <!--轮播-->
      </div>
      <div class="fr signContainer">
        <%= link_to image_tag("yybm.png"), kepu_path(:预约报名) %>
        <div class="signMask">
          <p>预约报名</p>
        </div>
      </div>
    </li>
  </ul>
</div>

<script>
    bannerListFn(
        $(".banner"),
        $(".img-btn-list"),
        $(".left-btn"),
        $(".right-btn"),
        2000,
        true
    );
</script>