<!-- 眼健康科普 -->
<div class="middle">
  <ul class="column flow mdlPad ophthalmology eyeHealth" >
    <li>
      <h5>科普知识</h5>
      <div class="fl">
        <a href="javascript:;"><%= image_tag("kpzs.png") %></a>
      </div>
      <div class="fr">
        <a href="javascript:;"><%= image_tag("kpsp.png") %></a>
      </div>
    </li>
    <li>
      <h5>科普活动</h5>
      <div class="fl">
        <!--轮播-->
        <div class="banner">
          <ul class="">
            <li>
              <a href=""><%= image_tag("dynamic-1.png") %></a>
              <div class="imgTitle">
                <p>2017年03月06日 21:46:55 | 来源：新华社</p>
              </div>
            </li>
            <li>
              <a href=""><%= image_tag("dynamic-2.jpg") %></a>
              <div class="imgTitle">
                <p>四川省视力保护科普基地流动科普馆在蓉启动</p>
              </div>
            </li>
            <li>
              <a href=""><%= image_tag("dynamic-3.jpg") %></a>
              <div class="imgTitle">
                <p>三月眼健康科普月-千里奔袭得荣县，“对口扶贫.精准复明”公益活动</p>
              </div>
            </li>
            <li>
              <a href=""><%= image_tag("dynamic-4.jpg") %></a>
              <div class="imgTitle">
                <p>四川省视力保护科普基地与得荣县签订“对口扶贫·精准复明”协议</p>
              </div>
            </li>
          </ul>
          <!--<div class="left-btn"></div>-->
          <!--<div class="right-btn"></div>-->
          <div class="img-btn-list"></div>
        </div>

        <!--轮播-->
      </div>
      <div class="fr signContainer">
        <a href="javascript:;"><%= image_tag("yybm.png") %></a>
        <div class="signMask">
          <p>预约报名</p>
        </div>
      </div>
    </li>
  </ul>
</div>