<!-- 眼健康科普 -->
<div class="middle">
  <ul class="column flow mdlPad ophthalmology eyeHealth" >
    <li>
      <h5>科普知识</h5>
      <div class="fl">
        <%= link_to image_tag("kpzs.png"), kepu_path(:科普) %>

      </div>
      <div class="fr relativeDiv">
        <a href="http://baidu.ku6.com/watch/6975508803396502095.html?page=videoMultiNeed" target="_blank"><%= image_tag("kpsp.png") %></a>

        <%= image_tag("play_btn.png",class:"playBtn playBtnT") %>
      </div>
      <div class="newsContainer">
        <h4>
          <span>科普动态</span>
        </h4>
        <div>
          <%= link_to :'【银海科普】成都中医大银海眼科医院教你滴眼药水的正确打开姿势！',news_path(:成都中医大银海眼科医院教你滴眼药水的正确打开姿势),class:"hrefTitWord" %>
        </div>
        <div>
          <%= link_to :'【银海科普】眼前蚊蝇乱飞？！警惕以上症状，您可能患上了飞蚊症',news_path(:您可能患上了飞蚊症),class:"hrefTitWord" %>
        </div>
        <div>
          <%= link_to :'【银海科普】近视手术知多少？（一）',news_path(:近视手术知多少1),class:"hrefTitWord" %>
        </div>
      </div>
    </li>
    <li>
      <h5>科普活动</h5>
      <div class="fl">
        <!--轮播-->
        <div class="banner">

          <ul class="">
            <li>
              <%= link_to image_tag("kpshd2_6.jpg"), kepu_path(:我院赴基层为眼健康公益事业继续前行) %>
              <div class="imgTitle">
                <p>大爱无疆·善行天下” 我院赴基层为眼健康公益事业继续前行</p>
              </div>
            </li>
            <li>
              <%= link_to image_tag("kpshd1_4.jpg"), kepu_path(:社区公益行走进马家花园社区) %>
              <div class="imgTitle">
                <p>“关注眼健康，公益科普进万家”社区公益行走进马家花园社区</p>
              </div>
            </li>
            <li>
              <%= link_to image_tag("news_blue_6.jpg"), news_path(:成都地铁惊现蓝精灵) %>
              <div class="imgTitle">
                <p>成都地铁惊现“蓝精灵”！这是怎么回事？</p>
              </div>
            </li>
            <li>
              <%= link_to image_tag("news_szj_2.jpg"), news_path(:我院深入石笋街小学) %>
              <div class="imgTitle">
                <p>我院深入石笋街小学，开展眼健康科普公益活动</p>
              </div>
            </li>
          </ul>
          <div class="left-btn"></div>
          <div class="right-btn"></div>
          <div class="img-btn-list"></div>
        </div>

        <!--轮播-->
      </div>
      <div class="fr signContainer">
        <%= link_to image_tag("yybm.png"), kepu_path(:预约报名) %>
        <div class="signMask">
          <%= link_to :"预约报名",kepu_path(:预约报名) %>
        </div>
      </div>
    </li>
  </ul>
</div>

<script>
    bannerListFn(
        $(".banner"),
        $(".img-btn-list"),
        $(".left-btn"),
        $(".right-btn"),
        2000,
        true
    );
</script>