<div class="whiteModule pad20 line30">
  <div class="flow">
    <div class="hosTitle">
      <h4 class="chineseWord">四川省视力保护科普基地介绍</h4>
      <p>Introduction of Sichuan visual protection science popularization base</p>
    </div>
  </div>
  <p>四川省视力保护科普基地所依托单位——成都中医药大学中医眼科学科1956年由全国著名中医眼科学家陈达夫教授创建。作为四川省视力保护科普基地，在近视防控方面先后承担了国家行业专项和四川省科技厅重点课题，积极开展中医药近视防治临床及科研工作；承担四川省科技厅青少年近视科普平台建设项目和四川省科技厅眼保健操规范及培训科普项目；基地定期深入学校和社区开展形式多样、生动活泼的视力保护科普宣传，进行视力筛查和眼健康数据库的建立。2016年12月，四川省视力保护科普基地，接受成都中医大银海眼科医院的捐赠，配备了首辆流动智能科普馆（车）。流动科普馆与视力保护科普基地、四川省科技馆视力保护分馆紧密结合、功能互补，成为普及爱眼护眼知识的重要科普体系。</p>
  <%= image_tag("kepu-banner.jpg",:class => "marT10" ) %>
</div>
<div class="kepuBtn">
  <ul class="flParent">
    <li class="active">活动剪影</li>
    <li>六月爱眼月</li>
    <li>地铁公益行</li>
  </ul>
</div>
<div class="whiteModule pad20 line30 kepuModuleCon">
  <div class="kepuModule fiKepuModule">
    <p>自四川省视力保护科普基地“流动科普馆”启动以来，我院深入学校、社区、乡村开展了“大爱无疆·善行天下”眼健康公益活动、三月科普月眼健康公益活动，启动全国首个爱眼月即首届成都“爱眼月”。仅在眼健康科普月当月，就深入11所中小学、5个社区、1个民族县，开展了频次极高的20场活动；爱眼日当天“’地铁爱眼月’眼健康公益咨询活动”，活动当月就为6000余名成都市民提供了眼健康服务。</p>
    <p class="noIndent">眼健康公益活动部分剪影：</p>
    <div class="flow marB10 marT10">
      <div class="fl relativeDiv">
        <%= image_tag("kepuActivity_1.jpg") %>
        <div class="bottomMask kepuImgMask">
          <p>2017年1月6日，成都中医大银海眼科医院副院长、白内障屈光中心主任朱思泉教授亲临家乡宜宾珙县为家乡老百姓做眼部检查。</p>
        </div>
      </div>
      <div class="fr relativeDiv">
        <%= image_tag("kepuActivity_2.jpg") %>
        <div class="bottomMask kepuImgMask">
          <p>2017年3月，走进沙河源小学开展3场眼健康公益活动。</p>
        </div>
      </div>
    </div>
    <div class="flow marB10">
      <div class="fl relativeDiv">
        <%= image_tag("kepuActivity_3.jpg") %>
        <div class="bottomMask kepuImgMask">
          <p>段院长亲自为甘孜州得荣县藏族同胞做眼部检查</p>
        </div>
      </div>
      <div class="fr relativeDiv">
        <%= image_tag("kepuActivity_4.jpg") %>
        <div class="bottomMask kepuImgMask">
          <p>医技人员应用流动科普馆配备的“七合一”机器人为藏族同胞做眼部检查。</p>
        </div>
      </div>
    </div>
    <div class="flow marB10">
      <div class="fl relativeDiv">
        <%= image_tag("kepuActivity_5.jpg") %>
        <div class="bottomMask kepuImgMask">
          <p>成都地铁运营有限公司地铁司机代表在成都银海眼科医院接受眼健康服务</p>
        </div>
      </div>
    </div>
  </div>

  <div class="kepuModule">
    <p>首届成都“爱眼月”的一大亮点是全国首创“地铁护眼志愿者”，有十余辆穿梭于市内的地铁列车将作为本次公益活动的“特殊志愿者”以搭载科普视频和知识看板的方式向市民介绍、传递爱眼护眼的知识理念。此外，还有动态显示屏滚动播放爱眼护眼知识。</p>
    <div class="marB20 flow">
      <%= image_tag("kepuActivity_ayy1.jpg",:class => "fl") %>
      <%= image_tag("kepuActivity_ayy2.jpg",:class => "fr") %>
    </div>
    <div class="flow marB10">
      <%= image_tag("kepuActivity_ayy3.jpg",:class => "fl") %>
      <%= image_tag("kepuActivity_ayy4.jpg",:class => "fr") %>
    </div>
  </div>

  <div class="kepuModule">
    <p>成都中医药大学眼科学院志愿者团队、成都中医大银海眼科医院全院职工，在成都十个地铁站点为市民提供免费的眼健康科普宣教、咨询及公益义诊，同时免费眼健康档案建立服务。活动当月就为6000余名成都市民提供了眼健康服务。</p>
    <div class="flow">
      <%= image_tag("kepuActivity_gy1.jpg",:class => "fl") %>
      <%= image_tag("kepuActivity_gy2.jpg",:class => "fr") %>
    </div>
  </div>

</div>
<!--科普列表-->
<div class="whiteModule flow">
  <div class="width560 fl line40 kepuArticles">
    <p class="kepuTle padL10">眼健康公益活动  <%= link_to :"更多>>",news_path(:新闻列表) %></p>
    <ul class="padL10">
      <li>
        <a href="http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000317&idx=3&sn=43e454e2b90d0fca26049a9dbbd0b67d&chksm=16d084cc21a70dda93f2cda70cb7e336599a02ad8e2d3a1ec3c3a6b76346f95bb76f11b4cea0#rd
" target="_blank">端午佳节送健康 社区眼健康义诊暖人心 <span class="fr">2017-5-29</span></a>
      </li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000184&idx=1&sn=89111952cf6a90befe86adbe4fa2d130&chksm=16d0874921a70e5f0f8fc2912eb13123fc1faf24a07389addf9150ad13331141d06abd368134#rd
" target="_blank">“大爱无疆·善行天下”眼健康公益活动继续前行<span class="fr">2017-4-26</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000180&idx=1&sn=5364e27b3e56fcfba9f7efdd21434145&chksm=16d0874521a70e53f819381bbeb4c3689df64386bd8efd8f057b8baea0f2222c7a96d381fd9b#rd
" target="_blank">我院眼健康公益行走进国家重点优势企业 ——中航工业成飞公司<span class="fr">2017-4-25</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000177&idx=1&sn=0b785da0721b52814682167f3412ccb6&chksm=16d0874021a70e5697757c260254416f8188aa33b642bf9b34420076eb7a103b93eaefae124c#rd
" target="_blank">“大爱无疆•善行天下”眼健康公益行之美视国际学校<span class="fr">2017-4-21</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000174&idx=1&sn=6b0212b008ce49810dd83dbf042772fd&chksm=16d0875f21a70e496c327283739e4b7f9d4979baa688e472d818e7efe1f7707ad7c24034ddab#rd
" target="_blank">我院继续携手沙河源小学 开展眼健康科普校园公益行活动<span class="fr">2017-4-20</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzIwMzI4MTMxMA==&mid=100000174&idx=2&sn=dfa9287037f539c149da8de70f59f423&chksm=16d0875f21a70e49af7bb5c2369499af8f18e3d14f8ccf4edc432ed1f085fc4399caed7f093c#rd
" target="_blank">“关注眼健康，公益科普进万家” 社区公益行走进金仙桥社区<span class="fr">2017-4-20</span></a></li>
    </ul>
  </div>
  <div class="width560 fr line40 kepuArticles">
    <p class="kepuTle padR10">眼健康科普 <%= link_to :"更多>>",news_path(:新闻列表) %></p>
    <ul class="padR10">
      <li><a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000502&idx=1&sn=bb4994a6ff77c5b29afc03bdd485879a&chksm=7d4c42a24a3bcbb4b94a9b30543e6e701568cb3b6ce93307b1266c99c6774f9b117e825ab873#rd" target="_blank">科普小故事之“糊涂”的张大爷 <span class="fr">2017-09-18</span></a></li>
      <li><a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000488&idx=2&sn=01683ddbf41a50f89622ebc9d59b259e&chksm=7d4c42bc4a3bcbaad54aae0ade4e1e9231e158393de2e5cec12fb216d1c1b58bc86193937c9b#rd" target="_blank">【银海科普】科普小故事之周奶奶的烦恼！<span class="fr">2017-9-13</span></a></li>
      <li><a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000465&idx=2&sn=c6cbc6491c58efcb4e65da5cdef1c0b7&chksm=7d4c42854a3bcb9304f37288479c283b3236f2ecc60361dcf59617df7e1f992939ae8cb43675#rd" target="_blank">有一双明亮又健康的眼睛是怎样的体会？~<span class="fr">2017-9-06</span></a></li>
      <li><a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000455&idx=2&sn=53874255a73efce9bcf5f21e69e1e268&chksm=7d4c42934a3bcb85909ce8d3e841972900cb5e23b03ebbaf05c119445a59fa5d0fcdc8676337#rd" target="_blank">眼睛不舒适，是时候相约一场中医spa了！<span class="fr">2017-9-05</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000424&idx=3&sn=897c1edbd788a859a7d60601d5742081&chksm=7d4c42fc4a3bcbea2fd547ffc4a08c6d6ae5a2da1d1149181c4ab6899bc5071dd96861bd5e0c#rd
" target="_blank">我是一只蠕形螨番外篇：认输行不行？<span class="fr">2017-9-02</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000400&idx=2&sn=fa10825602149dd1afbbef87bb7eb5fb&chksm=7d4c42c44a3bcbd278da6c8de4db4450dc118c5f4c69641332c85dcbc21afd34dc89ab5d7ad0#rd
" target="_blank">《眼健康科普漫画》上线啦！速来围观~<span class="fr">2017-8-29</span></a></li>

    </ul>
  </div>
</div>
<!--科普列表-->
<!--摘镜故事-->
<div class="whiteModule">
  <div class="line40 kepuArticles flow">
    <p class="kepuTle padR10 padL10">摘镜故事</p>
    <ul class="padR10 padL10">
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000340&idx=1&sn=9064d4a2d25786a1bdf085fddbe369fe&chksm=7d4c42004a3bcb162a05181b3e68dfbb98b65a82f5bb155a8caa85b95b6150220caa4c00671e#rd
" target="_blank">从雾里看花到明辨三光——女医摘镜自白<span class="fr">2017-8-15</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000292&idx=2&sn=e4635eb5f240004841071bd95a846f4d&chksm=7d4c42704a3bcb66eb797bba176d6ac8a395c209efae1d58cefb6315ce9916534ad9ed083e2b#rd
" target="_blank">我院首例近视手术术后新体验：看庭前花开花落,天上云卷云舒<span class="fr">2017-8-01</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000148&idx=1&sn=1e0330a52134851a7b17a6420d828028&chksm=7d4c41c04a3bc8d63ecfc8e37bb452ccfb2df67d5e1c77218fb28047b0e28cbf462696f74407#rd
" target="_blank">医学硕士成为摘镜女神，且看其摘镜之旅<span class="fr">2017-6-26</span></a></li>
      <li><a href="http://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000151&idx=2&sn=fb89b8a289d58e86a889627944a286c4&chksm=7d4c41c34a3bc8d563c53a6672d82e415793aa4cf18c56a43119c0f29c714fc75918f683e884#rd
" target="_blank">留学妹纸近视变形记 摘掉11年眼镜美美哒<span class="fr">2017-8-23</span></a></li>
    </ul>
  </div>
</div>

<!--摘镜故事-->
<script>
    $(".kepuBtn li").click(function () {
        $(".kepuBtn li").eq($(this).index()).addClass("active").siblings().removeClass("active");
        $(".kepuModuleCon .kepuModule").eq($(this).index()).show().siblings().hide()
    })
</script>