<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】眼前蚊蝇乱飞？！警惕以上症状，您可能患上了飞蚊症</h5>
            <P class="rightWord">2017-07-27</P>
        </div>

        <div>
            <p>经常在电脑前一坐就是几个小时的小关，以前总是觉得眼睛干涩胀痛，最近发现在看明亮的地方、白墙壁和蓝天的时候，眼前常有虫子和线头样的东西飞舞，并感觉这些东西和视线一起移动，眨眼后也不消失，但在暗的地方就没有这种情况，眼睛看远处的物体也是清楚的。去医院检查，经医生诊断，小关患上了“飞蚊症”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fwzkp_1.jpg") %>
            </div>
            <p><b>什么是飞蚊症？</b></p>
            <p>飞蚊症是由于玻璃体变性引起的，是一种自然老化现象，也即随着年纪增大，玻璃体如鸡蛋清会出现“液化”，产生一些混浊物。常发生于40岁以上的中老年人，高度近视眼患者，以及动过白内障手术者，其他如眼内发炎或视网膜血管病变患者，也会形成此病。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fwzkp_2.jpg") %>
            </div>
            <p><b>飞蚊症特点</b></p>
            <p>飞蚊症分生理及病理性二大类。生理性的飞蚊症患者虽然自述眼前有黑影飘动，但眼球本身未发现任何病变，这一类生理性飞蚊症无须治疗。病理性飞蚊症主要是玻璃体病眼底病变引起。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fwzkp_3.jpg") %>
            </div>
            <p>大多数的飞蚊症是良性的，或称“生理性飞蚊症”，其特点是：如果两眼都有飞蚊现象，无法确定是哪一只眼睛有飞蚊，若经过一段时间，这些现象并没有加重或产生变化，飞蚊位置也固定的话，多为良性。相反的，飞蚊现象若突然发生，而且限于一眼，飞蚊数量较多，蚊子飞舞的方向又不定，黑影遮住视野，视力变差、视野缺损，这都是必须注意的恶兆。必须立即到就近正规眼科医院就诊喔。</p>
            <div class="newsImgMar">
                <%= image_tag("news_fwzkp_4.jpg") %>
            </div>
            <p><b>吃的健康远离飞蚊症</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_fwzkp_5.jpg") %>
            </div>
            <p>飞蚊症在老年患者及近视患者中很常见，日常的饮食护理也是不可忽视的重要问题，饮食上宜多配些能补肝益肾，补气养血的食谱。下面就给大家推荐几个营养食谱。</p>
            <fieldset>
                <legend>食谱</legend>
                <p><b>红枣猪心汤</b></p>
                <p>【用料】 猪心 1 个，党参 50 克，红枣 5 个。</p>
                <p>【制作】① 将猪心剖开，切云肥脂，洗除血水。② 把全部用料放入清水锅内，武火煮沸后，改用文火煲 2 小时，加盐调味供用。</p>
                <p>【功效】补益气血，养心安神。</p>
                <p><b>黑芝麻糊</b></p>
                <p>【用料】黑芝麻粉 1 汤匙，豆浆或牛乳 1 杯，蜂蜜 1 匙。</p>
                <p>【制作】把黑芝麻粉冲入 l 杯豆浆或牛乳中，加蜂蜜调服。</p>
                <p>【功效】益气明目。</p>
                <p><b>三子黑豆汤</b></p>
                <p>【用料】女贞子、桑椹子、枸杞子各五钱，再配合制首乌五钱，杭菊三钱，黑豆一两。</p>
                <p>【制作】 加水煮约二小时便可食用。</p>
                <p>【疗效】清肝明目。</p>
                <p><b>首乌黑豆汤</b></p>
                <p>【用料】制首乌一两，枸杞子五钱，杭菊花三钱，党参五钱，黑豆二两。</p>
                <p>【制作】加水煮约二小时便可食用。</p>
                <p>【疗效】明目退翳。</p>
            </fieldset>
            <p><b>飞蚊症一定要做眼底检查！</b></p>
            <p>一提到飞蚊症，不说家喻户晓，那也是妇孺皆知。就是在明亮环境或者看白色物体在眼前出现漂浮物，随眼球运动而运动，像挥之不去的阴影。</p>
            <p>它有各种形状，比如：点状，现状，半圆状，环状，蚊子状等。那么什么是飞蚊证症，在医学上就是玻璃体混浊。玻璃体就是你眼球内后方如同鸡蛋清一样的组织。出现原因随着年龄增长（一般大于40岁），近视眼，眼内各种炎症，视网膜脱离，裂孔，玻璃体积血等。</p>
            <p>很多人觉得飞蚊症都是正常，不用检查，那就大错特错。检查目的是看玻璃体，眼底是否病变引起混浊，万一出现病变却错过检查岂不悔之晚矣！检查虽然会耽误时间和经济支出，如果没有问题皆大欢喜，有问题即时治疗。</p>
            <p>有句话叫“宁可错杀一千也不放过一个”，眼科医师说：宁愿健康体检查眼底，莫让眼病变成漏网鱼。</p>
        </div>
    </div>
</div>





