<!--近视手术知多少？（一）-->
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>我是一只蠕形螨，你奈我何？</h5>
            <p class="fr">2017-08-28</p>
        </div>
        <div>
            <p>我是一只蠕形螨，我低调、我孤傲，我藐视一切，但却只能躲藏。从我族代代相传的经验来看，睫毛毛囊、睫毛皮脂腺、睑板腺都是不错的寄居之地。这些地方，一般人很少引起重视，我们得以逍遥度日。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_1.jpg") %>
            </div>
            <p>我们吞食毛囊上皮细胞，引起毛囊扩张，变性；用利爪损害毛囊和皮脂腺，造成毛囊上皮增生、睫毛根部角化、形成鳞屑；用分泌物及同伴尸体可轻松阻塞睑板腺，造成干眼症，引起反复发作的眼表炎症。用祖辈的话说，这是损人利己的“千秋大业”，我骄傲啊！</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_2.jpg") %>
            </div>
            <p>但是，最近日子不好过了。我惆怅、我失落，我失去所有。听说银海眼科卫士要对我们有大动作，我辗转反侧，夜不能寐。终于决定，打入“敌人”内部，成为我族“慷慨赴义”的英雄人物。隔岸观火始终没有身临其境的感受来得深切，亲身试毒后发现：若“除螨行动”大力开展，我族危矣！于是，冒死画下万恶的治疗流程图，以供后来者参考，延续我族香火。不说了，我要挂了！</p>
            <p><b>治疗流程图</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_3.jpg") %>
            </div>
            <p><b>01</b></p>
            <p>寄生部位。螨虫主要寄生在睫毛毛囊、睫毛皮脂腺，故观察螨虫的部位，在睫毛根部。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_4.jpg") %>
            </div>
            <p><b>02</b></p>
            <p>取样。尽量选取有分泌物附着的睫毛检查，双眼取样，必要时可多次取样。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_5.jpg") %>
            </div>
            <p><b>03</b></p>
            <p>观察。将睫毛放在载玻片上，通过显微镜观察，同时在显示屏上进行展示。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_6.jpg") %>
            </div>
            <p><b>04</b></p>
            <p>确诊。显微镜下可清晰地观察到虫体或者部分虫体，发现螨虫就可确诊治疗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_7.jpg") %>
            </div>
            <p><b>05</b></p>
            <p>过敏试验及清洁。在手臂内侧皮肤进行茶树精油眼贴过敏性实验。无过敏人群使用生理盐水彻底清洁眼部，重点为睑缘部。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_8.jpg") %>
            </div>
            <p><b>06</b></p>
            <p>治疗。双眼进行茶树精油眼贴杀螨治疗，一次10min，每日1-2次。建议连续使用2周以后复查。使用时保持双眼紧闭，茶树精油不能进入眼内，以免刺激眼表。使用后的茶树精油帖可用来清洁面部皮肤，杀灭面部螨虫。</p>
            <div class="newsImgMar">
                <%= image_tag("news_wsyxm1_9.jpg") %>
            </div>
            <p><b>07</b></p>
            <p>效果。螨虫被清除，双眼明亮动人。</p>
            <p>若您有反复发作的干眼症、角膜上皮脱失、睑缘炎、睑板腺囊肿，伴随面部皮肤毛孔粗大、酒渣鼻等症状，极有可能是螨虫感染。建议您到我院中医眼科中心干眼门诊进行双眼睫毛显微镜检查和除螨治疗。</p>
            <p>9月，我院将开展“除螨行动”，免显微镜检查蠕形螨费用。激不激动，兴不兴奋，拿起电话预约吧。除螨，刻不容缓！</p>
            <p>再也不能傲娇的蠕形螨：成都中医大银海眼科医院护眼堡垒太坚固，咱们惹不起，兄弟们走，去别家！</p>
            <p><b>中医眼科中心介绍</b></p>
            <p>传承陈氏中医眼科百余年积淀之学术精华，师国内众家学术流派之长，集六十年临床经验于一体，我院中医眼科中心具有得天独厚的基础条件。中医眼科中心继承和发展了陈达夫教授创立的中医眼科六经辨证、八廓辨证、内眼脏腑相属理论，使其在以干眼症为代表的眼表疾病，以视网膜出血为代表的出血性眼病，以葡萄膜炎、视神经炎为代表的内眼疾病方面具有高层次的学术水平和显著的临床疗效。针刺灸疗、湿敷雾化、刮痧拔罐等简便效廉特色中医治疗方法的广泛运用，对全面提高眼科常见病、多发病临床疗效，改善保存疑难重症患者视功能发挥了重要作用，使成都中医药大学附属银海眼科医院中医眼科中心成为中医特色突出、治疗方法丰富，临床疗效显著的特色科室。</p>

        </div>

    </div>
</div>
<!--近视手术知多少？（一）-->
