<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 有一双明亮又健康的眼睛是怎样的体会？ </h5>
            <p class="rightWord">2017-09-06</p>
        </div>

        <div>
            <p>一般来说，婴幼儿的眼睛是最亮的，长大后很多人眼睛变得暗淡无光，以至于大家都非常羡慕婴幼儿那双明亮而又健康的眼睛。如果我们成年人也能拥有一双明亮又健康的眼睛，会是怎样的体会呢？</p>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_2.jpg") %>
            </div>
            <p>要想拥有一双明亮又健康的眼睛，除了规律的生活作息，合理的日常用眼习惯以外，还应该多从心态和精神面貌上去改善自身。多锻炼，多阅读，保证充足的睡眠，身体好了，心态好了，眼睛自然不会差。</p>
            <p>同时，应该坚持做眼保健操。很多人不相信眼保健操的作用，但其实有两位演艺界的大师早就验证了眼保健操的效果。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_3.jpg") %>
            </div>
            <p>看眼神通常是我们评判一个演员眼技不可或缺的方式，台上一分钟，台下十年功，要在舞台上呈现凌厉的眼神需要花费很多的精力去练习。我们熟知的中国京剧表演艺术大师梅兰芳。他为了让眼睛变的炯炯有神，常常紧盯空中飞翔的鸽子，或注视水底游动的鱼。每天一盯就是30分钟，日子一长，他的双眼渐渐灵活起来，人们都说梅兰芳的眼睛会说话了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_4.jpg") %>
            </div>
            <p>六小龄童饰演的孙悟空一角之所以成为经典，一方面在于他惟妙惟肖的动作，抓耳挠腮的样子形象而生动。其次就是他的眼神，那双火眼金睛，看一下妖怪，就能让妖怪现形一般。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_5.jpg") %>
            </div>
            <p>但是，六小龄童是有600度的近视。不信，看看大师兄的生活照。为了让眼睛有神，猴哥自然也有自己的训练方法：每天都去看别人打乒乓球，站在边上盯着球看，可以练习眼睛的灵活度；每天都去山上看日出。早上起来的太阳不是太刺眼，所以不会伤到眼睛；每天做眼部按摩（眼保健操也可以）；每天1次眼药水，保持眼睛湿润。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_6.jpg") %>
            </div>
            <p>虽然两位大师的眼保健操不是很规范，但是持之以恒，同样起了作用。那么规范的眼保健操是什么样子的呢？来来来，银海天使手把手教你。</p>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_7.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_8.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_9.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_10.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_11.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_12.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_mlgjyj_13.jpg") %>
            </div>
            <p>学会了吗？持之以恒，你也会有一双明亮又健康的眼睛。</p>

        </div>
    </div>
</div>




