<div class="whiteModule pad20 line30">
  <div class="flow">
    <div class="hosTitle">
      <h4 class="chineseWord">眼保健操规范化培训科普园地</h4>
      <p>Standardized training of eye health exercises</p>
    </div>
  </div>
  <p class="text_indent_2">眼保健操规范化培训科普园地依托四川省教育厅科普培训项目“建立规范化眼保健操中小学科普宣传人员培训体系”开设，以传统中医推拿为基础的眼保健操规范化培训项目作为支撑，科普园地为广大中小学学校及社区卫生机构教辅人员等提供专业的眼保健操教学及规范化培训通道及交流平台，专业医疗团队定期进入学校及社区开展规范化眼保健操理论与实践操作的培训课程，为中小学校及社区卫生中心孵化合格的眼保健操培训教师，定期开展形式多样、生动活泼的爱眼护眼知识讲座，开设近视防控指导师培训班，成为中小学生爱眼护眼知识的重要科普体系。</p>
</div>
<h4 class="yjk_title">眼健康公益活动</h4>
<div class="whiteModule pad20 line30 yjk_container_box">
  <div class="flow">
    <div class="kepus_img_box fl yjk_left_img">
      <%=image_tag 'yjk_new_1.jpg',alt:'眼保健操'%>
    </div>
    <div class="kepus_content_box fl yjk_right_text">
      <div class="hosTitle fl">
        <h3 class="yjk_news_title">成都市教育局近视防控知识培训会在银海眼科医院举行</h3>
      </div>
      <div class="kepus_item_container fl">
        <p>
          为进一步加强学生近视防控工作，提高学校师生爱眼护眼知识水平及近视防控技能，养成良好的用眼卫生习惯，有效预防学生眼科疾病和控制学生近视情况的发生，5月4日，由成都市教育局主办，成都市视力保护协会、成都中医药大学附属银海眼科医院等单位承办的“成都市教育局近视防控知识培训会”在我院六楼学术报告厅举行，来自高新区各小学的体育老师、保健老师共计60余人出席本次培训会。会议由成都市视力保护协会副秘书长熊茂德主持...
        </p>
        <a href="http://www.ineyehospital.com/news/414?from=db">
          查看详情>>
        </a>
        <%#= link_to '查看详情>>', new_path(:'414?from=db')%>
      </div>
    </div>
  </div>
  <div class="flow">
    <div class="kepus_content_box fl yjk_left_text">
      <div class="hosTitle fl">
        <h3 class="yjk_news_title">全国首个“近视防控指导师”培训班在成都市金牛区圆满举行</h3>
      </div>
      <div class="kepus_item_container fl">
        <p>
          12月14日-15日，全国首个“近视防控指导师”培训班在成都市蜀西实验中学圆满举行。培训由成都市金牛区教育局、成都中医药大学眼科学院主办，四川省视力保护科普基地、成都市蜀西实验中学承办...
        </p>
        <%#= link_to '查看详情>>', kepu_path(:眼保健操规范化培训科普园地)%>
         <a href="http://www.ineyehospital.com/news/169?from=db">
          查看详情>>
        </a>
      </div>
    </div>
    <div class="kepus_img_box fl yjk_right_img">
      <%=image_tag 'yjk_new_2.jpg',alt:'眼保健操'%>
    </div>
  </div>
  <div class="flow">
    <div class="kepus_img_box fl yjk_left_img">
      <%=image_tag 'yjk_new_3.jpg',alt:'眼保健操'%>
    </div>
    <div class="kepus_content_box fl yjk_right_text">
      <div class="hosTitle fl">
        <h3 class="yjk_news_title">爱眼护眼，从眼保健操开始 ——我院承办的2017年“银海杯”成都市小学生眼保健操比赛圆满举行</h3>
      </div>
      <div class="kepus_item_container fl">
        <p>
          冬日里的成都很少有童话里的雪，却迎来了如约变黄而黄灿灿的银杏叶。为加强青少年爱眼护眼中医近视综合防治，提高眼健康整体水平，12月6日，2017年“银海杯”成都市小学生眼保健操比赛在成都市疾病控制预防中心圆满举行...
        </p>
        <%#= link_to '查看详情>>', kepu_path(:眼保健操规范化培训科普园地)%>
        <a href="http://www.ineyehospital.com/news/156?from=db">
         查看详情>></a>
      </div>
    </div>
  </div>
  <div class="flow">
    <div class="kepus_content_box fl yjk_left_text">
      <div class="hosTitle fl">
        <h3 class="yjk_news_title">三月科普月之眼保健操科普讲座及眼健康建档公益活动持续开展</h3>
      </div>
      <div class="kepus_item_container fl">
        <p>
          自“三月科普月全民眼健康公益行动”启动以来，成都中医大银海眼科医院相继开展了“关爱律师眼健康、维护女性合法权益公益讲座”、“关爱教职工眼健康公益活动”等形式新颖、内容多样的眼健康科普公益活动，取得了良好的效果...
        </p>
        <%#= link_to '查看详情>>', kepu_path(:眼保健操规范化培训科普园地)%>
        <a href="http://www.ineyehospital.com/news/219?from=db">
        查看详情>></a>
      </div>
    </div>
    <div class="kepus_img_box fl yjk_right_img">
      <%=image_tag 'yjk_new_4.jpg',alt:'眼保健操'%>
    </div>
  </div>
</div>
<div class="yjk_more">
  <%= link_to :"点击查看更多活动",news_index_path(function: '新闻列表') %>
</div>
<h4 class="yjk_title mart-20">眼保健操视频</h4>
<div class="whiteModule pad20 line30">
  <div class="yjk_sp">
   <%=image_tag 'yjk_sp_img_1.jpg',class:'js_yjk_sp_1' %>
   <%=image_tag 'yjk_sp_img_2.jpg',class:'js_yjk_sp_2' %>
  </div>
</div>
<div class="yjk_footer">
  <%=image_tag 'yjk_footer_logo.jpg'%>
</div>
<!--视屏遮罩层-->
<div class='yjk_sp_bc'>
</div>
<!--视屏-->
<div class="yjk_sp_container js_sp_1">
  <video src="http://ineyewebsite.oss-cn-beijing.aliyuncs.com/video/2018.4.7%E9%93%B6%E6%B5%B7%E7%9C%BC%E7%A7%91%E7%9C%BC%E4%BF%9D%E6%93%8D.mp4" controls="controls" width="80%" height="80%" autoplay="autoplay">
  </video>
</div>
<div class="yjk_sp_container js_sp_2">
  <video src="http://ineyewebsite.oss-cn-beijing.aliyuncs.com/video/2019.3.5%E7%9C%BC%E4%BF%9D%E5%81%A5%E6%93%8D.mp4" controls="controls" width="80%" height="80%" autoplay="autoplay">
  </video>
</div>
<script type="text/javascript">
  $('.js_yjk_sp_1').click(function(){
    $('.yjk_sp_bc').css('display','block')
    $('.js_sp_1').css('display','block')
  })
  $('.js_yjk_sp_2').click(function(){
    $('.yjk_sp_bc').css('display','block')
    $('.js_sp_2').css('display','block')
  })
  $('.yjk_sp_bc').click(function(){
    $('.js_sp_1').css('display','none')
    $('.js_sp_2').css('display','none')
    $('.yjk_sp_bc').css('display','none')
  })
</script>
