<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>眼睛不舒适，是时候相约一场中医spa了！</h5>
            <p class="rightWord">2017-09-05</p>
        </div>

        <div>
            <p>兰兰，作为一名标准的上班族，整天对着电脑，长时间的工作让她身心疲惫。要说身体的疲劳还好解决，来一场说走就走的城郊之旅，美美的做一个水疗spa就基本可以缓解。但是眼睛不适如何消除呢？听闺蜜说，在银海给眼睛做了一场中医spa,感觉超赞！于是她慕名而来。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_1.jpg") %>
            </div>
            <p>悲催的上班族，天天对着电脑，一不小心就视疲劳，充血，眼干啥的。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_2.jpg") %>
            </div>
            <p>在银海看医生，医生说要养成合理用眼的习惯，配合中药调理效果好。中药啊，我去，中药！！！给我一箱大白兔都没用。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_3.jpg") %>
            </div>
            <p>美丽的天使姐姐说要不要试试中药雾化和中药熏蒸，不用吃药也能治疗。 </p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_4.jpg") %>
            </div>
            <p>哇塞，这感觉倍儿爽，一个热熏蒸，一个冷雾化，都加了各种治疗眼疾的中药。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_5.jpg") %>
            </div>
            <p>在护士美眉的引导下，做了15分钟双眼的热熏蒸，感觉皮肤都变好了，哈哈！</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_6.jpg") %>
            </div>
            <p>然后又接着做了20分钟的双眼中药冷雾化,冰冰凉凉的，感觉超~~~爽。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_7.jpg") %>
            </div>
            <p>整个治疗结束后，感觉眼睛视疲劳的症状明显得到缓解，眼睛blingbling~~~电死个人咧！</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_8.jpg") %>
            </div>
            <p>中药熏蒸：利用中药液及热能改善眼睛局部血液循环，加速代谢产物排泄，使眼部气血流畅，疏通经络，祛邪导滞。适用于：视疲劳、早期麦粒肿、睑板腺功能障碍、眶上神经痛等。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zyspa_9.jpg") %>
            </div>
            <p>中药雾化：传统中药熏蒸结合超声雾化原理，对缓解眼干涩、异物感、眼痒、眼痛等具有良好的效果。适用于：视疲劳、干眼、过敏性结膜炎、传染性结膜炎等。</p>
            <p><b>中医眼科中心介绍</b></p>
            <p>传承陈氏中医眼科百余年积淀之学术精华，师国内众家学术流派之长，集六十年临床经验于一体，我院中医眼科中心具有得天独厚的基础条件。中医眼科中心继承和发展了陈达夫教授创立的中医眼科六经辨证、八廓辨证、内眼脏腑相属理论，使其在以干眼症为代表的眼表疾病，以视网膜出血为代表的出血性眼病，以葡萄膜炎、视神经炎为代表的内眼疾病方面具有高层次的学术水平和显著的临床疗效。针刺灸疗、湿敷雾化、刮痧拔罐等简便效廉特色中医治疗方法的广泛运用，对全面提高眼科常见病、多发病临床疗效，改善保存疑难重症患者视功能发挥了重要作用，使成都中医药大学附属银海眼科医院中医眼科中心成为中医特色突出、治疗方法丰富，临床疗效显著的特色科室。</p>

        </div>
    </div>
</div>




