<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>科普小故事之“糊涂”的张大爷</h5>
            <p class="rightWord">2017-09-18</p>
        </div>

        <div>
            <p>68岁的张大爷慈眉善目，待人更是谦虚热忱。不过比起张大爷为人处世的热心肠，他“糊涂老头”的称号现在已街知巷闻了。最近发生在他身上的糊涂事还真不少，往往让人啼笑皆非。大伙跟张大爷对话，更有种云里雾里的感觉。大家慢慢发现，“糊涂”的张大爷原来不是真的糊涂，而是......</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_1.jpg") %>
            </div>
            <p>张大爷喜欢跟人打招呼，对住隔壁的小姑娘尤为热情。每次遇到了，张大爷都会亲切的对她说：“儿子，回来啦！”。困惑的小姑娘曾一度怀疑自己长得像个男人。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_2.jpg") %>
            </div>
            <p>同小区的周太婆养了只可爱的波斯猫，经常带着在小区里转悠。冷不丁就会传来一句张大爷的赞美之词：“周太婆，您家狗子越长越可爱了！”波斯猫：“喵？喵！”。这是猫猫有声的反抗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_3.jpg") %>
            </div>
            <p>张大爷买菜时也会发生不少指鹿为马的“糊涂事”。张大爷：“钱大姐，冬瓜多少钱一斤啊？”钱大姐：“张大爷，这是‘东’瓜的弟弟，西瓜呀。”</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_4.jpg") %>
            </div>
            <p>最让周太婆郁闷的是，自己的孙女几乎成了张大爷御用的“孙子”，没事领着在小区转两圈，又或者带回家塞颗糖。“老张，你的孙子在那边玩泥巴呢，这是我孙女！”周太婆急呼到。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_5.jpg") %>
            </div>
            <p>自从上次张大爷把182路公交车，看成138路后，家人就再也没让他单独出过远门了。儿女更是不得不经常请假来陪老人，张大爷甚至觉得自己不中用了，拖累儿女了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_6.jpg") %>
            </div>
            <p>在周太婆再三询问下，张大爷终于道出实情。原来张大爷最近越来越看不清东西了。为了不想给儿女添麻烦，他谁也没告诉。周太婆恍然大悟，告诉张大爷自己以前也这样，去银海眼科医院两三天就治好了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_7.jpg") %>
            </div>
            <p>张大爷在家人的陪伴下，来到成都中医大银海眼科医院进行诊治，确诊为白内障。医生为其实施了白内障手术，成功消除了张大爷的眼疾。</p>
            <div class="newsImgMar">
                <%= image_tag("news_zdydfn_8.jpg") %>
            </div>
            <p>“糊涂”的张大爷再也不糊涂了，他又变回那个眉开眼笑的老爷爷了，就连猫猫也愿意亲近他了。</p>

        </div>
    </div>
</div>




