<div class="middle flow">
    <!--左边链接公共-->
    <ul class="cataractList fl">
        <li class="active"><a href="javascript:;">你的眼睛处于超负荷状态吗？</a></li>
        <li><a href="javascript:;">你的眼镜戴着还舒服吗？</a></li>
        <li class="listLast"><a href="javascript:;">眼镜布不是用来擦眼镜的？</a></li>
    </ul>
    <!--左边链接公共-->

    <div class="eyeKp">
        <!--你的眼睛处于超负荷状态吗?-->
        <div class="careUnit fr show">
            <div class="popularTitle">
                <h5>你的眼睛处于超负荷状态吗？</h5>
                <p>作者：匿名<span>审核：李骏</span></p>
            </div>

            <div class="careUnitContent eyePu">
                <p>随着科技的发展，越来越多的电子产品走进了我们的生活。我们眼睛的负荷会越来越大。办公的时候可能需要面对电脑，下班之后有需要对着手机屏幕。你的眼睛是否超负荷吗？在日常的用眼过程中，你是否有以下这些症状？</p>

                <div class="surgeryImg">
                    <%= image_tag("kp2_1.jpg") %>
                </div>
                <p>除了上述这些情况外，你是否还会出现一下症状？</p>
                <p>◆ 经常注意力不集中</p>
                <p>◆ 回避近距离工作</p>
                <p>◆ 从看远转到看近或从看近转到看远短暂的视物模糊</p>
                <p>出现上述这些症状就说明你的眼睛已经处于超负荷状态了。而这些问题大部分是由于视功能障碍所引起的，即眼睛累了，不能坚持工作了，医学上称为视疲劳（就像我们身体素质差易生病一样）。出现这些症状之后，需要做一些什么处理呢？</p>
                <div class="surgeryImg">
                    <%= image_tag("kp2_2.png") %>
                </div>

            </div>
        </div>
        <!--你的眼睛处于超负荷状态吗?-->
        <!--你的眼镜戴着还舒服吗?-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>你的眼镜戴着还舒服吗？</h5>
                <p>作者：匿名<span>审核：李骏</span></p>
            </div>

            <div class="careUnitContent eyePu">
                <p>夏日炎炎，出门必流汗，戴眼镜的朋友们会不会经常遇到这样的情况：流汗的时候眼镜会从鼻梁上下滑，需要频繁的用手去调整。</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_1.jpg") %>
                </div>
                <p>其实不止这种情况，细心观察身边戴眼镜的朋友，就会发现很多人戴的眼镜都已经变形了，戴着也出现一些不舒服了，有的一高一低斜着戴着（让人看着会产生歪头的错觉⊙０⊙），有的镜片都已经碰到睫毛像贴在脸上一样（睫毛特别长的人就更别提了），有的脸上由于长期戴镜被挤出了印痕（特别是像我这种脸大的人），还有一些小的问题等等。这些情况都说明了。。。朋友，你的眼镜变形了，需要调整！要调整！调整！</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_2.jpg") %>
                </div>
                <p>如果你的眼镜是正常的，没有变形，是不会出现以上这些问题的，其实我们身边戴眼镜的人已经越来越多，但是由于现代的快节奏生活，很少有人会按时每隔两三个月就去眼镜店找专人调整镜架，甚至有的人一副眼镜从开始到损坏可能都不会去调整它，即使戴着不舒服也就自己动手随便掰两下。	其实不规范的调架也是无效的，还会带来一个弊端，就是让我们眼镜镜片的有效光学中心偏移，会造成周边视野的模糊。调架是门技术活啦，可不能这么随意，一个专业的调架师傅调整镜架是要看戴镜者脸型的，调整好的镜架必须要贴合脸型而不压，端正平稳不下滑，这样的佩戴不仅舒适，而且更科学的使镜片中心有效光学区域居中，视物更清楚。</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_3.jpg") %>
                </div>
                <p>所以戴眼镜的朋友们，快点检查一下自己的眼镜戴着还舒服吗？如果不舒服，那就快点动身到视光中心或者眼镜店花费几分钟时间让专业人士调整吧。最后小提示一下，如果镜架是带橡胶鼻托的，那么每隔两个月鼻托是需要更换的，因为橡胶在汗渍的侵蚀下，也容易氧化老化，会附着一些细菌，长期戴会影响皮肤的。</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_4.jpg") %>
                </div>
            </div>
        </div>
        <!--你的眼镜戴着还舒服吗?-->
        <!--眼镜布不是用来擦眼镜的?-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>眼镜布不是用来擦眼镜的？</h5>
                <p>作者：曾思霖<span>审核：李骏</span></p>
            </div>

            <div class="careUnitContent eyePu">
                <p>一般情况下，框架眼镜买来时商家都会配一块眼镜布给你，在我们看来眼镜布就是用来擦拭眼镜的，但是这种想法是大错特错！眼镜布不是用来擦拭眼镜的！ 眼镜布竟然不是用来擦眼镜的。</p>
                <p>“镜片上有很多微小的灰尘颗粒，如果干擦就会让布把这些灰尘颗粒在你的镜片上来回摩擦，就像砂纸一样，用砂纸在镜片上来回擦，久而久之你的镜片就会模糊了。所以眼镜布并不是拿来擦眼镜的。”</p>
                <p>许多带眼镜的朋友都有个习惯，当镜片脏了后，往往会往镜片上哈一口气，然后用眼镜布将镜片擦干净。其实，眼镜布并不是用来擦眼镜的。</p>
                <p>用眼镜布擦眼镜会更会损伤镜片。</p>
                <p>其实，眼镜布大多是作为赠品赠送给消费者的，因此造价很低廉。它的纤维间隙较大，随着时间会积累很多灰尘，因此用这样的眼镜布擦眼镜只会适得其反，越擦越模糊。如果每次都用镜布或者衣服直接干擦镜片，新的镜片戴不了半年就会被擦的模糊了，这样既影响清晰度也有损美观！</p>
                <p>那么到底应该怎样正确的保养镜片呢？</p>
                <div class="surgeryImg">
                    <%= image_tag("kp3_1.jpg") %>
                </div>

            </div>
        </div>
        <!--眼镜布不是用来擦眼镜的?-->
    </div>


</div>



<script>
    $(".cataractList li").click(function(){
        var i = $(this).index();
        $(".cataractList li").removeClass("active").eq(i).addClass("active");
        $(".careUnit").hide().eq(i).show();
    })
</script>






