<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】科普小故事之周奶奶的烦恼！</h5>
            <p class="rightWord">2017-09-15</p>
        </div>

        <div>
            <p>周奶奶今年65岁，退休在家。她有一个女儿，继承了她年轻时候的优点，端庄漂亮、能歌善舞、事业心强。按理来说，周奶奶家庭生活美满，应该快乐地安享晚年。但是最近周奶奶因为一个大烦恼，茶不思饭不想，女儿看在眼里急在心里。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_1.jpg") %>
            </div>
            <p>周奶奶年轻时是单位的“一枝花”，爱慕者众多。酷爱打扮的她，凭借姣好的容颜、时尚的装扮成了单位里的摩登女郎。用当下流行的话来说，她就是“时尚的宠儿”。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_2.jpg") %>
            </div>
            <p>时光飞逝，转眼三十年过去，周奶奶虽然美貌不再，但是气质出众，在同龄老太中也算得上鹤立鸡群。可是最近，周奶奶经常不修边幅。街里街坊在背后议论调侃，老太太年轻时打扮得大方得体，没想到现在也不修边幅了。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_3.jpg") %>
            </div>
            <p>其实，并不是周奶奶不在乎容颜，而是因为她眼睛出问题了。她不仅视力减退，看到的东西也发生重叠，连一些基本的生活都无法正常进行，更何况穿衣打扮。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_4.jpg") %>
            </div>
            <p>医务人员为周奶奶做视力检测时，发现周奶奶视力锐减。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_5.jpg") %>
            </div>
            <p>医生通过裂隙灯详细观察周奶奶的双眼。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_6.jpg") %>
            </div>
            <p>通过一系列检测后，医生诊断出周奶奶患有白内障，并建议她手术治疗。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_7.jpg") %>
            </div>
            <p>周奶奶听取医生的意见，并采取Lens AR 3D飞秒白内障激光系统极大降低了手术风险，提升了术后效果，通过三焦点晶体的植入，术后连老花眼镜都不需要戴了。看远处，近处，中间的视力都非常清楚自如。</p>
            <div class="newsImgMar">
                <%= image_tag("news_znnfn_8.jpg") %>
            </div>

        </div>
    </div>
</div>




