<div class="middle flow">
    <!--左边链接公共-->
    <ul class="cataractList fl">
        <li class="active"><a href="javascript:;">你的眼睛处于超负荷状态吗？</a></li>
        <li><a href="javascript:;">你的眼镜戴着还舒服吗？</a></li>
        <li><a href="javascript:;">眼镜布不是用来擦眼镜的？</a></li>
        <li><a href="javascript:;">眼前蚊蝇乱飞？可能是飞蚊症</a></li>
        <li><a href="javascript:;">教你滴眼药水的正确打开姿势</a></li>
        <li><a href="javascript:;">近视手术知多少？（一）</a></li>
        <li><a href="javascript:;">青少年近视怎么办？</a></li>
        <li class="listLast"><a href="javascript:;"> 糖尿病患者需保护眼睛“大后方”！ </a></li>
    </ul>
    <!--左边链接公共-->

    <div class="eyeKp">
        <!--你的眼睛处于超负荷状态吗?-->
        <div class="careUnit fr show">
            <div class="popularTitle">
                <h5>你的眼睛处于超负荷状态吗？</h5>
                <p>作者：匿名<span>审核：李骏</span></p>
            </div>

            <div class="careUnitContent eyePu">
                <p>随着科技的发展，越来越多的电子产品走进了我们的生活。我们眼睛的负荷会越来越大。办公的时候可能需要面对电脑，下班之后有需要对着手机屏幕。你的眼睛是否超负荷吗？在日常的用眼过程中，你是否有以下这些症状？</p>

                <div class="surgeryImg">
                    <%= image_tag("kp2_1.jpg") %>
                </div>
                <p>除了上述这些情况外，你是否还会出现一下症状？</p>
                <p>◆ 经常注意力不集中</p>
                <p>◆ 回避近距离工作</p>
                <p>◆ 从看远转到看近或从看近转到看远短暂的视物模糊</p>
                <p>出现上述这些症状就说明你的眼睛已经处于超负荷状态了。而这些问题大部分是由于视功能障碍所引起的，即眼睛累了，不能坚持工作了，医学上称为视疲劳（就像我们身体素质差易生病一样）。出现这些症状之后，需要做一些什么处理呢？</p>
                <div class="surgeryImg">
                    <%= image_tag("kp2_2.png") %>
                </div>

            </div>
        </div>
        <!--你的眼睛处于超负荷状态吗?-->
        <!--你的眼镜戴着还舒服吗?-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>你的眼镜戴着还舒服吗？</h5>
                <p>作者：匿名<span>审核：李骏</span></p>
            </div>

            <div class="careUnitContent eyePu">
                <p>夏日炎炎，出门必流汗，戴眼镜的朋友们会不会经常遇到这样的情况：流汗的时候眼镜会从鼻梁上下滑，需要频繁的用手去调整。</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_1.jpg") %>
                </div>
                <p>其实不止这种情况，细心观察身边戴眼镜的朋友，就会发现很多人戴的眼镜都已经变形了，戴着也出现一些不舒服了，有的一高一低斜着戴着（让人看着会产生歪头的错觉⊙０⊙），有的镜片都已经碰到睫毛像贴在脸上一样（睫毛特别长的人就更别提了），有的脸上由于长期戴镜被挤出了印痕（特别是像我这种脸大的人），还有一些小的问题等等。这些情况都说明了。。。朋友，你的眼镜变形了，需要调整！要调整！调整！</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_2.jpg") %>
                </div>
                <p>如果你的眼镜是正常的，没有变形，是不会出现以上这些问题的，其实我们身边戴眼镜的人已经越来越多，但是由于现代的快节奏生活，很少有人会按时每隔两三个月就去眼镜店找专人调整镜架，甚至有的人一副眼镜从开始到损坏可能都不会去调整它，即使戴着不舒服也就自己动手随便掰两下。	其实不规范的调架也是无效的，还会带来一个弊端，就是让我们眼镜镜片的有效光学中心偏移，会造成周边视野的模糊。调架是门技术活啦，可不能这么随意，一个专业的调架师傅调整镜架是要看戴镜者脸型的，调整好的镜架必须要贴合脸型而不压，端正平稳不下滑，这样的佩戴不仅舒适，而且更科学的使镜片中心有效光学区域居中，视物更清楚。</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_3.jpg") %>
                </div>
                <p>所以戴眼镜的朋友们，快点检查一下自己的眼镜戴着还舒服吗？如果不舒服，那就快点动身到视光中心或者眼镜店花费几分钟时间让专业人士调整吧。最后小提示一下，如果镜架是带橡胶鼻托的，那么每隔两个月鼻托是需要更换的，因为橡胶在汗渍的侵蚀下，也容易氧化老化，会附着一些细菌，长期戴会影响皮肤的。</p>
                <div class="surgeryImg">
                    <%= image_tag("kp1_4.jpg") %>
                </div>
            </div>
        </div>
        <!--你的眼镜戴着还舒服吗?-->
        <!--眼镜布不是用来擦眼镜的?-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>眼镜布不是用来擦眼镜的？</h5>
                <p>作者：曾思霖<span>审核：李骏</span></p>
            </div>

            <div class="careUnitContent eyePu">
                <p>一般情况下，框架眼镜买来时商家都会配一块眼镜布给你，在我们看来眼镜布就是用来擦拭眼镜的，但是这种想法是大错特错！眼镜布不是用来擦拭眼镜的！ 眼镜布竟然不是用来擦眼镜的。</p>
                <p>“镜片上有很多微小的灰尘颗粒，如果干擦就会让布把这些灰尘颗粒在你的镜片上来回摩擦，就像砂纸一样，用砂纸在镜片上来回擦，久而久之你的镜片就会模糊了。所以眼镜布并不是拿来擦眼镜的。”</p>
                <p>许多带眼镜的朋友都有个习惯，当镜片脏了后，往往会往镜片上哈一口气，然后用眼镜布将镜片擦干净。其实，眼镜布并不是用来擦眼镜的。</p>
                <p>用眼镜布擦眼镜会更会损伤镜片。</p>
                <p>其实，眼镜布大多是作为赠品赠送给消费者的，因此造价很低廉。它的纤维间隙较大，随着时间会积累很多灰尘，因此用这样的眼镜布擦眼镜只会适得其反，越擦越模糊。如果每次都用镜布或者衣服直接干擦镜片，新的镜片戴不了半年就会被擦的模糊了，这样既影响清晰度也有损美观！</p>
                <p>那么到底应该怎样正确的保养镜片呢？</p>
                <div class="surgeryImg">
                    <%= image_tag("kp3_1.jpg") %>
                </div>

            </div>
        </div>
        <!--眼镜布不是用来擦眼镜的?-->
        <!--眼前蚊蝇乱飞？可能是飞蚊症-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>眼前蚊蝇乱飞？可能是飞蚊症</h5>
                <p>2017-07-27</p>
            </div>

            <div class="careUnitContent eyePu">
                <p>经常在电脑前一坐就是几个小时的小关，以前总是觉得眼睛干涩胀痛，最近发现在看明亮的地方、白墙壁和蓝天的时候，眼前常有虫子和线头样的东西飞舞，并感觉这些东西和视线一起移动，眨眼后也不消失，但在暗的地方就没有这种情况，眼睛看远处的物体也是清楚的。去医院检查，经医生诊断，小关患上了“飞蚊症”。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_fwzkp_1.jpg") %>
                </div>
                <p><b>什么是飞蚊症？</b></p>
                <p>飞蚊症是由于玻璃体变性引起的，是一种自然老化现象，也即随着年纪增大，玻璃体如鸡蛋清会出现“液化”，产生一些混浊物。常发生于40岁以上的中老年人，高度近视眼患者，以及动过白内障手术者，其他如眼内发炎或视网膜血管病变患者，也会形成此病。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_fwzkp_2.jpg") %>
                </div>
                <p><b>飞蚊症特点</b></p>
                <p>飞蚊症分生理及病理性二大类。生理性的飞蚊症患者虽然自述眼前有黑影飘动，但眼球本身未发现任何病变，这一类生理性飞蚊症无须治疗。病理性飞蚊症主要是玻璃体病眼底病变引起。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_fwzkp_3.jpg") %>
                </div>
                <p>大多数的飞蚊症是良性的，或称“生理性飞蚊症”，其特点是：如果两眼都有飞蚊现象，无法确定是哪一只眼睛有飞蚊，若经过一段时间，这些现象并没有加重或产生变化，飞蚊位置也固定的话，多为良性。相反的，飞蚊现象若突然发生，而且限于一眼，飞蚊数量较多，蚊子飞舞的方向又不定，黑影遮住视野，视力变差、视野缺损，这都是必须注意的恶兆。必须立即到就近正规眼科医院就诊喔。</p>
                <div class="newsImgMar">
                    <%= image_tag("news_fwzkp_4.jpg") %>
                </div>
                <p><b>吃的健康远离飞蚊症</b></p>
                <div class="newsImgMar">
                    <%= image_tag("news_fwzkp_5.jpg") %>
                </div>
                <p>飞蚊症在老年患者及近视患者中很常见，日常的饮食护理也是不可忽视的重要问题，饮食上宜多配些能补肝益肾，补气养血的食谱。下面就给大家推荐几个营养食谱。</p>
                <fieldset>
                    <legend>食谱</legend>
                    <p><b>红枣猪心汤</b></p>
                    <p>【用料】 猪心 1 个，党参 50 克，红枣 5 个。</p>
                    <p>【制作】① 将猪心剖开，切云肥脂，洗除血水。② 把全部用料放入清水锅内，武火煮沸后，改用文火煲 2 小时，加盐调味供用。</p>
                    <p>【功效】补益气血，养心安神。</p>
                    <p><b>黑芝麻糊</b></p>
                    <p>【用料】黑芝麻粉 1 汤匙，豆浆或牛乳 1 杯，蜂蜜 1 匙。</p>
                    <p>【制作】把黑芝麻粉冲入 l 杯豆浆或牛乳中，加蜂蜜调服。</p>
                    <p>【功效】益气明目。</p>
                    <p><b>三子黑豆汤</b></p>
                    <p>【用料】女贞子、桑椹子、枸杞子各五钱，再配合制首乌五钱，杭菊三钱，黑豆一两。</p>
                    <p>【制作】 加水煮约二小时便可食用。</p>
                    <p>【疗效】清肝明目。</p>
                    <p><b>首乌黑豆汤</b></p>
                    <p>【用料】制首乌一两，枸杞子五钱，杭菊花三钱，党参五钱，黑豆二两。</p>
                    <p>【制作】加水煮约二小时便可食用。</p>
                    <p>【疗效】明目退翳。</p>
                </fieldset>
                <p><b>飞蚊症一定要做眼底检查！</b></p>
                <p>一提到飞蚊症，不说家喻户晓，那也是妇孺皆知。就是在明亮环境或者看白色物体在眼前出现漂浮物，随眼球运动而运动，像挥之不去的阴影。</p>
                <p>它有各种形状，比如：点状，现状，半圆状，环状，蚊子状等。那么什么是飞蚊证症，在医学上就是玻璃体混浊。玻璃体就是你眼球内后方如同鸡蛋清一样的组织。出现原因随着年龄增长（一般大于40岁），近视眼，眼内各种炎症，视网膜脱离，裂孔，玻璃体积血等。</p>
                <p>很多人觉得飞蚊症都是正常，不用检查，那就大错特错。检查目的是看玻璃体，眼底是否病变引起混浊，万一出现病变却错过检查岂不悔之晚矣！检查虽然会耽误时间和经济支出，如果没有问题皆大欢喜，有问题即时治疗。</p>
                <p>有句话叫“宁可错杀一千也不放过一个”，眼科医师说：宁愿健康体检查眼底，莫让眼病变成漏网鱼。</p>

            </div>
        </div>
        <!--眼前蚊蝇乱飞？可能是飞蚊症-->
        <!--教你滴眼药水的正确打开姿势-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>教你滴眼药水的正确打开姿势</h5>
                <p>2017-07-26</p>
            </div>

            <div class="careUnitContent eyePu">
                <div class="newsTitle">
                    <h5>【银海科普】成都中医大银海眼科医院教你滴眼药水的正确打开姿势！</h5>
                    <P class="rightWord">2017-07-26</P>
                </div>

                <div>
                    <p>相信很多人在滴眼药水常常不是滴的太多、或者就是滴到眼睛外面去了。</p>
                    <p>那么，怎样才算是的正确的滴眼药水姿势呢？和小银一起来看看吧~</p>
                    <form>
                        <fieldset>
                            <legend>滴眼药水正确方式</legend>
                            <p>（1）点眼药水前，应清洗双手，擦干净眼部分泌物；</p>
                            <p>（2）检查眼药水瓶上的标签，切勿点错药；</p>
                            <p>（3）点眼药水时，病人取坐位或仰卧位，头部后仰，眼睛向上看；</p>
                            <p>（4）用示指向下轻轻牵拉下眼皮，瓶口置于眼睛上方适当高度（特别注意不要接触到睫毛或眼皮），将眼药水滴入下眼皮内，然后轻提上眼皮，闭眼1～2分钟；</p>
                            <p>（5）同时用手指压迫鼻根部的泪囊区1～2分钟，以尽可能减少眼药水流入鼻腔。</p>
                            <p>（6）如使用2种以上眼药水时，应间隔5分钟以上，再点后一种眼药水。</p>
                            <div class="newsImgMar">
                                <%= image_tag("news_yyslp_1.jpg") %>
                            </div>
                        </fieldset>
                    </form>
                    <p><b>糖皮质激素类眼药水使用注意事项</b></p>
                    <p>糖皮质激素具有较强的抑制免疫、抗炎症的作用。在眼科，治疗过敏性结膜炎、葡萄膜炎等疾病时，糖皮质激素类眼药水常常会被用到，它能发挥很好的消炎、止痒及减轻结膜充血的作用。但此药副作用很大，不建议患者自行在药店购买使用，因使用不当或滥用激素类滴眼液，造成激素性青光眼的病历并不少见。</p>
                    <p>顺便提醒，长期口服糖皮质激素的患者也应定期进行眼科检查，警惕激素性青光眼的发生。</p>
                    <p><b>警惕防腐剂眼药水</b></p>
                    <p>许多长期面对电脑或是佩戴隐形眼镜的人，都会随身携带一瓶眼药水，若感到眼睛干涩就拿出来滴。</p>
                    <p>殊不知，照着广告买的所谓“缓解疲劳”眼药水，其实大多都含有防腐剂，长期点用不仅不会改善眼睛不适，甚至还会造成眼表损伤。</p>
                    <p>所以，大家使用滴眼液最好是听从医生建议，对症下药，使用不含防腐剂的眼药水；眼药水开瓶后标记日期，尽量在一个月内用完，开瓶后一个月不能再使用，没用完的也请丢弃。</p>
                    <div class="newsImgMar">
                        <%= image_tag("news_yyslp_2.jpg") %>
                    </div>
                </div>
            </div>
        </div>
        <!--教你滴眼药水的正确打开姿势-->
        <!--近视手术知多少？（一）-->
        <div class="careUnit fr">
            <div class="popularTitle">
                <h5>近视手术知多少？（一）</h5>
                <p>2017-07-25</p>
            </div>

            <div class="careUnitContent eyePu">
                <div class="newsImgMar">
                    <%= image_tag("news_jsshkp_1.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jsshkp_2.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jsshkp_3.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jsshkp_4.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jsshkp_5.jpg") %>
                </div>
                <div class="newsImgMar">
                    <%= image_tag("news_jsshkp_6.jpg") %>
                </div>
            </div>
        </div>
        <!--近视手术知多少？（一）-->
        <!--青少年近视怎么办-->

        <!--青少年近视怎么办-->


    </div>


</div>



<script>
    $(".cataractList li").click(function(){
        var i = $(this).index();
        $(".cataractList li").removeClass("active").eq(i).addClass("active");
        $(".careUnit").hide().eq(i).show();
    })
</script>






