<!--近视手术知多少？（一）-->
<div class="main">

    <div class="newsMain">
        <div class="newsTitle">
        <h5>近视手术知多少？（一）</h5>
        <p class="fr">2017-07-25</p>
    </div>

    <div class="careUnitContent eyePu">
        <div class="newsImgMar">
            <%= image_tag("news_jsshkp_1.jpg") %>
        </div>
        <div class="newsImgMar">
            <%= image_tag("news_jsshkp_2.jpg") %>
        </div>
        <div class="newsImgMar">
            <%= image_tag("news_jsshkp_3.jpg") %>
        </div>
        <div class="newsImgMar">
            <%= image_tag("news_jsshkp_4.jpg") %>
        </div>
        <div class="newsImgMar">
            <%= image_tag("news_jsshkp_5.jpg") %>
        </div>
        <div class="newsImgMar">
            <%= image_tag("news_jsshkp_6.jpg") %>
        </div>
    </div>
</div>
</div>
<!--近视手术知多少？（一）-->