<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】近视手术知多少？（一）</h5>
            <P class="rightWord">2017-07-25</P>
        </div>

        <div>
            <div class="newsImgMar">
                <%= image_tag("news_jsshkp_1.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jsshkp_2.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jsshkp_3.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jsshkp_4.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jsshkp_5.jpg") %>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jsshkp_6.jpg") %>
            </div>

        </div>
    </div>
</div>





