<!--近视手术知多少？（一）-->
<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5>【银海科普】近视手术知多少（二）</h5>
            <p class="fr">2017-08-16</p>
        </div>
        <div>
            <div class="centerImgCon">
                <p>上次我们推出了“近视手术常见问题（一）”，小伙伴们反响很强烈呢！</p>
                <p>后台留言提出了好多关于近视手术的问题。</p>
                <p>今天，小编选出大家关心最多的问题，</p>
                <p>请教了资深的眼科专家，</p>
                <p>继续给大家细细讲来~~</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds_1.jpg") %>
            </div>
            <p><b>01</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds_2.jpg") %>
            </div>
            <p><b>02</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds_3.jpg") %>
            </div>
            <p><b>03</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds_4.jpg") %>
            </div>
            <p><b>04</b></p>
            <div class="newsImgMar">
                <%= image_tag("news_jssszds_5.jpg") %>
            </div>
            <fieldset>
                <legend>专家简介</legend>
                <div class="flow marB30">
                    <%= image_tag("zj13.jpg",:class => "fl borderGray marR-30 marb-15") %>
                    <p>周春阳</p>
                    <p><b>坐班时间：</b>周三五全天，周六下午</p>
                    <p><b>擅长领域</b>擅长Smart全激光、Smile全飞秒等各类屈光手术，激光近视手术、青少年近视综合防控、视疲劳防治。</p>
                    <p>成都中医药大学眼科学院眼视光教研室主任，成都中医药大学附属眼科医院/成都中医大银海眼科医院眼视光中心副主任。中国民族医药学会眼科分会理事，四川省中医药学会眼科专业委员会常务委员，四川省预防医学会眼视觉保健分会常务理事，四川省青年中医药研究会委员，成都市视力保护协会监事。《中医眼耳鼻喉杂志》通讯编委，《中华医学百科全书》中医眼科卷编委。</p>
                </div>
            </fieldset>
        </div>

    </div>
</div>
<!--近视手术知多少？（一）-->