<div class="careUnit fr">
    <div class="popularTitle">
        <h5>炎炎夏日，除了警惕中暑还应注意下面这些！</h5>
        <p>2017-08-04</p>
    </div>

    <div class="careUnitContent eyePu">
        <div>
            <p><b>壹</b></p>
            <p><b>冷气一时爽，身体秒变僵！</b></p>
            <p>长时间吹冷气却不利健康，特别是老年人，过敏体质，血液循环不良，还有体质虚寒的人容易为“冷气病”所苦。老年人的呼吸道也常成为吹冷气的受害对象，尤其有慢性肺气肿的人，低温会使排痰动作不顺，久了就造成气管发炎或肺炎。此外，长时间处于低温下，我们身体微血管自然会收缩，肌肉紧绷，新陈代谢变慢，而且肠胃活动也减弱，连带影响循环，消化等功能。</p>
            <p>从中医角度看，体质虚寒怕冷，血液循环不良，经常手脚冰冷的人，一直待冷气房更易加重问题，加上久坐办公室，或因为冷而全身缩成一团，缺少活动，不适症状更明显。部，肩颈，下肢关节等，也会引起疼痛。特别是全身的关节部位，原本循环及温度调节功能就比较不好，又缺少肌肉，脂肪覆盖保温，长时间冷气直吹关节，就容易僵硬疼痛。</p>
            <div class="newsImgMar">
                <%= image_tag("kepu_xtzs_1.gif") %>
            </div>
            <p><b>应对小措施</b></p>
            <div class="flow">
                <div class="kepu_content">
                    <p>（1）在办公室放一件长袖外衣，围巾或大披巾等保暖衣物，尤其经常穿短(无)袖上衣或裙子的上班族女性，身体外露面积较多，在冷气房里受凉机会增加，更需保暖。</p>
                    <p>（2）天气热，让人忍不住贪凉猛灌冷饮，但冰冷食物+冰冷环境更容易诱发气喘，头痛等问题，最好少吃(喝)为宜，专家提醒。</p>
                    <p>（3）坐着工作每1小时起来活动一下。虽然用聊天软件和同事沟通很方便，但不妨直接走到对方座位，面对面谈更清楚，也让自己有机会动一动。如果离不开座位，也记得抬一抬脚，转一转脚踝，帮助血液循环。</p>
                    <p>（4）规律运动，流一流汗。从养生角度，夏天本就应该接受外界阳气，适度的流汗，如果一直待冷气房，该流的汗流不出去，久了并不利健康。</p>
                </div>
            </div>
            <div class="newsImgMar">
                <%= image_tag("kepu_xtzs_2.gif") %>
            </div>
            <p><b>贰</b></p>
            <p><b>热伤风还是冷感冒？傻傻分不清楚</b></p>
            <p>普通感冒俗称伤风，而当它发生在夏天时，前面就会冠上一个“热”字，成了热伤风。除了字面上多了一个字，热伤风和其他季节的感冒在发病原因和症状上都有区别：其他季节的感冒主要是以感受了寒邪为主的感冒，而热伤风通常是体内存有内热，然后又感受了风邪的感冒，所以多有暑湿的情况。热伤风的内因包括由于太热，消耗过大、天气热睡不好觉、嗓子痛什么也吃不了、活动太少等。外因包括过食冷饮、空调温度过低、睡觉不盖被子、长时间吹风扇等。</p>
            <p>热伤风有自愈趋向，主要以非药物方法治疗，包括卧床休息、保证充足的睡眠、多喝水、饮食清淡等。</p>
            <p>药物治疗一般以缓解症状、缩短病程为目的，症状较轻的患者，可自己选用中成药口服治疗。但首先要辨别伤风的类型。</p>
            <div class="newsImgMar">
                <%= image_tag("kepu_xtzs_3.jpg") %>
            </div>
            <p>如何辨别热伤风？</p>
            <div class="flow">
                <div class="kepu_content">
                    <p>暑湿型在夏天比较多见，其特点是消化道症状明显，如恶心、呕吐、食欲不振及腹泻，治疗首选藿香正气或葛根芩连汤。风寒外感型的患者则表现为怕冷比较明显，可以喝些姜汤，或选用感冒清热颗粒等发散风寒的药物，以发汗解表；风热外感型的患者除了鼻塞喷嚏外，主要有口干渴、咽喉肿痛、流色黄黏稠的鼻涕等症状，治疗应使用银翘散类，以辛凉解表、清热解毒。</p>
                </div>
            </div>
            <div class="newsImgMar">
                <%= image_tag("kepu_xtzs_4.gif") %>
            </div>
            <p><b>叁</b></p>
            <p><b>可以健康黑，不要 晒伤红！</b></p>
            <p>夏季，紫外线很强烈，长期在太阳底下行走什么的很容易出现晒伤。晒伤完后往往是出现大片的红斑、脱皮，甚至起水泡、产生灼烫感，这就意味着皮肤已经轻微晒伤了，此时我们就需要马上对皮肤进行处理了。晒伤后的肌肤轻度的是发红发热，重度的就可能是过敏起小红疙瘩。当肌肤晒伤后我们要及时做紧急的护理减轻伤害。</p>
            <div class="newsImgMar">
                <%= image_tag("kepu_xtzs_5.jpg") %>
            </div>
            <p><b>晒伤怎么办？</b></p>
            <div class="flow">
                <div class="kepu_content">
                    <p>第一：首先检视自己晒伤的程度。如果只是变红，没有疼痛的感觉，那么只要敷几贴补水的面膜就好了。可是如果你已经到了红肿疼痛的程度，那么回家后立刻擦上一些香油。香油有消炎去肿痛的作用，还能滋润皮肤。第二：冷敷。根据自己的晒伤情况，进行冷敷。如果只是轻度晒伤，最好的办法是用化妆棉沾化妆水，轮替着敷，就好。如果已经是严重晒伤了，就最好放到冰箱凉一下，再敷，效果更好。冷敷最好，每次半个小时，一天两到三次。</p>
                    <div class="newsImgMar">
                        <%= image_tag("kepu_xtzs_6.jpg") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
