<div class="main">
    <div class="middle">
    <div class="popularTitle">
        <h5>【银海科普】青少年近视怎么办？防控比治疗更重要！</h5>
        <p>2017-07-28</p>
    </div>

    <div class="careUnitContent eyePu">
        <fieldset>
            <legend>青少年近视防控</legend>
            <p>随着电子设备的普及，青少年近视眼的患病率逐年升高，并有向低龄化、高度数发展的趋势。而且，升学压力、与生活现代化相关的环境因素如电脑普及等，还将对近视眼患病率产生持续影响。中小学生视力下降是当前影响青少年健康的一个重要问题，关系到整个民族健康素质的提高。近视眼不仅仅是医学问题，而且已成为广大群众所共同关心的社会问题。如何切实有效地防治近视、保护青少年视力，是当前急需解决的大事，也是需要人人皆知、人人参与的大事。但目前还有不少人对近视眼的防治知识了解较少，以至于在预防上重视不够、在治疗上方法不当，促使了近视的发生与发展。</p>
        </fieldset>
        <p><b>视力防控很重要！</b></p>
        <p class="wordCenter font16"><b>01</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_1.jpg") %>
        </div>
        <p class="wordCenter font16"><b>02</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_2.jpg") %>
        </div>
        <p class="wordCenter font16"><b>03</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_3.jpg") %>
        </div>
        <p class="wordCenter font16"><b>04</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_4.jpg") %>
        </div>
        <p class="wordCenter font16"><b>05</b></p>
        <table class="schTable">
            <tr>
                <th colspan="5">有意义的近视防控</th>
            </tr>
            <tr class="noTabBorder">
                <td colspan="5">假设一个孩子8周岁开始近视，每年的近视进展是-1.00DS!</td>
            </tr>
            <tr class="tableType">
                <td>年龄</td>
                <td>无控制</td>
                <td>25%的控制</td>
                <td>50%的控制</td>
                <td>75%的控制</td>
            </tr>
            <tr>
                <td>8</td>
                <td>-1.00</td>
                <td>-1.00</td>
                <td>-1.00</td>
                <td>-1.00</td>
            </tr>
            <tr>
                <td>10</td>
                <td>-3.00</td>
                <td>-2.50</td>
                <td>-2.00</td>
                <td>-1.50</td>
            </tr>
            <tr>
                <td>12</td>
                <td>-5.00</td>
                <td>-4.00</td>
                <td>-3.00</td>
                <td>-2.00</td>
            </tr>
            <tr>
                <td>14</td>
                <td>-7.00</td>
                <td>-5.50</td>
                <td>-4.00</td>
                <td>-2.50</td>
            </tr>
            <tr>
                <td>16</td>
                <td>-9.00</td>
                <td>-7.00</td>
                <td>-5.00</td>
                <td>-3.00</td>
            </tr>
        </table>
        <p>对于青少年来说，控制远比治疗更重要，不管用什么方法，控制是原则！</p>
        <p>如果不加以干预控制，8~16岁平均增长率是-0.75DS！</p>
        <p><b>如何预防青少年近视？</b></p>
        <p>对待孩子近视，防控与不防控的结果将截然不同。如果家长能让孩子在学龄前养成良好的用眼习惯，合理安排好作息时间，对孩子看电视、电脑、手机等进行适当控制，则可避免在成长过程中产生近视。而对于已经存在近视的孩子来说，对近视加深的发展势头进行有效防控更有必要。</p>
        <p class="wordCenter font16"><b>01</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_5.jpg") %>
        </div>
        <p class="wordCenter font16"><b>02</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_6.jpg") %>
        </div>
        <p class="wordCenter font16"><b>03</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_7.jpg") %>
        </div>
        <p class="wordCenter font16"><b>04</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_8.jpg") %>
        </div>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_9.jpg") %>
        </div>
        <p class="wordCenter font16"><b>05</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_10.jpg") %>
        </div>
        <p class="wordCenter font16"><b>06</b></p>
        <div class="newsImgMar">
            <%= image_tag("kepu_sl_11.jpg") %>
        </div>
        <p class="wordCenter font16"><b>07</b></p>
        <p>增加户外活动有利于预防和控制青少年近视的产生发展，如通过跑步、打网球、登山、骑车等方式，不仅能提高身体免疫力，改善身心状况，同时对青少年儿童近视防控起的重要作用。</p>

    </div>
</div>
</div>
