
<div class="flow marT20 marB10">
    <div class="equLeft fl whiteBg line24">
        <p class="fontCenter30">精准、安全、完美</p>
        <p class="thisIndent2">LENSAR非接触式3D飞秒白内障激光手术系统运用于飞秒激光屈光白内障晶体手术中，可以使手术更精准、更安全，并达到可预期的术后效果。LENSAR雷斯亚独家使用3D环绕扫描技术，为眼球充足3D立体模型，并分析精确数据，打造专属您的飞秒白内障手术。LENSAR雷斯亚独特的液态非接触式病人对接界面，在治疗过程中完全不压迫角膜，保持角膜形态的完整，使激光能够精准击发零失误。</p>
        <div class="centerImgCon">
            <%= image_tag("equ-detail3dImg1.jpg") %>
            <p class="advBlueTitle">白内障手术比较</p>
            <%= image_tag("equ-detail3dImg2.jpg") %>
            <p class="advBlueTitle">LENSAR非接触式3D飞秒白内障激光手术系统的优势</p>
        </div>
        <p>● 3D眼前节重建测量（3D-CSI）技术</p>
        <p>● 电脑控制自动侦测撕囊中心位置</p>
        <p>● 自动侦测白内障的等级（第一级至第五级）</p>
        <p>● 智能化制定手术计划</p>
    </div>
    <div class="equRight fr equDetail">
        <div class="doctorRecommendList whiteBg">
            <p class="doctorRecommendTle">推荐医生</p>
            <div  class="doctorRecommendDiv" style="">
                <ul class="flParent flow doctorRecommendCon">
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj4.jpg"),expert_path(:朱思泉教授) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">朱思泉</p>
                            <p>主任医师 教授 博士生导师</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>主要从事先天性白内障、葡萄膜炎并发白内障、伴有红斑狼疮的白内障、肾移植术后白内障患者等各类疑难、复杂性白内障的手术治疗技术精湛。迄今已完成逾35万台白内障手术，手术量居全国第一，亚洲乃至世界领先。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="https://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">咨询预约</a><%= link_to :"查看详情",expert_path(:朱思泉教授) %>
                        </div>

                    </li>
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj14.jpg"),expert_path(:潘学会) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">潘学会</p>
                            <p>副主任医师 医学硕士</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>长期从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验。擅长各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病中西医结合治疗。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="https://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">咨询预约</a><%= link_to :"查看详情",expert_path(:潘学会) %>
                        </div>
                    </li>
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj17.jpg"),expert_path(:陈小凤主治医师) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">陈小凤</p>
                            <p>主治医师 医学博士</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="https://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">咨询预约</a><%= link_to :"查看详情",expert_path(:陈小凤主治医师) %>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="leftBtn active">
                        <i class="icon_arrow icon_left"></i>
                    </div>
                    <div class="rightBtn active">
                        <i class="icon_arrow icon_right"></i>
                    </div>
                </div>
            </div>

        </div>
        <%= render "homes/equ-right" %>
    </div>
</div>
