<div class="enterEyeCommon fl">
    <ul class="">
        <li>
            <h4>走进银海</h4>
            <p>In Ineyehospital</p>
        </li>
        <li>
            <%= link_to :'医院简介',home_path(:医院简介) %>
        </li>
        <li>
            <%= link_to :'学院简介',home_path(:学院简介) %>
        </li>
        <li>
            <%= link_to :'研究院简介',home_path(:研究院简介) %>
        </li>
        <li>
            <%= link_to :'资质荣誉',home_path(:资质荣誉) %>
        </li>
        <li>
            <%= link_to :'医院环境',home_path(:医院环境) %>
        </li>
        <li>
            <%= link_to :'发展历程',home_path(:发展历程) %>
        </li>
        <li>
            <%= link_to :'大事纪',home_path(:大事件) %>
        </li>
        <li>
            <%= link_to :'党建工作',home_path(:党建工作) %>
        </li>
    </ul>
    <div class="hosInformation">
        <i class="icon_enter icon_telephone icon_enterIcon"></i>
        <div>
            <p>咨询热线</p>
            <p>400 9900 766</p>
        </div>
    </div>
    <div class="hosInformation">
        <i class="icon_enter icon_time icon_enterIcon"></i>
        <div>
            <p>门诊时间</p>
            <p>08:30-17:30</p>
        </div>
    </div>
</div>