<!--修改轮播-->
<div class='banner-box  marB10 main'>
    <ul class='img'>
        <li>
            <a href="javascript:;">
                <%= image_tag("banner_qphys.jpg") %>
            </a>
        </li>
        <li>
            <%= link_to image_tag("banner_vipkz.jpg"),news_path(:关于调整门诊流程及增设VIP服务的通知) %>
        </li>
        <li>
            <a href="javascript:;">
                <%= image_tag("banner_jiepai.jpg") %>
            </a>
            <div class="bannerWord">
                <p>成都中医大银海眼科医院揭牌仪式</p>
            </div>
        </li>
        <li>
            <%= link_to image_tag("kaiye_banner.jpg"),news_path(:成都中医大银海眼科医院隆重举行开业庆典仪式) %>
            <div class="bannerWord">
                <p>成都中医大银海眼科医院隆重举行开业庆典仪式</p>
            </div>
        </li>
        <li>
            <a href="">
                <%= image_tag("banner_sihui.jpg") %>
            </a>
            <div class="bannerWord">
                <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
            </div>
        </li>
        <li>
            <a href="javascript:;">
                <%= image_tag("banner_gzdr.jpg") %>
            </a>
        </li>
        <li>
            <a href="https://mp.weixin.qq.com/s?__biz=MzU4MTA4MTQwMw==&mid=100000355&idx=2&sn=39c61867b3b98f6988a34502c3815f1d&chksm=7d4c42374a3bcb212cd931503646510eef358e1dfbe04278bc100036b96b20922c0491fb7068#rd" target="_blank">
                <%= image_tag("banner-my.jpg") %>
            </a>
            <div class="bannerWord">
                <p>热烈祝贺我院四位教授荣获第五届“我心目中的名医”称号</p>
            </div>
        </li>

    </ul>
    <ul class='li'></ul>
    <div class='but but-left'>&lt;</div>
    <div class='but but-right'>&gt;</div>
    <div class='bar'></div>
</div>
<!--修改轮播-->
<% content_for :script do %>
  <%= javascript_include_tag 'index_slide' %>
  <%= javascript_include_tag 'slide-2' %>
<% end %>
