<!--修改轮播-->
<div class='banner-box  marB10 main'>
    <ul class='img'>
        <li>
            <%= link_to 'http://m.ineyehospital.com/activity_enters/new?activity_type=%E9%93%B6%E6%B5%B7%E7%9C%BC%E7%A7%91%E7%A5%9D%E6%82%A8%E9%87%91%E6%A6%9C%E9%A2%98%E5%90%8D' do %>
                <%= image_tag("banner_zjss.jpg") %>
            <% end %>
        </li>
        <li>
            <%= link_to  news_path(436,from: 'db') do %>
                <%= image_tag('banner_yhjz.jpg') %>
            <% end %>
        </li>
        <li>
            <%= link_to  news_path(432,from: 'db') do %>
                <%= image_tag('banner_ayyqd.jpg') %>
            <% end %>

        </li>
        <li>
            <a href="javascript:;">
                <%= image_tag("banner_likeeye.jpg") %>
            </a>
        </li>
        <li>
            <%= link_to image_tag("banner-entetnreye.jpg"),home_path(:医院简介) %>
        </li>
        <li>
            <%= link_to image_tag("banne_yhtd.jpg"),expert_path(:著名专家) %>
        </li>

        <li>
            <%= link_to image_tag("banner-doctors.jpg"),science_path(:学院简介) %>
        </li>
        <li>
            <%= link_to image_tag("banner_qphys.jpg"),news_path(:朱思泉教授入选四川妙手仁心金口碑好医生十强) %>
            <div class="bannerWord">
                <p> 热烈祝贺我院常务副院长、眼科“飞刀手”朱思泉教授入选四川“妙手仁心•金口碑好医生”十强！ </p>
            </div>
        </li>
        <li>
            <%= link_to image_tag("banner_vipkz.jpg"),news_path(:关于调整门诊流程及增设VIP服务的通知) %>
        </li>
        <li>
            <a href="javascript:;">
                <%= image_tag("banner_jiepai.jpg") %>
            </a>
            <div class="bannerWord">
                <p>成都中医大银海眼科医院揭牌仪式</p>
            </div>
        </li>

    </ul>
    <ul class='li'></ul>
    <div class='but but-left'>&lt;</div>
    <div class='but but-right'>&gt;</div>
    <div class='bar'></div>
</div>
<!--修改轮播-->
<% content_for :script do %>
  <%= javascript_include_tag 'index_slide' %>
  <%= javascript_include_tag 'slide-2' %>
<% end %>
