<!--修改轮播-->
<div class='banner-box  marB10 main'>
    <ul class='img'>
        <li>
            <%= link_to  'javascript:;' do %>
                <%= image_tag("banner_cjbg.jpg") %>
            <% end %>
        </li>
        <li>
            <%= link_to 'http://m.ineyehospital.com/activity_enters/new?activity_type=%E9%93%B6%E6%B5%B7%E7%9C%BC%E7%A7%91%E7%A5%9D%E6%82%A8%E9%87%91%E6%A6%9C%E9%A2%98%E5%90%8D' do %>
                <%= image_tag("banner_zjss.jpg") %>
            <% end %>
        </li>
        <li>
            <%= link_to  'javascript:;' do %>
                <%= image_tag('banner_chooseIneye.jpg') %>
            <% end %>
        </li>

        <li>
            <%= link_to image_tag("banner-entetnreye.jpg"),home_path(:医院简介) %>
        </li>
        <li>
            <%= link_to image_tag("banne_yhtd.jpg"),expert_path(:著名专家) %>
        </li>

        <li>
            <%= link_to image_tag("banner-doctors.jpg"),science_path(:学院简介) %>
        </li>
        <li>
            <%= link_to image_tag("banner_vipkz.jpg"),news_path(:关于调整门诊流程及增设VIP服务的通知) %>
        </li>


    </ul>
    <ul class='li'></ul>
    <div class='but but-left'>&lt;</div>
    <div class='but but-right'>&gt;</div>
    <div class='bar'></div>
</div>
<!--修改轮播-->
<% content_for :script do %>
  <%= javascript_include_tag 'index_slide' %>
  <%= javascript_include_tag 'slide-2' %>
<% end %>
