<!--修改轮播-->
<div class='banner-box  marB10 main'>
    <ul class='img'>
        <li>
            <%= link_to  news_path(491, from: 'db') do %>
                <%= image_tag("banner/ymcg.jpg", alt:'中国中西医结合学会眼科专业委员会第十七届学术年会、首届廖品正国医大师学术思想研讨会暨第四届银海眼科（国际）论坛在成都隆重召开') %>
            <% end %>
        </li>
        <li>
            <%= link_to  news_path(464, from: 'db') do %>
                <%= image_tag("banner_jjj.jpg", alt:'建军91周年') %>
            <% end %>
        </li>
        <li>
            <%= link_to  news_path(462, from: 'db')  do %>
                <%= image_tag("banner_qsnfk.jpg", alt:'2018青少年近视防控暑假特别行动') %>
            <% end %>
        </li>
        <li>
            <%= link_to 'http://m.ineyehospital.com/activity_enters/new?activity_type=%E9%93%B6%E6%B5%B7%E7%9C%BC%E7%A7%91%E7%A5%9D%E6%82%A8%E9%87%91%E6%A6%9C%E9%A2%98%E5%90%8D' do %>
                <%= image_tag("banner_zjss.jpg", alt:'近视手术，就在银海') %>
            <% end %>
        </li>
        <li>
            <%= link_to image_tag("banner-entetnreye.jpg", alt:'成都中医大银海眼科医院'),home_path(:医院简介) %>
        </li>
        <li>
            <%= link_to image_tag("banne_yhtd.jpg", alt:'银海眼科隆重推出全国眼科名医团队医疗模式'),expert_path(:著名专家) %>
        </li>

        <li>
            <%= link_to image_tag("banner-doctors.jpg", alt:'眼科硬实力'),science_path(:学院简介) %>
        </li>
        <li>
            <%= link_to image_tag("banner_vipkz.jpg", alt:'银海眼科医院vip门诊正式开诊'),news_path(:关于调整门诊流程及增设VIP服务的通知) %>
        </li>
    </ul>
    <ul class='li'></ul>
    <div class='but but-left'>&lt;</div>
    <div class='but but-right'>&gt;</div>
    <div class='bar'></div>
</div>
<!--修改轮播-->
<% content_for :script do %>
  <%= javascript_include_tag 'index_slide' %>
  <%= javascript_include_tag 'slide-2' %>
<% end %>
