<!--病种-->
<div class="diseaseList flow main plate">
  <div class="fl diseaseImg">
    <i class="little icon_diseaseList"></i>
    <p>就诊病种</p>
  </div>
  <ul class="flParent fr depRight">
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye"></i>
        <p>眼底病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye2"></i>
        <p>糖网病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye3"></i>
        <p>干眼</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye4"></i>
        <p>斜弱视</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye5"></i>
        <p>屈光不正</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye6"></i>
        <p>白内障</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye7"></i>
        <p>青光眼</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye8"></i>
        <p>角膜病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye9"></i>
        <p>葡萄膜病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye10"></i>
        <p>视疲劳</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye11"></i>
        <p>泪器病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye12"></i>
        <p>眼眶疾病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye13"></i>
        <p>眼睑病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye14"></i>
        <p>结膜病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye15"></i>
        <p>巩膜病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye16"></i>
        <p>玻璃体疾病</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye17"></i>
        <p>眼外伤</p>
      </a>
    </li>
    <li>
      <b></b>
      <a href="javascript:;">
        <i class="icon_eye icon_eye18"></i>
        <p>其他</p>
      </a>
    </li>
  </ul>
</div>
<!--病种-->
<!--新闻列表-->
<div class="main plate flow">
  <!--新闻中心-->
  <div class="leftNew fl">
    <div class="topNews flow">
      <p class="newTitle">新闻热点 <a href="">新闻视频</a> <a href="">媒体报道</a></p>
      <!--新闻轮播-->

      <div class="flow slide fl newsSlide">
        <ul class="slide-wrapper fl">
          <li>
            <%= image_tag("news_ylsh_new.jpg") %>
            <div class="inner">
              <p>大医精诚 银海启明--成都中医大银海眼科医院隆重举行开业庆典仪式</p>
            </div>
          </li>
          <li>
            <%= image_tag("news_ylsh_new.jpg") %>
            <div class="inner">
              <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
            </div>
          </li>
        </ul>
        <div class="slidebox">
          <div class="slideWrap">
            <ul class="dot-wrap">
              <li class="current"><em>1</em></li>
              <li><em>2</em></li>
            </ul>
          </div>
        </div>
      </div>
      <!--新闻轮播-->
      <ul class="fr topList">
        <li><a href="">【招商公告】 成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计招标公告 </a></li>
        <li><a href="">成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计</a></li>
        <li><a href="">【银海名医--潘学会】战火硝烟中手术的眼科专家</a></li>
        <li><a href="">四川省及国家组织的白内障复明手术专家医疗队</a></li>
        <li><a href="">网友点赞！我院朱思泉副院长、周跃华主任手术直播圆满成功，双双获得肯定！</a></li>
      </ul>
    </div>
  </div>
  <!--新闻中心-->
  <div class="newsVideo fr">
    <p class="newTitle">通知公告 </p>
    <ul class="topList noticeList">
      <li><a href="">【招商公告】 成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计招标公告 </a></li>
      <li><a href="">成都中医大银海眼科医院成都总院二期装饰设计和重庆分院项目工程规划设计</a></li>
      <li><a href="">【银海名医--潘学会】战火硝烟中手术的眼科专家</a></li>
      <li><a href="">四川省及国家组织的白内障复明手术专家医疗队</a></li>
      <li><a href="">网友点赞！我院朱思泉副院长、周跃华主任手术直播圆满成功，双双获得肯定！</a></li>
    </ul>
  </div>
</div>
<!--新闻列表-->
<!--专家列表-->
<div class="main plate">
  <p class="syTitle">
    <i class="icon_tb icon_my"></i> <em class="syTitleName">名医专家</em> <a href="">专家排班</a> <a href="">更多专家</a>
    <span class="fr"><a href="javascript:;" class="changeExperts"><i class="little icon_lettle"></i> 换一组看看</a></span>
  </p>

  <div class="flow">
    <!--专家人员列表-->
    <ul class="flParent flow doctorList fl">
      <!--廖品正-->
      <li>
        <%= link_to image_tag("zj1.jpg"),expert_path(:廖品正教授) %>
        <div class="IntroduceMask">
          <h5>廖品正</h5>
          <p>国医大师</p>
          <p>教授/博士生导师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--廖品正-->
      <!--段俊国-->
      <li>
        <%= link_to image_tag("zj2.jpg"),expert_path(:段俊国教授) %>
        <div class="IntroduceMask">
          <h5>段俊国</h5>
          <p>教授/博士生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--段俊国-->
      <!--邓亚萍-->
      <li>
        <a href="javascript:;">
          <%= image_tag("zj3.jpg") %>
        </a>
        <div class="IntroduceMask">
          <h5>邓亚萍</h5>
          <p>教授</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--邓亚萍-->
      <!--朱思泉-->
      <li>
        <%= link_to image_tag("zj4.jpg"),expert_path(:朱思泉教授) %>
        <div class="IntroduceMask">
          <h5>朱思泉</h5>
          <p>教授/博士生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--朱思泉-->
      <!--刘文-->
      <li>
        <%= link_to image_tag("zj5.jpg"),expert_path(:刘文教授) %>
        <div class="IntroduceMask">
          <h5>刘文</h5>
          <p>教授 硕士研究生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--刘文-->
      <!--周跃华-->
      <li>
        <%= link_to image_tag("zj6.jpg"),expert_path(:周跃华教授) %>
        <div class="IntroduceMask">
          <h5>周跃华</h5>
          <p>教授 硕士生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--周跃华-->
      <!--周华祥-->
      <li>
        <%= link_to image_tag("zj7.jpg"),expert_path(:周华祥教授) %>
        <div class="IntroduceMask">
          <h5>周华祥</h5>
          <p>教授/硕士生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--周华祥-->

      <!--袁晓辉-->
      <li>
        <%= link_to image_tag("zj8.jpg"),expert_path(:袁晓辉主任医师) %>
        <div class="IntroduceMask">
          <h5>袁晓辉</h5>
          <p>教授</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--袁晓辉-->
      <!--陆雪婧-->
      <li>
        <%= link_to image_tag("zj9.jpg"),expert_path(:路雪婧主任医师) %>
        <div class="IntroduceMask">
          <h5>路雪婧</h5>
          <p>博士生导师</p>
          <p>成都中医药大学研究员</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--陆雪婧-->
      <!--张富文-->
      <li>
        <%= link_to image_tag("zj10.jpg"),expert_path(:张富文主治医师) %>
        <div class="IntroduceMask">
          <h5>张富文</h5>
          <p>教授/硕士研究生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--张富文-->
      <!--黄霄-->
      <li>
        <%= link_to image_tag("zj11.jpg"),expert_path(:黄霄主任医师) %>
        <div class="IntroduceMask">
          <h5>黄霄</h5>
          <p>教授/硕士生导师</p>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--黄霄-->
      <!--王智慧-->
      <li>
        <%= link_to image_tag("zj12.jpg"),expert_path(:王智慧主任医师) %>
        <div class="IntroduceMask">
          <h5>王智慧</h5>
          <p>主任医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--王智慧-->
      <!--周春阳-->
      <li>
        <%= link_to image_tag("zj13.jpg"),expert_path(:周春阳主任医师) %>
        <div class="IntroduceMask">
          <h5>周春阳</h5>
          <p>副教授</p>
          <p>医学博士</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--周春阳-->
      <!--潘学会-->
      <li>
        <%= link_to image_tag("zj14.jpg"),expert_path(:潘学会) %>
        <div class="IntroduceMask">
          <h5>潘学会</h5>
          <p>副主任医师</p>
          <p>医学硕士</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--潘学会-->
      <!--王国平-->
      <li>
        <a href="javascript:;">
          <%= image_tag("zj15.jpg") %>
        </a>
        <div class="IntroduceMask">
          <h5>王国平</h5>
          <p>副主任医师</p>
          <p>医学硕士</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--王国平-->
      <!--谢艾芮-->
      <li>
        <%= link_to image_tag("zj16.jpg"),expert_path(:谢艾芮主任医师) %>
        <div class="IntroduceMask">
          <h5>谢艾芮</h5>
          <p>主治医师</p>
          <p>医学硕士</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--谢艾芮-->
      <!--陈小凤-->
      <li>
        <%= link_to image_tag("zj17.jpg"),expert_path(:陈小凤主治医师) %>
        <div class="IntroduceMask">
          <h5>陈小凤</h5>
          <p>医学博士</p>
          <p>主治医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--陈小凤-->
      <!--李强-->
      <li>
        <%= link_to image_tag("zj18.jpg"),expert_path(:李强主治医师) %>
        <div class="IntroduceMask">
          <h5>李强</h5>
          <p>医学博士</p>
          <p>主治医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--李强-->
      <!--缪馨-->
      <li>
        <%= link_to image_tag("zj19.jpg"),expert_path(:缪馨主治医师) %>
        <div class="IntroduceMask">
          <h5>缪馨</h5>
          <p>医学硕士</p>
          <p>主治医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--缪馨-->
      <!--蹇文渊-->
      <li>
        <%= link_to image_tag("zj20.jpg"),expert_path(:蹇文渊主治医师) %>
        <div class="IntroduceMask">
          <h5>蹇文渊</h5>
          <p>医学博士、博士后</p>
          <p>主治医师</p>
          <div class="doctorBtn">
            <a href="">咨询预约</a><a href="">查看详情</a>
          </div>
        </div>
      </li>
      <!--蹇文渊-->

    </ul>
    <!--专家人员列表-->
    <!--挂号、预约等功能-->
    <ul class="consults fr">
      <li>
        <%= link_to medical_path(:就医流程) do %>
          <i></i>
          <p>就医流程</p>
        <% end %>
      </li>
      <li>
        <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174">
          <i></i>
          <p>预约挂号</p>
        </a>
      </li>
      <li>
        <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174">
          <i></i>
          <p>在线咨询</p>
        </a>
      </li>
      <li>
        <%= link_to medical_path(:医保政策) do %>
          <i></i>
          <p>医保政策</p>
        <% end %>
      </li>
      <li>
        <%= link_to medical_path(:来院指引) do %>
          <i></i>
          <p>来院导航</p>
        <% end %>
      </li>
    </ul>
    <!--挂号、预约等功能-->
  </div>



</div>
<!--专家列表-->
<!--症状咨询-->
<div class="main plate">
  <p class="syTitle">
    <i class="icon_tb icon_attention"></i> <em class="syTitleName">症状咨询</em>  <span class="attentions">注：勾选符合您自身情况的选项，可就相关症状免费咨询专家和预约专家号。</span>
  </p>
  <div class="illnessCheck">
    <span><input type="checkbox">视力下降</span>
    <span><input type="checkbox">眼干涩</span>
    <span><input type="checkbox">眼痒</span>
    <span><input type="checkbox">眼胀痛</span>
    <span><input type="checkbox">眼红肿</span>
    <span><input type="checkbox">畏光流泪</span>
    <span><input type="checkbox">视物变色</span>
    <span><input type="checkbox">视物变形</span>
    <span><input type="checkbox">视物重影</span>
    <span><input type="checkbox">分泌物异常</span>
    <span><input type="checkbox">眼前黑影飘动</span>
    <span><input type="checkbox">眼前突然闪光</span>
    <span><input type="checkbox">异物感</span>
    <span><input type="checkbox">歪头</span>
    <span><input type="checkbox">眩光</span>
    <span><input type="checkbox">其他</span>
  </div>
  <p class="askBtn">
    <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174">咨询预约</a>
  </p>
</div>
<!--症状咨询-->
<!--重点科室-->
<div class="main plate">
  <p class="syTitle">
    <i class="icon_tb icon_department"></i> <em class="syTitleName">重点科室</em><span class="fr"><a href="">更多>></a></span>
  </p>
  <ul class="flParent flow sexCenters">
    <!--眼底病中心-->
    <li>
      <p><em>眼底病中心</em></p>
      <div class="centerOne flow">
        <div class="fl marR16">
          <%= image_tag("center_1.jpg") %>
          <ul class="flParent centerOneHref">
            <li><a href="">中心简介</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">诊疗设备</a></li>
            <li><a href="">诊疗项目</a></li>
          </ul>
        </div>
        <div class="centerOneSituation fr">
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
        </div>
      </div>
    </li>
    <!--眼底病中心-->
    <!--糖尿病视网膜病变防治中心-->
    <li>
      <p><em>糖尿病视网膜病变防治中心</em></p>
      <div class="centerOne flow">
        <div class="fl marR16">
          <%= image_tag("center_2.jpg") %>
          <ul class="flParent centerOneHref">
            <li><a href="">中心简介</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">诊疗设备</a></li>
            <li><a href="">诊疗项目</a></li>
          </ul>
        </div>
        <div class="centerOneSituation fr">
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
        </div>
      </div>
    </li>
    <!--糖尿病视网膜病变防治中心-->
    <!--白内障屈光中心-->
    <li>
      <p><em>白内障屈光中心 </em></p>
      <div class="centerOne flow">
        <div class="fl marR16">
          <%= image_tag("center_3.jpg") %>
          <ul class="flParent centerOneHref">
            <li><a href="">中心简介</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">诊疗设备</a></li>
            <li><a href="">诊疗项目</a></li>
          </ul>
        </div>
        <div class="centerOneSituation fr">
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
        </div>
      </div>
    </li>
    <!--白内障屈光中心-->
    <!--眼视光中心-->
    <li>
      <p><em>眼视光中心 </em></p>
      <div class="centerOne flow">
        <div class="fl marR16">
          <%= image_tag("center_4.jpg") %>
          <ul class="flParent centerOneHref">
            <li><a href="">中心简介</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">诊疗设备</a></li>
            <li><a href="">诊疗项目</a></li>
          </ul>
        </div>
        <div class="centerOneSituation fr">
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
        </div>
      </div>
    </li>
    <!--眼视光中心-->
    <!--中医眼科中心-->
    <li>
      <p><em>中医眼科中心 </em></p>
      <div class="centerOne flow">
        <div class="fl marR16">
          <%= image_tag("center_5.jpg") %>
          <ul class="flParent centerOneHref">
            <li><a href="">中心简介</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">诊疗设备</a></li>
            <li><a href="">诊疗项目</a></li>
          </ul>
        </div>
        <div class="centerOneSituation fr">
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
        </div>
      </div>
    </li>
    <!--中医眼科中心-->
    <!--眼影像分析诊断中心-->
    <li>
      <p><em>眼影像分析诊断中心 </em></p>
      <div class="centerOne flow">
        <div class="fl marR16">
          <%= image_tag("center_6.jpg") %>
          <ul class="flParent centerOneHref">
            <li><a href="">中心简介</a></li>
            <li><a href="">专家团队</a></li>
            <li><a href="">诊疗设备</a></li>
            <li><a href="">诊疗项目</a></li>
          </ul>
        </div>
        <div class="centerOneSituation fr">
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
          <p>眼视光中心新闻大标题大标题</p>
        </div>
      </div>
    </li>
    <!--眼影像分析诊断中心-->
  </ul>
</div>
<!--重点科室-->
<!--医疗设备-->
<div class="main plate">
  <p class="syTitle">
    <i class="icon_tb icon_department"></i> <em class="syTitleName">医疗设备</em>
  </p>
  <ul class="flParent flow departmentsImg">
    <li>
      <div>
        <%= link_to image_tag("ylsb1.jpg"),home_path(:技术设备) %>
      </div>
      <p>阿玛仕1050RS准分子激光治疗仪</p>
    </li>
    <li>
      <div>
        <%= link_to image_tag("ylsb2.jpg"),home_path(:技术设备) %>
      </div>
      <p>蔡司全飞秒Visu Max 激光系统</p>
    </li>
    <li>
      <div>
        <%= link_to image_tag("ylsb3.jpg"),home_path(:技术设备) %>
      </div>
      <p>LENSAR非接触式3D飞秒白内障激光手术系统</p>
    </li>
    <li>
      <div>
        <%= link_to image_tag("ylsb4.jpg"),home_path(:技术设备) %>
      </div>
      <p>爱尔康Constellation玻切机设备</p>
    </li>
    <li>
      <div>
        <%= link_to image_tag("ylsb5.jpg"),home_path(:技术设备) %>
      </div>
      <p>爱尔科医人Vision One 量子芯片多波长激光</p>
    </li>
    <li>
      <div>
        <%= link_to image_tag("ylsb6.jpg"),home_path(:技术设备) %>
      </div>
      <p>DRI OCT-1 Triton</p>
    </li>
  </ul>
</div>
<!--医疗设备-->
<!--资质荣誉-->
<div class="main plate">
  <ul class="flParent flow honorTitle">
    <li>资质荣誉</li>
    <li>交流剪影</li>
  </ul>
  <div>
    <!--资质荣誉-->
    <ul class="flParent flow honorImgs">
      <li><%= image_tag("honor_1.jpg") %></li>
      <li><%= image_tag("honor_2.jpg") %></li>
      <li><%= image_tag("honor_3.jpg") %></li>
      <li><%= image_tag("honor_4.jpg") %></li>
      <li><%= image_tag("honor_5.jpg") %></li>
    </ul>
    <!--资质荣誉-->
  </div>

</div>
<!--资质荣誉-->
<!--医院环境-->
<div class="main plate">
  <p class="syTitle">
    <i class="icon_tb icon_environment"></i> <em class="syTitleName">医院环境</em>
  </p>
  <div>

  </div>
</div>
<!--医院环境-->


<script src="../../assets/javascripts/slide.js"></script>
<script>

  $(".proContainer .proImg").hover(function () {
    var i = $(this).index();
    $(this).parents(".proContainer").find(".proContent").hide().eq(i).show();
  })

  $(".aboutHos li div a img").animate({
    width: "540px",
    height: "340px"
  })

  $(".centerNav li").click(function () {
    var i = $(this).index();
    console.log(i);
    $(".middle .column").hide().eq(i).show();
    console.log(this);
    $(this).addClass("active").siblings().removeClass("active");
    if($(".middle .column").eq(i).hasClass("aboutHos")){
      $(".aboutHos li div a img").animate({
        width: "540px",
        height: "340px"
      })
    }else {
      $(".aboutHos li div a img").animate({
        width:0,
        height:0
      })
    }
  })


  </script>
<script>
    $(".slide").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });
    for(var i =0;i<10;i++){
        $(".doctorList li").eq(i).show();
    }
    var doctorDate={
        index:1,
        listNum:Math.ceil($(".doctorList li").length/10)
    }
    $(".doctorList li").hide().eq(doctorDate.index*10).prevAll().show();
    $(".changeExperts").click(function(){
        if(doctorDate.index == doctorDate.listNum){
            doctorDate.index = 0;
            $(".doctorList li").show().eq((doctorDate.index+1)*10-1).nextAll().hide();
        }else {
            $(".doctorList li").show().eq(doctorDate.index*10).prevAll().hide();
            $(".doctorList li").eq((doctorDate.index+1)*10-1).nextAll().hide();
        }
        doctorDate.index++;
    })
</script>
