<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr enterEyeEnvironment">
        <ul class="hosEnvironmentDiv">
            <li class="active"><%= image_tag("hos-environment1.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment2.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment3.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment4.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment5.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment6.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment7.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment8.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment9.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment10.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment11.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment11.jpg") %></li>
            <li class="active"><%= image_tag("hos-environment13.jpg") %></li>
        </ul>
        <div class="smallImgContainer">
            <ul class="smallImg flow">
                <li><%= image_tag("hos-environment_s1.jpg") %></li>
                <li><%= image_tag("hos-environment_s2.jpg") %></li>
                <li><%= image_tag("hos-environment_s3.jpg") %></li>
                <li><%= image_tag("hos-environment_s4.jpg") %></li>
                <li><%= image_tag("hos-environment_s5.jpg") %></li>
                <li><%= image_tag("hos-environment_s6.jpg") %></li>
                <li><%= image_tag("hos-environment_s7.jpg") %></li>
                <li><%= image_tag("hos-environment_s8.jpg") %></li>
                <li><%= image_tag("hos-environment_s9.jpg") %></li>
                <li><%= image_tag("hos-environment_s10.jpg") %></li>
                <li><%= image_tag("hos-environment_s11.jpg") %></li>
                <li><%= image_tag("hos-environment_s12.jpg") %></li>
                <li><%= image_tag("hos-environment_s13.jpg") %></li>
                <
            </ul>
        </div>

    </div>
</div>
<script>
    $(".smallImg li").hover(function(){
        var imgIndex = $(this).index();
        console.log(imgIndex);
        $(".hosEnvironment li").eq(imgIndex).show().siblings().hide();
    })
</script>