<%= render 'homes/enter_ineye' %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>

    <div class="enterEyeContent fr enterEyeWord">
        <div class="flow">
            <div class="hosTitle">
                <h4 class="chineseWord">成都中医大银海眼科医院</h4>
                <p> Ineye  Hospital of Chengdu University of TCM</p>
            </div>
        </div>
        <p>成都中医大银海眼科医院，与成都中医药大学眼科学院实行院院合一统一管理，是集医、教、研三位于一体的研究型大型专科医院。医院坐落于蓉城府河之滨的星辉西路，按国家三级甲等专科医院标准建设，占地面积近40亩，建筑面积56000平米，编制床位400张，一期开放床位127张。医院配备先进的眼科专业设备。齐聚众多国内外中西医专家、学者担任医院各专业领域学术技术带头人，以高质量服务面向广大眼病患者。</p>
        <p>眼科医院将以中医为特色，体现中西医结合、眼科与视光结合、眼与全身病结合、眼科与互联网结合、医疗与教学科研结合，建设成国际接轨、特色突出、防治一体的现代化眼科医疗机构。医院设立中医眼科中心、眼底病中心、糖尿病视网膜病变防治中心、白内障屈光中心、眼视光中心、眼影像分析与诊断中心等六大中心，设置白内障、青光眼、糖尿病视网膜病变、眼底内科、眼底外科、葡萄膜炎、角膜病、屈光手术、斜弱视、近视防控、眼眶病、干眼、泪道病等17个专病专科。临床上结合传统中医药和现代医学两方面的优势，在充分发挥中药内服、外敷、熏洗、雾化、针刺、灸疗、推拿、按摩等中医简、便、效、廉特色的同时，广泛开展全飞秒激光与激光近视矫治术、3D飞秒激光白内障术、白内障超声乳化术、ICL与三焦点屈光手术、玻璃体切除术、青光眼小梁切除术、角膜移植术、斜视矫正术、无损伤泪道再造术、眼整形美容术、医学验光配镜、弱视矫治、低视力康复、视功能训练等现代医学诊疗项目，为我国西部眼病患者提供优良的医疗及保健服务。</p>
        <p class="medTitle"><b>中西医结合特色眼科</b></p>
        <div class="flow medicineContainer">
            <div class="chinWes fl">中西医结合</div>
            <div class="fl">
                <%= image_tag("chinWes-medicine.png",alt: '中西医结合') %>
            </div>
            <div class="Complementary fl">优势互补</div>
        </div>
        <ul class="flow flParent medicineContent">
            <li>
                <p>（中）成都中医大银海眼科医院以成都中医药大学眼科学院为依托，坚持“突出中医特色、提高临床疗效”为核心，充分发挥传统中医药优势，不断探索中医药治疗眼科疑难重症的新途径、新方法。在中医“辨证论治”理论体系指导下，结合眼科五轮、八廓、六经学说，灵活应用中药方剂、针灸疗法，发挥中医药防治眼病的优势。</p>
            </li>
            <li class="fr">
                <p>（西）成都中医大银海眼科医院引进国际前沿的设备与技术，拥有总值逾1亿、技术领先、门类齐全的系列眼科诊疗设备。广泛开展阿玛仕1050RS•Smart千频全激光、蔡司Smile3.0全飞秒激光手术、飞秒激光辅助下的白内障超声乳化术、三焦点人工晶体植入术、青光眼小梁切除术、视网膜脱离复位术、玻璃体切除术等各种眼科手术，创建眼影像分析与诊断中心，运用高新科技，快速、高效找准病灶，解决眼科疑难。</p>
            </li>
        </ul>
        <p class="medTitle"><b>发展历程</b></p>
        <div class="imgCenter">
            <%= image_tag("development-school.jpg",alt: '发展历程') %>
        </div>
    </div>
</div>
