<%= render 'homes/enter_ineye' %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr enterEyeEnvironment">
        <ul class="hosEnvironmentDiv">
            <li class="active"><%= image_tag("hos-environment1.jpg") %></li>
            <li><%= image_tag("hos-environment2.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment3.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment4.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment5.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment6.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment7.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment8.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment9.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment10.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment11.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment11.jpg",alt: '医院环境') %></li>
            <li><%= image_tag("hos-environment13.jpg",alt: '医院环境') %></li>
        </ul>
        <div class="smallImgContainer">
            <ul class="smallImg flow">
                <li><%= image_tag("hos-environment_s1.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s2.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s3.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s4.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s5.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s6.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s7.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s8.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s9.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s10.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s11.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s12.jpg",alt: '医院环境') %></li>
                <li><%= image_tag("hos-environment_s13.jpg",alt: '医院环境') %></li>
                <
            </ul>
        </div>

    </div>
</div>
<% content_for :script do %>
<script>
    $(".smallImg li").hover(function(){
        var imgIndex = $(this).index();
        $(".hosEnvironmentDiv li").eq(imgIndex).addClass("active").siblings().removeClass("active");
    })
</script>
<% end %>
