<%= render 'homes/enter_ineye' %>
<%= render "homes/enter_banner" %>
<div class="enterEyeContainer">
    <%= render "homes/enter_left" %>
    <div class="enterEyeContent fr">
        <ul class="bigThing">
            <li>
                <div class="thingTime fl"><span>2018年12月</span></div>
                <p>腾讯99公益日，银海眼科联合四川省红十字基金会启动“爱要让你看见”青少年近视防控公益项目。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年11月</span></div>
                <p>银海眼科联合四川省糖尿病防治协会开展“联合国糖尿病日”系列公益活动。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年11月</span></div>
                <p class="two_line">金牛区人民政府、金牛区教育局、银海眼科医院、成都市全国重点乒乓球运动学校共同打造“国球护眼球”金牛区国球进校园系列活动启动。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年10月</span></div>
                <p>腾讯99公益日，银海眼科联合雨露公益组织关爱困难儿童援助苦难儿童斜弱视治疗</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年10月</span></div>
                <p>银海眼科医院联合四川省红十字基金会发起“爱要让你看见”公益项目，为青少年视力健康保驾护航。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年9月</span></div>
                <p class="two_line">成都市残疾人福利基金会联合腾讯公益、银海眼科医院发起针对退伍老兵、留守老人的“为老人守护光明”白内障诊疗援助项目，帮助患有白内障的退伍老兵、留守老人重见光明。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年9月</span></div>
                <p>四川省眼与视觉健康产业技术研究院近视研究中心成立。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年8月</span></div>
                <p class="two_line">中国中西医结合学会眼科专业委员会第十七届学术年会、首届廖品正国医大师学术思想研讨会暨第四届银海眼科（国际）论坛在成都隆重召开。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年8月</span></div>
                <p class="two_line">开展第二届“视觉第一 • 高原光明行”（玉树）白内障手术援助公益活动, 总计接诊眼病患者305例，成功实施173例白内障复明手术，使他们全部重获光明划。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年7月</span></div>
                <p>银海眼科荣获成都市公安局交通管理局颁发的蓉e行交通众治公益联盟“优秀企业”称号。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年7月</span></div>
                <p>银海眼科承办的“2018年西部眼影像培训班暨疑难眼底病例分享会”在蓉举行。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年7月</span></div>
                <p>银海眼科医院与深圳市太空科技南方研究院签订战略合作协议。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年7月</span></div>
                <p>廖品正国医大师获“中国好医生”荣誉称号。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年6月</span></div>
                <p>举行成都市残疾人福利基金会银海启明基金签约仪式，双方共同致力于残疾人爱心事业的长久发展。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年6月</span></div>
                <p>成都第二届爱眼月公益活动暨金牛区眼健康工程正式启动。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年5月</span></div>
                <p>我院名誉院长王宁利教授，副院长刘文教授双双入选2017年四川“千人计划”创新领军人才项目。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年4月</span></div>
                <p>全国著名近视矫治大咖患者见面会在医院银海厅隆重举行。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年4月</span></div>
                <p>医院和电子科技大学信息与软件工程学院签署战略合作协议。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年3月</span></div>
                <p>银海眼科发起的“三月科普月全民眼健康公益行动全面启动”。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年3月</span></div>
                <p class="two_line">华佗工程全民眼健康提升计划系列宣讲暨爱眼全国行在国家会议中心启动，我院院长、书记段俊国教授，副院长朱思泉教授出席本次会议，并作学术报告。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年2月</span></div>
                <p>英国剑桥科技园与银海眼科医院签署战略合作备忘录。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年2月</span></div>
                <p class="two_line">  建立省内眼科医联体联盟，已有甘孜州得荣县人民医院、郫都区第二人民医院、青白江区中医医院等9家加入。</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2018年1月</span></div>
                <p>启动“明亮行动”，赴重庆为太极集团员工开展眼健康检查。</p>
            </li>
        </ul>
        <ul class="bigThing">
            <li>
                <div class="thingTime fl"><span>2017年8月11日-12日</span></div>
                <p>我校廖品正国医大师荣获全国中医眼科终生成就奖，王明芳、邓亚平荣获突出贡献奖</p>
            </li>
            <li>
                <div class="thingTime fl"><span>2017年7月19日</span></div>
                <p>段俊国院长入选2016成都人才计划“创业领军人才”</p>
            </li>
            <li>
                <div class="thingTime fl">2017年7月16日</div>
                <p>第三届国医大师首个工作室廖品正大师工作室在蓉成立</p>
            </li>
            <li>
                <div class="thingTime fl">2017年7月14-17日</div>
                <p>中国医疗保健国际交流促进会眼科分会首届学术年会等眼科四会在成都隆重召开</p>
            </li>
            <li>
                <div class="thingTime fl">2017年7月16日</div>
                <p>成都中医大银海眼科医院隆重举行开业庆典仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月29日</div>
                <p>我院廖品正教授当选第三届国医大师在京受表彰</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月10日</div>
                <p>启动“地铁爱眼月眼健康公益咨询活动”</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月8日</div>
                <p>举行国内眼科医院首台引进的阿玛仕1050RS准分子激光设备开机仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p> 与金牛区教育局签订“青少年近视防控能力提升计划”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p>与地铁运营有限公司签订“地铁司机眼健康服务” 协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p>与太极集团签订“太极员工眼健康服务”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年6月6日</div>
                <p>与成都中医药大学签订“大学生眼健康档案建立”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月28日</div>
                <p>成都中医大银海眼科医院正式对外开诊</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>中山大学中山眼科中心刘文教授正式签约加盟银海</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p> 签订廖品正国医大师工作室协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任瞿佳教授为眼科学院名誉院长</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任王宁利教授为成都中医大银海眼科医院名誉院长</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任文峰教授为成都中医大银海眼科医院眼影像分析与诊断中心名誉主任</p>
            </li>
            <li class="oneBigThing">
                <div class="thingTime fl">2017年5月13日</div>
                <p>聘任王宁利、瞿佳、刘奕志、毕宏生、杨培增、史伟云、陈伟蓉、徐国兴等8位专家为眼科学院/成都中医大银海眼科医院客座教授</p>
            </li>
            <li>
                <div class="thingTime fl">2017年5月13日</div>
                <p>召开“三院一体”发展座谈会，加强“双一流”建设</p>
            </li>
            <li>
                <div class="thingTime fl">2017年4月5日</div>
                <p>与甘孜州得荣县人民医院签订眼科援助托管项目协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年3月18日</div>
                <p>与甘孜州得荣县人民政府签订“对口扶贫•精准复明”协议</p>
            </li>
            <li>
                <div class="thingTime fl">2017年3月</div>
                <p>三月科普月眼健康公益活动共计开展了20场</p>
            </li>
            <li>
                <div class="thingTime fl">2017年1月</div>
                <p>“大爱无疆•善行天下”眼健康公益行走进校园、社区、基层</p>
            </li>
            <li>
                <div class="thingTime fl">2017年1月</div>
                <p>隆重举行四川省视力保护科普基地“流动科普馆”首次公益行发车仪式</p>
            </li>
            <li>
                <div class="thingTime fl">2017年1月</div>
                <p>隆重举行四川省视力保护科普基地“流动科普馆”启动仪式</p>
            </li>
        </ul>
        <ul class="bigThing">
            <li>
                <div class="thingTime fl">2016年10月</div>
                <p>成都中医大银海眼科医院揭牌</p>
            </li>
            <li>
                <div class="thingTime fl">2016年5月</div>
                <p>取得“设置医疗机构批准书”</p>
            </li>
            <li>
                <div class="thingTime fl">2016年2月</div>
                <p>发起成立</p>
            </li>
        </ul>
    </div>
    <div class="pages_event mart26">
        <ul>
            <li>
                <a href="#1" class="<%= active if request.url.include?('#1')%>" data-page=1>2018</a>
            </li>
            <li>
                <a href="#2" class="<%= active if request.url.include?('#2')%>" data-page=2>2017</a>
            </li>
            <li>
                <a href="#3" class="<%= active if request.url.include?('#2')%>" data-page=3>2016</a>
            </li>
        </ul>
    </div>
</div>


<% content_for :script do %>
<script>
    $(document).ready(function(){
        //解析URL拿到锚点
        var url = window.location.href;
        //console.log(url)
        var str = url.split("#",2)[1]
        changes(str)
        function changes(index){
            if(index&&index!=""){
                if(index>=0&&index<=6){
                    index=index
                }
                else{
                    index= 1;
                }
            }else{
                index = 1
            }
            //console.log($(".cureProject a")[index])
            // 相应标签增加背景
            var dom = $(".pages_event a")[index-1]
            //console.log(dom)
            $(dom).addClass("active")
            //相应内容展示
            var showModule = $(".bigThing").eq(index-1)
            //console.log(showModule)
            $(showModule).show().siblings().hide()
                //console.log(dom)
        }
        $(".pages_event a").click(function(){

            var index = $(this).attr('data-page')
            $(this).parent().parent().find('.active').removeClass("active")
            changes(index)
            // $(".cureProjectContainer .cureProjectModule").eq($(this).index()-1).show().siblings().hide()
        })
    })

</script>
<% end %>
