<div class="middle flow">
    <div class="hosIntroduce eqContainer">
        <div class="mainWord equipment">
            <h5>设备技术</h5>
            <ul class="flow flParent">

                <li>
                    <%= image_tag("equipment_1.jpg") %>
                </li>
                <li class="equRight fiEquipment fr">
                    <h6>阿玛仕1050RS准分子激光治疗仪</h6>
                    <div class="advantage">
                        <h6>优势：</h6>
                        <p>1.快：削频率（1050 Hz），治疗转瞬完成；</p>
                        <p>2.精：激光光斑（0.54mm），角膜表面细致平滑；</p>
                        <p>3.准：高频七维全方位眼球跟踪系统超精准定位切削；</p>
                        <p>4.逸：拥有smart全激光手术，无瓣，无痕，安全无忧。</p>
                    </div>
                </li>
            </ul>

            <ul class="flow flParent seEquipmentCon" id="aaaa">
                <li>
                    <h6>蔡司全飞秒Visu Max 激光系统</h6>
                    <p>无瓣、微创、全飞秒</p>
                    <div class="advantage">
                        <h6>优势：</h6>
                        <p>1.全程飞秒——无刀治疗、无需联机；</p>
                        <p>2.独创的smile微创技术，可减少对角膜神经纤维的损伤，提高视觉质量。</p>
                        <p>3.精确的个性化角膜瓣制作，控制角膜瓣的厚度、大小等，提高手术的安全性和可预测性。</p>
                        <p>4.模拟人体角膜设计的接触镜，保证了治疗时角膜的自然生理状态。</p>
                        <p>5.术中低负压吸引，避免常规手术中由眼压升高带来的视力丧失。</p>
                    </div>
                </li>
                <li class="equRight fr">
                    <%= image_tag("equipment_2.jpg") %>
                </li>
            </ul>

            <ul class="flow flParent">
                <li>
                    <%= image_tag("equipment_3.jpg") %>
                </li>

                <li class="equRight thEquipment fr">
                    <h6>LENSAR非接触式3D飞秒白内障激光手术系统</h6>
                    <div class="advantage">
                        <h6>优势：</h6>
                        <p>1. 使用精准的飞秒激光达到微米級以上的组织切削；</p>
                        <p>2. 使用了3D影像技术精准定位眼內组织位置，提高手术的安全性和精准度。</p>
                        <p>3.独特的360度眼球立体扫描，以及独家的非接触式的小型接口，减少了角膜变形。</p>
                        <p>4.3D立体切割模式，可使术后切口密合度极佳完全不漏水，降低感染风险，术后恢复快。</p>
                    </div>
                </li>
            </ul>

            <ul class="flow flParent">

                <li class="fourEquipment">
                    <h6>爱尔康Constellation玻切机设备</h6>
                    <div class="advantage">
                        <h6>优势：</h6>
                        <p>1. 独有动态眼内压控制技术：可以设置个性化的手术眼压，并提供手术全程稳定的眼内压，保证手术安全性。</p>
                        <p>2.高达7500切/分钟的切割速率：减少对组织的牵引，提高了手术安全性。</p>
                        <p>3.优化的25+系统：可以实现精细的切割，更贴近视网膜，更高效也更安全。</p>
                        <p>4.内置一体式的532nm眼底激光：直接应用于玻切手术中，能够在不扩大切口的情况下完成25g+、27g+微创玻璃体手术。</p>
                    </div>
                </li>

                <li class="equRight fr">
                    <%= image_tag("equipment_4.jpg") %>
                </li>
            </ul>

            <ul class="flow flParent thEquipmentCon">
                <li>
                    <%= image_tag("equipment_5.jpg") %>
                </li>
                <li class="equRight fivEquipment">
                    <h6>爱尔科医人Vision One 量子芯片多波长激光</h6>
                    <div class="advantage">
                        <h6>技术优势：</h6>
                        <p>1. 采用先进的量子芯片技术（QWL-OPSL），具有高稳定性和高可靠性。</p>
                        <p>2. 同时完美常用的三种波长整合为一体，波长切换快速自如，可以根据病情给予恰当的治疗。</p>
                        <p>3. ClearViewTM清澈高清眼睛保护滤光镜，100%过滤治疗激光，不影响其他可见光的透过率。</p>
                        <p>4. 专利技术-锐亮光斑SureSpotTM，在视网膜上得到边缘锐利、能量均匀的光斑；在角膜和晶体上的能量密度更低，更安全。</p>
                    </div>
                </li>
            </ul>

            <ul class="flow flParent">
                <li class="sixEquipmentCon">
                    <h6>DRI OCT-1 Triton</h6>
                    <div class="advantage">
                        <h6>技术优势：</h6>
                        <p>1.源扫描技术：采用了新的源扫描技术，扫描速度高达100000次A扫描/秒。</p>
                        <p>2.扫描激光波长为1050nm：不仅能够清晰看到视网膜的分层，在不使用不透光造影剂的情况下还能看到脉络膜和巩膜。而且1050nm非可见光扫描可以减少患者眼球因刺激而产生的不适，进而提高扫面成功率及检查速度。</p>
                        <p>3.涵盖黄斑和视盘的12mm 宽域扫描：能够在更大范围的基础上提供更多有用的疾病信息。</p>
                    </div>
                </li>
                <li class="fr">
                    <%= image_tag("equipment_6.jpg") %>
                </li>
            </ul>

        </div>
    </div>
</div>




