
<div class="equ-banner">
    <%= image_tag("equ-banner.jpg") %>
</div>
<div class="flow marT20">
    <div class="equLeft fl whiteBg line24">
        <p class="fontCenter30">无瓣、微创、全飞秒</p>
        <p class="thisIndent2">蔡司Visu Max全飞秒手术全程不需要制作角膜瓣，也不涉及准分子激光，而是全程用飞秒激光治疗，在角膜内部通过两次深度不同的层间爆破，将要切削的角膜基质完整塑性，然后通过一个2-4mm的微笑切口取出，像个笑脸，完成手术。所以，人们形象地称这种手术为“Smile”。</p>
        <div class="centerImgCon">
            <%= image_tag("equ-detaivisulImg1.jpg") %>
            <p class="advBlueTitle">蔡司全飞秒Visu Max 激光系统Smile3.0全飞秒治疗步骤</p>
            <%= image_tag("equ-detaivisulImg2.jpg") %>
            <p class="advBlueTitle">Smile3.0飞秒激光的使用人群</p>
        </div>
        <p class="greenWord">飞秒激光手术适应症</p>
        <p>● 18-50周岁；近视度数低于1200度，且屈光状态稳定无进展；无其他眼科疾病，无全身严重疾病。</p>
        <p>● 更适合角膜薄、热爱运动、追求高品质视觉质量的近视患者。</p>
        <p class="greenWord marT20">以下四类患者，不能做传统LASIK手术，但适合飞秒激光手术：</p>
        <p>● 因角膜比较薄、近视度数高而不能做手术的人群中有10%的患者建议选择飞秒激光手术</p>
        <p>● 因眼裂较小、角膜直径较小、角膜较平的人，而无法用机械金属刀制作角膜瓣的患者，建议选择飞秒激光手术</p>
        <p>● 眼睛敏感度高，对于传统LASIK手术术中不适感敏感的患者，建议选择全飞秒激光手术</p>
        <p>● 运动员、军人等对手术安全性及术后效果要求高的患者，建议选择全飞秒激光手术</p>
        <p class="advBlueTitle textCenter">蔡司全飞秒Visu Max 激光系统的优势</p>
        <div class="line30">
            <p>1.全程飞秒——无刀治疗、无需联机；</p>
            <p>2.独创的smile微创技术，可减少对角膜神经纤维的损伤，提高视觉质量。</p>
            <p>3.精确的个性化角膜瓣制作，控制角膜瓣的厚度、大小等，提高手术的安全性和可预测性。</p>
            <p>4.模拟人体角膜设计的接触镜，保证了治疗时角膜的自然生理状态。</p>
            <p>5.术中低负压吸引，避免常规手术中由眼压升高带来的视力丧失。</p>
        </div>

    </div>
    <div class="equRight fr equDetail">
        <div class="doctorRecommendList whiteBg">
            <p class="doctorRecommendTle">推荐医生</p>
            <div  class="doctorRecommendDiv" style="">
                <ul class="flParent flow doctorRecommendCon">
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj6.jpg"),expert_path(:周跃华教授) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">周跃华</p>
                            <p>主任医师/教授/硕士生导师</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>主要从事角膜屈光手术的临床工作和近视理论的基础研究，长于Smart千频全激光、Smile全飞秒等各类屈光手术，共完成各类屈光手术15万余例。在角膜屈光手术及其并发症等的处理上，具有丰富的临床工作经验。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="">咨询预约</a><a href="">查看详情</a>
                        </div>
                    </li>
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj13.jpg"),expert_path(:周春阳主任医师) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">周春阳</p>
                            <p>副教授 副主任医师 医学博士</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>擅长Smart千频全激光、Smile全飞秒等各类屈光手术，激光近视手术、青少年近视综合防控、视疲劳防治。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="">咨询预约</a><a href="">查看详情</a>
                        </div>
                    </li>

                </ul>
                <div>
                    <div class="leftBtn active">
                        <i class="icon_arrow icon_left"></i>
                    </div>
                    <div class="rightBtn active">
                        <i class="icon_arrow icon_right"></i>
                    </div>
                </div>
            </div>

        </div>

        <%= render "homes/equ-right" %>

    </div>
</div>
