<%= render 'homes/device_tkd' %>
<div class="equ-banner">
    <%= image_tag("equ-banner.jpg",alt: '千年沉淀，终成银海') %>
</div>
<div class="flow marT20 marB10">
    <div class="equLeft fl whiteBg line24">
        <div class="equTwoTle">
            <p>全国眼科医院第一台•首家引进</p>
            <p>快 精 准 逸</p>
        </div>
        <p class="thisIndent2">德国阿玛仕准分子激光手术系统是卓越的整体理念、性能优越的激光技术与人体工程学设计和新颖款式的成功结合。阿玛仕准分子激光技术曾获得完美医学设计将“手工设备、工具和耗材”项目的冠军。唯一拥有全激光Smart手术的近视激光手术平台。</p>
        <div class="centerImgCon marT10">
            <%=image_tag("equ-detailSmartImg1.jpg",alt: '阿玛仕') %>
            <p class="advBlueTitle">Smart千频全激光手术与其他手术对比</p>
            <%=image_tag("equ-detailSmartImg2.jpg",alt: '阿玛仕') %>
        </div>
        <p class="advBlueTitle textCenter marT10">Smart千频全激光手术的优势</p>
        <p class="thisIndent2">Smart全激光手术依托德国阿玛仕准分子激光平台，是全激光TransPRK手术与SPT智能脉冲技术的完美结合！激光直接经角膜上皮进行治疗，一步完成角膜上皮切削和屈光不正的精确矫正，手术过程无刀无瓣、温和无接触。相比于其他表层手术，角膜切削面更平滑，术后愈合和视力恢复明显加快。</p>
        <div class="centerImgCon marT10 marB10">
            <%=image_tag("equ-detailSmartImg3.jpg",alt: '阿玛仕') %>
        </div>
        <p class="advBlueTitle textCenter">常见问题</p>
        <p class="redWord marT20">我是否适合做激光矫正手术 ？</p>
        <p>能否做激光手术，这需要通过您的角膜形态、眼部屈光状态等等各种检查结果去综合判定。Smart千频全激光手术可以用于矫正近视、远视、散光等多种屈光不正。</p>
        <p class="redWord marT20">手术是否存在风险？</p>
        <p>准分子激光表层手术矫治近视历经20余年验证，是目前公认的安全性最高、视觉质量最好的手术方式。作为唯一零接触的创新表层术式，Smart千频全激光手术过程中，医生无需手动操作。全自动化治疗，完全避免角膜瓣或微透镜破碎导致的各种并发症。长远来讲，Smart千频全激光术后角膜上皮完全愈合，没有角膜瓣或切口导致的相关并发症，最大程度维持了角膜原有的生物力学，在各种手术方式中脱颖而出，堪称目前风险最低的创新术式。</p>
        <p class="redWord marT20">Smart千频全激光手术手术需要多长时间完成？</p>
        <p>Smart千频全激光手术整个过程非常快，且医生操作非常简单，只需要滴麻醉药水。每只眼睛的激光治疗过程不到1分钟。而从开始准备直到双眼完成矫正，整个过程只需不到10分钟。</p>
        <p class="redWord marT20">术后恢复过程是怎样的？</p>
        <p>角膜上皮愈合需要1-3天时间，虽然术后恢复时间较板层手术而言相对较长，然而角膜上皮也因此能够完全愈合，不留任何切痕，没有角膜瓣。Smart千频全激光手术过程中是无痛的，在术后1-4 天内医生会根据每个人的恢复情况调整药物来促进恢复，减轻不适感。</p>
    </div>
    <div class="equRight fr equDetail">
        <div class="doctorRecommendList whiteBg">
            <p class="doctorRecommendTle">推荐医生</p>
            <div  class="doctorRecommendDiv" style="">
                <ul class="flParent flow doctorRecommendCon">
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj6.jpg",alt: '阿玛仕'),expert_path(:周跃华教授) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">周跃华</p>
                            <p>主任医师/教授/博士生导师</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>主要从事角膜屈光手术的临床工作和近视理论的基础研究，长于Smart千频全激光、Smile全飞秒等各类屈光手术，共完成各类屈光手术15万余例。在角膜屈光手术及其并发症等的处理上，具有丰富的临床工作经验。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="https://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">咨询预约</a><%= link_to :"查看详情",expert_path(:周跃华教授) %>
                        </div>
                    </li>
                    <li>
                        <div class="centerImgCon doctorRecommendImg">
                            <%= link_to image_tag("zj13.jpg",alt: '阿玛仕'),expert_path(:周春阳主任医师) %>
                        </div>
                        <div class="centerWords line24">
                            <p class="line30">周春阳</p>
                            <p>副教授 副主任医师 医学博士</p>
                        </div>
                        <div class="line24">
                            <p class="greenWord">擅长领域：</p>
                            <p>擅长Smart千频全激光、Smile全飞秒等各类屈光手术，激光近视手术、青少年近视综合防控、视疲劳防治。</p>
                        </div>
                        <div class="doctorBtn">
                            <a href="https://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">咨询预约</a><%= link_to :"查看详情",expert_path(:周春阳主任医师) %>
                        </div>
                    </li>

                </ul>
                <div>
                    <div class="leftBtn active">
                        <i class="icon_arrow icon_left"></i>
                    </div>
                    <div class="rightBtn active">
                        <i class="icon_arrow icon_right"></i>
                    </div>
                </div>
            </div>

        </div>

        <%= render "homes/equ-right" %>

    </div>
</div>
