<div class="doctorDetails flow whiteBg">
  <div class="fl doctorPortrait flow">
    <%= image_tag('doctors/'+@user.name.strip+'.jpg') %>
    <div class="doctorBtns">
      <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
      <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_5"),:class=>"fr" %>
    </div>
  </div>
  <div class="fl doctorContent flow">
    <h5><%= @user.name %></h5>
    <p class="doctorTitle"><span><%= @user.honour_brief_introduction %></span></p>
    <div class="doctorHonor">
      <% @user.honour_specific.split('#').each do |honour_specific| %>
        <p><%= honour_specific %></p>
      <% end %>
    </div>
    <div class="doctorGoodAt flow">
      <span>擅长领域：</span>
      <p><%= @user.good_at_field %></p>
    </div>
    <p class="seePatientTime"><span>坐诊时间:</span><%= @user.work_time %></p>
  </div>
</div>
<div class="doctorIntroduce whiteBg">
  <% @user.detailed_introduction.split('#').each do |detailed_introduction| %>
    <p><%= detailed_introduction %></p>
  <% end %>
</div>
<ul class="registered flow flParent">
  <li>预约挂号</li>
  <li>姓名：<input type="text"></li>
  <li>联系电话：<input type="text"></li>
  <li>预约时间：<input type="text"></li>
  <li>预约科室：<input type="text"></li>
  <li><a href="" class="registeredBtn">提交</a></li>
</ul>

<% if @user.name=='丰医生' %>
    <% members = [
        {
            name: '路雪婧',
            honour_brief_introduction: '研究员/博士生导师',
            honour_specific: [
                '全国首批中医药传承博士后'
            ]
        },
        {
            name: '张富文',
            honour_brief_introduction: '主任医师/教授/硕士生导师',
            honour_specific: [
                '中华中医药学会眼科分会青年委员'
            ]
        },
        {
            name: '李红惠',
            honour_brief_introduction: '主任医师/医学博士',
            honour_specific: [
            ]
        },
        {
            name: '蹇文渊',
            honour_brief_introduction: '主治医师/医学博士/博士后',
            honour_specific: [
                '四川省糖尿病早期筛查专业委员会委员'
            ]
        }
    ] %>
<% end %>
<div class="membersList whiteBg flow">
  <div class="fl teamMemberWords">团 队 成 员</div>
  <div class="teamContainer" >
    <ul class="teamMembers fr flParent flow" style="">
      <%= members.each do |member| %>
          <% member_user = User.role_code_is('common_user').name_is(member[:name]).first%>
      <li>
        <div class="fl teamMemberPhoto">
          <%= link_to image_tag('doctors/'+member[:name]+'.jpg'), doctor_path(member_user.present? ? member_user.try(:id) : '~') %>
        </div>
        <div class="fl memberIntroduce">
          <h4><%= member[:name] %></h4>
          <p><%= member[:honour_brief_introduction] %></p>
          <% member[:honour_specific].each do |honour_specific| %>
          <p><%= honour_specific %></p>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="leftBtn">
      <i class="icon_arrow icon_left"></i>
    </div>
    <div class="rightBtn">
      <i class="icon_arrow icon_right"></i>
    </div>
  </div>
</div>
<script>
  var members = $(".teamMembers li").length;
  if(members>4){
    $(".leftBtn").addClass("active");
    $(".rightBtn").addClass("active");
  }
  var rightMoveNum = members-4+((parseInt($(".teamMembers").css("left"))/$(".teamMembers li").width()));
  var leftMoveNum = 0;
  function move() {
    if(rightMoveNum>0){
      $(".teamMembers").stop(true,true);
      var nowPos = parseInt($(".teamMembers").css("left"));
      var displacement =$(".teamMembers li").width();
      console.log(nowPos+" "+displacement);
      $(".teamMembers").animate({
        left:nowPos-displacement
      })
      rightMoveNum--;
      leftMoveNum++;
    }
    console.log(rightMoveNum);
  }
  function move2() {
    if(leftMoveNum>0){
      $(".teamMembers").stop(true,true);
      var nowPos = parseInt($(".teamMembers").css("left"));
      var displacement =$(".teamMembers li").width();
      $(".teamMembers").animate({
        left:nowPos+displacement
      })
      rightMoveNum++;
      leftMoveNum--;
    }
    console.log(leftMoveNum);
  }
  $(".rightBtn").click(function() {
    if(rightMoveNum>0){
      move();
    }
  })
  $(".leftBtn").click(function() {
    if(leftMoveNum>0){
      move2();
    }
  })

</script>

