
<%= image_tag("education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
  <%= render 'con_educations/edu_sidebar' %>
  <div class="fr width1020 eduContentCon whiteBg">
    <ul class="edumsglist downModule">
      <% count = 1 %>
      <% @con_education_articles.each do |con_education_article| %>
          <% %>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: article_show(con_education_article: con_education_article) }  do %>
              <p><span><%= count %>.<%= TagRelation.get_doctor_names_by(object: con_education_article).to_sentence %> </span><%= con_education_article.title %> <span class="fr"><%= con_education_article.published_at.present? ? (l con_education_article.published_at, format: :human_date) : '' %></span></p>
            <% end %>
          </li>
          <% count+=1 %>
      <% end %>
    </ul>
  </div>
</div>

<%= render partial: 'con_educations/script' %>
