<div class="flow conEducation">
    <%= render 'con_educations/edu_left' %>
    <div class="fr width1020 eduContentCon">
        <div class="whiteBg">
            <ul class="flow flParent educationList">
                <li class="on">正文</li>
                <li>照片</li>
                <li>文档</li>
                <li>视频</li>
            </ul>
        </div>
        <!--第一块 正文内容-->
        <div class="edModule show">
            <div class="whiteBg">
                <div class="caseContent">
                    <h3>标题</h3>
                    <p>诊断</p>
                    <p>处理</p>
                </div>
            </div>
            <div class="marT10 whiteBg">
                <ul class="flow flParent educationList">
                    <li class="on">评论</li>
                </ul>
                <div class="commentCon">
                    <textarea class="commentInner" autofocus placeholder="您可以写下您的观点或意见..."></textarea>
                    <div class="flow">
                        <p class="erroContent"></p><div class="commentSubBtn fr">评论</div>
                    </div>
                </div>
                <div class="comContainer">
                    <p class="allComment">全部评论<span class="num">0</span> </p>

                    <!-- <div class="flow oneComment">
                        <div class="fl">
                            <%= image_tag("edu_user.png") %>
                        </div>
                        <div class="fl comContent">
                            <p class="identity">2017/10/30<span>11:59:25</span><span>游客</span></p>
                            <div class="flow">
                                <p class="fl">喜欢这种颜色搭配与排版···</p>
                                <div class="showSubBtn fr userComment"><%= image_tag("comment_before.png") %></div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
        <!--第一块 正文内容-->
        <!--第二块 照片内容-->
        <div class="pad40 whiteBg edModule">
            <ul class="tz-gallery flParent flow">

                <li class="thumbnail">
                    <a class="lightbox" href="/assets/park.jpg">
                        <%= image_tag("edu_smallimgs.jpg") %>
                    </a>
                    <div class="caption">
                        <p>sssss</p>
                    </div>
                </li>
                <li class="thumbnail">
                    <a class="lightbox" href="/assets/park.jpg">
                        <%= image_tag("edu_smallimgs.jpg") %>
                    </a>
                    <div class="caption">
                        <p>sssss</p>
                    </div>
                </li>

            </ul>

        </div>
        <!--第二块 照片内容-->
        <!--第三块 文档资料-->
        <div class="whiteBg edModule downModule">
            <p>
                <a href="file:/assets/窦广志病历摘要修改版.doc"  onclick="openmydoc('file:/assets/窦广志病历摘要修改版.doc');" type="activxobject(word.application)">窦广志病历摘要修改版 网友版在线预览</a>

                <a href="/assets/窦广志病历摘要修改版.doc" download>窦广志病历摘要修改版</a>
            </p>
        </div>
        <!--第三块 文档资料-->
        <!--第四块 视频-->
        <div class="whiteBg edModule downModule">
            <video id="my-video" class="video-js" controls preload="auto" poster="m.png" data-setup="{}">
                <source src="http://jq22com.qiniudn.com/jq22-sp.mp4" type="video/mp4">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <script type="text/javascript">

            </script>
        </div>
        <!--第四块 视频-->
    </div>

</div>
<% content_for :style do %>
<%= stylesheet_link_tag 'video-js' %>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'baguetteBox.min' %>
<%= javascript_include_tag 'video.min' %>
<%= javascript_include_tag 'edu_example' %>

<script type="text/javascript">
    //网页上打开word文档
    function openmydoc(path){
        var doc=new ActiveXObject("Word.Application");
        doc.visible=true;
        doc.Documents.Open(path);
    }



</script>

<% end %>
