<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_educations/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="edu-pagecontent downModule ">
          <h3>第二节课  与视网膜脱离手术相关的基本理论</h3>
          <h4>巩膜加压手术的作用和影响</h4>
          <div>
            <p>巩膜加压术，又称巩膜扣带术（scleral buckle）是指通过巩膜外植体压陷巩膜治疗视网膜脱离的一种方法。由于放置外植体的方向不同而分为与角膜缘平行的环形巩膜加压和与角膜缘垂直的放射状巩膜加压，少数情况下也放置与角膜缘成一定角度的斜行巩膜加压。如果使用的外植体是硅胶带和硅胶块（硅胶圈），又称为硅胶环扎（简称：环扎）和硅胶填压（简称：硅压）。环扎是平行角膜缘包绕眼球一周，分为单纯硅胶带的环扎和联合硅胶块的环扎，使用硅胶块时形成高而宽的巩膜嵴（手术嵴）。硅压是放置节段性的硅胶块，分为环形硅压、放射状硅压和斜行硅压。临床上常常将环扎和硅压联合起来治疗视网膜脱离。</p>
            <p>巩膜加压联合视网膜裂孔周围的脉络膜视网膜粘连术是许多不复杂的裂孔性视网膜脱离的最基本的治疗模式。其它视网膜脱离治疗技术包括玻璃体切除术和充气性视网膜粘结术，不在本章叙述。巩膜加压操作是靠改变眼球的几何学形状帮助关闭所有视网膜裂孔和维持这些裂孔呈关闭状态的技术。巩膜加压也使眼的生理产生继发性改变，取得关闭视网膜裂孔的作用。本章描述巩膜加压对眼球的几何学形状的影响和巩膜加压的作用机制。</p>
            <p><b>第一节 巩膜加压对眼球形状的影响</b></p>
            <p>巩膜加压对眼球形态产生影响，影响的大小与使用的材料类型、巩膜缝线的位置和张力和环扎带的松紧度有关。眼球几何学形状变化又产生许多继发改变，包括眼轴长度的改变、眼球容积的改变和巩膜加压后的眼球硬度（ocular rigidity）的改变。</p>
            <h4>一、眼轴长度改变</h4>
            <p>在放置巩膜加压块后，眼轴的长度可以发生改变。环扎既可增长眼轴也可减少眼轴长度，随着巩膜加压的材料、位置和加压高度而不同[1,2]。硅胶带（块）环扎最容易引起眼轴长度增加[3,4]，但也有一些眼使用后并不显示眼轴变长[5,6]。偶尔，高度硅胶环扎可减少眼轴长度[3,7]。放射状放置软的硅胶海绵对眼轴长度几乎没有影响。</p>
            <p>1．眼轴长度增加 通过分析环扎后眼球的几何学形态，可以帮助理解环形巩膜加压诱导的眼轴长度改变。如果环扎放置在眼球的赤道部，第一个影响是减少眼球冠状切面的周径，引起眼球的水平切面呈一种椭圆形。在放置宽的环形加压块后，正常的人眼由球形变成一种扁球形（图7-1）。因为在赤道部环扎缩小了眼球的周径，扁球形在冠状面仍然是园形，但在矢状切面和水平切面变得更加椭圆，眼球在矢状面和水平面的前后长度增加。这种从球形变成扁球形的主要原因是眼内充满液体，当眼压正常时，巩膜相对无伸缩性而产生（图7-1）。</p>
            <p>2．眼轴长度减少 每个象限放置两根缝线，使环形加压下面的巩膜凹陷，对眼的形状和长度产生另外影响。扎紧褥式缝线把缝线穿过处的巩膜前后拉在一起，缝线下面的环形加压使巩膜凹陷，在水平和矢状面的环形巩膜的一部分用于产生哑铃形的巩膜凹陷，眼球的前后轴长度减少[3]（图7-1）。</p>
            <p>中度环扎引起的眼轴长度增加比巩膜凹陷减少眼轴长度的作用要大，使眼轴长度增加，眼球朝向近视眼转变。高度环扎的巩膜凹陷减少眼轴长度超过增加眼轴长度，总的结果是眼轴长度减少。有些眼球在中度环扎和巩膜凹陷对眼轴长度的影响刚好平衡时，不产生眼轴长度的改变。术中通过调节环扎带的松紧可达到减少眼轴长度的改变，但由于手术顶压视网膜裂孔和缓解玻璃体的牵拉更加重要，很难照顾到眼轴的改变。</p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0"  width="700px;" style="margin:0 auto">
                <tr>
                  <td><%= image_tag("edu-swmtlss1.jpg") %></td>
                  <td><%= image_tag("edu-swmtlss2.jpg") %></td>
                  <td><%= image_tag("edu-swmtlss3.jpg") %></td>
                </tr>
                <tr class="inlinetext-left"><td colspan="3">图7-1 环形巩膜加压对眼球形状的影响</td></tr>
                <tr class="inlinetext-left"><td colspan="3">A：正常眼球形状 B：中度环扎，眼球由球形变成扁球形，水平和矢状切面呈椭圆形，冠状切面呈园形，前后眼轴长度增加 C：高度环扎，眼球的冠状面仍然成园形，水平和矢状切面呈哑铃形，眼轴长度减少</td></tr>
              </table>
            </div>
            <p>一般来说，随着褥式缝线和环形加压逐渐拉紧，眼轴长度开始增加，随后减少增加的眼球长度，最后，当形成非常高的环扎嵴时，眼轴长度开始缩短。</p>
            <h4>二、眼球屈光改变</h4>
            <p>视网膜脱离巩膜加压手术产生两种主要类型的屈光异常。一是角膜曲率改变引起的散光；二是眼轴长度、前房深度或晶状体的位置改变引起的球面异常。</p>
            <p><b>（一）散光异常</b></p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="450px;">
                <tr><td><%= image_tag("edu-swmtlss4.jpg") %></td></tr>
                <tr><td>图7-2 巩膜硅压术后角膜地形图</td></tr>
                <tr><td class="inlinetext-left">A：术前角膜循规性散光，但下半散光大于上半约0.5D B：单纯做10～2点硅压术后一周，角膜地形图成蝴蝶结样改变，散光轴朝向90°方位 C：术后5个月，散光减轻，图形接近术前图形 D：术后15个月，角膜地形图已经恢复到术前形态，而且散光比术前减轻</td></tr>
              </table>
              <p>硅压或放射状外加压最容易产生规则性或不规则性角膜散光（图7-2）[7-10]。在术后几个月内，很多散光逐渐减轻，%>但有些散光持续存在，需要矫正[11]。由于角膜和巩膜缺乏弹性，放射状巩膜加压放置在较前的巩膜表面产生的凹陷能延续到角膜，导致角膜散光。如果眼球像气球一样具有高度弹性，放射状加压产生的凹陷将仅仅局限在加压块的下方，对周围的巩膜不产生影响。而放射状加压引起的巩膜周围的凹陷远远超过加压块本身的范围，这种现象可解释为什么在眼内看到的巩膜加压边缘是一个逐渐的隆起，而不是一个巩膜加压材料的典型轮廓。巩膜加压范围在1～2个象限时，发生散光最大[12]。宽度一致的环扎却很少引起真正的散光。</p>

            </div>

            <p><b>（二）球面异常</b></p>
            <p>巩膜加压由眼轴长度和晶状体位置改变引起的屈光变化比引起散光更加常见。大多数环扎眼转变成轻度近视，与眼轴长度增加有关[4,7,13]。环扎引起的晶状体前移位和前房变浅也与近视改变相关[7]。在多数眼，视网膜脱离手术后的几个月，晶状体前移位已变得不太明显[13]。有些高度环扎后的眼轴长度变短，朝向远视转变[6]。在儿童巩膜加压术后，与对侧没有手术的眼相比，可减缓与生长相关的眼轴长度增加[14]。</p>
            <h4>三、巩膜弦长和巩膜弧长</h4>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="300px;">
                <tr><td><%= image_tag("edu-swmtlss5.jpg") %></td></tr>
                <tr><td>图7-3 巩膜弦长和巩膜弧长</td></tr>
                <tr><td class="inlinetext-left">在用卡尺测量固定加压块的缝线距离时，前后两针之间的直线距离（弦长）要比巩膜表面两点之间的距离（弧长）短</td></tr>
              </table>
              <p>当测量眼球表面的距离时，必须考虑眼球表面弧度。卡尺是最常用于测量巩膜加压缝线距离的工具，卡尺测量眼球表面两点之间的最短距离叫做巩膜弦长（scleral chord length）（图7-3）。沿着眼球弯曲表面测得的两点间距离叫巩膜弧长（scleral arc length），用卡尺测得巩膜弦长距离总是短于巩膜弧长的距离[15]，巩膜弧长可以通过巩膜弦长进行计算，反之，也可使用图7-4的公式计算巩膜弦长。当弦长与眼球的半径相比很小时，巩膜弧长和弦长相似。</p>
              <p>卡尺测量的8mm弦长相当于巩膜弧长的8.16mm，有2%的误差；13mm相当于13.74mm，有5.7%的误差；这种巩膜弦长和弧长的差异随着卡尺测量距离加大而增加。在用卡尺测量眼球表面距离时，应考虑巩膜弦长和弧长这二者的不同。</p>

            </div>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" style="width: 600px;margin:0 auto">
                <tr>
                  <td><%= image_tag("edu-swmtlss6.jpg") %></td>
                  <td><%= image_tag("edu-swmtlss7.jpg") %></td>
                </tr>
                <tr>
                  <td>图7-4 巩膜弧长的计算</td>
                  <td>图7-5 环扎引起的视网膜放射状皱褶</td>
                </tr>
                <tr class="inlinetext-left">
                  <td>巩膜弧长（S）可以通过巩膜弦长（C）计算出来，反之，可通过巩膜弧长计算巩膜弦长。公式里的反正弦必须用巩膜弧长的度计算。R=眼球的半径</td>
                  <td>
                    宽的环扎带引起视网膜周径减少，巩膜、脉络膜和视网膜不能缩短来适应巩膜嵴上较小的环形空间，所以，“过多的”视网膜挤成皱褶
                  </td>
                </tr>
              </table>
            </div>
            <h4>四、对眼内形态的影响</h4>
            <p>表层巩膜加压或巩膜内加压产生的压陷作用是为了封闭视网膜裂孔和缓解玻璃体牵拉，巩膜加压块的几何学形状、加压技术和缝线位置决定巩膜凹陷的高度和形态。在治疗某些视网膜脱离时，为了产生高的加压效果，缝线的位置非常重要。缝针穿过巩膜要深和宽度至少在4～5mm，才能对巩膜加压产生最大的张力，如果缝针太浅和宽度较短容易撕裂巩膜，减少巩膜加压的高度。</p>
            <p>决定眼球壁凹陷几何学形状的主要变量包括：①加压的形状；②加压的材料（硅海绵或硅胶块）；③加压缝线的位置；④缝线的张力；⑤加压缝线的张力分布；⑥眼压。如：用一块5mm长的放射状硅海绵加压来分析巩膜凹陷，发现以下因素减少巩膜凹陷，①巩膜缝线两针之间的距离太近或太远；②高眼压；③穿过巩膜的距离短；④结扎不紧；⑤用半块硅海绵而不是用全厚的硅海绵。增加巩膜凹陷的因素包括：眼压低和紧紧地结扎[16,17]。</p>
            <p>巩膜加压的方向也决定巩膜嵴的形状，放射状硅压特别适合于顶压单个马蹄形裂孔[18-20]。中度和高度的环扎和硅压引起视网膜放射状皱褶，因为环形加压迫使眼球赤道部的正常周径减少，而巩膜和视网膜不能够缩小到新的较小的周径，所以“过多的”视网膜、脉络膜和巩膜挤成放射状皱褶，以适应环形加压产生的眼球周径变小（图7-5）。环扎引起的眼球周径减少是视网膜裂孔鱼嘴状的基础[21,22]。放射状加压或楔形加压减少视网膜裂孔鱼嘴状的危险，因为它们与环形巩膜加压相比，较少引起环形方向的缩短。</p>
            <p>在多个视网膜裂孔、环形玻璃体视网膜收缩或视网膜前膜引起的视网膜环形缩短，必须使用环形巩膜加压。细胞介导的玻璃体基底部收缩或与漏斗型视网膜脱离相关的周边视网膜前膜引起的前段环形视网膜收缩，减少周边视网膜周径，在这种情况下，最好使用宽的硅胶环扎，减少眼球壁的周径，使视网膜贴回EPE。术前，应对每个患者进行评价放射状或环形加压的危险和益处，以决定对特定的视网膜裂孔和视网膜脱离形态最理想的巩膜加压形状。</p>
            <h4>五、眼球容积的变化</h4>
            <p>因为球体的表面积最小而含有的液体的容量最大，巩膜加压引起眼球壁内陷替代了玻璃体内的液体，使玻璃体腔的体积减少。替代液体的量取决于加压物的类型和形状。在大多数巩膜加压，置换出的液体量很小，而在较宽的环扎，排出量较多。估计巩膜加压引起眼内容积的变化在以下几种情况很重要：①准备玻璃体腔内注射膨胀气体；②排出多少眼内液体或视网膜下液的量才能满足放置巩膜加压块的需要；③玻璃体腔内注入药物量，能达到治疗浓度，但又不损伤眼内组织，如注入抗生素或抗代谢剂。</p>
            <p>巩膜加压替代的眼内容积可通过以下变量进行预测：①眼球的轴长；②测量加压位于赤道前和／或赤道后的宽度；③加压的周径；④加压的高度。决定巩膜加压眼内容积变化可通过图7-6列出的公式进行计算。当用一块5mm长的硅海绵做放射状加压时，仅仅替代0.2ml的液体，占玻璃体腔容积的12%[23]。所以，放射状放置小块硅海绵，不放视网膜下液仅仅偶尔地引起眼压升高。当放置一条2.5mm宽的硬硅胶环扎带（no. 287型），在有晶状体眼将替代1.3ml～1.7ml（33%～43%）玻璃体腔的容积，这取决于环扎的形状和高度[23]。玻璃体腔容积随着巩膜加压的高度和宽度的增加而减少，表7-1列出了它门之间的关系。</p>
            <h4>六、巩膜加压与眼球硬度</h4>
            <p>眼球硬度是眼内容积变化引起的眼压改变和对眼球弹性的测量。巩膜加压后改变了正常眼球的硬度。在正常眼，向眼内注入数微升液体，眼压就迅速升高。而在巩膜加压眼，向眼内注入盐水或气体，并不象在正常眼那样迅速地升高眼压。因为加压术后减少了玻璃体腔的容积[24,25]，当向眼内注入盐水时，环扎带伸展，眼球变成较少的椭圆形和更接近球形，一旦加压带伸长到眼球的原来形状（在放置加压块以前的状态），眼压将迅速增加。这样，注入眼内的液体最初伸展具有弹性的环扎带（加压块），</p>

            <div class="flow">
              <table border="0" cellspacing="0" align="left" style="width: 300px;" >
                <tr>
                  <td>V=cπ/360(2rh-h2)(w1+w2)</td>
                </tr>
                <tr>
                  <td>V：排出的容积（mm3）</td>
                </tr>
                <tr>
                  <td>c：环形加压（度）</td>
                </tr>
                <tr>
                  <td>r：眼球的内半径（mm）</td>
                </tr>
                <tr>
                  <td>h：加压高度（mm）</td>
                </tr>
                <tr>
                  <td>w1：到赤道前的宽度（mm）</td>
                </tr>
                <tr>
                  <td>w2：到赤道后的宽度（mm）</td>
                </tr>
                <tr>
                  <td><b>图7-6 计算巩膜加压排出玻璃体腔容积的公式</b></td>
                </tr>
              </table>
              <table border="0" cellspacing="0" align="right" style="width: 600px;" >
                  <tr>
                    <td colspan="2">表7-1 估计巩膜加压移出的玻璃体腔容积</td>
                  </tr>
                  <tr>
                    <td>巩膜加压</td>
                    <td>移出的玻璃体腔容积（ml）</td>
                  </tr>
                  <tr>
                    <td>5mm硅海绵的一半</td>
                    <td>0.09-0.15</td>
                  </tr>
                  <tr>
                    <td>3×5mm硅海绵</td>
                    <td>0.11-0.20</td>
                  </tr>
                  <tr>
                    <td>5mm园硅海绵</td>
                    <td>0.14-0.22</td>
                  </tr>
                  <tr>
                    <td>240型硅胶（环形）</td>
                    <td>0.47-0.48</td>
                  </tr>
                  <tr>
                    <td>276型硅胶块（环形</td>
                    <td>1.08-1.13</td>
                  </tr>
                  <tr>
                    <td>287型硅胶块（环形）</td>
                    <td>1.32-1.57</td>
                  </tr>
                  <tr>
                    <td>280型硅胶块（环形）</td>
                    <td>1.82-1.88</td>
                  </tr>
                  <tr>
                    <td colspan="2">摘自Thompson JT, Michels RG. Volume displacement of scleral buckle. Arch Ophthalmol,1985,103:1822-1824.</td>
                  </tr>
              </table>
            </div>
            <p>只有当眼球容积增加，回到原始状态时，它不能扩展缺乏弹性的巩膜，才引起眼压迅速升高。眼球硬度的改变具有以下临床意义，第一，测量眼压的方法依赖正常的眼球硬度，如Schiøtz眼压计，在巩膜加压眼，由于眼球硬度发生了改变，使眼压的测量不准确；第二，在巩膜加压眼注入液体或气体进入眼内，与注入同样容积的液体或气体进入正常眼相比，如果其它因素都相同，前者将较少引起眼压升高。</p>
            <p>玻璃体内注入气体后也减少眼球的硬度，因为玻璃体腔气体比玻璃体腔内的液体更容易被压缩。如果想把气体填充眼的眼压降到正常，必须比正常眼排出更多的眼内液体。与正常眼球的高眼压相比，在眼内气泡和环扎减少眼球硬度的眼，需要排出更多眼内液体才能降低眼压[26]。</p>
            <h4>第二节 巩膜加压对色素上皮和视网膜的影响</h4>
            <p>有许多力量与产生视网膜裂孔和视网膜脱离相关，也有促进视网膜复位的力量，巩膜加压就起着改变前者和加强后者的作用。</p>
            <h4>一、对视网膜的作用力</h4>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="300px;">
                <tr><td><%= image_tag("edu-swmtlss8.jpg") %></td></tr>
                <tr><td>图7-7 矢量</td></tr>
                <tr><td class="inlinetext-left">玻璃体对视网膜的牵拉力有着大小和方向，这些力能用矢量表示，简易计算是加上矢量A和矢量B，从A的末端到B的箭头画出矢量A＋B的结果</td></tr>
              </table>
              <p>在视网膜裂孔、裂孔性视网膜脱离和牵拉性视网膜脱离的发病机制里，玻璃体对视网膜的牵拉力起着重要的作用。对视网膜作用的力有着大小和方向，可用矢量来表达。一种力的矢量用图表示为有方向和长度的箭，矢量的长度与力的大小成比例，方向指向力作用的方向（图7-7）。对矢量进行最简单的加减算术计算以决定作用在同一点的两个力产生的合力，最简单的方法是另外画一个矢量，第一个矢量的箭头与第二个矢量的尾部相连，两个矢量的合力用第三个新的矢量表示，从第一个矢量的末端到第二个矢量的顶端，形成一个三角形（图7-7）。</p>
              <p>第二个重要的概念是矢量力的均衡。如果两个相等大小的矢量力同时作用在同一点，但方向相反，在这一点上不会产生物体移位。一个简单的对抗矢量力保持均衡的例子是在玻璃体后脱离（PVD）的边界处对视网膜的局部牵拉。如果在PVD边界处对视网膜的牵拉被视网膜粘附到眼球壁的力量相抗衡，就不会发生裂孔。如果玻璃体对视网膜的牵拉超过光感受器和RPE的粘附力和视网膜的弹性张力，就会发生视网膜裂孔以重新建立均衡（图7-8）。各种矢量力是怎样作用视网膜导致视网膜裂孔、牵拉性视网膜脱离和裂孔性视网膜脱离，能用矢量代数学帮助理解。巩膜加压能够改变这些矢量的大小和方向，通过这样的方法促进封闭视网膜裂孔和视网膜脱离复位。</p>
            </div>
            <h4>二、导致视网膜裂孔和脱离的力</h4>
            <p>大多数视网膜裂孔被一种及多个联合的力量引起，包括玻璃体的牵拉、液体运动和视网膜前膜的牵拉。</p>
            <table border="0" cellspacing="0" cellpadding="0" style="width: 700px;margin:0 auto">
                <tr>
                  <td><%= image_tag("edu-swmtlss9.jpg") %></td>
                  <td><%= image_tag("edu-swmtlss10.jpg") %></td>
                </tr>
                <tr>
                  <td>图7-8 玻璃体对视网膜的牵拉和视网膜粘附力的均衡</td>
                  <td>图7-9 放射状视网膜牵拉</td>
                </tr>
                <tr class="inlinetext-left">
                  <td>A：如果玻璃体后脱离的力量超过RPE对视网膜的粘附力和视网膜的张力强度，就会发生视网膜裂孔 B：视网膜裂孔的产生，从而在玻璃体后皮质牵拉力和RPE粘附力之间建立起新的均衡</td>
                  <td>玻璃体的重力对玻璃体视网膜粘连处产生牵拉，放射状朝向眼球中央，放射状牵拉比切线牵拉更可能导致视网膜裂孔</td>
                </tr>
            </table>
            <p><b>（一）玻璃体牵拉</b></p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="300px;">
                <tr><td><%= image_tag("edu-swmtlss11.jpg") %></td></tr>
                <tr><td>图7-10 切线视网膜牵拉</td></tr>
                <tr><td class="inlinetext-left">粘附在视网膜表面的视网膜前膜的弹性力引起相当纯粹的切线方向的视网膜牵拉（T1），牵拉平行弯曲的视网膜表面每个点，由于眼球弯曲的表面，视网膜前膜也产生小量向内的放射状牵拉分力（FR）</td></tr>
              </table>
              <p>对弯曲的视网膜表面，玻璃体牵拉（Vitreous traction）可以是多个不同方向的牵拉，如垂直、切线或斜向的牵拉。一个相当纯粹的垂直性（或放射状的）玻璃体牵拉的例子是PVD导致的上方马蹄形视网膜裂孔（图7-9）。当后玻璃体皮质脱离时，重力引起玻璃体皮质从上方的视网膜表面分离。如果玻璃体对视网膜的拉力超过光感受器和RPE的粘附力及视网膜的弹性强度，在玻璃体和视网膜的局部粘连处引起裂孔发生。最初玻璃体的拉力垂直于或斜向视网膜表面，大多数马蹄形视网膜裂孔发生在上方视网膜，说明了对玻璃体的地心引力在产生视网膜裂孔中的重要性。一个相当纯粹的切线方向牵拉视网膜表面的例子是局部视网膜前膜引起黄斑扭曲（图7-10）。尽管因为眼球壁呈凹陷弯曲也有小量向内的放射状牵拉成分，但大多数视网膜前膜对视网膜表面产生切线方向的牵拉[27]。</p>
            </div>
            <p>看起来对视网膜的放射状牵拉比切线方向的牵拉更可能产生视网膜裂孔。大多数引起视网膜裂孔、牵拉性视网膜脱离和裂孔性视网膜脱离的玻璃体视网膜牵拉力量是斜向视网膜表面。斜向玻璃体视网膜牵拉可分为互相垂直的矢量，由各种放射状和切线牵拉混合组成（图7-11）。有些对视网膜产生牵拉的力包括：①和视网膜粘连的玻璃体重力；②在眼球运动或挫伤时通过玻璃体传递到视网膜的惯性力；③由细胞增生在玻璃体视网膜粘连处引起的玻璃体收缩；④在PVD后面的视网膜表面具有收缩性的纤维细胞膜。高度近视眼的眼轴长，眼球快速运动在视网膜表面有着比正视眼更高的切应力（与平面平行的力），使得高度近视眼容易发生视网膜裂孔[28]。</p>
            <p><b>（二）液体运动和视网膜裂孔</b></p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="left" width="300px;">
                <tr><td><%= image_tag("edu-swmtlss12.jpg") %></td></tr>
                <tr><td>图7-11 斜向视网膜牵拉</td></tr>
                <tr><td class="inlinetext-left">玻璃体对视网膜斜向牵拉是由不同的放射状和切线方向的牵拉混合组成，一个来自玻璃体视网膜牵拉的斜向矢量（Fo）能分成互相垂直两个矢量，一个是指向眼球中心的放射状矢量（FR），一个是沿视网膜表面的切线矢量（FT）</td></tr>
              </table>
              <p>玻璃体液化和液体经视网膜裂孔进入视网膜下腔是发生视网膜脱离原因之一[29]，有与玻璃体粘连的裂孔前瓣比没有玻璃体粘连的视网膜圆孔更有可能引起视网膜脱离。玻璃体牵拉翘起的裂孔瓣挡住了眼球转动引起的玻璃体液体运动，一方面对裂孔产生牵拉，增加视网膜脱离的力，另一方面，眼内液体冲击裂孔边缘，像楔形物一样进入视网膜下（图7-12）。一旦视网膜与RPE的正常粘附力被打破，眼球的转动迫使更多的玻璃体液进入视网膜下腔，因此，扩大视网膜脱离。在没有玻璃体牵拉的视网膜圆孔，不容易阻挡眼内液体的运动，较少可能导致视网膜脱离。在视网膜脱离发生后，只有源源不断地有液体通过裂孔进入视网膜下腔才能维持视网膜脱离[30-32]。</p>
            </div>

            <p><b>（三）视网膜前膜和视网膜裂孔</b></p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="300px;" >
                <tr><td><%= image_tag("edu-swmtlss13.jpg") %></td></tr>
                <tr><td>图7-12 眼球运动和裂孔性视网膜脱离</td></tr>
                <tr><td class="inlinetext-left">眼球转动在基底部玻璃体与视网膜粘连处引起玻璃体对视网膜的牵拉，玻璃体液体的惯性可剥离马蹄形裂孔瓣下视网膜，导致视网膜脱离。随着眼球的运动，不断的有玻璃体腔的液体进入视网膜下腔</td></tr>
              </table>
              <p>视网膜表面的细胞增生形成的视网膜前膜可引起视网膜裂孔和视网膜脱离。当视网膜前膜收缩时，在弯曲视网膜表面的粘连之间，以最短距离收缩，这种最短的两点间距离就是一条直线或弦长。在弯曲视网膜表面，三个点之间的最短距离形成一种平面，由一系列直线组成。视网膜前膜最初与视网膜弯曲的内表面相一致，以后发展成牵拉性视网膜脱离，变成一个平面，平面结构的发生减少了视网膜前膜内的切线张力。这类似PVD后面的视网膜前增生引起的牵拉性视网膜脱离（图7-13）。在大多数情况下，玻璃体凝胶也参与了牵拉性视网膜脱离，玻璃体凝胶与纤维细胞性视网膜前膜的粘连可对视网膜产生另外的放射状或斜向牵拉，导致更加复杂的视网膜脱离外形，如有时在严重糖尿病视网膜病变眼所见到的牵拉性桌面样视网膜脱离（图7-14）。这些对视网膜的放射状、切线方向和斜向的牵拉力也可引起视网膜裂孔，产生牵拉裂孔性视网膜脱离。这时脱离的生物力学更加复杂，因为它们的形状是由玻璃体视网膜牵拉、视网膜的弹性、通过视网膜裂孔的液体流量和视网膜下液的吸收等多种相互作用的力量所决定。脱离的视网膜将表现所有这些协同和对抗力量的平衡形状。</p>
            </div>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" style="width: 700px;margin:0 auto" >
                <tr>
                  <td><%= image_tag("edu-swmtlss14.jpg") %></td>
                  <td><%= image_tag("edu-swmtlss15.jpg") %></td>
                </tr>
                <tr>
                  <td>图7-13 视网膜前膜的收缩力</td>
                  <td>图7-14 牵拉性桌面样视网膜脱离</td>
                </tr>
                <tr class="inlinetext-left">
                  <td>A：视网膜前膜的切线张力（T1）和它产生的放射状收缩力（FR）可超过视网膜和RPE的粘附力，如果放射状视网膜牵拉力（FR）超过RPE对视网膜的粘附力（FA），就发生局部牵拉性视网膜脱离 B：牵拉性视网膜脱离消除了对视网膜的放射状牵拉，并且也将视网膜前膜的张力减少到最小</td>
                  <td>牵拉性桌面样视网膜脱离的形状是切线（FT）和斜向（FO）玻璃体视网膜牵拉力量联合形成，这种牵拉力  被促进视网膜再复位的力量如视网膜下液的吸收（FP）所对抗</td>
                </tr>
              </table>
            </div>
            <h4>三、促进视网膜复位的力</h4>
            <p>许多生理性力量维持或恢复视网膜神经上皮与RPE的粘附（第一章第三节），巩膜加压术改变了玻璃体牵拉、视网膜前膜和液体运动的作用。</p>
            <p><b>（一）视网膜和RPE间的生理性粘附</b></p>
            <p>有几种因素促进视网膜和RPE间的粘附。首先，RPE和光感受器交叉对插的微绒毛突起之间的粘性粘多糖物质，帮助RPE和光感受器的粘附[33]，这种作用仅占视网膜和RPE粘附的小部分。第二，在脉络膜和视网膜下腔之间的渗透压差对视网膜和RPE的粘附起着另一小部分的促进作用[34,35]，这种渗透压差是由于脉络膜内的蛋白质不能容易通过RPE和玻璃膜进入视网膜下腔而产生 [36]。第三，在视网膜面的流体静力压促进视网膜和RPE粘附，流体静力压是在生理性眼压下，玻璃体内液体推视网膜的力量。是由于眼内液体不能自由通过视网膜和RPE而产生，而不是液体从玻璃体通过视网膜而产生[37]。流体静力压与RPE泵无关，可解释为什么切除眼球壁时切除了脉络膜和RPE后，视网膜仍能保持复位，如切除脉络膜色素瘤[38]。然而，这种小的压差还没法直接测量[39]。最后，维持视网膜复位的最重要的因素是RPE泵，主动地排除视网膜下腔的液体、促进RPE和光感受器粘附[19]。在生理性情况下，这四种类型的力一起维持视网膜和RPE的紧贴。玻璃体的牵拉和视网膜裂孔可破坏这些促粘附的力，导致视网膜脱离。</p>
            <p>当牵拉力引起视网膜伸长时，视网膜本身也象一种粘弹性物质。视网膜在较低的速度剥离时比较高的速度剥离具有更大的伸展率[40,41]。较小的牵拉力长期作用在视网膜比短时期较大牵拉力的作用倾向产生更大范围的牵拉性视网膜脱离或裂孔[42]。这能解释为什么相对小的慢性玻璃体牵拉能产生一个广泛的牵拉性视网膜脱离，而短期较大力量的玻璃体牵拉（如眼外伤）可不产生视网膜脱离，产生视网膜裂孔，而不是牵拉性视网膜脱离。视网膜的这些特性是粘弹性物质的力学表现，依赖于剥离的速度。由于主动代谢过程（如RPE泵）有利于视网膜粘附，需要产生视网膜裂孔和视网膜脱离的力在活体内比在体外更大[43]。在已经存在玻璃体牵拉、视网膜裂孔和眼内液体流动的眼，可以克服这些粘附力，导致视网膜脱离。巩膜加压和脉络膜视网膜粘结术对抗视网膜脱离的力，帮助重新建立视网膜和RPE间的粘附。</p>
            <p><b>（二）脉络膜视网膜粘连术</b></p>
            <p>有三种不同的热疗设备用于在视网膜脱离的裂孔周产生脉络膜视网膜永久粘连。第一种是透热法（diathermy），靠电流应用到巩膜的外边，当电流通过巩膜时，对巩膜、RPE和视网膜产生烧灼。烧灼过的部位经过RPE增生导致脉络膜视网膜粘连或瘢痕。第二种是冷冻粘结术（cryopexy），靠冷凝应用到巩膜外边或从内面到视网膜表面。冷凝通过巩膜、脉络膜、RPE和视网膜，诱导瘢痕形成。与透热法相比，冷凝引起巩膜改变最小。第三种是激光，是从内面聚焦激光在视网膜上或从外面使用半导体激光做视网膜粘结术。激光能量主要被含有色素的RPE和脉络膜吸收，导致脉络膜视网膜瘢痕。激光光凝不引起巩膜的改变。</p>
            <p>透热、冷凝和光凝形成的脉络膜视网膜粘连有着相似的粘连强度，如果不存在对视网膜的牵拉，肯定足够维持视网膜和RPE的粘附。但这三种疗法发生脉络膜视网膜粘连的速度并不相同，光凝比冷凝或透热产生更迅速的脉络膜视网膜粘连[44,45]，光凝诱导的脉络膜视网膜粘连在24小时内就已经开始，在3天内迅速增加，而冷凝或透热形成的粘连至少要几天才开始形成，直到2周以后才达到最大强度粘连[44,45]。</p>
            <p><b>（三）巩膜加压和玻璃体牵拉</b></p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" width="300px;" align="left" >
                <tr><td><%= image_tag("edu-swmtlss16.jpg") %></td></tr>
                <tr><td>图7-15 跨玻璃体腔的收缩力</td></tr>
                <tr><td class="inlinetext-left">跨玻璃体腔的收缩力是常数（k）与跨玻璃体腔的距离（x1或x2）的乘积。环扎嵴低的跨玻璃体腔的力（F1）比环扎嵴高的跨玻璃体腔的力（F2）要大，因为前者跨玻璃体腔的距离比后者大</td></tr>
              </table>
              <p>巩膜加压在几个方面抵消了引起视网膜脱离的力。在裂孔性视网膜脱离，巩膜加压产生的眼球壁内陷能减少玻璃体对视网膜裂孔的牵拉，在牵拉性视网膜脱离也减少玻璃体的牵拉，减轻脱离范围或完全消除脱离。在牵拉裂孔性视网膜脱离，玻璃体的牵拉引起视网膜裂孔翘起，使玻璃体腔内的液体经视网膜裂孔进入视网膜下腔，引起持续地视网膜脱离。巩膜加压通过减少玻璃体对视网膜裂孔的牵拉程度和可能改变牵拉的方向而缓解玻璃体视网膜牵拉。环形巩膜加压通过减少玻璃体基底部的周径和直径而减少跨视网膜之间的牵拉。这种作用能通过把玻璃体比成一种弹簧，用Hook定律来理解。一个拉长的弹簧比最短的弹簧有更大的拉力（图7-15），弹性力直接与弹簧被拉长的距离成比例，用环扎带减少玻璃体腔的直径就减少了跨玻璃体腔的牵拉。改变玻璃体对视网膜牵拉的量和方向，将均衡力量转向有利视网膜复位。</p>
            </div>

            <p><b>（四）巩膜加压和视网膜表面牵拉</b></p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="300px;" >
                <tr><td><%= image_tag("edu-swmtlss17.jpg") %></td></tr>
                <tr><td>图7-16 视网膜前膜的收缩力</td></tr>
                <tr><td class="inlinetext-left">粘附在视网膜凹面的视网膜前膜张力产生切线力（T1）和在视网膜前膜的每个点产生放射状力（FR），放射状力倾向拉视网膜离开RPE，正常情况下，这种向内的放射状力量被视网膜粘附到RPE的力量所抗衡（FA）</td></tr>
              </table>
              <p>视网膜前细胞增生对视网膜产生牵拉，促使牵拉性视网膜脱离，如果这种力量强大的足以撕裂视网膜，可突然发生裂孔性视网膜脱离。视网膜前膜沿着凹面的眼球壁对视网膜产生牵拉，牵拉力由两个矢量组成，第一个是切线方向，由有收缩性的视网膜前膜的张力引起，第二个是放射状朝内，指向眼球的中心，是弯曲表面的切线牵拉的结果（图7-16）。沿着视网膜前膜的每个点都对视网膜是一种小的切线力，朝向眼球中央。放射状朝向内的力量倾向拉视网膜前膜和视网膜离开RPE，正常情况下，这种放射状力被视网膜粘附到RPE的力所抗衡。如果视网膜前膜的张力变得极大，放射状向内的力量可超过RPE的粘附力，就引起视网膜裂孔或脱离。</p>
            </div>
            <p>对视网膜切线牵拉的放射状力量能够用图7-17的公式算出[27]。对视网膜的每单位放射状向内的力量与视网膜前膜的张力成比例。在视网膜前膜内的张力越大，放射状向内促使视网膜脱离的力就越大。来自视网膜前膜的放射状向内的力与眼球壁的曲率半径成反比。因此，如果其它变量相等，小曲率半径的视网膜前膜比大曲率半径的同样视网膜前膜对视网膜施加更多的放射状向内的力。</p>
            <p>公式7-17也解释了在邻近视网膜前膜的裂孔眼和在继发视网膜前增生的牵拉性视网膜脱离眼，巩膜加压是怎样促进视网膜脱离复位。巩膜加压将正常眼球壁的凹陷弯曲形态改变成巩膜压陷的突起形态。没有巩膜加压时，在视网膜表面的视网膜前膜引起放射状力指向眼球中心，在巩膜加压后，放射状力指向加压弯曲突起的中心（图7-18）。巩膜加压翻转了视网膜前膜引起放射力的方向，从指向内促进视网膜脱离到指向外促进视网膜复位。而且，因为巩膜加压表面的视网膜曲率半径比眼球壁的凹陷曲率半径要小的多，巩膜加压促进视网膜复位的放射状向外的力量比最初的促使视网膜脱离的放射状向内力量更大。</p>
            <div class="flow">
              <table border="0" cellspacing="0" cellpadding="0" style="width: 700px;margin: 0 auto">
                <tr>
                  <td><%= image_tag("edu-swmtlss18.jpg") %></td>
                  <td><%= image_tag("edu-swmtlss19.jpg") %></td>
                </tr>
                <tr>
                  <td>图7-17 视网膜前膜向内的收缩力</td>
                  <td>图7-18 巩膜加压改变视网膜脱离的矢量</td>
                </tr>
                <tr class="inlinetext-left">
                  <td> 弯曲视网膜表面的视网膜前膜向内放射状力量的大小能从对视网膜的张力（T）和眼球曲率半径（r）计算得出。视网膜前膜的每单位长度的放射状力（FT）与视网膜前膜的张力成正比，与眼球壁的曲率半径成反比</td>
                  <td>巩膜加压对视网膜的放射状向内的力（F1）逆转成向外的力（F2），因此促进有视网膜前膜的视网膜脱离复位。B是视网膜前膜粘连处，加压后巩膜嵴的曲率半径（r2）比正常凹面眼球壁的曲率半径（r1）更小，促进视网膜复位的力比引起视网膜脱离的力更大 </td>
                </tr>
              </table>
            </div>
            <p>视网膜前膜的矢量力可用紧绷着手套来理解，当手掌弯曲呈杯状时，手套离开掌心，因为手套像一张绷紧的蹦床一样，绷在掌心凹面的边缘处。在杯状手表面的手套类似于视网膜前膜拉视网膜离开RPE一样，如果没有视网膜粘附力存在抵消视网膜前膜对视网膜的放射状向内的力量，牵拉性视网膜脱离总是发生在有视网膜前增生处。当手掌尽量伸直和变平，弹性的手套被拉紧，贴回到掌心。这类似巩膜加压改变凹陷的眼球壁成为凸起的形状，促进视网膜复位。既然视网膜必须适应增加的手术嵴的弧长，放射状巩膜加压也通过轻微的伸展在手术嵴上的视网膜，帮助关闭视网膜裂孔[18]。覆盖在正常眼球壁内层的视网膜必须伸展在放射状巩膜加压形成的手术嵴上（图7-19）。</p>
            <p><b>（五）巩膜加压和液体运动</b></p>
            <div>
              <table border="0" cellspacing="0" cellpadding="0" align="right" width="300px;">
                <tr><td><%= image_tag("edu-swmtlss20.jpg") %></td></tr>
                <tr><td>图7-19 巩膜嵴促进视网膜复位</td></tr>
                <tr><td class="inlinetext-left">当巩膜加压顶起眼球壁时，视网膜被拉长。上方图从A到B的距离比下方图A′ 到B′的距离短些</td></tr>
              </table>
              <p>巩膜加压可改变液体通过视网膜裂孔的流动。当巩膜加压顶起眼球壁时，视网膜裂孔和RPE间的距离减少，将已有的视网膜下液从裂孔处移开，促使RPE和视网膜裂孔紧贴在一起。在决定视网膜是否复位或继续脱离时，视网膜裂孔离RPE的距离很重要。视网膜裂孔离RPE越近，促使视网膜脱离复位的力就越大。巩膜加压促使裂孔性视网膜脱离复位的力已有定量模型研究[30]，视网膜脱离复位的力量来自RPE泵对视网膜下液的吸收，使视网膜和RPE紧密相贴。这个模型预测，视网膜脱离复位力与视网膜裂孔到巩膜嵴上RPE的距离的3次方成反比，距离减少一半引起视网膜脱离复位力增加8倍。因此，离RPE 3mm以内的大多数视网膜裂孔，不排视网膜下液将自发地复位，并在临床上得到肯定[30]。</p>
            </div>
            <p>正如以前的讨论，与眼球转动相关的眼内液体流动在产生和维持视网膜脱离方面很重要[29]。巩膜加压可改变视网膜脱离眼的液体流动方向和大小，减少玻璃体液体通过裂孔进入视网膜下腔。巩膜加压也能把玻璃体液体从裂孔处移开，使未液化的浓密玻璃体凝胶能塞住裂孔，当裂孔被塞住时，就阻挡玻璃体腔的液体流经视网膜裂孔[46]。较大的巩膜加压可移走大量的液体玻璃体，留下浓密的玻璃体凝胶在玻璃体腔塞住视网膜裂孔。如果需要追加填充，由于气体可在裂孔处产生气水界面的高表面张力，眼内注气能排除或减少玻璃体液体通过视网膜裂孔的运动。</p>
            <p>巩膜加压减少玻璃体牵拉和玻璃体内液体流经视网膜裂孔，这样促使视网膜贴回RPE。一旦视网膜裂孔与RPE粘附，冷凝、透热或激光光凝产生的牢固视网膜脉络膜粘连，将维持永久地关闭视网膜裂孔。</p>
            <h4>参 考 文 献</h4>
            <p>1 Hayashi H, Hayashi K, Nakao F, et al. Corneal shape changes after scleral buckling surgery. Ophthalmology,1997, 104:831-837.</p>
            <p>2  Okada Y, Nakamura S, Kubo E, et al. Analysis of changes in corneal shape and refraction following scleral buckling surgery. Jpn J Ophtalmol,2000,44:132-138.</p>
            <p>3  Harris MJ, Blumenkranz MS, Wittpenn J, et al. Geometric alterations produced by encircling scleral buckles: biometric and clinical considerations. Retina,1987,7:14-19.</p>
            <p>4  Larsen JS, Syrdalen P. Ultrasonograhic study on changes in axial eye dimensions after encircling procedure in retinal detachment surgery. Acta Ophthalmonl,1979,57:337-343.</p>
            <p>5  Buton TC. Irregular astigmatism following episcleral buckling procedure with the use of silicone rubber sponges. Arch Ophthalmol,1973,90:447-448. </p>
            <p>6  Kiernan JP, Leveille AS, Morse PH. Axial length following scleral buckling. Retina,1982,2:176-178.</p>
            <p>7  Rubin ML. The induction of refractive errors by retinal detachment surgery. Trans Am Ophthalmol Soc, 1975,73:452-490.</p>
            <p>8 Goel R, Crewdson J, Chignell AH. Astigmatism following retinal detachment surgery. Br J Ophthalmol,1983,67:327-329.</p>
            <p>9 Wolter JR. Regular astigmatism resulting from retinal detachment surgery in a young man with a disinsertion. J Pediatr Ophthalmol,1967,4:27-29.</p>
            <p>10刘文，林跃生．视网膜脱离手术和玻璃体手术与角膜地形图．刘祖国，林跃生主编，角膜地形图．广州；广东科学技术出版社，第一版，2001,213-226.</p>
            <p>11 Weinberger D, Lichter H, Loya N, et al. Corneal topographic changes after retinal and vitreous surgery. Ophthalmology,1999,106:1521-1524.</p>
            <p>12 Kinoshita M, Tanihara H, Negi A, et al. Vector analysis of corneal astigmatism after scleral buckling surgery. Ophthalmologica,1994,208:250-253.</p>
            <p>13 Fiore JV Jr, Newton JC. Anterior segment changes following the scleral buckling procedure. Arch Ophthalmol,1970,84:284-287.</p>
            <p>14 Sato T, Kawasaki T, Okuyama M, et al. Refractive changes following scleral buckling surgery in juvenile retinal detachment. Retina,2003,23:629-635.</p>
            <p>15 Thompson JT, Michels RG. Comparison of chord length and scleral arc length when placing sutures for episcleral exoplants. Retina,1985,5:225-226.</p>
            <p>16 Boldrey EE. Variation of technique of episcleral sponge placement: effect on scleral indentation for retinal detachment repair. Ann Ophthalmol,1981,13:743-746.</p>
            <p>17 Draegec J,Guthoff R, Moeller J. Correlations between intraocular pressure and resulting scleral indentation after detachment surgery. Ophthalmic Res,1982,14:466-472. </p>
            <p>18 Goldbaum MH, Smithline M，Poole TA, et al. Gemetric analysis of radial buckling. Am J Ophthalmol,1975,79:958-965.</p>
            <p>19 Lincoff H. The rationale for radial buckling. Mod Probl Ophthalmol,1974,12:484-491.</p>
            <p>20 Lincoff H. Kreissig I. Advantages of radial buckling. Am J Ophthalmol,1975,79:955-957.</p>
            <p>21 Pruett RC. The fishmouth phenomenon. I. Clinical characteristics and surgical options. Arch Ophthalmol,1977,95:1777-1781.</p>
            <p>22 Pruett RC. The fishmouth phenomenon. II. Wedge scleral buckling. Arch Ophthalmol1977,95:1782-1787.</p>
            <p>23 Thompson JT, Michels RG. Volume displacement of scleral buckle. Arch Ophthalmol,1985,103:1822-1824.</p>
            <p>24 Friberg TR, Fourman SB. Scleral buckling and ocular rigidity. Arch Ophthalmol,1990,108:1622-1627.</p>
            <p>25 Johnson MW, Han DP, Hoffman KE. The effect of scleral buckling on ocular rigidity.Ophthalmology,1990,97:190-195.</p>
            <p>26 Simone JN, Whitacre MM. The effect of intraocular gas and fluid volumes on intraocular pressure. Ophthalmology,1990,97:238-243.</p>
            <p>27 Michels RG, Thompson JT, Rice TA, et al. Effect of scleral buckling on vector forces caused by epiretinal membranes. Am J Ophthalmol,1987,104:667-669.</p>
            <p>28 David T, Smye S, James T, et al. Time-dependent stress and displacement of the eye wall tissue of the human eye. Med Eng Phys,1997,19:131-139.</p>
            <p>29 Rosengren B, Osterlin S. Hydrodynamic events in the vitreous space accompanying eye movements. Ophthalmologica,1976,173:513-524.</p>
            <p>30 Hammer ME, Retinal reattachment forces created by absorption of subretinal fluid. Doc Ophthalmol Proc Ser,1981,25:61-75.</p>
            <p>31 Pederson JE, Cantrill HL. Experimental retinal detachment. V. Fluid movement through the retinal hole. Arch Ophthalmol,1984,102:136-139.</p>
            <p>32 Tsuboi S, Take-Noic J, Emi K, et al. Fluid dynamics in eyes with rhegmatogenous retinal detachments. Am J Ophthalmol,1985,99:673-676.</p>
            <p>33 Berman ER, Bach G. The acid mucopolysaccharides of cattle retina. Biochem J,1968,108:75-88.</p>
            <p>34 Marmor MF, Abdul-Rahim AS, Cohen DS. The effect of metabolic inhibitors on retinal adhesion and subretinal fluid resorption. Invest Ophthalmol Vis Sci,1980,19:893-903.</p>
            <p>35 Negi A, Marmor MF. The resorption of subretinal fluid after diffuse damage to the retinal pigment epithelium. Invest Ophthalmol Vis Sci,1983,24:1475-1479.</p>
            <p>36 Toris CB, Pederson JE. Experimental retinal detachment. VII. Intravenous horseradish peroxidase diffusion across the blood-retinal barrier. Arch Ophthalmol,1984,102:752-756.</p>
            <p>37 Fatt I, Shantinath K, Flow conductivity of retina and its role in retinal adhesion. Exp Eye Res,1971,12: 218-226.</p>
            <p>38 Foulds WS. Do we need a retinal pigment epithelium (or choroid) for the maintenance of retinal apposition? Br J Ophthalmol,1985,69:237-239.</p>
            <p>39 Maurice DM, Salmon J, Zauberman H. Subretinal pressure and retinal adhesion. Exp Eye Res,1971,12: 212-217.</p>
            <p>40 deGuillebon H, Zauberman H. Experimental retinal detachment: biophysical aspects of retinal peeling and stretching. Arch ophthalmol,1972,87:545-548.</p>
            <p>41 Hammer ME, Peters H, Wu W. Basic mechanical properties of retina in simple elongation. Invest Ophthalmol Vis Sci,1987,28 ( suppl ) :116.</p>
            <p>42 Zauberman H, deGuillebon H, Holly FJ. Retinal traction in vitro: biophysical aspects. Invest Ophthalmol,1972,11:46-55.</p>
            <p>43 Zauberman H, deGuillebon H. Retinal traction in vivo and postmortem. Arch Ophthalmol,1972,87: 549-554.</p>
            <p>44 Bloch D, O’Connor P, Lincoff H. The mechanism of the cryosurgical adhesion. III. Statistical analysis. Am J Ophthalmol,1971,71:666-673.</p>
            <p>45 Yoon YH, Marmor MF. Rapid enhancement of retinal adhesion by laser photocoagulation. Ophthalmology, 1988,95:1385-1388.</p>
            <p>46 Foulds WS. The vitreous in retinal detachment. Trans Ophthalmol Soc UK,1975,95:412-416.</p>

          </div>
          <%= render 'con_educations/count' %>
        </div>
        <div>
          <%= render 'con_educations/comment' %>
        </div>
    </div>
</div>

<% content_for :script do %>
<%= javascript_include_tag 'edu_example' %>
<% end %>
