<%#= image_tag("/assets/education-banner.jpg",alt:'继续教育',:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_educations/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <ul class="edumsglist downModule">
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:裂孔性视网膜脱离外路显微手术)}  do %>
              <p><span>1.刘文</span>裂孔性视网膜脱离外路显微手术——第一节课 与视网膜脱离手术相关的解剖 <span class="fr">2018-2-27</span></p>
            <% end %>
          </li>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:与视网膜脱离手术相关的基本理论)}  do %>
              <p><span>2.刘文</span>裂孔性视网膜脱离外路显微手术——第二节课  与视网膜脱离手术相关的基本理论 <span class="fr">2018-3-1</span></p>
            <% end %>
          </li>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: '/con_educations/viewer?file=/uploads/pdf/视网膜脱离手术基本技能一(1).pdf'}  do %>
              <p><span>3.刘文</span>裂孔性视网膜脱离外路显微手术——第三节课  视网膜脱离手术基本技能一<span class="fr">2018-3-2</span></p>
            <% end %>
          </li>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: '/con_educations/viewer?file=/uploads/pdf/视网膜脱离手术基本技能二.pdf'}  do %>
              <p><span>4.刘文</span>裂孔性视网膜脱离外路显微手术——第四节课  视网膜脱离手术基本技能二<span class="fr">2018-3-5</span></p>
            <% end %>
          </li>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: '/con_educations/viewer?file=/uploads/pdf/裂孔性视网膜脱离的预防.pdf'}  do %>
              <p><span>5.刘文</span>裂孔性视网膜脱离外路显微手术——第五节课  裂孔性视网膜脱离的预防<span class="fr">2018-3-5</span></p>
            <% end %>
          </li>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: '/con_educations/viewer?file=/uploads/pdf/微创全玻璃体切除基本技术.pdf'}  do %>
              <p><span>6.刘文</span>微创全玻璃体切除基本技术<span class="fr">2018-4-4</span></p>
            <% end %>
          </li>
          <li>
            <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: '/con_educations/viewer?file=/uploads/pdf/增生性糖尿病视网膜病变术前玻璃体腔内注射抗VEGF药物有必要吗.pdf'}  do %>
              <p><span>7.刘文</span>增生性糖尿病视网膜病变术前玻璃体腔内注射抗VEGF药物有必要吗？<span class="fr">2018-4-19</span></p>
            <% end %>
          </li>
        </ul>
    </div>
</div>

<%= render partial: 'con_educations/script' %>
