<%= image_tag("/assets/education-banner.jpg",alt:'继续教育',:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_educations/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="whiteBg downModule minh400">
          <iframe src="http://v.qq.com/iframe/player.html?vid=t0606nohhrm" width="100%" height="400px"></iframe>
          <!-- http://cache.tv.qq.com/qqplayerout.swf?vid=y0565q3isic -->
          <p class="centerImgCon">右眼玻璃体积血和视网膜下出血</p>
          <%= render 'con_educations/count' %>
        </div>
        <div>
          <%= render 'con_educations/comment' %>
        </div>
    </div>


</div>

<% content_for :script do %>
<%= javascript_include_tag 'edu_example' %>
<% end %>

