<%= image_tag("/assets/education-banner.jpg",:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_educations/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="whiteBg downModule minh400">
          <ul class="edumsglist">
            <% if params[:doctor]=='刘文' || params[:doctor].blank? %>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:Terson综合征27G免缝合玻璃体切除术)}  do %>
                    <p><span>1.刘文</span>Terson综合征27G免缝合玻璃体切除术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:分支静脉阻塞新生血管27G免缝合玻璃体切除术)}  do %>
                    <p><span>2.刘文</span>分支静脉阻塞新生血管27G免缝合玻璃体切除术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:右眼裂孔性视网膜脱离硅压术)}  do %>
                    <p><span>3.刘文</span>右眼裂孔性视网膜脱离硅压术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:经结膜免缝合27G玻璃体手术)}  do %>
                    <p><span>4.刘文</span>经结膜免缝合27G玻璃体手术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:裂孔性视网膜脱离外路显微手术硅压术)}  do %>
                    <p><span>5.刘文</span>裂孔性视网膜脱离外路显微手术硅压术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:裂孔性视网膜脱离全玻璃体切除术)}  do %>
                    <p><span>6.刘文</span>裂孔性视网膜脱离全玻璃体切除术 <span class="fr">2018-2-25</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:裂孔性视网膜脱离环扎和硅胶加压术)}  do %>
                    <p><span>7.刘文</span>裂孔性视网膜脱离环扎和硅胶加压术 <span class="fr">2018-3-7</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:一种取硅油的简易方法)}  do %>
                    <p><span>8.刘文</span>一种取硅油的简易方法 <span class="fr">2018-3-19</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:右眼玻璃体积血和视网膜下出血)}  do %>
                    <p><span>9.刘文</span>右眼玻璃体积血和视网膜下出血 <span class="fr">2018-3-19</span></p>
                <% end %>
            </li>

            <% end %>

            <% if params[:doctor]=='陈小凤' || params[:doctor].blank? %>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:青白联合手术)}  do %>
                    <p><span>10.陈小凤</span>青光眼白内障联合手术 <span class="fr">2018-4-3</span></p>
                <% end %>
            </li>
            <% end %>

            <% if params[:doctor]=='刘文' || params[:doctor].blank? %>

            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:左眼亚巨大裂孔视网膜脱离外路显微手术)}  do %>
                    <p><span>11.刘文</span>左眼亚巨大裂孔视网膜脱离外路显微手术 <span class="fr">2018-4-9</span></p>
                <% end %>
            </li>
             <li >
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:右眼牵拉性视网膜脱离27G全玻璃体切除术)}  do %>
                    <p><span>12.刘文</span>右眼牵拉性视网膜脱离27G全玻璃体切除术 <span class="fr">2018-4-9</span></p>
                <% end %>
            </li>

            <% end %>

            <% if params[:doctor]=='朱思泉' || params[:doctor].blank? %>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:虹膜悬吊式二期人工晶状体植入术)}  do %>
                    <p><span>13.朱思泉</span>虹膜悬吊式二期人工晶状体植入术　<span class="fr">2018-4-3</span></p>
                <% end %>
            </li>
            <% end %>

            <% if params[:doctor]=='刘文' || params[:doctor].blank? %>

            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:右眼泡状裂孔性视网膜脱离外路显微手术)}  do %>
                    <p><span>14.刘文</span>右眼泡状裂孔性视网膜脱离外路显微手术 <span class="fr">2018-4-11</span></p>
                <% end %>
            </li>

            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:糖尿病玻璃体积血27G全玻璃体切除术)}  do %>
                    <p><span>15.刘文</span>糖尿病玻璃体积血27G全玻璃体切除术 <span class="fr">2018-4-19</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:增生性糖尿病视网膜病变25G全玻璃体切除术)}  do %>
                    <p><span>16.刘文</span>增生性糖尿病视网膜病变25G全玻璃体切除术 <span class="fr">2018-4-19</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:糖尿病牵拉性视网膜脱离27G全玻璃体切除术)}  do %>
                    <p><span>17.刘文</span>糖尿病牵拉性视网膜脱离27G全玻璃体切除术 <span class="fr">2018-4-19</span></p>
                <% end %>
            </li>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:PDR三次玻切术后仍然玻璃体积血)}  do %>
                    <p><span>18.刘文</span>PDR三次玻切术后仍然玻璃体积血 <span class="fr">2018-4-19</span></p>
                <% end %>
            </li>

            <% end %>

            <% if params[:doctor]=='朱思泉' || params[:doctor].blank? %>
            <li>
                <%= link_to 'javascript: void(0)', class: 'js-check-login',  data: {url: con_education_path(:皮质液化老年性白内障手术)}  do %>
                    <p><span>19.朱思泉</span>虹膜悬吊皮质液化老年性白内障手术！<span class="fr">2018-4-19</span></p>
                <% end %>
            </li>
            <% end %>

          </ul>
        </div>
    </div>
    <div>

    </div>
</div>

<%= render partial: 'con_educations/script' %>
