<style type="text/css">

</style>

<%= image_tag("education-banner.jpg",alt:'继续教育',:class => 'marT10') %>
<div class="flow conEducation">
    <%= render 'con_educations/edu_left' %>
    <div class="fr width1020 eduContentCon whiteBg">
        <div class="edu-pagecontent downModule">
          <h3 style="text-align: center">裂孔性视网膜脱离外路显微手术</h3>
          <h4>引 言</h4>
          <p>
            <b><span> </span></b>眼科同仁们好！<span></span>
          </p>
          <p>
            <span> </span>在讲课前，请大家先耐心地把这个故事看完。我的一个学生（准确说是读者），在一个地级市大学附属医院眼科，是一位优秀的眼前段手术医生，一直苦于没有没有机会进修和学习眼底病手术，在临床上吃了很多苦头，也深感内疚和对不起患者。她发誓一定要掌握眼后段手术知识和技术，直到有一天她看到了我独著的《视网膜脱离显微手术学》，从此开始了自学视网膜脱离手术过程。她反复阅读书中内容和观看书中附带典型手术视频，遇到看不懂的地方，她就电话咨询我，终于做第一例视网膜脱离外路显微手术就取得了成功！在一个个成功手术激励下，她又大胆地做了第一例玻璃体手术，又获得了成功！一个接一个被眼科界认为最难的眼底手术被攻破，给她带了极大的幸福成就感和自信，鼓舞她继续开拓创新。如今，她已经是前后段手术全能的眼科医师。<span></span>
          </p>
          <p>
            <span> </span>这个故事说明，<b>第一：</b>视网膜脱离手术并不是高不可攀的禁区，一个有一定眼科基础的医生是完全可以掌握的手术技术；<b>第二：</b>我独著的《视网膜脱离显微手术学》让基层医院的医生能够很容易看懂、通过自学和模仿就能掌握眼底病手术；<b>第三：</b>视网膜脱离外路显微手术比起间接检眼镜下外路手术更容易学习和掌握，因为显微镜下做外路手术看的清楚，心中有数，所以手术效果很好。<span></span>
          </p>
          <p>
            <span> </span>在此，还要先回答一下国内外很多人持有的观点：“现在已经进入微创玻璃体手术时代，很多裂孔性视网膜脱离可以做玻璃体手术，从眼内来封闭视网膜裂孔，不需要做外路手术了”。我可以肯定地回答，这种观点和做法是不正确的！<b>第一：</b>我的眼底病启蒙老师告诉我：“做好外路手术是所有视网膜脱离手术的基础”，只有打好基础，才能做好各种类型的视网膜脱离手术；<b>第二：</b>显微外路手术比做玻璃体手术简单（补充：会做的觉得简单，不会做觉得复杂），所需器械少，容易学习和掌握；<b>第三：</b>外路手术不进入眼内，对眼内无骚扰，术后不会引起或加重晶状体混浊，对保持患者的调节力有非常大的益处；<b>第四：</b>玻璃体手术所需器械复杂、操作复杂、引起的并发症相应增多，而且一出现就是严重的并发症，严重影响视力恢复；<b>第五：</b>显微外路手术的费用低，一般一次就能解决问题。而玻璃体手术费用高（一次就是外路的二倍），需要用硅油的多，需再次手术取硅油。这样使患者增加了比外显微路手术多更多的经济负担和精神损伤；<b>第六：</b>据我多年的临床观察，国内很多医师是因为间接检眼镜下外路手术操作复杂，看不清楚，难于学习和掌握，导致手术效果不好，而放弃外路手术，将所有简单裂孔性视网膜脱离都首选了玻璃体手术。因此，无论从那个角度来讲，能做外路手术的就不要做玻璃体手术，努力学习和掌握外路手术，是我们每个从事眼底病手术医师应尽的责任和义务。<span></span>
          </p>
          <p>
            <span> </span>现在就开始我们的课程。如果大家想系统地阅读眼底病手术知识，可上网购买我主编的《临床眼底病<span>-</span>内科卷和外科卷》，人民卫生出版社出版。《视网膜脱离显微手术学》已经脱销。<span></span>
          </p>
          <p>
            <b><span></span></b>
          </p>
          <p>
            <b>本节分五节课讲：第一节课<span> </span></b><b>视网膜脱离手术基础知识：解剖<span></span></b>
          </p>
          <p>
            <b>第二节课<span> </span></b><b>视网膜脱离手术基本理论：巩膜加压的作用和影响<span></span></b>
          </p>
          <p>
            <b>第三节课<span> </span></b><b>视网膜脱离手术基本技能一：术前检查及手术设计<span></span></b>
          </p>
          <p>
            <b>第四节课<span> </span></b><b>视网膜脱离手术基本技能二：显微镜下外路手术<span></span></b>
          </p>
          <p>
            <b>第五节课<span> </span></b><b>裂孔性视网膜脱离的预防<span></span></b>
          </p>
          <p >
            <b><span></span></b>
          </p>
          <p >
            <b>第一节课 与视网膜脱离手术相关的解剖</b><b></b>
          </p>
          <p>
            <span></span>
          </p>
          <p >
            <b>第一节<span> </span>眼球解剖<span></span></b>
          </p>
          <p>
            <span></span>
          </p>
          <p>
            眼球近似球形，前部<span>1/6</span>为角膜，其曲率半径小而略为突起，后部<span>5/6</span>为巩膜，其半径略大。眼球表面及内面有一些特殊的解剖标志及结构，手术者熟悉这些标志和结构，对玻璃体视网膜疾病的诊断和手术有着非常重要临床意义。<span></span>
          </p>
          <p >
            <b>一、眼球大小</b><b></b>
          </p>
          <p>
            正常人眼球各径线的大小略有不同，前后径（外轴）平均为<span>24mm</span>，水平径平均<span>23.5mm</span>，垂直径平均为<span>23mm</span>，球内轴长平均为<span>22.6mm</span>，赤道部周长平均<span>74.91mm</span>；眼球容积约<span>6.5ml</span>，玻璃体腔容积约<span>4.5ml</span>。<span></span>
          </p>
          <p >
            <b>二、眼球各主要解剖标志</b><b></b>
          </p>
          <div align="right">
            <table border="0" cellspacing="0" cellpadding="0" align="right" width="280px;" >
              <tbody>
                <tr>
                  <td>
                    <p>
                      <span></span>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td class="imgexplain">
                    <p>
                      <!-- <img src="/assets/edu-nkxswm_1.jpg" alt="图1-1 睫状体平部"> -->
                      <%= image_tag("edu-nkxswm_1.jpg",alt:'图1-1 睫状体平部') %>
                    </p>
                    <p>
                      <b>图1-1 睫状体平部</b>
                    </p>
                    <p>
                      <span>压陷三面镜检查：睫状体平部呈棕色（</span><span>*</span><span >），向后是锯齿缘，一般呈白色（箭），向前是睫状冠，本图可见</span><span >3</span><span >～</span><span>4</span><span >个睫状突（箭头）</span><span></span>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <span>1</span>．直肌（<span>rectus
          muscle</span>） 各直肌的宽度不同，分别是内直肌<span>10.3mm</span>～<span>12.3mm</span>，下直肌<span>9.8mm</span>，外直肌<span>9.2mm</span>，上直肌<span>10.6mm</span>。它们距离角膜缘分别是内直肌<span>5.5mm</span>，下直肌<span>6.5mm</span>，外直肌<span>6.9mm</span>，上直肌<span>7.7mm</span>。这些参数对设计手术方式很有帮助，如一裂孔正位于直肌宽度内，一般直肌下预置硅胶块缝线较困难，就要放置长度超过直肌宽度的硅胶块。<span></span>
          </p>
          <p>
            <span>2</span>．斜肌（<span>oblique
          muscle</span>） 上斜肌由眶内上方的滑车窝向后外方延伸，肌腱在上直肌的下方附着在与上直颞侧缘同一子午线上，前端离角膜缘约<span>13mm</span>。下斜肌起自眶下壁的前内侧，经下直肌与眶下壁之间，向后外上伸展，附着与赤道部后外侧的巩膜上。下斜肌止端的前端和外直肌下缘在同一子午线上，止点前端离角膜缘约<span>19mm</span>，止点后端向后上<span>2.2mm</span>和黄斑在巩膜表面的投影位置相对应。<span></span>
          </p>
          <p>
            <span>3</span>．睫状体平部（<span>pars
          plana</span>） 为锯齿缘前和睫状突之间约<span>4.5 mm</span>宽的环状带，正常呈深棕色，在锯齿缘处和基底部视网膜相连（图<span>1-1</span>）。<span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" class="fl" width="280px">
            <tbody>
              <tr>
                <td>
                  <p>
                    <span>
                      <!-- <img  src="/assets/edu-nkxswm_2.jpg" alt="图1-2 视网膜分区和玻璃体"/> -->
                      <%= image_tag("edu-nkxswm_2.jpg",alt:'图1-2 视网膜分区和玻璃体') %>
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p>
                    <b>图1-2  视网膜和玻璃体分区 </b>
                  </p>
                  <p>
                    <span>视网膜和玻璃体分区：玻璃体基底部、周边部、赤道部和后极部；其它部位的玻璃体是晶状体后间隙、玻璃体囊膜韧带、视盘周边部和黄斑中心凹</span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <span>4</span>．锯齿缘（<span>ora
          serrata</span>） 颞侧锯齿缘的齿和凹较细小，不明显，距角膜缘约<span>8mm</span>。鼻侧的齿和凹宽大，明显，距角膜缘约<span>6.6mm</span>。<span></span>
          </p>
          <p>
            <span>5</span>．玻璃体基底部（<span>vitreous
          base</span>） 位于锯齿缘前<span>1</span>～<span>2mm</span>至锯齿缘后<span>2</span>～<span>3mm</span>的环形区域。在该区域内玻璃体纤维与周边部视网膜及睫状体上皮紧密粘连（图<span>1-2</span>）。<span></span>
          </p>
          <p>
            <span>6</span>．视网膜周边部（<span>peripheral
          retina</span>） 赤道部到玻璃体基底部之间的环形区域。<span></span>
          </p>
          <p>
            <span>7</span>．视网膜赤道部（<span>equatorial
          retina</span>） 角膜缘后<span>14.5mm</span>处称赤道，其前后<span>2~3mm</span>带状部称赤道部。视盘到赤道的距离，鼻侧是<span>13.3</span>±<span>1.1mm</span>，颞侧是<span>17.3</span>±<span>1.7mm</span>。<span></span>
          </p>
          <p>
            <span>8</span>．视网膜后极部（<span>posterior
          retina</span>） 涡静脉穿出眼球壁部位后的视网膜，离角膜缘约<span>20mm</span>以后的视网膜区域。<span></span>
          </p>
          <p>
            <span>9</span>．黄斑部（<span>macula</span>） 由颞侧上下枝血管所围绕，直径约<span>5mm</span>的范围。中央见一凹陷为黄斑中心凹（<span>fovea centralis</span>），无血管。有二种方法定位黄斑部在巩膜表面的位置：一是下斜肌止端后缘向后上方<span>2.2mm</span>处，可有较大的个体差异，特别是在高度近视患者，黄斑部在巩膜表面的位置可位于下斜肌止端后缘的后上方<span>4~6mm</span>处。二是睫状后长动脉颞侧支进入巩膜处的下方，位置变异不大，较恒定。<span></span>
          </p>
          <p>
            <span>10</span>．视盘（<span>optic disk</span>） 位于黄斑中心凹鼻侧约<span>4mm</span>处，较中心凹水平面稍高约<span>0.8mm</span>，呈垂直椭圆形，<span>1.5mm</span>×<span>1.75mm</span>，中央的小凹陷称视杯。虽然视盘不是正园形，但在目测眼内标志距离和病变范围大小时，常以视盘直径（<span>disk diameter, DD</span>）<span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" align="right" width="280px;">
            <tbody>
              <tr>
                <td>
                  <p>
                    <span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <span>
                      <!-- <img  src="/assets/edu-nkxswm_3.jpg" alt="图1-3陈浩1"/> -->
                      <%= image_tag("edu-nkxswm_3.jpg",alt:'图1-3陈浩1') %>
                    </span><span></span>
                  </p>
                </td>
              </tr>
              <tr class="imgexplain">
                <td>
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-3 </span>涡静脉分布<span></span></span></b>
                  </p>
                  <p>
                    <span>涡静脉腹壶部位于</span><span>6</span><span>点经线的两侧，共五支（箭），向鼻侧和颞侧有大量分支，但在</span><span >6</span><span>点经线无血管（箭头）</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            为单位，<span>1DD</span>约等于<span>1.5mm</span>。从角膜缘到视盘的弧长，鼻侧是<span>27mm</span>，颞侧是<span>32.5mm</span>。<span></span>
          </p>
          <p>
            <span>11</span>．涡静脉（<span>vortex
          vein</span>） 上下共二对，内上支距角膜缘<span>20.5mm</span>，位于上直肌内缘；外上支距角膜缘<span>22.5mm</span>，位于上直肌外缘旁<span>2mm</span>；内下支距角膜缘<span>20.5mm</span>，位于下直肌内缘旁<span>1mm</span>；外下支距角膜<span>20mm</span>，位于下直肌外缘深面。涡静脉穿出眼球前，在巩膜内约有<span>2mm</span>的穿行路径。涡静脉收集的脉络膜血管在<span>4</span>条直肌之间的巩膜下比较丰富，也较粗大，但在<span>4</span>条直肌正下方的径线位置上，是涡静脉分布的分水岭，血管细小或无血管（图<span>1-3</span>），一般选在<span>6</span>点和<span>12</span>点的径线放视网膜下液。涡静脉的大小和数量有较大的正常变异，手术中需注意。<span></span>
          </p>
          <p>
            <span>12</span>．球结膜（<span>bulbar
          conjuctiva</span>） 覆盖在眼球前部巩膜表面，向前移行为角膜缘和角膜上皮，向后与穹窿部结膜延续。球结膜与其下筋膜疏松相连，故球结膜可推动。<span></span>
          </p>
          <p>
            <span>13</span>．眼球筋膜囊（<span>Tenon’s
          capsule</span>） 分为前筋膜囊和后筋膜囊。前筋膜囊包着直肌的前<span>2/3</span>段及肌间膜，在角膜缘附近<span>3mm</span>范围内与球结膜和巩膜融合。后筋膜囊由肌鞘与肌间膜组成，与下面的巩膜也有结缔组织连接。手术中锐性分离与巩膜面粘连的组织后才方便预置巩膜缝线。上下直肌鞘与斜肌鞘之间均有纤维联系。在做巩膜加压手术时，需做放射状剪开球结膜、角膜缘球结膜剪开和肌止端前筋膜与巩膜的粘连剪开，对肌间膜仅用尖剪刀做钝性分离。在穿过环扎带或硅胶块时，应靠近巩膜，避免损伤直肌鞘；在穿过上下直肌下时，应特别注意不要损伤斜肌鞘。做微创免缝合玻璃体手术时，移位球结膜和球筋膜，有助于关闭巩膜穿刺孔。<span></span>
          </p>
          <p>
            <span>14</span>．睫状前动脉（<span>anterior
          ciliary artery</span>）<span> </span>由眼动脉分支的肌动脉而来，在肌腱止端处发出的分支走行于表层巩膜和巩膜实质内，并分为巩膜上支，前行至角膜缘组成血管网。这些分支位于巩膜表层，特别是角膜缘的返回支，术中剪开角膜缘结膜和分离巩膜表面筋膜时容易损伤这些血管，引起出血。在分离肌间膜时，损伤直肌可损伤睫状前动脉，引起较多的出血，术中应避免损伤直肌。<span></span>
          </p>
          <p>
            <span>15</span>．睫状后长动脉（<span>long
          posterior ciliary artery</span>） 眼动脉发出中央动脉之后，再分出<span>2</span>支，在视神经鼻侧和颞侧稍远处，斜穿巩膜进入脉络膜上腔，在<span>3</span>点和<span>9</span>点径线水平前行达睫状体后部，再发出分支。在<span>3</span>点和<span>9</span>点做直肌下巩膜切开或穿刺放视网膜下液时，应稍微偏离半个钟点位，以免损伤该动脉。同时，也是为了避免损伤穿过该径线的睫状长神经。<span></span>
          </p>
          <p>
            <span>16</span>．睫状长神经（<span>long
          ciliary nerve</span>） 在眼球后分<span>2</span>支，与睫状后长动脉一起，分别在视神经两侧穿过巩膜进入眼内，行走于脉络膜上腔，司角膜感觉。其中交感神经纤维分布于睫状肌和瞳孔开大肌。<span></span>
          </p>
          <p >
            <b>三、眼球壁的厚度</b><b></b>
          </p>
          <p>
            <span>1</span>．巩膜（<span>sclera</span>） 各处的巩膜厚度略有不同，直肌附着处最薄，约<span>0.3mm</span>，视乳头处最厚，约<span>1mm</span>。巩膜炎可引起巩膜变薄，长期高眼压可引起巩膜葡萄肿。在术中偶尔见到与裂孔或变性区对应的巩膜变薄，透见脉络膜而呈深蓝色或黑色，在分离该处筋膜和缝线时，应注意不要穿破巩膜，或避开此处做缝合。<span></span>
          </p>
          <p>
            <span>2</span>．脉络膜（<span>choroid</span>） 前部脉络膜厚度约为<span>0.1mm</span>，该处脉络膜血管较细小；后部脉络膜厚约<span>0.22mm</span>，血管较多，较粗大。<span></span>
          </p>
          <p>
            <span>3</span>．视网膜（<span>retina</span>） 位于锯齿缘处的视网膜最薄，向后逐渐增厚。由于周边部的视网膜薄，血液供应差，且易发生末端小血管闭塞，而发生变性及萎缩，加上玻璃体容易在此处产生粘连牵拉，因此，大多数视网膜裂孔位于周边部视网膜。<span></span>
          </p>
          <p >
            <b>四、屈光不正和眼球的解剖关系</b><b></b>
          </p>
          <p>
            在轴性屈光不正，眼球的前后长度增加，特别是高度近视眼、巩膜葡萄肿，眼球膨大的部位不一致，手术前估计裂孔位置时，考虑这些因素十分重要。为了加深理解，依照眼底镜检查每增加<span>-300</span>度眼球轴长度增加<span>1mm</span>的粗略推算，又根据公式计算眼球周长，周长<span>=2</span>π<span>r</span>或周长<span>=</span>直径×π的几何公式（π是圆周率<span>=3.14</span>，<span>r</span>是曲率半径），得出下列数据供设计手术时参考（表<span>1-1</span>）。<span></span>
          </p>

          <table border="0" cellspacing="0" cellpadding="0" width="0" style="width:80%;" class="edue-eyetable">
            <tbody>
              <tr>
                <th colspan="6">表 1-1  屈光不正与眼轴长度和经线周长的关系</th>
              </tr>
              <tr>
                <td>
                  <p>
                    <span>近视（-D）</span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>眼轴长度（mm</span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>径线周长（mm）</span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>远视（+D）</span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>眼轴长度（mm）</span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>径线周长（mm）</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-3</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>25</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>78.50</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>+3</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>23</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>72.22</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-6</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>26</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>81.64</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>+6</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>22</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>69.00</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-9</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>27</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>84.78</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>+9</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>21</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>65.94</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-12</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>28</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>87.92</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>+12</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>20</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>62.80</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-15</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>29</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>91.06</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>+15</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>19</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>59.66</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-18</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>30</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>94.20</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>+18</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>18</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>56.52</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-21</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>31</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>97.34</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-24</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>32</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>100.48</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-27</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>33</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>103.62</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p >
                    <span>-30</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>34</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span>106.76</span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
                <td>
                  <p >
                    <span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <span></span>
          </p>
          <p >
            <b>第二节<span> </span>玻璃体<span></span></b>
          </p>
          <p>
            <span></span>
          </p>
          <p>
            玻璃体（<span>vitreous</span>）是一种无色透明的凝胶体，位于眼内晶状体后<span>4/5</span>的玻璃体腔。玻璃体在眼底疾病的发生和发展中占有重要的位置，可以说，所有视网膜和（或）玻璃体手术都必须考虑到患眼的玻璃体状态和玻璃体的影响。玻璃体的正常生理和病理改变都对视网膜产生直接和间接的影响，并最终影响到视功能。<span></span>
          </p>
          <p >
            <b>一、玻璃体的解剖和组织学</b><b></b>
          </p>
          <p>
            玻璃体占眼内容积的<span>4/5</span>，容量约为<span>4.5ml</span>，重约<span>4g</span>，其屈光指数为<span>1.337</span>。玻璃体前后径线稍短，前面有一凹面称玻璃体凹，容纳晶状体。后面呈球形，分别与睫状体平部、锯齿缘、视网膜和视盘邻接。从眼内支撑着视网膜紧贴视网膜色素上皮。根据玻璃体的结构密度不同，将玻璃体分为玻璃体皮质和中央玻璃体。<span></span>
          </p>
          <p>
            <b>（一）玻璃体皮质及与邻近组织的粘连<span></span></b>
          </p>
          <p>
            玻璃体皮质（<span>vitreous cortex</span>）是指玻璃体表面与周围组织相贴的部分，厚度约<span>2mm</span>，含玻璃体细胞及纤维细胞，担负着玻璃体的新陈代谢活动。玻璃体皮质并不是一种真正的膜结构，是由玻璃体胶原纤维密集而成，相对坚韧而表面光滑，类似一种薄膜样结构。根据解剖部位不同，玻璃体皮质又可分为玻璃体前皮质、玻璃体基底部和玻璃体后皮质。因玻璃体皮质纤维在玻璃体基底部垂直眼球壁排列，直接与视网膜神经上皮和睫状体非色素上皮牢固粘连，与其它部位皮质的玻璃体纤维成切线方向排列不同。所以，以玻璃体基底部为界，在其前界以前称玻璃体前皮质，在其后界以后称玻璃体后皮质。<span></span>
          </p>
          <p>
            <span>1</span>．玻璃体前皮质（<span>anterior vitreous cortex</span>） 位于晶状体后的部分较薄，中周部与晶状体粘连部分较厚，构成了一个环状的玻璃体的凝缩区域，有后悬韧带纤维插入。这两种结构组成了玻璃体囊膜韧带（<span>Weigert</span>韧带）。环的内缘（<span>Egger’s</span>线）围绕的园形区是玻璃体和晶状体之间的潜在间隙，即晶状体后的<span>Berger</span>间隙，向后与<span>Cloquet</span>管相连（图<span>1-2</span>）。在病理情况下这个间隙才开放，可进入血细胞，炎症细胞和色素。<span></span>
          </p>
          <p>
            前皮质又称玻璃体前界膜或玻璃体膜，从玻璃体前皮质内发出的细微纤维向后扩散逐步消失在玻璃体中。<span></span>
          </p>
          <p>
            <span>2</span>．玻璃体基底部（<span>vitreous base</span>） 是玻璃体皮质的一个特殊部位，玻璃体的纤维跨在锯齿缘上，垂直与基底部的视网膜神经上皮层的弥勒细胞或睫状体非色素上皮的基底膜粘连，形成<span>3</span>～<span>5mm</span>的环形牢固粘连区。玻璃体基底部几乎从不脱离，但在很多情况下（如外伤或手术），玻璃体基底部的脱离是将视网膜和睫状体上皮一起撕脱。玻璃体基底部包括锯齿缘前<span>1</span>～<span>2mm</span>的睫状体平部和后<span>2</span>～<span>3mm</span>视网膜，但在不同年龄和眼内不同位置有所不同。在年纪大的人，玻璃体基底部的后界后移，超过<span>3mm</span>，但鼻侧比颞侧偏前。因此，玻璃体后脱离容易对颞侧产生牵拉，发生颞侧周边部视网膜裂孔更常见。<span></span>
          </p>
          <p>
            <span>3</span>．玻璃体后皮质（<span>posterior vitreous cortex</span>） 与视网膜内界膜相贴，在视盘缘转向前，与<span>Cloquet</span>管相接。正常情况下，玻璃体后皮质与视网膜内界膜粘连，但在视盘边缘、黄斑周围和视网膜的大血管处粘连较紧密。这些紧密粘连随着年龄的增加和在一些眼内病变情况下，可发生玻璃体后脱离。<span></span>
          </p>
          <p>
            <b>（二）中央玻璃体<span></span></b>
          </p>
          <p>
            在裂隙灯下，中央玻璃体（<span>central vitreous</span>）前段较后段反光强，光学切面有两种成分：纤维和位于纤维之间的半透明物质。大部分纤维起源于基底部，均一整齐地从中央到达后极部；部分来源于中周部和赤道部的玻璃体皮质和<span>Cloquet</span>氏管，形成不规则的纤维网。纤维的屈光指数比它们之间的半透明物质屈光指数高；纤维光学切面上只看到反光加强，并在互相交叉点处表现极细微的结节。纤维间的半透明物质在光学切面上呈黑色小带，无完整的光学空间，可存在一些极细的斑点状小颗粒。<span></span>
          </p>
          <p>
            玻璃体管（<span>Cloquet’s canal</span>）是管状结构，由原始玻璃体形成。从晶状体后囊到视乳头，管的前端扩大呈漏斗状，后端较窄止于视乳头前间隙（<span>Martegiani</span>间隙）。玻璃体管壁不是膜样结构，而是一些纤维排列形成。此管呈“<span>S</span>”或“<span>Z</span>”形弯曲，先在前段下降，中间部分上升，最后垂直伸向视乳头。其位置随眼球运动而改变，玻璃体液化时活动度变大。<span></span>
          </p>
          <p>
            <b>（三）玻璃体的三种成分<span></span></b>
          </p>
          <p>
            通过组织学和组织化学观察到玻璃体有三种主要成分。<span></span>
          </p>
          <p>
            <span>1</span>．胶原（<span>collagen</span>） 玻璃体的结构或纤维成分由Ⅱ型胶原组成，纤维丝的直径<span>15</span>～<span>16nm</span>，一个明显的节段长约<span>22nm</span>。皮质区的胶原致密。<span></span>
          </p>
          <p>
            <span>2</span>．透明质酸（<span>hyaluronan</span>） 通过特殊染色可证实玻璃体内存在透明质酸，在染色前先用透明质酸酶处理组织切片，导致染色成为阴性。<span></span>
          </p>
          <p>
            <span>3</span>．玻璃体细胞（<span>hyalocytes</span>） 非常罕见，位于玻璃体皮质区。玻璃体细胞呈卵园形或纺锤形，有一个分叶的核，细胞浆突起，含有一些线粒体和胞浆内网状组织，有微小颗粒和发育良好的高尔基氏器、溶酶体和残余体。玻璃体细胞产生透明质酸和具有组织细胞的功能，但精确的功能还不明确。其它细胞包括纤维细胞和巨噬细胞，偶尔在玻璃体皮质内见到，在病理情况下参与视网膜前膜的增生。<span></span>
          </p>
          <p >
            <b>二、玻璃体的生化</b><b></b>
          </p>
          <p>
            玻璃体<span>99%</span>是水，<span>1.0%</span>是无机盐和低分子量的有机脂质，大约<span>0.1%</span>由可溶性和不溶性蛋白质及透明质酸组成。玻璃体的含水量依赖透明质酸聚合物。透明质酸含有很高的负电荷，当水化作用时，透明质酸聚合物和双极水分子维持一定空间关系。水并不是与透明质酸的化学上结合，而是圈在聚合物形成的网眼中，从而形成一种具有粘弹性的胶体。在玻璃体中加入正电荷分子，如铁和蛋白质，通过改变聚合物的结构减少玻璃体的水化容积。另外，光线照射或代谢产生的自由基也能改变透明质酸的构象，影响与蛋白多糖和胶原的联系，引起胶样基质的分裂。如此，胶原分子交联聚合成平行的胶原纤维束，而解离下来的透明质酸分子吸附水分子，汇合成液化的玻璃体腔隙。玻璃体的空间完整性丧失，导致胶原网状结构塌陷和凝缩（<span>collapse and condensation</span>），发生玻璃体变性（<span>vitreous degeneration</span>）。在某种程度上，所有成年人都发生这种玻璃体变性。<span></span>
          </p>
          <p >
            <b>三、玻璃体的生理</b><b></b>
          </p>
          <p>
            玻璃体是屈光间质的组成部分，对晶状体、视网膜等周围组织起着支持、减震和代谢的作用。在眼球转动过程中，其旋转力通过上述玻璃体与眼内结构的粘连传递到玻璃体。由于晶状体向后突入玻璃体，玻璃体与晶状体后囊在<span>Egger’s</span>线处牢固粘连，对玻璃体的转动起到一种固定或制动作用。<span></span>
          </p>
          <p>
            当眼球开始转动时，眼球壁加速运动，外层玻璃体经过短暂的潜伏期后也开始加速运动。一旦外层玻璃体开始运动，旋转运动从表层玻璃体开始向内传递，直到玻璃体的中央。当眼球转动停止时，转动减速又从外层玻璃体开始，以同样的方式向玻璃体中央传递。向后凸起的晶状体对这种滞后的玻璃体运动起着减弱的作用，玻璃体与眼内的各个粘连处也起着减少玻璃体转动力量的作用。这种玻璃体运动总是滞后眼球壁运动的固有特性是由玻璃体独特的分子结构和粘弹性功能所决定，另一种减少和减弱的玻璃体转动的力量与之和眼内粘连相关。<span></span>
          </p>
          <p>
            在眼球转动中，对眼球壁上产生最大张力的部位由眼球本身的解剖结构所决定。视神经解剖上位于眼底后极部鼻侧稍偏下，在基底部和视盘之间，玻璃体的体积在颞侧及上方比鼻侧及下方更大。也就是，从视盘到鼻侧和下方锯齿缘距离更短，理论上，鼻侧和下方减少旋转张力更大，在这个区域玻璃体结构相对地更加稳定；而颞上从视盘到锯齿缘距离最长，最大旋转张力点是发生在眼球向外转动时，位于颞上象限。<span></span>
          </p>
          <p >
            <b>四、年龄相关的玻璃体变性</b><b></b>
          </p>
          <p>
            玻璃体的组织结构不稳定，随年龄增长而改变，玻璃体从凝胶状态变成溶胶状态即玻璃体液化（<span>vitreous liquefaction or synchysis</span>）。在<span>45</span>～<span>50</span>岁的人群中，玻璃体凝胶的容积显著减少，而液化玻璃体容积增加。在<span>40</span>岁以上的人群中，发现<span>90%</span>的人有中央玻璃体液化。正常透明质酸和胶原连接的破裂，引起玻璃体中央首先出现玻璃体纤维凝缩和液化的玻璃体腔隙。随着年龄增加，一个或多个小液化区扩大或融合成一个大液化腔（图<span>1-4</span>）。实际上，玻璃体的液化可早在<span>4</span>岁时就已开始；在<span>14</span>～<span>18</span>岁眼球达到正常成人大小时，<span>20%</span>的人玻璃体开始液化；到<span>40</span>岁时，玻璃体液化持续稳定地增加，玻璃体凝胶的容积同时减少；到<span>80</span>～<span>90</span>岁时，一半以上的玻璃体液化。<span></span>
          </p>
          <p>
            <b>（一）病理<span></span></b>
          </p>
          <p>
            正如前面提到的玻璃体的正常生化和胶原对维持玻璃体的凝胶状态非常重要。变性的最初是透明质酸分子构象发生改变，胶原分子和透明质酸分离，聚合成胶原纤维束，透明质酸和水聚积在胶原纤维塌陷后的玻璃体空腔内，发生玻璃体液化。代谢变化和敏感光线作用产生的自由基是导致透明质酸和（或）胶原结构改变的诱因。<span></span>
          </p>
          <p>
            <b>（二）结构变化<span></span></b>
          </p>
          <p>
            随着年龄增加，玻璃体的结构发生显著改变。玻璃体由年青时的透明均匀的凝胶状态变为成年后<span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" align="right" width="280px;">
            <tbody>
              <tr>
                <td>
                  <p>
                    <span>
                      <!-- <img  src="/assets/edu-nkxswm_4.jpg" alt="图1-4 谭志彬1,玻璃体凝缩液化,2005,5,12 拷贝" /> -->
                      <%= image_tag("edu-nkxswm_4.jpg",alt:'图1-4 谭志彬1,玻璃体凝缩液化,2005,5,12 拷贝') %>
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p >
                    <b><span>图<span>1-4 </span>玻璃体凝缩和液化<span></span></span></b>
                  </p>
                  <p >
                    <span>玻璃体腔出现白色的胶原纤维条索（箭）和透明液体空腔（星）</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            的纤维状态，到老年时，玻璃体纤维塌陷、增厚和扭曲，发生晚期液化。在近视眼，玻璃体液化比非近视眼更早和更广泛，眼内炎症性疾病和眼外伤加速玻璃体液化。玻璃体液化后容易发生玻璃体后脱离，减弱玻璃体视网膜粘连，液体进入玻璃体后皮质和视网膜内界膜之间，导致玻璃体后脱离。尽管年龄增长引起玻璃体液化增加，玻璃体凝胶减少，但总的胶原容量和透明质酸的容量并不随着年龄而发生改变，它们在玻璃体腔内维持一个相对恒定的总量。<span></span>
          </p>
          <p >
            <b>五、玻璃体的病理改变</b><b></b>
          </p>
          <p>
            现代观点认为，玻璃体的变化明显地影响到视网膜脱离的程度、手术方式的选择以及预后。因此，对玻璃体，尤其是玻璃体的各种病理性改变，必须有充分认识并给予足够的重视。<span></span>
          </p>
          <p>
            从临床资料看，<span>90%</span>以上的视网膜脱离，都有玻璃体的改变。玻璃体改变与视网膜脱离之间，存在着互相影响，互为因果的关系。与视网膜脱离有关的玻璃体改变，常见有以下几种。<span></span>
          </p>
          <p>
            <b>（一）玻璃体脱离<span></span></b>
          </p>
          <p>
            玻璃体脱离（<span>vitreous detachment</span>）是指皮质与其粘连的玻璃体腔壁的分离。一般有三种形式，即玻璃体后脱离，玻璃体前脱离和基底部脱离。除外，当玻璃体后皮质不能顺利地与视网膜分离时，产生许多特殊的临床表现，称异常玻璃体后脱离（<span>anomalous posterior vitreous detachment</span>）。<span></span>
          </p>
          <p>
            1．玻璃体后脱离（<span>posterior vitreous detachment, PVD</span>） 是玻璃体皮质与视网膜内界膜的分离，临床上最常见，<span>50</span>岁以上的人发生率约为<span>58%</span>，年轻人也可以发生，特别是近视或无晶状体眼者。玻璃体皮质虽然后脱离，但仍和视盘粘连称部分后脱离，如果与视盘分离称完全后脱离。<span></span>
          </p>
          <p>
            （<span>1</span>）症状：<span>PVD</span>可迅速发生和没有任何症状。眼前出现漂浮黑影或原有黑影发生变化是<span>PVD</span>和<span>PVD</span>并发症的一个重要的临床症状，常伴有闪光感。症状常突然发生，大多数是由视盘上脱离的胶质组织引起，少部分由出血或变性玻璃体的膜样混浊引起。症状的严重程度及持续时间，取决于混浊物的大小，位置，数目和病人的视力情况。<span></span>
          </p>
          <p>
            闪光（<span>light flash</span>）是玻璃体视网膜粘连部位的视网膜受刺激引起，可持续数周或数年，一般是无害的，也可能是裂孔性视网膜脱离的早期症状。闪光在视野中的位置，可以帮助了解玻璃体视网膜病变的位置，如鼻侧闪光感指示颞侧视网膜受到刺激。<span></span>
          </p>
          <p>
            急性<span>PVD</span>伴视网膜裂孔的发生率在<span>8%</span>～<span>15%</span>，可高达<span>46%</span>。弥漫性点状黑影、玻璃体内细胞和玻璃体积血是发生视网膜裂孔的高危因素。<span></span>
          </p>
          <p>
            （<span>2</span>）检查：典型体征是视乳头前方或下方有圆形或不规则的混浊物，称为视乳头前环（<span>Weiss ring</span>）（图<span>1-5</span>）。周边视网膜前花瓣状物，可能是牵拉撕脱的视网膜裂孔盖。<span>PVD</span>最好用裂隙灯三面镜检查，可见到脱离的玻璃体后界膜下沉，支架纤维收缩，随眼球运动而飘动，待眼球静止后，位于视乳头前下方有环形裂孔样混浊物，呈圆形或半圆形，大小与视乳头相近（图<span>1-5</span>）。<span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" align="left" width="280px;">
            <tbody>
              <tr>
                <td>
                  <p>
                    <span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    <span>
                      <!-- <img src="/assets/edu-nkxswm_5.jpg" alt="图1-5玻璃后脱离2" /> -->
                       <%= image_tag("edu-nkxswm_5.jpg",alt:'图1-5玻璃后脱离2') %>
                    </span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-5 </span>玻璃体完全后脱离<span></span></span></b>
                  </p>
                  <p >
                    <span>在视盘下方的视网膜前，见到漂浮的环状混浊（</span><span>weiss</span><span>环）（箭）</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <span>PVD</span>患者应该散瞳做充分的全眼底检查，如果是完全性后脱离可以暂时放心，以后每年检查<span>1</span>次；不完全后脱离又伴有闪光应间隔<span>3</span>个月检查<span>1</span>次，伴有视网膜裂孔和出血者则按裂孔或出血处理。<span></span>
          </p>
          <p>
            <span>2</span>．玻璃体前脱离（<span>anterior vitreous detachment</span>） 是指玻璃体前界膜与晶状体后囊膜和睫状体平部非色素上皮的分离。玻璃体前脱离很少见，有时见于马方综合征和玻璃体严重收缩或机化的眼，偶见于裂孔性视网膜脱离。睫状体平部玻璃体的前脱离很难检查，用活体超声显微镜可显示该部分的玻璃体前脱离（图<span>1-6</span>）。<span></span>
          </p>
          <p>
            <span>3</span>．玻璃体基底部脱离 玻璃体基底部脱离少见。马方综合征和高度近视眼可自发产生。眼钝挫伤或炸伤引起的脱离，常表现出基底部玻璃体撕脱，似一根鼠尾草或花环进入玻璃体腔，有不同程度的出血或血块（图<span>1-7</span>）。<span></span>
          </p>
          <p>
            <span>4</span>．异常玻璃体后脱离（<span>anomalous
          posterior vitreous detachment</span>） 当玻璃体皮质和视网膜内界膜完全分离时，玻璃体后脱离症状就是患者的唯一主诉。然而，如果玻璃体的改变不是脱离，可对视网膜或玻璃体后皮质、或二者均产生不利的影响，引起临床上的其它症状和体征。<span></span>
          </p>
          <p>
            （<span>1</span>）玻璃体劈裂（<span>vitreoschisis</span>）：是指玻璃体皮质本身分为两层，类似真正的<span>PVD</span>。玻璃体后皮质可一分为二，内层向前移位，留下的外层皮质仍然和视网膜粘连。玻璃体劈裂可发生在糖尿病视网膜病变患者，可能在该疾病的病理生理和预后中起着作用。在黄斑皱纹和黄斑洞的视网膜前膜，也<span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" width="560px" style="margin:0 auto;">
            <tbody>
              <tr>
                <td >
                  <p>
                    <span>
                      <!-- <img src="/assets/edu-nkxswm_6.jpg" alt="11-6" /> -->
                      <%= image_tag("edu-nkxswm_6.jpg",alt:'11-6') %>
                    </span><span></span>
                  </p>
                </td>
                <td >
                  <p>
                    <span>
                      <!-- <img src="/assets/edu-nkxswm_7.jpg" alt="图1-7 蔡春霓,外伤性基底部撕脱" /> -->
                      <%= image_tag("edu-nkxswm_7.jpg",alt:'图1-7 蔡春霓,外伤性基底部撕脱') %>
                    </span><span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p >
                    <b><span>图<span>1-6 </span>玻璃体前脱离<span></span></span></b>
                  </p>
                  <p >
                    <span>从玻璃体基底部到睫状突见到一高回声线（箭头）</span><span></span>
                  </p>
                  <p>
                    <span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p >
                    <b><span>图<span>1-7 </span>玻璃体基底部脱离<span></span></span></b>
                  </p>
                  <p >
                    <span>眼球挫伤引起玻璃体基底部撕脱（箭头），完全撕脱的基底部呈花环状脱入玻璃体腔（箭）</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            可能与劈裂的玻璃体后皮质部分或全部与黄斑持续地粘连有关。<span></span>
          </p>
          <p>
            （<span>2</span>）玻璃体视网膜牵拉（<span>vitreous traction on retina</span>）：当玻璃体皮质存在与视网膜异常牢固的粘连时，<span>PVD</span>达到此部位将对视网膜产生牵拉。这种牵拉可引起视网膜碎片、视网膜皱褶、囊样变性、视网膜劈裂、牵拉性视网膜脱离、视网膜小凹（板层视网膜裂孔）、视网膜血管撕脱和视网膜裂孔（图<span>1-8</span>）。这些较牢固的粘连可发生在视网膜的任何部位，如视乳头周围、黄斑、大血管、格子样变性、锯齿凹融合、视网膜突起、视网膜变性重建部位和玻璃体基底部。血管旁玻璃体视网膜粘连的机制不明，可能与大血管上的内界膜缺损有关。<span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" width="0" width="840px" style="margin:0 auto" >
            <tbody>
              <tr>
                <td >
                  <p >
                    <span>
                      <!-- <img src="/assets/edu-nkxswm_8.jpg" alt="图1-8 陈启立,玻璃膜2,2005,8,18" /> -->
                       <%= image_tag("edu-nkxswm_8.jpg",alt:'图1-8 陈启立,玻璃膜2,2005,8,18') %>
                    </span><span></span>
                  </p>
                </td>
                <td >
                  <p>
                    <span>
                     <!--  <img  src="/assets/edu-nkxswm_9.jpg" alt="图1-retinal tag,林香平2,2006,7,20" /> -->
                     <%= image_tag("edu-nkxswm_9.jpg",alt:'图1-retinal tag,林香平2,2006,7,20') %>
                    </span><span></span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>
                      <!-- <img  src="/assets/edu-nkxswm_10.jpg" alt="图1-10陈启立,牵拉玻璃膜1,2005,8,18" /> -->
                      <%= image_tag("edu-nkxswm_10.jpg",alt:'图1-10陈启立,牵拉玻璃膜1,2005,8,18') %>
                    </span><span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-8 </span>玻璃体视网膜牵拉<span></span></span></b>
                  </p>
                  <p >
                    <span>玻璃体斑与视网膜粘连（箭头），牵拉引起视网膜萎缩性圆孔（箭）</span><span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-9 </span>视网膜碎片<span></span></span></b>
                  </p>
                  <p >
                    <span>视网膜组织小块翘起（箭），前面是囊性视网膜突起（箭头）</span><span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-10 </span>视网膜皱褶<span></span></span></b>
                  </p>
                  <p >
                    <span>玻璃体视网膜粘连收缩，产生放射状视网膜皱褶</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <span></span>
          </p>
          <p>
            （<span>3</span>）玻璃体黄斑牵拉综合症（<span>vitreomacular traction syndrome</span>）：当玻璃体部分后脱离和黄斑区玻璃体不脱离时，对黄斑产生牵拉。牵拉的玻璃体内含有纤维星形细胞、纤维细胞和胶原等结构。<span></span>
          </p>
          <p>
            （<span>4</span>）视网膜碎片（<span>retinal tags</span>）：又叫颗粒样组织（<span>granular tissue</span>），是玻璃体视网膜牵拉的早期，视网膜内表面的小部分翘起，产生一种视网膜碎片，也可以是受累视网膜的内界膜裂孔。常在玻璃体基底部见到多个视网膜碎片，成环形排列在玻璃体脱离的后缘（图<span>1-9</span>）。<span></span>
          </p>
          <p>
            （<span>5</span>）视网膜皱褶（<span>retinal folds</span>）：单纯玻璃体牵拉相关的视网膜皱褶少见，当玻璃体嵌顿在角膜伤口和纤维组织增生进入嵌顿的玻璃体并收缩，在玻璃体与视网膜牢固粘连部位的视网膜已经脱离，可发生视网膜皱褶。前后收缩产生环形视网膜皱褶，环形收缩产生放射状皱褶（图<span>1-10</span>）。<span></span>
          </p>
          <p>
            （<span>6</span>）囊样变性（<span>cystic degeneration</span>）：在任何玻璃体视网膜持续粘连的部位，玻璃体的牵拉可引起视网膜内液体聚积，以后发展成牵拉性视网膜劈裂和牵拉性视网膜脱离。<span></span>
          </p>
          <p>
            （<span>7</span>）视网膜血管撕脱（<span>avulsion of retinal vessels</span>）：是视网膜血管受到牵拉与视网膜分离，是玻璃体积血的一个重要原因。最常见于玻璃体牵拉形成的视网膜裂孔，撕裂的血管粘附着游离的裂孔园盖上，或呈弓形连在翘起的马蹄形裂孔前盖上（图<span>1-11</span>）。这种撕脱的血管既可是动脉，也可是静脉，受到牵拉和视网膜活动，很容易发生再出血。治疗视网膜血管撕脱的最好办法是封闭裂孔，阻塞血管或减少血管活动，巩膜加压手术联合冷冻视网膜裂孔可取得良好的效果。<span></span>
          </p>
          <p>
            （<span>8</span>）视网膜小凹（<span>retinal pits</span>）：又称板层视网膜裂孔，常发生在血管旁区域。由于<span>PVD</span>和牵拉，视网膜内层撕脱，形成分散的病灶，视网膜的动脉或者静脉旁均可发生。<span></span>
          </p>
          <p>
            <span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" width="560px;" style="margin:0 auto" >
            <tbody>
              <tr>
                <td>
                  <p>
                    <span>
                     <!--  <img  src="/assets/edu-nkxswm_11.jpg" alt="图1-11 冼炳坚,视网膜血管撕脱,2005,9,26" /> -->
                     <%= image_tag("edu-nkxswm_11.jpg",alt:'图1-11 冼炳坚,视网膜血管撕脱,2005,9,26') %>
                     </span><span></span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>
                     <!--  <img  src="/assets/edu-nkxswm_12.jpg" alt="图1-12 陈甫礼,圆孔游离盖1,2005,9,15" /> -->
                    <%= image_tag("edu-nkxswm_12.jpg",alt:'图1-12 陈甫礼,圆孔游离盖1,2005,9,15') %>
                    </span><span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p>
                    <b><span>图<span>1-11 </span>视网膜血管撕脱<span></span></span></b>
                  </p>
                  <p>
                    <span>马蹄型裂孔，有裸露的视网膜血管跨在前后瓣之间（箭）</span><span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p>
                    <b><span></span></b>
                  </p>
                  <p>
                    <b><span>图<span>1-12 </span>带游离盖的圆孔<span></span></span></b>
                  </p>
                  <p>
                    <span>玻璃体牵拉形成视网膜圆孔（箭），已经游离的盖仍然在裂孔周围漂浮（箭头）</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <span></span>
          </p>
          <p>
            （<span>9</span>）视网膜裂孔（<span>retinal tears</span>）：当<span>PVD</span>脱到玻璃体与视网膜牢固粘连部位时，牵拉粘连处，发生视网膜裂孔。眼内液体的运动冲击成形的玻璃体界面，对视网膜产生牵拉也可导致视网膜裂孔。牵拉形成典型的马蹄型裂孔，开口端向前，尖端指向后，有玻璃体和视网膜裂孔盖的后缘粘连（图<span>1-11</span>）。进一步牵拉，裂孔盖撕脱，留下圆形或卵园形的孔。游离的视网膜盖膜（<span>operculum</span>）仍然和脱离的玻璃体后表面粘连（图<span>1-12</span>），有时游离的裂孔盖膜不容易被发现。大的脱离的盖膜可形成囊样结构，并逐渐收缩呈团块装混浊物。裂孔可发生在视网膜的任何地方和表现形态多样，如血管旁的裂隙状视网膜裂孔。<span>PVD</span>和视网膜裂孔常是自发性玻璃体积血的原因。然而，并不是所有的视网膜裂孔均与<span>PVD</span>相关。<span></span>
          </p>
          <p>
            <b>（二）玻璃体浓缩<span></span></b>
          </p>
          <p>
            玻璃体浓缩（<span>vitreous concentration</span>）是玻璃体的严重变性或增生，浓缩的玻璃体失去其固有的胶体性质，没有正常玻璃体的活动性，眼球运动时，玻璃体颤动如冻胶状。玻璃体浓缩与视网膜脱离密切相关，可以认为是增生性玻璃体视网膜病变（<span>proliferative vitreoretinopathy, PVR</span>）的临床表现之一，影响着视网膜脱离的病程发展和手术治疗。玻璃体浓缩分局限性和广泛性两种，前者见于局限性玻璃体积血、陈旧性视网膜脱离和视网膜脱离手术后反应过重。一部分玻璃体呈浓缩状态，另一部分相对正常或液化状态。后者见于玻璃体大量积血、多次手术失败、广泛电凝术后或巨大裂孔迅速恶化的病例。玻璃体与视网膜发生广泛粘连，由视网膜裂孔游走出来的胶质细胞、纤维星形细胞进入玻璃体内，常夹杂色素颗粒，看不到玻璃体后界膜和后脱离现象。此时玻璃体与视网膜广泛粘连，使视网膜形成广泛性的固定皱褶，从而加重了视网膜脱离的复杂性及治疗难度。玻璃体浓缩还见于近视患者，以及炎症，外伤，玻璃体视网膜病变等。<span></span>
          </p>
          <p>
            玻璃体浓缩不同于玻璃体凝缩（图<span>1-13</span>），可从以下几个方面区分。凝缩可见于任何年龄组，而浓缩多见于青年人或者玻璃体无液化者；凝缩是胶原纤维的聚积，浓缩是出血和增生的纤维细胞参与引起；凝缩常伴有显著的玻璃体液化和混浊的玻璃体漂浮明显，浓缩的玻璃体很少液化和漂浮不明显（胶胨状），但可有玻璃体后脱离；凝缩的混浊是灰白色，浓缩的混浊可含大量色素颗粒的透明状或呈脓稠的暗黄色（图<span>1-13A</span>）；凝缩的玻璃体容易切除，而浓缩的玻璃体不容易切除，特别是位于玻璃体基底部的浓缩玻璃体。在病因去除后，凝缩的玻璃体将持续存在，而轻度浓缩的玻璃体可恢复正常。<span></span>
          </p>
          <p>
            对玻璃体浓缩，但眼底可见的病例，在视网膜脱离外路显微手术成功后，浓缩的玻璃体可逐渐恢复透明。对浓缩混浊的玻璃体影响检查眼底的病例，必须做玻璃体手术。<span></span>
          </p>
          <p>
            <span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" width="560px;" style="margin:0 auto" >
            <tbody>
              <tr>
                <td>
                  <p>
                    <span>
                      <!-- <img src="/assets/edu-nkxswm_13.jpg" alt="图1-13A 玻璃体浓缩" /> -->
                    <%= image_tag("edu-nkxswm_13.jpg",alt:'图1-13A 玻璃体浓缩') %>
                    </span><span></span>
                  </p>
                </td>
                <td>
                  <p>
                    <span>
                     <!--  <img src="/assets/edu-nkxswm_14.jpg" alt="图1-13B 刘学,慢性玻璃体基底部撕脱,B超" /> -->
                     <%= image_tag("edu-nkxswm_14.jpg",alt:'图1-13B 刘学,慢性玻璃体基底部撕脱,B超') %>
                    </span><span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p >
                    <b><span>图<span>1-13 </span>玻璃体浓缩<span></span></span></b>
                  </p>
                  <p>
                    <span>A</span><span>：玻璃体积血引起玻璃体浓缩呈黄色，图示正在做玻璃体切除</span><span> B</span><span>：</span><span>B</span><span>型超声波术前检查玻璃体腔内浓密的均一混浊</span><span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p>
                    <b><span></span></b>
                  </p>
                  <p>B：B型超声波术前检查玻璃体腔内浓密的均一混浊</p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <b></b>
          </p>
          <p>
            <b>（三）玻璃体增生及机化<span></span></b>
          </p>
          <p>
            玻璃体增生及机化（<span>vitreous proliferation and organization</span>）是玻璃体的严重病理性改变，可对视网膜造成严重的损害，又称为<span>PVR</span>。常见于眼球穿破伤，裂孔性视网膜脱离，全葡萄膜炎，增生型糖尿病视网膜病变，视网膜静脉周围炎，以及视网膜中央静脉阻塞等血管性疾病。增生的纤维条索牵拉视网膜，引起牵拉性视网膜脱离或视网膜裂孔。紧贴视网膜表面的增生膜称为视网膜前膜（<span>epiretinal membranes</span>），它们的收缩，形成视网膜皱褶，使视网膜僵硬和固定（图<span>1-14</span>），增加了手术的难度，明显地影响到手术后的疗效。玻璃体增生膜，包括视网膜前膜的产生机制复杂，涉及多方面的因素，而且很多方面尚不清楚，一般认为是由于血—眼屏障破坏，外来细胞及某些因子，包括各类炎症细胞、免疫细胞、视网膜色素上皮细胞及纤维细胞等进入玻璃体腔并在那里增生所致。<span></span>
          </p>
          <p>
            玻璃体增生膜也可由出血和炎症渗出物转变而来，但临床上最常见的是各种细胞增生形成的的纤<span></span>
          </p>
          <p>
            维细胞膜。玻璃体内血液溶解变性，玻璃体胶原包绕红细胞碎片及变性产物，留下白色机化膜及漂浮<span></span>
          </p>
          <p>
            <span></span>
          </p>
          <table border="0" cellspacing="0" cellpadding="0" width="840px;" style="margin:0 auto">
            <tbody>
              <tr>
                <td>
                  <p>
                    <span>
                      <!-- <img  src="/assets/edu-nkxswm_15.jpg"  /> -->
                      <%= image_tag("edu-nkxswm_15.jpg") %>
                    </span><span></span>
                  </p>
                </td>
                <td >
                  <p>
                    <span>
                      <!-- <img  src="/assets/edu-nkxswm_16.jpg"  /> -->
                      <%= image_tag("edu-nkxswm_16.jpg") %>
                    </span><span></span>
                  </p>
                </td>
                <td >
                  <p>
                    <span>
                     <!--  <img  src="/assets/edu-nkxswm_17.jpg"  /> -->
                      <%= image_tag("edu-nkxswm_17.jpg") %>
                    </span><span></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="imgexplain">
                  <p>
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-14 </span>玻璃体增生和机化<span></span></span></b>
                  </p>
                  <p >
                    <span>视盘前玻璃体膜收缩（箭），视网膜呈闭斗状</span><span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-15 </span>玻璃体内积血机化膜<span></span></span></b>
                  </p>
                  <p >
                    <span>玻璃体腔血色素分解后留下黄白色的膜样组织（箭）</span><span></span>
                  </p>
                </td>
                <td class="imgexplain">
                  <p >
                    <b><span></span></b>
                  </p>
                  <p >
                    <b><span>图<span>1-16 </span>渗出性视网膜前膜<span></span></span></b>
                  </p>
                  <p >
                    <span>玻璃体切除术后，下方视网膜前渗出物转变成视网膜前膜并收缩（箭）</span><span></span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p>
            <span></span>
          </p>
          <p>
            物可达数月或数年之久（图<span>1-15</span>）。外伤、手术或炎症疾病的渗出物也可转变成视网膜前膜（图<span>1-16</span>）。由纤维细胞和其它种类细胞增生合成新胶原纤维形成的纤维细胞膜，与视网膜粘连，引起牵拉性视网膜脱离，也可引起视网膜裂孔（图<span>1-8</span>）。<span></span>
          </p>
          <p>
            根据组织病理形态学分类，视网膜前膜可分为以下六种类型。<span></span>
          </p>
          <p>
            （<span>1</span>）细胞性：胶质细胞起源于<span>M</span><span>ü</span><span>ller</span>氏细胞或星形胶质细胞，<span>PVD</span>时可能撕破了内界膜，胶质细胞通过此裂口进入视网膜前增生（图<span>1-17A</span>）。<span></span>
          </p>
          <p>
            （<span>2</span>）纤维性：细胞少而纤维组织多，见于成熟的增生膜（图<span>1-17B</span>），电镜下见到含胶原和少量成纤维细胞。<span></span>
          </p>
          <p>
            （<span>3</span>）玻璃体皮质：可能是<span>PVD</span>时，玻璃体劈裂留下薄层玻璃体皮质所致（图<span>1-17C</span>）。<span></span>
          </p>
          <p>
            （<span>4</span>）色素上皮型：色素上皮通过视网膜裂孔或锯齿缘离断口进入玻璃体后皮质（图<span>1-17D</span>）。<span></span>
          </p>
          <p>
            （<span>5</span>）炎症性：此膜有显著的炎症细胞，其它部位如视网膜脉络膜也有炎症浸润（图<span>1-17E</span>）。<span></span>
          </p>
          <p>
            （<span>6</span>）混合性：多数视网膜前膜是玻璃体皮质，胶质细胞和纤维组织的混合（图<span>1-17F</span>）。<span></span>
          </p>
          <p>
            一旦玻璃体发生病变，对眼几乎毫无益处。轻者出现飞蚊症和闪光感，重者影响视力，甚至失明。所有眼内增生性疾病均与玻璃体有关，它是眼内增生疾病的支架。增生玻璃体的收缩，引起一系列眼内严重并发症，如出血、视网膜裂孔和视网膜脱离、增生性玻璃体视网膜病变、增生性糖尿病性视网膜病变，术后并发症等。所以，玻璃体手术中，应当尽可能地将所有病变的玻璃体切除干净，预防玻璃体再增生引起手术后并发症。<span></span>
          </p>
          <p>

          </p>
          <p >
            <b>参 考 文 献<span></span></b>
          </p>
          <p>
            <span></span>
          </p>
          <p>
            1
          Kohno T, Sorgente N, Ishibashi T, et al. Immunofluorescent studies of
          fibronectin and laminin in the human eye. Invest Ophthalmol Vis
          Sci,1987,28:506-514.
          </p>
          <p>
            2 Sebag J. ICG-assisted macular hole surgery: too pioneering? Am J
          Ophthalmol,2004,137:744-746.
          </p>
          <p>
            3
          Constable IJ, Horne R, Slatter DH, et al. Regeneration of retinal limiting
          membranes after chorioretinal biopsy in dogs. Invest Ophthalmol Vis
          Sci,1981,20:246-251.
          </p>
          <p>
            4
          Mittleman D, Green WR, Michels RG, et al. Clinicopathologic correlation of an
          eye after surgical removal of an epiretinal membrane. Retina,1989,9:143-147.
          </p>
          <p>
            5
          Miller B, Miller H, Patterson R, et al. Retinal wound healing: cellular
          activity at the vitreoreitnal interface. Arch Ophthalmol,1986,104:281-285.
          </p>
          <p>
            6 Kita
          M, Negi A, Kawano SI, et al. Measurement of retinal adhesive force in the in
          vivo rabbit eye. Invest Ophthalmol Vis Sci,1990,31:625-628.
          </p>
          <p>
            7 Kita
          M, Marmor MF. Retinal adhesive force in living rabbit, cat, and monkey eyes:
          normative data and enhancement by mannitol and acetazolamide. Invest Ophthalmol
          Vis Sci,1992,33:1879-1882.
          </p>
          <p>

          </p>
          <p>
            <span></span>
          </p>
          <%= render 'con_educations/count' %>
        </div>
        <div>
          <%= render 'con_educations/comment' %>
        </div>
    </div>


</div>

<% content_for :script do %>
<%= javascript_include_tag 'edu_example' %>
<% end %>


