<!-- <!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
<meta name="format-detection" content="telephone=no">
<meta content="yes" name="apple-mobile-web-app-capable">
<title>银海眼科暑期高考近视手术征集活动正式启动_成都中医大银海眼科医院</title>
<meta name="keywords" content="银海眼科医院_银海眼科暑期高考近视手术_成都银海眼科医院">
<meta name="description" content="成都中医大银海眼科医院为成都中医药大学附属眼科医院，是集医、教、研三位于一体的研究型大型专科医院.医院治疗项目包括白内障、糖尿病视网膜病变、斜弱视矫正、干眼治疗、玻璃体疾病、屈光手术、近视防控等。">


</head>
<body> -->

<div class="box">
<!--header-->

<header id="header" class="header">
  <div class="home fl"><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"></a></div>
  <div class="logo fl"><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"></a></div>
  <div class="menu fr"><a href="tel:02860102011"></a></div>
</header>

<!--banner-->
<div id="banner" class="banner clear">
  <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn" target="_blank">
    <%= image_tag("zt/banner.jpg") %>

    <!-- <img src="images/banner.jpg" /> -->
  </a>
</div>

<!--main1：征集活动-->
<section  id="main1" class="main1">
  <p class="m1_p1 w90">为了让近视患者早日摆脱眼镜的困扰，享受优惠的摘镜体验，银海眼科特别推出，2019银海眼科暑期高考近视手术征集活动，网络预约可享受以下活动</p>
  <%= image_tag("zt/m1_pic1.jpg") %>

  <!-- <img src="images/m1_pic1.jpg" /> -->
  <ul class="w90">
    <li>① 凡网络预约，可享受<b>减免</b><span>挂号费10元</span><br><i>（仅限普通挂号）</i></li>
    <li>② 可享<b>免费</b>眼健康检查（视力、眼压、裂隙灯检查） <s>原价119元</s></li>
    <li>③ 凡网络预约，可享受近视术前检查，术前检查费和验血费用<b>减免</b><span>200元</span><br><i>（限角膜类的手术术前检查）</i></li>
    <li>④ 高考生，网络预约可<b>享受</b><span>8折优惠</span><br><i>（要凭准考证）</i></li>
    <li>⑤ 非考高生，网络预约可<b>享受</b><span>9折优惠</span></li>
  </ul>
</section>

<!--main2：专家-->
<section  id="main2" class="main2">
  <p>
    <%= image_tag("zt/m2_pic1.jpg") %>
   <!--  <img src="images/m2_pic1.jpg" /> -->
  </p>
    <%= image_tag("zt/team.jpg") %>
  <!-- <img src="images/team.jpg" /> -->
  <div id="me" class="me">
    <div class="bd">
      <ul>
        <li>
          <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn">
            <%= image_tag("zt/zj1.jpg") %>
            <!-- <img src="images/zj1.jpg" /> -->
          </a>
        </li>
        <li style="display:none;">
          <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn">
            <%= image_tag("zt/zj2.jpg") %>
           <!--  <img src="images/zj2.jpg" /> -->
          </a>
        </li>
        <li style="display:none;">
          <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn">
            <%= image_tag("zt/zj3.jpg") %>
            <!-- <img src="images/zj3.jpg" /> -->
          </a>
        </li>
      </ul>
    </div>
    <div class="hd"><ul></ul></div>
  </div>
  <p>
    <%= image_tag("zt/m2_pic2.jpg") %>
    <!-- <img src="images/m2_pic2.jpg" /> -->
  </p>
</section>

<!--main3：手术-->
<section  id="main3" class="main3">

    <!--/全飞秒近视手术/-->
  <div class="m3_a">
    <%= image_tag("zt/m3a_pic1.jpg") %>
    <!-- <img src="images/m3a_pic1.jpg" /> --><br/>
    <p class="m3_p3">
      <%= image_tag("zt/m3a_pic2.jpg") %>
      <!-- <img src="images/m3a_pic2.jpg" /> -->
    </p>
    <h4>手术过程：</h4>
    <ul>
      <li>1、飞秒切削角膜基质层制作角膜基质透镜</li>
      <li>2、飞秒激光制作切口</li>
      <li>3、通过切口取出角膜基质透镜</li>
    </ul>
    <p class="m3_p5">
      <%= image_tag("zt/m3a_pic3.jpg") %>
      <!-- <img src="images/m3a_pic3.jpg" /> -->
    </p>
    <div class="m3a_vv">
      <video class="margin" controls="controls" loop poster="<%= asset_path 'zt/smile.jpg' %>" src='https://ineyewebsite.oss-cn-beijing.aliyuncs.com/video/1561434667933125.mp4'>
       <!--  <source src="js/smile.mp4" type="video/mp4" /> -->
      </video>
    </div>
    <p class="m3a_aa">查看手术过程视频</p>
    <p class="m3a_bb">关闭视频</p>
    <h4 class="m3_h1">全飞秒手术优势</h4>
    <ul>
      <li>1.全程飞秒——无刀治疗、无需联机</li>
      <li>2.独创的smile微创技术，可减少对角膜神经纤维的损伤，提高视觉质量</li>
      <li>3.模拟人体角膜设计的接触镜，保证了治疗时角膜的自然生理状态</li>
      <li>4.术中低负压吸引，避免常规手术中由眼压升高带来的视力丧失</li>
    </ul>
  </div>

    <!--/Smart 全激光手术/-->
  <div class="m3_b">

    <p class="m3_p4">
      <%= image_tag("zt/m3b_pic1.jpg") %>
      <!-- <img src="images/m3b_pic1.jpg" /> -->
    </p>
    <p class="m3_p4">
      <%= image_tag("zt/m3b_pic2.jpg") %>
      <!-- <img src="images/m3b_pic2.jpg" /> -->
    </p>
  </div>

    <!--/瓣飞秒激光手术/-->
  <div class="m3_c">
    <p class="m3_p6">
      <%= image_tag("zt/m3c_pic1.jpg") %>
      <!-- <img src="images/m3c_pic1.jpg" /> -->
    </p>
    <h4>手术过程：</h4>
    <ul>
      <li>1、飞秒激光制作角膜瓣</li>
      <li>2、掀开角膜瓣，准分子激光切削角膜基质</li>
      <li>3、角膜基质切削完成后将角膜瓣盖回</li>
    </ul>
  </div>

    <!--/ICL/-->
  <div class="m3_d">
    <%= image_tag("zt/m3d_pic1.jpg") %>
    <!-- <img src="images/m3d_pic1.jpg" /> --><br/>
    <p class="m3_p1 w90">ICL的英文全称是Implantable Contact Lens（可植入式隐形眼镜），它的出现给屈光手术医生和患者带来了矫正高度近视的另一个安全有效的可行性方案。</p>
    <h4>ICL手术适应症：</h4>
    <ul>
      <li>1.年龄在21周岁以上，45周岁以下。但实际临床工作中，也是根据患者情况来决定。</li>
      <li>2.近视一般建议-2.5D至-20D、散光≤5D；远视+2D~+10D。无内眼手术史及眼内色素膜、视网膜及青光眼等病变，矫正视力良好。</li>
      <li>3.常规检查角膜无已成、房角结构无异常、眼压正常。</li>
      <li>4.前房深度≥2.8mm。</li>
    </ul>
    <h4>ICL手术过程：</h4>
    <ul>
      <li>1、在角膜边缘做一主两副三个小切口</li>
      <li>2、然后通过主切口把微卷的植入式隐形眼镜引入眼内</li>
      <li>3、调整ICL的支撑脚架到虹膜与晶体之间的睫状沟内</li>
    </ul>
    <p class="m3_p2">
       <%= image_tag("zt/m3d_pic2.jpg") %>
      <!-- <img src="images/m3d_pic2.jpg" /> -->
    </p>
    <h4 class="m3_h1">ICL手术的优点</h4>
    <ul>
      <li>1、矫正屈光度范围更广：近视50度～1800度，散光50度～600度。</li>
      <li>2、安全可逆：必要时可取出或更换</li>
      <li>3、防护紫外线：更好保护眼睛</li>
    </ul>
  </div>

</section>


<!--main4：环境-->
<section  id="main4" class="main4">
  <p>中医大银海眼科医院环境</p>
   <%= image_tag("zt/hj.jpg") %>
 <!--  <img src="images/hj.jpg" /> -->
</section>

<!--foot：底部信息-->
<div class="foot w96 clear">
  <ul>
    <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>立即预约</p></a></li>
    <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>电话咨询</p></a></li>
    <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>来院路线</p></a></li>
    <div class="clear"></div>
  </ul>
  <p>
    门诊时间：08:30-17:30（无假日医院）<br/>
    地址：成都市金牛区星辉西路8号<br/>
    2016 成都中医大银海眼科医院 版权所有<br/>
    <%= image_tag("zt/wx.jpg") %>
    <!-- <img src="images/wx.jpg"> -->
    <b>
      <%= image_tag("zt/by.jpg") %>
      <!-- <img src="images/by.jpg"> -->
    </b>
    <span>
      <%= image_tag("zt/f_tel.jpg") %>
      <!-- <img src="images/f_tel.jpg"> -->
    </span>
  </p>
  <div class="gotop"><a href="#header">
    <%= image_tag("zt/gotop.png") %>
    <!-- <img src="images/gotop.png"> -->
  </a></div>
</div>

<!--footer：底部固定-->
<footer class="footer afff">
    <ul>
        <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>优惠活动</p></a></li>
        <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>电话咨询</p></a></li>
        <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>预约挂号</p></a></li>
        <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&lng=cn"><i></i><p>在线咨询</p></a></li>
    </ul>
</footer>
</div>
<%=javascript_include_tag "zt" %>
<!-- <script type="text/javascript" src="js/global.js"></script> -->
<!-- </body>
</html> -->
