<div class="am-g tpl-g">
  <!-- 头部 -->
  <%= render partial: 'administration/v1/shared/navigation_bar' %>
  <!-- 风格切换 -->
  <%= render partial: 'administration/v1/shared/change_theme' %>
  <!-- 侧边导航栏 -->
  <%= render partial: 'administration/v1/shared/sidebar', locals: { options: {list_item: 'banner_edit'}} %>

  <!-- 内容区域 -->
  <div class="tpl-content-wrapper">

    <div class="row-content am-cf">
      <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
          <div class="widget am-cf">
            <div class="widget-head am-cf">
              <div class="widget-title am-fl">修改轮播图</div>
              <div class="widget-function am-fr">
                <a href="javascript:;" class="am-icon-paperclip"></a>
              </div>
            </div>
            <div class="widget-body am-fr">
              <%= render partial: 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<% content_for :meta do %>
<% end %>

<% content_for :body_attr do %>data-type="widgets"<% end %>

<% content_for :style do %>
  <%= stylesheet_link_tag 'administration/v1/shared/fileupload/blueimp-gallery.min' %>
  <%= stylesheet_link_tag 'administration/v1/shared/fileupload/bootstrap-3.2.0.min' %>
  <%= stylesheet_link_tag 'administration/v1/shared/fileupload/jquery.fileupload' %>
  <%= stylesheet_link_tag 'administration/v1/shared/fileupload/jquery.fileupload-ui' %>
  <%= stylesheet_link_tag 'administration/v1/shared/fileupload/fileupload-custom' %>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag '//cdn.staticfile.org/jquery/1.11.3/jquery.min.js' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.ui.widget' %>
    <%= javascript_include_tag '//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js' %>
    <%= javascript_include_tag '//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js' %>
    <%= javascript_include_tag '//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/bootstrap-3.2.0.min' %>
    <%= javascript_include_tag '//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.iframe-transport' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload-process' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload-image' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload-audio' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload-video' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload-validate' %>
    <%= javascript_include_tag 'administration/v1/shared/fileupload/jquery.fileupload-ui' %>

    <%= javascript_include_tag 'administration/v1/banners/new' %>
<% end %>
