<div class="middle">

    <div class="newsMain">
        <div class="newsTitle">
            <h5> 172名藏族同胞因他们重见光明 ——记“视觉第一•高原光明行” 中医大银海眼科医院医疗队赴玉树白内障复明公益活动 </h5>
            <p class="rightWord">2017-09-01</p>
        </div>

        <div>
            <p>成都中医大银海眼科医院携手中国狮子联会组成医疗队，于8月23日从成都中医药大学十二桥校区出发，8月31日上午10点返蓉。往返2200公里，历时9天，为300余名藏族同胞进行眼病诊治，为172名急需治疗的藏族同胞实施了白内障复明手术，让每位患者重获光明，让每个家庭重获希望！</p>
            <p>8月31日下午，我院院长、书记段俊国率全院医护员工在中医大银海眼科医院银海厅迎接以潘学会主任为队长的7人医疗队返院，并隆重举行了“视觉第一·高原光明行”赴玉树白内障复明公益活动医疗队凯旋表彰会。四川省残联康复处杨生明处长、中国狮子联会狮友代表及媒体代表出席了表彰会。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_1.jpg") %>
                <p>医疗队成员在青海省玉树州残疾人康复服务中心</p>
            </div>
            <p>为积极响应国家“精准脱贫”政策，贯彻落实国家卫计委“‘十三五’全国眼健康规划”和“光明扶贫工程”，成都中医大银海眼科医院携手中国狮子联会开展“视觉第一·高原光明行”青海玉树白内障复明手术公益活动。成都中医大银海眼科医院特派7名副主任医师、主治医师、住院医师、护士和成都爱迪眼科医院1名特检师组成精英医疗队，由我院医务部主任潘学会担任医疗队队长。在中国狮子联会和当地残联的大力支持下，中医大银海眼科医院医疗队于8月23日远赴青海玉树开展白内障复明手术公益活动，于8月31日上午10时圆满完成任务，载誉归来。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_2.jpg") %>
                <p>在中医大银海眼科医院银海厅举行启动仪式，段俊国院长致辞</p>
            </div>
            <p>行前，成都中医大银海眼科医院携手中国狮子联会、四川省残联在成都中医大银海眼科医院银海厅举行了青海玉树白内障手术公益援助活动启动仪式。段俊国院长强调：我院医疗队伍将秉承大医精诚·银海启明之精神，解救当地患者于眼疾困苦之中，为患者和家庭送去光明与希望！预祝此次公益援助活动取得圆满成功！</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_3.jpg") %>
                <p>医疗队出发前</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_4.jpg") %>
                <p>医疗队队员与中国狮子联会成员出发前</p>
            </div>
            <p>8月23日，医疗队从成都中医药大学十二桥校区出发。由成都中医大银海眼科医院医务部主任潘学会带队。主治医师陈小凤博士，住院医师肖建强、尹朔、王利萍硕士以及手术室护士刘文艳、周蕾与爱迪眼科医院特检师屈雅兰共同组成白内障手术公益医疗队，奔赴玉树。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_5.jpg") %>
                <p>潘主任先于医疗队抵达玉树州残疾人康复服务中心</p>
            </div>
            <p>8月24日，潘学会主任先于医疗队其他成员顺利抵达玉树州残疾人康复服务中心。没来得及休息，立刻以饱满的热情投入到工作中。由于当地医疗设备条件十分简陋，检查设备损坏。潘主任用随身携带的检眼镜、手电，凭借多年的防盲治盲经验为百余名患者进行术前检查。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_6.jpg") %>
                <p>等候检查治疗的患者排起长队</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_7.jpg") %>
                <p>医疗队队长潘学会主任为患者检查</p>
            </div>
            <p>8月25日，从清晨6点到深夜，在同一间手术室，由潘学会主任和陈小凤主治医师分别同时主刀进行白内障复明手术。连续18个小时的高强度工作让所有人都疲惫不堪，当日完成了64例白内障复明手术。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_8.jpg") %>
                <p>排队等待做白内障手术的患者</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_9.jpg") %>
                <p>由于患者众多，两台手术同时进行</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_10.jpg") %>
                <p>连续高强度工作后，睡眠严重缺少，医护人员席地小憩</p>
            </div>
            <p>8月26日，医疗队队长潘学会在胃痛、睡眠严重不足等情况下，仍带队坚持！面对采访时，他说：“对于我们来说，这是极为普通的一天，但对于病人来说，这却是重见光明的一天！看到藏族同胞们期盼和虔诚的表情，这一切的付出，都是值得的”。该日共计完成65例白内障复明手术。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_11.jpg") %>
                <p>患者感激地拉住肖建强医生的手，久久不愿放开</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_12.jpg") %>
                <p>尹朔医生正在为患者做细致的检查</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_13.jpg") %>
                <p>准备做白内障手术的小男孩</p>
            </div>
            <p>8月27日，由于高原缺水，医疗队成员只能用配给的饮用水进行医疗清洁，即使面临如此艰难的条件，但他们依然完成了39例白内障复明手术。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_14.jpg") %>
                <p>由于高原缺水，只能用饮用水进行医疗清洁</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_15.jpg") %>
                <p>医疗队成员与高龄藏民同胞术后合影</p>
            </div>
            <p>8月28日上午，医疗队在准备返程之时，又慕名来了4名白内障患者，医疗队还是为他们做了白内障复明手术。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_16.jpg") %>
                <p>银海医护人员和狮子会成员受到藏民同胞表扬</p>
            </div>
            <p>8月25至28日，中医大银海眼科医院医疗队为300余位藏族同胞提供了眼科诊治，成功为172位藏族同胞实施白内障复明手术，使他们重获光明与希望！玉树藏族自治州副州长才玉、常委宣传部部长江海梅特地来到现场看望慰问医疗队，并对此次公益援助活动给予高度评价和赞扬，将锦旗赠送给医疗队，以表示衷心的感谢，希望银海眼科医院今后继续支持玉树白内障复明工作。队员们纷纷表示，将秉承“大医精诚·银海启明”之精神，为藏区人民的光明竭尽所能。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_17.jpg") %>
                <p>医疗队成员被赠与洁白的哈达</p>
            </div>
            <p>玉树地区平均海拔高达4200多米，由于海拔高，紫外线强，导致该地区白内障高发。不仅中老年人易患白内障，甚至很多幼童都患有先天性白内障，形成了白内障家族遗传。很多人自出生时，就不曾看到过这美丽的世界。为了帮助患者重见光明，医疗队使用携带的专业的医疗设备为每位患者诊治。即使在身体不适、条件简陋、语言不通、时间紧迫等困难下，他们也依然坚守初心。此次服务的藏族同胞，年龄最大的93岁，最小的只有10岁。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_18.jpg") %>
                <p>老人与孙女洋溢着幸福的微笑</p>
            </div>
            <p>8月29日返程途中，医疗队经过平武县附近山区时，突遇泥石流，险情频发。医疗队成员靠肩扛手推，互帮互助，留下一幕幕感人的瞬间。通过此次白内障公益活动，使成都中医大银海眼科医院与中国狮子联会结下了深厚的友谊，队员之间更是有了过命的交情。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_19.jpg") %>
                <p>大家共同抵御泥石流灾害</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_20.jpg") %>
                <p>一同清理危石路障</p>
            </div>
            <p>在成都中医大银海眼科医院“视觉第一·高原光明行”医疗队赴玉树的同时，成都中医大银海眼科医院副院长、白内障屈光中心主任，首都医科大学附属北京同仁医院白内障科主任朱思泉教授也配合此次活动，8月26日赴内蒙古自治区赤峰市喀喇沁旗锦山镇美林谷康宁寺，参加“第三届康宁寺光明行”活动，共为83位患者成功实施了白内障复明手术，与玉树白内障复明公益活动形成联动。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_21.jpg") %>
                <p>朱思泉教授被赠与荣誉哈达</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_22.jpg") %>
                <p>内蒙古康宁寺光明行启动仪式</p>
            </div>
            <p>8月31日，我院院长段俊国率全院医护员工在银海厅迎接以潘学会主任为队长的7人医疗队返院，并隆重举行了“视觉第一·高原光明行”赴玉树白内障复明公益活动医疗队凯旋表彰会。在会上，段院长向医疗队队长潘学会颁发了“光明队长”荣誉证书；向主治医师陈小凤博士，住院医师肖建强、尹朔、王利萍硕士以及手术室护士刘文艳、周蕾颁发了“光明使者”荣誉证书。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_23.jpg") %>
                <p>迎接医疗队</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_24.jpg") %>
                <p>段院长为医疗队成员颁发荣誉证书</p>
            </div>


            <p>表彰会上，四川省残联康复处处长杨生明说，中医大银海眼科医院此次活动意义重大，成效显著，有力推进了残疾人康复事业的发展。同时，他表示将积极向四川省卫计委和成都市卫计委推荐，争取将成都中医大银海眼科医院纳入省卫计委和省残联实施的白内障复明手术定点医院，从而更好的为白内障患者服务。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_25.jpg") %>
                <p>四川省残联康复处处长杨生明发言</p>
            </div>
            <p>同时，医疗队队长潘学会主任在表彰会上发言，他表示在成都中医大银海眼科医院的大力支持下，在中国狮子联会狮友们的协助下，圆满完成了本次白内障复明公益活动。不仅让当地患者重见了光明，同时还锻炼了年轻医生，丰富了他们的临床经验。潘主任强调，未来将更多的重视援助地区医生的培训工作。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_26.jpg") %>
                <p>成都中医大银海眼科医院医务部主任/医疗队队长潘学会发言</p>
            </div>
            <p>医生代表陈小凤和护士代表刘文艳先后发言，共同表示感谢医院支持这次藏区白内障复明公益活动。她说，身在藏区，心系患者，是医者的责任。看到患者复明后激动的表情，让人为之动容。同时，她们也表达了今后继续从事眼科公益事业的决心。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_27.jpg") %>
                <p>医生代表陈小凤发言</p>
            </div>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_28.jpg") %>
                <p>护士代表刘文艳发言</p>
            </div>
            <p>最后，中医大银海眼科医院院长、书记段俊国讲话，他说：作为成都中医药大学眼科学院和附属眼科医院，成都中医大银海眼科医院从建立之日起，就把眼健康公益事业作为己任，今年三月以来开展了三月眼健康科普月、六月爱眼月、启动与甘孜得荣“对口扶贫·精准复明”计划，这次中医大银海眼科医院携手中国狮子联会开展“视觉第一·高原光明行”赴玉树白内障复明公益活动，体现了中医大银海眼科医院在响应党和国家的号召，把眼科领域扶贫攻坚，精准复明进行到底的决心。</p>
            <div class="newsImgMar">
                <%= image_tag("news_ysgyx_29.jpg") %>
                <p>成都中医药大学眼科学院/成都中医大银海眼科医院院长、书记段俊国教授致辞</p>
            </div>
            <p>他表示，近期中医大银海眼科医院将设立专门公益基金帮扶边远山区、贫困地区和贫困人士眼病治疗和复明。希望全社会爱心人士共同努力，使更多的贫困眼病患者重见光明。</p>

        </div>
    </div>

</div>



