<%= stylesheet_link_tag '404/main' %>

<a href="/">
<div id="universal-preloader">
<div class="preloader">
  <%= image_tag("404/universal-preloader.gif", alt:'universal-preloader', :class => 'universal-preloader-preloader') %>

<!-- <img src="/assets/404/universal-preloader.gif" alt="universal-preloader" class="universal-preloader-preloader" />
 -->

</div>
</div>

<div id="wrapper">

<div class="graphic"></div>


<div class="not-found-text">
<h1 class="not-found-text">亲，页面找不到！</h1>
</div>


<div class="dog-wrapper">

<div class="dog"></div>


<div class="dog-bubble">
</div>

<div class="bubble-options">
<p class="dog-bubble">
<br />
随风奔跑自由是方向，追逐雷和闪电的力量~
</p>
<p class="dog-bubble">
<br />
汪！汪！
</p>
<p class="dog-bubble">
<br />
把浩瀚的海洋装进我胸膛，即使再小的帆也能远航~
</p>
<p class="dog-bubble">
有点饿，想吃个曲奇<br />
<%= image_tag("404/cookie.png",alt:'cookie',style:'margin-top:8px') %>
<!-- <img style="margin-top:8px" src="/assets/404/cookie.png" alt="cookie" /> -->
</p>
<p class="dog-bubble">
<br />
我快到了吗？
</p>
<p class="dog-bubble">
<br />
哎呀，跑得我好累啊！
</p>
<p class="dog-bubble">
<br />
有种感觉，我是一直在转圈吗？
</p>
<p class="dog-bubble">
<br />
好吧，我也迷路了 o(╯□╰)o
</p>
<p class="dog-bubble">
我好像看到了一只 <br /><%= image_tag("404/cat.png", alt: "cat", style: "margin-top:8px")%>
</p>
<p class="dog-bubble">
<br />
我曾经跨过山和大海，也穿过人山人海...ヾ(◍°∇°◍)ﾉﾞ
</p>
</div>


</div>

<div class="planet"></div>

</div>
</a>

<%= javascript_include_tag '404/jquery-1.7.2.min' %>
<%= javascript_include_tag '404/custom-scripts' %>

<script type="text/javascript">



$(document).ready(function(){



  universalPreloader();



});



$(window).load(function(){



  //remove Universal Preloader

  universalPreloaderRemove();



  rotate();

    dogRun();

  dogTalk();




});



</script>



