<div class="enterEyeCommon fl">
    <ul class="">
        <li>
            <h4>眼科学院</h4>
            <p>College of Optometry</p>
        </li>
        <li>
            <%= link_to :'学院简介',science_path(:学院简介) %>
        </li>
        <li>
            <%= link_to :'发展历程',science_path(:发展历程) %>
        </li>
        <li>
            <%= link_to :'专业介绍',science_path(:专业介绍) %>
        </li>
        <li>
            <%= link_to :'师资力量',science_path(:师资力量) %>
        </li>
        <li>
            <%= link_to :'人才培养',science_path(:人才培养) %>
        </li>
        <li>
            <%= link_to :'科研成果',science_path(:科研成果) %>
        </li>
        <li>
            <%= link_to :'交流平台',science_path(:交流平台) %>
        </li>
        <li>
            <%= link_to :'学生风采',science_path(:学生风采) %>
        </li>
    </ul>
    <div class="hosInformation">
        <i class="icon_enter icon_telephone icon_enterIcon"></i>
        <div>
            <p>咨询热线</p>
            <p>400 9900 766</p>
        </div>
    </div>
    <div class="hosInformation">
        <i class="icon_enter icon_time icon_enterIcon"></i>
        <div>
            <p>门诊时间</p>
            <p>08:30-17:30</p>
        </div>
    </div>
</div>