<%= render 'sciences/science_tkd' %>
<%= render "sciences/top_banner" %>
<div class="main flow marT10">
    <%= render "sciences/science_left" %>
    <div class="developHistoryCon whiteBg fr line24">
        <p class="fontB18 marT10 marB10">◆ 国家级特色专业</p>
        <p><b>学制：八年   层次：“5+3”一体化  学位授予：临床医学专业硕士</b></p>
        <p>专业特色</p>
        <div class="centerImgCon marT10 marB10">
            <%= image_tag("specialty-instructionImg.jpg",alt: '专业特色') %>
        </div>
        <div class="bottomMarCon">
            <p><b>培养目标：</b>坚持“八年统筹，强化基础，注重临床，拔尖创新”的培养特色，创新院校教育、师承教育、住院医师规范化培训、专科医师培训和创新能力培养有机结合的人才培养模式，培养具备中医全科基础，精通中医经典，系统掌握中西医眼科理论知识、思维方法和临床技能，传承名医大家学术思想和临床经验，具有创新意识、创新能力和国际交流能力，从事中西医眼科医疗、科研和教学工作的拔尖创新人才。</p>
            <p><b>培养方式：</b>该专业为五年本科教育与三年直接攻读硕士教育相结合，于第五学年开始直接攻读硕士学位。主要课程：中医基础理论、中医诊断学、中药学、方剂学、中医内科学、中医外科学、中医耳鼻喉科学、针灸推拿学、内经选读、伤寒论、金匮要略、温病学；正常人体解剖学、生理学、病理学、药理学、诊断学、内科学、外科学、医学影像学、医学统计学、医学文献信息检索、医学伦理学、病原生物学与医学免疫学、医学遗传学；中医眼科学基础、中医眼科学临床、中医眼科医籍选、眼科学、眼科显微手术学、视光学理论与方法、双眼视觉学、流行病学与循证医学、医学英语、中医英语、生物化学、医学物理学。</p>
            <p><b>就业方向：</b>高级医疗机构，教学和科研机构，国际交流机构，医药卫生行政管理部门等。</p>
            <p class="fontB18 marT10">◆ 本科</p>
            <p><b>学制：四年     专业：眼视光专业     学位授予：理学学士</b></p>
            <p><b>培养目标：</b>培养掌握医学、眼科学、视光学的基础理论知识；掌握眼视光疾病的诊断、预防与治疗的基本技能；掌握眼科常见病的诊断和治疗原则；熟悉有中医特色的眼保健、提高视觉功能的技能；具备开展眼视光学科学研究的初步能力，毕业后能胜任各级综合性医院、专科医院眼视光的临床辅检工作，能从事医学院校教学、科研，以及眼镜企业、眼视光学器械研究部门等工作的专门人才。</p>
            <p><b>主要课程：</b>人体正常解剖学、医用物理学、生理学、病理学、药理学、应用光学基础、眼科光学基础、眼科学基础、临床眼科学、临床视光学、眼视光器械学、验光学、双眼视觉学、视光学理论与方法、屈光手术学、中医药学概论、中医眼科学等。</p>
            <p><b>就业方向：</b>医疗与保健机构，眼视光企业，教学、科研单位，卫生行政管理部门等。</p>
        </div>
        <p class="fontB18 marT10">◆ 研究生</p>
        <p><b>硕士研究生</b></p>
        <p>中医眼科学专业学位、中医眼科学科学学位；</p>
        <p>中西医结合临床（眼科方向）专业学位、中西医结合临床（眼科方向）科学学位 ;</p>
        <p class="marB10">眼科学。</p>
        <p><b>博士研究生</b></p>
        <p>中医眼科学专业学位、中医眼科学科学学位；</p>
        <p>中西医结合临床（眼科方向）专业学位、中西医结合临床（眼科方向）科学学位 ;</p>
        <p class="marB10">眼科学。</p>
        <p><b>博士后流动工作站</b></p>
        <p>中医眼科学</p>
        <p>中西医结合（眼科）</p>
        <div class="centerImgCon marT10">
            <%= image_tag("CollegeWorkImg.jpg",alt: '博士后流动工作站') %>
        </div>
    </div>
</div>
