<%= render 'sciences/science_tkd' %>
<%= render "sciences/top_banner" %>
<div class="main flow marT10 marB10">
    <%= render "sciences/science_left" %>
    <div class="width1020 fr">
        <div class="developHistoryCon line24 whiteBg collegePlatform">
            <div class="borderBTle lineBBorder">
                <span class="font24">学院平台</span>college Platform
            </div>
            <p class="fontG16 marT20">● 教学基地</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform1.jpg",alt: '教学基地') %>
            </div>
            <p class="fontG16">● 科研基地</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform2.jpg",alt: '科研基地') %>
            </div>
            <p class="fontG16">● 临床基地</p>
            <p>历年来承担并完成国家重大科技专项、国家重大科学仪器专项、国家863计划、“九五”及“十五”国家科技攻关、“十一五”“十二五”“十三五”国家科技支撑计划、国家国际科技合作专项、国家公益科技专项、国家自然科学基金等课题90余项，获得包括省科技进步特等奖、一等奖在内的重大科技进步奖30余项，获得国家新药证书及临床研究批件4项，科技成果转化约6千万元，研发上市眼科创新中药新药2个，2017年双双被纳入国家医保目录。</p>
            <p class="fontG16">● 其他临床实践基地</p>
            <p>历年来承担并完成国家重大科技专项、国家重大科学仪器专项、国家863计划、“九五”及“十五”国家科技攻关、“十一五”“十二五”“十三五”国家科技支撑计划、国家国际科技合作专项、国家公益科技专项、国家自然科学基金等课题90余项，获得包括省科技进步特等奖、一等奖在内的重大科技进步奖30余项，获得国家新药证书及临床研究批件4项，科技成果转化约6千万元，研发上市眼科创新中药新药2个，2017年双双被纳入国家医保目录。</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform3.jpg",alt: '其他临床实践基地') %>
            </div>
            <p>2017年7月16日，图为国家中医药管理局副局长闫树江为廖品正国医大师工作室揭幕。</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform4.jpg",alt: '廖品正国医大师工作室') %>
            </div>
            <p>2017年7月16日，成都中医大银海眼科医院成为中国医促会华佗工程眼科分级诊疗联盟四川省中心，图为中国工程院院士、中国医疗保健国际交流促进会会长韩德民教授（右）为中心授牌。</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform5.jpg",alt: '韩德民教授（右）为中心授牌') %>
            </div>
        </div>
        <div class="developHistoryCon marT20 whiteBg line24 collegePlatform">
            <div class="borderBTle lineBBorder">
                <span class="font24">学术平台</span>Academic platform
            </div>
            <p class="marT20">《中医眼耳鼻喉杂志》是2009年经国家新闻出版部门批准，四川省教育厅主管，成都中医药大学主办的“A类学术性科技期刊”季刊，每期大16开64页，面向国内外公开发行，国内统一刊号：CN51-1726/R。</p>
            <p>主要栏目： 论著、专家笔谈、银海探源、理论研究、实验研究、临床研究、国际讲坛、继教园地、经验交流、远程医疗、综述、基层园地、信息动态等。</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform6.jpg",alt: '中医眼耳鼻喉杂志') %>
                <p>中医眼耳鼻喉杂志</p>
            </div>
            <p class="fontG16">● 四川省视力保护科普基地</p>
            <p>2009年6月6日，时任四川省政协副主席陈杰为四川省视力保护科普基地授牌。</p>
            <div class="centerImgCon">
                <%= image_tag("College-platform7.jpg",alt: '四川省视力保护科普基地') %>
            </div>
        </div>
    </div>
</div>
