<%= render 'sciences/science_tkd' %>
<%= render "sciences/top_banner" %>
<div class="main flow marT10">
    <%= render "sciences/science_left" %>
    <div class="developHistoryCon whiteBg fr">
        <div class="centerH5 ">
            <p>学生风采</p>
            <p class="blueSmaTle"><span>Students Activities</span></p>
        </div>
        <div class="developHistory line24">
            <p class="thisIndent2 marT10">学院成立以来，将学生活动开展作为班风学风建设和学生综合素质提升的重要抓手。目前已搭建团学活动、社会实践、志愿服务等学生活动与实践平台。学院学生积极参加学校各类学生活动，取得了丰硕的成绩，展示了我院学生良好的面貌。</p>
            <div class="centerImgCon marT20 marB20">
                <%= image_tag("studentsImgs1.jpg") %>
            </div>
            <div class="centerImgCon marT20 marB10">
                <%= image_tag("students-honor.jpg") %>
            </div>
            <div class="centerImgCon marT10 marB0">
                <%= image_tag("studentsImgs2.jpg") %>
            </div>
            <div class="centerImgCon marT10 marB0">
                <%= image_tag("studentsImgs3.jpg") %>
            </div>
        </div>
        <div class="centerH5 marT20">
            <p>国内外合作与交流</p>
            <p class="blueSmaTle"><span>Internationale Cooperation and Exchange</span></p>
        </div>
        <div class="centerImgCon">
            <%= image_tag("studentsImgs-commit.jpg") %>
        </div>
        <p class="thisIndent2">学院成立以来，将学生活动开展作为班风学风建设和学生综合素质提升的重要抓手。目前已搭建团学活动、社会实践、志愿服务等学生活动与实践平台。学院学生积极参加学校各类学生活动，取得了丰硕的成绩，展示了我院学生良好的面貌。</p>
    </div>
</div>
