<%= render 'sciences/science_tkd' %>
<%= render "sciences/top_banner" %>
<div class="main flow marT10 marB10">
    <%= render "sciences/science_left" %>
    <div class="developHistoryCon whiteBg fr">
        <div class="flow">
            <div class="hosTitle">
                <h4 class="chineseWord">成都中医药大学眼科学院</h4>
                <p>Eye College of Chengdu University of TCM</p>
            </div>
        </div>
        <div class="line30">
            <div class="thisIndent2">
                <p>成都中医药大学眼科学院成立于2015年7月，依托学科为成都中医药大学中医眼科学科。</p>
                <p>成都中医药大学中医眼科学科由全国著名中医眼科专家陈达夫教授创建于1956年成都中医药大学建校之初，为全国四所首批中医药高等院校中唯一。1975年主办首届全国中医院校眼科师资班，1978年招收首届中医眼科硕士研究生，1979年成立中医眼科学教研室，1988年在全国率先开办中医五官本科专业，1990年成为全国高等院校第一个中医眼科学博士学位授权点。2013年中医眼科博士后流动工作站首届博士后进站，2015年建立眼科学院，同时开办眼视光本科专业，2017年在全国率先开办八年制中医学专业“陈达夫班”。目前，学院拥有从本科、硕士到博士，完整人才培养体系，设有中医眼科学教研室、眼科学教研室、眼视光学教研室、眼科实验教研中心等教学机构。迄今已培养中医五官专业本科生600余人，硕、博士研究生200余人；现有眼视光专业本科学生176人，攻读中医眼科、中西医结合眼科硕、博士研究生120人，博士后研究人员2人。</p>
                <div class="centerImgCon marT10">
                    <%= image_tag("College-introduceImg1.jpg") %>
                    <p>著名中医眼科学家陈达夫教授</p>
                </div>

                <p>现有教授14人，副教授5人；博导8人，硕导4人.名誉教授2人、客座教授15人、兼职教授4人。拥有国务院学位委员会第五、六、七届中医药学科评议组成员、国医大师、国家“百千万人才工程”第一、二层次人选、全国杰出专业技术人才、全国优秀科技工作者、国家卫计委突出贡献中青年专家、享受国务院政府特殊津贴专家、全国教育系统劳动模范、全国首届中医药传承博士后指导老师、全国名中医及学术经验继承人指导老师、中华中医药学会中医眼科终生成就奖和突出贡献奖获得者、中国百名杰出青年中医、全国第二批优秀临床中医人才四川省名中医等顶尖师资，拥有2个四川省青年科技创新研究团队。主编自1986年以来全国高等中医院校统编教材及规划教材《中医眼科学》、《中西医结合眼科学》，研究生规划教材《中医眼科临床研究》。其中，《中医眼科学》教材被确定为“十二五”国家级规划教材，中医眼科学被确定为国家级精品课程。主编国家级专业著作《中华医学百科全书》中医眼科分卷和《实用中医五官辞典》、副主编、编委编写《中华大典·医学分典》、《中医大辞典》、《中西医结合糖尿病学》等著作。</p>
                <p>历年来承担并完成国家重大科技专项、重大仪器专项、“863”计划、“九五”及“十五”科技攻关、“十一五”“十二五”“十三五”支撑计划、国家国际合作、国家自然科学基金等课题90余项，获得包括省科技进步特等奖、一等奖在内的部省、厅局级科技进步奖30余项，获得国家新药证书及临床研究批件4项，科技成果转化约6千万元，团队研发的创新中药芪明颗粒、丹红化瘀口服液双双进入2017版国家医保目录。</p>
            </div>
            <div class="centerImgCon marT10">
                <%= image_tag("College-introduceImg2.jpg") %>
                <p>学科奠基人陈达夫教授带教（左二为现国医大师廖品正）</p>
            </div>
            <div class="thisIndent2">
                <div class="noIndent">
                    <p>学科奠基人陈达夫教授带教（左二为现国医大师廖品正）</p>
                    <p>2016年依托眼科学院建立成都中医药大学附属眼科医院即成都中医大银海眼科医院。</p>
                    <p>2017年经四川省科技厅批准设立四川省眼与视觉健康产业技术研究院。形成教学、医疗、科研三院合一的创新模式。</p>
                </div>
            </div>
            <div class="marT20 marB10 collegeCenterImg">
                <%= image_tag("College-introduceImg3.jpg") %>
            </div>
            <div class="flow">
                <ul class="fl">
                    <li>★ 国家级重点学科（中医五官科学）</li>
                    <li>★ 国家中医药管理局重点学科（中医眼科学）</li>
                    <li>★ 四川省重点学科（中医眼科学）</li>
                    <li>★ 财政部中央与地方共建高校基础实验室</li>
                    <li>★ 财政部中央与地方共建高校特色与优势学科实验室</li>
                    <li>★ 国家中医药管理局重点研究室（中医药视功能保护）</li>
                    <li>★ 国家中医药管理局三级科研实验室（视觉生理）</li>
                </ul>
                <ul class="fr">
                    <li>★ 国家首批临床重点专科（中医眼科学）</li>
                    <li>★ 国家中医药管理局重点专科（中医眼科学）</li>
                    <li>★ 全国中医眼病医疗中心</li>
                    <li>★ 四川省重点实验室（眼病防治与中医药视功能保护）</li>
                    <li>★ 四川省协同创新中心（视网膜图像技术与慢性血管性疾病防治）</li>
                    <li>★ 四川省眼与视觉健康产业技术研究院</li>
                </ul>
            </div>
        </div>
        <div class="marT20 flow">
            <div class="fl">
                <div class="centerH5 ">
                    <p>院训</p>
                    <p class="blueSmaTle"><span>Theme-Script</span></p>
                </div>
                <h5 class="LargeTle greenWord">大医精诚·银海启明</h5>
                <div class="ThemeScript marT20">
                    <h4>“愿秉持大医精诚之精神，愿银海之精微，为人类起光明。”</h4>
                    <p>成都中医药大学眼科学院</p>
                    <p>成都中医药大学附属眼科医院/成都中医大银海眼科医院</p>
                    <p>四川省眼与视觉健康产业技术研究院</p>
                </div>
                <p><b>院长/书记/教授/博士生导师  段俊国</b><%= image_tag("signature-djg.jpg",:class => "signatureDImg") %></p>

            </div>
            <%= image_tag("College-leader.jpg") %>
        </div>

    </div>
</div>
