<%= render 'sciences/science_tkd' %>
<%= render "sciences/top_banner" %>
<div class="main flow marT10 marB10">
    <%= render "sciences/science_left" %>
    <div class="width1020 whiteBg fr line24">
        <%= image_tag("teachersTeam.jpg") %>
        <div class="developHistoryCon">
            <div class="thisIndent2 line24">
                <p>现有教授14人，副教授5人；博导8人，硕导4人。名誉教授2人、客座教授15人、兼职教授4人。拥有国务院学位委员会第五、六、七届中医药学科评议组成员、国医大师、国家“百千万人才工程”第一、二层次人选、全国杰出专业技术人才、全国优秀科技工作者、国家卫计委突出贡献中青年专家、享受国务院政府特殊津贴专家、全国教育系统劳动模范、全国首届中医药传承博士后指导老师、全国名中医及学术经验继承人指导老师、中华中医药学会中医眼科终生成就奖和突出贡献奖获得者、中国百名杰出青年中医、全国第二批优秀临床中医人才四川省名中医、四川省卫计委首席专家等顶尖师资，并拥有2个四川省青年科技创新研究团队。</p>
                <p>通过几代人的努力</p>
                <p>不断的创新探索</p>
                <p>中医眼科学科在全国影响力大，教学、科研成果显著</p>
            </div>
            <ul class="teacherTimeList marT10">
                <li>
                    <div class="thisIndent2">
                        <p>01</p>
                        <p class="teacherTime"><span>第一代</span></p>
                    </div>
                    <%= image_tag("teacherTime_1.jpg") %>
                </li>
                <li>
                    <div class="thisIndent2">
                        <p>02</p>
                        <p class="teacherTime"><span>第二代</span></p>
                    </div>
                    <%= image_tag("teacherTime_2.jpg") %>
                </li>
                <li>
                    <div class="thisIndent2">
                        <p>03</p>
                        <p class="teacherTime"><span>第三代</span></p>
                    </div>
                    <%= image_tag("teacherTime_3.jpg") %>
                </li>
                <li>
                    <div class="thisIndent2">
                        <p>04</p>
                        <p class="teacherTime"><span>第四代</span></p>
                    </div>
                    <%= image_tag("teacherTime_4.jpg") %>
                </li>
            </ul>
            <ul class="leadersCon flow">
                <li class="fl">
                    <div>
                        <%= image_tag("zj1.jpg") %>
                        <h5>国医大师——廖品正教授</h5>
                        <p>教授、博士生导师</p>
                    </div>
                    <p>享受国务院政府特殊津贴专家</p>
                    <p>全国高等院校首位中医眼科学博士生导师</p>
                    <p>全国首届中医药传承博士后指导老师</p>
                    <p>国务院学位委员会第五届中医中药学评议组成员</p>
                    <p>全国教育系统劳动模范、“人民教师”</p>
                    <p>中华中医药学会”中医眼科学科建设与学术发展终生成就奖“获得者</p>
                    <p>四川省首届十大名中医</p>
                    <p>四川省教学名师</p>
                    <p>四川省学术技术带头人</p>
                </li>
                <li class="fr">
                    <div>
                        <%= image_tag("zj2.jpg") %>
                        <h5>院长——段俊国教授</h5>
                        <p>教授、博士生导师</p>
                    </div>
                    <p>国务院学位委员会中医学科评议组成员</p>
                    <p>享受国务院政府津贴专家</p>
                    <p>全国杰出专业技术人才</p>
                    <p>全国优秀科技工作者</p>
                    <p>国家卫生计生突出贡献中青年专家</p>
                    <p>中国百名杰出青年中医</p>
                    <p>中华中医药学会眼科专业委员会副主任委员</p>
                    <p>中国中西医结合学会眼科专业委员会副主任委员</p>
                    <p>世界中医药学会联合会眼科专业委员会副主任委员</p>
                    <p>四川省卫生计生委首席专家</p>
                </li>
            </ul>
            <div class="thisIndent2 marT20">
                <p>2017年5月13日，成都中医药大学余曙光校长为温州医科大学附属眼视光医院院长瞿佳教授颁发成都中医药大学眼科学院名誉院长聘书。</p>
                <div class="centerImgCon marT10 marB10">
                    <%= image_tag("College-bigThing1.jpg") %>
                </div>
                <p>2017年5月13日，成都中医药大学余曙光校长为首都医科大学同仁医院院长王宁利教授颁发成都中医药大学附属银海眼科医院名誉院长聘书。</p>
                <div class="centerImgCon marT10 marB10">
                    <%= image_tag("College-bigThing2.jpg") %>
                </div>
                <p>2016年10月24日，聘任复旦大学脑科学研究院杨雄里院士（右二）、香港大学医学院神经科学研究中心苏国辉院士（左二）、中国科学院光电技术研究所自适应光学研究室姜文汉院士（左三）、中山大学中山眼科中心吴乐正教授（右一）为学院名誉教授。</p>
                <div class="centerImgCon marT10 marB10">
                    <%= image_tag("College-bigThing3.jpg") %>
                </div>
                <p>2016年10月24日,聘任河北医科大学张铭连教授（左二）、湖南中医药大学秦裕辉教授（左三）、中日友好医院金明教授（左四）、湖南中医药大学彭清华教授（左五）为学院客座教授。</p>
                <div class="centerImgCon marT10 marB10">
                    <%= image_tag("College-bigThing4.jpg") %>
                </div>
                <p>2016年10月24日,聘任中山大学中山眼科中心刘文教授（左二）、文峰教授（左四）、北京同仁医院周跃华教授（左三）、温州医科大学王勤美教授（左五）为学院兼职教授。</p>
                <div class="centerImgCon marT10 marB10">
                    <%= image_tag("College-bigThing5.jpg") %>
                </div>
            </div>
            <p class="fontB18 marB20"><b>一流的学科成员</b></p>
            <ul class="line30 flParent flow">
                <li>
                    <p>国医大师</p>
                    <p>国务院学位委员会第五届、第六届、第七届中医药学科评议组成员各1人</p>
                    <p>国家“百千万人才工程”第一、二层次人选1人</p>
                    <p>全国“杰出专业技术人才” 1人</p>
                    <p>“全国优秀科技工作者” 1人</p>
                    <p>国家卫计委突出贡献中青年专家1人</p>
                    <p>享受国务院政府特殊津贴专家6人</p>
                    <p>全国教育系统劳动模范1人</p>
                    <p>全国首届中医药传承博士后指导老师1人</p>
                    <p>全国名中医及学术经验继承人指导老师3人</p>
                    <p>中华中医药学会中医眼科终生成就奖1人</p>
                </li>
                <li class="marL50">
                    <p>中华中医药学会中医眼科突出贡献奖</p>
                    <p>中国百名杰出青年中医1人</p>
                    <p>全国第二批优秀临床中医人才1人</p>
                    <p>四川省首届十大名中医1人</p>
                    <p>四川省名中医6人</p>
                    <p>四川省中医药专家学术经验继承人指导老师2人</p>
                    <p>四川省卫生计生委首席专家1人</p>
                    <p>全国名中医传承4人</p>
                    <p>四川省首届十大名中医学术继承人4人</p>
                    <p>四川省第十一批有突出贡献优秀专家1人</p>
                    <p>四川省跨世纪杰出青年1人</p>
                </li>
            </ul>
            <div class="line30 marT40">
                <p class="blueWord">2个四川省青年科技创新研究团队</p>
                <p>中医眼科四川省青年科技创新研究团队</p>
                <p>中医药视功能保护四川省青年科技创新研究团队</p>
            </div>
        </div>
    </div>
</div>
