<div class="marT10">
    <%= image_tag("education-banner.jpg") %>
</div>
<div class="whiteModule flow">
    <div class="width560 fl line40 kepuArticles">
        <p class="kepuTle padL10">专题讲座</p>
        <div class="centerImgCon pad20">
            <%= image_tag("constructionImg.png") %>
        </div>
    </div>
    <div class="width560 fr line40 kepuArticles">
        <p class="kepuTle padR10">典型病例</p>
        <ul class="padR10">
            <li>
                <%= link_to science_path(:右眼裂孔性视网膜脱离) do %>
                <p>右眼裂孔性视网膜脱离1例<span class="fr">2017-9-02</span></p>
                <% end %>
            </li>
        </ul>
    </div>
</div>
<div class="whiteModule flow marB20">
    <div class="width560 fl line40 kepuArticles">
        <p class="kepuTle padL10">疑难病例</p>
        <div class="centerImgCon pad20">
            <%= image_tag("constructionImg.png") %>
        </div>
    </div>
    <div class="width560 fr line40 kepuArticles">
        <p class="kepuTle padR10">手术视频</p>
        <div class="centerImgCon pad20">
            <%= image_tag("constructionImg.png") %>
        </div>
    </div>
</div>
</div>
