<div class="footer flow">
  <ul class="flow flParent">
    <li class="mar-L-z">
      <p class="title">合作交流</p>
      <%= image_tag("partners.png") %>
    </li>
    <li class="partner">
      <p class="title">相关连接</p>
      <p><a href="http://www.cdutcm.edu.cn"><%= image_tag("logo-zyd.png") %></a></p>
      <p><%= image_tag("logo-zyd-eye.png") %></p>
      <p class="commit eyeGame gameContent"><%= link_to :银海视觉训练中心,"http://171.221.236.106:5000/sw-amb/main.do",target: "_blank" %></p>
    </li>
    <li>
      <p class="title">联系方式</p>
      <p>咨询服务：4009900766</p>
      <p>医院地址：成都市金牛区星辉西路8号</p>
      <p>E-mail:ineyehospital@126.com</p>
    </li>
    <li class="code">
      <%= image_tag("erweima.png") %>
      <p>微信公众号</p>
    </li>
  </ul>
  <p class="copyRight">&copy;2017蜀ICP备16014830号-1 成都银海启明眼科医院</p>
</div>