<div class="header">
  <div class="logos headBg flow">
    <%= link_to image_tag("logo_1.png"), :homes,class:"ineyeLogo" %>
    <a href="javascript:;"><%= image_tag("logo_2.png") %></a>
    <a href="javascript:;" class="lastLogo"><%= image_tag("logo_3.png") %></a>
  </div>
  <div class="aboutUs headBg flow">
    <div class="fl telePhone">咨询电话：<span>400 9900 766</span> <span>028-68398866</span></div>
    <div class="fl commits">
      <a href="http://171.221.236.106:5000/sw-amb/main.do" target="_blank">银海视觉训练中心</a>
      <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">预约挂号</a>
      <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank">在线咨询</a>
      <a href="javascript:;">【登录】</a>
      <a href="javascript:;">【注册】</a>
    </div>
    <div class="search fr">
      <input type="text" placeholder="请输入搜索关键字">
      <div class="searchBtn">
        <p>搜索</p>
      </div>
    </div>
  </div>
  <div class="topNavContainer">
    <ul class="headBg topNav flParent">
      <li><%= link_to :'网站首页',:homes %></li>
      <li><%= link_to :'走进银海',home_path(:医院简介) %></li>
      <li><%= link_to :'医疗服务',medical_path(:专家排班) %></li>
      <li><%= link_to :"重点科室",:centers %></li>
      <li><%= link_to :'专家团队',expert_path(:著名专家) %></li>
      <li><%= link_to :'医疗设备',home_path(:技术设备) %></li>
      <li><%= link_to :'教学科研',:sciences %></li>
      <li><%= link_to :'眼健康科普',:kepus %></li>
      <li><%= link_to :'新闻中心',:news_index %></li>
    </ul>
  </div>
</div>



<script>

    function pos() {
        var str = window.location.pathname == "/" ? "/homes" : window.location.pathname;

        $(".topNav a").each(function () {
            if($(this).attr("href") == str){
                $(this).parent().addClass("active");
            }
        })
    }

    pos();
    $(".slide").ckSlide({
        autoPlay:true,
        add:true,
        seamless:true,
        dir:"x",
    });
</script>













