<div class="header">
  <div class="logos headBg flow">
    <%= link_to image_tag("logo_1_1.jpg", alt: '成都中医大银海眼科医院', title: '成都中医大银海眼科医院'), :homes, class:"ineyeLogo_1" %>
    <%#= link_to image_tag("logo_1_2.jpg", alt: '成都中医大银海眼科医院', title: '成都中医大银海眼科医院'), :homes, class:"ineyeLogo_2" %>
     <%= link_to image_tag("header_logo3.png", alt: '成都中医大银海眼科医院', title: '成都中医大银海眼科医院'), :homes, class:"" %>
  </div>
  <div class="aboutUs headBg flow">
    <div class="fl telePhone">咨询电话：<span>400 9900 766</span> <span>028-68398866</span></div>
    <div class="fl commits">
      <a href="http://171.221.236.106:5000/sw-amb/main.do" target="_blank" rel="nofollow">银海视觉训练中心</a>
      <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank" rel="nofollow">预约挂号</a>
      <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" target="_blank" rel="nofollow">在线咨询</a>
      <% if @login_user.present? %>
        <a href="<% if ['sys_admin', 'user_admin'].include?(@login_user.role_code) %>/administration/v1/dashboards/~<% else %>javascript: void(0);<% end %>" rel="nofollow">欢迎您，<%= @login_user.name %></a>
        <a href="javascript: void(0);" class="js-logout" rel="nofollow">退出</a>
      <% else %>
        <%= link_to logins_path(callback: request.fullpath), rel: 'nofollow' do %>【登录】<% end %>
        <%= link_to :'【注册】', registers_path, rel: 'nofollow' %>
      <% end %>
    </div>
    <div class="search fr">
      <input type="text" class="js-search-input" placeholder="请输入搜索关键字" value="<% if @search_value.present? %><%= @search_value %><% end %>">
      <div class="searchBtn js-search-btn">
        <p>搜索</p>
      </div>
    </div>
  </div>
  <div class="topNavContainer">
    <ul class="headBg topNav flParent">
      <li><%= link_to :'网站首页', :homes %></li>
      <li><%= link_to :'走进银海', home_path(:医院简介) %></li>
      <li><%= link_to :'医疗服务', medical_path(:专家排班) %></li>
      <li><%= link_to :'重点科室', :centers %></li>
      <li><%= link_to :'专家团队', doctors_path(doctor_level: 'famous_expert') %></li>
      <li><%= link_to :'医疗设备', home_path(:技术设备) %></li>
      <!-- <li><%#= link_to :'教学科研', science_path(:学院简介) %></li> -->
      <li><%= link_to :'眼健康科普', :kepus %></li>
      <li><%= link_to :'继续教育', con_educations_path(article_classify: 'special_lecture') %></li>
      <li><%= link_to :'新闻中心', :news_index %></li>
    </ul>
  </div>
</div>

<!-- <script>
    function pos() {
        var str = window.location.pathname == "/" ? "/homes" : window.location.pathname;
            str = "/"+str.split("/")[1];
        $(".topNav a").each(function () {
            if($(this).attr("href") == str){
                $(this).parent().addClass("active");
            }
        })
    }


    pos();
</script> -->
