<div class="top">
  <div class="topShadow">
    <div class="flow whiteBg titNav">
      <div class="fl flow">
        <%= image_tag("logo.png") %>
      </div>
      <ul class="flParent fl flow nav topNav">
        <li><%= link_to :就诊,:medicals %></li>
        <li><%= link_to :教学科研,:sciences %></li>
        <li><%= link_to :新闻,:news_index %></li>
        <li><%= link_to :简介,home_path(:医院介绍) %></li>
      </ul>
      <div class="rightHeader">
        <div class="header flow header2">
         <ul class="fr headerMsg flParent">
           <li>
             <span><a href="javascript:;">注册</a> | <a href="javascript:;">登录</a></span>
           </li>
           <li>
            <span>咨询服务：<em class="tele">400 9900 766</em></span>
          </li>
         </ul>
        </div>
        <ul class="fr flParent func">
          <li class="appointment commit"><a href="javascript:;">预约医生</a></li>
          <li class="consult commit"><%= link_to :在线咨询,"http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174",target: "_blank" %></li>
          <li class="search"><input type="text" placeholder="请输入关键字"><span><%= image_tag("search.png")%></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="topHeight"></div>

<!--轮播-->
<div class="slide topSlide">
  <ul class="slide-wrapper">
    <li>
      <%= link_to image_tag("banner1.png") %>
    </li>
    <li style="display:none">
      <%= link_to image_tag("banner2.png") ,news_path(:成都中医药大学附属银海眼科医院引智引才建设一流学科) %>
    </li>
  </ul>
  <div class="slidebox">
    <div class="slideWrap">
      <ul class="dot-wrap">
        <li class="current"><em>1</em></li>
        <li><em>2</em></li>
      </ul>
    </div>
  </div>
</div>
<!--轮播-->
<!--中间导航-->
<ul class="nav flow flParent centerNav">
  <li><%= link_to :走进银海,  :homes,class: :active %></li>
  <li><%= link_to :就医服务,  :medicals %></li>
  <li><%= link_to :六大中心,  :centers  %></li>
  <li><%= link_to :名医专家,  :experts  %></li>
  <li><%= link_to :教学科研,  :sciences %></li>
  <li><%= link_to :新闻中心,  :news_index %></li>
  <li><%= link_to :眼健康科普,:kepus %></li>
</ul>

<script>
    $('.slide.topSlide').ckSlide({
        autoPlay:true,
    });

    function SetCookie(name, value)
    {
        //定义一天
        var days = 1;
        var exp = new Date();
        //定义的失效时间，
        exp.setTime(exp.getTime() + days * 24 * 60 * 60 * 1000);
        //写入Cookie  ，toGMTstring将时间转换成字符串。
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString;
    }
    function getCookie(name)
    {          //匹配字段
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

        if(arr=document.cookie.match(reg))

            return (arr[2]);
        else
            return null;
    }
    function pos() {
        $(".centerNav a").each(function () {
            if($(this).attr("href") == getCookie("path")){
                $(this).parent().addClass("active");
            }
        })
    }
    $(".centerNav li").click(function(){
        SetCookie("path",$(this).find("a").attr("href"));
        console.log(getCookie("path"));
        pos();

    })

      pos();
  
</script>


