<style>
  .banner-box{width: 1200px;height:375px;position:relative;text-align:center;overflow: hidden;}
  .banner-box .img{width:5000px;position:absolute;top:0;left:0;}
  .banner-box .img li{float:left;}
  .banner-box img{  width: 1200px;  height: 375px}
  .banner-box .li{width:100%;position:absolute;left:0;bottom:10px;}
  .banner-box .li li{width:10px;height:10px;background:#fff;border-radius:50%;display:inline-block;margin:0 3px;cursor:pointer;}
  .banner-box .but{position: absolute;top:50%;margin-top:-30px;width:38px;height:60px;line-height:60px;text-align:center;font-size: 30px;background:rgba(0,0,0,0.5);color:#fff;font-family: '宋体';cursor:pointer;display: none;}
  .banner-box:hover .but{display:block;}
  .banner-box .but-left{left:0;}
  .banner-box .but-right{right:0;}
  .banner-box .li .index{background:#0284cf;border-radius:10px;}
  .banner-box .bar{ position: absolute; left: 0; bottom: 0; height: 5px; background-color: rgba(2,132,207,0.6); }
</style>
<div class="top">
  <div class="topShadow">
    <div class="flow whiteBg titNav">
      <div class="fl flow">
        <%= image_tag("logo.png") %>
      </div>
      <ul class="flParent fl flow nav topNav">
        <li><%= link_to :就诊,:medicals %></li>
        <li><%= link_to :教学科研,:sciences %></li>
        <li><%= link_to :新闻,:news_index %></li>
        <li><%= link_to :简介,home_path(:医院介绍) %></li>
      </ul>
      <div class="rightHeader">
        <div class="header flow header2">
         <ul class="fr headerMsg flParent">
           <li>
             <span><a href="javascript:;">注册</a> | <a href="javascript:;">登录</a></span>
           </li>
           <li>
            <span>咨询服务：<em class="tele">400 9900 766</em></span>
          </li>
         </ul>
        </div>
        <ul class="fr flParent func">
          <li class="appointment commit"><a href="javascript:;">预约医生</a></li>
          <li class="consult commit"><%= link_to :在线咨询,"http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174",target: "_blank" %></li>
          <li class="commit eyeGame"><%= link_to :银海视觉训练中心,"http://171.221.236.106:5000/sw-amb/main.do",target: "_blank" %></li>
          <li class="search"><input type="text" placeholder="请输入关键字"><span><%= image_tag("search.png")%></span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="topHeight"></div>
<!--修改轮播-->
<div class='banner-box'>
  <ul class='img'>
    <li>
      <%= link_to image_tag("banner1.png") %>
    </li>
    <li>
      <%= link_to image_tag("banner2.png") ,news_path(:成都中医药大学附属银海眼科医院引智引才建设一流学科) %>
    </li>
    <li>
      <%= link_to image_tag("banner3.png") %>
    </li>
  </ul>
  <ul class='li'></ul>
  <div class='but but-left'>&lt;</div>
  <div class='but but-right'>&gt;</div>
  <div class='bar'></div>
</div>
<!--修改轮播-->

<!--中间导航-->
<ul class="nav flow flParent centerNav">
  <li><%= link_to :走进银海,  :homes,class: :active %></li>
  <li><%= link_to :就医服务,  :medicals %></li>
  <li><%= link_to :六大中心,  :centers  %></li>
  <li><%= link_to :名医专家,  :experts  %></li>
  <li><%= link_to :教学科研,  :sciences %></li>
  <li><%= link_to :新闻中心,  :news_index %></li>
  <li><%= link_to :眼健康科普,:kepus %></li>
</ul>

<script>

    function pos() {
        var str = window.location.pathname == "/" ? "/homes" : window.location.pathname;
        $(".centerNav a").each(function () {
            if($(this).attr("href") == str){
                $(this).parent().addClass("active");
            }
        })
    }

    pos();

</script>
<script type="text/javascript">
    if(oTime){
        clearInterval(oTime);
        oTime = null;
    }
    var oSj = 5000;
    var i = 0;
    var bar = $(".banner-box .bar");
    var w =$(".banner-box").width()
    var oImg = $(".banner-box .img");//获取图片盒子
    var s = $(".banner-box li").length;
    var num = s;
    if($(".banner-box .img li").size() <= num){
        var oImgfirst= $('.banner-box .img li:first').clone();//复制第一张图片
        oImg.append(oImgfirst);//将复制的第一张图片放到最后
        for (var j = 1; j <= num; j++) {
            $('.banner-box .li').append('<li></li>');
        }
    }

    var imgNum = 4;//获取图片数量

    //根据图片个数添加圆点按钮
    //给第一个按钮添加选中样式
    $('.banner-box .li li:first').addClass('index');


    //点击向右轮播
    $(".but-right").click(function(){
        int();
    });

    //点击向左轮播
    $(".but-left").click(function(){
        bar.stop().css('width',0);
        i--;
        if(i == -1){
            $('.banner-box .img').css('left',-(imgNum-1)*w);//用CSS进行图片位置变换，达到无缝拼接效果
            i = imgNum-2;
        }
        oImg.stop().animate({left:-i*w},500);//动画效果
        clearInterval(oTime);
        oTime = setInterval(function(){
            int();
        },oSj);
        barAniMate();//进度条函数动画效果
        $(".banner-box .li li").eq(i).addClass('index').siblings().removeClass('index');//给相应的按钮添加样式
    });

    //鼠标移动到圆点后轮播
    $(".banner-box .li li").hover(function() {
        clearInterval(oTime);//清除定时器
        bar.stop().css('width',0);
        var index = $(this).index();
        i=index;
        oImg.stop().animate({left:-index*w},500);//动画效果
        bar.stop().css('width',0);
        $(this).addClass('index').siblings().removeClass('index');//给相应的按钮添加样式
    },function(){
        barAniMate();//进度条函数动画效果
        oTime = setInterval(function(){
            int();
        },oSj);
    });

    //自动轮播
    var oTime = setInterval(function(){
        int();
    },oSj);

    barAniMate();//进度条函数动画效果

    //进度条函数动画效果
    function barAniMate(){
        bar.animate({width:'100%'},oSj,function(){
            $(this).css('width',0);
        });
    }

    //自动轮播函数
    function int(){
        bar.stop().css('width',0);
        i++;
        if(i == imgNum){
            oImg.css('left',0);//用CSS进行图片位置变换，达到无缝拼接效果
            i = 1;
        }
        oImg.stop().animate({left:-i*w},500);//动画效果
        barAniMate();//进度条函数动画效果
        clearInterval(oTime);
        oTime = setInterval(function(){
            int();
        },oSj);
        if(i == imgNum-1){
            $(".banner-box .li li").eq(0).addClass('index').siblings().removeClass('index');//给相应的按钮添加样式

        }else{
            $(".banner-box .li li").eq(i).addClass('index').siblings().removeClass('index');//给相应的按钮添加样式
        }
    }

    jQuery(document).ready(function($) {

        if (window.history && window.history.pushState) {

            $(window).on('popstate', function() {
                var hashLocation = location.hash;
                var hashSplit = hashLocation.split("#!/");
                var hashName = hashSplit[1];

                if (hashName !== '') {
                    var hash = window.location.hash;
                    if (hash === '') {
                        window.location.reload()
                    }
                }
            });

//            window.history.pushState('forward', null, './#forward');
        }

    });
</script>




