<!--左边链接公共-->
<ul class="cataractList fl">

    <li class="active">
        <%= link_to :'你的眼睛处于超负荷状态吗？',kepu_path(:你的眼睛处于超负荷状态吗) %>
    </li>
    <li>
        <%= link_to :'你的眼镜戴着还舒服吗？',kepu_path(:你的眼镜戴着还舒服吗) %>
    </li>
    <li>
        <%= link_to :'眼镜布不是用来擦眼镜的？',kepu_path(:眼镜布不是用来擦眼镜的) %>
    </li>
    <li>
        <%= link_to :'眼前蚊蝇乱飞？可能是飞蚊症',kepu_path(:眼前蚊蝇乱飞可能是飞蚊症) %>
    </li>
    <li>
        <%= link_to :'教你滴眼药水的正确打开姿势',kepu_path(:教你滴眼药水的正确打开姿势) %>
    </li>
    <li>
        <%= link_to :'近视手术知多少？（一）',kepu_path(:近视手术知多少) %>
    </li>
    <li>
        <%= link_to :'青少年近视怎么办？',kepu_path(:青少年近视怎么办) %>
    </li>
    <li class="listLast">
        <%= link_to :'糖尿病患者你的眼睛还好吗？',kepu_path(:糖尿病患者你的眼睛还好吗) %>
    </li>
</ul>
<!--左边链接公共-->

<script>

    function pathStr() {
        var pathStr =  window.location.pathname;
        console.log(pathStr);
        $(".cataractList li").each(function () {
            console.log($(this));
            console.log(this);
        })


    }

    pathStr();

</script>