<!DOCTYPE html>
<html>
<head>
    <title>中医大银海眼科医院官网</title>
    <%= csrf_meta_tags %>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="main">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
</div>
</body>


</html>
