<!DOCTYPE html>
<html>
<head>
    <title>中医大银海眼科医院官网</title>
    <%= csrf_meta_tags %>
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <script>
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        document.writeln("您的浏览设备为：");
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            document.writeln("phone");
            var deviceWidth = document.documentElement.clientWidth;
            if(deviceWidth > 720) deviceWidth = 720;
            document.documentElement.style.fontSize = deviceWidth / 7.2 + 'px';
//              var link = document.createElement("link");
//              link.type = "text/css";
//              link.rel = "stylesheet";
//              link.href = "/assets/stylesheets/mobile_test.css";
            var links ="<%= stylesheet_link_tag   'mobile_test', media: 'all', 'data-turbolinks-track': 'reload' %>";

            document.getElementsByTagName("head")[0].appendChild(links);
        }

    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="main">
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
</div>
</body>


</html>
