<!DOCTYPE html>
<html>
  <head>
    <title><% if (yield :title).present? %><%= yield :title %><% else %>糖尿病视网膜病变_斜弱视矫正_干眼治疗-成都中医大银海眼科医院<% end %></title>
    <meta name="keywords" content="<% if (yield :keywords).present? %><%= yield :keywords %><% else %>糖尿病视网膜病变_斜弱视矫正_干眼治疗-成都中医大银海眼科医院<% end %>">
    <meta name="description" content="<% if (yield :desc).present? %><%= yield :desc %><% else %>成都中医大银海眼科医院为成都中医药大学附属眼科医院，是集医、教、研三位于一体的研究型大型专科医院.医院治疗项目包括白内障、糖尿病视网膜病变、斜弱视矫正、干眼治疗、玻璃体疾病、屈光手术、近视防控等。<% end %>">
    <%= csrf_meta_tags %>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112338179-1"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-112338179-1');
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
                var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a1b23724d1f623eba7c26b3b596f96d8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
  </head>

<style type="text/css">
</style>
  <body>
    <%= render "layouts/header" %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= render "layouts/right_fk" %>
  </body>
</html>
