<!DOCTYPE html>
<html>
  <head>
    <title>银海眼科官网</title>
    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :style %>
  </head>

  <body>
  	<div class="main">
  	  <%= render "layouts/content_header" %>
  	  <%= yield %>
  	  <%= render "layouts/footer" %>
  	</div>
    <%= render partial: 'shared/script' %>
    <%= yield :script %>
  </body>

</html>
