<!DOCTYPE html>
<html>
  <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?a1b23724d1f623eba7c26b3b596f96d8";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <head>
    <title>中医大银海眼科医院官网</title>
    <%= csrf_meta_tags %>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <%= yield :meta %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= yield :style %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112338179-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112338179-1');
    </script>
  </head>

  <body>

    <%= render "layouts/header" %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%#= render "layouts/right_fk" %>

    <%= render partial: 'shared/script' %>
    <%= yield :script %>

  </body>

</html>
