<!DOCTYPE html>
<html>
<head>
    <title>眼健康科普_屈光不正防治_斜视矫正-成都中医大银海眼科医院</title>
    <meta name="keywords" content="屈光不正防治,斜视矫正">
    <meta name="description" content="成都中医大银海眼科医院为成都中医药大学附属眼科医院，是集医、教、研三位于一体的研究型大型专科医院.医院治疗项目包括视网膜脱落、屈光不正防治、斜视矫正、玻璃体疾病、角膜屈光、糖尿病视网膜病变、近视防控等。">
    <%= csrf_meta_tags %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?a1b23724d1f623eba7c26b3b596f96d8";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
      </script>
</head>

<body>
    <%= render "layouts/header" %>
    <div class="main">
        <%= yield %>
    </div>
    <%= render "layouts/footer" %>
</body>


</html>
