<!DOCTYPE html>
<html>
<head>
    <title><% if (yield :title).present? %><%= yield :title %><% else %>成都中医大银海眼科医院-糖尿病视网膜病变_斜弱视矫正_干眼治疗<% end %></title>
    <%= Rails.configuration.baidu_meta[:code].html_safe %>
    <meta name="keywords" content="屈光不正防治,斜视矫正">
    <meta name="description" content="成都中医大银海眼科医院为成都中医药大学附属眼科医院，是集医、教、研三位于一体的研究型大型专科医院.医院治疗项目包括视网膜脱落、屈光不正防治、斜视矫正、玻璃体疾病、角膜屈光、糖尿病视网膜病变、近视防控等。">
    <%= csrf_meta_tags %>

    <link rel="icon" type="image/png" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="icon" type="image/png" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="icon" sizes="192x192" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="apple-touch-icon-precomposed" href="<%= asset_path('ineye/logo.jpg') %>">
    <meta name="msapplication-TitleImage" content="<%= asset_path('ineye/logo.jpg') %>">
    <meta name="msapplication-TitleColor" content="#0101DF">
    <link rel="shortcut icon" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="icon" sizes="16x16" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="icon" sizes="32x32" href="<%= asset_path('ineye/logo.jpg') %>">
    <link rel="image_src" href="<%= asset_path('ineye/logo.jpg') %>">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?<%= Rails.configuration.baidu_statistics[:code] %>";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
      </script>
</head>

<body>
    <%= render "layouts/header" %>
    <div class="main">
        <%= yield %>
    </div>
    <%= render "layouts/footer" %>
</body>


</html>
