<div class="doctorBanner">
    <%= image_tag("into.jpg") %>
</div>
<div class="expertCommonBg">
    <ul class="expertCommon flParent flow">
        <li><%= link_to :"著名专家",expert_path(:著名专家) %></li>
        <li><%= link_to :"主任医师",expert_path(:主任医师) %></li>
        <li><%= link_to :"副主任医师",expert_path(:副主任医师) %></li>
        <li><%= link_to :"主治医师",expert_path(:主治医师) %></li>
        <li><%= link_to :"住院医师",expert_path(:住院医师) %></li>
    </ul>
</div>
