<!--名医专家-->
<div class="middle">
  <div class="column professor" >
    <!--国医大师-->
    <div class="proContainer">
      <h6 class="proTitle">国医大师</h6>
      <div class="proIntroduce flow">
        <div class="proImg">
          <div>
            <%= image_tag("gyds.png") %>
          </div>
          <p class="professorName"><span>廖品正教授</span></p>
        </div>
        <div class="proMiddle">
          <p class="proInWord">专家简介：</p>
          <p class="proDetails">廖品正，女，1938年生。成都中医药大学教授、博士生导师、享受国务院政府特殊津贴专家。1964年于成都中医药大学(原成都中医学院)中医专业本科毕业,留校从事中医眼科医疗、教学、科研工作40余年。曾被评为全国教育系统劳动模范并获“人民教师”奖章。先后担任国务院学位委员会第五届学科评议组成员、中华中医药学会科学技术奖评审专家、中华中医药学会眼科专业委员会委员、中华中医药学会糖尿病专业委员会特聘顾问、世界中医药学会内科糖尿病专业委员会学术顾问···</p>
        </div>
        <div class="proTime">
          <p>应诊时间</p>
          <%= image_tag("workTime.png") %>
        </div>
      </div>
    </div>
    <!--国医大师-->
    <!--著名专家-->
    <div class="proContainer proPad">
      <h6 class="proTitle">著名专家</h6>
      <div class="proIntroduce flow">
        <ul class="flow flParent proList">
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zmzj1.png") %>
              </div>
              <p class="professorName"><span>段俊国教授</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zmzj2.png") %>
              </div>
              <p class="professorName"><span>朱思泉教授</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zmzj3.png") %>
              </div>
              <p class="professorName"><span>周华祥教授</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zmzj4.png") %>
              </div>
              <p class="professorName"><span>周跃华教授</span></p>
            </a>
          </li>
        </ul>
        <ul class="proInforList">
          <li class="proContent fi">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent se">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent th">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent fo">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!--著名专家-->
    <!--主任医师-->
    <div class="proContainer proPad parMarB">
      <h6 class="proTitle">主任医师</h6>
      <div class="proIntroduce flow">
        <ul class="flow flParent proList">
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zrys1.png") %>
              </div>
              <p class="professorName"><span>黄霄主任医师</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zrys2.png") %>
              </div>
              <p class="professorName"><span>路雪婧主任医师</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zrys3.png") %>
              </div>
              <p class="professorName"><span>谢艾芮主任医师</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zrys4.png") %>
              </div>
              <p class="professorName"><span>袁晓辉主任医师</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zrys5.png") %>
              </div>
              <p class="professorName"><span>周春阳主任医师</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= image_tag("zrys6.png") %>
              </div>
              <p class="professorName"><span>文娟主任医师</span></p>
            </a>
          </li>
        </ul>
        <ul class="proInforList">
          <li class="proContent fi">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent se">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent th">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent fo">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent fif">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
          <li class="proContent si">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院院长兼书记</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
              <div class="proWorkTime">
                <p>应诊时间</p>
                <%= image_tag("workTime.png") %>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
    <!--主任医师-->
  </div>
</div>
