<!--名医专家-->
<div class="middle">
  <div class="column professor" >
    <!--国医大师-->
    <div class="proContainer">
      <h6 class="proTitle">国医大师</h6>
      <div class="proIntroduce flow">
        <div class="proImg">
          <div>
            <%= link_to image_tag("gyds.png"), expert_path(:廖品正教授) %>
          </div>
          <p class="professorName"><span>廖品正</span></p>
        </div>
        <div class="proMiddle">
          <div class="proDetails">
            <p>教授、博士生导师</p>
            <p>享受国务院政府特殊津贴专家</p>
          </div>
          <p class="proInWord">专家简介：</p>
          <div class="proDetails">
            <p>毕业于成都中医药大学(原成都中医学院)中医专业,留校从事中医眼科医疗、教学、科研工作40余年。荣获第三届“国医大师”称号，成都中医药大学中医眼科学教授，中医眼科学博士生导师，中医药传承博士后导师，国务院学位委员会第五届中医中药学评议组成员，享受国务院政府特殊津贴专家，全国教育系统劳动模范“人民教师”奖章获得者，四川省十大名中医。</p>
            <p class="goodIn"><b>擅长领域：</b></p>
            <p>善于运用中医理论指导辨证，治疗眼内外各种疾病。</p>
          </div>
        </div>
      </div>
    </div>
    <!--国医大师-->
    <!--著名专家-->
    <div class="proContainer proPad">
      <h6 class="proTitle">著名专家</h6>
      <div class="proIntroduce flow">
        <ul class="flow flParent proList">
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zmzj1.png"), expert_path(:段俊国教授) %>
              </div>
              <p class="professorName"><span>段俊国</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zmzj2.png"), expert_path(:朱思泉教授) %>
              </div>
              <p class="professorName"><span>朱思泉</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zmzj5.png"), expert_path(:刘文教授) %>
              </div>
              <p class="professorName"><span>刘文</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zmzj4.png"), expert_path(:周跃华教授) %>
              </div>
              <p class="professorName"><span>周跃华</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zmzj3.png"), expert_path(:周华祥教授) %>
              </div>
              <p class="professorName"><span>周华祥</span></p>
            </a>
          </li>

        </ul>
        <ul class="proInforList">
          <!--段老师-->
          <li class="proContent fi">
            <div class="flow">
              <div class="proInformation">
                <p>教授   博士导师</p>
                <p>成都中医药大学眼科学院/成都中医大银海眼科医院书记、院长</p>
                <h5>专家简介：</h5>
                <p>享受国务院政府经贴专家，“中国百名杰出青年中医”“四川省学术和技术带头人”“四川省著名中医”，现任国务院学位委员会中医中药学科评议组成员</p>
                <h5>擅长领域：</h5>
                <p>主要研究方向为中医药防治糖尿病视网膜病变、青光眼及视神经保护研究，且在青少年近视防治方面有所突破</p>
              </div>
            </div>
          </li>
          <!--段老师-->
          <!--朱思泉教授-->
          <li class="proContent se">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师</p>
                <h5>专家简介：</h5>
                <p>首都医科大学博士生导师,美国新墨西哥州东方眼科中心访问学者。中国非公有制医疗机构协会白内障与屈光分会主任委员，中国医疗保健国际交流促进会眼科分会副主任委员、秘书长,中国医师协会眼科分会委员,中华医学会眼科分会白内障学组委员，中国光明行首席手术专家。</p>
                <h5>擅长领域：</h5>
                <p>对先天性白内障、葡萄膜炎并发白内障、白内障手术失败病例、伴有红斑狼疮的白内障、肾移植白内障患者等各类疑难、复杂性白内障的手术治疗</p>
              </div>
            </div>
          </li>
          <!--朱思泉教授-->
          <!--刘文教授-->
          <li class="proContent th">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师</p>
                <p>教授 硕士研究生导师</p>
                <h5>专家简介：</h5>
                <p>曾任广州中山大学中山眼科中心主任医师，同仁眼科中心眼外伤科副主任和郑州市眼科医院院长，获得国家和省级科研成果奖三项。连续二年被评为2015年度和2016年度广东省“岭南名医”。</p>
                <h5>擅长领域：</h5>
                <p>主要从事玻璃体视网膜疾病研究，擅长各种眼底疾病和复杂性视网膜脱离的手术治疗。</p>
              </div>
            </div>
          </li>
          <!--刘文教授-->
          <!--周跃华教授-->
          <li class="proContent fo">
            <div class="flow">
              <div class="proInformation">
                <p>教授 硕士生导师</p>
                <p>眼视光中心荣誉主任</p>
                <h5>专家简介：</h5>
                <p>北京同仁医院视光中心主任，中华医学会眼科分会视光学组委员，国家发改委药审委员会委员，全国大型医用设备使用人员上岗资格考试命审题委员会委员，台湾白内障与屈光学会荣誉顾问，全国SMILE专家协作组成员。</p>
                <h5>擅长领域：</h5>
                <p>主要从事角膜屈光手术的临床工作和近视理论的基础研究</p>
              </div>
            </div>
          </li>
          <!--周跃华教授-->
          <!--周华祥教授-->
          <li class="proContent fif">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师教授 硕士生导师</p>
                <p>中医眼科中心主任</p>
                <h5>专家简介：</h5>
                <p>四川省学术技术带头人，四川省拔尖中医师，四川省中医药学会眼科专业委员会常务副主任委员，中华中医药学会眼科分会委员，四川省康复医学会眼科分会委员。</p>
                <h5>擅长领域：</h5>
                <p>主要从事中药治疗眼科常见病、多发病方面</p>
              </div>
            </div>
          </li>
          <!--周华祥教授-->

        </ul>

      </div>
    </div>
    <!--著名专家-->
    <!--主任医师-->
    <div class="proContainer proPad parMarB">
      <h6 class="proTitle">主任医师</h6>
      <div class="proIntroduce flow">
        <ul class="flow flParent proList">
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zrys4.png"), expert_path(:袁晓辉主任医师) %>
              </div>
              <p class="professorName"><span>袁晓辉</span></p>
            </a>
          </li>
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zrys2.png"), expert_path(:路雪婧主任医师) %>
              </div>
              <p class="professorName"><span>路雪婧</span></p>
            </a>
          </li>
          <!--张富文主任医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zzys1-tx.png"), expert_path(:张富文主治医师) %>
              </div>
              <p class="professorName"><span>张富文</span></p>
            </a>
          </li>
          <!--张富文主任医师-->
          <!--黄霄主任医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zrys1.png"), expert_path(:黄霄主任医师) %>
              </div>
              <p class="professorName"><span>黄霄</span></p>
            </a>
          </li>
          <!--黄霄主任医师-->

          <!--王智慧主任医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("experts_wzh_tx.png"), expert_path(:王智慧主任医师) %>
              </div>
              <p class="professorName"><span>王智慧</span></p>
            </a>
          </li>
          <!--王智慧主任医师-->



          <!--<li class="proImg">-->
            <!--<a href="">-->
              <!--<div>-->
                <!--<%= link_to image_tag("zrys6.png"), expert_path(:文娟主任医师) %>-->
              <!--</div>-->
              <!--<p class="professorName"><span>文娟主治医师</span></p>-->
            <!--</a>-->
          <!--</li>-->


        </ul>
        <ul class="proInforList">
          <!--袁晓辉主任医师-->
          <li class="proContent fi">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师</p>
                <h5>专家简介：</h5>
                <p>全国知名小儿眼科专家,成都中医药大学眼视光教研室学术带头人，全国名老中医药专家学术经验继承人、中国民族医药学会眼科分会常务理事、四川省中西医结合学会眼科专业委员会委员、四川省医学会眼视光专业委员会委员。</p>
                <h5>擅长领域：</h5>
                <p>青少年近视的综合防控，小儿弱视矫治，各类斜视的诊治与手术治疗，医学验光及渐变多焦镜、OK镜、RGP镜的验配，眼科常见病如白内障、青光眼、葡萄膜炎、眼底病的诊治。</p>
              </div>
            </div>
          </li>
          <!--袁晓辉主任医师-->
          <!--路雪婧主任医师-->
          <li class="proContent se">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师</p>
                <h5>专家简介：</h5>
                <p>成都中医药大学研究员，博士生导师。全国首批中医药传承博士后，四川省十大名中医学术继承人。中国民族医药学会眼科分会副会长、中华中医药学会眼科专业委员会委员、青年副主任委员，中华中医药促进会糖尿病分会常务委员，四川省青年中医药学会副主任委员，四川省中医药学会眼科专委会副主任委员，中华中医药学会糖尿病分会青年委员。第五批四川省中医药管理局学术和技术带头人、第十批四川省学术技术带头人后备人选、第三届四川省卫生计生委有突出贡献中青年专家。</p>
                <h5>擅长领域：</h5>
                <p>擅长中医药防治糖尿病视网膜病变、干眼症、葡萄膜炎、视网膜血管疾病，青光眼及视网膜色素变性等的中医药视功能保护治疗。</p>
              </div>

            </div>
          </li>
          <!--路雪婧主任医师-->
          <!--张富文主任医师-->
          <li class="proContent th largeInformation">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师  教授/硕士研究生导师</p>
                <h5>专家简介：</h5>
                <p>中华中医药学会眼科分会青年委员、中国中西医结合学会四川分会眼科分会委员、中国中医药信息学会理事、 四川省中医药信息学会常务理事。长期从事眼科学临床、教学和科研工作，并从事中医信息化管理。</p>
                <h5>擅长领域：</h5>
                <p>眼底出血性疾病，如视网膜静脉阻塞、糖尿病导致眼病，青光眼、视神经萎缩等视神经损害疾病。调节治疗各种眼干涩、视疲劳，中药综合保护学龄儿童和青少年视力，延缓近视的发展。</p>
              </div>

            </div>
          </li>
          <!--张富文主任医师-->
          <!--黄萧医生-->
          <li class="proContent fo">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师</p>
                <h5>专家简介：</h5>
                <p>医学博士，硕士研究生导师。曾在华西医大眼科、中山眼科中心、北京协和医院眼科、北京同仁医院眼科和天津眼科医院进修学习。中国医师协会中西医结合眼科专业委员会委员、四川中西医结合学会及四川省中医药学会会员。</p>
                <h5>擅长领域：</h5>
                <p>1.老年性黄斑变性、2.视网膜静脉阻塞、3.糖尿病性视网膜病变、4.葡萄膜炎等眼免疫性疾病、5.视神经疾病、6.泪道疾病</p>
              </div>

            </div>
          </li>
          <!--黄萧医生-->
          <!--王智慧主任医师-->
          <li class="proContent fif">
            <div class="flow">
              <div class="proInformation">
                <p>主任医师</p>
                <h5>专家简介：</h5>
                <p>成都市內分泌及糖尿病专委会委员 ，四川省医师协会内分泌代谢科医师专科委员会委员</p>
                <h5>擅长领域：</h5>
                <p>从事内科临床工作35年，对重症疑难糖尿病及并发症、内分泌代谢性疾病、高血压病、冠心病、脑血管疾病等内科疑难重症有着丰富的临床经验。</p>
              </div>

            </div>
          </li>
          <!--王智慧主任医师-->




          <!--文娟主任医师-->
          <!--<li class="proContent si">-->
            <!--<div class="flow">-->
              <!--<div class="proInformation">-->
                <!--<p>医师/医学硕士</p>-->
                <!--<h5>专家简介：</h5>-->
                <!--<p>成都市视力保护协会副秘书长，四川省视力保护科普基地科普讲师。</p>-->
                <!--<h5>擅长领域：</h5>-->
                <!--<p>医学验光，斜视、弱视诊治，斜视手术，青少年近视防控。</p>-->
              <!--</div>-->
              <!--<div class="proWorkTime">-->
                <!--<p>应诊时间</p>-->
                <!--<%= image_tag("workTime.png") %>-->
              <!--</div>-->
            <!--</div>-->
          <!--</li>-->
          <!--文娟主任医师-->

        </ul>

      </div>
    </div>
    <!--主任医师-->

    <!--副主任医师-->
    <div class="proContainer proPad parMarB">
      <h6 class="proTitle">副主任医师</h6>
      <div class="proIntroduce flow">
        <ul class="flow flParent proList">

          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zrys5.png"), expert_path(:周春阳主任医师) %>
              </div>
              <p class="professorName"><span>周春阳</span></p>
            </a>
          </li>

          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("fzrys.png"), expert_path(:潘学会) %>
              </div>
              <p class="professorName"><span>潘学会</span></p>
            </a>
          </li>

        </ul>
        <ul class="proInforList">

          <!--周春阳主任医师-->
          <li class="proContent fi">
            <div class="flow">
              <div class="proInformation">
                <p>副主任医师</p>
                <h5>专家简介：</h5>
                <p>成都中医药大学眼科学院眼视光教研室主任，成都中医药大学附属眼科医院/成都中医大银海眼科医院眼视光中心主任。中国民族医药学会眼科分会理事，四川省中医药学会眼科专业委员会委员，四川省预防医学会眼视觉保健分会常务委员，四川省青年中医药研究会委员，成都市视力保护协会监事。</p>
                <h5>擅长领域：</h5>
                <p>1、角膜激光屈光手术、2、青少年近视中医药综合防控、3、斜视弱视、视疲劳、干眼症的中西医综合防治。</p>
              </div>

            </div>
          </li>
          <!--周春阳主任医师-->

          <!--潘学会主任医师-->
          <li class="proContent se">
            <div class="flow">
              <div class="proInformation">
                <p>副主任医师</p>
                <h5>专家简介：</h5>
                <p>医务部主任、眼科副主任医师、医学硕士，中国医师协会中西医结合医师分会眼科专业委员会委员，现任四川省医学会眼科专委会委员、四川省中医药学会眼科专业委员会委员。</p>
                <h5>擅长领域：</h5>
                <p>擅长于各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病的中西医结合治疗。</p>
              </div>

            </div>
          </li>
          <!--潘学会主任医师-->
        </ul>
      </div>
    </div>
    <!--副主任医师-->
    <!--主治医师-->
    <div class="proContainer proPad parMarB">
      <h6 class="proTitle">主治医师</h6>
      <div class="proIntroduce flow">
        <ul class="flow flParent proList">
          <!--谢艾芮主治医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("experts_xar_tx.png"), expert_path(:谢艾芮主任医师) %>
              </div>
              <p class="professorName"><span>谢艾芮</span></p>
            </a>
          </li>
          <!--谢艾芮主治医师-->
          <!--陈小凤主治医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("experts_cxf_tx.png"), expert_path(:陈小凤主治医师) %>
              </div>
              <p class="professorName"><span>陈小凤</span></p>
            </a>
          </li>
          <!--陈小凤主治医师-->
          <!--李强主治医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zzys2-tx.png"), expert_path(:李强主治医师) %>
              </div>
              <p class="professorName"><span>李强</span></p>
            </a>
          </li>
          <!--李强主治医师-->
          <!--廖加坤主治医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zzys3-tx.png"), expert_path(:廖加坤主治医师) %>
              </div>
              <p class="professorName"><span>廖加坤</span></p>
            </a>
          </li>
          <!--廖加坤主治医师-->
          <!--缪馨主治医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("zzys4-tx.png"), expert_path(:缪馨主治医师) %>
              </div>
              <p class="professorName"><span>缪馨</span></p>
            </a>
          </li>
          <!--缪馨主治医师-->
          <!--蹇文渊主治医师-->
          <li class="proImg">
            <a href="">
              <div>
                <%= link_to image_tag("experts_dwy_tx.png"), expert_path(:蹇文渊主治医师) %>
              </div>
              <p class="professorName"><span>蹇文渊</span></p>
            </a>
          </li>
          <!--蹇文渊主治医师-->

        </ul>
        <ul class="proInforList">
          <!--谢艾芮主治医师-->
          <li class="proContent fi">
            <div class="flow">
              <div class="proInformation">
                <p>主治医师</p>
                <h5>专家简介：</h5>
                <p>医学硕士，四川省康复医学会视觉光学专委会委员，四川省视光师技能培训教师，国家一级视光师，国家司法鉴定法医临床及法医物证类鉴定人，四川省视力保护科普基地讲师。</p>
                <h5>擅长领域：</h5>
                <p>擅长共同及复杂性斜视诊治、屈光近视手术治疗、弱视与双眼视异常诊治、视觉训练、低视力助视器验配、角膜塑形镜及RGP并发症处理、屈光不正及圆锥角膜RGP验配、眼科常见病诊断与治疗。</p>
              </div>
            </div>
          </li>
          <!--谢艾芮主治医师-->
          <!--陈小凤主治医师-->
          <li class="proContent se">
            <div class="flow">
              <div class="proInformation">
                <p>主治医师</p>
                <h5>专家简介：</h5>
                <p>天津医科大学临床医学院博士研究生，硕士研究生期间师从四川省眼科学术带头人樊映川教授，博士研究生师从亚太眼外伤协会副主席颜华教授。</p>
                <h5>擅长领域：</h5>
                <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
              </div>
            </div>
          </li>
          <!--陈小凤主治医师-->
          <!--李强主治医师-->
          <li class="proContent th">
            <div class="flow">
              <div class="proInformation">
                <p>主治医师</p>
                <h5>专家简介：</h5>
                <p>成都中医药大学讲师、医学博士，四川省第五批老中医药专家学术经验继承人，世界中医药联合会眼科专业委员会会员，世界中医药联合会伦理审查专业委员会会员，四川省中医药学会眼科专业委员会委员，成都中医药大学科技青年联合会委员。</p>
                <h5>擅长领域：</h5>
                <p>糖尿病视网膜病变、视网膜静脉阻塞、视网膜静脉周围炎、结膜病、角膜病、干眼症等的中西医综合防治。 </p>
              </div>
            </div>
          </li>
          <!--李强主治医师-->

          <!--廖加坤主治医师-->
          <li class="proContent fo">
            <div class="flow">
              <div class="proInformation">
                <p>主治医师</p>
                <h5>专家简介：</h5>
                <p>毕业于湖南中医药大学医学系，本科学历，先后在中山大学中山眼科中心，四川大学华西医院眼科进修学习，从事眼科临床工作10余年，计完成手术4000余台。</p>
                <h5>擅长领域：</h5>
                <p>擅长眼底病、泪器、角膜、外伤及眼科其他疾病的中西医结合治疗。</p>
              </div>
            </div>
          </li>
          <!--廖加坤主治医师-->
          <!--缪馨主治医师-->
          <li class="proContent fif">
            <div class="flow">
              <div class="proInformation">
                <p>主治医师 硕士研究生</p>
                <h5>专家简介：</h5>
                <p>成都中医药大学硕士研究生，四川省中医药学会眼科分会委员。师从四川省学术技术带头人、四川省拔尖中医师周华祥主任医师。</p>
                <h5>擅长领域：</h5>
                <p>从事眼科临床、科研多年，具有丰富的实际工作经验，擅长运用中西医结合方法治疗眼底疾病及眼表疾病，特别是在外眼疾病、出血性眼病、葡萄膜疾病等方面进行了较深入的探索，在治疗干眼症、角膜溃疡等疾病方面取得显著疗效。</p>
              </div>
            </div>
          </li>
          <!--缪馨主治医师-->
          <!--蹇文渊主治医师-->
          <li class="proContent si">
            <div class="flow">
              <div class="proInformation">
                <p>主治医师</p>
                <h5>专家简介：</h5>
                <p>医学博士、博士后，世界中医药学会联合会临床疗效评价专业委员会委员，中国中医药研究促进会糖尿病专业委员会委员，四川省糖尿病早期筛查专业委员会委员。</p>
                <h5>擅长领域：</h5>
                <p>擅长干眼、中心性浆液性视网膜病变、视网膜色素变性、糖尿病视网膜病变、视神经萎缩等眼病的诊治。</p>
              </div>
            </div>
          </li>
          <!--蹇文渊主治医师-->
        </ul>
      </div>
    </div>
    <!--主治医师-->







  </div>
</div>

<script>
    $(".proContainer .proImg").hover(function () {
        var i = $(this).index();
        $(this).parents(".proContainer").find(".proContent").hide().eq(i).show();
    })
</script>