  <div class="doctorContainer" id="3">
    <%= render 'experts/expert_top' %>
  </div>
  <ul class="flParent flow expertsListContainer">
    <!--谢艾芮-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj16.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>谢艾芮</h5>
        <p>主治医师/医学硕士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长共同及复杂性斜视诊治、屈光近视手术治疗、弱视与双眼视异常诊治、视觉训练、低视力助视器验配、角膜塑形镜及RGP并发症处理、屈光不正及圆锥角膜RGP验配、眼科常见病诊断与治疗。</p>
        <div><%= link_to "查看详情",expert_path(:谢艾芮主任医师),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--谢艾芮-->
    <!--陈小凤-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj17.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>陈小凤</h5>
        <p>主治医师/医学博士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长白内障超声乳化+人工晶体植入术、各种抗青光眼手术、青光眼白内障联合手术、白内障、青光眼、眼整形及眼底疾病的诊治。</p>
        <div><%= link_to "查看详情",expert_path(:陈小凤主治医师),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--陈小凤-->
    <!--李强-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj18.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>李强</h5>
        <p>主治医师/医学博士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>糖尿病视网膜病变、视网膜静脉阻塞、视网膜静脉周围炎、结膜病、角膜病、干眼症等的中西医综合防治。</p>
        <div><%= link_to "查看详情",expert_path(:李强主治医师),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--李强-->
    <!--缪馨-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj19.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>缪馨</h5>
        <p>主治医师/医学硕士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>从事眼科临床、科研多年，具有丰富的实际工作经验，擅长运用中西医结合方法治疗眼底疾病及眼表疾病，特别是在外眼疾病、出血性眼病、葡萄膜疾病等方面进行了较深入的探索，在治疗干眼症、角膜溃疡等疾病方面取得显著疗效。</p>
        <div><%= link_to "查看详情",expert_path(:缪馨主治医师),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--缪馨-->
    <!--蹇文渊-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj20.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>蹇文渊</h5>
        <p>主治医师/医学博士/博士后</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长中医药治疗反复发作的结膜炎、角膜炎、干眼、玻璃体混浊、眼底出血性疾病、黄斑病变、视网膜色素变性，包括青光眼在内的各种原因引起的视神经萎缩，亚健康及全身疾病中医诊治等。</p>
        <div><%= link_to "查看详情",expert_path(:蹇文渊主治医师),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--蹇文渊-->
  </ul>
