<div class="doctorContainer" id="3">
    <%= render 'experts/expert_top' %>
</div>
<ul class="flParent flow expertsListContainer">
    <!--蒙轩-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_8.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>蒙轩</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长中西医结合治疗角膜炎、结膜炎、干眼症、虹膜炎等及眼底出血性疾病，擅长眼睑内翻矫正及胬肉切除等眼表手术。</p>
        </div>
    </li>
    <!--蒙轩-->
    <!--刘欢-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_11.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>刘欢</h5>
            <p>针灸医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>视疲劳、眶上神经痛、眼肌麻痹、动眼神经麻痹、青少年近视、干眼症、视神经病变、小儿弱视等。</p>
        </div>
    </li>
    <!--刘欢-->
    <!--尹朔-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_5.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>尹朔</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>结膜炎，角膜炎，干眼症，青光眼，白内障等常见眼病的诊断与治疗</p>
        </div>
    </li>
    <!--尹朔-->
    <!--刘玲-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_12.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>刘玲</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>干眼症，结膜炎，视神经萎缩等。</p>
        </div>
    </li>
    <!--刘玲-->
    <!--文娟-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_14.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>文娟</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>各类屈光矫正、青少年近视的中医药综合防控、弱视治疗、斜视手术、视觉训练</p>
        </div>
    </li>
    <!--文娟-->
    <!--王利萍-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_6.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>王利萍</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长中西医结合治疗结膜炎、角膜炎，干眼，白内障、青光眼、玻璃体混浊，眼底出血性疾病（视网膜静脉阻塞、糖尿病视网膜病变等），黄斑病变，视网膜色素变性及全身疾病中医诊治等。</p>
        </div>
    </li>
    <!--王利萍-->
    <!--杜聪睿-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_10.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>杜聪睿</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长中西医结合治疗眼科常见疾病如结膜炎、角膜炎，干眼，虹膜睫状体炎及眼底出血性疾病。</p>
        </div>
    </li>
    <!--杜聪睿-->
    <!--肖恒-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_1.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>肖恒</h5>
            <p>住院医师 医学硕士 国家二级营养师</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长内分泌及代谢性疾病的中西医结合治疗，如糖尿病及其急慢性并发症，代谢综合征，肥胖，痛风，骨质疏松症，甲状腺疾病如Graves病、甲状腺结节、桥甲炎、亚甲炎等，库欣综合征，多囊卵巢综合症，及女性更年期综合症，月经异常，黄褐斑等疾病。</p>
        </div>
    </li>
    <!--肖恒-->
    <!--杜玉芹-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_9.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>杜玉芹</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长常见视网膜脉络膜血管疾病的临床症状、眼底表现、辅助检查和治疗方法。</p>
        </div>
    </li>
    <!--杜玉芹-->
    <!--代炳灵-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_7.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>代炳灵</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长诊断治疗结膜炎、角膜炎、干眼、白内障、青光眼等眼科常见病。</p>
        </div>
    </li>
    <!--代炳灵-->
    <!--陈星如-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_15.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>陈星如</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长擅长针刺治疗干眼、视网膜色素变性、视神经萎缩等慢性眼病。</p>
        </div>
    </li>
    <!--陈星如-->
    <!--肖建强-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_3.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>肖建强</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长运用中西医结合治疗结膜炎、角膜炎，干眼症，白内障、青光眼、玻璃体混浊，眼底出血性疾病，黄斑病变，视网膜色素变性及全身疾病中医诊治。</p>
        </div>
    </li>
    <!--肖建强-->
    <!--蒋嫒明-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_4.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>蒋嫒明</h5>
            <p>住院医师 医学硕士</p>

            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长中西医结合治疗眼科常见病如干眼、结膜炎、角膜炎、玻璃体混浊的诊断与治疗以及青少年近视的防控</p>
        </div>
    </li>
    <!--蒋嫒明-->
    <!--石梅琴-->
    <li>
        <div class="photoBorder fl">
            <%= image_tag("zyys_2.jpg") %>
        </div>
        <div class="expertSynopsis fl">
            <h5>石梅琴</h5>
            <p>住院医师 医学硕士</p>
            <p class="expertsGoodAt"><span>擅长领域：</span></p>
            <p>擅长青少年近视、斜视、弱视的诊治。</p>
        </div>
    </li>
    <!--石梅琴-->
</ul>
