
  <div class="doctorContainer" id="2">
    <%= render 'experts/expert_top' %>
  </div>
  <ul class="flParent flow expertsListContainer">
    <!--潘学会-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj14.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>潘学会</h5>
        <p>副主任医师/医学硕士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>长期从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验。擅长各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病中西医结合治疗。</p>
        <div><%= link_to "查看详情",expert_path(:潘学会),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--潘学会-->
    <!--周春阳-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj13.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>周春阳</h5>
        <p>副主任医师/副教授/医学博士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长Smart千频全激光、Smile全飞秒等各类屈光手术，激光近视手术、青少年近视综合防控、视疲劳防治。</p>
        <div><%= link_to "查看详情",expert_path(:周春阳主任医师),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--周春阳-->
    <!--王国平-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj15.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>王国平</h5>
        <p>副主任医师/医学硕士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长眼底疾病的诊治、外路视网膜脱离复位手术、玻璃体切割手术、白内障超声乳化术、眼外伤救治以及眼底激光治疗。</p>
        <div><%= link_to "查看详情",expert_path(:王国平),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--王国平-->
    <!-- 张大铮 -->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj22.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>张大铮</h5>
        <p>副主任医师/医学博士</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>变态反应（过敏）性疾病，眼睑痉挛（抽动）症，复发性眼部疖肿，眼底疾病（反复出血、渗出等病症）中西医结合治疗。</p>
        <div><%= link_to "查看详情",expert_path(:张大铮),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!-- 张大铮 -->
    <!-- 朱玉芳 -->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj23.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>朱玉芳</h5>
        <p>副主任医师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>心血管内科各种疾病的诊断与治疗。</p>
        <div><%= link_to "查看详情",expert_path(:朱玉芳),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!-- 朱玉芳 -->
  </ul>
