<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj1.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:index,:anchor=>"experts_1"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <div class="expertsName flow">
            <h5 class="fl">廖品正</h5> <span class="lpzDoctor"><em>国</em><em>医</em><em>大</em><em>师</em></span>
        </div>
        <p class="doctorTitle"><span>国医大师/教授/博士生导师</span></p>
        <div class="doctorHonor">
            <p>享受国务院政府特殊津贴专家</p>
            <p>全国首位中医眼科学博士生导师</p>
            <p>全国首届中医药传承博士后导师</p>
            <p>国务院学位委员会第五届中医中药学评议组成员</p>
            <p>全国教育系统劳动模范“人民教师”奖章获得者</p>
            <p>四川省首届十大名中医</p>
            <p>四川省科技进步特等奖</p>
            <p>四川省学术技术带头人</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>擅长中医药治疗反复发作的结膜炎、角膜炎，干眼，玻璃体混浊，眼底出血性疾病（视网膜静脉阻塞、糖尿病视网膜病变等），黄斑病变（中心性浆液性脉络膜视网膜病、年龄相关性黄斑病变等），视网膜色素变性，包括青光眼在内的各种原因引起的视神经萎缩，亚健康及全身疾病中医诊治等。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周二下午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>从医52年，主要从事中医眼科基础理论和临床研究，长于眼底病、糖尿病视网膜病变等疑难眼病的诊治。</p>
    <p>曾被评为全国教育系统劳动模范并获“人民教师”奖章。先后担任国务院学位委员会第五届学科评议组成员、中华中医药学会科学技术奖评审专家、中华中医药学会眼科专业委员会委员、中华中医药学会糖尿病专业委员会特聘顾问、世界中医药学会内科糖尿病专业委员会学术顾问、四川省学术技术带头人、四川省首届十大名中医、四川省教学名师、四川省中医药学会常务理事暨中医眼科专业委员会副主任委员，成都中医药大学国家级重点学科《中医五官科学》与国家中医药局级重点学科《中医眼科学》的学术带头人。</p>
    <p>先后主编《中医眼科学》、《中医五官科学》等全国中医院校统编教材、国家中医成人教育与自学考试指定教材6部、教学参考书7部，担任《中华大典·医药卫生典·医学分典》副主编，参编《中医大辞典》等参考书、工具书6部。近10年先后主持和参加国家‘九五’‘十五’‘十一五’攻关项目、‘863’重大计划、国家新药开发、国家自然科学基金等数项国家重大项目的研究。主持的“九五”攻关项目获四川省科技进步一等奖与国家科技部先进个人奖,研发的‘芪明颗粒’已获国家食品药品监管局颁发新药证书。发表论文30余篇。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--邓亚萍-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj3.jpg"),expert_path(:邓亚萍) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>邓亚平</h4>
                    <p>主任医师/教授</p>
                    <p>四川省名中医</p>
                    <p>享受国务院政府特殊津贴</p>
                </div>
            </li>
            <!--邓亚萍-->
            <!--周华祥-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj7.jpg"),expert_path(:周华祥教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>周华祥</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>四川省学术技术带头人</p>
                </div>
            </li>
            <!--周华祥-->
            <!--陆雪婧-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj9.jpg"),expert_path(:路雪婧主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>陆雪婧</h4>
                    <p>成都中医药大学研究员/博士生导师</p>
                    <p>全国首批中医药传承博士后</p>
                </div>
            </li>
            <!--陆雪婧-->
            <!--黄霄-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj11.jpg"),expert_path(:黄霄主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>黄霄</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>四川眼免疫学会会员</p>
                </div>
            </li>
            <!--黄霄-->


        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4;
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>