<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj14.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_14"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>潘学会</h5>
        <p class="doctorTitle"><span>副主任医师/医学硕士</span></p>
        <div class="doctorHonor">
            <p>成都中医大银海眼科医院医务部主任</p>
            <p>中国医师协会中西医结合分会眼科专家委员会委员</p>
            <p>四川省医学会眼科专委会委员</p>
            <p>四川省中医药学会眼科专业委员会委员</p>
            <p>四川省康复医学会眼康复专委会委员</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>长期从事青光眼、白内障和眼底病等临床工作，在青光眼的早期诊断和治疗上有丰富的临床经验。擅长各种抗青光眼手术、白内障人工晶体植入术、复杂眼底病的诊断和眼底出血性疾病中西医结合治疗。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周一上午、周二下午、周三上午、周四全天、周五上午、周日上午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>曾七次参加“视觉第一、中国行动”——四川省及国家组织的白内障复明手术专家医疗队（曾担任国家医疗队队长），以及国际狮子会组织的白内障防盲手术专家医疗队。多次受到省政府及残联的表彰。曾荣获全国残疾人康复工作先进个人称号。曾参加赴黎巴嫩国际维和医疗队，获联合国颁发的国际维和勋章。 曾获医学科研奖4项。在《中华眼底病杂志》、《西南国防医药》、《中国实用眼科杂志》、《中国中医眼科杂志》、《国外医学》眼科学分册等刊物上发表学术论文40余篇。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--朱思泉-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj4.jpg"),expert_path(:朱思泉教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>朱思泉</h4>
                    <p>主任医师/教授/博士生导师</p>
                    <p>四川省千人计划特聘专家</p>
                </div>
            </li>
            <!--朱思泉-->
            <!--张富文-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj10.jpg"),expert_path(:张富文主治医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>张富文</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>中华中医药学会眼科分会青年委员</p>
                </div>
            </li>
            <!--张富文-->
            <!--陈小凤-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj17.jpg"),expert_path(:陈小凤主治医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>陈小凤</h4>
                    <p>主治医师/医学博士</p>
                    <p>擅长多种眼科手术</p>
                </div>
            </li>
            <!--陈小凤-->
            <!--李强-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj18.jpg"),expert_path(:李强主治医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>李强</h4>
                    <p>主治医师/医学博士</p>
                    <p>四川省第五批老中医药专家学术经验继承人</p>
                </div>
            </li>
            <!--李强-->
        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4+((parseInt($(".teamMembers").css("left"))/$(".teamMembers li").width()));
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            console.log(nowPos+" "+displacement);
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>
