  <div class="doctorContainer" id="0">
    <%= render 'experts/expert_top' %>
  </div>
  <ul class="flParent flow expertsListContainer">
    <!--廖品正-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj1.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>廖品正</h5>
        <p>国医大师/教授/博士生导师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>从事中医眼科教学、科研和临床53年，长于运用中医药诊治眼科疾病及相关疑难眼病。</p>
        <div><%= link_to "查看详情",expert_path(:廖品正教授),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--廖品正-->
    <!--段俊国-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj2.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>段俊国</h5>
        <p>主任医师/教授/博士生导师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>从事眼科医疗、教学、科研工作30余年，主要从事疑难眼病与视功能保护研究，长于糖尿病视网膜病变等眼底病的诊治。</p>
        <div><%= link_to "查看详情",expert_path(:段俊国教授),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--段俊国-->
    <!--邓亚平-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj3.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>邓亚平</h5>
        <p>主任医师/教授</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长中西医结合治疗眼科疑难疾病，如视网膜静脉阻塞、年龄相关性黄斑病变、视网膜血管炎、糖尿病视网膜病变、玻璃体积血、外伤性眼内出血、高度近视黄斑出血、葡萄膜炎、眼肌麻痹、甲状腺相关眼病、单疱病毒性角膜炎、视神经炎、缺血性视神经病变等。</p>
        <div><a href="javascript:;" class="seeDetail">查看详情</a></div>
      </div>
    </li>
    <!--邓亚平-->
    <!--朱思泉-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj4.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>朱思泉</h5>
        <p>主任医师/教授/博士生导师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>主要从事先天性白内障、葡萄膜炎并发白内障、伴有红斑狼疮的白内障、肾移植术后白内障患者等各类疑难、复杂性白内障的手术治疗游刃有余，技术精湛。迄今已完成逾35万台白内障手术，手术量居全国第一，亚洲乃至世界领先。</p>
        <div><%= link_to "查看详情",expert_path(:朱思泉教授),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--朱思泉-->
    <!--刘文-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj5.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>刘文</h5>
        <p>主任医师/教授/硕士生导师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>从事眼科临床医疗工作35年。主要从事玻璃体视网膜疾病发病机制和诊断治疗的研究，特别擅长各种眼底疾病、复杂性视网膜脱离和外伤性视网膜脱离以及糖尿病性眼底疾病的手术和激光治疗。</p>
        <div><%= link_to "查看详情",expert_path(:刘文教授),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--刘文-->
    <!--周跃华-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj6.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>周跃华</h5>
        <p>主任医师/教授/硕士生导师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>主要从事角膜屈光手术的临床工作和近视理论的基础研究，长于Smart千频全激光、Smile全飞秒等各类屈光手术，共完成各类屈光手术15万余例。在角膜屈光手术及其并发症等的处理上，具有丰富的临床工作经验。</p>
        <div><%= link_to "查看详情",expert_path(:周跃华教授),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--周跃华-->
    <!--周华祥-->
    <li>
      <div class="photoBorder fl">
        <%= image_tag("zj7.jpg") %>
      </div>
      <div class="expertSynopsis fl">
        <h5>周华祥</h5>
        <p>主任医师/教授/硕士生导师</p>
        <p class="expertsGoodAt"><span>擅长领域：</span></p>
        <p>擅长中西医治疗出血性眼病（糖尿病性视网膜病变、老年黄斑变性、黄斑出血、视网膜静脉周围炎、视网膜静脉阻塞）、葡萄膜炎、视神经疾病及防治青少年近视、高度近视眼底并发症的中医药诊治。</p>
        <div><%= link_to "查看详情",expert_path(:周华祥教授),:class =>'seeDetail' %></div>
      </div>
    </li>
    <!--周华祥-->
  </ul>
