<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj9.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_9"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>路雪婧</h5>
        <p class="doctorTitle"><span>研究员/博士生导师/医学博士</span></p>
        <div class="doctorHonor">
            <p>全国首批中医药(廖品正)传承博士后</p>
            <p>四川省首届十大名中医(廖品正)学术继承人</p>
            <p>四川省眼与视觉健康产业研究院 副院长</p>
            <p>成都中医大银海眼科医院特检中心 主任</p>
            <p>成都中医药大学眼科学院科教学生部 部长</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>中医药防治糖尿病视网膜病变、干眼症、葡萄膜炎、视网膜血管疾病，青光眼及视网膜色素变性等的中医药视功能保护治疗。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周三下午（普通门诊）、周四下午（专家门诊）、周六上午（普通门诊）/下午（VIP/专家门诊）,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>中国民族医药学会眼科分会副会长、中华中医药学会眼科分会委员兼青年副主任委员、四川省青年中医药学会副主任委员，四川省中医药学会眼科专委会常委。</p>
    <p>中国中医药促进会糖尿病分会常务理事、中华中医药学会糖尿病分会青年委员、四川省糖尿病协会常务理事及筛查专委会副主任委员。</p>
    <p>主持国家“十一五重大新药创制”、“十一五支撑计划重点项目”、“十二五国家中医药行业科技专项”子课题、国家重大仪器专项子课题、国家教育部重点项目、国家中医药管理局临床基地专项、四川省科技厅项目等部省级以上项目10余项，主研20余项</p>
    <p>《中华大典•医药卫生典•医学分典•眼科总部》编委兼秘书，国家出版工程多媒体《中华医学百科全书》中医眼科分卷和国家“十二五”重点图书“实用中医工具书系列”《中医五官实用辞典》编委，人民卫生出版社中医药高等院校十二五规划教材《中医眼科学》编委，国家卫生计生委员会十三五规划教材《中医眼科学》编委，《中西医结合糖尿病学》编委，《国际眼科杂志》特邀研究员、《中医眼耳鼻喉杂志》编委兼编辑部主任。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--廖品正-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj1.jpg"),expert_path(:廖品正教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>廖品正</h4>
                    <p>国医大师/教授/博士生导师</p>
                    <p>享受国务院政府特殊津贴专家</p>
                </div>
            </li>
            <!--廖品正-->
            <!--段俊国-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj2.jpg"),expert_path(:段俊国教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>段俊国</h4>
                    <p>主任医师教授/博士生导师</p>
                    <p>享受国务院政府津贴专家</p>
                </div>
            </li>
            <!--段俊国-->
            <!--邓亚萍-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj3.jpg"),expert_path(:邓亚平教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>邓亚平</h4>
                    <p>主任医师/教授</p>
                    <p>四川省名中医</p>
                    <p>享受国务院政府特殊津贴</p>
                </div>
            </li>
            <!--邓亚萍-->
            <!--周华祥-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj7.jpg"),expert_path(:周华祥教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>周华祥</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>四川省学术技术带头人</p>
                </div>
            </li>
            <!--周华祥-->
            <!--张富文-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj10.jpg"),expert_path(:张富文主治医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>张富文</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>中华中医药学会眼科分会青年委员</p>
                </div>
            </li>
            <!--张富文-->
            <!--黄霄-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj11.jpg"),expert_path(:黄霄主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>黄霄</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>中国眼免疫学会会员</p>
                </div>
            </li>
            <!--黄霄-->
            <!-- 张大铮 -->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj22.jpg"),expert_path(:张大铮) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>张大铮</h4>
                    <p>副主任医师/医学博士</p>
                    <p>世界中联伦理审查委员会理事</p>
                </div>
            </li>
            <!-- 张大铮 -->
            <!--蹇文渊-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj20.jpg"),expert_path(:蹇文渊主治医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>蹇文渊</h4>
                    <p>主治医师/医学博士/博士后</p>
                    <p>四川省糖尿病早期筛查专业委员会委员</p>
                </div>
            </li>
            <!--蹇文渊-->
        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4+((parseInt($(".teamMembers").css("left"))/$(".teamMembers li").width()));
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            console.log(nowPos+" "+displacement);
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>
