<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj20.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:index,:anchor=>"experts_20"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>蹇文渊</h5>
        <p class="doctorTitle"><span>主治医师/医学博士、博士后</span></p>
        <div class="doctorHonor">
            <p>世界中医药学会联合会临床疗效评价专业委员会委员</p>
            <p>中国中医药研究促进会糖尿病专业委员会委员</p>
            <p>四川省糖尿病早期筛查专业委员会委员</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>擅长中医药治疗反复发作的结膜炎、角膜炎，干眼，玻璃体混浊，眼底出血性疾病，黄斑病变，视网膜色素变性，包括青光眼在内的各种原因引起的视神经萎缩，亚健康及全身疾病中医诊治等。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周六上午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>擅长中医药治疗反复发作的结膜炎、角膜炎，干眼，玻璃体混浊，眼底出血性疾病（视网膜静脉阻塞、糖尿病视网膜病变等），黄斑病变（中心性浆液性脉络膜视网膜病、年龄相关性黄斑病变等），视网膜色素变性，包括青光眼在内的各种原因引起的视神经萎缩，亚健康及全身疾病中医诊治等。</p>
    <p>主要从事中医药防治眼科疾病教学、科研及临床。曾赴美国威斯康辛大学眼底读片中心研修ETDRS糖尿病视网膜病变眼底读片技术，临床上擅长运用中医脉诊、六经辨证，结合眼与全身的关系对眼科疑难病进行诊治。对反复发作的结膜炎、角膜炎，干眼，玻璃体混浊，眼底出血、变性疾病，黄斑水肿，各种原因引起的视神经萎缩及全身疾病中医诊治有丰富的临床经验。科研方面参与重大新药创制项目，进行新药II期临床眼底图片分析及评价，参研国家国际科技合作项目、十二五支撑计划、重大仪器设备专项等多项国家课题，发表相关学术论文10余篇。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--段俊国-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj2.jpg"),expert_path(:段俊国教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>段俊国</h4>
                    <p>主任医师教授/博士生导师</p>
                    <p>享受国务院政府津贴专家</p>
                </div>
            </li>
            <!--段俊国-->
            <!--路雪婧-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj9.jpg"),expert_path(:路雪婧主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>路雪婧</h4>
                    <p>成都中医药大学研究员/博士生导师</p>
                    <p>全国首批中医药传承博士后</p>
                </div>
            </li>
            <!--路雪婧-->
            <!--张富文-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj10.jpg"),expert_path(:张富文主治医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>张富文</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>中华中医药学会眼科分会青年委员</p>
                </div>
            </li>
            <!--张富文-->

        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4;
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>