<div class="doctorDetails flow whiteBg">
    <div class="fl doctorPortrait flow">
        <%= image_tag("zj3.jpg") %>
        <div class="doctorBtns">
            <a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="fl">在线咨询</a>
            <%= link_to '查看排班表',medical_path(:专家排班,:anchor=>"experts_3"),:class=>"fr" %>
        </div>
    </div>
    <div class="fl doctorContent flow">
        <h5>邓亚平</h5>
        <p class="doctorTitle"><span>主任医师/教授</span></p>
        <div class="doctorHonor">
            <p>享受国务院政府特殊津贴</p>
            <p>中华中医药学会眼科分会“中医眼科学建设与学术发展·突出贡献奖”获得者</p>
            <p>曾任成都中医药大学附属医院眼科研究室主任</p>
            <p>中华医学会四川省及成都市眼科学会委员</p>
            <p>四川省中西医结合研究会理事</p>
            <p>中西医结合眼科专业委员会副主任委员及成都市第六、七、八届政协委员，第九、十届政协常委</p>
        </div>
        <div class="doctorGoodAt flow">
            <span>擅长领域：</span>
            <p>擅长中西医结合治疗眼科疑难疾病，如视网膜静脉阻塞、年龄相关性黄斑病变、视网膜血管炎、糖尿病视网膜病变、玻璃体积血、外伤性眼内出血、高度近视黄斑出血、葡萄膜炎、眼肌麻痹、甲状腺相关眼病、单疱病毒性角膜炎、视神经炎、缺血性视神经病变等。</p>
        </div>
        <p class="seePatientTime"><span>坐诊时间:</span>周五上午,具体请以专家门诊时间表为准</p>
    </div>
</div>
<div class="doctorIntroduce whiteBg">
    <p>华西医科大学毕业，成都中医药大学西学中班毕业，享受国务院政府特殊津贴，曾任成都中医药大学眼科研究室主任、中华医学会四川省及成都市眼科学会委员、四川省中西医结合研究会理事、中西医结合眼科专业委员会副主任委员及成都市第六、七、八届政协委员，第九、十届政协常委。</p>
    <p>从事中西医结合眼科临床治疗及理论研究60余年，擅长中西医结合治疗眼科疑难疾病，尤其是用活血化瘀法结合眼底激光治疗多种眼底出血性疾病，有丰富的临床经验。开发了“丹红化瘀口服液”等新药，对视网膜静脉阻塞等出血性眼科临床多发病有特殊疗效。</p>
</div>
<ul class="registered flow flParent">
    <li>预约挂号</li>
    <li>姓名：<input type="text"></li>
    <li>联系电话：<input type="text"></li>
    <li>预约时间：<input type="text"></li>
    <li>预约科室：<input type="text"></li>
    <li><a href="http://put.zoosnet.net/LR/Chatpre.aspx?id=PUT57157670&cid=1492673497337873616010&lng=cn&sid=1494901384848349862390&p=http%3A//www.ineyehospital.com/main.asp&rf1=&rf2=&msg=&d=1494901387174" class="registeredBtn">提交</a></li>
</ul>
<div class="membersList whiteBg flow">
    <div class="fl teamMemberWords">团 队 成 员</div>
    <div class="teamContainer" >
        <ul class="teamMembers fr flParent flow" style="">
            <!--廖品正-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj1.jpg"),expert_path(:廖品正教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>廖品正</h4>
                    <p>国医大师/教授/博士生导师</p>
                    <p>享受国务院政府特殊津贴专家</p>
                </div>
            </li>
            <!--廖品正-->
            <!--周华祥-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj7.jpg"),expert_path(:周华祥教授) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>周华祥</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>四川省学术技术带头人</p>
                </div>
            </li>
            <!--周华祥-->
            <!--路雪婧-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj9.jpg"),expert_path(:路雪婧主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>路雪婧</h4>
                    <p>研究员/博士生导师</p>
                    <p>全国首批中医药传承博士后</p>
                </div>
            </li>
            <!--路雪婧-->
            <!--黄霄-->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj11.jpg"),expert_path(:黄霄主任医师) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>黄霄</h4>
                    <p>主任医师/教授/硕士生导师</p>
                    <p>中国眼免疫学会会员</p>
                </div>
            </li>
            <!--黄霄-->
            <!-- 张大铮 -->
            <li>
                <div class="fl teamMemberPhoto">
                    <%= link_to image_tag("zj22.jpg"),expert_path(:张大铮) %>
                </div>
                <div class="fl memberIntroduce">
                    <h4>张大铮</h4>
                    <p>副主任医师/医学博士</p>
                    <p>世界中联伦理审查委员会理事</p>
                </div>
            </li>
            <!-- 张大铮 -->

        </ul>
        <div class="leftBtn">
            <i class="icon_arrow icon_left"></i>
        </div>
        <div class="rightBtn">
            <i class="icon_arrow icon_right"></i>
        </div>
    </div>
</div>
<script>
    var members = $(".teamMembers li").length;
    if(members>4){
        $(".leftBtn").addClass("active");
        $(".rightBtn").addClass("active");
    }
    var rightMoveNum = members-4+((parseInt($(".teamMembers").css("left"))/$(".teamMembers li").width()));
    var leftMoveNum = 0;
    function move() {
        if(rightMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            console.log(nowPos+" "+displacement);
            $(".teamMembers").animate({
                left:nowPos-displacement
            })
            rightMoveNum--;
            leftMoveNum++;
        }
        console.log(rightMoveNum);
    }
    function move2() {
        if(leftMoveNum>0){
            $(".teamMembers").stop(true,true);
            var nowPos = parseInt($(".teamMembers").css("left"));
            var displacement =$(".teamMembers li").width();
            $(".teamMembers").animate({
                left:nowPos+displacement
            })
            rightMoveNum++;
            leftMoveNum--;
        }
        console.log(leftMoveNum);
    }
    $(".rightBtn").click(function() {
        if(rightMoveNum>0){
            move();
        }
    })
    $(".leftBtn").click(function() {
        if(leftMoveNum>0){
            move2();
        }
    })

</script>
